{% from "_macros/vf_hero.jinja" import vf_hero %}
{% from "_macros/vf_basic-section.jinja" import vf_basic_section %}

{% extends "base_index.html" %}

{% block title %}Gain control of your infrastructure with a sovereign cloud{% endblock %}

{% block meta_description %}
  A sovereign cloud meets the growing global need for cloud infrastructure that gives organizations, governments, and their institutions total control over their data, systems, and processing.
{% endblock %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1XvdgVN87yqI9xOtFBaK9Z_Au8PTeHlQICzlYrgUKxuQ/edit
{% endblock meta_copydoc %}

{% block content %}

  {% call(slot) vf_hero(
    title_text='Gain back control of your infrastructure with an
    open source sovereign cloud',
    subtitle_text='',
    layout='50/50-full-width-image'
    ) -%}
    {%- if slot == 'description' -%}
      <p>
        Geopolitical tensions, evolving regulations, and new security challenges linked to AI and machine learning (ML) have increased enterprises' needs to control and safeguard their data and infrastructure. Build a sovereign cloud using Canonical's software, tailored to meet your organization's individual compliance, data sovereignty, and operational needs.
      </p>
    {%- endif -%}
    {%- if slot == 'cta' -%}
      <a href="/contact-us"
         aria-controls="solutions-infrastructure-modal"
         class="p-button--positive js-invoke-modal">Contact Canonical</a>
    {%- endif -%}
    {%- if slot == 'image' -%}
      <div class="p-image-container--cinematic is-cover">
        <img class="p-image-container__image"
             src="https://assets.ubuntu.com/v1/a8c1a4b7-hero-img.jpg"
             alt="" />
      </div>
    {% endif -%}
  {% endcall -%}

  {{ vf_basic_section(title={"text": "What is a sovereign cloud?"},
    items=[
    {
    "type": "description",
    "item": {
    "type": "html",
    "content": "
    <p>
      Sovereign clouds allow nations or organizations to maintain control over every part of their infrastructure, including data, processing, storage, and access.
    </p>
    "
    }
    },
    {
    "type": "description",
    "item": {
    "type": "html",
    "content": "
    <p>
      A sovereign cloud goes beyond simply cloud architecture and data processing. Truly sovereign clouds meet a comprehensive set of legal, operational, regulatory, and technical requirements that give the cloud owner full autonomy. They mitigate reliance on cloud providers outside of their country or region.
    </p>
    "
    }
    },
    {
    "type": "description",
    "item": {
    "type": "html",
    "content": "
    <p>
      Find out more about sovereign clouds, including what features to look for, in our comprehensive free guide for enterprises.
    </p>
    "
    }
    },
    {
    "type": "cta-block",
    "item": {
    "link": {
    "content_html": "Get the guide ›",
    "attrs": {
    "href": "https://ubuntu.com/engage/sovereign-cloud-guide"
    }
    }
    }
    }
    ]) }}

  <section class="p-section">
    <div class="u-fixed-width p-section--shallow">
      <hr class="p-rule" />
      <h2>
        The three requirements
        <br class="u-hide--small" />
        for sovereign cloud operations
      </h2>
    </div>
    <div class="row">
      <div class="col-9 col-start-large-4">
        <div class="p-equal-height-row--wrap ">
          <div class="p-equal-height-row__col">
            <div class="p-equal-height-row__item">
              <div class="p-image-container--2-3 u-hide--small">
                {{ image(url="https://assets.ubuntu.com/v1/0871d97c-data.jpg",
                                alt="",
                                width="568",
                                height="853",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-image-container__image"}) | safe
                }}
              </div>
            </div>
            <h3 class="p-equal-height-row__item p-heading--5">1. Data</h3>
            <p class="p-equal-height-row__item">
              Your data governance practices obey your country's rules for collection, storage, processing, sharing, and disposal.
            </p>

          </div>
          <div class="p-equal-height-row__col">
            <div class="p-equal-height-row__item">
              <div class="p-image-container--2-3 u-hide--small">
                {{ image(url="https://assets.ubuntu.com/v1/a8fb93d1-operations.jpg",
                                alt="",
                                width="568",
                                height="853",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-image-container__image"}) | safe
                }}
              </div>
            </div>
            <h3 class="p-equal-height-row__item p-heading--5">2. Operations</h3>
            <p class="p-equal-height-row__item">
              Your organization controls your operations and has full control and oversight of their use and management.
            </p>

          </div>
          <div class="p-equal-height-row__col">
            <div class="p-equal-height-row__item">
              <div class="p-image-container--2-3 u-hide--small">
                {{ image(url="https://assets.ubuntu.com/v1/7b18db59-technology.jpg",
                                alt="",
                                width="568",
                                height="853",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-image-container__image"}) | safe
                }}
              </div>
            </div>
            <h3 class="p-equal-height-row__item p-heading--5">3. Technology</h3>
            <p class="p-equal-height-row__item">
              Your hardware and software are designed to ensure 100% control and reliability of your data and services.
            </p>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50 p-section--shallow">
      <hr class="p-rule" />
      <div class="col">
        <h2>Why build a sovereign cloud?</h2>
      </div>
      <div class="col">
        <p>
          Governments and their institutions want to take back control of their infrastructure to mitigate cybersecurity risks and their reliance on external vendors.
        </p>
        <p>
          At the organization level, new regulations and trade shifts are changing the viability of traditional cloud services.
        </p>
      </div>
    </div>
    <div class="row--25-75 p-section">
      <div class="col">
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Data sovereignty and security</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Sensitive data, including military information and citizen records, is at high risk of foreign interference or cyber threats. Governments want physical control over their code and data centers to ensure robust, safe operations.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Geopolitical events</h3>
          </div>
          <div class="col-6 col-medium-3 p-section--shallow">
            <p>
              Sanctions, wars, infrastructure damage &ndash; there are many circumstances outside of your control that could bring your cloud operations to a halt. Sovereign clouds help you avoid this risky dependence.
            </p>
            <hr class="p-rule--muted" />
            <a href="https://ubuntu.com/blog/what-is-geopatriation">Find out more about geopatriation of clouds&nbsp;&rsaquo;</a>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Compliance and regulations</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Many countries have adopted data protection laws that mandate storing and processing confidential data within national boundaries. In some cases, cloud providers have to abide by laws in a different national jurisdiction – which puts your data at risk.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Economic factors</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Building in-country cloud infrastructure and using local providers directly supports the local economy. This creates jobs, stimulates local technological innovation, and reduces dependence on global service providers.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Need for control over the entire cloud</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>Sovereign clouds allow control and greater transparency of personnel, staffing, and organizational access.</p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Digital autonomy</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Relying on global public cloud providers can create dependencies on foreign companies, potentially compromising digital autonomy. Sovereign clouds empower governments to take control of their digital future.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Resilience and disaster recovery</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Sovereign clouds can be optimized for redundancy and disaster recovery, ensuring that critical government services remain operational even when natural disasters or cyberattacks occur.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="u-fixed-width u-hide--small">
      {{ image(url="https://assets.ubuntu.com/v1/87dde57b-server-room.jpg",
            alt="",
            width="2464",
            height="1027",
            hi_def=True,
            loading="auto") | safe
      }}
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width p-section--shallow">
      <hr class="p-rule" />
      <h2>
        Industries that need
        <br class="u-hide--small" />
        sovereign clouds
      </h2>
    </div>
    <div class="row--25-75">
      <div class="col">
        <hr class="p-rule--muted" />
        <div class="p-section--shallow">
          <div class="row">
            <div class="col-3 col-medium-3">
              <h3 class="p-heading--5">Public sector</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>
                Sensitive, personal, and potentially secret state information requires shielding to ensure the integrity of government services and protect national security.
              </p>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="p-section--shallow">
          <div class="row">
            <div class="col-3 col-medium-3">
              <h3 class="p-heading--5">Legal firms</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>
                Legal firms need to ensure that their highly confidential and privileged information is completely controlled. Entire cases could depend on it.
              </p>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="p-section--shallow">
          <div class="row">
            <div class="col-3 col-medium-3">
              <h3 class="p-heading--5">Health care</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>
                Medical organizations are tasked with safeguarding individuals' most sensitive medical and personal information. They also need to safeguard their operations and life-saving equipment against disruptions.
              </p>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="p-section--shallow">
          <div class="row">
            <div class="col-3 col-medium-3">
              <h3 class="p-heading--5">Financial</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>
                Financial organizations have regulatory and legal requirements to keep highly sensitive information safe. Attackers would love to access their data troves &ndash; or even their bank accounts.
              </p>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="p-section--shallow">
          <div class="row">
            <div class="col-3 col-medium-3">
              <h3 class="p-heading--5">Highly regulated industries</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>
                The medical and financial industries are just two of the many heavily regulated industries that have a vital interest in controlling their infrastructure and guarding their information.
              </p>
              <hr class="p-rule--muted" />
              <p>
                <a href="https://pages.ubuntu.com/rs/066-EOV-335/images/Canonical%20infrastructure%20for%20the%20public%20sector_Sovereign%20Cloud.pdf">How to build a sovereign cloud with Canonical&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width p-section--shallow">
      <hr class="p-rule" />
      <h2>
        Why build your sovereign cloud
        <br class="u-hide--small" />
        with open source
      </h2>
    </div>
    <div class="row--25-75">
      <div class="col">
        <hr class="p-rule--muted" />
        <div class="p-section--shallow">
          <div class="row">
            <div class="col-3 col-medium-3">
              <h3 class="p-heading--5">Fewer licenses, easier management</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>Open source tools require fewer licenses &ndash; giving you easy management and lower costs.</p>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="p-section--shallow">
          <div class="row">
            <div class="col-3 col-medium-3">
              <h3 class="p-heading--5">Design and migration freedom</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>
                Design your cloud according to your business requirements. Freely use your choice of software, compute, storage, and networking configurations.
              </p>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="p-section--shallow">
          <div class="row">
            <div class="col-3 col-medium-3">
              <h3 class="p-heading--5">Full transparency and control of source code</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>Know exactly how your code works and who accesses your clouds.</p>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="p-section--shallow">
          <div class="row">
            <div class="col-3 col-medium-3">
              <h3 class="p-heading--5">The best of both worlds with a hybrid environment</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>Use both public and private cloud resources according to your needs.</p>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="p-section--shallow">
          <div class="row">
            <div class="col-3 col-medium-3">
              <h3 class="p-heading--5">Reduce your reliance on proprietary vendors</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>
                Use open source components and decide where you run and move your cloud workloads. Gain architecture freedom and flexibility.
              </p>
              <hr class="p-rule--muted" />
              <p>
                <a href="https://ubuntu.com/engage/vmware-migration-scenarios">How to migrate from proprietary solutions like VMware to open source&nbsp;&rsaquo;</a>
              </p>
              <hr class="p-rule--muted" />
              <p>
                <a href="https://ubuntu.com/blog/virtualization-alternatives-guide">Explore open source alternatives for hypervisor, storage, and virtualization&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="p-section--shallow">
      <div class="row--50-50">
        <hr class="p-rule" />
        <div class="col">
          <h2>Build your sovereign cloud with Canonical</h2>
        </div>
        <div class="col">
          <p>
            The Canonical infrastructure stack uses well-established open source technologies. Tie them together for a unified, end-to-end sovereign cloud solution.
          </p>
        </div>
      </div>
    </div>
    <div class="row p-section--shallow">
      <div class="col-9 col-start-large-4">
        <hr class="p-rule--muted u-hide--medium u-hide--small" />
        <div class="p-equal-height-row has-divider-2">
          <div class="p-equal-height-row__col">
            <div class="p-equal-height-row__item">
              <div class="p-section--shallow">
                <div class="p-media-container">
                  <img src="https://assets.ubuntu.com/v1/190b05ec-Canonical MicroCloud logo.png"
                       alt="Micro Cloud"
                       width="127"
                       height="33" />
                </div>
              </div>
            </div>
            <p class="p-equal-height-row__item">Cloud with automated deployment and hassle-free maintenance.</p>
            <div class="p-equal-height-row__item">
              <p>
                <a href="/microcloud">Learn more <span class="u-off-screen">about MicroCloud</span>&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
          <div class="p-equal-height-row__col">
            <div class="p-equal-height-row__item">
              <div class="p-section--shallow">
                <div class="p-media-container">
                  <img src="https://assets.ubuntu.com/v1/6331a2f9-Canonical Openstack logo.png"
                       alt="Openstack"
                       width="124"
                       height="33" />
                </div>
              </div>
            </div>
            <p class="p-equal-height-row__item">
              The reference platform for performant, cost-effective and agile data center operations.
            </p>
            <div class="p-equal-height-row__item">
              <p>
                <a href="https://ubuntu.com/openstack">Learn more <span class="u-off-screen">about Canonical Openstack</span>&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
          <div class="p-equal-height-row__col">
            <div class="p-equal-height-row__item">
              <div class="p-section--shallow">
                <div class="p-media-container">
                  <img src="https://assets.ubuntu.com/v1/5869d780-Canonical Kubernetes logo.png"
                       alt="Kubernetes"
                       width="128"
                       height="33" />
                </div>
              </div>
            </div>
            <p class="p-equal-height-row__item">Cloud-agnostic Kubernetes with long-term support.</p>
            <div class="p-equal-height-row__item">
              <p>
                <a href="https://ubuntu.com/kubernetes">Learn more <span class="u-off-screen">about Canonical Kubernetes</span>&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-section--shallow">
      <div class="col-9 col-start-large-4">
        <hr class="p-rule--muted u-hide--medium u-hide--small" />
        <div class="p-equal-height-row has-divider-2">
          <div class="p-equal-height-row__col">
            <div class="p-equal-height-row__item">
              <div class="p-section--shallow">
                <div class="p-media-container">
                  <img src="https://assets.ubuntu.com/v1/37362909-Canonical Ceph logo.png"
                       alt="Ceph"
                       width="70"
                       height="33" />
                </div>
              </div>
            </div>
            <p class="p-equal-height-row__item">Software-defined storage with highly automated operations.</p>
            <div class="p-equal-height-row__item">
              <p>
                <a href="https://ubuntu.com/ceph">Learn more <span class="u-off-screen">about Canonical Ceph</span>&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
          <div class="p-equal-height-row__col">
            <div class="p-equal-height-row__item">
              <div class="p-section--shallow">
                <div class="p-media-container">
                  <img src="https://assets.ubuntu.com/v1/db77a7b4-Canonical MAAS logo.png"
                       alt="Maas"
                       width="82"
                       height="33" />
                </div>
              </div>
            </div>
            <p class="p-equal-height-row__item">Super fast server provisioning.</p>
            <div class="p-equal-height-row__item">
              <p>
                <a href="/maas">Learn more <span class="u-off-screen">about MAAS</span>&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
          <div class="p-equal-height-row__col">
            <div class="p-equal-height-row__item">
              <div class="p-section--shallow">
                <div class="p-media-container">
                  <img src="https://assets.ubuntu.com/v1/ff7e0425-Canonical Ubuntu logo.png"
                       alt="Ubuntu"
                       width="91"
                       height="33" />
                </div>
              </div>
            </div>
            <p class="p-equal-height-row__item">Keep your cloud secure and compliant.</p>
            <div class="p-equal-height-row__item">
              <p>
                <a href="https://ubuntu.com/pro">Learn more <span class="u-off-screen">about Ubuntu</span>&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-fixed-width u-hide--small">
      {{ image(url="https://assets.ubuntu.com/v1/7b723236-build-your-sovereign.jpg",
            alt="",
            width="2464",
            height="1028",
            hi_def=True,
            loading="auto") | safe
      }}
    </div>
  </section>

  <section class="p-section">
    <div class="row">
      <hr class="p-rule" />
      <div class="col-3">
        <div class="p-section--shallow">
          <h2 class="p-text--small-caps">What customers say</h2>
        </div>
      </div>
      <div class="col-9">
        <hr class="p-rule--muted u-hide--large" />
        <div class="row">
          <div class="col-3">
            <div class="p-section--shallow">
              <div class="p-media-container">
                <img src="https://assets.ubuntu.com/v1/3e4beef7-phoenix.png"
                     alt="Pheonix"
                     width="127"
                     height="35" />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="p-section--shallow">
              <p>
                <em>"Where other infrastructure providers in Switzerland that use traditional technologies might charge customers a premium uplift per year, we can offer the same capabilities for ten times less while still achieving a better margin."</em>
              </p>
              <hr class="p-rule--muted" />
              <div class="row">
                <div class="col-2 col-medium-2">
                  <p>
                    <strong>Thomas Taroni</strong>
                  </p>
                </div>
                <div class="col-4 col-medium-4">
                  <p class="u-text--muted">VP of Product, Phoenix Systems</p>
                </div>
              </div>
              <hr class="p-rule--muted" />
              <p>
                <a href="https://ubuntu.com/engage/phoenix-systems-case-study-ibm-openstack">Read the case study <span class="u-off-screen">from Phoenix Systems</span>&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3">
            <div class="p-section--shallow">
              <div class="p-media-container">
                <img src="https://assets.ubuntu.com/v1/0d15fbe4-firmus testimonial logo.png"
                     alt="Firmus"
                     width="86"
                     height="20" />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="p-section--shallow">
              <p>
                <em>"We needed a cloud solution that was stable, reliable, and performant. Canonical allowed us to do this by helping to design and deploy our cloud &ndash; and they helped us do this quickly."</em>
              </p>
              <hr class="p-rule--muted" />
              <div class="row">
                <div class="col-2 col-medium-2">
                  <p>
                    <strong>Peter Blain</strong>
                  </p>
                </div>
                <div class="col-4 col-medium-4">
                  <p class="u-text--muted">Director of Product and AI, Firmus</p>
                </div>
              </div>
              <hr class="p-rule--muted" />
              <p>
                <a href="https://ubuntu.com/engage/kubernetes-openstack-case-study-firmus">Read the case study <span class="u-off-screen">from Firmus</span>&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3">
            <div class="p-section--shallow">
              <div class="p-media-container">
                <img src="https://assets.ubuntu.com/v1/1655744b-nayatel  testimonial logo.png"
                     alt="Nayatel"
                     width="78"
                     height="17" />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="p-section--shallow">
              <p>
                <em>"Knowledge transfer was another reason we chose to partner with Canonical. To minimize long-term operating costs, we don't want to be reliant on any third party. Canonical is giving our staff the training they need to be able to manage the cloud completely self-sufficiently."</em>
              </p>
              <hr class="p-rule--muted" />
              <div class="row">
                <div class="col-2 col-medium-2">
                  <p>
                    <strong>Jahanzeb Arshad</strong>
                  </p>
                </div>
                <div class="col-4 col-medium-4">
                  <p class="u-text--muted">VP of Operations, Nayatel</p>
                </div>
              </div>
              <hr class="p-rule--muted" />
              <p>
                <a href="https://ubuntu.com/engage/nayatel-casestudy-charmed-openstack">Read the case study <span class="u-off-screen">from Nayatel</span>&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3">
            <div class="p-section--shallow">
              <div class="p-media-container">
                <img src="https://assets.ubuntu.com/v1/b355869b-tnm testimonial logo.png"
                     alt="TNM"
                     width="65"
                     height="29" />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="p-section--shallow">
              <p>
                <em>"We wanted to consolidate onto a single, open platform. That way, we wouldn't be tied to a single vendor, and we'd be able to change parameters at will. The goal was to develop our skills so that we could work with any partner in one cloud environment."</em>
              </p>
              <hr class="p-rule--muted" />
              <div class="row">
                <div class="col-2 col-medium-2">
                  <p>
                    <strong>Macdonald Chamba</strong>
                  </p>
                </div>
                <div class="col-4 col-medium-4">
                  <p class="u-text--muted">Head of Infrastructure and Cloud Services, Telekom Networks Malawi</p>
                </div>
              </div>
              <hr class="p-rule--muted" />
              <p>
                <a href="https://ubuntu.com/engage/tnm-managed-openstack-case-study">Read the case study&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr class="p-rule is-fixed-width" />
  <section class="p-strip is-deep">
    <div class="u-fixed-width">
      <h2>
        Canonical offers cloud design and delivery at a fixed price.
        <br class="u-hide--small" />
        <a href="/contact-us"
           class="js-invoke-modal"
           aria-controls="solutions-infrastructure-modal">Talk to sales&nbsp;&rsaquo;</a>
      </h2>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>
          Take the next step
          <br class="u-hide--small" />
          in your journey
        </h2>
      </div>
      <div class="col">
        <a href="https://ubuntu.com/blog/what-is-geopatriation">What is geopatriation?</a>
        <p>Learn about geopatriation and how it fits into cloud repatriation and recovery, and explore best practices.</p>
        <hr class="p-rule--muted" />
        <a href="https://ubuntu.com/blog/virtualization-alternatives-guide">Rethinking virtualization: open source alternatives for resellers</a>
        <p>Explore powerful open source alternatives to mainstream hypervisor, storage, and other cloud services.</p>
        <hr class="p-rule--muted" />
        <a href="https://ubuntu.com/engage/multi-cloud-business-guide">Download our business guide to multi-cloud</a>
        <p>Learn how to build multi-cloud infrastructure with our guide.</p>
        <hr class="p-rule--muted" />
        <a href="https://ubuntu.com/engage/vmware-migration-scenarios">Looking for VMware alternatives?</a>
        <p>Get a detailed comparison and practical insights into VMware alternatives such as OpenStack and MicroCloud.</p>
        <hr class="p-rule--muted" />
        <a href="https://ubuntu.com/engage/software-defined-storage-for-enterprises">Software-defined storage for enterprises</a>
        <p>Learn how Ceph enables you to keep up with the demands on your storage infrastructure.</p>
        <hr class="p-rule--muted" />
        <a href="https://ubuntu.com/managed">Browse Canonical's Managed IT Services</a>
        <p>Explore the different ways that Canonical's Managed Solutions can simplify your operations.</p>
      </div>
    </div>
  </section>

  <hr class="p-rule is-fixed-width" />
  <section class="p-strip is-deep">
    <div class="u-fixed-width">
      <h2>
        <a href="/contact-us"
           class="js-invoke-modal"
           aria-controls="solutions-infrastructure-modal">Get in touch&nbsp;&rsaquo;</a>
      </h2>
    </div>
  </section>

  {{ load_form('/solutions/infrastructure', 5906) | safe }}

  {% with %}
    {% set returnURL = "https://canonical.com/solutions/infrastructure/sovereign-cloud#contact-form-success" %}
    {% include "solutions/infrastructure/_form-sovereign-cloud.html" %}
  {% endwith %}

{% endblock content %}
