{% from "_macros/vf_in-page-navigation.jinja" import vf_in_page_navigation %}

{% set page_navigation_data = [
  {
    "id": "training-and-certifications",
    "text": "Training and certifications"
  },
  {
    "id": "deployment-services",
    "text": "Deployment services"
  },
  {
    "id": "consulting",
    "text": "Consulting"
  },
  {
    "id": "workshops",
    "text": "Workshops"
  }
] %}

<div class="grid-row">
  <div class="grid-col-2 grid-col-medium-4 grid-col-small-4 u-hide--small u-hide--medium">
    {{ vf_in_page_navigation(navigation_items=page_navigation_data,
        scope="manual",
        primary_heading="h3") }}
  </div>

  <div class="grid-col-6 grid-col-medium-4 grid-col-small-4">
    <section class="grid-row p-section--shallow">
      <div class="grid-col-2">
        <h3 class="p-heading--3">Tailored consulting and training for your data and AI teams</h3>
      </div>
      <div class="grid-col-4">
        <p>
          Tackle complex technical challenges with our on-demand services. Access expert consultancy, specialized workshops, professional training, and deployment support to streamline your operations and empower your engineers to drive innovation across your data and AI stack.
        </p>
      </div>
    </section>
    <hr class="p-rule" />
    <section class="grid-row p-section--shallow">
      <div class="grid-col-2">
        <h3 class="p-heading--5" id="training-and-certifications">Training and certifications</h3>
      </div>
      <div class="grid-col-4">
        <p class="u-margin-bottom-2rem">Empower your teams with expert-led database and AI training and certifications</p>
        <p class="p-text--small-caps">What's included</p>
        <ul class="p-list--divided u-margin-bottom-0">
          <li class="p-list__item has-bullet">
            Instructor-led <a href="https://ubuntu.com/training"
    target="_blank"
    rel="noopener noreferrer">courses</a> tailored to your Data and AI focused teams
          </li>
          <li class="p-list__item has-bullet">Hands-on labs covering day-to-day operations</li>
          <li class="p-list__item has-bullet">
            Official <a href="https://canonical.com/academy"
    target="_blank"
    rel="noopener noreferrer">certification exams</a> to validate your team's operational expertise
          </li>
        </ul>
      </div>
    </section>
    <hr class="p-rule" />
    <section class="grid-row p-section--shallow">
      <div class="grid-col-2">
        <h3 class="p-heading--5" id="deployment-services">Deployment services</h3>
      </div>
      <div class="grid-col-4">
        <p class="u-margin-bottom-2rem">Deploy a production-grade database stack</p>
        <p class="p-text--small-caps">What's included</p>
        <ul class="p-list--divided u-margin-bottom-0">
          <li class="p-list__item has-bullet">
            Deployment across bare metal, virtualized, or cloud infrastructure according to your needs
          </li>
          <li class="p-list__item has-bullet">
            Capacity planning balancing your projected growth, targeted SLAs and cost constraints
          </li>
          <li class="p-list__item has-bullet">A handover documentation explaining the deployed stack</li>
        </ul>
      </div>
    </section>
    <hr class="p-rule" />
    <section class="grid-row p-section--shallow">
      <div class="grid-col-2">
        <h3 class="p-heading--5" id="consulting">Consulting</h3>
      </div>
      <div class="grid-col-4">
        <p class="u-margin-bottom-2rem">Distilled operational expertise for your data and AI teams</p>
        <p class="p-text--small-caps">What's included</p>
        <ul class="p-list--divided u-margin-bottom-0">
          <li class="p-list__item has-bullet">One-to-one sessions with specialized open source database and AI engineers</li>
          <li class="p-list__item has-bullet">Flexible monthly engagement packages (10, 20, or 40 hours) to suit your needs</li>
        </ul>
      </div>
    </section>
    <hr class="p-rule" />
    <section class="grid-row p-section--shallow">
      <div class="grid-col-2">
        <h3 class="p-heading--5" id="workshops">Workshops</h3>
      </div>
      <div class="grid-col-4">
        <p class="u-margin-bottom-2rem">Co-design tailored data architectures to solve complex problems</p>
        <p class="p-text--small-caps">What's included</p>
        <ul class="p-list--divided u-margin-bottom-0">
          <li class="p-list__item has-bullet">
            On-site or remote deep dive sessions with our experts into availability, performance, security and operability
          </li>
          <li class="p-list__item has-bullet">A high level architecture and design document detailing the proposed solution</li>
          <li class="p-list__item has-bullet">Strategic roadmap for your solution roll-out</li>
        </ul>
      </div>
    </section>
  </div>

</div>
