{% extends 'base_index.html' %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1hET-ylqXq96mOfj4hovqilX5Nl0J8FLw1gkRMJkIjp8/edit
{% endblock meta_copydoc %}

{% block title %}What is MongoDB?{% endblock %}

{% block meta_description %}
  MongoDB is a NoSQL database management application. Organisations use MongoDB because it aligns with modern application development needs, offering flexibility, scalability and high performance. It has a rich set of features that support complex and evolving business requirements.
{% endblock %}

{% block canonical_url %}{{ request.host_url }}data/mongodb/what-is-mongodb{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}
{% from "_macros/vf_equal-heights.jinja" import vf_equal_heights %}


{% block content %}

  <section class="p-section--hero">
    <div class="p-section">
      <div class="row--50-50">
        <div class="col">
          <div class="p-section--shallow">
            <h1>
              What is MongoDB<sup>&reg;</sup>?
            </h1>
            <p>
              MongoDB is a NoSQL database management application. Organisations use MongoDB because it aligns with modern application development needs, offering flexibility, scalability and high performance. It has a rich set of features that support complex and evolving business requirements. Its ability to handle diverse data types, ease of use, cost-effectiveness, and robust security and support services make it a preferred choice for many large organizations.
            </p>
          </div>
          <hr class="p-rule--muted" />
          <p>
            <a href="https://ubuntu.com/engage/mongodb-enterprise-data-management">MongoDB<sup>&reg;</sup> for enterprise data management&nbsp;&rsaquo;</a>
          </p>
        </div>
        <div class="col">
          <div class="u-hide--small">
            {{ image(url="https://assets.ubuntu.com/v1/e7e981d2-search-image.png",
                        alt="",
                        width="957",
                        height="600",
                        hi_def=True,
                        loading="auto") | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row">
      <hr class="p-rule" />
      <div class="col-3 col-medium-2">
        <h2 class="p-text--small-caps">Why choose MongoDB<sup>&#174;</sup>?</h2>
      </div>
      <div class="col-9 col-medium-4">
        <ul class="p-list--divided">
          <li class="p-list__item u-no-padding">
            <p class="p-heading--2 u-no-padding">Transactionality and speed</p>
          </li>
          <li class="p-list__item u-no-padding">
            <p class="p-heading--2 u-no-padding">Scalability and high availability</p>
          </li>
          <li class="p-list__item u-no-padding">
            <p class="p-heading--2 u-no-padding">Data security</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="p-section">
    <div class="u-fixed-width p-section--shallow">
      <hr class="p-rule" />
      <h2>
        Why do companies use MongoDB<sup>&reg;</sup>?
      </h2>
    </div>
    <div class="row">
      <div class="col-9 col-medium-6 col-start-large-4">
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Data structure</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              With its JSON-like document format, MongoDB<sup>&reg;</sup> delivers the flexibility to handle large document data sets.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Data availability</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              MongoDB's sharding and replica set features enable horizontal scalability and enhance fault tolerance in a database deployment.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Secure storage</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Comprehensive security features &mdash; including authentication and authorisation, encryption and auditing &mdash; ensure the protection and integrity of sensitive data.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% call(slot) vf_equal_heights(
  title_text="Keep this heading to 2 lines on large screens.",
  image_aspect_ratio_medium="2-3",
  image_aspect_ratio_small="2-3",
  highlight_images=True,
    items=[
      {
      "title_text": "Web and mobile applications",
      "image_html":
        image(url="https://assets.ubuntu.com/v1/5f923891-web_and_mobile_applications.png",
        alt="",
        width="852",
        height="1279",
        hi_def=True,
        loading="lazy",
        attrs={ "class": "p-image-container__image" }
        ) | safe
      ,
      "description_html": "MongoDB provides the high availability and scalability required by use cases in web and mobile, such as content management systems, e-commerce, location based applications, user profile and personalisation.",
      },
      {
        "title_text": "Internet of Things (IoT)",
        "image_html":
        image(url="https://assets.ubuntu.com/v1/0cf42219-internet_of_things_iot.png",
              alt="",
              width="852",
              height="1278",
              hi_def=True,
              loading="lazy",
              attrs={ "class": "p-image-container__image" }
              ) | safe 
              ,
        "description_html": "MongoDB can handle a high volume of small, sensor-generated data points for real-time and batch analytics.",
      },
      {
        "title_text": "Logging and monitoring",
        "image_html":
        image(url="https://assets.ubuntu.com/v1/296e5b76-logging_and_monitoring.png",
              alt="",
              width="852",
              height="1278",
              hi_def=True,
              loading="lazy",
              attrs={ "class": "p-image-container__image" }
              ) | safe 
              ,
        "description_html": "MongoDB's ability to handle large volumes of log data and its fast write capabilities make it a perfect database for observability.",
      },
      {
        "title_text": "Payments",
        "image_html":
        image(url="https://assets.ubuntu.com/v1/c6143d6a-payments.png",
              alt="",
              width="852",
              height="1278",
              hi_def=True,
              loading="lazy",
              attrs={ "class": "p-image-container__image" }
              ) | safe 
              ,
        "description_html": "MongoDB can handle high-volume transactional data efficiently, making it suitable for banking operations that require quick and reliable transaction processing.",
      }
    ]
  ) %}
  {% endcall %}
  
  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>
          How does MongoDB<sup>&reg;</sup> work?
        </h2>
      </div>
      <div class="col">
        <p>
          MongoDB is a NoSQL database management application. NoSQL database systems offer an alternative to traditional relational databases using SQL (Structured Query Language). Data is stored in tables, rows, and columns in a relational database, with relationships between entities.
        </p>
        <p>MongoDB stores records as documents (specifically BSON documents) gathered together in collections.</p>
        <p>
          Scaling the database horizontally can be achieved in MongoDB through the <b>sharding</b> and <b>replica set features</b>. These scalability features also have benefits for fault tolerance in a MongoDB database deployment. The diagram illustrates the sharding model.
        </p>
        <div class="p-image-wrapper">
          <div class="p-image-container u-hide--small" style="padding: 20px;">
            {{ image(url="https://assets.ubuntu.com/v1/15776dc5-mongo db what is it - diagram_v2.png",
                        alt="Diagram for MongoDB sharding",
                        width="3009",
                        height="883",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"}) | safe
            }}
          </div>
        </div>
        <p>Sharding is a method for distributing data across multiple machines.</p>
        <hr class="p-rule--muted" />
          <ul class="p-list--divided">
            <li class="p-list__item has-bullet">
              Client &mdash; an application server that uses the drivers such as python, javascript, C#, C++ and more to integrate with the MongoDB router.
            </li>
            <li class="p-list__item has-bullet">
              Router (mongos) &mdash; a mangos operator that acts as an interface between client applications and the sharded cluster.
            </li>
            <li class="p-list__item has-bullet">
              Config-server (mongod) &mdash; stores metadata and configuration settings for the cluster.
            </li>
            <li class="p-list__item has-bullet">
              Multiple shards (mongod) &mdash; contains a subset of the sharded data, wherein each shard can be deployed as a replica set. The multiple shards represent a horizontal scale-out architecture since shards are deployed in multiple servers.
            </li>
          </ul>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50 p-section--shallow">
      <hr class="p-rule" />
      <div class="col">
        <h2>Feature breakdown</h2>
      </div>
      <div class="col">
        <div class="p-image-wrapper u-hide--small">
          <div class="p-image-container is-highlighted">
            {{ image(url="https://assets.ubuntu.com/v1/432a1417-Encryption.png",
                        alt="",
                        width="350",
                        height="350",
                        hi_def=True,
                        loading="lazy") | safe
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-9 col-medium-6 col-start-large-4">
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Data model</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              MongoDB provides document-oriented storage in a BSON format. Data is also installed in collections, making it a flexible database model.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Architecture</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>The architecture is designed to be highly available and scalable through replica set and sharding.</p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Query</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              MongoDB supports standard Create, Read, Update, and Delete (CRUD) operations. It also supports various types of index making it optimal for other use cases such as multi.oey and geospatial.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Security</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              The database delivers a comprehensive set of security features, including user management, Transport Layer Security (TLS) and auditing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50 p-section--shallow">
      <hr class="p-rule" />
      <div class="col">
        <h2>Canonical's Charmed MongoDB</h2>
      </div>
      <div class="col">
        <p>
          Secure and automate the deployment, maintenance and upgrades of your MongoDB databases across private and public clouds. Deliver large amounts of data in high-performance applications.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-9 col-medium-6 col-start-large-4">
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Charmed MongoDB</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p class="p-heading--5">
              Included in <a href="https://ubuntu.com/pro">Ubuntu Pro</a> + Support
            </p>
            <hr class="p-rule--muted" />
            <p>When you purchase an Ubuntu Pro + Support plan, you also get support for the full Charmed MongoDB solution.</p>
            <hr class="p-rule--muted" />
            <div class="p-section--shallow">
              <ul class="p-list--divided">
                <li class="p-list__item is-ticked">Up to 10 years of MongoDB support per release track</li>
                <li class="p-list__item is-ticked">24/7 or weekday phone and ticket support</li>
                <li class="p-list__item is-ticked">
                  Up to 10 years of security maintenance for MongoDB covering critical and high severity CVEs
                </li>
              </ul>
              <hr class="p-rule--muted" />
              <p>
                Charmed MongoDB allows you to automate deployment and operation of MongoDB at web scale in the environment of your choice &mdash; on the cloud or in your data centre. Supports deployment to most popular clouds or to CNCF conformant Kubernetes.
              </p>
              <hr class="p-rule--muted" />
              <p>
                <a href="/data/mongodb">Learn more about enterprise-grade MongoDB&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">MongoDB<sup>&#174;</sup> OCI-compliant container image</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p class="p-heading--5">
              Included in <a href="https://ubuntu.com/pro">Ubuntu Pro</a> + Support
            </p>
            <hr class="p-rule--muted" />
            <p>
              Also included in Ubuntu Pro + Support, you get support for Canonical's container image for MongoDB, based on Ubuntu LTS.
            </p>
            <hr class="p-rule--muted" />
            <div class="p-section--shallow">
              <ul class="p-list--divided">
                <li class="p-list__item is-ticked">Up to 10 years of support per release track</li>
                <li class="p-list__item is-ticked">Same 24/7 or weekday phone and ticket support commitment</li>
                <li class="p-list__item is-ticked">
                  Same 10 years of security maintenance covering critical and high severity CVEs in the image
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">MongoDB<sup>&#174;</sup> consultancy and support</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p class="p-heading--5">Advanced professional services for MongoDB, when you need them</p>
            <hr class="p-rule--muted" />
            <p>
              Get help designing, planning and building and even operating a hyper automated production MongoDB service that perfectly fits your needs, with Canonical's expert services.
            </p>
            <hr class="p-rule--muted" />
            <div class="p-section--shallow">
              <ul class="p-list--divided">
                <li class="p-list__item is-ticked">
                  Help with design and build of both production and non-production MongoDB environments with Charmed MongoDB
                </li>
                <li class="p-list__item is-ticked">
                  Managed services for MongoDB in your cloud tenancy or data centre, backed by an SLA
                </li>
                <li class="p-list__item is-ticked">
                  Firefighting support with a MongoDB operations expert, who works alongside your team when crisis hits
                </li>
              </ul>
              <hr class="p-rule--muted" />
              <p>
                <a href="https://assets.ubuntu.com/v1/4220f815-Data%20Solutions%20Advisory%20version%20_updated%20-%20v3-2.pdf">Access
                  <span class="u-off-screen">Data solutions advisory</span>the datasheet
                &nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Learn more about Charmed MongoDB</h2>
      </div>
      <div class="col">
        <div class="u-embedded-media u-no-margin--bottom">
          <iframe width="700"
                  height="315"
                  src="https://www.youtube.com/embed/CC096hk35lU?si=YVpJpwwCw2jZFJ0y"
                  title="Charmed MongoDB youtube video"
                  class="u-no-margin--bottom"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin"
                  allowfullscreen></iframe>
        </div>
        <p>
          Canonical's enterprise-grade MongoDB database offering. Charmed MongoDB simplifies the operations of MongoDB applications through automation, security, scalability, availability and monitoring.
        </p>
        <p>
          Charmed MongoDB is the cost-effective, reliable, secure and scalable way to use MongoDB on any cloud, hybrid cloud or on-premise.
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row">
      <hr class="p-rule" />
      <div class="p-section--shallow">
        <h2>Choose the right database to fit your requirements</h2>
      </div>
      {% include "data/_database-comparison-table.html" %}
      <hr class="p-rule--muted"/>
      <p class="u-text--muted">(1) Only the editions supported by Canonical are considered in the above table</p>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Installing Charmed MongoDB</h2>
      </div>
      <div class="col">
        <p>
          Charmed MongoDB is operated via Juju, an open source orchestration engine for software operators that makes MongoDB easy to operate.
        </p>
        <p>
          <a href="https://charmhub.io/mongodb">Access the<span class="u-off-screen">Charmed MongoDB</span> tutorial here&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-section--shallow">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Learn more about MongoDB</h2>
      </div>
      <div class="col">
        <div class="p-section--shallow">
          <p class="p-heading--5 u-no-margin--bottom">
            <a href="https://ubuntu.com/blog/charmed-mongodb-beta">Charmed MongoDB: the operator you need for managing your document database</a>
          </p>
          <p>
            The Charmed MongoDB operator deploys and runs MongoDB on physical, virtual machines (VM) and other cloud and cloud-like environments, including AWS, Azure, OpenStack and VMWare.
          </p>
        </div>
        <hr class="p-rule--muted" />
        <div class="p-section--shallow">
          <p class="p-heading--5 u-no-margin--bottom">
            <a href="https://ubuntu.com/blog/mongodb-on-kubernetes">Running MongoDB on Kubernetes</a>
          </p>
          <p>
            Running database clusters in public, private and hybrid environments offers multiple benefits. Kubernetes provides the additional advantages of portability, reduced vendor lock-in, DevOps friendliness, scalability and cost-effectiveness.

          </p>
        </div>
        <hr class="p-rule--muted" />
        <div class="p-section--shallow">
          <p class="p-heading--5 u-no-margin--bottom">
            <a href="https://ubuntu.com/blog/mongodb-usecase-financialservices">Charmed MongoDB<sup>&reg;</sup>: use cases for financial services</a>
          </p>
          <p>
            MongoDB is one of the most widely used databases in the financial services industry. It  provides a sturdy, adaptable and trustworthy foundation.
          </p>
        </div>
        <hr class="p-rule--muted" />
        <div class="p-section--shallow">
          <p class="p-heading--5 u-no-margin--bottom">
            <a href="https://ubuntu.com/engage/mongodb-support-security">Download the MongoDB Toolkit</a>
          </p>
          <p>Our guide offers a wealth of best practices for MongoDB security and support.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section--deep">
    <div class="row">
      <hr class="p-rule" />
      <div class="col-6 col-start-large-7">
        <p class="u-text--muted">
          "MongoDB" is a trademark or registered trademark of MongoDB, Inc. Other trademarks are property of their respective owners. Charmed MongoDB is not sponsored, endorsed, or affiliated with MongoDB, Inc.
        </p>
      </div>
    </div>
  </section>

{% endblock %}
