{% extends 'base_index.html' %}

{% block title %}Open source projects directory{% endblock %}
{% block meta_description %}{% endblock %}

{% block content %}
<section class="p-strip is-deep is-bordered">
  <div class="row">
    <div class="col-9">
      <h1>Open source projects directory</h1>
      <p>The following projects are covered by Canonical&rsquo;s contributor agreement. If you want to contribute to any of the projects below, please contact the project contacts listed in the third column.</p>
      <p>In order to contribute, you need to sign <a href="https://www.ubuntu.com/legal/contributors">Canonical&rsquo;s contributor agreement</a>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="table__wrapper">
        <table id="open-source-projects-directory">
          <thead>
            <tr>
              <th scope="col">Description</th>
              <th scope="col">Module/project name</th>
              <th scope="col">Contact</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Bazaar</th>
              <td></td>
              <td>John Arbash Meinel (john.meinel&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
            </tr>

            <tr>
              <th scope="row">Candid authentication service</th>
              <td>candid</td>
              <td>Uros Jovanovic (uros.jovanovic&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
            </tr>

            <tr>
              <th scope="row">Canonical-copyright opensource project</th>
              <td>pam-xdg-support</td>
              <td>Matthieu Clemenceau (matthieu.clemenceau&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
            </tr>

            <tr>
              <th scope="row">cloud-init</th>
              <td>cloud-init</td>
              <td>Rick Harding (rick.harding&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
            </tr>

            <tr>
              <th scope="row">Crash and error reporting</th>
              <td>Apport</td>
              <td>Matthieu Clemenceau (matthieu.clemenceau&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
            </tr>

            <tr>
              <th scope="row">Driver detection and loading</th>
              <td>Jockey,<br />
                ubuntu-drivers-common</td>
                <td>Alberto Milone (alberto.milone&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
              </tr>

              <tr>
                <th scope="row">Germinate</th>
                <td></td>
                <td>Matthieu Clemenceau (matthieu.clemenceau&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
              </tr>

              <tr>
                <th scope="row">Juju</th>
                <td></td>
                <td>John Arbash Meinel (john.meinel&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
              </tr>

              <tr>
                <th scope="row">Juju GUI</th>
                <td>juju-gui</td>
                <td>Uros Jovanovic (uros.jovanovic&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
              </tr>

              <tr>
                <th scope="row">Landscape Client</th>
                <td></td>
                <td>Bret Barker (bret.barker&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
              </tr>

              <tr>
                <th scope="row">Launchpad</th>
                <td></td>
                <td>Cristian Gonzalez (cristian.gonzalez&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
              </tr>

              <tr>
                <th scope="row">LAZR packages</th>
                <td></td>
                <td>Bret Barker (bret.barker&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
              </tr>

              <tr>
                <th scope="row">LightDM</th>
                <td>lightdm</td>
                <td>Robert Ancell (robert.ancell&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
              </tr>

              <tr>
                <th scope="row">Loggerhead</th>
                <td></td>
                <td>Michael Hudson-Doyle (michael.hudson&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
              </tr>

              <tr>
                <th scope="row">Metal as a Service</th>
                <td>maas</td>
                <td>Adam Collard (adam.collard&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
              </tr>

              <tr>
                <th scope="row">Mir display server</th>
                <td>mir,<br />
                  unity-system-compositor,<br />
                  unity-greeter-session-broadcast</td>
                  <td>Michal Sawicz (michal.sawicz&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                </tr>

                <tr>
                  <th scope="row">Offspring</th>
                  <td></td>
                  <td>Pascal Morin (pascal.morin&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                </tr>

                <tr>
                  <th scope="row">Online Accounts</th>
                  <td>signon-plugin-oauth2,<br />
                    accounts-qml-module,<br />
                    signon-apparmor-extension,<br />
                    libaccounts-qt,<br />
                    ubuntuone-credentials,<br />
                    libsignon-glib,<br />
                    signon,<br />
                    signon-ui,<br />
                    libaccounts-glib,<br />
                    account-plugins,<br />
                    signon-keyring-extension,<br />
                    account-plugin-evernote,<br />
                    ubuntuone-client-data
                    ubuntu-system-settings-online-accounts,<br />
                    online-accounts-api,<br />
                    unity-control-center-signon</td>
                    <td>Martin Wimpress (martin.wimpress&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                  </tr>

                  <tr>
                    <th scope="row">Oxide</th>
                    <td>oxide-qt</td>
                    <td>Chris Coulson (chris.coulson&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                  </tr>

                  <tr>
                    <th scope="row">Snapcraft</th>
                    <td>snapcraft</td>
                    <td>Martin Wimpress (martin.wimpress&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                  </tr>

                  <tr>
                    <th scope="row">snapd</th>
                    <td>snapd</td>
                    <td>Michael Vogt (michael.vogt&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                  </tr>

                  <tr>
                    <th scope="row">Software installation and removal</th>
                    <td>software-center,<br />
                      software-properties-*</td>
                      <td>Ken VanDine (ken.vandine&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                    </tr>

                    <tr>
                      <th scope="row">Software update management</th>
                      <td>Update-manager,<br />
                        Update-notifier,<br />
                        system-image</td>
                        <td>Steve Langasek (steve.langasek&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                      </tr>

                      <tr>
                        <th scope="row">Software-properties</th>
                        <td></td>
                        <td>Steve Langasek (steve.langasek&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                      </tr>

                      <tr>
                        <th scope="row">Storm</th>
                        <td>storm</td>
                        <td>Gustavo Niemeyer (gustavo.niemeyer&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                      </tr>

                      <tr>
                        <th scope="row">Ubuntu CD image building tools</th>
                        <td>ubuntu-cdimage</td>
                        <td>Steve Langasek (steve.langasek&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                      </tr>

                      <tr>
                        <th scope="row">Ubuntu crash database</th>
                        <td>whoopsie-daisy</td>
                        <td>Steve Langasek (steve.langasek&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                      </tr>

                      <tr>
                        <th scope="row">Ubuntu Live CD Installer</th>
                        <td>Ubiquity</td>
                        <td>Steve Langasek (steve.langasek&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                      </tr>

                      <tr>
                        <th scope="row">Ubuntu OpenStack</th>
                        <td>openstack</td>
                        <td>Ryan Beisner (ryan.beisner&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                      </tr>

                      <tr>
                        <th scope="row">Ubuntu Server Live Installer</th>
                        <td>subiquity</td>
                        <td>Matthieu Clemenceau (matthieu.clemenceau&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                      </tr>

                      <tr>
                        <th scope="row">Uncomplicated Firewall (ufw)</th>
                        <td></td>
                        <td>Jamie Strandboge (jamie.strandboge&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                      </tr>

                      <tr>
                        <th scope="row">Upstart tasks and services manager</th>
                        <td>upstart,<br />
                          ubuntu-app-launch</td>
                          <td>Matthieu Clemenceau (matthieu.clemenceau&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                        </tr>

                        <tr>
                          <th scope="row">Vanilla framework</th>
                          <td>vanilla-framework</td>
                          <td>Anthony Dillon (anthony.dillon&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                        </tr>

                        <tr>
                          <th scope="row">Visual Assets</th>
                          <td>ubuntu-wallpapers,<br />
                            ubuntu-mono,<br />
                            notify-osd-icons,<br />
                            ubuntu-themes</td>
                            <td>Marcus Haslam (marcus.haslam&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                          </tr>

                          <tr>
                            <th scope="row">VMBuilder</th>
                            <td></td>
                            <td>Rick Harding (rick.harding&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                          </tr>

                          <tr>
                            <th scope="row">Xpresser</th>
                            <td></td>
                            <td>Gustavo Niemeyer (gustavo&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </section>

              {% include 'partial/_partners-footer.html' %}

              {% endblock %}
