{% extends 'base_index.html' %}

{% block title %}Open source projects directory{% endblock %}

{% block meta_description %}{% endblock %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/12i56tfefIWBqyXVZA4ENEBVAkPEDA_vkejavN-Eny8I/edit
{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}

  {% set breadcrumbs = [{"name": "Projects", "href": "/projects"}, {"name": "Directory"}] %}
  {% include '/partial/_breadcrumbs.html' %}

  <section class="p-section">
    <div class="row">
      <div class="col-9 col-start-large-4">
        <div class="p-block">
          <h1>Open source projects directory</h1>
        </div>
        <p>
          The following projects are covered by Canonical&rsquo;s contributor agreement. If you want to contribute to any of the projects below, please contact the project contacts listed in the third column.
        </p>
        <p>
          In order to contribute, you need to sign <a href="https://www.ubuntu.com/legal/contributors">Canonical&rsquo;s contributor agreement</a>.
        </p>
      </div>
    </div>
  </section>
  <section class="p-section">
    <div class="row">
      <div class="col-12">
        <div class="table__wrapper">
          <table id="open-source-projects-directory" class="p-table--mobile-card">
            <thead>
              <tr>
                <th scope="col">Description</th>
                <th scope="col">Module/project name</th>
                <th scope="col">Contact</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Candid authentication service</th>
                <td>candid</td>
                <td>
                  <strong>Francesco Banconi</strong>
                  <br />
                  (francesco.banconi&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Canonical-copyright opensource project</th>
                <td>pam-xdg-support</td>
                <td>
                  <strong>Matthieu Clemenceau</strong>
                  <br />
                  (matthieu.clemenceau&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">cloud-init</th>
                <td>cloud-init</td>
                <td>
                  <strong>Christian Ehrhardt</strong>
                  <br />
                  (christian.ehrhardt&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Crash and error reporting</th>
                <td>Apport</td>
                <td>
                  <strong>Matthieu Clemenceau</strong>
                  <br />
                  (matthieu.clemenceau&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Driver detection and loading</th>
                <td>
                  Jockey,
                  <br />
                  ubuntu-drivers-common
                </td>
                <td>
                  <strong>Alberto Milone</strong>
                  <br />
                  (alberto.milone&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Germinate</th>
                <td></td>
                <td>
                  <strong>Matthieu Clemenceau</strong>
                  <br />
                  (matthieu.clemenceau&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Juju</th>
                <td></td>
                <td>
                  <strong>John Arbash Meinel</strong>
                  <br />
                  (john.meinel&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Juju Dashboard</th>
                <td>jaas-dashboard</td>
                <td>
                  <strong>Luke Wesley-Holley</strong>
                  <br />
                  (luke.wesley-holley.&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Landscape Client</th>
                <td></td>
                <td>
                  <strong>Bryan Everly</strong>
                  <br />
                  (bryan.everly&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Launchpad</th>
                <td></td>
                <td>
                  <strong>Clinton Fung</strong>
                  <br />
                  (clinton.fung&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">LAZR packages</th>
                <td></td>
                <td>
                  <strong>Clinton Fung</strong>
                  <br />
                  (clinton.fung&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">LightDM</th>
                <td>lightdm</td>
                <td>
                  <strong>Robert Ancell</strong>
                  <br />
                  (robert.ancell&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Loggerhead</th>
                <td></td>
                <td>
                  <strong>Michael Hudson-Doyle</strong>
                  <br />
                  (michael.hudson&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">LXD</th>
                <td>lxd</td>
                <td>
                  <strong>Eric Gelinas</strong>
                  <br />
                  (eric.gelinas&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Metal as a Service</th>
                <td>maas</td>
                <td>
                  <strong>Jerzy Husakowski</strong>
                  <br />
                  (jerzy.husakowski&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">MicroCeph</th>
                <td>microceph</td>
                <td>
                  <strong>Billy Olsen</strong>
                  <br />
                  (billy.olsen&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">MicroCloud</th>
                <td>microcloud</td>
                <td>
                  <strong>Eric Gelinas</strong>
                  <br />
                  (eric.gelinas&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">MicroK8s</th>
                <td>microk8s</td>
                <td>
                  <strong>Konstantinos Tsakalozos</strong>
                  <br />
                  (konstantinos.tsakalozos&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">MicroOVN</th>
                <td>microovn</td>
                <td>
                  <strong>Billy Olsen</strong>
                  <br />
                  (billy.olsen&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Mir display server</th>
                <td>
                  mir,
                  <br />
                  unity-system-compositor,
                  <br />
                  unity-greeter-session-broadcast
                </td>
                <td>
                  <strong>Michal Sawicz</strong>
                  <br />
                  (michal.sawicz&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Offspring</th>
                <td></td>
                <td>
                  <strong>Pascal Morin</strong>
                  <br />
                  (pascal.morin&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Online Accounts</th>
                <td>
                  signon-plugin-oauth2,
                  <br />
                  accounts-qml-module,
                  <br />
                  signon-apparmor-extension,
                  <br />
                  libaccounts-qt,
                  <br />
                  ubuntuone-credentials,
                  <br />
                  libsignon-glib,
                  <br />
                  signon,
                  <br />
                  signon-ui,
                  <br />
                  libaccounts-glib,
                  <br />
                  account-plugins,
                  <br />
                  signon-keyring-extension,
                  <br />
                  account-plugin-evernote,
                  <br />
                  ubuntuone-client-data,
                  <br />
                  ubuntu-system-settings-online-accounts,
                  <br />
                  online-accounts-api,
                  <br />
                  unity-control-center-signon
                </td>
                <td>
                  <strong>Alberto Mardegan</strong>
                  <br />
                  (alberto.mardegan&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Oxide</th>
                <td>oxide-qt</td>
                <td>
                  <strong>Chris Coulson</strong>
                  <br />
                  (chris.coulson&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Snapcraft</th>
                <td>snapcraft</td>
                <td>
                  <strong>Sergio Schvezov</strong>
                  <br />
                  (sergio.schvezov&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">snapd</th>
                <td>snapd</td>
                <td>
                  <strong>Ernest Lotter</strong>
                  <br />
                  (ernest.lotter&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Software installation and removal</th>
                <td>
                  software-center,
                  <br />
                  software-properties-*
                </td>
                <td>
                  <strong>Ken VanDine</strong>
                  <br />
                  (ken.vandine&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Software update management</th>
                <td>
                  Update-manager,
                  <br />
                  Update-notifier,
                  <br />
                  system-image
                </td>
                <td>
                  <strong>Steve Langasek</strong>
                  <br />
                  (steve.langasek&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Software-properties</th>
                <td></td>
                <td>
                  <strong>Steve Langasek</strong>
                  <br />
                  (steve.langasek&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Storm</th>
                <td>storm</td>
                <td>
                  <strong>Gustavo Niemeyer</strong>
                  <br />
                  (gustavo.niemeyer&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Ubuntu CD image building tools</th>
                <td>ubuntu-cdimage</td>
                <td>
                  <strong>Steve Langasek</strong>
                  <br />
                  (steve.langasek&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Ubuntu crash database</th>
                <td>whoopsie-daisy</td>
                <td>
                  <strong>Steve Langasek</strong>
                  <br />
                  (steve.langasek&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Ubuntu Live CD Installer</th>
                <td>Ubiquity</td>
                <td>
                  <strong>Steve Langasek</strong>
                  <br />
                  (steve.langasek&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Ubuntu Desktop Installer</th>
                <td>ubuntu-desktop-installer</td>
                <td>
                  <strong>Oliver Smith</strong>
                  <br />
                  (oliver.smith&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Ubuntu OpenStack</th>
                <td>openstack</td>
                <td>
                  <strong>Billy Olsen</strong>
                  <br />
                  (billy.olsen&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Ubuntu Server Live Installer</th>
                <td>subiquity</td>
                <td>
                  <strong>Matthieu Clemenceau</strong>
                  <br />
                  (matthieu.clemenceau&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">
                  <strong>Uncomplicated Firewall</strong>
                  <br />
                  (ufw)
                </th>
                <td></td>
                <td>
                  <strong>Alex Burrage</strong>
                  <br />
                  (alex.burrage&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Upstart tasks and services manager</th>
                <td>
                  upstart,
                  <br />
                  ubuntu-app-launch
                </td>
                <td>
                  <strong>Matthieu Clemenceau</strong>
                  <br />
                  (matthieu.clemenceau&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Vanilla framework</th>
                <td>vanilla-framework</td>
                <td>
                  <strong>Anthony Dillon</strong>
                  <br />
                  (anthony.dillon&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Visual Assets</th>
                <td>
                  ubuntu-wallpapers,
                  <br />
                  ubuntu-mono,
                  <br />
                  notify-osd-icons,
                  <br />
                  ubuntu-themes
                </td>
                <td>
                  <strong>Hans Gerwitz</strong>
                  <br />
                  (hans.gerwitz&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">VMBuilder</th>
                <td></td>
                <td>
                  <strong>Christian Ehrhardt</strong>
                  <br />
                  (christian.ehrhardt&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>

              <tr>
                <th scope="row">Xpresser</th>
                <td></td>
                <td>
                  <strong>Gustavo Niemeyer</strong>
                  <br />
                  (gustavo.niemeyer&nbsp;{at}&nbsp;canonical&nbsp;{dot}&nbsp;com)
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
