{% extends 'base_index.html' %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1X3osSqcm3rWLqYUJr5G4fXEEHCby-j5FEJwClLNx5S4/edit
{% endblock meta_copydoc %}

{% block title %}The world's favourite enterprise Linux platform{% endblock %}

{% block meta_description %}
  Ubuntu is the world's most popular enterprise Linux distribution. Unify your tech stack with the enterprise OS that is favoured for servers, IoT and applications.
{% endblock %}

{% from "_macros/vf_hero.jinja" import vf_hero %}

{% block meta_keywords %}Enterprise OS, Enterprise linux{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}

  {% call(slot) vf_hero(
    title_text="The enterprise Linux OS that's made for everyone",
    layout="50/50",
    is_split_on_medium=true
    ) -%}
    {%- if slot == "description" -%}
      <p>
        Bring harmony to your stack from the desktop to the edge with Ubuntu, the OS that innovators and successful enterprises have in common. Ubuntu brings standardization and stability together, offering you a platform for innovation, combined with the freedom that transparent, open source code offers. Powered by community, Ubuntu enables everyone to build on the latest technologies with the benefit of enterprise-grade assurance.
      </p>
    {%- endif -%}
    {%- if slot == "cta" -%}
      <a class="p-button--positive js-invoke-modal"
         href="/contact-us"
         aria-controls="ubuntu-os-modal">Get in touch<span class="u-off-screen"> about Ubuntu OS solutions</span></a>
      <a href="https://ubuntu.com/download">Download Ubuntu&nbsp;&rsaquo;</a>
    {%- endif -%}
    {%- if slot == "image" -%}
      <div class="p-image-container--16-9 is-cover">
        {{ image(url="https://assets.ubuntu.com/v1/ec73e570-hero-img.png",
                alt="",
                width="1200",
                height="752",
                hi_def=True,
                loading="auto",
                attrs={"class": "p-image-container__image"}) | safe
        }}
      </div>
    {%- endif -%}
  {% endcall -%}

  <section class="p-section--shallow">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>
          Name the industry.
          <br />
          You'll find Ubuntu there.
        </h2>
      </div>
      <div class="col">
        <p>Enterprises that want to scale up and break new ground trust Ubuntu as the reliable, secure platform to do it.</p>
        <p>
          A 20-year track record of reliability and innovation means Ubuntu has left its footprints across industries, from finance to automotive to the edge of space.
        </p>
        <div class="p-cta-block">
          <a href="https://ubuntu.com/engage/adopting-secure-enterprise-linux-desktop">Read our guide to enterprise Linux&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width">
      <div class="p-image-container--cinematic is-highlighted">
        {{ image(url="https://assets.ubuntu.com/v1/63d9f66b-city-isometric.png",
                alt="",
                width="2464",
                height="1028",
                hi_def=True,
                loading="auto",
                attrs={"class": "p-image-container__image"}) | safe
        }}
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule" />
      <h2 class="p-text--small-caps">See where Ubuntu has made its mark</h2>
      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/e86f8702-nvidia-logo%20.png",
                        alt="NVIDIA",
                        width="310",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/89e42e5e-bt-logo%20.png",
                        alt="BT",
                        width="135",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/612fe562-bosch-logo%20.png",
                        alt="Bosch",
                        width="268",
                        height="250",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/9ec319a2-scania-logo%20.png",
                        alt="Scania",
                        width="258",
                        height="174",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/1dd3b6ba-NMSU-logo.png",
                        alt="",
                        width="133",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Authentically open source</h2>
      </div>
      <div class="col">
        <div class="p-section--shallow">
          <p>
            Ubuntu is a story of many hands. Its transparency and community ethos has made it the successful project it is today. With a foundation of fully public code and an evolving repository of community knowledge, Ubuntu is the natural choice for collaboration and innovation. When you choose Ubuntu as your OS, you're building on the work of thousands of contributors.
          </p>
        </div>
        <hr class="p-rule--muted" />
        <p>
          <a href="https://ubuntu.com/community">Read about the Ubuntu community&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>A single platform for the entire compute spectrum</h2>
      </div>
      <div class="col">
        <p>Nimble. Versatile. Straightforward.</p>
        <p>Ubuntu offers you a unified enterprise-grade Linux experience across desktops, servers, IoT and public clouds.</p>
        <p>
          Choose the OS that is certified with leading hardware OEMs, giving you the peace of mind that Ubuntu has been rigorously tested to give you the best experience.
        </p>
        <hr class="p-rule" />
        <p>
          <a href="https://ubuntu.com/certified">Find out more about hardware certification&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50 p-section--shallow">
      <hr class="p-rule" />
      <div class="col">
        <h2>Setting the standard for security and support</h2>
      </div>
      <div class="col">
        <p>Ubuntu is secure by design and dependable in a fast-paced security environment.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-start-large-4 col-9 col-start-medium-2 col-medium-5">
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Security in-depth, at the platform level</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Ubuntu gives you a secure platform to build on from the ground up. We use available hardware roots of trust, such as TPMs, for full disk encryption. Combined with hardening for the early boot process, and Apparmor for confinement of applications, we ensure a reduced attack surface and security throughout your stack.
            </p>
            <p>
              Ubuntu also supports the latest <a href="https://ubuntu.com/confidential-computing">confidential computing</a> technology, helping you protect data while it’s being processed.
            </p>
            <p>
              <a href="https://ubuntu.com/engage/introduction-confidential-computing">Learn more in our introductory whitepaper&nbsp;&rsaquo;</a>
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">A release cadence you can depend on</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Benefit from always knowing when updates are coming: an interim release every 6 months to test the latest features and a new Long Term Support (LTS) version every 2 years. With Ubuntu, you know where you stand.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Stability through long term support</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Our LTS releases are supported for 5 years as standard, allowing you to focus more on innovation and less on maintenance. Upgrade to Pro to get a total of 12 years in expanded security maintenance.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">A single subscription for security and compliance</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Ubuntu gives you secure access to the widest open source software library. Reduce your average CVE exposure from 98 days to 1 on average and comply with the most stringent security regulations.
            </p>
            <p>
              With an Ubuntu Pro subscription, you receive enhanced security and automation tools for compliance and hardening.
            </p>
            <hr class="p-rule--muted" />
            <p>
              <a href="https://ubuntu.com/pro">Learn about Ubuntu Pro&nbsp;&rsaquo;</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width p-section--shallow">
      <hr class="p-rule" />
      <h2>Everywhere and for everyone</h2>
    </div>
    <div class="row p-section--shallow">
      <div class="col-9 col-start-large-4">
        <div class="p-equal-height-row--wrap has-divider-3">
          <div class="p-equal-height-row__col">
            <div class="p-equal-height-row__item">
                <div class="p-image-container--2-3 u-hide--small">
                    {{ image(url="https://assets.ubuntu.com/v1/84c964b8-automotive.png",
                            alt="",
                            width="568",
                            height="853",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-image-container__image"}) | safe
                            }}
                </div>
            </div>
            <p class="p-equal-height-row__item p-heading--5">Automotive</p>
            <p class="p-equal-height-row__item">Industry leaders like Elekrobit drive innovation with Ubuntu.</p>
            <div class="p-equal-height-row__item">
              <p>
                <a href="https://ubuntu.com/engage/unlocking-software-defined-vehicles-elektrobit-canonical">Watch the <span class="u-off-screen">Automotive</span> webinar&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
          <div class="p-equal-height-row__col">
            <div class="p-equal-height-row__item">
                <div class="p-image-container--2-3 u-hide--small">
                  {{ image(url="https://assets.ubuntu.com/v1/9f22b27e-robotics.png",
                                alt="",
                                width="568",
                                height="853",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-image-container__image"}) | safe
                  }}
                </div>
            </div>
            <p class="p-equal-height-row__item p-heading--5">Robotics</p>
            <p class="p-equal-height-row__item">Companies like Husarion run next-generation robots on Ubuntu.</p>
            <div class="p-equal-height-row__item">
              <p>
                <a href="https://ubuntu.com/blog/amr-with-canonical-and-husarion">Read the <span class="u-off-screen">robotics</span>story&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
          <div class="p-equal-height-row__col">
            <div class="p-equal-height-row__item">
                <div class="p-image-container--2-3 u-hide--small">
                  {{ image(url="https://assets.ubuntu.com/v1/e0288f39-saas.png",
                                alt="",
                                width="568",
                                height="853",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-image-container__image"}) | safe
                  }}
                </div>
            </div>
            <p class="p-equal-height-row__item p-heading--5">SaaS</p>
            <p class="p-equal-height-row__item">Platforms like LaunchDarkly accelerate software development with Ubuntu.</p>
            <div class="p-equal-height-row__item">
              <p>
                <a href="https://ubuntu.com/engage/LaunchDarkly-FedRAMP-case-study">Read the <span class="u-off-screen">SaaS provider</span>case study&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-section--shallow">
      <div class="col-9 col-start-large-4">
        <div class="p-equal-height-row has-divider-3">
          <div class="p-equal-height-row__col">
            <div class="p-equal-height-row__item">
                <div class="p-image-container--2-3 u-hide--small">
                  {{ image(url="https://assets.ubuntu.com/v1/2339a7e6-nmsu-with-bg.png",
                                alt="",
                                width="568",
                                height="853",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-image-container__image"}) | safe
                  }}
                </div>
            </div>
            <p class="p-equal-height-row__item p-heading--5">Education</p>
            <p class="p-equal-height-row__item">
              New Mexico State University's Physical Science Laboratory chose Ubuntu to enable FIPS compliance.
            </p>
            <div class="p-equal-height-row__item">
              <p>
                <a href="https://ubuntu.com/engage/new-mexico-state-university-physical-science-laboratory-drives-agile-and-compliant-federal-research-with-ubuntu">Read the <span class="u-off-screen">New Mexico State</span>case study&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
          <div class="p-equal-height-row__col">
            <div class="p-equal-height-row__item">
                <div class="p-image-container--2-3 u-hide--small">
                  {{ image(url="https://assets.ubuntu.com/v1/be18af0c-media-and-entertainment.png",
                                alt="",
                                width="568",
                                height="853",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-image-container__image"}) | safe
                  }}
                </div>
            </div>
            <p class="p-equal-height-row__item p-heading--5">Media and entertainment</p>
            <p class="p-equal-height-row__item">Video game developers like Roblox scale confidently with Ubuntu.</p>
            <div class="p-equal-height-row__item">
              <p>
                <a href="https://www.youtube.com/watch?v=SwlU4U-BWRo">Watch the <span class="u-off-screen">edge compute</span>video&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
          <div class="p-equal-height-row__col">
            <div class="p-equal-height-row__item">
                <div class="p-image-container--2-3 u-hide--small">
                  {{ image(url="https://assets.ubuntu.com/v1/24b8429d-medical-devices.png",
                                alt="",
                                width="568",
                                height="853",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-image-container__image"}) | safe
                  }}
                </div>
            </div>
            <p class="p-equal-height-row__item p-heading--5">Medical devices</p>
            <p class="p-equal-height-row__item">BeWell Innovations runs its growing fleet of patient kiosks on Ubuntu.</p>
            <div class="p-equal-height-row__item">
              <p>
                <a href="https://ubuntu.com/engage/bewell-ubuntu-core-case-study">Read the <span class="u-off-screen">BeWell</span>case study&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--25-75">
      <hr class="p-rule" />
      <div class="col">
        <h2>Why innovators prefer Ubuntu</h2>
      </div>
      <div class="col">
        <div class="row p-section--shallow">
          <div class="col-3 p-image-wrapper">
            {{ image(url="https://assets.ubuntu.com/v1/c770719b-pentera.png",
                        alt="Pantera",
                        width="134",
                        height="34",
                        hi_def=True,
                        loading="lazy") | safe
            }}
          </div>
          <div class="col-6">
            <blockquote class="p-pull-quote u-no-margin u-no-padding">
              <div class="p-section--shallow">
                <p class="p-heading--4">
                  <i>"Moving to a Debian-based OS might require a change of mindset, but I think Ubuntu might be the right choice for all businesses that need to migrate off CentOS. I can't think of any other alternative that is as production- ready and as smooth."</i>
                </p>
              </div>
              <hr class="p-rule--muted" />
              <div class="row--50-50 p-section--shallow">
                <div class="col">
                  <cite class="p-heading--5">
                    <p>Nitzan Dana</p>
                  </cite>
                </div>
                <div class="col">
                  <p class="u-text--muted">DevOps Lead, Pentera</p>
                </div>
                <hr class="p-rule--muted" />
                <p>
                  <a href="https://pages.ubuntu.com/rs/066-EOV-335/images/Pentera's_migration_from_CentOS_to_Ubuntu_Case_Study.pdf">Read the <span class="u-off-screen">Pentera</span>case study&nbsp;&rsaquo;</a>
                </p>
              </div>
            </blockquote>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-3 p-image-wrapper">
            {{ image(url="https://assets.ubuntu.com/v1/bf624470-image%20wrapper.png",
                        alt="Screenly",
                        width="125",
                        height="43",
                        hi_def=True,
                        loading="lazy") | safe
            }}
          </div>
          <div class="col-6">
            <blockquote class="p-pull-quote u-no-margin u-no-padding">
              <div class="p-section--shallow">
                <p class="p-heading--4">
                  <i>"Some deals would have been challenging to close without Ubuntu Core. Ubuntu is a brand that enterprises trust. Selling to them would be much harder if we were using a less well-known OS or if we'd rolled our own."</i>
                </p>
              </div>
              <hr class="p-rule--muted" />
              <div class="row--50-50 p-section--shallow">
                <div class="col">
                  <cite class="p-heading--5">
                    <p>Viktor Petersson</p>
                  </cite>
                </div>
                <div class="col">
                  <p class="u-text--muted">CEO and Co-Founder, Screenly</p>
                </div>
              </div>
              <hr class="p-rule--muted" />
              <p>
                <a href="https://ubuntu.com/engage/screenly-empowers-security-conscious-enterprises">Read the <span class="u-off-screen">Screenly</span> case study&nbsp;&rsaquo;</a>
              </p>
            </blockquote>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-3 p-image-wrapper">
            {{ image(url="https://assets.ubuntu.com/v1/9178fbca-wyoming%20dept%20of%20transp.png",
                        alt="Wyoming",
                        width="151",
                        height="26",
                        hi_def=True,
                        loading="lazy") | safe
            }}
          </div>
          <div class="col-6">
            <blockquote class="p-pull-quote u-no-margin u-no-padding">
              <div class="p-section--shallow">
                <p class="p-heading--4">
                  <i>"Moving from hypervisors to the container technology that LXD offers on Ubuntu was like a quantum leap for us in terms of concept and performance."</i>
                </p>
              </div>
              <hr class="p-rule--muted" />
              <div class="row--50-50 p-section--shallow">
                <div class="col">
                  <cite class="p-heading--5">
                    <p>Marcel Redöhl</p>
                  </cite>
                </div>
                <div class="col">
                  <p class="u-text--muted">
                    Geographic Information Systems and Intelligent Transportation Systems Program Manager, Wyoming Department of Transportation
                  </p>
                </div>
              </div>
              <hr class="p-rule--muted" />
              <p>
                <a href="https://ubuntu.com/engage/hypervisor-to-lxd-case-study">Read the <span class="u-off-screen">Wyoming Department of Transportation</span> case study&nbsp;&rsaquo;</a>
              </p>
            </blockquote>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-3 p-image-wrapper">
            {{ image(url="https://assets.ubuntu.com/v1/8b65cd59-husarion.png",
                        alt="Husarion",
                        width="113",
                        height="37",
                        hi_def=True,
                        loading="lazy") | safe
            }}
          </div>
          <div class="col-6">
            <blockquote class="p-pull-quote u-no-margin u-no-padding">
              <div class="p-section--shallow">
                <p class="p-heading--4">
                  <i>"With Ubuntu Core powering our Panther robot, we ensure reliability and security, which are critical in today's legislative landscape."</i>
                </p>
              </div>
              <hr class="p-rule--muted" />
              <div class="row--50-50 p-section--shallow">
                <div class="col">
                  <cite class="p-heading--5">Dominik Nowak</cite>
                </div>
                <div class="col">
                  <p class="u-text--muted">Co-Founder & CEO, Husarion</p>
                </div>
              </div>
              <hr class="p-rule--muted" />
              <p>
                <a href="https://ubuntu.com/blog/amr-with-canonical-and-husarion">Read the <span class="u-off-screen">Husarion</span> case study&nbsp;&rsaquo;</a>
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width p-section--shallow">
      <hr class="p-rule" />
      <h2>
        Learn about
        <br />
        the Ubuntu ecosystem
      </h2>
    </div>
    <div class="row">
      <div class="col-start-large-4 col-9 col-start-medium-2 col-medium-5">
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Ubuntu Desktop</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              The developer's choice. Full integration available with Windows Active Directory, with systems management from Canonical Landscape.
            </p>
            <hr class="p-rule--muted" />
            <p>
              <a href="https://ubuntu.com/desktop">Read about Ubuntu Desktop&nbsp;&rsaquo;</a>
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Ubuntu Server</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Discover the hyperscale OS. Deploy resources efficiently across public and private clouds, and data centres. Scale as and when you need with competitive, per-node pricing.
            </p>
            <hr class="p-rule--muted" />
            <p>
              <a href="https://ubuntu.com/download/server">Try Ubuntu Server&nbsp;&rsaquo;</a>
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Ubuntu for Public Clouds</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Ubuntu is the most popular guest-OS on public clouds, and the only free cloud operating system with the option of enterprise-grade commercial support.
            </p>
            <hr class="p-rule--muted" />
            <p>
              <a href="https://ubuntu.com/cloud/public-cloud">Learn about Ubuntu on public clouds&nbsp;&rsaquo;</a>
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Ubuntu Core</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>A lightweight, fully containerized version of Ubuntu optimized for the edge.</p>
            <hr class="p-rule--muted" />
            <p>
              <a href="https://ubuntu.com/core">Learn about Ubuntu Core&nbsp;&rsaquo;</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50 p-section--shallow">
      <hr class="p-rule" />
      <div class="col">
        <h2>
          Take the next step
          <br />
          in your journey
        </h2>
      </div>
      <div class="col">
        <h3 class="p-heading--5">
          <a href="https://ubuntu.com/desktop/organizations">Bring Ubuntu to your organization</a>
        </h3>
        <p>
          Learn about the features that make Ubuntu the developers' choice and the advantages this offers to enterprises who adopt it.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-start-large-7 col-6 col-start-medium-4 col-medium-3">
        <hr class="p-rule--muted" />
        <div class="p-section--shallow">
          <h3 class="p-heading--5">
            <a href="https://ubuntu.com/engage/migrating-from-rhel-centos-to-ubuntu-public-cloud">Migrating from RHEL-based distributions to Ubuntu?</a>
          </h3>
          <p>
            View our guide for a strategic overview of the differences between RHEL-based and Ubuntu distributions, and a cheat sheet for migration.
          </p>
        </div>
        <hr class="p-rule--muted" />
        <div class="p-section--shallow">
          <h3 class="p-heading--5">
            <a href="https://ubuntu.com/engage/vulnerability-management">Learn about open source vulnerability management</a>
          </h3>
          <p>
            This guide provides insights into open source vulnerability management, highlighting the challenges faced by organisations and offering best practices to overcome them for effective cybersecurity.
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="u-fixed-width">
    <hr class="p-rule" />
  </div>
  <section class="p-strip is-deep">
    <div class="u-fixed-width">
      <h2>Want to talk to us about your enterprise platform needs?</h2>
      <p class="p-heading--2">
        <a href="/contact-us"
           class="js-invoke-modal"
           aria-controls="ubuntu-os-modal">Contact us&nbsp;&rsaquo;</a>
      </p>
    </div>
  </section>

  <script defer src="{{ versioned_static('js/modals.js') }}"></script>

  {% with %}
    {% set returnURL = "https://canonical.com/solutions/ubuntu-os#contact-form-success" %}
    {% set formid = "5909" %}
    {% include "solutions/ubuntu-os/_form-ubuntu-os.html" %}
  {% endwith %}

{% endblock %}
