canonicalwebteam.flask-base==2.1.0
canonicalwebteam.blog==6.4.4
canonicalwebteam.http==1.0.4
canonicalwebteam.image-template==1.5.0
canonicalwebteam.templatefinder==1.0.0
canonicalwebteam.discourse==6.1.1
canonicalwebteam.search==2.1.1
canonicalwebteam.form-generator==1.0.0
bleach==5.0.1
markdown==3.5.2
python-slugify==8.0.1
vcrpy-unittest==0.1.7
cryptography==36.0.2
gql==2.0.0
google-api-python-client==2.49.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
pytz==2024.1
djlint==1.34.1
responses==0.25.3
