canonicalwebteam.flask-base==2.6.1
canonicalwebteam.blog==6.5.0
canonicalwebteam.http==1.0.4
canonicalwebteam.image-template==1.9.0
canonicalwebteam.templatefinder==1.0.0
canonicalwebteam.discourse==6.3.0
canonicalwebteam.search==2.1.2
canonicalwebteam.form-generator==2.0.1
canonicalwebteam.directory-parser==1.2.10
bleach==5.0.1
markdown==3.8.2
python-slugify==8.0.4
vcrpy-unittest==0.1.7
cryptography==36.0.2
gql==2.0.0
google-api-python-client==2.173.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.8.0
pytz==2024.2
djlint==1.36.4
responses==0.25.7
pycountry==24.6.1
scikit-learn==1.6.1
