canonicalwebteam.flask-base==2.6.1
canonicalwebteam.blog==6.8.4
canonicalwebteam.http==1.0.4
canonicalwebteam.image-template==1.9.0
canonicalwebteam.templatefinder==1.0.0
canonicalwebteam.discourse==7.1.1
canonicalwebteam.search==2.1.2
canonicalwebteam.form-generator==2.2.0
canonicalwebteam.directory-parser==1.2.10
bleach==5.0.1
markdown==3.10.2
python-slugify==8.0.4
vcrpy-unittest==0.1.7
cryptography==36.0.2
gql==2.0.0
google-api-python-client==2.190.0
google-auth-httplib2==0.3.0
google-auth-oauthlib==0.8.0
pytz==2024.2
djlint==1.36.4
responses==0.26.0
pycountry==24.6.1
scikit-learn==1.8.0
flask-cors==6.0.2
requests==2.32.5
semver==3.0.4
cachetools==5.5.2
sentry-sdk[flask]==2.53.0
geopy==2.4.1
