<div class="u-fixed-width">
  <nav class="p-breadcrumbs" aria-label="Breadcrumbs">
    <ol class="p-breadcrumbs__items p-text--x-small-capitalised">
      <li class="p-breadcrumbs__item ">
        <a href="/careers/">Careers</a>
      </li>
      <li class="p-breadcrumbs__item ">{{ department.name }}</li>
    </ol>
  </nav>
  <h1 class="p-text--x-small-capitalised u-hide">Careers</h1>
</div>
{% if not fast_track_jobs %}
  <section class="p-section">
    <hr class="is-fixed-width p-rule" />
    <div class="row p-section">
      <div class="col-6 col-medium-3">
        <h1 class="p-heading--2">
          <strong>{{ department.name }}</strong>
        </h1>
      </div>
      <div class="col-6 col-medium-3">
        <p class="u-sv2">{{ claim | safe }}</p>
        <a class="p-button--positive"
           href="/careers/all?filter={{ department.name | safe | urlencode }}">See all {{ department.name }} roles</a>
        <a class="p-button" href="/careers/career-explorer">Career explorer</a>
      </div>
    </div>
  </section>
{% endif %}

{% if fast_track_jobs %}
  {% include 'careers/includes/_fast-track-jobs.html' %}
{% endif %}

{% if featured_jobs and not fast_track_jobs %}
  {% include "shared/_promoted_roles.html" %}
{% endif %}

<section class="p-section">
  <hr class="is-fixed-width p-rule" />
  <div class="p-section--shallow">
    <div class="row">
      <div class="col-6 col-medium-3">
        <h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default u-no-margin">Working here</h2>
        <h3 class="p-heading--2">{{ block_1_subheading }}</h3>
      </div>
      <div class="col-6 col-medium-3">
        {% for paragraph in block_1_text %}<p>{{ paragraph | safe }}</p>{% endfor %}
      </div>
    </div>
  </div>
  <div class="p-section--shallow">
    <div class="u-fixed-width">
      {{ image(url=image_url,
            alt="",
            width=image_width,
            height=image_height,
            hi_def=True,
            loading="auto",) | safe
      }}
    </div>
  </div>
</section>
{% if block_2_text | length > 0 %}
  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule" />
    </div>
    <div class="row">
      <div class="col-6 col-medium-3">
        <h2>{{ block_2_heading }}</h2>
      </div>
      <div class="col-6 col-medium-3">
        {% for paragraph in block_2_text %}<p>{{ paragraph | safe }}</p>{% endfor %}
      </div>
    </div>
  </section>
{% endif %}

<section class="p-section">
  <hr class="p-rule is-fixed-width" />
  <div class="row">
    <div class="col-6 col-medium-3">
      <h2>{{ block_3_subheading }}</h2>
    </div>
    <div class="col-6 col-medium-3">
      {% for paragraph in block_3_text %}<p>{{ paragraph | safe }}</p>{% endfor %}
    </div>
  </div>
</section>

{% if not exclude_socials %}
  {% from "_macros/vf_linked-logo-section.jinja" import vf_linked_logo_section %}

  {{ vf_linked_logo_section(
    title_text="See for yourself the work we're doing",
    layout="50/50",
    links=[
      {
        "href": "https://github.com/canonical",
        "text": "Follow Canonical on GitHub &rsaquo;",
        "label": "Follow Canonical on GitHub",
        "image_attrs": {
          "src": "https://assets.ubuntu.com/v1/3db99442-github.png",
          "alt": "",
          "width": "222",
          "height": "481"
        }
      },
      {
        "href": "https://www.linkedin.com/company/234280",
        "text": "Follow Canonical on LinkedIn &rsaquo;",
        "label": "Follow Canonical on LinkedIn",
        "image_attrs": {
          "src": "https://assets.ubuntu.com/v1/eb5aa7d8-linkedin.png",
          "alt": "",
          "width": "432",
          "height": "481"
        }
      },
      {
        "href": "https://twitter.com/Canonical",
        "text": "Follow Canonical on Twitter &rsaquo;",
        "label": "Follow Canonical on Twitter",
        "image_attrs": {
          "src": "https://assets.ubuntu.com/v1/70b8bc44-x-twitter.png",
          "alt": "",
          "width": "240",
          "height": "481"
        }
      },
      {
        "href": "https://www.youtube.com/user/celebrateubuntu",
        "text": "Follow Canonical on YouTube &rsaquo;",
        "label": "Follow Canonical on YouTube",
        "image_attrs": {
          "src": "https://assets.ubuntu.com/v1/5c805b49-youtube.png",
          "alt": "",
          "width": "240",
          "height": "481"
        }
      },
    ],
  ) }}
{% endif %}

{% if blog_heading_topic and blog_tag_id %}
  {% with section_classes='p-strip', heading_topic=blog_heading_topic, tag_id=blog_tag_id, limit="3" %}
    <noscript>
      <section class="p-section u-hide {% if section_classes %}{{ section_classes }}{% else %}p-strip{% endif %}"
               data-js="latest-news">
        <div class="row">
          <h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default p-rule">Blogs</h2>
          <h3 class="p-heading--2">
            Find out more about <a href="/blog/tag/{{ department.name }}">{{ heading_topic }}</a>
          </h3>
        </div>
      </section>
    </noscript>

    <section class="u-no-padding--top p-section u-hide {% if section_classes %}{{ section_classes }}{% else %}p-section{% endif %}"
             data-js="latest-news">
      <hr class="is-fixed-width p-rule" />
      <div class="row">
        <div class="col-6 col-medium-3">
          <h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default">Blogs</h2>
          <h3 class="p-heading--2">
            Find out more about
            <br class="u-hide--small" />
            {{ heading_topic }}
          </h3>
        </div>
        <div id="latest-articles"
             class="col-6 col-medium-3"
             style="padding-top: 0.5rem">
          <div style="min-height: 9.1rem">
            <i class="p-icon--spinner u-animation--spin">Loading...</i>
          </div>
        </div>
      </div>
      <template style="display:none" id="articles-template">
        <article class="u-extra-space">
          <div class="blog-p-card__content">
            <hr class="p-rule" />
            <a class="article-link article-title p-heading--5" href=""></a>
            <p class="article-excerpt"></p>
          </div>
        </article>
      </template>
      <script src="{{ versioned_static('js/modules/latest-news/latest-news.js') }}"></script>
      {# djlint: off #}
      <script>
        canonicalLatestNews.fetchLatestNews({
          articlesContainerSelector: "#latest-articles",
          articleTemplateSelector: "#articles-template",
          hostname: "canonical.com",
          {% if tag_id %}tagId: "{{ blog_tag_id }}",{% endif %}
          {% if limit %}limit: "3",{% endif %}
        })
      </script>
      {# djlint: on #}
    </section>
  {% endwith %}
{% endif %}

{% if custom_blog_section %}
  {% include custom_blog_section %}
{% endif %}

<script async defer src="https://buttons.github.io/buttons.js"></script>
