<div class="u-fixed-width">
    <nav class="p-pagination" aria-label="Pagination">
      <ol class="p-pagination__items u-align--right">
        <li class="p-pagination__item">
            <p id="total-results"></p>
        </li>
        <li class="p-pagination__item">
          <button class="p-pagination__link--next" id="show-all" title="Next page"><span>Show all</span><i class="p-icon--chevron-down"></i></button>
          <button class="p-pagination__link--next" id="show-20-more"  title="Next page"><span>Show 20 more</span><i class="p-icon--chevron-down"></i></button>
        </li>
      </ol>
    </nav>
</div>