<div class="p-careers-progression-carousel">
	<div class="p-careers-progression-carousel__slides">
		<div class="p-careers-progression-carousel__slide" aria-hidden="false">
			{{
				image (
				url="https://assets.ubuntu.com/v1/7440ae6c-drone.png",
				alt="",
				width="464",
				height="694",
				hi_def=True,
				loading="lazy"
				) | safe
			}}
		</div>
		<div class="p-careers-progression-carousel__slide" aria-hidden="true">
			{{
				image (
				url="https://assets.ubuntu.com/v1/a5f1c083-developer.png",
				alt="",
				width="464",
				height="694",
				hi_def=True,
				loading="lazy"
				) | safe
			}}
		</div>
		<div class="p-careers-progression-carousel__slide" aria-hidden="true">
			{{
				image (
				url="https://assets.ubuntu.com/v1/70b116cd-customer-relation.png",
				alt="",
				width="464",
				height="694",
				hi_def=True,
				loading="lazy"
				) | safe
			}}
		</div>
		<div class="p-careers-progression-carousel__slide" aria-hidden="true">
			{{
				image (
				url="https://assets.ubuntu.com/v1/6fa65620-leadership.png",
				alt="",
				width="464",
				height="694",
				hi_def=True,
				loading="lazy"
				) | safe
			}}
		</div>
	</div>
</div>