
<nav class="p-navigation--secondary">
  <div class="row">
    <div class="col-12 u-equal-height">
      <ul class="breadcrumbs--secondary">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if not request.path|get_secondary_nav_path %}p-link--active{% else %}p-link--soft{% endif %}" href="/careers">Overview</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'all' %}p-link--active{% else %}p-link--soft{% endif %}" href="/careers/all">All</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'admin' %}p-link--active{% else %}p-link--soft{% endif %}" href="/careers/admin">Admin</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'commercial' %}p-link--active{% else %}p-link--soft{% endif %}" href="/careers/operations">Operations</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'design' %}p-link--active{% else %}p-link--soft{% endif %}" href="/careers/web-and-design">Web & design</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'diversity' %}p-link--active{% else %}p-link--soft{% endif %}" href="/careers/diversity">Diversity</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'engineering' %}p-link--active{% else %}p-link--soft{% endif %}" href="/careers/engineering">Engineering</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'ethics' %}p-link--active{% else %}p-link--soft{% endif %}" href="/careers/ethics">Ethics</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'finance' %}p-link--active{% else %}p-link--soft{% endif %}" href="/careers/finance">Finance</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'hr' %}p-link--active{% else %}p-link--soft{% endif %}" href="/careers/human-resources">Human Resources</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'lifestyle' %}p-link--active{% else %}p-link--soft{% endif %}" href="/careers/lifestyle">Lifestyle</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'legal' %}p-link--active{% else %}p-link--soft{% endif %}" href="/careers/legal">Legal</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'marketing' %}p-link--active{% else %}p-link--soft{% endif %}" href="/careers/marketing">Marketing</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'progression' %}p-link--active{% else %}p-link--soft{% endif %}" href="/careers/progression">Progression</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'project-management' %}p-link--active{% else %}p-link--soft{% endif %}" href="/careers/project-management">Project Management</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'sales' %}p-link--active{% else %}p-link--soft{% endif %}" href="/careers/sales">Sales</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == '' %}p-link--active{% else %}p-link--soft{% endif %}" href="/careers/techops">TechOps</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'travel' %}p-link--active{% else %}p-link--soft{% endif %}" href="/careers/travel">Travel</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
