{% extends '/careers/base.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1adoe3jR-_O3EC4LECotKiPo2SsC_Ht5YPTR0wr-BhH0{% endblock meta_copydoc %}

{% block title %}All job roles | Careers{% endblock %}

{% block meta_description %}Canonical publishes Ubuntu, provides commercial services and solutions for Ubuntu, and works with hardware manufacturers, software vendors and public.{% endblock %}

{% block hero %}
  <section class="p-strip--light" style="background: url(https://assets.ubuntu.com/v1/18717572-05_suru2_light_glow_8K_edited.png) 70% bottom; background-size: cover;">
    <div class="u-fixed-width u-sv3">
        <h1 class="u-no-margin--bottom p-heading--2">Open roles</h1>
    </div>
     <div class="row">
        <div class="col-6">
          {% if vacancies %}
           {% include "careers/_search.html" %}
          {% endif %}
        </div>
    </div>
  </section>
{% endblock %}

{% block careers_content %}
  {% include 'partial/_careers-available-roles.html' %}
	<script defer src="{{ versioned_static('js/careers-filter-and-sort.js') }}"></script>
	<script defer src="{{ versioned_static('js/file-validation.js') }}"></script>
{% endblock %}
