{% extends '/careers/base.html' %}

{% block title %}Apply now{% endblock %}

{% block meta_description %}Apply for a role at Canonical.{% endblock %}

{% block hero %}
<section class="p-strip--image is-dark is-deep u-no-padding--top u-no-padding--bottom u-extra-space">
  <div class="p-strip--suru-background">
    <div class="row">
      <div class="col-6">
        <h1>Apply</h1>
      </div>
    </div>
  </div>
</section>
<style>
  .p-strip--suru-background {
    background-image:
      linear-gradient(to bottom right, rgba(74, 24, 60, 0.4) 0%, rgba(74, 24, 60, 0.4) 49.9%, rgba(74, 24, 60, 0) 50%, rgba(74, 24, 60, 0) 100%),
      linear-gradient(to top right, rgba(210, 180, 202, 0) 0%, rgba(210, 180, 202, 0) 49.9%, rgba(210, 180, 202, 0.05) 50%, rgba(210, 180, 202, 0.05) 100%),
      linear-gradient(to top right, #fff 0%, #fff 49%, transparent 50%),
      linear-gradient(140deg, #E95420 0%, #772953 33%, #2C001E 72%);
    background-position: left top, right top, left 101%;
    background-size: 80% 100%, 70% 80%, 110% 20%, 100% 100%;
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
</style>
{% endblock %}

{% block careers_content %}
{% if request.referrer %}
  <div class="row u-sv3">
    <div class="col-12">
      <a href="{{ request.referrer }}">&lsaquo;&nbsp;Back to list</a>
    </div>
  </div>
{% endif %}
<div class="row u-extra-space">
  <div class="col-12">
    <div class="p-card--strip" style="margin-bottom: 0;">
      <h3>Roles applying for:</h3>
      <div class="row u-sv3">
        <div class="col-6 js-vacancies-modal__active-roles">
          {% for role in selectedRoles %}
            <input type="checkbox" name="roles" id="role{{role.id}}" checked>
            <label for="role{{ role.id }}">{{ role.title }}</label>
          {% endfor %}
        </div>
        <div class="col-3">
          <button class="p-button has-icon js-vacancies-modal__open"><i class="p-icon--plus"></i><span>Add more roles</span></button>
        </div>
      </div>
      <hr />
      <form>
        <fieldset style="border: none; margin-bottom: 0;">
          <p class="required-legend u-align-text--right ">Required</p>
          <label for="first_name" class="is-required u-no-padding--top">First name</label>
          <input id="first_name" name="first_name" type="text">

          <label for="last_name" class="is-required">Last name</label>
          <input id="last_name" name="last_name" type="text">

          <label for="email" class="is-required">Email address</label>
          <input id="email" name="email" type="text">

          <label for="phone" class="is-required">Phone</label>
          <input id="phone" name="phone" type="text">

          <label for="location" class="is-required">Location (City)</label>
          <input id="location" name="location" type="text" class="js-location">

          <button type="button" class="js-locate-me">Locate me</button>
          <span class="js-locate-error u-hide" style="color: #c7162b">Location unavailable</span>

          <label for="resume" class="is-required">Upload CV</label>
          <input type="file" id="resume" name="resume" accept=".pdf, .doc, .docx, .txt, .rtf" onchange="return fileValidation()">

          <label for="cover_letter">Cover Letter</label>
          <input type="file" id="cover_letter" name="cover_letter" accept=".pdf, .doc, .docx, .txt, .rtf" onchange="return fileValidation()">

          <hr />

          <div class="education-container">
            <div data-education="0">
              <label for="school-0">School</label>
              <input list="school-0" name="school-0" type="text" class="js-school-0">

              <datalist id="school-0">
              </datalist>

              <label for="degree-0">Degree</label>

              <input list="degree-0" name="degree-0" type="text">
              <datalist id="degree-0">

              </datalist>

              <label for="discipline-0">Discipline</label>
              <input list="discipline-0" name="discipline-0" type="text">

              <datalist id="discipline-0">
              </datalist>

              <div class="p-form--inline">
                <div class="p-form__group">
                  <label class="p-form__label">Start date</label>
                  <div class="p-form__control u-clearfix">
                    <input placeholder="MM" id="start-month-0" name="start-month-0" type="text" class="p-form__control">
                  </div>
                  <div class="p-form__control u-clearfix">
                    <input placeholder="YYYY" id="start-year-0" name="start-year-0" type="text" class="p-form__control">
                  </div>
                </div>
              </div>
              <div class="p-form--inline">
                <div class="p-form__group">
                  <label class="p-form__label">End date</label>
                  <div class="p-form__control u-clearfix">
                    <input placeholder="MM" id="end-month-0" name="end-month-0" type="text" class="p-form__control">
                  </div>
                  <div class="p-form__control u-clearfix">
                    <input placeholder="YYYY" id="end-year-0" name="end-year-0" type="text" class="p-form__control">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button type="button" class="p-button has-icon js-add-education"><i class="p-icon--plus"></i> <span>Add another education</span></button>

          <hr />

          <label for="github">Github profile</label>
          <input type="text" id="github" name="github">
          <label for="linkedin">LinkedIn profile</label>

          <input type="text" id="linkedin" name="linkedin">
          <label for="website">Website</label>

          <input type="text" id="website" name="website">
          <label for="answer" class="is-required">How did you hear about this job?</label>

          <input type="text" id="answer" name="answer">

          <hr style="margin: 1rem 0;" />

          <button type="submit" class="u-no-margin-bottom">Submit Application</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>

{% include 'careers/_vacancies-modal.html' %}

<script async defer src="/static/js/file-validation.js"></script>
<script async defer src="/static/js/apply-for-jobs.js"></script>

<style>
  label::before {
    background-color: #fff;
  }
</style>
{% endblock %}
