{% extends 'base_index.html' %} {% block content %}

<section class="p-strip--suru-light-grey">
  <div class="u-fixed-width">
    <h1 class="u-no-margin--bottom">Careers | {{ department.name }}</h1>
  </div>
</section>

<section class="p-strip u-extra-space">
  <div class="row">
    {% include 'partial/_careers-navigation.html' %}
    <div class="col-8 col-medium-4 col-start-large-5">
      {% if message %}
      <div class="row">
        <div class="col-8">
          <div class="p-notification--{{message.type}}">
            <p class="p-notification__content">
              <span class="p-notification__title">{{message.title}}:&nbsp;</span>{{message.text}}
            </p>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="p-tabs">
        <div class="p-tabs__list" role="tablist">
          <div class="p-tabs__item">
            <button href="#available-roles" class="p-tabs__link"  role="tab" aria-controls="available-roles" id="available-role-tab" aria-selected="true">Available roles</button>
          </div>
          <div class="p-tabs__item">
            <button href="#overview" class="p-tabs__link" tabindex="-1" role="tab" aria-controls="overview" id="overview-tab" aria-selected="false">Department overview</button>
          </div>
        </div>

        <div class="p-strip p-tabs__content is-shallow u-extra-space u-no-padding--top" id="available-roles" tabindex="0" role="tabpanel" aria-labelledby="available-roles">
          {% include 'partial/_careers-available-roles.html' %}
        </div>

        <div class="p-strip p-tabs__content is-shallow u-extra-space" id="overview" tabindex="0" role="tabpanel" aria-labelledby="overview" hidden="true">
          {% block overview %}{% endblock %}
        </div>

      </div>

    </div>
  </div>
</section>

<script defer src="/static/js/careers-filter-and-sort.js"></script>
<script defer src="/static/js/apply-for-jobs.js"></script>
<script defer src="/static/js/file-validation.js"></script>
<script defer src="/static/js/tabs.js"></script>

{% endblock %}
