{% extends 'base_index.html' %} {% block content %}

{% block extra_metatags %}
  <link rel="alternate" type="application/rss+xml"  href="/careers/feed" title="All job roles | Canonical Careers">
{% endblock %}

{% block hero %}{% endblock %}

<section class="p-strip u-extra-space">
  <div class="row">
    {% if "results" not in request.url  %}
      {% include 'partial/_careers-navigation.html' %}
    {% endif %}
    <div class="col-9 col-medium-4">
      {% block careers_content %}{% endblock %}
    </div>
  </div>
</section>

{% endblock %}
