{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1JEJaOghggrocxnRCoTrJMCg_z_xD9n6xBSnovcX3HMg/edit{% endblock %}

{% block title %}Find your perfect career{% endblock %}

{% block meta_description %}What kind of excellent are you? Pick five of your strengths and ambitions and we will find the best Canonical careers for you.{% endblock %}

{% block meta_image %}https://assets.ubuntu.com/v1/531968f9-canonical-careers-start-social.png{% endblock %}


{% block content %}
  <section class="p-strip">
    <div class="row">
      <div class="col-6">
        <h1 class="u-align-text--center">What kind of excellent are you?</h1>
      </div>
      <div class="col-6">
        <h2 class="p-heading--4 u-align-text--center u-sv3 u-text--muted">Choose 5 that best describe your strengths and ambition</h2>
        <div class="row js-selected-skills" style="grid-gap: .5px;">
          <div class="col-small-1 col-medium-1 col-1 selected-skills" id="selected-1"></div>
          <div class="col-small-1 col-medium-1 col-1 selected-skills" id="selected-2"></div>
          <div class="col-small-1 col-medium-1 col-1 selected-skills" id="selected-3"></div>
          <div class="col-small-1 col-medium-1 col-1 selected-skills" id="selected-4"></div>
          <div class="col-small-1 col-medium-1 col-1 selected-skills" id="selected-5"></div>
        </div>
        <button class="p-button--positive js-submit-button" style="margin-top: 2rem;" disabled="true">Submit choices</button>
        <p>Or, <a href="/careers/all">see all available roles.</a></p>
      </div>
    </div>

    <div class="row u-extra-space js-skills " style="grid-gap: 0;">
    </div>
  </section>
  <style>
    .p-strip--suru-background {
      background-image:
        linear-gradient(140deg, #E95420 0%, #772953 33%, #2C001E 72%);
      background-size: cover;
      color: #fff;
      padding-bottom: 6rem;
      padding-top: 6rem;
    }
    @media (min-width: 360px) and (max-width: 620px) {
      .row.js-selected-skills .col-medium-3 {
        grid-column: auto/span 2
      }
    }
  </style>
  <script defer src="{{ versioned_static('js/careers-game.js') }}"></script>
{% endblock %}
