{% extends 'base.html' %} {% block content %}

{% block hero %}{% endblock %}

<section class="p-strip u-extra-space">
  <div class="row">
    <div class="col-3 u-hide--small">
      <div class="p-content-list">
        <ul class="p-content-list-section" style="font-size: 1.1rem;">
          <li class="p-content-list-section__item js-navigation-link">
            <a href="/careers/engineering" class="p-link--soft">Engineering</a>
          </li>
          <li class="p-content-list-section__item js-navigation-link">
            <a href="/careers/tech-ops" class="p-link--soft">Tech-ops</a>
          </li>
          <li class="p-content-list-section__item js-navigation-link">
            <a href="/careers/commercial-ops" class="p-link--soft">Commercial-ops</a>
          </li>
          <li class="p-content-list-section__item js-navigation-link">
            <a href="/careers/sales" class="p-link--soft">Sales</a>
          </li>
          <li class="p-content-list-section__item js-navigation-link">
            <a href="/careers/marketing" class="p-link--soft">Marketing</a>
          </li>
          <li class="p-content-list-section__item js-navigation-link">
            <a href="/careers/design" class="p-link--soft">Design</a>
          </li>
          <li class="p-content-list-section__item js-navigation-link">
            <a href="/careers/project-management" class="p-link--soft">Project Management</a>
          </li>
          <li class="p-content-list-section__item js-navigation-link">
            <a href="/careers/finance" class="p-link--soft">Finance</a>
          </li>
          <li class="p-content-list-section__item js-navigation-link">
            <a href="/careers/legal" class="p-link--soft">Legal</a>
          </li>
          <li class="p-content-list-section__item js-navigation-link">
            <a href="/careers/admin" class="p-link--soft">Admin</a>
          </li>
          <li class="p-content-list-section__item js-navigation-link">
            <a href="/careers/hr" class="p-link--soft">HR</a>
          </li>
        </ul>
        <ul class="p-content-list-section">
          <li class="p-content-list-section__item js-navigation-link">
            <a href="/careers/lifestyle" class="p-link--soft">Lifestyle</a>
          </li>
          <li class="p-content-list-section__item js-navigation-link">
            <a href="/careers/ethics" class="p-link--soft">Ethics</a>
          </li>
          <li class="p-content-list-section__item js-navigation-link">
            <a href="/careers/travel" class="p-link--soft">Travel</a>
          </li>
          <li class="p-content-list-section__item js-navigation-link">
            <a href="/careers/progression" class="p-link--soft">Progression</a>
          </li>
          <li class="p-content-list-section__item js-navigation-link">
            <a href="/careers/diversity" class="p-link--soft">Diversity</a>
          </li>
        </ul>
        <ul class="p-content-list-section">
          <li class="p-content-list-section__item js-navigation-link">
            <a href="/careers/all" class="p-link--soft">All roles</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-3 u-hide--medium u-hide--large">
      <select name="menu" onchange="location.href=this.value">
        <option disabled="disabled" value="" selected="">Go to...</option>
        <option value="/careers/engineering">Engineering</option>
        <option value="/careers/tech-ops">Tech-ops</option>
        <option value="/careers/commercial-ops">Commercial-ops</option>
        <option value="/careers/sales">Sales</option>
        <option value="/careers/marketing">Marketing</option>
        <option value="/careers/design">Design</option>
        <option value="/careers/project-management">Project Management</option>
        <option value="/careers/finance">Finance</option>
        <option value="/careers/legal">Legal</option>
        <option value="/careers/admin">Admin</option>
        <option value="/careers/hr">HR</option>
        <option value="/careers/lifestyle">Lifestyle</option>
        <option value="/careers/ethics">Ethics</option>
        <option value="/careers/travel">Travel</option>
        <option value="/careers/progression">Progression</option>
        <option value="/careers/diversity">Diversity</option>
        <option value="/careers/all">ALL</option>
      </select>
    </div>
    <div class="col-9 col-start-large-5">
      {% if (request.path != "/careers/lifestyle" and request.path != "/careers/ethics" and request.path != "/careers/travel" and request.path != "/careers/progression" and request.path != "/careers/diversity") %}
      <div class="row">
        <div class="col-12">
          <nav class="p-tabs">
            <ul class="p-tabs__list" role="tablist">
              <li class="p-tabs__item" role="presentation">
                <a href="#overview" class="p-tabs__link" tabindex="0" role="tab" aria-controls="overview"
                  aria-selected="true">Overview</a>
              </li>
              <li class="p-tabs__item" role="presentation">
                <a href="#available-roles" class="p-tabs__link" tabindex="-1" role="tab"
                  aria-controls="available-roles">Available roles</a>
              </li>
              <li class="p-tabs__item" role="presentation">
                <a href="#send-cv" class="p-tabs__link" tabindex="-1" role="tab" aria-controls="send-cv">Send your
                  CV</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      {% endif %}

      {% block overview %}{% endblock %}

      <div class="p-strip is-shallow u-extra-space tab-content u-hide" id="available-roles">
        <div class="row u-vertically-center">
          <div class="col-3">
            <small class="p-form-help-text u-sv2">Select the role(s) you are interested in and apply once to them all.</small>
          </div>
          <div class="col-6">
            <form action="" method="get" class="p-form p-form--inline">
              <div class="p-form__group">
                <label for="full-name-inline" aria-label="Filter the resources by type" class="p-form__label">Filter by</label>
                <select class="js-submit-on-change p-form__control" name="content" aria-label="Filter by content type">
                  <option value="">All</option>
                  <option value="">Home based</option>
                  <option value="">Office based</option>
                  <option value="">Management</option>
                  <option value="">Senior roles</option>
                  <option value="">Full-time</option>
                  <option value="">Part-time</option>
                </select>
              </div>
              <div class="p-form__group">
                <label for="full-name-inline" aria-label="Filter the resources by type" class="p-form__label">Sort by</label>
                <select class="js-submit-on-change p-form__control" name="content" aria-label="Filter by content type">
                  <option value="">Date</option>
                  <option value="">Home based</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <form action="">
              <ul class="p-list--divided">
              {% for job in vacancies %}
                <li class="p-list__item">
                  <p class="u-no-margin--bottom u-sv1"><small style="padding-left: 2rem;">{{ job.location }}</small></p>
                  <input type="checkbox" name="roles" id="{{ job.id }}"/>
                  <label class="p-checkbox-label--h2 u-no-padding--top" for="{{ job.id }}">
                    <h2 class="u-no-margin--bottom u-sv1"><a class="p-link--soft" href="{{request.path}}/{{ job.id }}">{{ job.title }}&nbsp;&rsaquo;</a></h2>
                    <p class="u-sv3">{{ "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lorem felis, elementum sit amet maximus quis, consequat elementum tortor. Sed molestie imperdiet pretium."|truncate(130)}}</p>
                  </label>
                </li>
              {% endfor %}
              </ul>
              <hr />
              <button type="submit">Apply now</button>
            </form>
          </div>
        </div>
      </div>

      <div class="p-strip is-shallow u-extra-space tab-content u-hide" id="send-cv">
        <div class="row">
          <div class="col-12">
            <h2>Can't find the ideal role for you?</h2>
            <p>Don't worry if you can't find the a role that fits you, send us your CV and we'll keep it on file to match any future roles to your skills to see if we can get a great match.</p>
            <form>
              <fieldset style="border: none;">
                <p class="required-legend u-align-text--right ">Required</p>
                <label for="list-input-1" class="is-required u-no-padding--top">First name</label>
                <input placeholder="" id="list-input-1" type="text">
                <label for="list-input-2" class="is-required">Last name</label>
                <input placeholder="" id="list-input-2" type="text">
                <label for="list-input-3" class="is-required">Email address</label>
                <input placeholder="" id="list-input-3" type="text">
                <label for="list-input-4">Phone</label>
                <input placeholder="" id="list-input-3" type="text">
                <label for="countrySelect">Country</label>
                <select name="countrySelect" id="countrySelect">
                  <option value="" disabled="disabled" selected="">Select...</option>
                  <option value="FR">France</option>
                  <option value="DE">Germany</option>
                  <option value="JP">Japan</option>
                  <option value="GB">United Kingdom</option>
                  <option value="US">United States of America</option>
                  <option value="------">------</option>
                  <option value="AF">Afghanistan</option>
                  <option value="AX">Åland Islands</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AS">American Samoa</option>
                  <option value="AD">Andorra</option>
                  <option value="AO">Angola</option>
                  <option value="AI">Anguilla</option>
                  <option value="AQ">Antarctica</option>
                  <option value="AG">Antigua and Barbuda</option>
                  <option value="AR">Argentina</option>
                  <option value="AM">Armenia</option>
                  <option value="AW">Aruba</option>
                  <option value="AU">Australia</option>
                  <option value="AT">Austria</option>
                  <option value="AZ">Azerbaijan</option>
                  <option value="BS">Bahamas</option>
                  <option value="BH">Bahrain</option>
                  <option value="BD">Bangladesh</option>
                  <option value="BB">Barbados</option>
                  <option value="BY">Belarus</option>
                  <option value="BE">Belgium</option>
                  <option value="BZ">Belize</option>
                  <option value="BJ">Benin</option>
                  <option value="BM">Bermuda</option>
                  <option value="BT">Bhutan</option>
                  <option value="BO">Bolivia (Plurinational State of)</option>
                  <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                  <option value="BA">Bosnia and Herzegovina</option>
                  <option value="BW">Botswana</option>
                  <option value="BV">Bouvet Island</option>
                  <option value="BR">Brazil</option>
                  <option value="IO">British Indian Ocean Territory</option>
                  <option value="BN">Brunei Darussalam</option>
                  <option value="BG">Bulgaria</option>
                  <option value="BF">Burkina Faso</option>
                  <option value="BI">Burundi</option>
                  <option value="KH">Cambodia</option>
                  <option value="CM">Cameroon</option>
                  <option value="CA">Canada</option>
                  <option value="CV">Cabo Verde</option>
                  <option value="KY">Cayman Islands</option>
                  <option value="CF">Central African Republic</option>
                  <option value="TD">Chad</option>
                  <option value="CL">Chile</option>
                  <option value="CN">China</option>
                  <option value="CX">Christmas Island</option>
                  <option value="CC">Cocos (Keeling) Islands</option>
                  <option value="CO">Colombia</option>
                  <option value="KM">Comoros</option>
                  <option value="CG">Congo</option>
                  <option value="CD">Congo (Democratic Republic of the)</option>
                  <option value="CK">Cook Islands</option>
                  <option value="CR">Costa Rica</option>
                  <option value="CI">Côte d'Ivoire</option>
                  <option value="HR">Croatia</option>
                  <option value="CU">Cuba</option>
                  <option value="CW">Curaçao</option>
                  <option value="CY">Cyprus</option>
                  <option value="CZ">Czech Republic</option>
                  <option value="DK">Denmark</option>
                  <option value="DJ">Djibouti</option>
                  <option value="DM">Dominica</option>
                  <option value="DO">Dominican Republic</option>
                  <option value="EC">Ecuador</option>
                  <option value="EG">Egypt</option>
                  <option value="SV">El Salvador</option>
                  <option value="GQ">Equatorial Guinea</option>
                  <option value="ER">Eritrea</option>
                  <option value="EE">Estonia</option>
                  <option value="ET">Ethiopia</option>
                  <option value="FK">Falkland Islands (Malvinas)</option>
                  <option value="FO">Faroe Islands</option>
                  <option value="FJ">Fiji</option>
                  <option value="FI">Finland</option>
                  <option value="FR">France</option>
                  <option value="GF">French Guiana</option>
                  <option value="PF">French Polynesia</option>
                  <option value="TF">French Southern Territories</option>
                  <option value="GA">Gabon</option>
                  <option value="GM">Gambia</option>
                  <option value="GE">Georgia</option>
                  <option value="DE">Germany</option>
                  <option value="GH">Ghana</option>
                  <option value="GI">Gibraltar</option>
                  <option value="GR">Greece</option>
                  <option value="GL">Greenland</option>
                  <option value="GD">Grenada</option>
                  <option value="GP">Guadeloupe</option>
                  <option value="GU">Guam</option>
                  <option value="GT">Guatemala</option>
                  <option value="GG">Guernsey</option>
                  <option value="GN">Guinea</option>
                  <option value="GW">Guinea-Bissau</option>
                  <option value="GY">Guyana</option>
                  <option value="HT">Haiti</option>
                  <option value="HM">Heard Island and McDonald Islands</option>
                  <option value="VA">Holy See</option>
                  <option value="HN">Honduras</option>
                  <option value="HK">Hong Kong</option>
                  <option value="HU">Hungary</option>
                  <option value="IS">Iceland</option>
                  <option value="IN">India</option>
                  <option value="ID">Indonesia</option>
                  <option value="IR">Iran (Islamic Republic of)</option>
                  <option value="IQ">Iraq</option>
                  <option value="IE">Ireland</option>
                  <option value="IM">Isle of Man</option>
                  <option value="IL">Israel</option>
                  <option value="IT">Italy</option>
                  <option value="JM">Jamaica</option>
                  <option value="JP">Japan</option>
                  <option value="JE">Jersey</option>
                  <option value="JO">Jordan</option>
                  <option value="KZ">Kazakhstan</option>
                  <option value="KE">Kenya</option>
                  <option value="KI">Kiribati</option>
                  <option value="KP">Korea (Democratic People's Republic of)</option>
                  <option value="KR">Korea (Republic of)</option>
                  <option value="KW">Kuwait</option>
                  <option value="KG">Kyrgyzstan</option>
                  <option value="LA">Lao People's Democratic Republic</option>
                  <option value="LV">Latvia</option>
                  <option value="LB">Lebanon</option>
                  <option value="LS">Lesotho</option>
                  <option value="LR">Liberia</option>
                  <option value="LY">Libya</option>
                  <option value="LI">Liechtenstein</option>
                  <option value="LT">Lithuania</option>
                  <option value="LU">Luxembourg</option>
                  <option value="MO">Macao</option>
                  <option value="MK">Macedonia (the former Yugoslav Republic of)</option>
                  <option value="MG">Madagascar</option>
                  <option value="MW">Malawi</option>
                  <option value="MY">Malaysia</option>
                  <option value="MV">Maldives</option>
                  <option value="ML">Mali</option>
                  <option value="MT">Malta</option>
                  <option value="MH">Marshall Islands</option>
                  <option value="MQ">Martinique</option>
                  <option value="MR">Mauritania</option>
                  <option value="MU">Mauritius</option>
                  <option value="YT">Mayotte</option>
                  <option value="MX">Mexico</option>
                  <option value="FM">Micronesia (Federated States of)</option>
                  <option value="MD">Moldova (Republic of)</option>
                  <option value="MC">Monaco</option>
                  <option value="MN">Mongolia</option>
                  <option value="ME">Montenegro</option>
                  <option value="MS">Montserrat</option>
                  <option value="MA">Morocco</option>
                  <option value="MZ">Mozambique</option>
                  <option value="MM">Myanmar</option>
                  <option value="NA">Namibia</option>
                  <option value="NR">Nauru</option>
                  <option value="NP">Nepal</option>
                  <option value="NL">Netherlands</option>
                  <option value="NC">New Caledonia</option>
                  <option value="NZ">New Zealand</option>
                  <option value="NI">Nicaragua</option>
                  <option value="NE">Niger</option>
                  <option value="NG">Nigeria</option>
                  <option value="NU">Niue</option>
                  <option value="NF">Norfolk Island</option>
                  <option value="MP">Northern Mariana Islands</option>
                  <option value="NO">Norway</option>
                  <option value="OM">Oman</option>
                  <option value="PK">Pakistan</option>
                  <option value="PW">Palau</option>
                  <option value="PS">Palestine, State of</option>
                  <option value="PA">Panama</option>
                  <option value="PG">Papua New Guinea</option>
                  <option value="PY">Paraguay</option>
                  <option value="PE">Peru</option>
                  <option value="PH">Philippines</option>
                  <option value="PN">Pitcairn</option>
                  <option value="PL">Poland</option>
                  <option value="PT">Portugal</option>
                  <option value="PR">Puerto Rico</option>
                  <option value="QA">Qatar</option>
                  <option value="RE">Réunion</option>
                  <option value="RO">Romania</option>
                  <option value="RU">Russian Federation</option>
                  <option value="RW">Rwanda</option>
                  <option value="BL">Saint Barthélemy</option>
                  <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                  <option value="KN">Saint Kitts and Nevis</option>
                  <option value="LC">Saint Lucia</option>
                  <option value="MF">Saint Martin (French part)</option>
                  <option value="PM">Saint Pierre and Miquelon</option>
                  <option value="VC">Saint Vincent and the Grenadines</option>
                  <option value="WS">Samoa</option>
                  <option value="SM">San Marino</option>
                  <option value="ST">Sao Tome and Principe</option>
                  <option value="SA">Saudi Arabia</option>
                  <option value="SN">Senegal</option>
                  <option value="RS">Serbia</option>
                  <option value="SC">Seychelles</option>
                  <option value="SL">Sierra Leone</option>
                  <option value="SG">Singapore</option>
                  <option value="SX">Sint Maarten (Dutch part)</option>
                  <option value="SK">Slovakia</option>
                  <option value="SI">Slovenia</option>
                  <option value="SB">Solomon Islands</option>
                  <option value="SO">Somalia</option>
                  <option value="ZA">South Africa</option>
                  <option value="GS">South Georgia and the South Sandwich Islands</option>
                  <option value="SS">South Sudan</option>
                  <option value="ES">Spain</option>
                  <option value="LK">Sri Lanka</option>
                  <option value="SD">Sudan</option>
                  <option value="SR">Suriname</option>
                  <option value="SJ">Svalbard and Jan Mayen</option>
                  <option value="SZ">Swaziland</option>
                  <option value="SE">Sweden</option>
                  <option value="CH">Switzerland</option>
                  <option value="SY">Syrian Arab Republic</option>
                  <option value="TW">Taiwan</option>
                  <option value="TJ">Tajikistan</option>
                  <option value="TZ">Tanzania, United Republic of</option>
                  <option value="TH">Thailand</option>
                  <option value="TL">Timor-Leste</option>
                  <option value="TG">Togo</option>
                  <option value="TK">Tokelau</option>
                  <option value="TO">Tonga</option>
                  <option value="TT">Trinidad and Tobago</option>
                  <option value="TN">Tunisia</option>
                  <option value="TR">Turkey</option>
                  <option value="TM">Turkmenistan</option>
                  <option value="TC">Turks and Caicos Islands</option>
                  <option value="TV">Tuvalu</option>
                  <option value="UG">Uganda</option>
                  <option value="UA">Ukraine</option>
                  <option value="AE">United Arab Emirates</option>
                  <option value="GB">United Kingdom</option>
                  <option value="US">United States of America</option>
                  <option value="UM">United States Minor Outlying Islands</option>
                  <option value="UY">Uruguay</option>
                  <option value="UZ">Uzbekistan</option>
                  <option value="VU">Vanuatu</option>
                  <option value="VE">Venezuela (Bolivarian Republic of)</option>
                  <option value="VN">Viet Nam</option>
                  <option value="VG">Virgin Islands (British)</option>
                  <option value="VI">Virgin Islands (U.S.)</option>
                  <option value="WF">Wallis and Futuna</option>
                  <option value="EH">Western Sahara</option>
                  <option value="YE">Yemen</option>
                  <option value="ZM">Zambia</option>
                  <option value="ZW">Zimbabwe</option>
                </select>
                <label for="exampleInputFile">Upload CV</label>
                <input type="file" id="exampleInputFile">
                <textarea id="textarea" rows="3" placeholder="Tell us what type of role you are looking for"></textarea>
                <input type="checkbox" id="CheckMe">
                <label for="CheckMe">I agree to receive information about Canonical’s products and services.</label>
                <button type="submit">Send now</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  var tabLinks = document.querySelectorAll(".p-tabs__link");
  tabLinks.forEach(function (tabLink) {
    tabLink.addEventListener("click", function (e) {
      e.preventDefault();
      tabLinks.forEach(function (tab) {
        tab.setAttribute("aria-selected", false);
      });
      e.target.setAttribute("aria-selected", true);
      var control = tabLink.getAttribute("aria-controls");
      document.querySelectorAll(".tab-content").forEach(function (tab) {
        tab.classList.add("u-hide");
      });
      document.getElementById(control).classList.remove("u-hide");
    });
  });

  var path = window.location.pathname.split("/").pop();
  navigationLinks = document.querySelectorAll(".js-navigation-link");
  navigationLinks.forEach(function (link) {
    if (link.firstElementChild.href.split("/").pop() === path) {
      link.classList.add("is-active");
    }
  })
</script>


{% endblock %}