{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1JEJaOghggrocxnRCoTrJMCg_z_xD9n6xBSnovcX3HMg/edit{% endblock %}

{% block title %}Find your perfect career{% endblock %}

{% block meta_description %}What kind of excellent are you? Pick five of your strengths and ambitions and we will find the best Canonical careers for you.{% endblock %}

{% block meta_image %}https://assets.ubuntu.com/v1/531968f9-canonical-careers-start-social.png{% endblock %}

{% block content %}
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
  <script defer src="{{ versioned_static('js/dist/careerExplorer.js') }}"></script>
{% endblock %}
