{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1zLFku18ZAMVStgkIO3bCoKEXW6ShwMEkB0w9d_nCx9U{% endblock meta_copydoc %}

{% block title %}Commercial Operations | Careers{% endblock %}

{% block meta_description %}Excellence in operations enables Canonical to scale efficiently. We look for people who are passionate about tools and efficiency.{% endblock %}
{% block body_class %}is-paper{% endblock body_class %}
{% block content %}
{% with 
    department=department,
    claim="Canonical is a globally distributed company with customers and employees in almost every country. Excellence in commercial operations helps us scale efficiently &ndash; and thrive as we do. We celebrate relentless improvement. Our team members are passionate about tools and efficiency, focused on measurement, and always ready to lend a helping hand.",
    fast_track_jobs=fast_track_jobs,
    block_1_subheading='Commercial operations at Canonical',
    block_1_text=["At Canonical, we don't just run a great business, we run the infrastructure and applications that power many great businesses. From IT to commercial operations and logistics, our Commercial Operations team ensures that everything runs smoothly. For us, getting it done right is the best feeling in the world. No shortcuts, no loose ends, no waste."],
    image_url='https://assets.ubuntu.com/v1/a93df5b0-department-operations-%402x.jpg',
    image_width="1500",
    image_height="564",
    block_2_heading="Projects you'll work on",
    block_2_text=["We believe it's only possible to operate with mastery if you understand your domain deeply, prioritise re-use and iteration, and bring a sharp mind to every problem. That’s why we invest in improving our data and tools to elevate our self-awareness and automate processes."],
    block_3_subheading="Who you are",
    block_3_text=["Whether it's running complex technical infrastructure or challenging projects, successful operations team members at Canonical have a consistent focus on data, a willingness to learn, and exceptional personal organisation and teamwork. This combination makes our team a force for good in the battle against entropy. You'll thrive in our team if you find time zones easy and if technical customers are your favourite."],
    blog_heading_topic='Commercial Operations',
    blog_tag_id='3819'
  %}
  {% include "careers/_base-department.html" %}
{% endwith %}
{% endblock content %}
