{% extends '/careers/careers_base.html' %}

{% block hero %}
  <section class="p-strip--image is-dark is-deep u-no-padding--top u-no-padding--bottom u-extra-space">
    <div class="p-strip--suru-background">
      <div class="row">
        <div class="col-6">
          <h1>Commercial-ops</h1>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block overview_tab %}
  <div class="p-strip is-shallow u-extra-space tab-content" id="overview">
    <hr />
    <p class="p-muted-heading">
      <span style="text-transform: capitalize">Europe&nbsp;&#124;&nbsp;Middle East&nbsp;&#124;&nbsp;Africa&nbsp;&#124;&nbsp;Americas&nbsp;&#124;&nbsp;APAC</span>
    </p>
    <a href="#available-roles">Apply now&nbsp;&rsaquo;</a>
  </div>
{% endblock %}
