{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1pNyOXfR07FiBr6TmEMRdB7NZUB5SeBz6COuSxO3ylC0{% endblock meta_copydoc %}

{% block title %}Careers{% endblock %}

{% block meta_description %}Canonical publishes Ubuntu, provides commercial services and solutions for Ubuntu, and works with hardware manufacturers, software vendors and public clouds to certify Ubuntu.{% endblock %}

{% block content %}
<section class="p-strip--light is-deep">
  <div class="row">
    <div class="col-7">
      <h1 class="p-heading--2">Departments at Canonical</h1>
    </div>
    <div class="col-5">
      <p>Life at Canonical is anything but corporate. As a company that exists to support Ubuntu, one of today's most important open source projects, we are changing the world on a daily basis. It’s a collaborative environment, but one in which every member of the team takes personal responsibility for everything they produce.</p>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row">
    <div class="col-4">
      <h2>Engineering</h2>
      <p>Open source is transforming the entire stack. This is your chance to be right at the center of that revolution, to shape the platforms and tools that millions use to invent our global technology future. From bare metal to cloud to high performance computing, from AI and big data to the web and connected devices, open source is the key ingredient for success.</p>
      <a>Read more about Engineering</a>
    </div>
    <div class="col-4">
      <h2>Support Engineer</h2>
      <p>Getting it done right and solving tough technical challenges are the best feelings in the world. Whether it's running complex technical infrastructure or challenging projects, your consistent focus on technology, organisation and teamwork means you're a force for good in the battle against entropy. Time zones are easy and technical customers are your favourite.</p>
      <a>Read more about Suppory Engineering</a>
    </div>
    <div class="col-4">
      <h2>Finance</h2>
      <p>Finance at Canonical isn't just about numbers. It's about connecting with people across the business, helping them to understand the value they bring, as well as promoting the commercial focus that will grow our brand.</p>
      <a>Read more about Finance</a>
    </div>
    <div class="p-strip is-shallow">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h2>Product Management</h2>
      <p>Project Managers at Canonical are engaged during all phases of the project, from pre-sales support, to delivery to handoff of complete projects to support or managed services. Project managers create, manage, and maintain project specific schedules ensuring projects are delivered within time/resources/scope expectations.</p>
      <a>Read more about Product Management</a>
    </div>
    <div class="col-4">
      <h2>Web and Design</h2>
      <p>Crafts, defines and develops the user-experience in the form of a design system that supports sophisticated technical specialists across a wide range of industries. We design and build all web interfaces, complex web apps and support Ubuntu itself. With a key focus on accessibility and performance.</p>
      <a>Read more about Web and Design</a>
    </div>
    <div class="col-4">
      <h2>Marketing</h2>
      <p>We deliver the right technology message to a highly competent audience, at exactly the right moment. Success depends on having good instincts for tech trends and topics and a natural inclination to leadership.</p>
      <a>Read more about Marketing</a>
    </div>
    <div class="p-strip is-shallow">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h2>Project Management</h2>
      <p>The EPMO practice at Canonical is a central capability spearheading Canonical's Execution Excellence Strategy. EPMO project and program managers lead the delivery of a wide variety of projects ranging from commercial customer projects, like enablement of Ubuntu on new hardware and the delivery of complex private clouds, to internal Canonical strategic projects and programs. We are looking for continuous learners who are passionate about project management and technology.</p>
      <a>Read more about Project Management</a>
    </div>
    <div class="col-4">
      <h2>Sales</h2>
      <p>You build long term relationships and you always promote the approach that is in the customers best interests. You are interested in the state of the art, you love to represent a company that knows how to transform customer operations.</p>
      <a>Read more about Sales</a>
    </div>
    <div class="col-4">
      <h2>Operations</h2>
      <p>Excellence in operations enables Canonical to scale efficiently. Our core operations - from IT to commercial operations or logistics &ndash; is central to the idea that we can be an effective global distributed company serving advanced customers in every geography. We celebrate relentless improvement. We look for people who are passionate about tools and efficiency.</p>
      <a>Read more about Operations</a>
    </div>
    <div class="p-strip is-shallow">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h2>Legal</h2>
      <p>Canonical works at the forefront of global digital trends and the legal, licensing and regulatory frameworks that support them. We are a tight-knit team of professionals that enjoy playing a part in the rapid change.</p>
      <a>Read more about Legal</a>
    </div>
    <div class="col-4">
      <h2>Admin</h2>
      <p>Canonical is a completely new kind of organisation &ndash; almost entirely distributed, we are a global team of technology leaders who collaborate online to enable the transformation of enterprise software to open source.</p>
      <a>Read more about Admin</a>
    </div>
    <div class="col-4">
      <h2>Human Resources</h2>
      <p>People are our greatest differentiator at Canonical. HR provides a world-class experience to work and operate in a 21st-century digital business. We offer strategic, people-centric solutions for long-term, sustainable success. With a presence in 60+ countries, our diverse team comes with a wide range of personal and professional backgrounds that puts us on the leading edge of remote work.</p>
      <a>Read more about Human Resources</a>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-3">
      <h3 class="p-text--x-small-capitalised u-align-text--x-small-to-default">Join us</h3>
    </div>
    <div class="col-9">
      <p class="p-heading--2">Be part of a company making a difference in every area of open source</p>
      <a class="p-button--positive" href="/careers/all">Search roles</a>
      <a class="p-button" href="/careers/career-explorer">Career explorer</a>
    </div>
  </div>
</section>
{% endblock %}
