{% extends '/careers/careers_base.html' %}

{% block meta_description %}Canonical publishes Ubuntu and provides commercial services and solutions for Ubuntu. The design team works on web applications for enterprise, cloud services and operating system for IoT and embedded devices focusing on current design thinking, technology and innovation.{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1V8SzuqyJEqXAXf_FrobdNn5-OLzTvKWcRlfBXjI9oBo{% endblock meta_copydoc %}

{% block hero %}
  <section class="p-strip--image is-dark is-deep u-no-padding--top u-no-padding--bottom u-extra-space">
    <div class="p-strip--suru-background">
      <div class="row">
        <div class="col-6">
          <h1>Web & design</h1>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block overview_tab %}
  <div class="p-strip is-shallow u-extra-space tab-content" id="overview">
    <p><strong>Canonical and Ubuntu are central to modern tech &ndash; from cloud to the internet of things, from the web to mobile back-ends, from development to production.</strong>
    </p>
    <p>
      The design team at Canonical crafts the user-experiences of  sophisticated technical specialists across a wide range of industries and geographies. Canonical delivers Ubuntu, and a range of tools &ndash; for engineers, admins and enterprises &ndash; to help businesses move to an open source stack.
    </p>
    <p>
      Your opportunity is to shape the user experience across the enterprise infrastructure and application operations landscape. There are challenges at every layer of the stack &ndash; from bare metal data center operations, to virtualisation infrastructure and cloud, to the desktop, to systems management, to serverless and embedded connected devices.
    </p>
    <p>
      Canonical designers work on a range of products, using common visual and web frameworks to create consistency of experience across a very wide range of capabilities.
    </p>
    <p>
      Our team, centered in Europe, has  specialists in visual and ux design, and front and back end development. We collaborate, as product design squads, with global distributed development engineering teams. Designers need to be effective working collaboratively in a digital space. We travel to engineering sprints and summits for face to face time.
    </p>
    <p>
      We count on our team to bring together deep design-thinking, technical domain knowledge, with great instincts, through a rigorous process &ndash; to shape products for a very demanding audience. You’ll fit in if you have equal appetites for design, innovation and technology.
    </p>
    <hr />
    <p class="p-muted-heading">
      <span>Emea</span>&nbsp;&#124;&nbsp;<span style="text-transform: capitalize">Americas</span>
    </p>
    <a href="#available-roles">Apply now&nbsp;&rsaquo;</a>
  </div>
{% endblock %}

