{% extends '/careers/careers_base.html' %}

{% block title %}
  <h1>Design</h1>
{% endblock %}

{% block overview %}
  <div class="row">
    <div class="col-12">
      <p>
        Canonical and Ubuntu are central to modern tech - from cloud to the internet of things, from the web to mobile back-ends, from development to production. We count on our design teams to bring together deep domain knowledge with great instincts, teamwork and rigorous process, to shape our products for a very demanding audience.
      </p>
      <p>
        Our customers are sophisticated technical specialists across a very wide range of industries and geographies, focused on cutting edge software development and operations. Canonical delivers Ubuntu and a range of tools - for engineers, admins and enterprises - to help businesses move to an open source stack.
      </p>
      <p>
        Our opportunity is to shape the enterprise infrastructure and application operations landscape. Every layer of the stack is important - from bare metal data center operations, to virtualisation infrastructure and cloud, to the desktop, to systems management, to serverless and embedded connected devices. Our designers work on a range of products, using common visual and web frameworks to create consistency of experience across a very wide range of capabilities.
      </p>
      <p>
        Our team are centered in Europe, covering global distributed development engineering teams, so designers need to be effective working collaboratively in a digital space. We travel to engineering sprints and summits to collaborate with global teams on products and website.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="p-muted-heading">
        <span>Emea</span>&nbsp;&#124;&nbsp;<span style="text-transform: capitalize">Americas</span>
      </p>
      <a href="#">Apply now&nbsp;&rsaquo;</a>
    </div>
  </div>
{% endblock %}

{% block available_roles %}
  <div class="row">
    <div class="col-12 u-align--right">
      <form action="" method="get" class="p-form p-form--inline">
        <div class="p-form__group">
          <label for="full-name-inline" aria-label="Filter the resources by type" class="p-form__label">Filter by</label>
          <select class="js-submit-on-change p-form__control" name="content" aria-label="Filter by content type">
            <option value="">All</option>
            <option value="">Home based</option>
            <option value="">Office based</option>
            <option value="">Management/option>
            <option value="">Senior roles</option>
            <option value="">Full-time</option>
            <option value="">Part-time</option>
          </select>
          <label for="full-name-inline" aria-label="Filter the resources by type" class="p-form__label">Sort by</label>
          <select class="js-submit-on-change p-form__control" name="content" aria-label="Filter by content type">
            <option value="">Date</option>
            <option value="">Home based</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
          
    </div>
  </div>
{% endblock %}
