{% extends '/careers/base.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1L8z8Np75JN2wJa72iVrv-eRFzGiqiGW4HZiD8muPOAQ{% endblock meta_copydoc %}

{% block title %}Diversity | Careers{% endblock %}

{% block meta_description %}Canonical proactively promotes leaders who represent new kinds of diversity, to grow the confidence of colleagues from every walk of life. We seek to create an environment that is welcoming to outstanding technology and business professionals committed to teamwork and open source.{% endblock %}

{% block hero %}
  <section class="p-strip--image is-dark is-deep u-no-padding--top u-no-padding--bottom u-extra-space">
    <div class="p-strip--suru-background">
      <div class="row">
        <div class="col-6">
          <h1>Diversity</h1>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block careers_content %}
  <p>
    <strong>We believe that talent is evenly distributed around the world. No matter where you were born, or what you look like, or how you like to dress, we think you might have the brilliance and the work ethic and the passion for open source that would make you a Canonical candidate.</strong>
  </p>
  <p>
    The diversity in our company is part of our strength. What unifies us isn’t our background or our culture, it’s our vision of the future and our dedication to delivering the best of the future for our customers and our colleagues. We are unified in our pursuit of company and personal excellence in our chosen fields, we are unified in our commitment to teamwork, and we have a common vision of open source as the platform that best empowers innovators in a modern digital society.
  </p>
  <p>
    We believe in affirmative action, because we know it builds confidence in new team members when they can relate to people with similar backgrounds in their workplace. But we also expect people to look beyond the obvious and relate to intrinsic motivation and quality of work, not superficial qualities.
  </p>
{% endblock %}
