{% extends '/careers/careers_base.html' %}

{% block title %}<h1>Engineering</h1>{% endblock %}

{% block overview %}
  <div class="row">
    <div class="col-12">
      <p>
        <strong>Open source is transforming the entire stack. This is your chance to be right at the center of that revolution, to shape the platforms and tools that millions use to invent our global technology future. From bare metal to cloud to high performance computing, from AI and big data to the web and connected devices, open source is the key ingredient for success. Canonical offers the opportunity to work across the entire spectrum.</strong>
      </p>
      <p>
        We publish Ubuntu, the leanest and most efficient open source platform. We care about developer access to the very best of open source, and make it easy to innovate and publish on the cloud, on the desktop, and on smart connected devices for the internet of things. We work across the full range of open source - from the kernel, to applications, from deep system services to the GUI and the web. We care about security, correctness, reliability, performance and efficiency. If you share those values and you have a track record of exceptional software development, this is the place for you.
      </p>
      <p>
        With the flexibility to work from anywhere in the world as long as you are an outstanding and reliable team member, Canonical offers engineering career paths that include technical mastery, leadership, or management. We don’t prescribe your journey - explore different kinds of career development and choose the path that suits you best. We do expect world-leading software quality and personal dedication to the challenges you take on.
      </p>
      <p>
        Engineering at Canonical ranges from deep single-product specialization, to diverse customer-centric field integration, delivery and development, and high-pressure rapid-response to critical situations in our techops team. The right career for you will depend on your interests and aptitudes. If you love the idea of travel and seeing the world, our field engineers work on-site with the world’s best companies to transform their open infrastructure. If you love saving the day, our techops teams fight fires shoulder to shoulder, from security incident response to deep problem analysis and repair. If you love operations, we take a code-first approach to infrastructure and application operations that is raising the bar for the entire industry.
      </p>
      <p>
        We see all of these as engineering roles and we encourage people to build a career that spans diverse aspects of software development and operations. Regardless of your starting point, as long as you are performing well you have the option to progress in any of those roles, or to gain experience in management or technical leadership.
      </p>
      <p>
        Engineering is a calling - it’s a way of thinking, not just a job. You know you will fit in at Canonical if you have consistently sought out the opportunity to write code to solve problems, from the moment you first had access to a PC. You’ll know you  fit in if you have consistently taken on the most difficult mental challenges you could, and shone brightly amongst your peers in doing so. Join us to take that to the next level - the problems we solve enable the world’s fiercest innovators and protect the world’s most critical systems. Canonical is where software engineers make a difference - to every industry and every society.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="p-muted-heading">
        <span style="text-transform: capitalize">Europe&nbsp;&#124;&nbsp;Middle East&nbsp;&#124;&nbsp;Africa&nbsp;&#124;&nbsp;Americas&nbsp;&#124;&nbsp;APAC</span>
      </p>
      <a href="#">Apply now&nbsp;&rsaquo;</a>
    </div>
  </div>
{% endblock %}

{% block available_roles %}

{% endblock %}

{% block send_cv %}

{% endblock %}
