{% extends '/careers/base-tabs.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1R4i26Ov-ccfrXm8uSdSRApxgXDH3HwZVY8qWQqPpIjg{% endblock meta_copydoc %}

{% block title %}Finance{% endblock %}

{% block meta_description %}Finance at Canonical isn’t just about numbers. It’s about connecting with people across the business, helping them to understand the value they bring, as well as promoting the commercial focus that will grow our brand.{% endblock %}


{% block overview %}
  <p><strong>Finance at Canonical isn’t just about numbers. It’s about connecting with people across the business, helping them to understand the value they bring, as well as promoting the commercial focus that will grow our brand.</strong></p>
  <p>
    We fuel growth by devising innovative solutions to complex problems in forecasting, accounting, compliance, and project management. From advising all teams across the business to managing day-to-day data, you’ll help keep our business on track to meet (or, better yet, exceed) our goals.
  </p>
  <p>
    With significant growth and a stated path to public markets, industry&ndash;leading analysis is essential. As part of this we:
  </p>
  <ul class="p-list">
    <li class="p-list__item is-ticked">Translate complex data into actionable insights that drive strategic company decisions, whether modelling business scenarios or tracking performance metrics.</li>
    <li class="p-list__item is-ticked">Manage large-scale projects. Develop and implement insightful strategies that address and solve our complex business needs.</li>
    <li class="p-list__item is-ticked">Protect Canonical by partnering with our business and engineering teams to identify and address risks related to product launches and other initiatives.</li>
    <li class="p-list__item is-ticked">Balance our legal and compliance requirements with our company values and the dynamic needs of our users, along with developing efficient systems to ensure Canonical keeps up with regulations.</li>
  </ul>
  <p>
    The finance team at Canonical offers rapid growth in understanding both industry best practice with analytical excellence. We welcome candidates with an outstanding track record, a commitment to teamwork, and a personal interest in the future of software and the financial frameworks that underpin it.
  </p>
  <hr />
  <p class="p-muted-heading">
    <span style="text-transform: capitalize">Europe&nbsp;&#124;&nbsp;Middle East&nbsp;&#124;&nbsp;Africa&nbsp;&#124;&nbsp;Americas&nbsp;&#124;&nbsp;APAC</span>
  </p>
  <a href="#available-roles">Apply now&nbsp;&rsaquo;</a>
{% endblock %}
