{% extends '/careers/careers_base.html' %}

{% block hero %}
  <section class="p-strip--image is-dark is-deep u-no-padding--top u-no-padding--bottom u-extra-space">
    <div class="p-strip--suru-background">
      <div class="row">
        <div class="col-6">
          <h1>HR</h1>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block overview %}
  <div class="p-strip is-shallow u-extra-space tab-content" id="overview">
    <div class="row">
      <div class="col-12">
        <p><strong>Canonical provides a unique window into the world of 21st-century digital business. We work with smart individuals from a wide range of professional backgrounds in more than 40 countries worldwide, bringing together distinct and diverse perspectives to contribute to the advancement of state-of-the-art technical infrastructure. Our team is united by a passion for open engineering and a commitment to crisp, reliable execution which enables us to exceed our customers’ expectations when it comes to next-generation open source technology.</strong>
        </p>
        <p>
          Our set-up provides a unique challenge for our HR team, who ensure that we operate consistently on a global basis and are compliant with regional and national regulations. If you are interested in finding, coaching, and developing the best talent, Canonical encourages our management team to hire the best person for the job, no matter who they are or where they are located. If you are fascinated by the technical and legal aspects of HR, Canonical will give you the chance to work with teams in multiple jurisdictions, from Asia to the Americas and so many places in between.
        </p>
        <p>
          We pride ourselves on exceptional quality of work and our HR team embody and build that quality within Canonical. Our HR team is central to the development and growth of that capacity and competence. Our commitment to the team is to seek out potential colleagues with the right mix of interests, aptitudes and attitudes, to coach and develop them through a varied career ensuring that they have the right opportunities to learn and the right mix of challenges to suit their interests. Our commitment to the business is to ensure that we operate consistently on a global basis, mindful of the details of regional and national regulations. We are also committed to offering our HR and talent professionals the coaching, learning opportunities, and challenges that will enable them to create a varied and successful career.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="p-muted-heading">
          <span style="text-transform: capitalize">Europe&nbsp;&#124;&nbsp;Americas</span>
        </p>
        <a href="#">Apply now&nbsp;&rsaquo;</a>
      </div>
    </div>
  </div>
{% endblock %}
