{% extends 'careers/base.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1pNyOXfR07FiBr6TmEMRdB7NZUB5SeBz6COuSxO3ylC0{% endblock meta_copydoc %}

{% block title %}Careers{% endblock %}

{% block meta_description %}Canonical publishes Ubuntu, provides commercial services and solutions for Ubuntu, and works with hardware manufacturers, software vendors and public clouds to certify Ubuntu.{% endblock %}

{% block content %}
<!-- StackOverflow ad tracking pixel -->
<script>
  (function() {
  var a = String(Math.floor(Math.random() * 10000000000000000));
  new Image().src = 'https://pubads.g.doubleclick.net/activity;xsp=5024608;ord='+ a +'?';
  })();
</script>
<noscript>
  <img src='https://pubads.g.doubleclick.net/activity;xsp=5024608;ord=1?' width=1 height=1 border=0>
</noscript>

<section class="p-strip--image is-dark is-deep" style="background-image: url(https://assets.ubuntu.com/v1/aebc1742-01_suru2_dark_2K.png); background-position: 100% 55%; background-size: 180%; background-repeat: repeat-x;">
  <div class="row">
    <div class="col-8 col-start-large-4">
      <h1 class="p-heading--2">Make a difference in open source</h1>
      {% if vacancies %}
        {% include "careers/_search.html" %}
      {% endif %}
    </div>
  </div>
</section>

{% if departments_overview %}
<section class="p-strip--light">
  <div class="u-fixed-width">
    <h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default">Departments</h2>
    <hr>
  </div>
  <div class="row">
    {% for dept in departments_overview %}
      <div class="col-3">
        <a class="p-heading--5 u-no-margin--bottom" href="/careers/{{dept.slug}}">{{ dept.name }}</a>
        <p id="{{dept-slug}}-count">{{ dept.count }} roles</p>
      </div>
    {% endfor %}
  </div>
</section>
{% endif %}

<section class="p-strip">
  <div class="row ">
    <div class="col-3">
      <h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default">Our Mission</h2>
    </div>
    <div class="col-9">
      <p class="p-heading--2">Seamless consumption of open source<br class="u-hide--small">across the compute spectrum</p>
      <p>Join an intense global mission &ndash; to deliver the world's best open source experience,<br class="u-hide--small">from platform to application</p>
    </div>
  </div>
</section>

<section class="p-strip is-shallow u-no-padding--bottom">
  <div class="p-strip u-no-padding--top">
    <div class="u-fixed-width u-hide--small u-hide--medium u-sv3">
      {{ image (
        url="https://assets.ubuntu.com/v1/f540ae09-more-real-travel-image.png",
        alt="",
        width="1330",
        height="500",
        hi_def=True,
        loading="lazy",
        ) | safe
      }}
    </div>
    <hr class="is-fixed-width u-no-margin--bottom">
    <div class="row">
      <div class="col-3">
        <h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default">Remote working</h2>
      </div>
      <div class="col-9">
        <p class="p-heading--2">Less commuting, more real travel</p>
        <p>Canonical is uniquely global &ndash; we hire the best open source team, regardless of nationality or language, creed or colour.</p>
      </div>
    </div>
  </div>
</section>

<script defer src="{{ versioned_static('js/careers-filter-and-sort.js') }}"></script>

{% endblock %}
