{% extends 'careers/base.html' %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1o8ind3Zav-kwrUDWgiMJnkw2QLpniKgdlWrw9byIvlE/edit#heading=h.ov7lrxgwh2dv
{% endblock meta_copydoc %}

{% block title %}Canonical Careers{% endblock %}

{% block meta_description %}
  Looking for a career in open source? Be where the cutting edge is established and amplify the impact of open source. Browse careers at Canonical.
{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}
  <!-- StackOverflow ad tracking pixel -->
  <script>
    (function() {
      var a = String(Math.floor(Math.random() * 10000000000000000));
      new Image().src = "https://pubads.g.doubleclick.net/activity;xsp=5024608;ord=" + a + "?";
    })();
  </script>
  <noscript>
    <img src="https://pubads.g.doubleclick.net/activity;xsp=5024608;ord=1?"
         width="1"
         height="1"
         alt=""
         border="0" />
  </noscript>

  <section class="p-section">
    <div class="u-fixed-width">
      <div class="p-breadcrumbs" aria-label="Breadcrumbs">
        <ol class="p-breadcrumbs__items p-text--x-small-capitalised">
          <li class="p-breadcrumbs__item ">Careers</li>
        </ol>
      </div>
      <h1 class="p-text--x-small-capitalised u-off-screen">Careers</h1>
      <hr class="p-rule" />
    </div>
    <div class="row">
      <div class="col-9 col-medium-4 col-start-large-4 col-start-medium-3">
        <div class="p-section--shallow">
          <div class="p-section">
            <h2 class="u-no-margin--bottom">
              <strong>Passionate about open source? </strong>
              <br class="u-hide--small" />
              <span>So are we. Be where the cutting edge is established.</span>
            </h2>
          </div>

          {% if vacancies %}
            {% include "careers/_search.html" %}
          {% endif %}
        </div>
      </div>
      <div class="u-fixed-width u-no-padding u-hide--medium u-hide--small">
        <img src="https://assets.ubuntu.com/v1/7f34ade9-website_suru_25.jpg"
             alt=""
             style="aspect-ratio: 5.1775700934579;
                    width: 100%" />
      </div>
    </div>
  </section>

  {% if departments_overview %}
    <section class="p-section">
      <div class="u-fixed-width">
        <hr class="p-rule" />
      </div>
      <div class="row">
        <div class="col-12 col-medium-2">
          <div class="p-section--shallow">
            <h2 class="p-text--x-small-capitalised">Departments</h2>
          </div>
        </div>
        <div class="col-12 col-medium-4">
          <div class="row">
            {% for dept in departments_overview %}
              {% if dept.count > 0 %}
                <div class="col-3 col-medium-12 col-small-12 p-department-cards__container">
                  <a href="/careers/{{ dept.slug }}" style="text-decoration: none">
                    <div class="p-department-cards__card">
                      <div class="p-department-cards__image-container">
                        <img src="https://assets.ubuntu.com/v1/{{ dept.icon }}"
                             class="p-department-cards__image"
                             alt="" />
                        <strong class="p-department-cards__link">{{ dept.name }}</strong>
                        <br />
                      </div>
                      <div>
                        <span>{{ dept.count }} roles</span>
                      </div>
                    </div>
                    {% if not loop.last %}<hr class="p-rule u-hide--large" />{% endif %}
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

    </section>
  {% endif %}

  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule" />
    </div>

    <div class="p-section--shallow">
      <div class="row">
        <div class="col-3 col-medium-2">
          <div class="p-section--shallow">
            <h2 class="p-text--x-small-capitalised">Our Mission</h2>
          </div>
        </div>
        <div class="col-9 col-medium-4">
          <div class="p-section--shallow">
            <p class="p-heading--2">
              We amplify
              <br class="u-hide--small" />
              the impact of open source
            </p>
          </div>
          <p>
            We help people and organisations tap into the power of open source to develop new products at speed and with confidence. Whether it’s powering up self-driving cars or enabling compute for scientific discovery, we are here to deliver the best open source experience.
          </p>
          <p>Every team member contributes to this mission with a commitment to excellence.</p>
          <div class="p-cta-block">
            <a class="p-button" href="/careers/company-culture">Our work culture</a>
          </div>
        </div>
      </div>
    </div>
    <div class="u-fixed-width">
      <img src="https://assets.ubuntu.com/v1/da3fbf74-summit2022_crowd.png"
           width="100%"
           alt="Canonical employees at Ubuntu Summit 2022" />
    </div>
  </section>

  <section class="p-section--deep">
    <div class="u-fixed-width">
      <hr class="p-rule" />
    </div>
    <div class="row">
      <div class="col-3 col-medium-2">
        <div class="p-section--shallow">
          <h3 class="p-muted-heading">Working here</h3>
        </div>
      </div>
      <div class="col-9 col-medium-4">
        <p class="p-heading--2">
          <a href="/careers/hiring-process">Hiring process</a>
        </p>
        <hr class="p-rule" />
        <p class="p-heading--2">
          <a href="/careers/company-culture">Company culture</a>
        </p>
        <hr class="p-rule" />
        <p class="p-heading--2">
          <a href="/careers/company-culture/remote-work">Remote work</a>
        </p>
        <hr class="p-rule" />
        <p class="p-heading--2">
          <a href="/careers/progression">Progression</a>
        </p>
        <hr class="p-rule" />
        <p class="p-heading--2">
          <a href="/careers/diversity">Diversity</a>
        </p>

        <hr class="p-rule" />
        <p class="p-heading--2">
          <a href="/careers/sustainability">Sustainability</a>
        </p>
        <hr class="p-rule" />
        <p class="p-heading--2">
          <a href="/careers/application/faq">FAQs</a>
        </p>
      </div>
    </div>
  </section>

  <script defer src="{{ versioned_static('js/careers-filter-and-sort.js') }}"></script>

{% endblock %}
