{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1pNyOXfR07FiBr6TmEMRdB7NZUB5SeBz6COuSxO3ylC0{% endblock meta_copydoc %}

{% block title %}Careers{% endblock %}

{% block meta_description %}Canonical publishes Ubuntu, provides commercial services and solutions for Ubuntu, and works with hardware manufacturers, software vendors and public clouds to certify Ubuntu.{% endblock %}

{% block content %}
<section class="p-strip--image is-dark is-deep" style="background-image: url(https://assets.ubuntu.com/v1/aebc1742-01_suru2_dark_2K.png); background-position: -20% 58%; background-size: 150%; background-repeat: repeat-x;}">
  <div class="row">
    <div class="col-8 col-start-large-4">
      <h1 class="p-heading--2">Be part of a company<br class="u-hide--medium u-hide--large"> making a difference <br class="u-hide--medium">in every area of open source</h1>
      {% if vacancies %}
        {% include "careers/_search.html" %}
      {% endif %}
    </div>
  </div>
</section>

<section class="p-strip is-deep">
  <div class="row ">
    <div class="col-3">
      <h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default">Our Mission</h2>
    </div>
    <div class="col-9">
      <p class="p-heading--2 u-no-padding--top">Seamless consumption of open source<br class="u-hide--small">across the compute spectrum</p>
      <p>Join an intense global mission &ndash; to deliver the world's best open source experience,<br class="u-hide--small">from platform to application</p>
      <button class="p-button">Defining excellence</button>
    </div>
  </div>
</section>

<section class="p-strip--light is-shallow u-no-padding--bottom">
  <div class="p-strip--light is-deep u-no-padding--top">
    <div class="p-strip--light is-shallow">
      <div class="u-fixed-width">
        {{ image (
          url="https://assets.ubuntu.com/v1/b7a0363c-Screenshot+2022-08-04+at+14.42.58.png",
          alt="",
          width="1330",
          height="500",
          hi_def=True,
          loading="lazy",
          ) | safe
        }}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default">Remote working</h2>
      </div>
      <div class="col-9">
        <p class="p-heading--2">Less commuting, more real travel</p>
        <p>Canonical is uniquely global &ndash; we hire the best open source team, regardless of nationality or language, creed or colour.</p>
        <button class="p-button">Our vision of remote work</button>
      </div>
    </div>
  </div>
</section>

<section class="p-strip is-deep">
  <div class="row">
    <div class="col-3">
      <h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default">Find your team</h2>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-medium-2 col-3">
          <h3 class="p-heading--2 u-no-padding--top">Engineering</h3>
        </div>
        <div class="col-medium-4 col-6">
          <p>Lorem ipsum Public Cloud solution Ut enim ad minim veniam, quis nostrud. Public Cloud solution Ut enim ad minim veniam, quis nostrud</p>
        </div>
      </div>

      <hr class="u-no-margin--bottom">

      <div class="row ">
        <div class="col-medium-2 col-3">
          <h3 class="p-heading--2">TechOps</h3>
        </div>
        <div class="col-medium-4 col-6">
          <p>Lorem ipsum Public Cloud solution Ut enim ad minim veniam, quis nostrud. Public Cloud solution Ut enim ad minim veniam, quis nostrud</p>
        </div>
      </div>

      <hr class="u-no-margin--bottom">

      <div class="row">
        <div class="col-medium-2 col-3">
          <h3 class="p-heading--2">Sales</h3>
        </div>
        <div class="col-medium-4 col-6">
          <p>Lorem ipsum Public Cloud solution Ut enim ad minim veniam, quis nostrud. Public Cloud solution Ut enim ad minim veniam, quis nostrud</p>
        </div>
      </div>

      <hr class="u-no-margin--bottom">

      <a class="p-button" style="margin-top: 1rem;" href="/careers/all">All departments</a>
    </div>
  </div>
</section>

  <style>  
    .p-strip--suru-background{
      background-blend-mode: multiply, normal, normal;
    background-image: linear-gradient(
        -1.9rad,
        rgba(119, 41, 83, 0) 48%,
        rgba(51, 51, 51, 0.45) 48%
      ),
      linear-gradient(
        3.05rad,
        rgba(255, 255, 255, 0) 70%,
        white 0%
      ),
      linear-gradient(
        1.9rad,
        rgba(44, 0, 30, 1) 0%,
        rgba(44, 0, 30, 1) 57%,
        transparent 0%
      );
    background-repeat: no-repeat;
    background-size: 100% 100%, 100%, 100% 100%;
    padding-bottom: 174px;
    padding-top: 6rem;

    @media only screen and (max-width: $breakpoint-small) {
      background-blend-mode: normal;
      background-image: linear-gradient(
        1.924rad,
        rgba(44, 0, 30, 1) 0%,
        rgba(119, 41, 83, 1) 42%,
        rgba(192, 82, 58, 1) 94%
      );
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      color: $color-x-light;
      padding-bottom: 3rem;
      padding-top: 3rem;
    }
  }

    .p-strip--darksuru {
   
      background-image: linear-gradient(
        to bottom left,
        rgba(225, 225, 225, 0.03) 0%,
        rgba(225, 225, 225, 0.03) 49.9%,
        rgba(225, 225, 225, 0) 50%,
        rgba(225, 225, 225, 0) 100%
      ),
      linear-gradient(
        to top left,
        rgba(225, 225, 225, 0.03) 0%,
        rgba(225, 225, 225, 0.03) 49.9%,
        rgba(225, 225, 225, 0) 50%,
        rgba(225, 225, 225, 0) 100%
      ),
      linear-gradient(
        to bottom right,
        rgba(225, 225, 225, 0.03) 0%,
        rgba(225, 225, 225, 0.03) 49.9%,
        rgba(225, 225, 225, 0) 50%,
        rgba(225, 225, 225, 0) 100%
      ),
      linear-gradient(201deg, #4e4e4e 0%, #333 46%, #111 90%);
    background-position: top right, bottom right, top right, 100%;
    background-repeat: no-repeat;
    background-size: 70% 65%, 40% 85%, 100% 30%, 100%;
    color: #fff;
    padding: 8rem 0;
    position: relative;

    

  }
  </style>
  <script defer src="/static/js/careers-filter-and-sort.js"></script>
  
  <script>

  </script>
{% endblock %}
