{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1TcKYSlfV2G9X_0l-T6rZ-CWd_XJQ_4hHQCPL2CVrCts{% endblock meta_copydoc %}

{% block title %}Legal | Careers{% endblock %}

{% block meta_description %}Canonical works at the forefront of global digital trends and the legal, licensing and regulatory frameworks that support them. We are a tight-knit team of professionals that enjoy playing a part in the rapid change.{% endblock %}

{% block content %}
<section class="p-strip--light">
  <div class="row">
    <div class="col-6">
      <h1 class="p-heading--2">Legal</h1>
    </div>
    <div class="col-6">
      <p>Canonical works at the forefront of global digital trends and the legal, licensing and regulatory frameworks that support them. We are a tight-knit team of professionals that enjoy playing a part in the rapid change of the software landscape to open infrastructure and applications, while supporting a fast-moving and global business.</p>
      <a class="p-button--positive" href="/careers/all">View roles</a>
      <a class="p-button" href="/careers/career-explorer">Career explorer</a>
    </div>
  </div>
</section>

{% if fast_track_jobs %}
  {% include "shared/_fast_track_jobs.html" %}
{% endif %}

{% if featured_jobs %}
  {% set department = department_slug.capitalize()%}
  {% include "shared/_featured_jobs.html" %}
{% endif %}

<section class="p-strip">
  <div class="row">
    <div class="col-6">
      <h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default u-no-margin--bottom">Working here</h2>
      <h3>Projects you'll work on</h3>
    </div>
    <div class="col-6">
      <p>Enabling enterprises, partners and technology providers across the globe to embrace the latest open source technology means efficient contracting that is both commercially sophisticated and technically interesting. We shape multinational agreements between many of the very largest organisations in a wide range of industries &ndash; from telecommunications to retail, financial services to media. And we participate in the world wide process to define and understand the future of collaborative engineering, as open source licences explore new ways to support the creation of open software by companies and individual contributors.</p>
      <p>Our goal is to reflect the simplest, cleanest and most understandable contractual framework to our counterparts, that represents current best practice and the latest approaches to software production, consumption and distribution. We pride ourselves on the combination of rigour and business enablement &ndash; we support complex deals in a way that protects all parties and minimises friction.</p>
    </div>
  </div>
  <div class="p-strip is-shallow">
    <div class="u-fixed-width u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/815e6e4a-department-legal-%402x.jpg",
        alt="",
        width="2216",
        height="834",
        hi_def=True,
        loading="auto"
        ) | safe
      }}
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <h3>Who you are</h3>
    </div>
    <div class="col-6">
      <p>Experience at Canonical offers rapid growth in understanding the global legal landscape, both in terms of technology, but also in terms of commercial and corporate contracting. We welcome candidates with an outstanding track record, a commitment to teamwork, and a personal interest in the future of software and the legal frameworks that underpin it.</p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="u-fixed-width">
    <h2>See for yourself the work we're doing</h2>
    <ul class="p-inline-list">
      <li class="p-inline-list__item">
        <a href="https://www.linkedin.com/company/234280" class="p-icon--linkedin">LinkedIn</a>
      </li>
      <li class="p-inline-list__item">
        <a href="https://twitter.com/Canonical" class="p-icon--twitter">Twitter</a>
      </li>
      <li class="p-inline-list__item">
        <a href="https://www.youtube.com/user/celebrateubuntu" class="p-icon--youtube">YouTube</a>
      </li>
    </ul>
  </div>
</section>

{% with section_classes='p-strip', heading_topic='Legal', tag_id='1216', limit='3' %}
  {% include "shared/_blog-card.html" %}
{% endwith %}

<script async defer src="https://buttons.github.io/buttons.js"></script>
{% endblock %}
