{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1zLFku18ZAMVStgkIO3bCoKEXW6ShwMEkB0w9d_nCx9U/{% endblock meta_copydoc %}

{% block title %}Operations | Careers{% endblock %}

{% block meta_description %}Excellence in operations enables Canonical to scale efficiently. We look for people who are passionate about tools and efficiency.{% endblock %}

{% block content %}
<section class="p-strip--light">
  <div class="row">
    <div class="col-6">
      <h1 class="p-heading--2">Operations</h1>
    </div>
    <div class="col-6">
      <p>Excellence in operations enables Canonical to scale efficiently. Our core operations $ndash; from IT to commercial operations or logistics &ndash; is central to the idea that we can be an effective global distributed company serving advanced customers in every geography. We celebrate relentless improvement. We look for people who are passionate about tools and efficiency, who are focused on measurement, feedback and continuous improvement, and who will take the time to help their colleagues and counterparts improve.</p>
      <a class="p-button--positive" href="/careers/all">View roles</a>
      <a class="p-button" href="/careers/career-explorer">Career explorer</a>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-6">
      <h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default u-no-margin--bottom">Working here</h2>
      <h3>Operations at Canonical</h3>
    </div>
    <div class="col-6">
      <p>Getting it done right is the best feeling in the world. No shortcuts, no loose ends, no waste. It's only possible to operate with mastery if you understand the domain deeply, you prioritise re-use and iteration, and you bring a sharp mind to the problem. A well-run operation invests in improving its data and its tools to elevate its self-awareness and automate its processes. Fighting fires is the exception, not the norm, and those moments are an opportunity to learn and improve.</p>
    </div>
  </div>
  <div class="p-strip is-shallow">
    <div class="u-fixed-width u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/a93df5b0-department-operations-%402x.jpg",
        alt="",
        width="2216",
        height="834",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
  
  <div class="row">
    <div class="col-6">
      <h3>Who you are</h3>
    </div>
    <div class="col-6">
      <p>Whether it's running complex technical infrastructure or challenging projects, your consistent focus on data, your willingness to learn, and your personal organisation and teamwork means you're a force for good in the battle against entropy. Time zones are easy and technical customers are your favourite. If that's you &ndash; then there's room for you at Canonical. We don't just run a great business, we run the infrastructure and applications that power many great businesses.</p>
  </div>
</section>

<section class="p-strip--light">
  <div class="u-fixed-width">
    <h2>See for yourself the work we're doing</h2>
    <ul class="p-inline-list">
      <li class="p-inline-list__item u-no-margin--right">
        <a class="github-button" href="https://github.com/canonical" data-size="large" aria-label="Follow @canonical on GitHub"></a>
      </li>
      <li class="p-inline-list__item u-no-margin--right">
        <a class="github-button" href="https://github.com/canonical/canonical.com" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star canonical/canonical.com on GitHub">Star</a>
      </li>
      <li class="p-inline-list__item">
        <a class="github-button" href="https://github.com/canonical/canonical.com/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork canonical/canonical.com on GitHub"></a>
      </li>
      <li class="p-inline-list__item">
      <a href="https://www.linkedin.com/company/234280" class="p-icon--linkedin">LinkedIn</a>
    </li>
    <li class="p-inline-list__item">
      <a href="https://twitter.com/Canonical" class="p-icon--twitter">Twitter</a>
    </li>
    <li class="p-inline-list__item">
      <a href="https://www.youtube.com/user/celebrateubuntu" class="p-icon--youtube">YouTube</a>
    </li>
    </ul>
  </div>
</section>

{% with section_classes='p-strip', heading_topic='Operations', tag_id='3819', limit='3' %}
  {% include "shared/_blog-card.html" %}
{% endwith %}

<script async defer src="https://buttons.github.io/buttons.js"></script>
{% endblock %}