{% extends '/careers/careers_base.html' %}

{% block meta_description %}Canonical prefers internal promotion and encourages high-performing colleagues to pursue diverse roles at the company over the course of their career, to develop a well-rounded perspective.{% endblock %}

{% block hero %}
  <section class="p-strip--image is-dark is-deep u-no-padding--top u-no-padding--bottom u-extra-space">
    <div class="p-strip--suru-background">
      <div class="row">
        <div class="col-6">
          <h1>Progression</h1>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block overview %}
  <div class="row">
    <div class="col-12">
      <p>
        <strong>We hire for talent, passion and work ethic. Your career at Canonical can progress in many ways - and we celebrate growth and development in many forms. Management is important and we like to develop those skills in people who enjoy it. We also explicitly encourage team members to find their passion and invest in that, recognising the benefit to your team and the company when you become a more effective team player. We encourage team members to experience diverse roles at Canonical over the course of their career, and we prefer to promote internally to build deep awareness of company culture and practices in senior leadership.</strong>
      </p>
      <p>
        Joining Canonical means joining an intense global mission - to deliver the world’s best open source experience, from platform to application. We touch every aspect of open source technology, and so we offer a wide range of technology and business careers. You might start out as a product developer, then choose to get more travel and focus on customer operations transformation and cloud operations, then take on a role in tech leadership or management. We value people who love to learn - not just how to be a better engineer, but how to be a better speaker, how to be a better designer, better organiser, better partner and better vendor.
      </p>
    </div>
  </div>
{% endblock %}
