{% extends '/careers/base-tabs.html' %}

{% block title %}Project Management | Careers{% endblock %}

{% block meta_description %}Canonical’s Engagement Project Management Office team owns, drives and communicates delivery excellence by providing strong Project process guidelines,  project continuity and data analytics.{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1IMXbRXvmvSKe_SrKvEiQIRCwz3I9BfVcQRQuHODaG8s{% endblock meta_copydoc %}


{% block overview %}
  <p><strong>Project Managers at Canonical are engaged during all phases of the project, from pre-sales support to delivery to the handoff of complete projects to support or managed services.</strong></p>
  <p>
    Project managers create, manage and maintain project-specific schedules ensuring projects are delivered within time, resource and scope expectations. Each project manager is responsible for multiple projects simultaneously. Managing each project through its life-cycle and ensuring that the goals for both Canonical and the client are met.
  </p>
  <p>
    One advanced role is the Technical Program Manager, who provides technical account leadership and insight as the primary technical interface for our key enterprise accounts. The Technical Program Manager is a high-profile technical engagement program management position where customer relationship management and advocacy for Canonical's technical assets are strategically crucial.
  </p>
  <p>
    All Program Managers are responsible for facilitating customer-focused collaboration, team upskilling and driving innovation initiatives. Program managers proactively evaluate enterprise client situations and drive client vision that could ultimately lead to additional revenue-generating business opportunities.
  </p>
  <hr />
  <p class="p-muted-heading">
    <span style="text-transform: capitalize">EMEA&nbsp;&#124;&nbsp;Americas&nbsp;&#124;&nbsp;APAC</span>
  </p>

{% endblock %}
