{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1hc5olKZcPIHFtxYAHvYFS_c-NZIYy3ZT8WqG7r021MI/{% endblock meta_copydoc %}

{% block title %}Project Management | Careers{% endblock %}

{% block meta_description %}Canonical's Engagement Project Management Office team owns, drives and communicates delivery excellence by providing strong Project process guidelines, project continuity and data analytics.{% endblock %}
{% block body_class %}is-paper{% endblock body_class %}
{% block content %}
{% with 
    department=department,
    claim="The Project Management team at Canonical embodies and spearheads our company's strategy of excellence in execution. Project managers are engaged during all phases of projects, from pre-sales support to delivery and the hand-off of complete projects.",
    fast_track_jobs=fast_track_jobs,
    block_1_subheading='Marketing at Canonical',
    block_1_text=["Canonical's project management team ensures that all projects are delivered according to time, resource and scope expectations. The team creates, manages and maintains project-specific schedules and manages each project through its entire life-cycle. Ultimately, the team ensures that our clients' goals, as well as Canonical's goals, are met.", "Our Senior Project Managers fulfil high-profile customer relationship management roles. They provide account leadership and insight and are the primary interface for Canonical's key enterprise accounts. As expert engagement managers, they excel where relationship management and advocacy for Canonical's solutions are strategically crucial."],
    image_url='https://assets.ubuntu.com/v1/6195ae44-department-project-management-%402x.jpg',
    image_width="1500",
    image_height="564",
    block_2_heading="Projects you'll work on",
    block_2_text=["Project managers at Canonical lead the delivery of a wide variety of projects. Their scope spans delivering a wide range of commercial customer projects as well as internal Canonical digital projects, from bare metal to cloud and high-performance computing, from AI and big data to the web and smart connected devices."],
    block_3_subheading="Who you are",
    block_3_text=["Canonical's project managers are masters at engaging stakeholders. They ensure the success of projects by taking ownership, giving direction and driving communication with stakeholders. They champion respect, integrity and accountability.", "Collaboration underpins everything the team does. Upskilling and prioritising innovation drives our pursuit of excellence. Successful project managers are proactive, skilled at evaluating projects and driving client vision with new business opportunities in mind."],
    blog_heading_topic='Project Management',
    blog_tag_id='1216'
  %}
  {% include "careers/_base-department.html" %}
{% endwith %}
{% endblock content %}
