{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1yCukmqr7do6iJgl6hKui9lAslWJ6Gol4O2E5ctCE7PY{% endblock meta_copydoc %}

{% block title %}Sales | Careers{% endblock %}

{% block meta_description %}Canonical is looking for Sales Professionals that are Trusted Advisors which bring confidence to our customers that we understand their transformation to multi-cloud, and we can bring the right solutions to the table in order to solve those problems.{% endblock %}

{% block content %}
<section class="p-strip--dark" style="background-position: 100% 0%; background-size: cover; background-image:url('https://assets.ubuntu.com/v1/78c0cbe3-05_suru2_dark_2K.jpg')">
  <div class="row">
    <div class="col-6">
      <h1 class="p-heading--2"><strong>Sales</strong></h1>
    </div>
    <div class="col-6">
      <p>You love technology, and you love doing business. You know what the enterprise technology future looks like, and you enjoy helping customers get there.</p>
      <a class="p-button--positive" href="/careers/all">See all Sales roles</a>
      <a class="p-button" href="/careers/career-explorer">Career explorer</a>
    </div>
  </div>
</section>

{% if fast_track_jobs %}
  {% include "shared/_fast_track_jobs.html" %}
{% endif %}

{% if featured_jobs %}
  {% set department = department_slug.capitalize()%}
  {% include "shared/_featured_jobs.html" %}
{% endif %}

<section class="p-strip u-no-padding--top">
  <div class="u-fixed-width">
    <hr class="u-no-margin--bottom">
    <h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default">Working here</h2>
  </div>
  <div class="u-fixed-width u-hide--small u-hide--medium">
    {{ image (
      url="https://assets.ubuntu.com/v1/9acad1b0-department-sales-%402x.jpg",
      alt="",
      width="2216",
      height="834",
      hi_def=True,
      loading="auto"
      ) | safe
    }}
  </div>
  <div class="p-strip is-shallow u-no-padding--top">
    <div class="row">
      <div class="col-6">
        <h3>Projects you'll work on</h3>
      </div>
      <div class="col-6">
        <p>You will help your customers to use and deploy Open Source software at scale and make it secure.</p>
      </div>
    </div>
  </div>

  <div class="p-strip is-shallow u-no-padding--top">
    <hr class="is-fixed-width u-no-margin--bottom">
    <div class="row">
      <div class="col-6">
        <h3>Sales at Canonical</h3>
      </div>
      <div class="col-6">
          <p>Enterprises love Ubuntu and Enterprises deploy Open Source. Become the trusted advisor and work on multi-million dollar contracts to build, support and manage open source projects to drive innovation.</p>
      </div>
    </div>
  </div>
  <div class="p-strip is-shallow u-no-padding--top">
    <hr class="is-fixed-width">
    <div class="row">
      <div class="col-6">
        <h3>Who you are</h3>
      </div>
      <div class="col-6">
        <p>Your approach is consultative, you are results and goal-oriented, and you know how to invest your time to maximise the benefit for customers and the company.</p>
        <p>You build long term relationships, and you always promote the approach that is in the customers best interests, regardless of short term consequences. You are interested in the state of the art, you love to represent a company that knows how to transform customer operations, and you are keen to see new customers benefit from that knowledge.</p>
        <p>You are organised, persistent, friendly and hard-working. You are effective in a digital world, keeping track of your plans and your progress, collaborating with colleagues to deliver for your customers. You are professionally competitive &ndash; respectful of the competition and determined to improve until you win regularly.</p>
      </div>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="u-fixed-width">
    <h2>See for yourself the work we're doing</h2>
    <ul class="p-inline-list">
      <li class="p-inline-list__item u-no-margin--right">
        <a class="github-button" href="https://github.com/canonical" data-size="large" aria-label="Follow @canonical on GitHub"></a>
      </li>
      <li class="p-inline-list__item u-no-margin--right">
        <a class="github-button" href="https://github.com/canonical/canonical.com" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star canonical/canonical.com on GitHub">Star</a>
      </li>
      <li class="p-inline-list__item">
        <a class="github-button" href="https://github.com/canonical/canonical.com/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork canonical/canonical.com on GitHub"></a>
      </li>
      <li class="p-inline-list__item">
        <a href="https://www.linkedin.com/company/234280" class="p-icon--linkedin">LinkedIn</a>
      </li>
      <li class="p-inline-list__item">
        <a href="https://twitter.com/Canonical" class="p-icon--twitter">Twitter</a>
      </li>
      <li class="p-inline-list__item">
        <a href="https://www.youtube.com/user/celebrateubuntu" class="p-icon--youtube">YouTube</a>
      </li>
    </ul>
  </div>
</section>

{% with section_classes='p-strip', heading_topic='Sales', tag_id='2307', limit='3' %}
  {% include "shared/_blog-card.html" %}
{% endwith %}

<script async defer src="https://buttons.github.io/buttons.js"></script>
{% endblock %}
