{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1nsZWk9osMxoMlSnSNIXZCFCV8-Ho4PeLXo0qD-vF_Bk/edit#{% endblock meta_copydoc %}

{% block title %}Thank you{% endblock %}

{% block content %}
<section class="p-strip--suru-topped">
  <div class="row">
    <div class="col-7">
      <h1>Congratulations! Your application to our {{ job.title }} has been received.</h1>
      <p class="p-heading--3">Your application has gone straight to the functional hiring lead and will now be reviewed. Don’t forget to keep an eye out for an email detailing the next steps.</p>
      <p>Have you visited our blog site? It’s packed full of insights from our very own people. Why not take a look!</p>
      <p><a href="https://ubuntu.com/blog" class="p-button--positive">Visit our blog</a></p>
      <p>You can read more about a career at Canonical from the links below.</p>
      <ul class="p-inline-list">
        <li class="p-inline-list__item"><a href="/careers/lifestyle">Lifestyle&nbsp;&rsaquo;</a></li>
        <li class="p-inline-list__item"><a href="/careers/ethics">Ethics&nbsp;&rsaquo;</a></li>
        <li class="p-inline-list__item"><a href="/careers/travel">Travel&nbsp;&rsaquo;</a></li>
        <li class="p-inline-list__item"><a href="/careers/progression">Progression&nbsp;&rsaquo;</a></li>
        <li class="p-inline-list__item"><a href="/careers/diversity">Diversity&nbsp;&rsaquo;</a></li>
      </ul>
    </div>
    <div class="col-5 u-vertically-center u-hide--medium u-hide--small u-align--center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/d1155ae3-tick-midaubergine.svg",
          alt="",
          height="200",
          width="200",
          loading="auto",
          hi_def=True
        ) | safe
      }}
    </div>
  </div>
</section>

{% endblock content %}
