{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1H2ILhAUckOWyah_6V69ImwLWOSRlXkaYnIhOHkUjclc{% endblock meta_copydoc %}

{% block title %}Travel | Careers{% endblock %}

{% block meta_description %}Travel is central to Canonical's global, distributed workplace. All teams participate in regular team and cross-team events. We spread locations across time zones and look for interesting and diverse cultural places. Many employees return to these destinations with friends and family.{% endblock %}

{% block content %}
<section class="p-strip--dark is-deep" style="background-position: 100% 0%; background-size: cover; background-image:url('https://assets.ubuntu.com/v1/78c0cbe3-05_suru2_dark_2K.jpg')">
  <hr class="is-fixed-width u-no-margin--bottom is-dark">
  <div class="row">
    <div class="col-6">
      <h1 class="p-heading--2"><strong>Travel and Lifestyle</strong></h1>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width u-hide--medium u-hide--small">  
  <img src="https://assets.ubuntu.com/v1/34b9fe84-cities2.jpg" alt="An image split in four showing four cities that we have visited, including NYC, Seoul, etc" style="height: 518px; width: 1250px;"/>
  </div>
  <div class="p-strip">
    <div class="row">
      <div class="col-6">
        <h2>Less commute, <br>more real travel.</h2>
      </div>
      <div class="col-6">
        <p>Canonical is uniquely global &ndash; we hire the best open source team globally, regardless of nationality or language, creed or colour, and we serve the global market for technology in open infrastructure and open applications.</p>
        <p>We optimise team structure for time zone overlap &ndash; collaboration takes time and inspiration and needs time to develop fully &ndash; but leadership at Canonical means building cross-team relationships and we do that through regular global summits which bring diverse teams or their leaders together.</p>
        <p>We aim to balance these events around the world to minimize the total travel and jet lag, and we try to discover great places to explore and appreciate in the process.</p> 
        <p>Team events have taken place in Annecy, Vancouver, Brugge, New York, Budapest, Orlando, Cape Town, Warsaw, Seoul, Paris, Portland, Lyon, London, Toronto and many more.</p>
      </div>
    </div>
  </div>
  <!-- map goes here -->
  <div class="p-strip is-shallow u-no-padding--top">
    <div id="sprint-map" class="row" >
      <noscript>
        <hr class="is-fixed-width u-no-margin--bottom">
        <div class="p-strip is-shallow u-no-padding--top">
          <div class="row">
            <div class="col-6">
              <h3 class="p-heading--2">Past sprint locations</h3>
            </div>
            <div class="col-6">
              <ul class="p-list--travel">
                {% for location in sprint_locations %}
                  {% set location = location[1] %}
                  <li class="p-list__item">{{ location }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </noscript>
    </div>
  </div>
  <hr class="is-fixed-width u-no-margin--bottom">
  <div class="p-strip is-shallow u-no-padding--top">
    <div class="row">
      <div class="col-6">
        <h3 class="p-heading--2">Deep customer presence</h3>
      </div>
      <div class="col-6">
        <p>Our customers are transforming their deepest and most important infrastructure to benefit from open source and modern dev/ops insights, and they trust us to advise them and lead them to best practice. That also takes time on site, to whiteboard and to work shoulder to shoulder in their development halls and data centers. Many teams at Canonical travel for that deep customer presence.</p>
      </div>
    </div>
  </div>  
  <hr class="is-fixed-width u-no-margin--bottom">
  <div class="p-strip is-shallow u-no-padding--top">
    <div class="row">
      <div class="col-6">
        <h3 class="p-heading--2">Travel is part of the deal</h3>
      </div>
      <div class="col-6">
        <p>Travel isn't for everybody but if you are excited to see the world then Canonical is a great place to be. We expect everybody at Canonical to be willing to travel for up to two weeks at a time, four times a year, but in some roles the travel expectation is higher.</p>
        <div class="u-hide--small u-hide--medium">
          {{ 
            image (
            url="https://assets.ubuntu.com/v1/379b19b9-department-engineering-%402x.jpg",
            alt="Canonical employees at an engineering spring",
            width="2216",
            height="834",
            hi_def=True,
            loading="lazy"
            ) | safe
          }}
        </div>
        <p>There are multiple career paths at Canonical in technical, management and commercial spheres, and not all of them are travel centric, but our culture celebrates both global talent and face-time, so travel is part of the deal. We love it when people like our destinations so much they bring family and friends there later.</p>
      </div>
    </div>
  </div>
  <hr class="is-fixed-width u-no-margin--bottom">
  <div class="p-strip is-shallow u-no-padding--top">
    <div class="row">
      <div class="col-6">
        <h3 class="p-heading--2">Lifestyle</h3>
      </div>
      <div class="col-6">
        <p>Canonical is unlike any other company in the world. It is amazing for people who are organized, passionate about technology, and like to travel. People at Canonical say the people at Canonical are amazing. That's special.</p>
        <p class="p-heading--5">We're a technology company</p>
        <p>Every role at Canonical is a tech role. We have a high expectation of competence and passion for technology, regardless of your title. The future is already here, as open source, and Canonical's mission is to deliver it to the world. We are part of the biggest change in technology history &ndash; to open source &ndash; and we play a critical role in broadening the benefits of open source to ever more people. Every role at the company involves good judgment against the backdrop of the fast-moving technology landscape. We look for people who find that interesting.</p>
        <p class="p-heading--5">Second, we're a fully distributed organisation.</p>
        <p>Most people work from home, using the latest communications technology to be productive and maintain a high level of coordination with colleagues. Digital collaboration is how we enable people to enjoy their home environment AND work with the best in the world in their domain.</p> 
        <p>Zero commute means more time for the things you enjoy, it also means you need to be organized and effective in a distributed workplace. You get tremendous, perhaps unprecedented, flexibility in how you organise your day. At the same time, you have to be productive and a good counterpart to colleagues around the world. You need to be a team player, and you need to deliver what you promise, because teams depend on each other and don’t have daily eyes on one another. We have very little office politics but we do have very high expectations of commitment and independent execution.</p>   
        <p>We also travel more than most companies, because our customers and our teams are global, and we need regular face-time with both.</p>  
        <p class="p-heading--5">Third, we aspire to lead on the global stage.</p>   
        <p>There's no other way to describe it than hard &ndash; hard work, hard challenges, hard competition. Most of us are avid students of greatness &ndash; we are interested in how the latest things work, how the best organizations work, how the smartest companies work, and we aim to hold our own in that crowd.</p>
        <p>You will need to show that you can compete in deeply challenging intellectual fields. Your colleagues are aiming for the top, and they depend on you to set the same standard in your area of responsibility. That's tough. It's also incredibly satisfying, with continuous learning and challenge. You will have exceptional opportunities and exceptional colleagues. They will expect you to be exceptional too.</p>
      </div>
    </div>
  </div>  
</section>
<script>const sprintLocations = {{ sprint_locations|tojson }}</script>
<script defer src="{{ versioned_static('js/sprint-map.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiUVShD6fwLGQ8_iF-sCclFkVQFCsazxc&callback=initMap&v=weekly" defer></script>
{% endblock %}
