{% extends '/careers/base.html' %}

{% block meta_copydoc %}{% endblock meta_copydoc %}

{% block title %}Working here | Careers{% endblock %}

{% block meta_description %}{% endblock %}

{% block content %}

<section class="p-strip--suru-light-grey">
  <div class="row">
    <div class="col-7">
      <p class="p-heading--tag">Working at Canonical</p>
      <h1>Diversity in our company is part of our strength</h1>
      <p class="p-heading--4">No matter where you were born, or what you look like, or how you like to dress, we think you might have the brilliance to be a Canonical candidate.</p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-4 p-card has-accent-border">
      <h2 class="p-heading--4">Lifestyle</h2>
      <p>Canonical is amazing for people who are organised, passionate about technology, and like to travel. People at Canonical say the people at Canonical are amazing. That's special.</p>
      <p><a href="/careers/lifestyle">Read more&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-4 p-card has-accent-border">
      <h2 class="p-heading--4">Ethics</h2>
      <p>We take our responsibility for the most critical elements of every piece of open infrastructure in the software-defined world very seriously, and we are committed to quality in every aspect of our product and services.</p>
      <p><a href="/careers/ethics">Read more&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-4 p-card has-accent-border">
      <h2 class="p-heading--4">Travel</h2>
      <p>We're uniquely global - we hire the best open source team globally, regardless of nationality or language, creed or colour, and we serve the global market for technology in open infrastructure and open applications.</p>
      <p><a href="/careers/travel">Read more&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-4 p-card has-accent-border">
      <h2 class="p-heading--4">Progression</h2>
      <p>We hire for talent, passion and work ethic. Your career at Canonical can progress in many ways - and we celebrate growth and development in many forms.</p>
      <p><a href="/careers/progression">Read more&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-4 p-card has-accent-border">
      <h2 class="p-heading--4">Diversity</h2>
      <p>We believe that talent is evenly distributed around the world. No matter where you were born, or what you look like, or how you like to dress.</p>
      <p><a href="/careers/diversity">Read more&nbsp;&rsaquo;</a></p>
    </div>    
  </div>
</section>

{% endblock %}
