<div class="p-section--shallow">
  <h2 class="p-text--small-caps section-heading" id="from-our-blog">From our blog</h2>
</div>
<div class="grid-row">
  <div class="grid-col-4">
    <article class="p-section--shallow">
      <div class="p-section--shallow">
        <h3 class="p-heading--2"><a
            href="https://ubuntu.com/blog/kubernetes-ci-cd-pipelines-what-why-and-how">Kubernetes CI/CD pipelines:
            What,&nbsp;why,&nbsp;and&nbsp;how</a></h3>
      </div>
      <div>
        <img src="https://assets.ubuntu.com/v1/d2c3dc7b-kubernetes-ci-cd-pipelines.jpg" alt="" loading="lazy" />
      </div>
      <p>Alex Chalkias, Kubernetes Product Manager, walks us through the details of CI/CD pipelines.</p>
      <p>In this introductory blog, we learn about the basics of continuous integration and continuous delivery, what
        are the benefits of Kubernetes CI/CD and how to combine MicroK8s with Gitlab to build a full DevOps environment.
      </p>
    </article>
  </div>
</div>
<hr class="p-rule">
<div class="grid-row">
  <div class="grid-col-4">
    <article class="p-section--shallow">
      <div class="p-section--shallow">
        <h3 class="p-heading--2"><a href="https://ubuntu.com/blog/microk8s-memory-optimisation">From lightweight to
            featherweight: MicroK8s memory&nbsp;optimisation</a></h3>
      </div>
      <div>
        <img src="https://assets.ubuntu.com/v1/a73d594b-MicroK8s-lightweight.png" alt="" loading="lazy" />
      </div>
      <p>What makes MicroK8s a lightweight Kubernetes distribution is its efficient packaging of all upstream Kubernetes
        services in a single artefact, called a snap.</p>
      <p>In this blog post, we shed light on some memory footprint optimisations which make MicroK8s even better for
        Kubernetes deployments on small form factor devices such as the Raspberry Pi or the NVIDIA Jetson.</p>
    </article>
  </div>
</div>
<hr class="p-rule">
<div class="grid-row">
  <div class="grid-col-4">
    <article class="p-section--shallow">
      <div class="p-section--shallow">
        <h3 class="p-heading--2"><a
            href="https://ubuntu.com/blog/ros-2-on-kubernetes-a-simple-talker-and-listener-setup">ROS 2 on Kubernetes: a
            simple talker and listener setup</a></h3>
      </div>
      <div>
        <img src="https://assets.ubuntu.com/v1/ffd66058-rosk8s.pt2_.cover_.jpg" alt="" loading="lazy" />
      </div>
      <p>In this blog series, Sid Faber, Senior Robotics engineer, explains why Kubernetes and robotics are a great
        match.</p>
      <p>Learn how to run ROS 2 on Kubernetes and set up a simple talker/listener system using a MicroK8s cluster on
        Ubuntu.</p>
    </article>
  </div>
</div>
<hr class="p-rule">
<div class="grid-row">
  <div class="grid-col-4">
    <article class="p-section--shallow">
      <div class="p-section--shallow">
        <h3 class="p-heading--2"><a href="https://ubuntu.com/blog/microk8s-installers-windows-and-macos">MicroK8s now
            native on Windows and macOS</a></h3>
      </div>
      <p>In the summer of 2020, the MicroK8s native installers for Windows and macOS were made generally available.</p>
      <p>This was a big milestone for the lightweight Kubernetes distribution, making it even simpler for developers to
        spin up nodes and clusters on their platform of choice.</p>
      <p>This blog outlines the consistent experience of installing MicroK8s on Linux, Windows and macOS. You will also
        learn about Multipass, the simple VM utility, used under the hood in the Windows and macOS installers.</p>
    </article>
  </div>
</div>
<hr class="p-rule">
<div class="grid-row">
  <div class="grid-col-4">
    <article class="p-section--shallow">
      <div class="p-section--shallow">
        <h3 class="p-heading--2"><a href="https://ubuntu.com/blog/microk8s-windows-workers">Windows containers on
            Kubernetes with MicroK8s</a></h3>
      </div>
      <div>
        <img src="https://assets.ubuntu.com/v1/a1f200ea-MicroK8sWindows.png" alt="" loading="lazy" />
      </div>
      <p>This blog explains how to create a hybrid Kubernetes cluster with MicroK8s, running Windows containers for
        specific workloads.</p>
      <p>Learn about the K8s components required to host Windows-native workloads as well as the networking and support
        options for Windows worker nodes.</p>
    </article>
  </div>
</div>