<div>
  <p>Dear {{ applicant_name }},</p>
  <p>This email is to acknowledge your intention to withdraw your application for the {{ position }} position.</p>
  <p><a href="{{ request.host_url }}careers/application/withdraw/{{ verification_link }}">Please click here to confirm your application withdrawal.</a></p>
  <p>Thank you for the time you have spent on this application. We would love to collect your thoughts on our process and will shortly be sending you a candidate survey to complete via email. We would very much appreciate your time in helping us understand your feedback.</p>
  <p>We would like to take this opportunity to wish you the very best with your next career steps.</p>
  <p>Regards,</p>
  <p>{{ hiring_lead["name"] }}</p>
  <p>For further information on data collection, please refer to our <a href="/legal/data-privacy/recruitment" target="_blank">recruitment privacy notice</a> and <a href="/legal/data-privacy" target="_blank">privacy policy</a>.</p>
</div>