<div class="col-5">
  <div class="u-float-right"><i class="p-icon--success u-align--right">Passed</i></div>
  <h5 class="p-heading--4 p-card__title u-no-margin--bottom">{{ interview["interview"]["name"] }}</h5>
  {% if interview["stage_name"]  == "Talent Interview" %}
  <p class="p-card__content u-sv1">Talent team interview to discuss your CV history, choices and decisions you have made throughout your career and to discuss your behavioural assessment.</p>
  {% endif %}
  <p class="p-card__content u-sv1">{{ interview["start"]["datetime"].strftime('%d %B') }}, with {% for interviewer in interview["interviewers"] %}{% if loop.index > 1 %}, {% endif %}{{ interviewer["name"] }}{% endfor %}</p>
</div>