<div class="col-5">
  <h5 class="p-heading--4 p-card__title u-no-margin--bottom">{{ interview["interview"]["name"] }}</h5>
  <p class="p-card__content">{{ interview["start"]["datetime"].strftime('%d %B at %H:%M UTC') }}<span class="user-local-time" ></span></p>
  <p class="p-card__content">{{ interview["duration"] }} minutes</p>
  <p class="p-card__content">Interviewer: {% for interviewer in interview["interviewers"] %}{% if loop.index > 1 %}, {% endif %}{{ interviewer["name"] }}{% endfor %}</p>
  {% if now("%Y%m%d") <= interview["start"]["datetime"].strftime('%Y%m%d') %}
      {% if interview['video_conferencing_url'] %}
          <p class="p-card__content u-sv1"><a href="{{ interview['video_conferencing_url'] }}">Google Meet link</a></p>
      {% elif interview['location'] %}
          <p class="p-card__content u-sv1"><a href="{{ interview['location'] }}">Meet link</a></p>
      {% endif %}
  {% endif %}
</div>
<script>
  const interviewTime = new Date("{{ interview["start"]["datetime"] }}");
  const userTime = interviewTime.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
  const offset = -(interviewTime.getTimezoneOffset() / 60)
  const userLocalTime = document.querySelector(".user-local-time");
  userLocalTime.innerHTML= ` (${userTime} UTC+${offset})`
</script>