<div>
  <p>Dear {{ interviewer_name }},</p>
  <p>This is an automated email to inform you that your upcoming interview &quot;{{ interview_title }}&quot; with {{ applicant_name }} on {{ interview_date }} has been canceled.</p>
  <p>The reason for the cancelation is that {{ applicant_name }} has withdrawn their application for the {{ position }} position.</p>
  {% if can_be_deleted %}
    <p>You should receive a Google Calendar email notification of the cancelation soon if you haven't already.</p>
  {% else %}
    <p>Unfortunately, the interview could not be automatically deleted from Google Calendar because it was not on the Interview Calendar. Please contact your Hiring Lead to manually delete the event.</p>
  {% endif %}
  <p>Thank you for your committment to Canonical's hiring process!</p>
  <p>Regards,<br/>Workplace Engineering</p>
</div>