<div class="p-withdrawal-modal p-modal" id="withdrawal-modal">
  <section class="p-withdrawal-modal__dialog" role="dialog" aria-modal="true" aria-labelledby="modal-title" aria-describedby="modal-description">
    <div class="row">
      <header class="col-6 p-withdrawal-modal__header">
        <h2 class="u-no-margin--bottom" id="modal-title">Application withdrawal</h2>
        <p>(step 1 of 2)</p>
        <button class="p-modal__close p-modal-close-button js-close-modal" aria-label="Close active modal" aria-controls="withdrawal-modal">Close</button>
      </header>
      <div class="col-6 p-withdrawal-modal__content">
        <p>We will send you an email with a link to confirm. Your application will remain active until you click on that link (step 2 of 2).</p>
        <p>Please provide your email address that is associated with your application.</p>
        <form action="/careers/application/{{ token }}" method="post" >
          <label for="email">Email address</label>
          <input required type="email" id="email" name="email" placeholder="example@canonical.com" autocomplete="email"/>
          <label for="textarea">Reason you wish to withdraw your application</label>
          <select name="withdrawal-reason" id="withdrawal-reason" onchange="showInput()" required>
              <option value="" disabled="disabled" selected="">Select</option>
            {% for reason_id, reason_message in withdrawal_reasons.items() %}
              <option value="{{ reason_id }}">{{ reason_message }}</option>
            {% endfor %}
          </select>
          <div class="other-input" style="display:none;">
            <input type="text" id="withdrawal-reason-other" name="withdrawal-reason-other" placeholder="Please write your reason here"/>
          </div>
          <footer class="p-withdrawal-modal__footer">
            <button class="p-button--base" aria-controls="withdrawal-modal">Cancel</button>
            <button type="submit" name="submit" class="p-button--positive">Send email</button>
          </form>
        </footer>
      </div>
    </div>
  </section>
</div>