{% extends '/careers/base_job-details.html' %}

{% block extra_metatags %}
  <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
  <script>
   function showProgressDetail(stage) {
    const showMoreBtn = document.querySelector(`.show-more-${stage}`);
    const showLessBtn = document.querySelector(`.show-less-${stage}`);
    const details = document.querySelectorAll(`.progress-detail-${stage}`);
    
    [].forEach.call(details, function(detail){
      if ( detail.classList.contains("u-hide")) {
        detail.classList.remove("u-hide")
        showMoreBtn.classList.add("u-hide")
        showLessBtn.classList.remove("u-hide")
      } else {
        detail.classList.add("u-hide")
      }
    })
  }

  function hideProgressDetail(stage) {
    const showMoreBtn = document.querySelector(`.show-more-${stage}`);
    const showLessBtn = document.querySelector(`.show-less-${stage}`);
    const details = document.querySelectorAll(`.progress-detail-${stage}`);
    [].forEach.call(details, function(detail){
      if (!detail.classList.contains("u-hide")) {
        detail.classList.add("u-hide")
        showMoreBtn.classList.remove("u-hide")
        showLessBtn.classList.add("u-hide")
      }
    })
  };

  </script>
  {% if application["status"] == "active" %}
    <section class="p-strip--light is-deep">
      {% if withdrawal_requested %}
        <div class="u-fixed-width">
          <div class="p-notification--caution">
            <div class="p-notification__content">
              <h5 class="p-notification__title"> You have requested to withdraw this application</h5>
              <p class="p-notification__message">Your application will remain active until you click on the link we have sent you via email.</p>
            </div>
          </div>
        </div>
        {% if debug_skip_sending %}
            <!--
              We want to make it very clear when sending has been skipped, so we don't accidentally
              end up skipping sending the email in production in a silent way that nobody notices.
            -->

          <div class="u-fixed-width">
            <div class="p-notification--caution">
              <div class="p-notification__content">
                <h5 class="p-notification__title">[DEBUG] This email wasn't sent because you're in debug mode</h5>
                <p>The following email would have been sent to {{ candidate_email }}:</p>
                <p><blockquote>{{ email_message | safe }}</blockquote></p>
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}

      {% if wrong_email %}
        <div class="u-fixed-width">
          <div class="p-notification--caution">
            <div class="p-notification__content">
              <h5 class="p-notification__title">We could not withdraw your application.</h5>
              <p class="p-notification__message">The email you entered does not match the email used to apply to this role. Please try again using the email you used in the application.</p>
            </div>
          </div>
        </div>
      {% endif %}

      <div class="row p-divider">
        <div class="col-6 p-divider__block">
          <h1 class="p-heading--2">Thanks for applying, {{ application["candidate"]["first_name"] }}.</h1>
          {% if "stage_progress" in application and application["stage_progress"]["assessment"] and not application["stage_progress"]["early_stage"]  %}
              {% if application['source']['id'] == 2 %}
                <p class="u-no-margin--bottom">We have received your application for the role: <a href="/careers/{{ application['job_post_id'] }}">{{ application["jobs"][0]["name"] }}</a></p>
              {% else %}
                <p class="u-no-margin--bottom">We have received your application for the role: {{ application["jobs"][0]["name"] }}</p>
              {% endif %}
              <p>Your hiring lead is {{ application["hiring_lead"]["name"] }}.</p>
          {% elif "stage_progress" in application and application["stage_progress"]["early_stage"] %}
              {% if application['source']['id'] == 2 %}
                <p>We have received your application for the role: <a href="/careers/{{ application['job_post_id'] }}">{{ application["jobs"][0]["name"] }}</a></p>
              {% else %}
                <p>We have received your application for the role: {{ application["jobs"][0]["name"] }}</p>
              {% endif %}
              {% if application["candidate"]["application_ids"]|length >= 2 %}
                <p class="p-text--x-small-capitalised u-align-text--x-small-to-default">Status of your other applications:</p>
                {% for application in application["candidate"]["applications"] %}
                    <p class="u-no-margin--bottom"><a href='{{ application["custom_fields"]["canonical_com_application_page"] }}'>{{ application["jobs"][0]["name"] }}</a></p>
                {% endfor %}
              {% endif %}
          {% endif %}
        </div>
        <div class="col-6 p-divider__block{% if 'stage_progress' in application and not application['stage_progress']['assessment'] %} hide-divider{% endif %}">
          {% if "stage_progress" in application and application["stage_progress"]["assessment"]  and not application["stage_progress"]["early_stage"]%}
              {% if application["candidate"]["application_ids"]|length >= 2 %}
                <p class="p-text--x-small-capitalised u-align-text--x-small-to-default">Status of your other applications:</p>
                {% for application in candidate["applications"] %}
                    <p class="u-no-margin--bottom"><a href='{{ application["custom_fields"]["canonical_com_application_page"] }}'>{{ application["jobs"][0]["name"]  }}</a></p>
                {% endfor %}
              {% endif %}
              <div>
                <p>ABOUT THIS ROLE</p>
                <div class="col-6 u-embedded-media">
                  <iframe class="u-embedded-media__element" src="https://player.vimeo.com/video/466106710?h=206809c045&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="560" height="315" frameborder="0" title="What is MicroK8s?"></iframe>
                </div>
              </div>
          {% elif "stage_progress" in application and application["stage_progress"]["early_stage"] %}
          <div>
            {% for lead in application["hiring_leads_list"]["list"] %}
                {% if lead["name"] == application["hiring_lead"]["name"]  %}
                  {% if lead['video_src'] %}
                  <div class="u-embedded-media">
                    <iframe class="u-embedded-media__element" src="{{ lead['video_src']}}" width="560" height="315" frameborder="0" title="about role"></iframe>
                  </div>
                  {% else %}
                    <img src="{{ lead['img_src']}}" class="hiring-lead-image"/>
                  {% endif %}
                  <p>Your hiring Lead is {{ lead["name"] }}</p>
                  {% if lead["bio"] %}
                  <p>{{ lead["bio"][0] |safe }}</p>
                  <a href="" onclick="showProgressDetail('hiring-lead'); event.preventDefault();" class="show-more-hiring-lead">Show more</a>
                  <div>
                    {% for bio in lead["bio"] %}
                        {% if loop.index != 1 %}
                          <p class="progress-detail-hiring-lead u-hide">{{ bio | safe }}
                          </p>
                        {% endif %}
                    {% endfor %}
                  </div>
                  <a href="" onclick="hideProgressDetail('hiring-lead'); event.preventDefault();" class="show-less-hiring-lead u-hide">Show less</a>
                  {% endif %}
                {% endif %}
            {% endfor %}
          </div>
          {% else %}
              {% if application['source']['id'] == 2 %}
                <p>We have received your application for the role: <a href="/careers/{{ application['job_post_id'] }}">{{ application["jobs"][0]["name"] }}</a></p>
              {% else %}
                <p>We have received your application for the role: {{ application["jobs"][0]["name"] }}</p>
              {% endif %}
              <p>We recommend you bookmark this page before leaving.<br/>Your personalised page will update as you move through our process, with new content and information on your application.</p>
          {% endif %}
        </div>
      </div>
    </section>

    <section class="p-strip is-deep">
      <div class="u-fixed-width">
        <h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default u-no-margin--bottom">Your application process</h2>
        {% if "stage_progress" in application and not application["stage_progress"]["assessment"]  %}
          <p><a href="#ceo-video">See what our CEO says about our hiring process.</a></p>
        {% endif %}
      </div>
      <div class="u-fixed-width">  
        <ol class="p-process-stepped-list--detailed">
          <li class="p-stepped-list__item">
            <h3 class="p-heading--2 p-process-stepped-list__title--stepper-{% if 'stage_progress' in application and application['stage_progress']['assessment'] %}complete{% elif 'stage_progress' in application and not application['stage_progress']['assessment'] and application['stage_progress']['application'] %}active{% else %}not-completed{% endif %}">Application review</h3>
            <p class="p-stepped-list__content">An experienced Hiring Lead from our business will review your CV submission against the job criteria set for this role.</p>
          </li>
          {% include 'careers/application/partial/_assessment.html' %}
          {% include 'careers/application/partial/_early-stage.html' %}
          {% include 'careers/application/partial/_late-stage.html' %}
          <li class="p-stepped-list__item">
            <h3 class="p-heading--2 p-process-stepped-list__title--stepper-{% if 'stage_progress' in application and application['stage_progress']['offer'] %}complete{% else %}not-completed{% endif %}">Offer</h3>                
          </li>
        </ol>
      </div>
    </section>

    {% if "stage_progress" in application and not application["stage_progress"]["assessment"]  %}
    <section class="p-strip--light is-deep" id="ceo-video">
      <div class="row">
        <div class="col-6">
          <h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default">Hiring at Canonical</h2>
          <h3 class="p-heading--2">Mark Shuttleworth, CEO explains the hiring process at Canonical.</h3>
        </div>
        <div class="col-6 u-embedded-media">
          <iframe class="u-embedded-media__element" src="https://player.vimeo.com/video/466106710?h=206809c045&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="560" height="315" frameborder="0" title="What is MicroK8s?"></iframe>
        </div>
      </div>
    </section>
    <section class="p-strip is-deep">
    {% else %}
    <section class="p-strip--light is-deep">
      {% endif %}
      {% include 'careers/application/partial/_lifestyle.html' %}
    </section>

    {% if "stage_progress" in application and not application["stage_progress"]["assessment"]  %}
    <section class="p-strip--light is-deep">
    {% else %}
    <section class="p-strip is-deep">
    {% endif %}
      {% if withdrawal_requested %}
      <div class="u-fixed-width">
        <h2>You have requested to withdraw this application.</h2>
        <p>Your application will remain active until you click on the link we have sent you via email.</p>
        <p>If you experience any issues please contact your hiring lead.</p>
      </div>
      {% elif not withdrawal_requested and wrong_email %}
      <div class="u-fixed-width">
        <h2>We could not withdraw your application.</h2>
        <p>The email you entered does not match the email used to apply to this role. Please try again using the email you used in the application.</p>
        <button id="showModal" aria-controls="modal">Withdraw application</button>
        {% include "careers/application/_withdrawal-form.html" %}
      </div>
      {% else %}
      <div class="u-fixed-width">
        <h2>Do you wish to withdraw your application?</h2>
        <p>You will be asked for confirmation in the next steps.</p>
        <button id="showModal" aria-controls="modal">Withdraw application</button>
        {% include "careers/application/_withdrawal-form.html" %}
      </div>
      {% endif %}
    </section>

  {% elif application["status"] == "hired" %}
    <section class="p-strip">
      <div class="row">
        <h1>Thanks for applying {{ application["candidate"]["first_name"] }} {{ application["candidate"]["last_name"] }}!</h1>
        <p>
          <i class="p-icon--success">Passed</i> You are hired! Welcome to Canonical.
        </p>
      </div>
    </section>
  {% else %}
    <section class="p-strip">
      <div class="row">
        <h1>Thanks for applying {{ application["candidate"]["first_name"] }} {{ application["candidate"]["last_name"] }}!</h1>
        <p>
          <i class="p-icon--error"></i> It seems your application on the role {{ application["jobs"][0]["name"] }} was rejected. 
          Check out <a href="/careers">our career page</a> to see if there 
          is another role that would match your skills!
        </p>
      </div>
    </section>
  {% endif %}
{% endblock %}
