{% extends 'base_index.html' %}

{% from "_macros/vf_cta-section.jinja" import vf_cta_section %}

{% block title %}Canonical telecom solutions for a cloud-native 5G Core{% endblock %}

{% block meta_description %}
  Canonical's infrastructure solutions help to ensure robust, scalable, and trusted network infrastructures, meeting the 5G Core needs of telecom providers.
{% endblock %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1h5A07aTGTZl5VfoiX2UwIpb-bHtFr7gBVUejN-uAf-Q/edit
{% endblock meta_copydoc %}

{% block body_class %}is-paper{% endblock %}

{% from "_macros/vf_quote-wrapper.jinja" import vf_quote_wrapper %}
{% from "_macros/vf_logo-section.jinja" import vf_logo_section %}

{% block content %}

  <section class="p-section--hero">
    <div class="row--50-50-on-large">
      <div class="col">
        <div class="p-section--shallow">
          <h1>Transform your 5G infrastructure with Canonical</h1>
        </div>
        <div class="p-section--shallow">
          <p>
            Build the foundation for an open, sovereign, AI-ready carrier-grade telco cloud platform with Canonical. Meet your future 5G Core demands with a trusted suite of tools that is scalable, flexible, security maintained, and delivered with predictable costs.
          </p>
        </div>

        <div class="p-section--shallow">
          <div class="p-cta-block u-no-padding--bottom">
            <a href="/contact-us"
               class="p-button--positive js-invoke-modal"
               aria-controls="solutions-telco-modal">Contact us</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div>
          <div class="p-image-container--3-2 is-highlighted">
            <img class="p-image-container__image is-cover"
                 src="https://assets.ubuntu.com/v1/5ae5e8d8-Canonical%20Telco%20Illustrations%2001.svg"
                 alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="p-section">
    <hr class="p-rule is-fixed-width" />
    <div class="grid-row--25-75-on-large">
      <div class="grid-col">
        <h2 class="p-text--small-caps">An open foundation for high-performance 5G Core networks</h2>
      </div>
      <div class="grid-col">
        <p class="p-heading--4">Comprehensive 24/7 support to sustain continuous network availability</p>
        <hr class="p-rule--muted" />
        <p class="p-heading--4">Up to 15 years of security maintenance</p>
        <hr class="p-rule--muted" />
        <p class="p-heading--4">
          Built-in support for advanced networking and data-path optimization to reduce network latency
        </p>
        <hr class="p-rule--muted" />
        <p class="p-heading--4">Scalability to meet demand</p>
      </div>
    </div>
  </section>

  <div class="p-section">
    <hr class="p-rule is-fixed-width" />
    <div class="p-section--shallow">
      <div class="grid-row">
        <h2 class="p-muted-heading">Trusted by leading telco providers</h2>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-2 grid-col-medium-1">
        <div class="p-section--shallow">
          <img src="https://assets.ubuntu.com/v1/90bab9ba-logo%20bt.png"
               width="44"
               alt="BT" />
        </div>
      </div>
      <div class="grid-col-6 grid-col-start-large-3 grid-col-medium-3 grid-col-start-medium-2">
        <div class="grid-row">
          <div class="grid-col-4">
            <p class="p-heading--6">
              <i>
                “In the last year, we’ve moved the entire mobile base for EE onto this infrastructure. So if you’re on EE, you’re on Canonical.”
              </i>
            </p>
          </div>
          <div class="grid-col-2">
            <p>
              <strong>Gary Roberts</strong>
              <br />
              <span class="u-text--muted">
                Director, Network Cloud
                <br />
                BT Group
              </span>
            </p>

          </div>
        </div>
        <div class="p-cta-block">
          <a href="/blog/bt-group-and-canonical-deliver-5g-to-uk-stadiums">Read the case study&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>

    <div class="grid-row">
      <hr class="p-rule is-fixed-width grid-col-start-large-3 grid-col-medium-3 grid-col-start-medium-2" />
    </div>
    <div class="grid-row">
      <div class="grid-col-2 grid-col-medium-1">
        <div class="p-section--shallow">
          <img src="https://assets.ubuntu.com/v1/5bd91cef-logo nayatel.png"
               width="126"
               alt="Nayatel" />
        </div>
      </div>
      <div class="grid-col-6 grid-col-start-large-3 grid-col-medium-3 grid-col-start-medium-2">
        <div class="grid-row">
          <div class="grid-col-4">
            <p class="p-heading--6">
              <i>
                “We wanted to ensure that we wouldn’t be bogged down with licence fees long-term. Most of the open source vendors we looked at charged steep per core or per server licence fees, which would have meant escalating costs as we scaled up. Canonical was the exception.”
              </i>
            </p>
          </div>
          <div class="grid-col-2">
            <p>
              <strong>Jahanzeb Arshad</strong>
              <br />
              <span class="u-text--muted">
                VP Operations
                <br />
                Nayatel
              </span>
            </p>

          </div>
        </div>
        <div class="p-cta-block">
          <a href="https://pages.ubuntu.com/rs/066-EOV-335/images/Nayatel+Case+study.pdf">Read the case study&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </div>

  <div class="p-section u-fixed-width">
    <hr class="p-rule" />

    <div class="p-section--shallow">
      <div class="grid-row--50-50-on-large">
        <div class="grid-col">
          <h2>Excellence in 5G operations</h2>
        </div>

        <div class="grid-col">
          <p>
            Meet stringent 5G Core requirements with ease. Canonical offers a suite of tools and support that enables you to maintain the highest standard of service.
          </p>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-medium-2 grid-col-2 grid-col-start-large-3">
        <h3 class="p-heading--5">Reliable performance</h3>
      </div>

      <div class="grid-col-medium-2 grid-col-4">
        <p>Ensure continuous network uptime and minimal service disruptions</p>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-6 grid-col-start-large-3">
        <hr class="p-rule--muted" />
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-medium-2 grid-col-2 grid-col-start-large-3">
        <h3 class="p-heading--5">High throughput</h3>
      </div>

      <div class="grid-col-medium-2 grid-col-4">
        <p>
          Achieve high-throughput packet processing for demanding Core workloads through advanced hardware acceleration capabilities
        </p>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-6 grid-col-start-large-3">
        <hr class="p-rule--muted" />
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-medium-2 grid-col-2 grid-col-start-large-3">
        <h3 class="p-heading--5">High scalability</h3>
      </div>

      <div class="grid-col-medium-2 grid-col-4">
        <p>Handle exponential growth in connected devices and data traffic</p>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-6 grid-col-start-large-3">
        <hr class="p-rule--muted" />
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-medium-2 grid-col-2 grid-col-start-large-3">
        <h3 class="p-heading--5">A trusted open source foundation</h3>
      </div>

      <div class="grid-col-medium-2 grid-col-4">
        <p>
          Protect the network from cyber threats with a secure-by-design platform that is backed by up to 15 years of security maintenance
        </p>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-6 grid-col-start-large-3">
        <hr class="p-rule--muted" />
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-medium-2 grid-col-2 grid-col-start-large-3">
        <h3 class="p-heading--5">Efficient automation</h3>
      </div>

      <div class="grid-col-medium-2 grid-col-4">
        <p>
          Streamline network operations and simplify Day-2 lifecycle management across your infrastructure with model-driven orchestration tools
        </p>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-6 grid-col-start-large-3">
        <hr class="p-rule--muted" />
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-medium-2 grid-col-2 grid-col-start-large-3">
        <h3 class="p-heading--5">AI readiness</h3>
      </div>

      <div class="grid-col-medium-2 grid-col-4">
        <p>
          Establish a consistent infrastructure substrate that allows models, agents, and network functions to run side-by-side with production-grade reliability
        </p>
      </div>
    </div>
  </div>

  {% call(slot) vf_logo_section(
    title={
    "text": "Leading in open source and cloud-native transformation"
    },
    blocks=[
    {
    "type": "logo-block",
    "item": {
    "logos": [
    {
    "src": "https://assets.ubuntu.com/v1/d9b2eb28-sylva-logo@2x.png",
    "alt": "Sylva"
    },
    {
    "src": "https://assets.ubuntu.com/v1/01e1b861-open-air-logo@2x.png",
    "alt": "Open Air Interface"
    },
    {
    "src": "https://assets.ubuntu.com/v1/b8215f84-etsi-logo@2x.png",
    "alt": "ETSI Members"
    },
    {
    "src": "https://assets.ubuntu.com/v1/45f80dee-cloud-native-logo@2x.png",
    "alt": "Cloud Native Computing Foundation"
    },
    {
    "src": "https://assets.ubuntu.com/v1/5268f59e-onf-logo@2x.png",
    "alt": "ONF"
    }
    ]
    }
    }
    ]
    ) -%}
  {% endcall -%}

  <div class="p-section u-fixed-width">
    <hr class="p-rule" />

    <div class="p-section--shallow">
      <div class="grid-row--50-50-on-large">
        <div class="grid-col">
          <h2>An OS that's built for performance and scale</h2>
        </div>

        <div class="grid-col">
          <p>
            Ubuntu offers a unified enterprise-grade Linux experience across desktops, servers, devices, and public clouds. With real-time kernel capabilities and support for advanced processors, Ubuntu meets the stringent demands of 5G Core networks, enhancing data-plane efficiency and ensuring production-grade reliability.
          </p>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-medium-2 grid-col-2 grid-col-start-large-3">
        <h3 class="p-heading--5">Data plane efficiency</h3>
      </div>

      <div class="grid-col-medium-2 grid-col-4">
        <p>
          Ubuntu integrates advanced, high-performance software libraries and virtual switching functionalities designed to improve network performance. By enabling faster data processing, these capabilities help to ensure seamless and efficient network operations.
        </p>

        <div class="p-cta-block">
          <a href="https://ubuntu.com/server/docs/explanation/intro-to/networking/">Explore Ubuntu server networking capabilities ›</a>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-6 grid-col-start-large-3">
        <hr class="p-rule--muted" />
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-medium-2 grid-col-2 grid-col-start-large-3">
        <h3 class="p-heading--5">Scalability and flexibility</h3>
      </div>

      <div class="grid-col-medium-2 grid-col-4">
        <p>
          Deploy and manage your infrastructure with ease. Ubuntu Server scales as your needs grow, handling increases in demand and the expansion of 5G networks, while staying responsive and cost-effective.
        </p>
        <div class="p-cta-block">
          <a href="https://ubuntu.com/server">Discover Ubuntu Server ›</a>
        </div>

      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-6 grid-col-start-large-3">
        <hr class="p-rule--muted" />
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-medium-2 grid-col-2 grid-col-start-large-3">
        <h3 class="p-heading--5">Centralized management</h3>
      </div>

      <div class="grid-col-medium-2 grid-col-4">
        <p>
          Using Landscape, administrators can automate security patching, audit compliance profiles, and monitor system performance across thousands of Ubuntu instances simultaneously, offering lean operational overhead as your clusters grow.
        </p>
        <div class="p-cta-block">
          <a href="https://ubuntu.com/landscape">Explore Landscape ›</a>
        </div>

      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-6 grid-col-start-large-3">
        <hr class="p-rule--muted" />
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-medium-2 grid-col-2 grid-col-start-large-3">
        <h3 class="p-heading--5">Security and compliance as standard</h3>
      </div>

      <div class="grid-col-medium-2 grid-col-4">
        <p>
          Benefit from the stability of Ubuntu Long Term Support (LTS) releases, which include security patching for 5 years as standard. Get Ubuntu Pro, Canonical’s optional enterprise-grade subscription, to gain access to a trusted open source repository, compliance profiles for the most stringent security standards, and up to 15 years of vulnerability fixes for your OS, infrastructure, and applications.
        </p>
        <div class="p-cta-block">
          <a href="https://ubuntu.com/pro">Discover Ubuntu Pro ›</a>
        </div>

      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-6 grid-col-start-large-3">
        <hr class="p-rule--muted" />
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-medium-2 grid-col-2 grid-col-start-large-3">
        <h3 class="p-heading--5">Comprehensive hardware support and integration</h3>
      </div>

      <div class="grid-col-medium-2 grid-col-4">
        <p>
          Achieve high reliability and performance with extensive hardware support, including NVIDIA Bluefield, as well as features like Intel vRAN boost and AVX512 for packet processing.
        </p>
        <p>
          Ubuntu certified hardware ensures the best performance and reliability with Ubuntu. Each device undergoes rigorous testing for OS compatibility, covering over 500 tests including audio, Ethernet, wireless, and power management.
        </p>
        <div class="p-cta-block">
          <a href="https://ubuntu.com/certified">Learn more about Ubuntu certified hardware ›</a>
        </div>

      </div>
    </div>
  </div>

  <section class="p-section" id="mixed-content-section">
    <div class="grid-row--50-50-on-large">
      <hr class="p-rule" />
      <div class="grid-col">
        <h2>One subscription for security, compliance, and support across your stack</h2>
      </div>
      <div class="grid-col">
        <div class="u-embedded-media">
          <iframe title="Ubuntu Pro explained in 2 minutes"
                  class="u-embedded-media__element"
                  src="https://www.youtube.com/embed/tNECRG5r2sg?si=B98-42RGdgpJebjQ"
                  allowfullscreen=""></iframe>
        </div>
        <div>
          <p>Ubuntu Pro is Canonical’s comprehensive subscription for open source security, support, and compliance.</p>
          <p>
            Ubuntu Pro brings you comprehensive coverage and up to 15 years of security maintenance and vulnerability management for everything – from your OS and infrastructure to your application stack – on desktops, servers, public clouds, or smart devices.
          </p>
          <p>
            Get access to a trusted repository of open source toolchains and frameworks, automation tools, hardening and compliance profiles for FIPS, DISA-STIG, and other security standards, along with advanced features designed to meet the stringent requirements of 5G Core networks.
          </p>
        </div>
        <div>
          <div class="p-cta-block u-no-padding--bottom">
            <a class="p-button" href="https://www.ubuntu.com/pro/free-trial">Get a 30-day free trial</a>
            <a href="https://ubuntu.com/pro/why-pro">Learn why companies choose Ubuntu Pro ›</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="p-section">
    <hr class="p-rule is-fixed-width" />

    <div class="grid-row">
      <div class="grid-col-4 grid-col-medium-4 grid-col-small-4">
        <h2>Cloudify your data center</h2>
      </div>
      <div class="grid-col-4 grid-col-medium-4 grid-col-small-4">
        <div class="p-section--shallow">
          <p>
            Run your data center like a public cloud with Canonical. We provide a unified, cloud-native infrastructure to integrate virtualized network functions (VNFs) and cloud-native network functions (CNFs) straightforwardly. With this unified approach, you can modernize your data center progressively, while meeting the most stringent 5G Core requirements.
          </p>
        </div>

      </div>
    </div>
    <div class="p-pricing-block--50-50">
      <div class="p-pricing-block__tier">
        <div class="p-pricing-block__section">
          <div class="p-section--shallow">
            <h3 class="p-heading--4">Virtualize key network functions with Canonical OpenStack</h3>
          </div>
        </div>
        <div class="p-pricing-block__section">
          <p>
            OpenStack is our highly customizable, enterprise-grade cloud platform. For modern telecom networks, OpenStack provides the infrastructure necessary to host VNFs efficiently, helping telecom companies to achieve the requirements for 5G Core networks.
          </p>
        </div>
        <div class="p-pricing-block__section">
          <p class="u-text--muted">What's included</p>
          <ul class="p-list--divided">
            <li class="p-list__item has-bullet">Enhanced platform awareness (EPA)</li>
            <li class="p-list__item has-bullet">Service chaining and integration</li>
            <li class="p-list__item has-bullet">Workload lifecycle management</li>
            <li class="p-list__item has-bullet">Scalability and flexibility</li>
          </ul>
        </div>

        <div class="p-pricing-block__section">
          <a href="/openstack">Discover Canonical OpenStack ›</a>
        </div>
      </div>

      <div class="p-pricing-block__tier">
        <div class="p-pricing-block__section">
          <div class="p-section--shallow">
            <h3 class="p-heading--4">Orchestrate your core with Kubernetes</h3>
          </div>
        </div>
        <div class="p-pricing-block__section">
          <p>
            As a proud member of the Cloud Native Computing Foundation (CNCF), Canonical Kubernetes helps telecom networks to manage CNFs. Kubernetes is the leading container orchestration platform. It automates workload deployment, scaling, and operations.
          </p>
        </div>
        <div class="p-pricing-block__section">
          <p class="u-text--muted">What's included</p>
          <ul class="p-list--divided">
            <li class="p-list__item has-bullet">Automated scaling</li>
            <li class="p-list__item has-bullet">Self-healing</li>
            <li class="p-list__item has-bullet">Rolling updates</li>
            <li class="p-list__item has-bullet">Enhanced platform awareness (EPA)</li>
          </ul>
        </div>
        <div class="p-pricing-block__section">
          <a href="https://ubuntu.com/kubernetes">Discover Canonical Kubernetes ›</a>
        </div>
      </div>
    </div>
  </div>

  <div class="p-section" id="2-blocks-private-5g">
    <hr class="p-rule is-fixed-width" />

    <div class="grid-row">
      <div class="grid-col-4 grid-col-medium-4 grid-col-small-4">
        <h2>Deploy private 5G networks with minimal operational overhead</h2>
      </div>
      <div class="grid-col-4 grid-col-medium-4 grid-col-small-4">
        <div class="p-section--shallow">
          <p>
            Canonical provides a lightweight, cloud-native infrastructure substrate to host localized core network functions and edge applications side-by-side. Our unified approach minimizes deployment complexity, so enterprises and system integrators can launch trusted, high-performance private networks.
          </p>
        </div>

      </div>
    </div>
    <div class="p-pricing-block--50-50">
      <div class="p-pricing-block__tier">
        <div class="p-pricing-block__section">
          <div class="p-section--shallow">
            <h3 class="p-heading--4">Build your private 5G network with MicroCloud</h3>
          </div>
        </div>
        <div class="p-pricing-block__section">
          <p>
            Our lightweight, open source cloud platform, MicroCloud, helps to simplify private 5G network deployments. With MicroCloud, you can establish a highly available clustered environment in minutes, scale localized core infrastructure, and host edge-native workloads.
          </p>
        </div>
        <div class="p-pricing-block__section">
          <p class="u-text--muted">What's included</p>
          <ul class="p-list--divided">
            <li class="p-list__item has-bullet">Fine-grained access control and multi-tenancy</li>
            <li class="p-list__item has-bullet">Support for system containers and virtual machines</li>
            <li class="p-list__item has-bullet">High availability (HA)</li>
            <li class="p-list__item has-bullet">Enhanced platform awareness (EPA)</li>
          </ul>
        </div>

        <div class="p-pricing-block__section">
          <a href="/microcloud">Discover Canonical MicroCloud ›</a>
        </div>
      </div>

      <div class="p-pricing-block__tier">
        <div class="p-pricing-block__section">
          <div class="p-section--shallow">
            <h3 class="p-heading--4">Gain end-to-end visibility with Canonical Observability Stack (COS)</h3>
          </div>
        </div>
        <div class="p-pricing-block__section">
          <p>
            COS delivers a highly integrated, low-operations telemetry suite built on high performance open source tools. Engineered to run efficiently alongside lean edge-core deployments, it provides a comprehensive monitoring framework to maintain network health and visibility.
          </p>
        </div>
        <div class="p-pricing-block__section">
          <p class="u-text--muted">What's included</p>
          <ul class="p-list--divided">
            <li class="p-list__item has-bullet">Centralized observability dashboards</li>
            <li class="p-list__item has-bullet">Multi-dimensional metrics collection and analysis</li>
            <li class="p-list__item has-bullet">Cloud-native log aggregation and correlation</li>
            <li class="p-list__item has-bullet">Distributed tracing and telemetry correlation</li>
          </ul>
        </div>
        <div class="p-pricing-block__section">
          <a href="/observability">Discover Canonical Observability Stack ›</a>
        </div>
      </div>
    </div>
  </div>

  <div class="p-section u-hide--small">
    <div class="grid-row">
      <hr />
      <div class="col">
        <h2>Canonical's 5G Core infrastructure stack</h2>
        <div class="p-image-container is-highlighted">
          <img class="p-image-container__image"
               src="https://assets.ubuntu.com/v1/fa1a5922-5g_core_arch_infography.png"
               alt="Canonical's telco stack covers bare metal automation (through MAAS), operating system (Ubuntu, Ubuntu Core), system management (Landscape), virtualization (LXD/KVM, Ceph, OVN), infrastructure management (MicroCloud, OpenStack), Container orchestration (Kubernetes) and infrastructure orchestration (Juju)" />
        </div>
      </div>
    </div>
  </div>

  <div class="p-section">
    <div class="row">
      <hr />
      <div class="col-3">
        <div class="p-section--shallow">
          <h2>Learn more</h2>
        </div>
      </div>
      <div class="col-9">
        <div class="p-section--shallow">
          <div class="row">
            <div class="col-3">
              <h3 class="p-heading--5">Webinars</h3>
            </div>
            <div class="col-6">
              <ul class="p-list">
                <li class="p-list__item">
                  <a href="https://ubuntu.com/engage/sovereign-cloud-telcos">Sovereign cloud for telcos</a>
                </li>
              </ul>
            </div>
          </div>
          <hr class="p-rule--muted" />
          <div class="row">
            <div class="col-3">
              <h3 class="p-heading--5">Suggested reading</h3>
            </div>
            <div class="col-6">
              <ul class="p-list">
                <li class="p-list__item">
                  <a href="https://ubuntu.com/engage/kubernetes-for-telco-performance">Unlock the full potential of Kubernetes for telco performance</a>
                </li>
                <li class="p-list__item">
                  <a href="https://ubuntu.com/blog/the-next-era-of-telco-clouds-get-open-infrastructure-choice-with-sylva-and-canonical-kubernetes">The next era of telco clouds: get open infrastructure choice with Sylva and Canonical Kubernetes</a>
                </li>
                <li class="p-list__item">
                  <a href="https://ubuntu.com/blog/how-telco-companies-can-reduce-5g-infrastructure-costs-with-modern-open-source-cloud-native-technologies">How telco companies can reduce 5G infrastructure costs with modern open source cloud-native technologies</a>
                </li>
                <li class="p-list__item">
                  <a href="https://ubuntu.com/blog/telecom-security-how-to-safeguard-your-open-source-telco-infrastructure">Safeguarding your telco infrastructure with Ubuntu Pro</a>
                </li>
                <li class="p-list__item">
                  <a href="/blog/12-year-lts-for-kubernetes">12 year long-term support for Canonical Kubernetes</a>
                </li>
                <li class="p-list__item">
                  <a href="https://ubuntu.com/engage/bare-metal-kubernetes">How to run workloads on bare metal Kubernetes with MAAS</a>
                </li>
                <li class="p-list__item">
                  <a href="https://ubuntu.com/engage/telco-dilemma-reduce-5g-infra-cost">Overcome the telco dilemma: reduce 5G infrastructure costs with open source</a>
                </li>
                <li class="p-list__item">
                  <a href="https://ubuntu.com/engage/hpe-telco-validated-design-with-canonical-kubernetes">Discover how HPE and Canonical's Kubernetes Telco validated design can future-proof your network</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% call(slot) vf_cta_section(
    title_text='Canonical provides a full stack for your telecom infrastructure.',
    variant='default',
    layout='100',
    attrs={'id': 'full-width-default'}
    ) -%}
    {%- if slot == 'cta' -%}
      <a href="#get-in-touch"
         class="js-invoke-modal"
         aria-controls="solutions-telco-modal">Contact us to learn more &rsaquo;</a>
    {%- endif -%}
  {% endcall -%}

  <script defer
          src="{{ versioned_static('js/modals.js') }}"
          nonce="{{ csp_nonce }}"></script>

  {{ load_form("/solutions/telco/5g-core") | safe }}

{% endblock %}
