{% extends 'base_index.html' %}

{% block title %}Canonical telecom solutions for a cloud-native 5G core{% endblock %}

{% block meta_description %}
  Canonical's infrastructure solutions meet the 5G Core needs of telecom giants, ensuring robust, scalable, and secure network infrastructures.
{% endblock %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1h5A07aTGTZl5VfoiX2UwIpb-bHtFr7gBVUejN-uAf-Q/edit
{% endblock meta_copydoc %}

{% block body_class %}is-paper{% endblock %}

{% from "_macros/vf_quote-wrapper.jinja" import vf_quote_wrapper %}

{% block content %}

  <div class="p-section--hero">
    <div class="row--50-50">
      <div class="col">
        <h1>
          Transform your
          <br />
          5G infrastructure with Canonical
        </h1>
      </div>
      <div class="col">
        <div class="p-section--shallow">
          <div class="p-section--shallow">
            <p>
              Innovate across your entire network and build next-generation infrastructure with Canonical. Meet your 5G Core demands and deliver exceptional service with a suite of tools that is scalable, flexible and secure.
            </p>
          </div>
          <hr class="p-rule--muted" />
          <a href="/contact-us"
             class="p-button--positive js-invoke-modal"
             aria-controls="solutions-telco-modal">Contact us</a>
        </div>
      </div>
      <div class="p-image-container--cinematic is-highlighted">
        {{ image(url="https://assets.ubuntu.com/v1/29a3e891-Hero-Img-Telco-Illustration-01.png",
                alt="",
                width="2464",
                height="1027",
                hi_def=True,
                loading="auto",
                attrs={"class": "p-image-container__image"}) | safe
        }}
      </div>
    </div>
  </div>

  <div class="p-section">
    <div class="row--50-50">
      <hr />
      <div class="col">
        <h2>
          A platform for
          <br class="u-hide--medium u-hide--small" />
          high-performance networks
        </h2>
      </div>
      <div class="col">
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">Comprehensive 24*7 support</li>
          <li class="p-list__item is-ticked">Up to 12 years of security maintenance</li>
          <li class="p-list__item is-ticked">Real-time capabilities to reduce network latency</li>
          <li class="p-list__item is-ticked">Scalability to meet demand</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="u-fixed-width">
    <div class="p-section--shallow">
      <hr class="p-rule--highlight" />
      <h2 class="p-text--small-caps">Trusted by leading telco providers</h2>
    </div>
  </div>

  {%- call(slot) vf_quote_wrapper(
    quote_text="In the last year, we’ve moved the entire mobile base for EE onto this infrastructure. So if you’re on EE, you’re on Canonical.",
    quote_size="small",
    citation_source_name_text="Gary Roberts",
    citation_source_title_text="Director, Network Cloud",
    citation_source_organisation_text="BT Group",
    is_shallow="true"
    )
    %}
    {% if slot == "signpost_image" %}
      {{ image(url="https://assets.ubuntu.com/v1/90bab9ba-logo%20bt.png",
                alt="BT logo",
                width="44",
                height="64",
                hi_def=True,
                loading="lazy",
                attrs={"class": "p-image-container__image"}) | safe
      }}
    {% endif %}
    {% if slot == "cta" %}
      <a href="/blog/bt-group-and-canonical-deliver-5g-to-uk-stadiums">Read the story&nbsp;&rsaquo;</a>
    {% endif %}
  {%- endcall %}

  {%- call(slot) vf_quote_wrapper(
    quote_text="We wanted to ensure that we wouldn’t be bogged down with licence fees long-term.
    Most of the open source vendors we looked at charged steep per core or per server licence fees,
    which would have meant escalating costs as we scaled up. Canonical was the exception.",
    quote_size="small",
    citation_source_name_text="Jahanzeb Arshad",
    citation_source_title_text="VP Operations",
    citation_source_organisation_text="Nayatel"
    )
    %}
    {% if slot == "signpost_image" %}
      {{ image(url="https://assets.ubuntu.com/v1/5bd91cef-logo nayatel.png",
                alt="Nayatel logo",
                width="126",
                height="50",
                hi_def=True,
                loading="lazy",
                attrs={"class": "p-image-container__image"}) | safe
      }}
    {% endif %}
    {% if slot == "cta" %}
      <a href="https://pages.ubuntu.com/rs/066-EOV-335/images/Nayatel+Case+study.pdf">Read the case study&nbsp;&rsaquo;</a>
    {% endif %}
  {%- endcall %}

  <div class="p-section">
    <div class="p-section--shallow">
      <div class="row">
        <hr />
        <div class="col-6">
          <h2>Ensure excellence in 5G operations</h2>
        </div>
        <div class="col-6">
          <p>
            Meet stringent core requirements with ease. Take advantage of a suite of tools and support that enables you to maintain the highest standard of service.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-start-large-4 col-9">
        <div class="p-section--shallow">
          <div class="p-equal-height-row">
            <hr class="p-rule--muted u-hide--medium u-hide--small" />
            <div class="p-equal-height-row__col">
              <h3 class="p-equal-height-row__item p-heading--5">Reliable performance</h3>
              <p class="p-equal-height-row__item">Ensure continuous network uptime and minimal service disruptions.</p>
            </div>
            <div class="p-equal-height-row__col">
              <h3 class="p-equal-height-row__item p-heading--5">Low latency</h3>
              <p class="p-equal-height-row__item">Achieve rapid response times for seamless connectivity and real-time network functions.</p>
            </div>
            <div class="p-equal-height-row__col">
              <h3 class="p-equal-height-row__item p-heading--5">High scalability</h3>
              <p class="p-equal-height-row__item">Handle the exponential growth in connected devices and data traffic.</p>
            </div>
          </div>
        </div>
        <div class="p-section--shallow">
          <div class="p-equal-height-row">
            <hr class="p-rule--muted u-hide--medium u-hide--small" />
            <div class="p-equal-height-row__col">
              <h3 class="p-equal-height-row__item p-heading--5">Robust security</h3>
              <p class="p-equal-height-row__item">
                Protect the network from cyber threats with a platform that’s secure by design, and backed by regular security maintenance.
              </p>
            </div>
            <div class="p-equal-height-row__col">
              <h3 class="p-equal-height-row__item p-heading--5">Efficient automation</h3>
              <p class="p-equal-height-row__item">Streamline network operations with automated processes and management tools.</p>
            </div>
            <div class="p-equal-height-row__col">
              <h3 class="p-equal-height-row__item p-heading--5">Zero touch provisioning</h3>
              <p class="p-equal-height-row__item">Eliminate manual work when deploying and updating network devices at scale.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-section">
    <div class="row">
      <div class="p-section--shallow">
        <hr />
        <h2>An OS that's built for performance and scale</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-start-large-4 col-9 col-start-medium-2 col-medium-5">
        <div class="p-section--shallow">
          <div class="row">
            <div class="col-start-large-4 col-6 col-medium-3 col-start-medium-3">
              <p>
                With real-time kernel capabilities and support for advanced processors, Ubuntu meets the stringent demands of 5G Core networks, enhancing performance and reducing latency.
              </p>
            </div>
          </div>
        </div>
        <div class="p-section--shallow">
          <hr class="p-rule--muted" />
          <div class="row">
            <div class="col-3 col-medium-2">
              <h3 class="p-heading--5">Real-time kernel capabilities</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>
                Ubuntu's real-time kernel significantly reduces latency. This improvement enables faster data processing and real-time decision-making, ensuring seamless and efficient network operations.
              </p>
              <hr class="p-rule--muted" />
              <p>
                <a href="https://ubuntu.com/real-time">Learn more about Real-time Ubuntu&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
        <div class="p-section--shallow">
          <hr class="p-rule--muted" />
          <div class="row">
            <div class="col-3 col-medium-2">
              <h3 class="p-heading--5">Scalability and flexibility</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>
                Deploy and manage your infrastructure with ease. Ubuntu  scales effortlessly, accommodating the rapid growth in capillarity of 5G networks.
              </p>
              <hr class="p-rule--muted" />
              <p>
                <a href="https://ubuntu.com/engage/intelligent-auto-scaling-open-ran">Discover intelligent auto-scaling&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
        <div class="p-section--shallow">
          <hr class="p-rule--muted" />
          <div class="row">
            <div class="col-3 col-medium-2">
              <h3 class="p-heading--5">Security as standard</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>
                Benefit from Ubuntu Long Term Support releases, which include security patching for 5 years as standard. Upgrade to Pro to get up to 12 years in expanded security maintenance.
              </p>
              <hr class="p-rule--muted" />
              <p>
                <a href="https://ubuntu.com/pro">Discover Ubuntu Pro&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
        <div class="p-section--shallow">
          <hr class="p-rule--muted" />
          <div class="row">
            <div class="col-3 col-medium-2">
              <h3 class="p-heading--5">Comprehensive hardware support and integration</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>
                Achieve high-reliability and performance with extensive hardware support. Canonical offers support and integration of hardware features such as Intel vRAN boost, NVIDIA Bluefield, and AVX512 for packet processing, ensuring that Ubuntu seamlessly integrates with existing telecom infrastructure.
              </p>
              <p>
                Ubuntu Certified hardware ensures the best performance and reliability with Ubuntu. Each device undergoes rigorous testing for OS compatibility, covering over 500 tests including audio, Ethernet, wireless, and power management.
              </p>
              <hr class="p-rule--muted" />
              <p>
                <a href="https://ubuntu.com/certified">Learn more about Ubuntu certified hardware&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-section">
    <div class="p-section--shallow">
      <div class="row--50-50">
        <hr />
        <div class="col">
          <h2>Cloudify your data centre</h2>
        </div>
        <div class="col">
          <p>
            Canonical enables you to run your data centre like a cloud. We provide a unified, cloud-native infrastructure capable of seamlessly integrating virtualised network functions (VNFs) and cloud-native network functions (CNFs).
          </p>
          <p>
            This integration maximises the strengths of each platform, ensuring that telecom companies can meet the most stringent 5G Core requirements with optimal performance and flexibility.
          </p>
        </div>
      </div>
    </div>
    <div class="row--50-50">
      <div class="col">
        <hr class="p-rule--highlight u-no-margin--bottom" />
        <div class="p-card--overlay u-no-padding--top" style="height: 95%; overflow: hidden;">
          <div class="p-section--shallow">
            <div class="p-section--shallow">
              <h3>Virtualise key network functions with OpenStack</h3>
            </div>
            <p class="u-text--muted">
              OpenStack is an open source cloud platform which plays a pivotal role in modern telecom networks. It provides the infrastructure necessary to host virtual network functions (VNFs) efficiently, enabling telecom companies to meet 5G Core requirements with flexibility and high performance.
            </p>
          </div>
          <hr class="p-rule--muted" />
          <div class="p-section--shallow">
            <div class="row">
              <div class="col-2">
                <h4 class="p-text--small-caps">What's included</h4>
              </div>
              <div class="col-4">
                <ul class="p-list--divided">
                  <li class="p-list__item is-ticked">Enhanced Platform Awareness (EPA)</li>
                  <li class="p-list__item is-ticked">Service Chaining and Integration</li>
                  <li class="p-list__item is-ticked">Life Cycle Management</li>
                  <li class="p-list__item is-ticked">Scalability and Flexibility</li>
                </ul>
              </div>
            </div>
          </div>
          <hr class="p-rule--muted" />
          <p>
            <a href="https://ubuntu.com/openstack">Read more about Canonical OpenStack&nbsp;&rsaquo;</a>
          </p>
        </div>
      </div>
      <div class="col">
        <hr class="p-rule--highlight u-no-margin--bottom" />
        <div class="p-card--overlay u-no-padding--top" style="height: 95%; overflow: hidden;">
          <div class="p-section--shallow">
            <div class="p-section--shallow">
              <h3>Orchestrate your Core with Kubernetes</h3>
            </div>
            <p class="u-text--muted">
              As a proud member of the Cloud Native Computing Foundation (CNCF), Canonical uses Kubernetes to manage cloud-native network functions (CNFs) in telecom networks. Kubernetes is the leading container orchestration platform and automates deployment, scaling, and operations.
            </p>
          </div>
          <hr class="p-rule--muted" />
          <div class="p-section--shallow">
            <div class="row">
              <div class="col-2">
                <h4 class="p-text--small-caps">What's included</h4>
              </div>
              <div class="col-4">
                <ul class="p-list--divided">
                  <li class="p-list__item is-ticked">Automated scaling</li>
                  <li class="p-list__item is-ticked">Self-healing</li>
                  <li class="p-list__item is-ticked">Rolling updates</li>
                  <li class="p-list__item is-ticked">Enhanced Platform Awareness (EPA)</li>
                </ul>
              </div>
            </div>
          </div>
          <hr class="p-rule--muted" />
          <p>
            <a href="https://ubuntu.com/kubernetes">Learn more about Canonical Kubernetes&nbsp;&rsaquo;</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="p-section">
    <div class="row--50-50">
      <hr />
      <div class="col">
        <h2>Canonical's 5G Core architecture</h2>
      </div>
      <div class="col">
        <div class="p-image-container">
          {{ image(url="https://assets.ubuntu.com/v1/9d96ea3a-5gcore.png",
                    alt="This graphic shows how Canonical Openstack and Kubernetes infrastructure software can be combined to host hybrid 5G core enabling seamless migration from virtual network functions (VNF) to cloud-native network functions (CNF)",
                    width="1200",
                    height="676",
                    hi_def=True,
                    loading="lazy",
                    attrs={"class": "p-image-container__image"}) | safe
          }}
        </div>
      </div>
    </div>
  </div>

  <div class="p-section">
    <div class="row">
      <div class="p-section--shallow">
        <hr />
        <h2 class="p-text--small-caps">Leading in open source and cloud-native transformation</h2>
      </div>
    </div>
    <div class="u-fixed-width">
      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/0dfd3923-onf-logo.png",
                        alt="ONF",
                        width="157",
                        height="256",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
            <hr class="p-rule--muted" />
            <p>
              <a href="https://opennetworking.org/">Learn more<span class="u-off-screen">about ONF</span>&nbsp;&rsaquo;</a>
            </p>
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/6c50f69f-open-air-interface-logo.png",
                        alt="OAI",
                        width="255",
                        height="256",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
            <hr class="p-rule--muted" />
            <p>
              <a href="https://openairinterface.org/">Learn more<span class="u-off-screen">about OAI</span>&nbsp;&rsaquo;</a>
            </p>
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/784c6815-sylva-logo.png",
                        alt="Sylva",
                        width="124",
                        height="256",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
            <hr class="p-rule--muted" />
            <p>
              <a href="https://sylvaproject.org/">Learn more<span class="u-off-screen">about Sylva</span>&nbsp;&rsaquo;</a>
            </p>
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/392ce2d3-ETI-member-logo.png",
                        alt="ETSI",
                        width="192",
                        height="256",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
            <hr class="p-rule--muted" />
            <p>
              <a href="https://www.etsi.org/">Learn more<span class="u-off-screen">about ETSI member</span>&nbsp;&rsaquo;</a>
            </p>
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/45f80dee-cloud-native-logo@2x.png",
                        alt="Cloud Native",
                        width="280",
                        height="209",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
            <hr class="p-rule--muted" />
            <p>
              <a href="https://www.cncf.io/">Learn more<span class="u-off-screen">about Cloud Native</span>&nbsp;&rsaquo;</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-section">
    <div class="u-fixed-width">
      <hr />
      <div class="p-section--shallow">
        <h2>One subscription for security, compliance and support across the stack</h2>
      </div>
    </div>
    <div class="row--50-50">
      <div class="col">
        <p>
          Ubuntu Pro offers comprehensive support and advanced features designed to meet the stringent requirements of 5G Core networks.
        </p>
        <p>
          With extended security maintenance, real-time kernel support, and automation tools, Ubuntu Pro ensures that telecom infrastructures remain secure, efficient, and reliable.
        </p>
      </div>
      <div class="col">
        <div class="u-embedded-media">
          <iframe title="Ubuntu Pro explained in 2 minutes"
                  class="u-embedded-media__element"
                  src="https://www.youtube.com/embed/tNECRG5r2sg?si=B98-42RGdgpJebjQ"
                  allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="p-section">
    <div class="row">
      <hr />
      <div class="col-3">
        <div class="p-section--shallow">
          <h2>Learn more</h2>
        </div>
      </div>
      <div class="col-9">
        <div class="p-section--shallow">
          <div class="row">
            <div class="col-3">
              <h3 class="p-heading--5">Webinars</h3>
            </div>
            <div class="col-6">
              <ul class="p-list--divided">
                <li class="p-list__item">
                  <a href="https://ubuntu.com/engage/telco-cloud-implementation">Telco cloud implementation</a>
                </li>
                <li class="p-list__item">
                  <a href="https://bit.ly/3FW2QR2">Kubernetes on bare metal: ready for prime time!</a>
                </li>
                <li class="p-list__item">
                  <a href="https://ubuntu.com/engage/improving-telecom-security-2023-webinar">Improving telecom security</a>
                </li>
              </ul>
            </div>
          </div>
          <hr class="p-rule--muted" />
          <div class="row">
            <div class="col-3">
              <h3 class="p-heading--5">Suggested reading</h3>
            </div>
            <div class="col-6">
              <ul class="p-list--divided">
                <li class="p-list__item">
                  <a href="https://ubuntu.com/engage/kubernetes-for-telco-performance">Unlock the full potential of Kubernetes for telco performance</a>
                </li>
                <li class="p-list__item">
                  <a href="https://ubuntu.com/blog/telecom-security-how-to-safeguard-your-open-source-telco-infrastructure">Safeguarding your telco infrastructure with Ubuntu Pro</a>
                </li>
                <li class="p-list__item">
                  <a href="/blog/12-year-lts-for-kubernetes">12 year long-term support for Canonical Kubernetes</a>
                </li>
                <li class="p-list__item">
                  <a href="https://ubuntu.com/engage/bare-metal-kubernetes">How to run workloads on bare metal Kubernetes with MAAS</a>
                </li>
                <li class="p-list__item">
                  <a href="https://ubuntu.com/engage/telco-dilemma-reduce-5g-infra-cost">Overcome the telco dilemma: reduce 5G infrastructure costs with open source</a>
                </li>
                <li class="p-list__item">
                  <a href="https://ubuntu.com/engage/hpe-telco-validated-design-with-canonical-kubernetes">Discover how HPE and Canonical's Kubernetes Telco validated design can future-proof your network</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-rule" />
    <div class="p-strip is-deep">
      <div class="u-fixed-width u-vertically-center">
        <div class="p-section--shallow">
          <h2>
            Canonical provides a full stack for your telecom infrastructure.
            <br />
            To learn more about our telco solutions, get in touch.
          </h2>
        </div>
      </div>
      <div class="u-fixed-width">
        <p>
          <a href="/contact-us"
             class="p-button--positive js-invoke-modal"
             aria-controls="solutions-telco-modal">Contact us</a>
        </p>
      </div>
    </div>
  </div>

  <script defer src="{{ versioned_static('js/modals.js') }}"></script>

  {{ load_form("/solutions/telco") | safe }}

{% endblock %}
