{% extends 'base_index.html' %}

{% block title %}Automated open source 5G core for private mobile networks{% endblock %}

{% block meta_description %}
  Canonical's Ubuntu, OpenStack, Kubernetes, and MicroCloud solutions meet telco edge needs with real-time performance, security, and scalability.
{% endblock %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/16LTas94cs3bFZGZgJjZ8jymMNTaDeVjcpeKiwzCjd08
{% endblock meta_copydoc %}

{% block content %}
  <div class="p-section--hero">
    <div class="row--50-50">
      <div class="col">
        <div class="p-section--shallow">
          <h1>
            Automated open source 5G core
            <br />
            for private mobile networks
          </h1>
        </div>
      </div>
      <div class="col">
        <div class="p-section--shallow">
          <div class="p-section--shallow">
            <p>Build your own enterprise 5G infrastructure for your employees and business devices with Charmed Aether SD-Core.</p>
            <p>
              Easily deploy and operate your private mobile network with an automated, cost-effective and performant 5G mobile core. It’s next-generation 5G, built into your enterprise.
            </p>
          </div>
          <div class="p-cta-block">
            <a href="https://ubuntu.com/telco/contact-us" class="p-button--positive">Contact us</a>
          </div>
        </div>
      </div>
      <div class="p-image-container--cinematic is-cover">
        {{ image(url="https://assets.ubuntu.com/v1/95663afd-hero-img.png",
                alt="",
                width="2464",
                height="1027",
                hi_def=True,
                loading="auto",
                attrs={"class": "p-image-container__image"}) | safe
        }}
      </div>
    </div>
  </div>

  <div class="p-section">
    <div class="grid-row">
      <hr class="p-rule" />
      <div class="grid-col-4">
        <h2>
          5G private mobile networks
          <br class="u-hide--medium u-hide--small" />
          for enterprises
        </h2>
      </div>
      <div class="grid-col-4">
        <p>Combine the high-performance and security of mobile networking, by building a private mobile network (PMN).</p>
        <p>
          Achieve higher operational efficiency and bring next-generation 5G to employees and devices alike through the seamless connectivity and full coverage offered by on-premise, private mobile networks. Assume total control over privacy and security to ensure secure data flow and communications.
        </p>
        <p>
          Harness the benefits of next-generation 5G, wherever you operate. From farming and manufacturing to retail, healthcare and warehouses, Charmed Aether SD-Core makes powerful, private networking accessible to a range of industries.
        </p>
      </div>
    </div>
  </div>

  <div class="p-section">
    <div class="grid-row">
      <hr class="p-rule" />
      <div class="grid-col-4">
        <h2>
          Charmed Aether SD-Core:
          <br class="u-hide--medium u-hide--small" />
          Automated stand-alone 5G core
        </h2>
      </div>
      <div class="grid-col-4">
        <div class="p-image-container is-highlighted">
          {{ image(url="https://assets.ubuntu.com/v1/bea68ec4-ather-sd-core.png",
                    alt="",
                    width="1200",
                    height="676",
                    hi_def=True,
                    loading="lazy",
                    attrs={"class": "p-image-container__image"}) | safe
          }}
        </div>
        <p>
          Build a highly performant 5G core, backed by the industry-championed Aether project from the Linux Foundation, and Canonical with 20 years of experience in open source for enterprises.
        </p>
        <p>
          Charmed Aether SD-Core is a stand-alone 5G core with easy rollout through software automation brought by Canonical. Benefit from pre-integrated observability and a network management system (NMS) with an intuitive graphical user interface.
        </p>
        <p>
          Choose Charmed Aether SD-Core for simplicity, automation and ease-of-deployment, and roll out a cost-efficient, fully observable private mobile network.
        </p>
        <div class="p-cta-block">
          <a href="https://ubuntu.com/telco/contact-us" class="p-button--positive">Let's talk</a>
        </div>
      </div>
    </div>
  </div>

  <div class="p-section">
    <div class="p-section--shallow">
      <div class="grid-row">
        <hr class="p-rule" />
        <div class="grid-col-4">
          <h2>
            Cloud-native 5G core
            <br class="u-hide--medium u-hide--small" />
            for future-proof networks
          </h2>
        </div>
        <div class="grid-col-4">
          <p>
            Charmed Aether SD-Core deploys as a cloud-native 5G mobile core network on Kubernetes, the open source container orchestration platform chosen by telcos worldwide.
          </p>
          <div class="p-cta-block">
            <a href="/blog/try-canonical-kubernetes-beta">Learn about Canonical Kubernetes&nbsp;&rsaquo;</a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-start-large-3">
        <div class="p-section--shallow">
          <div class="p-image-container is-highlighted">
            {{ image(url="https://assets.ubuntu.com/v1/1e88d047-kubernetes-logos.png",
                        alt="",
                        width="1832",
                        height="812",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"}) | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-section">
    <div class="grid-row">
      <hr class="p-rule" />
      <div class="grid-col-4">
        <h2>
          Why choose
          <br class="u-hide--medium u-hide--small" />
          Charmed Aether SD-Core?
        </h2>
      </div>
      <div class="grid-col-4">
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">Cost-effective deployments and operations</li>
          <li class="p-list__item is-ticked">Pre-integrated observability and intuitive user interface</li>
          <li class="p-list__item is-ticked">Simple management with full automation</li>
          <li class="p-list__item is-ticked">Automated software security updates and upgrades</li>
          <li class="p-list__item is-ticked">Open source mobile core from Aether, backed by the industry</li>
          <li class="p-list__item is-ticked">Provided by Canonical, the trusted source of open source</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="p-section">
    <div class="p-section--shallow">
      <div class="grid-row">
        <hr class="p-rule" />
        <h2>Ready for enterprise PMN use cases</h2>
      </div>
    </div>
    <div class="p-section--shallow">
      <div class="grid-row">
        <div class="grid-col-2 grid-col-start-large-3">
          <div class="p-image-container">
            {{ image(url="https://assets.ubuntu.com/v1/8353396a-manufacturing.png",
                        alt="",
                        width="400",
                        height="600",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"}) | safe
            }}
          </div>
          <h3 class="p-heading--5">Manufacturing</h3>
          <p>Monitor and operate your devices and machines with seamless connectivity.</p>
        </div>
        <div class="grid-col-2">
          <div class="p-image-container">
            {{ image(url="https://assets.ubuntu.com/v1/900aece5-smart-agriculture.png",
                        alt="",
                        width="400",
                        height="600",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"}) | safe
            }}
          </div>
          <h3 class="p-heading--5">Smart agriculture</h3>
          <p>Operate and monitor agricultural services with connected farming devices.</p>
        </div>
        <div class="grid-col-2">
          <div class="p-image-container">
            {{ image(url="https://assets.ubuntu.com/v1/d6ed0a80-warehouses-ports.png",
                        alt="",
                        width="400",
                        height="600",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"}) | safe
            }}
          </div>
          <h3 class="p-heading--5">Warehouses and ports</h3>
          <p>Automate your operations for better safety and efficiency with seamless connectivity.</p>
        </div>
      </div>
    </div>
    <div class="p-section--shallow">
      <div class="grid-row">
        <div class="grid-col-2 grid-col-start-large-3">
          <div class="p-image-container">
            {{ image(url="https://assets.ubuntu.com/v1/82724b31-healthcare.png",
                        alt="",
                        width="400",
                        height="600",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"}) | safe
            }}
          </div>
          <h3 class="p-heading--5">Healthcare</h3>
          <p>Connect your medical devices and monitor them with precision.</p>
        </div>
        <div class="grid-col-2">
          <div class="p-image-container">
            {{ image(url="https://assets.ubuntu.com/v1/aeadf90b-mining.png",
                        alt="",
                        width="400",
                        height="600",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"}) | safe
            }}
          </div>
          <h3 class="p-heading--5">Mining</h3>
          <p>Bring coverage to monitor and manage your mining operations efficiently.</p>
        </div>
        <div class="grid-col-2">
          <div class="p-image-container">
            {{ image(url="https://assets.ubuntu.com/v1/e4a73570-campus-networks.png",
                        alt="",
                        width="400",
                        height="600",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"}) | safe
            }}
          </div>
          <h3 class="p-heading--5">Campus networks</h3>
          <p>Connect your devices to achieve smart operations across your campus.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="p-section">
    <div class="p-section--shallow">
      <div class="grid-row">
        <hr />
        <div class="grid-col-4">
          <h2>Efficient. Secure. Performant</h2>
        </div>
        <div class="grid-col-4">
          <p>
            Canonical’s open source Charmed Aether SD-Core has several features that make it an ideal mobile core for 5G private mobile network deployments:
          </p>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <hr class="p-rule--muted u-hide--medium u-hide--small" />
      <div class="grid-col-2">
        <h3 class="p-heading--5">Cost-effective</h3>
        <p>
          Get the highest cost-effectiveness in your 5G core. Achieve low CAPEX by breaking free from license fees, and reduce OPEX with automation. Take your savings further by using COTS servers, rather than high-cost commodity hardware. All backed by an economical security and support package with <a href="https://ubuntu.com/pro">Ubuntu Pro.</a>
        </p>
      </div>
      <div class="grid-col-2">
        <h3 class="p-heading--5">Secure</h3>
        <p>
          Charmed Aether SD-Core software and its dependencies receive automated security coverage with an <a href="https://ubuntu.com/pro">Ubuntu Pro</a> subscription. Benefit from continuous support that safeguards your private mobile core, with no downtime while CVEs are patched. All microservices have encrypted communications and authenticity over TLS.
        </p>
      </div>
      <div class="grid-col-2">
        <h3 class="p-heading--5">Performant user plane</h3>
        <p>
          Continually optimize performance with enhanced platform awareness (EPA) features targeted at data plane performance improvement, such as DPDK, Hugepages and CPU pinning. Charmed Aether SD-Core’s user plane function (UPF) runs on Kubernetes as a cloud-native CNF or on bare metal for best performance.
        </p>
      </div>
      <div class="grid-col-2">
        <h3 class="p-heading--5">Network slicing</h3>
        <p>
          Deploy and run multiple user plane instances as network slices and associate device groups to those slices. This allows for more efficient use and management of dedicated user plane and platform resources allocated to different sets of devices.
        </p>
      </div>
    </div>
  </div>

  <div class="p-section">
    <div class="p-section--shallow">
      <div class="grid-row">
        <hr class="p-rule" />
        <h2>Lightweight. Flexible. User-friendly.</h2>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-6 grid-col-start-large-3">
        <div class="p-section--shallow">
          <div class="p-image-container">
            {{ image(url="https://assets.ubuntu.com/v1/dab36e8c-lightweight-flexible.png",
                        alt="",
                        width="1832",
                        height="812",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"}) | safe
            }}
          </div>
        </div>
        <div class="grid-row">
          <hr class="p-rule--muted" />
        </div>
        <div class="grid-row">
          <div class="grid-col-2">
            <h3 class="p-heading--5">Small footprint</h3>
          </div>
          <div class="grid-col-4">
            <p>
              Using minimal OCI-compliant Ubuntu container images, called rocks, Charmed Aether SD-Core components have exactly what they need to run. Nothing more, nothing less. 
            </p>
          </div>
        </div>
        <div class="grid-row">
          <hr class="p-rule--muted" />
        </div>
        <div class="grid-row">
          <div class="grid-col-2">
            <h3 class="p-heading--5">Flexible deployment</h3>
          </div>
          <div class="grid-col-4">
            <p>
              You’re in the driving seat when it comes to deployment. Achieve control and user plane separation (CUPS) by deploying the user plane on a separate Kubernetes cluster at locations that are closer to machines and devices. Alternatively, deploy your 5G core altogether as an all-in-one system on a single cluster.
            </p>
          </div>
        </div>
        <div class="grid-row">
          <hr class="p-rule--muted" />
        </div>
        <div class="grid-row">
          <div class="grid-col-2">
            <h3 class="p-heading--5">Cloud-native</h3>
          </div>
          <div class="grid-col-4">
            <p>
              Deploy your own cloud-native 5G core on CNCF certified Kubernetes, as pre-integrated 5G core components running on containers. Operate them with ease and agility using Terraform.
            </p>
          </div>
        </div>
        <div class="grid-row">
          <hr class="p-rule--muted" />
        </div>
        <div class="grid-row">
          <div class="grid-col-2">
            <h3 class="p-heading--5">Easy to operate</h3>
          </div>
          <div class="grid-col-4">
            <p>
              Automate your Day 0-1-2 operations with Canonical’s Juju software orchestration engine. Use simple, pre-packaged operators with a simple set of intuitive commands, without the need for domain knowledge or specific skill-set and expertise in mobile networking.
            </p>
          </div>
        </div>
        <div class="grid-row">
          <hr class="p-rule--muted" />
        </div>
        <div class="grid-row">
          <div class="grid-col-2">
            <h3 class="p-heading--5">Transparent and observable</h3>
          </div>
          <div class="grid-col-4">
            <p>
              With fully transparent open source software, you know exactly what runs as your 5G mobile core. Benefit from pre-integration with the Canonical Observability Stack, made up of open source software components, including Prometheus, Grafana and Loki.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-section">
    <div class="grid-row">
      <hr class="p-rule" />
      <div class="grid-col-4">
        <h2>Learn more</h2>
      </div>
      <div class="grid-col-4">
        <div class="p-section--shallow">
          <ul class="p-list--divided">
            <li class="p-list__item">
              <a href="https://canonical-charmed-aether-sd-core.readthedocs-hosted.com/en/latest">
                Charmed Aether SD-Core documentation pages
              </a>
            </li>
            <li class="p-list__item">
              <a href="https://ubuntu.com/blog/telco-build-your-private-5g-network-with-charmed-aether-sd-core">Build your private 5G network with Charmed Aether SD-Core</a>
            </li>
            <li class="p-list__item">
              <a href="https://ubuntu.com/blog/telecom-security-how-to-safeguard-your-open-source-telco-infrastructure">
                Telecom security: How to safeguard your open source telco infrastructure
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-rule" />
    <div class="p-strip is-deep">
      <div class="p-section--shallow">
        <h2>
          Canonical provides a full stack for your telecom infrastructure.
          <br />
          Get in touch today for your telecom needs.
        </h2>
      </div>
      <div class="p-cta-block is-borderless">
        <a href="https://ubuntu.com/telco/contact-us" class="p-button--positive">Contact us</a>
        <a href="/solutions/telco">Learn more about our telecom solutions&nbsp;&rsaquo;</a>
      </div>
    </div>
  </div>

{% endblock %}
