{% extends 'base_index.html' %}

{% block title %}Canonical's open source infrastructure products for Open RAN with virtual RAN{% endblock %}

{% block meta_description %}
  Canonical offers the necessary infrastructure products to aid telco's transition from proprietary systems to networks with disaggregated virtual RAN components with Open RAN architecture.
{% endblock meta_description %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1rqBh8oVNeDk-fg1jg-7-SErLgmi0naEzP4r50JhJUb4
{% endblock meta_copydoc %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}
  <section class="p-section--hero">
    <div class="u-fixed-width p-section--shallow">
      <h1>Telco infrastructure for virtual RAN with Open RAN architecture</h1>
    </div>
    <div class="row--50-50">
      <div class="col">
        <div class="p-section--shallow">
          <p>
            Modernize your telecom infrastructure with Open RAN, and deliver next-generation connectivity by choosing secure and trusted open source from Canonical.
          </p>
          <p>
            Boost the performance of your virtual RAN telco workloads with a composable, cloud-native software stack with enhanced platform features.
          </p>
        </div>
        <div class="p-cta-block">
          <a href="/contact-us"
             class="p-button--positive js-invoke-modal"
             aria-controls="solutions-telco-modal">Contact us</a>
        </div>
      </div>
      <div class="col p-section--shallow">
        <div class="p-image-container is-highlighted ">
          {{ image(url="https://assets.ubuntu.com/v1/95248a92-Canonical%20Telco%20Illustrations%2006.png",
                    alt="",
                    width="2500",
                    height="1667",
                    hi_def=True,
                    loading="auto",
                    attrs={"class": "p-image-container__image"},) | safe
          }}
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Disaggregated, distributed and interoperable networks with Open RAN technology</h2>
      </div>
      <div class="col">
        <div class="p-image-container is-highlighted">
          {{ image(url="https://assets.ubuntu.com/v1/0ab657ca-chart-1.png",
                    alt="The diagram shows an Open RAN architecture with a Radio Unit, Distributed Unit, and Central Unit, connected via fronthaul and midhaul. The architecture connects to the Core network via backhaul.",
                    width="1800",
                    height="648",
                    hi_def=True,
                    loading="auto",
                    attrs={"class": "p-image-container__image"},) | safe
          }}
        </div>
        <p>
          Open radio access networks (Open RAN) represent a paradigm shift in the world of radio access networks. The traditional, monolithic RAN components are being supplanted by disaggregated, distributed components that can be sourced from multiple vendors.
        </p>
        <p>
          Canonical is your trusted partner for bringing together the key elements of a cost-efficient and interoperable Open RAN infrastructure, based on secure and performant open source software products.
        </p>
        <p>
          Become cloud-native and implement virtual RAN functions on Canonical OpenStack and build flexibility, scalability and composability into the fabric of your infrastructure.
        </p>
        <div class="p-cta-block">
          <a href="/contact-us"
             class="p-button js-invoke-modal"
             aria-controls="solutions-telco-modal">Let's talk</a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Why choose Canonical for telecom infrastructure?</h2>
      </div>
      <div class="col">
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">Trusted publisher of open source</li>
          <li class="p-list__item is-ticked">Secure with streamlined updates and upgrades</li>
          <li class="p-list__item is-ticked">Cost-effective deployments and operations</li>
          <li class="p-list__item is-ticked">Silicon optimized operating system</li>
          <li class="p-list__item is-ticked">Support for enhanced platform features</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>
          Canonical's telco
          <br />
          infrastructure portfolio
        </h2>
      </div>
      <div class="col">
        <div class="p-image-container--16-9 is-highlighted">
          {{ image(url="https://assets.ubuntu.com/v1/edf1053a-chart-2.png",
                    alt="Canonical's telecom infrastructure stack for Open RAN and 5G edge clouds, offered to customers as products that are modular building blocks. It covers container orchestration, infrastructure management, virtualisation, system management, operating system and bare metal automation.",
                    width="1800",
                    height="1015",
                    hi_def=True,
                    loading="lazy",
                    attrs={"class": "p-image-container__image"},) | safe
          }}
        </div>
        <p>
          We offer a set of products to address the needs of operators and enterprises at different levels of a telecom infrastructure stack. These products are the building blocks that we constantly optimize for the latest hardware, and offer an efficient and highly-performant software infrastructure to telecom software workloads. Our cloud infrastructure portfolio for telecom allows customers to choose exactly what they want to run across clouds and devices.
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule" />
      <div class="p-section--shallow">
        <h2>Canonical's telecom infrastructure for Open RAN</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-start-large-7 col-6">
        <p>Canonical's open source infrastructure products bring several benefits to virtual RAN functions for Open RAN:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-start-large-4 col-9">
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Real-time operations</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Ensure real-time responsiveness as needed by Open RAN distributed units (DU) and mission-critical edge applications alike
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Security</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>Protect your entire RAN deployments, from operating system to Open RAN software and applications</p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Multi-site operations</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>Deploy and manage your infrastructure and radio software centrally across multiple radio cloud sites at scale</p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Performance</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>Leverage enhanced platform features offered by all major hardware vendors</p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Scalability</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>Deploy your radio software on edge clouds that scale as needed</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule" />
      <div class="p-section--shallow">
        <h2>Ubuntu for Open RAN</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-start-large-7 col-6">
        <p>
          To achieve carrier-grade Open RAN deployments, virtual RAN software requires an operating system that is robust, immutable and battle-tested in the Telco industry. Choose <a href="https://ubuntu.com/">Ubuntu</a> as your OS and benefit from the low latency, security and enhanced platform features that telcos need to deliver next-generation connectivity.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-start-large-4 col-9">
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Guaranteed bounded low-latency</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              <a href="https://ubuntu.com/real-time">Real-time Ubuntu</a> ensures latency in data processing is bounded and low. Ubuntu's Real-time kernel prioritizes Open RAN networking software workloads and provides streamlined packet processing. This brings support for even the most stringent use cases, categorized as ultra-reliable low latency communication (URLLC) applications.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Immutable</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Telco far-edge clouds require tamper-proof deployments that are self-healing, with minimal footprint. <a href="https://ubuntu.com/core">Ubuntu Core</a>, the embedded Linux operating system for devices, is secure by design, and is immutable thanks to its containerised architecture. Implement your Open RAN system and run your virtual RAN software with the confidence that only your system admins can modify your remote systems. If you are a radio unit vendor, check out our <a href="https://ubuntu.com/embedded">embedded Linux page</a> for more resoures.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Optimized</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Thanks to our partnership with an extensive range of hardware vendors, Ubuntu is optimized to run on all popular hardware systems, including bare metal servers, the latest cutting-edge silicon, and enhanced platform components like DPUs and IPUs. This means that Ubuntu delivers the best possible performance on all mainstream hardware, ready for your Open RAN deployments.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Secure and compliant</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Telecom networks are considered to be part of critical national infrastructure. Open RAN deployments must be both safeguarded and compliant with all telecom security standards. With <a href="https://ubuntu.com/pro">Ubuntu Pro</a>, operators get the most comprehensive security subscription service for open source software. Open RAN fleet of servers get live CVE patches and streamlined updates and upgrades without downtime. <a href="https://ubuntu.com/security/compliance-automation">Ubuntu Pro ensures compliance</a> with all telecom security standards, and hardening for the minimum attack surface.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Transparent</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              We make sure that you have the right tools to manage your fleet of RAN systems at scale. With Canonical <a href="https://ubuntu.com/landscape">Landscape</a>, you get visibility on all your Ubuntu fleet, and can perform security patches, auditing, and access management at scale across your multiple RAN sites.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Enhanced platform features</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Whichever workload you run at your edge-clouds, be it virtual RAN functions for Open RAN or edge computing software, Ubuntu detects and supports the most advanced hardware. Our vendor partnership programme makes it possible to support a variety of hardware, such as function accelerators, GPUs and network cards.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50 p-section--shallow">
      <hr class="p-rule" />
      <div class="col">
        <h2>Vendor neutral products</h2>
      </div>
      <div class="col">
        <p>
          We work with all major hardware vendors to optimize our infrastructure products, ensuring that they are ready to run Open RAN CU, DU and RU at the highest performance and reliability levels.
        </p>
        <div class="p-cta-block">
          <a href="https://ubuntu.com/certified">Learn more about our hardware partners&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
    <div class="u-fixed-width">
      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{ image (
            url="https://assets.ubuntu.com/v1/835e0598-amd-logo%20.png",
            alt="AMD",
            width="226",
            height="312",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"},
            ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/d9d05f49-arm-logo.png",
                          alt="ARM",
                          width="183",
                          height="372",
                          hi_def=True,
                          loading="lazy",
                          attrs={"class": "p-logo-section__logo"},) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/f9166965-dell-logo.png",
                          alt="Dell",
                          width="146",
                          height="313",
                          hi_def=True,
                          loading="lazy",
                          attrs={"class": "p-logo-section__logo"},) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/23e314ba-hp-enterprise-logo-updated.png",
                          alt="HPE",
                          width="261",
                          height="312",
                          hi_def=True,
                          loading="lazy",
                          attrs={"class": "p-logo-section__logo"},) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/834d57ab-intel-logo.png",
                          alt="Intel",
                          width="149",
                          height="288",
                          hi_def=True,
                          loading="lazy",
                          attrs={"class": "p-logo-section__logo"},) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/67300791-lenovo-logo.png",
                          alt="Lenovo",
                          width="202",
                          height="313",
                          hi_def=True,
                          loading="lazy",
                          attrs={"class": "p-logo-section__logo"},) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/0205811b-nvidia-logo.png",
                          alt="Nvidia",
                          width="310",
                          height="313",
                          hi_def=True,
                          loading="lazy",
                          attrs={"class": "p-logo-section__logo"},) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/d09b26b8-risc-v-logo.png",
                          alt="RISC-V",
                          width="285",
                          height="313",
                          hi_def=True,
                          loading="lazy",
                          attrs={"class": "p-logo-section__logo"},) | safe
            }}
          </div>
        </div>
      </div>
    </div>
    </section>

    <section class="p-section">
      <div class="row--50-50">
        <hr class="p-rule" />
        <div class="col">
          <h2>Cloud-native execution environments for Open RAN</h2>
        </div>
        <div class="col">
          <p>
            <a href="https://ubuntu.com/kubernetes">Canonical Kubernetes</a> offers the perfect cloud-native execution environment virtual RAN functions for Open RAN and MEC workloads alike. Built from fully upstream components running in a confined execution environment, it offers a secure and trusted software platform, supporting:
          </p>
          <hr class="p-rule--muted u-no-margin--bottom" />
          <ul class="p-list--divided">
            <li class="p-list__item is-ticked">
              Multiple enhanced platform features, such as SR-IOV, CPU pinning, DPDK, Hugepages, and GPU acceleration
            </li>
            <li class="p-list__item is-ticked">Various storage solutions, like Ceph, OpenEBS, and hostpath storage</li>
            <li class="p-list__item is-ticked">Multiple popular CNIs, like Cilium, Calico, Flannel, and Multus</li>
            <li class="p-list__item is-ticked">
              Support for Cluster API for declarative cluster deployment and management operations
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="p-section">
      <div class="u-fixed-width">
        <hr class="p-rule" />
        <div class="p-section--shallow">
          <h2>Open source data and AI/ML platforms for Open RAN</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-start-large-7 col-6">
          <p>
            RAN Intelligence Controllers (RIC) bring AI/ML to Open RAN. By running RIC on Ubuntu, Open RAN can natively support network intelligence via its standard interfaces for near-real-time and non-real-time control operations. RIC systems need a secure and reliable operating system, as well as powerful data and AI/ML platforms. With Ubuntu and Canonical’s Data and AI products, you can build and run carrier-grade network intelligence for your Open RAN deployments.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-start-large-4 col-9">
          <hr class="p-rule--muted" />
          <div class="row">
            <div class="col-3 col-medium-3">
              <h3 class="p-heading--5">Canonical data platforms for Open RAN</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>
                Canonical brings automation, reliability, and support to popular open source data management tools like Kafka, MongoDB, MySQL, OpenSearch, Valkey, Postgres and Spark. You can build data pipelines of varying complexity according to your needs, and meet the database, big data processing, analytics and search requirements of your rApps, xApps and AI/ML workflows.
              </p>
              <div class="p-cta-block">
                <a href="/data">Learn more about our Data Solutions portfolio&nbsp;&rsaquo;</a>
              </div>
            </div>
          </div>
          <hr class="p-rule--muted" />
          <div class="row">
            <div class="col-3 col-medium-3">
              <h3 class="p-heading--5">Data science and ML platform for Open RAN</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>
                Deploy and run AI/ML workflows with ease, thanks to our software automation and tooling. Discover how you can build the perfect environment for your Open RAN xApps and rApps at every stage of your AI/ML journey.
              </p>
              <div class="p-cta-block">
                <a href="/mlops/kubeflow">Discover Charmed Kubeflow&nbsp;&rsaquo;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-section">
      <div class="row">
        <hr class="p-rule" />
        <div class="col-3">
          <h2>Learn more</h2>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col-3">
              <h3 class="p-heading--5">Webinars</h3>
            </div>
            <div class="col-6">
              <ul class="p-list--divided">
                <li class="p-list__item">
                  <a href="https://ubuntu.com/engage/improving-telecom-security-2023-webinar">Improving telecom security</a>
                </li>
                <li class="p-list__item">
                  <a href="https://ubuntu.com/engage/telco-edge-automation-cloud-native">Telco edge cloud automation at scale</a>
                </li>
              </ul>
            </div>
          </div>
          <hr class="p-rule--muted" />
          <div class="row">
            <div class="col-3">
              <h3 class="p-heading--5">Reading</h3>
            </div>
            <div class="col-6">
              <ul class="p-list--divided">
                <li class="p-list__item">
                  <a href="https://ubuntu.com/blog/what-is-open-ran">What is Open RAN?</a>
                </li>
                <li class="p-list__item">
                  <a href="https://ubuntu.com/blog/telecom-security-how-to-safeguard-your-open-source-telco-infrastructure">Safeguarding your telco infrastructure with Ubuntu Pro</a>
                </li>
                <li class="p-list__item">
                  <a href="https://ubuntu.com/blog/intel-flexran-and-real-time-ubuntu-for-5g-urllc">Fast and reliable telco edge clouds with Intel FlexRAN and Real-time Ubuntu for 5G URLLC scenarios</a>
                </li>
                <li class="p-list__item">
                  <a href="/blog/real-time-ubuntu-for-amazon-eks-anywhere">Canonical announces the availability of Real-time Ubuntu for Amazon EKS Anywhere</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr class="p-rule is-fixed-width" />
    <section class="p-strip is-deep">
      <div class="u-fixed-width">
        <div class="p-section--shallow">
          <h2>
            Canonical provides a full stack for your telecom infrastructure.
            <br />
            Get in touch today for your telecom needs.
          </h2>
        </div>
        <div class="p-cta-block is-borderless">
          <a href="/contact-us"
             class="p-button--positive js-invoke-modal"
             aria-controls="solutions-telco-modal">Contact us</a>
          <a href="/solutions/telco">Learn more about our telecom solutions&nbsp;&rsaquo;</a>
        </div>
      </div>
    </section>

    <script defer src="{{ versioned_static('js/modals.js') }}"></script>
  
    {{ load_form("/solutions/telco/open-ran") | safe }}

    {% endblock content %}
