{% extends 'base_index.html' %}

{% block title %}Data Solutions{% endblock %}

{% block canonical_url %}{{ request.host_url }}data{% endblock %}

{% block meta_description %}
  Canonical enterprise data solutions enable innovation at scale on any cloud. Advanced open source solutions for data on IaaS and Kubernetes with flexible, enterprise-grade support.
{% endblock %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1r1xnNihaTphO_eikifUEO7ocYfTDnbuRIaIfUCmya1c/edit
{% endblock meta_copydoc %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}

  <section class="p-strip--whitesuru is-shallow u-no-padding--bottom">
    <div class="p-section">
      <div class="row--25-75">
        <div class="col">
          <div class="p-section--shallow">
            <h1 class="u-no-margin--bottom">
              Enterprise data solutions
              <br class="u-hide--small" />
              for rapid innovation at any scale
            </h1>
          </div>
          <div class="p-section--shallow">
            <p>
              Data flows better with the right tools. Canonical's open source data solutions deliver better ROI across clouds. Engineered for the most critical workloads.
            </p>
          </div>
          <hr class="p-rule--muted" />
          <p>
            <a class="p-button--positive js-invoke-modal"
               href="/contact-us"
               aria-controls="data-modal">Get in touch</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width p-section">
      <hr class="p-rule" />
      <h2>A complete solution for modern data</h2>
    </div>
    <div class="row--25-75">
      <div class="col">
        <div class="row">
          <div class="col-medium-2 col-3">
            <hr class="p-rule--highlight" />
            <h3 class="p-heading--4">
              <strong>Up to 10 years
                <br class="u-hide--small" />
              of support</strong>
            </h3>
            <p>Including security maintenance for critical and high severity issues across the full stack.</p>
            <p>Get up to 10 years of break-fix support on selected releases with weekday or 24/7 coverage.</p>
          </div>
          <br class="u-hide--large u-hide--medium" />
          <div class="col-medium-2 col-3">
            <hr class="p-rule--highlight" />
            <h3 class="p-heading--4">
              <strong>Fully integrated
                <br class="u-hide--small" />
              system</strong>
            </h3>
            <p>One vendor for all your data needs.</p>
            <p>
              A complete data solutions portfolio founded on enterprise-grade Ubuntu Server 22.04 LTS, with <a href="https://ubuntu.com/pro">Ubuntu Pro's compliance and security features</a>.
            </p>
          </div>
          <br class="u-hide--large u-hide--medium" />
          <div class="col-medium-2 col-3">
            <hr class="p-rule--highlight" />
            <h3 class="p-heading--4">
              <strong>Hybrid,
                <br class="u-hide--small" />
              multi-cloud ready</strong>
            </h3>
            <p>Data solutions that are ready for service wherever you run.</p>
            <p>Built for duty on any cloud, on-premise or air-gapped environment.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Advanced automation for your most critical data</h2>
      </div>
      <div class="col">
        <p>Streamline site reliability engineering with advanced automation for open source data systems.</p>
        <p>
          Canonical data solutions simplify operations at any scale, with advanced features for scaling, security, backup and monitoring.
        </p>
        <hr class="p-rule" />
        <p>
          <a href="/data/docs">View documentation&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="p-logo-section p-data-logos">
          <div class="p-logo-section__items">
            <div class="p-logo-section__item">
              {{ image(url="https://assets.ubuntu.com/v1/24c6bf62-postgre-sql.png",
                            alt="PostgreSQL",
                            width="356",
                            height="256",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-logo-section__logo"}) | safe
              }}
              <hr class="p-rule" />
              <p class="u-align-text--left">
                <a class="off-screen" href="/data/postgresql">Learn more<span class="u-off-screen">about PostgreSQL</span>&nbsp;&rsaquo;</a>
              </p>
            </div>
            <div class="p-logo-section__item">
              {{ image(url="https://assets.ubuntu.com/v1/0c7a5744-mysql-logo.png",
                            alt="MySQL",
                            width="490",
                            height="512",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-logo-section__logo"}) | safe
              }}
              <hr class="p-rule" />
              <p class="u-align-text--left">
                <a class="off-screen" href="/data/mysql">Learn more <span class="u-off-screen">about MySQL</span>&nbsp;&rsaquo;</a>
              </p>
            </div>
            <div class="p-logo-section__item">
              {{ image(url="https://assets.ubuntu.com/v1/662c72e2-mongodb.png",
                            alt="MongoDB",
                            width="425",
                            height="512",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-logo-section__logo"}) | safe
              }}
              <hr class="p-rule" />
              <p class="u-align-text--left">
                <a class="off-screen" href="/data/mongodb">Learn more<span class="u-off-screen">about MongoDB</span>&nbsp;&rsaquo;</a>
              </p>
            </div>
            <div class="p-logo-section__item">
              {{ image(url="https://assets.ubuntu.com/v1/6e18d17f-apache-spark-logo.png",
                            alt="Spark",
                            width="150",
                            height="256",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-logo-section__logo"}) | safe
              }}
              <hr class="p-rule" />
              <p class="u-align-text--left">
                <a class="off-screen" href="/data/spark">Learn more<span class="u-off-screen">about Spark</span>&nbsp;&rsaquo;</a>
              </p>
            </div>
            <div class="p-logo-section__item">
              {{ image(url="https://assets.ubuntu.com/v1/c2d27381-kafka.png",
                            alt="Kafka",
                            width="228",
                            height="256",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-logo-section__logo"}) | safe
              }}
              <hr class="p-rule" />
              <p class="u-align-text--left">
                <a class="off-screen" href="/data/kafka">Learn more<span class="u-off-screen">about Kafka</span>&nbsp;&rsaquo;</a>
              </p>
            </div>
            <div class="p-logo-section__item" style="margin-right: 0;">
              {{ image(url="https://assets.ubuntu.com/v1/8a6fdaab-opensearch-logo.png",
                            alt="OpenSearch",
                            width="319",
                            height="256",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-logo-section__logo"}) | safe
              }}
              <hr class="p-rule" />
              <p class="u-align-text--left">
                <a class="off-screen" href="/data/opensearch">Learn more<span class="u-off-screen">about OpenSearch</span>&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Run data-intensive workloads across clouds</h2>
      </div>
      <div class="col">
        <p>Built for site reliability engineering teams running on IaaS and Kubernetes on the cloud.</p>
        <p>Run on Amazon Web Services and Azure or OpenStack, LXD and VMWare.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-medium-6">
        <div class="p-logo-section u-align-text--right">
          <div class="p-logo-section__items">
            <div class="p-logo-section__item">
              {{ image(url="https://assets.ubuntu.com/v1/f1cb23d7-vmware-logo.png",
                            alt="VMWare",
                            width="257",
                            height="256",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-logo-section__logo"}) | safe
              }}
            </div>
            <div class="p-logo-section__item">
              {{ image(url="https://assets.ubuntu.com/v1/9faa9b91-aws-logo.png",
                            alt="AWS",
                            width="125",
                            height="256",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-logo-section__logo"}) | safe
              }}
            </div>
            <div class="p-logo-section__item">
              {{ image(url="https://assets.ubuntu.com/v1/165fa040-openstack-logo.png",
                            alt="",
                            width="426",
                            height="256",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-logo-section__logo"}) | safe
              }}
            </div>
            <div class="p-logo-section__item">
              {{ image(url="https://assets.ubuntu.com/v1/cd1a01d0-kubernetes-logomark-logo.png",
                            alt="Kubernetes",
                            width="606",
                            height="384",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-logo-section__logo"}) | safe
              }}
            </div>
            <div class="p-logo-section__item">
              {{ image(url="https://assets.ubuntu.com/v1/43710ccd-LXD.png",
                            alt="LXD",
                            width="151",
                            height="256",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-logo-section__logo"}) | safe
              }}
            </div>
            <div class="p-logo-section__item">
              {{ image(url="https://assets.ubuntu.com/v1/36a0cd3b-microsoft-azure-2021.png",
                            alt="Microsoft Azure",
                            width="78",
                            height="256",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-logo-section__logo"}) | safe
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section--shallow">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Superior service across clouds</h2>
      </div>
      <div class="col">
        <div class="p-section--shallow">
          <h3 class="p-heading--5">Limit data loss or corruption</h3>
          <p>Canonical's data solutions are engineered to prioritise durability and availability.</p>
        </div>
        <hr class="p-rule" />
        <div class="p-section--shallow">
          <h3 class="p-heading--5">Mitigate risks</h3>
          <p>Designed with security by default as a primary goal.</p>
        </div>
        <hr class="p-rule" />
        <div class="p-section--shallow">
          <h3 class="p-heading--5">Automate complex operational tasks</h3>
          <p>For example, cluster scaling and high availability with operations knowledge built in.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip">
    <div class="u-fixed-width p-section--shallow">
      <hr class="p-rule" />
      <h2 class="p-muted-heading">Fully managed or self-managed &dash; it's your choice</h2>
    </div>
    <div class="row--50-50">
      <div class="col">
        <hr class="p-rule--highlight u-no-margin--bottom" />
        <div class="p-card" style="height: 100%;">
          <h3 class="p-heading--2 p-section">Fixed-price data solution build</h3>
          <div class="p-card__content">
            <p>Consulting packages tailored to your needs.</p>
            <p>We design and deploy a solution for you on cloud IaaS or Kubernetes, based on the reference architecture.</p>
            <hr class="p-rule" />
            <h3 class="u-align-text--right u-no-margin--bottom p-heading--2">&dollar;50,000</h3>
            <p class="u-align-text--right">fixed price</p>
            <hr class="p-rule" />
            <div class="row">
              <div class="col-2">
                <h3 class="p-muted-heading">What's included</h3>
              </div>
              <div class="col-4">
                <div class="p-section--shallow">
                  <hr class="p-rule--muted" />
                  <ul class="p-list--divided">
                    <li class="p-list__item has-bullet">Production-grade data solution deployment on cloud IaaS or Kubernetes</li>
                    <li class="p-list__item has-bullet">Workshop</li>
                    <li class="p-list__item has-bullet">Operating system tuning</li>
                    <li class="p-list__item has-bullet">Storage integration</li>
                    <li class="p-list__item has-bullet">Design document</li>
                    <li class="p-list__item has-bullet">Deployment guide</li>
                    <li class="p-list__item has-bullet">Knowledge transfer on operating the data solution with Canonical tooling</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br class="u-hide--large u-hide--medium" />
      <div class="col">
        <hr class="p-rule--highlight u-no-margin--bottom" />
        <div class="p-card" style="height: 100%;">
          <h3 class="p-section p-heading--2">Fully-managed data operations</h3>
          <div class="p-card__content">
            <p>
              Full remote operations of your data solution. Ideal to accelerate time-to-market. Most cost-effective approach versus PaaS.
            </p>
            <p>We manage the data platform for you, on the cloud or in your data centre.</p>
            <hr class="p-rule--muted" />
            <h3 class="u-align-text--right u-no-margin--bottom p-heading--2">&dollar;3,099</h3>
            <p class="u-align-text--right">per VM per year</p>
            <hr class="p-rule" />
            <div class="row">
              <div class="col-2">
                <h3 class="p-muted-heading">What's included</h3>
              </div>
              <div class="col-4">
                <div class="p-section--shallow">
                  <hr class="p-rule--muted" />
                  <ul class="p-list--divided">
                    <li class="p-list__item has-bullet">Logging, monitoring and alerting</li>
                    <li class="p-list__item has-bullet">24/7 operations with fully staffed Operations Centre</li>
                    <li class="p-list__item has-bullet">Proactive management</li>
                    <li class="p-list__item has-bullet">Incident and problem resolution</li>
                    <li class="p-list__item has-bullet">Software updates</li>
                    <li class="p-list__item has-bullet">SLA</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <hr class="p-rule--muted" />
          <div class="row">
            <div class="col-start-large-3 col-4">
              <p>
                <a href="https://ubuntu.com/managed/apps">Learn about fully-managed&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip--white is-deep">
    <div class="row">
      <div class="col-9">
        <p class="p-heading--2">
          Tell us your story and talk about your needs with our experts. <a aria-controls="data-modal"
    href="https://ubuntu.com/openstack/contact-us?product=openstack"
    class="js-invoke-modal">Get in touch&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </section>

  {{ load_form("/data") | safe }}

{% endblock content %}
