{% extends 'base_index.html' %}

{% block title %}Canonical open source data platform solutions{% endblock %}

{% block canonical_url %}{{ request.host_url }}data{% endblock %}

{% block meta_description %}
  Get support for your open source data platform. Canonical offers security maintenance, support, and lifecycle management automation for popular open source databases and big data applications
{% endblock %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1r1xnNihaTphO_eikifUEO7ocYfTDnbuRIaIfUCmya1c/edit
{% endblock meta_copydoc %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% from "_macros/vf_hero.jinja" import vf_hero %}
{% from "_macros/vf_linked-logo-section.jinja" import vf_linked_logo_section %}
{% from "_macros/vf_equal-heights.jinja" import vf_equal_heights %}
{% from "_macros/vf_tiered-list.jinja" import vf_tiered_list %}
{% from "_macros/vf_resources.jinja" import vf_resources %}

{% block content %}
  <section class="p-section--hero u-no-padding--bottom">
    <div class="row--50-50-on-large">
      <div class="col">
        <h1>Enterprise-grade solutions<br>for your mission critical data</h1>
      </div>
      <div class="col">    
        <div class="p-section--shallow">
          <p>
            Data flows better with the right tools. Canonical offers security, compliance, and lifecycle management solutions for the most popular open source databases and big data applications, on any cloud.
          </p>
        </div>
        <div class="p-cta-block">
          <a aria-controls="data-modal" class="js-invoke-modal p-button--positive">Get in touch</a>
        </div>
      </div>  
    </div>
  </section>

  {{ vf_linked_logo_section(
    title_text="",
    layout="25/75",
    top_rule_variant="none",
    links=[
      {
        "href": "/data/postgresql",
        "text": "PostgreSQL&nbsp;&rsaquo;",
        "label": "Learn more about PostgreSQL",
        "image_attrs": {
          "src": "https://assets.ubuntu.com/v1/44403a2d-postgresql_logo_mark.png",
          "alt": "",
          "width": "107",
          "height": "312"
        }
      },
      {
        "href": "/data/mysql",
        "text": "MySQL&nbsp;&rsaquo;",
        "label": "Learn more about MySQL",
        "image_attrs": {
          "src": "https://assets.ubuntu.com/v1/ec74a6a5-mysql.png",
          "alt": "",
          "width": "852",
          "height": "480"
        }
      },
      {
        "href": "/data/mongodb",
        "text": "MongoDB&nbsp;&rsaquo;",
        "label": "Learn more about MongoDB",
        "image_attrs": {
          "src": "https://assets.ubuntu.com/v1/da9761f5-mongodb.png",
          "alt": "",
          "width": "852",
          "height": "480"
        }
      },
      {
        "href": "/data/valkey",
        "text": "Valkey&nbsp;&rsaquo;",
        "label": "Learn more about Valkey",
        "image_attrs": {
          "src": "https://assets.ubuntu.com/v1/fc75b6bf-valkey.png",
          "alt": "",
          "width": "852",
          "height": "480"
        }
      },
      {
        "href": "/data/spark",
        "text": "Spark&nbsp;&rsaquo;",
        "label": "Learn more about Spark",
        "image_attrs": {
          "src": "https://assets.ubuntu.com/v1/4527eb20-apache_spark.png",
          "alt": "",
          "width": "852",
          "height": "480"
        }
      },
      {
        "href": "/data/kafka",
        "text": "Kafka&nbsp;&rsaquo;",
        "label": "Learn more about Kafka",
        "image_attrs": {
          "src": "https://assets.ubuntu.com/v1/7118eb45-kafka.png",
          "alt": "",
          "width": "852",
          "height": "480"
        }
      },
      {
        "href": "/data/opensearch",
        "text": "OpenSearch&nbsp;&rsaquo;",
        "label": "Learn more about OpenSearch",
        "image_attrs": {
          "src": "https://assets.ubuntu.com/v1/d79505ed-opensearch.png",
          "alt": "",
          "width": "852",
          "height": "480"
        }
      },
    ],
  ) }}

  <section class="p-section u-no-padding--top">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col-6">
        <h2>Security, support, and automation across clouds</h2>
      </div>
      <div class="col-6">
        <p>Receive support, deploy, and automate the lifecycle management of your data application across public clouds, Kubernetes, virtual (VM) and bare metal machines.</p>
        <div class="u-fixed-width">
          <div class="p-logo-section">
              <div class="p-logo-section__items">
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/9faa9b91-aws-logo.png",
                                alt="AWS",
                                width="125",
                                height="256",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/f53b5c3a-microsoft_azure_logo.png",
                                alt="Microsoft Azure",
                                width="272",
                                height="312",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/9eff127d-google_cloud_logo.png",
                                alt="Google Cloud",
                                width="369",
                                height="312",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/ed406468-oracle_new_logo.png",
                                alt="Oracle",
                                width="312",
                                height="312",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>

                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/db869316-vmware_logo_s.png",
                                alt="VMWare",
                                width="322",
                                height="312",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/e27a7f51-kubernetes_logo.png",
                                alt="Kubernetes",
                                width="104",
                                height="312",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/3f2ac020-amazon_kubernetes_services.png",
                                alt="Amazon Kubernetes Services",
                                width="111",
                                height="312",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/94509f8a-amazon_eks_logo.png",
                                alt="Amazon EKS",
                                width="106",
                                height="312",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/d9d5c92d-google_gke_logo.png",
                                alt="Google GKE",
                                width="111",
                                height="312",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/f9096c4a-kubernetes_logo_1.png",
                                alt="Canonical Kubernetes",
                                width="396",
                                height="312",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/13c01f2f-canonical_openstack.png",
                                alt="Canonical OpenStack",
                                width="378",
                                height="312",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/49a4cfe3-maas_logo.png",
                                alt="Canonical MAAS",
                                width="249",
                                height="312",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/0f1f1fc0-microcloud_logo.png",
                                alt="Canonical MicroCloud",
                                width="393",
                                height="312",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
              </div>
          </div>
          <style>
            /* Avoid wrapping logos */
            .p-logo-section__item {
              margin-right: 2rem !important;
            }
          </style>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col-6">
        <h2>Multiple packaging formats to meet your environment needs</h2>
      </div>
      <div class="col-6">
        <div class="p-section--shallow">
          <p>We provide our open source data products in various packaging formats, allowing them to integrate seamlessly with your current automation systems or serve as the foundation for a new one.</p>
        </div>
        <div>
        <div class="p-tabs">
          <div class="p-tabs__list js-tabbed-content" role="tablist" aria-label="Packaging formats" data-tablist="packaging-formats">
            <div class="p-tabs__item">
              <button class="p-tabs__link" role="tab" aria-selected="true" aria-controls="containers-tab" id="containers">Containers</button>
            </div>
            <div class="p-tabs__item">
              <button class="p-tabs__link" role="tab" aria-selected="false" aria-controls="snaps-tab" id="snaps" tabindex="-1">Snaps</button>
            </div>
            <div class="p-tabs__item">
              <button class="p-tabs__link" role="tab" aria-selected="false" aria-controls="debs-tab" id="debs" tabindex="-1">Debs</button>
            </div>
            <div class="p-tabs__item">
              <button class="p-tabs__link" role="tab" aria-selected="false" aria-controls="operators-tab" id="operators" tabindex="-1">Software operators</button>
            </div>
          </div>
        </div>
          <div data-tablist="packaging-formats">
            {% include "data/tabs/containers.html" %}
            {% include "data/tabs/snaps.html" %}
            {% include "data/tabs/debs.html" %}
            {% include "data/tabs/operators.html" %}
          </div>
        </div>
      </div>
      </div>
      <style>
        .tabs-cta {
          padding-bottom: 2rem;
        }
      </style>
  </section>

  {% call(slot) vf_equal_heights(
    title_text="A complete solution<br />for your data use cases",
    items=[
      {
        "title_text": "Fully integrated system",
        "description_html": "<p>A single vendor for all your data needs. A complete, fully open source data solutions portfolio founded on Ubuntu and Canonical enterprise-grade orchestration products.</p>"
      },
      {
        "title_text": "Data warehouse",
        "description_html": "<p>Centralize analytics for structured data processing. Perform terabyte-scale querying on multi-cloud PostgreSQL clusters and enable business intelligence dashboards and reporting.</p>"
      },
      {
        "title_text": "Data lakehouse",
        "description_html": "<p>Handle petabytes of unstructured data for AI/ML preparation. Integrations with Apache Spark and Kubeflow support model training on raw logs or sensor data.</p>"
      },
      {
        "title_text": "Streaming and real-Time Analytics",
        "description_html": "<p>Perform low-latency streaming analytics using Apache kafka for event ingestion, integrated with PostgreSQL, OpenSearch, and spark on Ubuntu for real-time processing across clouds.</p>"
      }
    ]
  ) %}
    {% if slot == "description" %}
      <p>
        Unify your data lifecycle, from warehousing to streaming, with secure, scalable Ubuntu-based solutions to simplify infrastructure and power your workloads.
      </p>
      <p>
        <a class="p-button--positive js-invoke-modal" href="#" aria-controls="data-modal">
          Discuss your use case
        </a>
      </p>
    {% endif %}
  {% endcall %}

  <section class="p-section">
    <div class="row">
      <hr/>
      <div class="col-6">
        <h2>Proven security, automation, and reliability</h2>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-8">
        <div class="p-equal-height-row--wrap">
          <div class="p-equal-height-row__col is-borderless">
            <div class="p-equal-height-row__item">
              <div class="p-image-container p-image-container--square is-cover is-highlighted">
                <img src="https://assets.ubuntu.com/v1/71cc81de-support.png" class="p-image-container__image" width="852" height="852" alt="">
              </div>
              <hr class="p-rule--highlight">
            </div>
            <div class="p-equal-height-row__item">
              <p class="p-heading--5">Up to 15 years of support</p>
            </div>
            <div class="p-equal-height-row__item">
              <p>Get up to 15 years of security maintenance for critical and high severity issues across the full stack, and up to 15 years of break-fix support on selected releases with weekday or 24/7 coverage.</p>
            </div>
          </div>
          <div class="p-equal-height-row__col is-borderless">
            <div class="p-equal-height-row__item">
              <div class="p-image-container p-image-container--square is-cover is-highlighted">
                <img src="https://assets.ubuntu.com/v1/e006612f-hardening.png" class="p-image-container__image" width="852" height="852" alt="">
              </div>
              <hr class="p-rule--highlight">
            </div>
            <div class="p-equal-height-row__item">
              <p class="p-heading--5">Hardening and compliance</p>
            </div>
            <div class="p-equal-height-row__item">
              <p>All artifacts are thoroughly hardened and thoughtfully configured with secure defaults out of the box, ensuring they meet the rigorous demands of modern security and compliance frameworks.</p>
            </div>
          </div>
        
          <div class="p-equal-height-row__col is-borderless">
            <div class="p-equal-height-row__item">
              <div class="p-image-container p-image-container--square is-cover is-highlighted"><img src="https://assets.ubuntu.com/v1/bd9dabac-multi_cloud.png" class="p-image-container__image" width="852" height="852" alt=""></div>
              <hr class="p-rule--highlight">
            </div>
            <div class="p-equal-height-row__item">
              <p class="p-heading--5">Multi-cloud and airgap ready</p>
            </div>
            <div class="p-equal-height-row__item">
              <p>From security and break fix support to automation, our data solutions are made to work on all public, private and hybrid cloud environments, including airgapped deployments.</p>
            </div>
          </div>
          <div class="p-equal-height-row__col is-borderless">
            <div class="p-equal-height-row__item">
              <div class="p-image-container p-image-container--square is-cover is-highlighted"><img src="https://assets.ubuntu.com/v1/720a7a51-open_source.png" class="p-image-container__image" width="852" height="852" alt=""></div>
              <hr class="p-rule--highlight">
            </div>
            <div class="p-equal-height-row__item">
              <p class="p-heading--5">Open source automation </p>
            </div>
            <div class="p-equal-height-row__item">
              <p>Our automation helps streamline your site reliability engineering. Canonical data solutions simplify operations at any scale, with advanced features for deployment scaling, security, backup, and monitoring.</p>
            </div>
            <div class="p-equal-height-row__item">
            </div>
          </div>
          </div>
        </div>
      </div>
  </section>

  <section class="p-section u-no-padding--bottom">
    {%- call(slot) vf_tiered_list(is_description_full_width_on_desktop=false, is_list_full_width_on_tablet=true) -%}
      {%- if slot == 'title' -%}
        <h2>Our services</h2>
      {%- endif -%}

      {%- if slot == 'description' -%}
        <p>Whether you need supported packages or expert help to scale deployments and meet SLAs, our subscription supports your team and eliminates time-consuming, error-prone tasks. Our on-demand services address specific challenges with custom solutions, targeted knowledge transfer, or timely expert consulting.</p>
        <p>
          <a class="p-button--positive js-invoke-modal"
            href="#"
            aria-controls="data-modal">Get in touch</a>
        </p>
      {%- endif -%}

      {%- if slot == 'list_item_title_1' -%}
        <h3 class="p-heading--5">Subscription-based</h3>
      {%- endif -%}

      {%- if slot == 'list_item_description_1' -%}
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">Security maintenance</li>
          <li class="p-list__item is-ticked">24/7 phone and ticket support</li>
          <li class="p-list__item is-ticked">SLA-backed firefighting support</li>
          <li class="p-list__item is-ticked">Managed deployments</li>
        </ul>
      {%- endif -%}

      {%- if slot == 'list_item_title_2' -%}
        <h3 class="p-heading--5">On-demand</h3>
      {%- endif -%}

      {%- if slot == 'list_item_description_2' -%}
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">Workshops</li>
          <li class="p-list__item is-ticked">Deployment packages</li>
          <li class="p-list__item is-ticked">Ops consultancy packages</li>
          <li class="p-list__item is-ticked">Trainings</li>
        </ul>
      {%- endif -%}
    {%- endcall -%}
  </section>

  <section class="p-section">
    <div class="row p-section--shallow">
      <hr class="p-rule-muted" />
      <h2 class="p-text--small-caps">These companies trust Canonical to run their open source data platform</h2>
    </div>
    <div class="u-fixed-width">
    <div class="p-logo-section">
      <div class="p-logo-section__items">
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/c1752bd9-ubuntu_logo.png" alt="Canonical Ubuntu" width="27" height="32">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/4a6a5fa8-deutsche_telekom.png" alt="Deutsche Telekom" width="32" height="32">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/7e02dc6b-ibm_logo_1.png" alt="IBM" width="16" height="32">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/50e4bdac-intel_new_logo.png" alt="Intel" width="16" height="32">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/f53b5c3a-microsoft_azure_logo.png" alt="Microsoft Azure" width="28" height="32">
        </div>
         <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/51dfa33e-cisco_logo.png" alt="Cisco" width="26" height="32">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/55357fcc-nvidia_logo.png" alt="Nvidia" width="32" height="32">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/02bfe494-nec_logo.png" alt="NEC" width="20" height="32">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/8ab0bbe7-hp_logo.png" alt="Hewlett Packard" width="13" height="32">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/3273252a-swissquote_logo.png" alt="Swissquote" width="44" height="32">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/788e434d-bt_logo.png" alt="BT" width="13" height="32">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/3ed20843-yahoo_jp_logo.png" alt="Yahoo Japan" width="26" height="32">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/93179bf1-verizon_logo.png" alt="Verizon" width="32" height="32">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/dfcf1be9-bell_logo.png" alt="Bell" width="10" height="32">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/3ae576e9-amd_logo.png" alt="AMD" width="23" height="32">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/a2ca7cd8-china_telecom_logo.png" alt="China Telecom" width="32" height="32">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/978097e3-dell_logo.png" alt="Dell" width="42" height="32">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/8bc70046-scania_logo.png" alt="Scania" width="43" height="32">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/dad383c3-rabobank_logo.png" alt="Rabobank" width="32" height="32">
        </div>
      </div>
    </div>
  </div>
  </section>

  <section class="p-section">
    <div class="row p-section--shallow">
      <hr class="p-rule-muted" />
      <h2>Community and support</h2>
    </div>
    <div class="row--25-75">
      <div class="col">
        <div class="row--50-50 p-section--shallow">
          <div class="col">
            <h3 class="p-text--small-caps">Connect with the community</h3>
          </div>
          <div class="col">
            <p>
              <a href="https://matrix.to/#/#charmhub-data-platform:ubuntu.com">Matrix channel</a>
            </p>
            <p>
              <a href="https://discourse.charmhub.io/">Discourse forum</a>
            </p>
          </div>
        </div>
        <hr class="p-rule--muted">
        <div class="row--50-50 p-section--shallow">
          <div class="col">
            <h3 class="p-text--small-caps">Contact us</h3>
          </div>
          <div class="col">
            <p>
              <a href="/data#get-in-touch">Talk to a Canonical expert</a>
            </p>
          </div>
        </div>
        <hr class="p-rule--muted">
        <div class="row--50-50 p-section--shallow">
          <div class="col">
            <h3 class="p-text--small-caps">Read more</h3>
          </div>
          <div class="col">
            <p>
              <a href="/data/docs">Data products documentation</a>
            </p>
            <p>
              <a href="https://discourse.charmhub.io/">Charmhub, the operator collection</a>
            </p>
            <p>
              <a href="https://snapcraft.io/">Snapcraft, the app store for Linux</a>
            </p>
          </div>
        </div>
        <hr class="p-rule--muted"/>
        <div class="row--50-50 p-section">
          <div class="col">
            <h3 class="p-text--small-caps">Other resources</h3>
          </div>
          <div class="col">
            <p>
              <a href="https://ubuntu.com/pro">Ubuntu Pro</a>
            </p>
            <p>
              <a href="https://ubuntu.com/support">Canonical support</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="{{ versioned_static('js/tabbed-content.js') }}"></script>

  {{ load_form("/data") | safe }}

{% endblock content %}
