{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1mCztOFZYbC3TeUM7j7pGfSoxKzBs20W1pJHZhdLqKs8/edit{% endblock meta_copydoc %}

{% block title %}Enterprise-grade MongoDB solution{% endblock %}

{% block meta_description %}Enterprise-grade NoSQL database with high performance, scalability, and security. It is ideal for businesses that need a reliable and robust database for their mission-critical applications.{% endblock %}

{% block canonical_url %}{{request.host_url}}data/mongodb{% endblock %}

{% block body_class %}is-paper{% endblock body_class %}

{% block content %}

<section class="p-strip is-shallow u-no-padding--bottom">
  <div class="p-section">
    <div class="row--50-50">
      <div class="col">
        <div class="p-section--shallow">
          <h1 class="u-no-margin--bottom">MongoDB<sup>&reg;</sup>database operations, simplified</h1>
        </div>
      </div>
      <div class="col">
        <div class="p-section--shallow">
          <p>Secure and automate the deployment, maintenance and upgrades of your MongoDB databases across private and public clouds. Deliver large amounts of data in high-performance applications.</p>
        </div>
        <hr>
        <a class="p-button--positive" href="/contact-us" aria-controls="data-mongodb-modal">Get in touch</a>
        <a href="https://assets.ubuntu.com/v1/aeb556fb-MongoDB%20-%20Datasheet-revised.pdf">Download the datasheet&nbsp;&rsaquo;</a>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <hr class="p-rule is-fixed-width">
  <div class="row--50-50">
    <div class="col">
      <h2>Made to give you peace&nbsp;of&nbsp;mind</h2>
    </div>
    <div class="col">
      <ul class="p-list--divided">
        <li class="p-list__item is-ticked"> 10 years of security maintenance and support</li>
        <li class="p-list__item is-ticked"> Simple per node subscription</li>
        <li class="p-list__item is-ticked"> Hybrid, multi-cloud ready</li>
      </ul>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="u-fixed-width">
    <hr class="p-rule">
    <h2 class="p-text--small-caps">Run MongoDB on</h2>
    <div class="p-logo-section">
      <div class="p-logo-section__items">
        <div class="p-logo-section__item">
          {{
            image (
            url="https://assets.ubuntu.com/v1/0c00d440-microsoft-azure-2021.png",
            alt="Microsoft Azure",
            width="116",
            height="384",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{
            image (
            url="https://assets.ubuntu.com/v1/cd1a01d0-kubernetes-logomark-logo.png",
            alt="Kubernetes",
            width="606",
            height="384",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/165fa040-openstack-logo.png",
            alt="OpenStack",
            width="426",
            height="256",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/4aa11bb2-vmware-logo.png",
            alt="VMWare",
            width="265",
            height="384",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/497cabc1-google-cloud-logo.png",
            alt="Google Cloud",
            width="397",
            height="256",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/5e627a00-aws-logo.png",
            alt="AWS",
            width="187",
            height="384",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50">
    <hr class="p-rule">
    <div class="col">
      <div class="p-section--shallow">
        <h2>A hyper-automated MongoDB with enterprise-grade support</h2>
      </div>
    </div>
    <div class="col">
      <p>The Charmed MongoDB Operator delivers automated operations management from day 0 to day 2 on the MongoDB document database. Charmed MongoDB is an enhanced, open source and fully-compatible, drop-in replacement for the MongoDB Community Edition with advanced MongoDB enterprise features.</p>
    </div>
  </div>
  <div class="row--50-50">
    <div class="col p-section--shallow">
      <div class="p-strip is-shallow u-align--center u-vertically-center u-aspect-ratio--3-2 u-container--background">
        {{
          image (
            url="https://assets.ubuntu.com/v1/a8147e27-charmed-opensearch-application-operations.svg",
            alt="",
            width="230",
            height="148",
            hi_def=True,
            loading="lazy"
          ) | safe
        }}      
      </div>
    </div>
    <div class="col">
      <hr class="p-rule">
      <div class="p-section--shallow">
        <ul class="p-list--divided u-no-padding--bottom">
          <li class="p-list__item is-ticked">Automated security and configuration best practice</li>
          <li class="p-list__item is-ticked">Made for physical and virtual machines (VMs)</li>
          <li class="p-list__item is-ticked">Built-in observability</li>
          <li class="p-list__item is-ticked">Self-healing</li>
        </ul>
      </div>
      <hr class="p-rule">
      <p>Get started with Charmed MongoDB documentation:</p>
      <p>
        <a href="https://charmhub.io/mongodb">Run Charmed MongoDB on IaaS&nbsp;&rsaquo;</a>
      </p>
      <p>
        <a href="https://charmhub.io/mongodb-k8s">Run Charmed MongoDB on Kubernetes&nbsp;&rsaquo;</a>
      </p>
    </div>
  </div>
</section>

<section class="p-section--shallow">
  <div class="row--50-50">
    <hr class="p-rule">
    <div class="col">
      <h2>MongoDB enterprise<br class="u-hide--large"> use cases</h2>
    </div>
    <div class="col">
      <div class="p-section--shallow">
        <h3 class="p-heading--5">Web and mobile applications</h3>
        <p>Use cases in web and mobile such as content management systems, e-commerce, location based applications, user profile and personalisation can use high availability and scalable document databases like MongoDB.</p>
      </div>
      <hr class="p-rule">
      <div class="p-section--shallow">
        <h3 class="p-heading--5">Internet of Things (IoT)</h3>
        <p>MongoDB can handle a high volume of small, sensor-generated data points for real-time and batch analytics.</p>
      </div>
      <hr class="p-rule">
      <div class="p-section--shallow">
        <h3 class="p-heading--5">Logging and monitoring</h3>
        <p>MongoDB's ability to handle large volumes of log data and its fast write capabilities make it a perfect database for observability.</p>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50">
    <hr class="p-rule">
    <div class="col">
      <div class="p-section--shallow">
        <h2>Secure and supported<br class="u-hide--small"> software packages</h2>
      </div>
    </div>
    <div class="col">
      <p>We provide 10 years of support and security patching for your MongoDB artefacts in the format of your choice through our <a href="https://ubuntu.com/pro/subscribe">Ubuntu Pro subscription</a>.</p>
      <hr class="p-rule">
      <ul class="p-list--divided u-no-padding--bottom">
        <li class="p-list__item is-ticked"><a href="https://snapcraft.io/charmed-mongodb">Snaps</a> for added confinement and atomic updates on any Linux distribution</li>
        <li class="p-list__item is-ticked"><a href="https://ubuntu.com/server/docs/rock-images/introduction">OCI-compliant images</a> for your containerised environments</li>
        <li class="p-list__item is-ticked"><a href="https://charmhub.io/">Charmed operator</a> for automated MongoDB operations management</li>
      </ul>
      <div class="p-strip u-align--center u-vertically-center u-aspect-ratio--3-2 u-container--background">
        {{ image (
          url="https://assets.ubuntu.com/v1/aa1dc625-10+Year+shield+trio_AW.svg",
          alt="",
          width="263",
          height="150",
          hi_def=True,
          loading="lazy"
          ) | safe
        }} 
      </div>
    </div>
  </div>
</section>

<hr class="is-fixed-width">

<section class="p-strip is-deep">
  <div class="u-fixed-width">
    <p class="p-heading--2">
      <a href="https://ubuntu.com/engage/mongodb-enterprise-data-management">Download MongoDB® for enterprise data management&nbsp;&rsaquo;</a>
    </p>
  </div>
</section>

<section class="p-section">
  <div class="row--25-75 is-split-on-medium">
    <hr class="p-rule">
    <div class="col">
      <h2>Services</h2>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-3">
          <h3 class="p-heading--5">Managed MongoDB</h3>
        </div>
        <div class="col-6">
          <p>We manage your MongoDB deployments on any cloud, including: automatically deploying, patching, optimising and upgrading with our open source operator.</p>
          <div class="p-section">
            <ul class="p-list--divided">
              <li class="p-list__item is-ticked">Backed by a Service Level Agreement (SLA)</li>
              <li class="p-list__item is-ticked">Low cost of ownership</li>
              <li class="p-list__item is-ticked">Expert help in applications operations</li>
              <li class="p-list__item is-ticked">24/7 support</li>
            </ul>
            <hr>
            <a href="https://assets.ubuntu.com/v1/eb8bfa49-Managed%20MongoDB_DS%20(1)-1.pdf">Read the Datasheet&nbsp;&rsaquo;</a>
          </div>
        </div>
      </div>
      <hr class="p-rule">
      <div class="row">
        <div class="col-3">
          <h3 class="p-heading--5">Consulting</h3>
        </div>
        <div class="col-6">
          <p>Unlock the potential of your data. Canonical's advisory services help you design, deploy and manage your data solutions.</p>
          <div class="p-section--shallow">
            <ul class="p-list--divided">
              <li class="p-list__item is-ticked">Platform architecture and design</li>
              <li class="p-list__item is-ticked">Proof of Concept (PoC)</li>
              <li class="p-list__item is-ticked">Solution deployment</li>
              <li class="p-list__item is-ticked">
                <a href="https://assets.ubuntu.com/v1/cfecb9cd-Charmed%20MongoDB%20Training_Public%20Module-4.pdf">Charmed MongoDB training</a>
              </li>
            </ul>
            <hr>
            <a href="https://assets.ubuntu.com/v1/4220f815-Data%20Solutions%20Advisory%20version%20_updated%20-%20v3-2.pdf">Read the Datasheet&nbsp;&rsaquo;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-section--deep">
  <div class="row--25-75 is-split-on-medium">
    <hr class="p-rule">
    <div class="col">
      <h2 class="p-text--small-caps">MongoDB resources</h2>
    </div>
    <div class="col">
      <div class="row p-section--shallow">
        <div class="col-3">
          <h3 class="p-heading--5">
            <a href="https://ubuntu.com/blog/what-is-mongodb">What is MongoDB?</a>
          </h3>
        </div>
        <div class="col-6">
          <p>Learn about MongoDB database features and use cases, such as modern web applications.</p>
        </div>
      </div>
      <hr class="p-rule">
      <div class="row p-section--shallow">
        <div class="col-3">
          <h3 class="p-heading--5">
            <a href="https://ubuntu.com/blog/what-is-nosql">What is NoSQL and what are database operators?</a>
          </h3>
        </div>
        <div class="col-6">
          <p>Introduction to NoSQL, and why operators are essential in a highly available and secured database application like MongoDB.</p>
        </div>
      </div>
      <hr class="p-rule">
      <div class="row p-section--shallow">
        <div class="col-3">
          <h3 class="p-heading--5">
            <a href="https://ubuntu.com/engage/mongodb-support-security">Get our guide to MongoDB security and support</a>
          </h3>
        </div>
        <div class="col-6">
          <p>A guide to streamline MongoDB database operations.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row">
    <hr class="p-rule">
    <div class="col-6">
      <p>"MongoDB" is a trademark or registered trademark of MongoDB, Inc. Other trademarks are property of their respective owners. Charmed MongoDB is not sponsored, endorsed, or affiliated with MongoDB, Inc.</p>
    </div>
  </div>
</section>

<script defer src="{{ versioned_static('js/modals.js') }}"></script>

{% with %}
  {% set formid = "4903" %}
  {% set returnURL = "https://canonical.com/data/mongodb#success" %}
  {% include "data/_form-data-mongodb.html" %}
{% endwith %}

{% endblock %}
