{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1nVdoKoPrXw8lsvHEtMichlPNfxYU9Uj1zmKowcUXQ_w/edit{% endblock meta_copydoc %}

{% block title %}Enterprise-grade OpenSearch solution{% endblock %}

{% block meta_description %}Enterprise-grade search and analytics suite with high performance, scalability, and security.{% endblock %}

{% block body_class %}is-paper{% endblock body_class %}

{% block content %}

<section class="p-strip is-shallow">
  <div class="row--25-75">
    <div class="col" style="margin-top: .5rem;">
      {{ image (
        url="https://assets.ubuntu.com/v1/858e64ad-logo-open-search.svg",
        alt="Opensearch",
        width="40",
        height="40",
        hi_def=True,
        loading="auto"
        ) | safe
      }}
    </div>
    <div class="col">
      <div class="p-section--shallow">
        <h1>OpenSearch<sup>&reg;</sup> operations, simplified</h1>
        <p>Secure and automate the deployment, maintenance and upgrades of your search and analytics suite across private and public clouds.</p>
      </div>
      <hr>
      <div class="p-section">
        <a class="p-button--positive" href="/contact-us" aria-controls="data-spark-modal">Contact us</a>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--25-75 is-split-on-medium">
    <hr class="p-rule">
    <div class="col">
      <h2 class="p-text--small-caps">Deploy and operate<br class="u-hide--small"> reliably everywhere</h2>
    </div>
    <div class="col">
      <ul class="p-list--divided">
        <li class="p-list__item p-heading--2">10 years security maintenance and support</li>
        <li class="p-list__item p-heading--2">Open source</li>
        <li class="p-list__item p-heading--2">Simple per node subscription</li>
        <li class="p-list__item p-heading--2">Hybrid, multi-cloud ready</li>
      </ul>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="u-fixed-width">
    <hr class="p-rule">
    <h2 class="p-text--small-caps">Run OpenSearch<sup>&reg;</sup> on</h2>
    <div class="p-logo-section">
      <div class="p-logo-section__items">
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/36a0cd3b-microsoft-azure-2021.png",
            alt="Microsoft Azure",
            width="78",
            height="256",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/8fb612cd-kubernetes-logomark-logo.png",
            alt="Kubernetes",
            width="68",
            height="256",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
							url="https://assets.ubuntu.com/v1/165fa040-openstack-logo.png",
							alt="OpenStack",
							width="426",
							height="256",
							hi_def=True,
							loading="lazy",
							attrs={"class": "p-logo-section__logo"}
							) | safe
						}}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/f1cb23d7-vmware-logo.png",
            alt="VMware",
            width="257",
            height="256",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/497cabc1-google-cloud-logo.png",
            alt="Google Cloud",
            width="397",
            height="256",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/9faa9b91-aws-logo.png",
            alt="AWS",
            width="125",
            height="256",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <hr class="p-rule is-fixed-width">
  <div class="row--50-50">
    <div class="col">
      <h2>A hyper-automated OpenSearch with enterprise-grade support</h2>
    </div>
  
    <div class="col">
      <p>OpenSearch is a fantastic open source search and analytics suite. But operating and supporting a production OpenSearch solution can be complex and challenging. Canonical's Charmed OpenSearch helps you automate operational tasks and spend more time on value-driving activities.</p>
      <hr class="p-rule is-muted">
      <div class="p-section--shallow">
        <ul class="p-list--divided u-no-margin--bottom">
          <li class="p-list__item is-ticked">Automated security and configuration best practice</li>
          <li class="p-list__item is-ticked">Made for physical and virtual machines (VMs)</li>
          <li class="p-list__item is-ticked">Built-in observability</li>
          <li class="p-list__item is-ticked">Multi-cloud</li>
          <li class="p-list__item is-ticked">Self-healing</li>
        </ul>
        <p>
          <a class="p-button--positive" href="https://ubuntu.com/data/docs/opensearch/iaas">Get started with Charmed OpenSearch</a> 
        </p>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="u-fixed-width p-section--shallow">
		<hr class="p-rule">
		<h2>OpenSearch enterprise use cases</h2>
	</div>
  <div class="row--25-75 is-split-on-medium">
    <div class="col">
      <hr class="p-rule">
      <div class="row">
        <div class="col-3">
          <h3 class="p-heading--5">Search</h3>
        </div>
        <div class="col-6">
          <p>OpenSearch enhances your website or e-commerce search capabilities with full-text querying, autocomplete, scroll search, and customisable scoring and ranking.</p>
        </div>
      </div>
      <hr class="p-rule">
      <div class="row">
        <div class="col-3">
          <h3 class="p-heading--5">Analytics and machine learning</h3>
        </div>
        <div class="col-6">
          <p>You can use OpenSearch in multiple analytics solutions such as events analytics, trace analytics, and machine learning, which uses algorithms such as anomaly detection and data clustering.</p>
        </div>
      </div>
      <hr class="p-rule">
      <div class="row">
        <div class="col-3">
          <h3 class="p-heading--5">Observability and reporting</h3>
        </div>
        <div class="col-6">
          <p>OpenSearch can be used to create observability applications through the OpenSearch Dashboard. It can also be used to schedule, export and share reports. </p>
        </div>
      </div>
      <hr class="p-rule">
      <div class="row">
        <div class="col-3">
          <h3 class="p-heading--5">Vector databases</h3>
        </div>
        <div class="col-6">
          <p>Use OpenSearch to store and index vectors and metadata, unlocking the ability to use low-latency queries to discover assets by degree of similarity.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <hr class="p-rule is-fixed-width">
  <div class="row--50-50">
    <div class="col">
      <div class="p-section--shallow">
        <h2>Secure and supported software&nbsp;packages</h2>
      </div>
    </div>
    <div class="col">
      <p>We provide 10 years of support and security patching for your OpenSearch artefacts in the format of your choice through our Ubuntu Pro subscription.</p>
      <hr class="p-rule is-muted">
      <div class="p-section--shallow">
        <ul class="p-list--divided u-no-margin--bottom">
          <li class="p-list__item is-ticked"><a href="https://snapcraft.io/charmed-mysql">Snaps</a> for added confinement and atomic updates on any Linux distribution</li>
          <li class="p-list__item is-ticked"><a href="https://ubuntu.com/server/docs/rock-images/introduction">OCI-compliant images</a> for your containerised environments</li>
          <li class="p-list__item is-ticked"><a href="https://charmhub.io/">Charmed operator</a> for automated OpenSearch operations management</li>
        </ul>
        <p>
          <a class="p-button" href="https://ubuntu.com/pro/subscribe">Get Ubuntu Pro</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="p-section--shallow">
  <div class="row--25-75 is-split-on-medium">
    <hr class="p-rule">
    <div class="col">
      <h3 class="p-heading--2">Services</h3>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-3">
          <h3 class="p-heading--5">Managed OpenSearch</h3>
        </div>
        <div class="col-6">
          <p>We manage your OpenSearch deployments on any cloud, including: automatically deploying, patching, optimising and upgrading with our open source operator.</p>
          <div class="p-section--shallow">
            <ul class="p-list--divided u-no-margin--bottom">
              <li class="p-list__item is-ticked">Backed by a Service Level Agreement (SLA)</li>
              <li class="p-list__item is-ticked">Low cost of ownership</li>
              <li class="p-list__item is-ticked">Expert help in applications operations</li>
              <li class="p-list__item is-ticked">25/7 support</li>
            </ul>
            <p>
              <a href="/contact-us" aria-controls="data-spark-modal">Contact us&nbsp;&rsaquo;</a>
            </p>
          </div>
        </div>
      </div>
      <hr class="p-rule">
      <div class="row">
        <div class="col-3">
          <h3 class="p-heading--5">Consulting</h3>
        </div>
        <div class="col-6">
          <p>Unlock the potential of your data. Canonical's advisory services help you design, deploy and manage your data solutions.</p>
          <div class="p-section--shallow">
            <ul class="p-list--divided">
              <li class="p-list__item is-ticked">Platform architecture and design</li>
              <li class="p-list__item is-ticked">Proof of Concept (PoC)</li>
              <li class="p-list__item is-ticked">Solution deployment</li>
              <li class="p-list__item is-ticked">Charmed OpenSearch training</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="is-fixed-width">
<section class="p-strip is-deep">
  <div class="u-fixed-width">
    <p class="p-heading--2"><a href="https://ubuntu.com/data/docs/opensearch/iaas">Get started with Charmed OpenSearch&nbsp;&rsaquo;</a></p>
  </div>
</section>

<section class="p-section--shallow">
  <div class="row--50-50">
    <hr class="p-rule">
    <div class="col">
      <h2>OpenSearch resources</h2>
    </div>
    <div class="col">
      <div class="p-section--shallow">
        <h3 class="p-heading--5 u-no-margin--bottom">
          <a href="https://ubuntu.com/blog/what-is-opensearch">What is OpenSearch</a>
        </h3>
        <p>Learn about OpenSearch architecture, plugins and tools.</p>
      </div>
      <hr class="p-rule">
      <div class="p-section--shallow">
        <h3 class="p-heading--5 u-no-margin--bottom">
          <a href="https://ubuntu.com/engage/opensearch-ai-webinar">Future-proof AI applications with OpenSearch as a vector database</a>
        </h3>
        <p>Give your generative AI models a broader and deeper pool of data with the right vector database.</p>
      </div>
      <hr class="p-rule">
      <div class="p-section--shallow">
        <h3 class="p-heading--5 u-no-margin--bottom">
          <a href="https://www.youtube.com/watch?v=62B-hG7OWbM">Charmed OpenSearch open source projects</a>
        </h3>
        <p>Introduction to Canonical open source projects.</p>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row">
    <hr class="p-rule">
    <div class="col-6">
      <p>OpenSearch is a registered trademark of Amazon Web Services. Other trademarks are property of their respective owners. Charmed OpenSearch is not sponsored, endorsed, or affiliated with Amazon Web Services.</p>
    </div>
  </div>
</section>

<script src="{{ versioned_static('js/modals.js') }}"></script>

{% with %}
	{% set returnURL = "https://canonical.com/data/opensearch#success" %}
	{% include "data/_form-data-opensearch.html" %}
{% endwith %}

{% endblock %}
