{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1mCztOFZYbC3TeUM7j7pGfSoxKzBs20W1pJHZhdLqKs8/edit{% endblock meta_copydoc %}

{% block title %}Enterprise-grade MongoDB solution{% endblock %}

{% block meta_description %}Enterprise-grade NoSQL database with high performance, scalability, and security. It is ideal for businesses that need a reliable and robust database for their mission-critical applications.{% endblock %}

{% block canonical_url %}{{request.host_url}}data/mongodb{% endblock %}

{% block body_class %}is-paper{% endblock body_class %}

{% block content %}

<section class="p-strip--whitesuru is-shallow u-no-padding--bottom">
  <div class="p-section">
    <div class="row--25-75">
      <div class="col">
        <div class="p-section--shallow">
          <h1 class="u-no-margin--bottom">Run system containers with LXD</h1>
          <h2>Fast, dense, and secure container and VM management at any scale</h2>
        </div>
        <div class="p-section--shallow">
          <p>LXD provides a unified user experience for managing system containers and virtual machines. For more demanding workloads, LXD can be set up in a cluster environment to run containers, VMs, or a combination of the two on a set of machines. LXD has direct hardware access, minimising overhead and matching the density and efficiency of containers.</p>
        </div>
        <hr>
        <p>
          <a class="p-button--positive" href="/lxd/install">Install now</a>
        </p>
        <div class="p-section--shallow">
          Diagram here
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="u-fixed-width p-section--shallow">
		<hr class="p-rule">
		<h2>Why choose LXD?</h2>
	</div>
  <div class="row--25-75 is-split-on-medium">
    <div class="col">
      <div class="row">
        <div class="col-3">Icon 1</div>
        <div class="col-3">Icon 2</div>
        <div class="col-3">Icon 3</div>
      </div>
      <hr class="p-rule">
      <div class="row">
        <div class="col-3">
          <h3 class="p-heading--5">Run a full Linux OS inside a container</h3>
          <p>LXD system containers run a complete filesystem with background processes. This allows you to run any workload, or containerise your traditional systems and apps without modifying the apps or your operations. LXD containers offer the density and efficiency of containers with a VM-like experience.</p>
        </div>
        <div class="col-3">
          <h3 class="p-heading--5">Cloud-like experience</h3>
          <p>LXD is image based and supports images for a large number of Linux distributions. It comes with built-in image stores that supply official Ubuntu images and images provided by the community, which allows you to spin up a container or a VM in a matter of seconds. Existing integrations with various deployment and orchestration tools allow you to manage your infrastructure in a cloud-like way.</p>
        </div>
        <div class="col-3">
          <h3 class="p-heading--5">Secure and scalable</h3>
          <p>LXD runs unprivileged containers by default &dash; protecting the host system from potential attacks. For virtual machines, LXD uses modern virtual hardware (VirtIO) exclusively. In addition, it utilises UEFI SecureBoot and provides vTPM support.</p>
          <p>Resource restrictions through cgroups and ulimits, as well as RBAC, are also supported.</p>
          <p>LXD is also easy to scale &dash; from containers on your laptop to thousands of instances in the data centre.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="u-fixed-width p-section--shallow">
		<hr class="p-rule">
		<h2>Alternatives for running workloads</h2>
	</div>
  <div class="row--25-75 is-split-on-medium">
    <div class="col">
      <hr class="p-rule">
      <div class="row">
        <div class="col-3">
          <h3 class="p-heading--5">System containers</h3>
        </div>
        <div class="col-6">
          <div class="p-section--shallow">
            <ul class="p-list--divided u-no-padding--bottom">
              <li class="p-list__item is-ticked">To run a full Linux OS inside a container</li>
              <li class="p-list__item is-ticked">Utilises Kernel of the host</li>
              <li class="p-list__item is-ticked">Identical performance to bare metal</li>
            </ul>
          </div>
        </div>
      </div>
      <hr class="p-rule">
      <div class="row">
        <div class="col-3">
          <h3 class="p-heading--5">Virtual machines</h3>
        </div>
        <div class="col-6">
          <div class="p-section--shallow">
            <ul class="p-list--divided u-no-padding--bottom">
              <li class="p-list__item is-ticked">For workloads needing a different kernel or OS than the host</li>
              <li class="p-list__item is-ticked">Legacy free</li>
              <li class="p-list__item is-ticked">Cloud-like experience</li>
            </ul>
          </div>
        </div>
      </div>
      <hr class="p-rule">
      <div class="row">
        <div class="col-3">
          <h3 class="p-heading--5">Clusters for more demanding workloads</h3>
        </div>
        <div class="col-6">
          <div class="p-section--shallow">
            <ul class="p-list--divided u-no-margin--bottom">
              <li class="p-list__item is-ticked">Up to 50 servers in a unified cluster with 1000s of instances</li>
              <li class="p-list__item is-ticked">Run containers, VMs, or a combination of the two</li>
              <li class="p-list__item is-ticked">Same distributed database</li>
              <li class="p-list__item is-ticked">Managed uniformly</li>
            </ul>
            <p>Want to know more? Watch this <a href="https://www.youtube.com/watch?v=nrOR6yaO_MY">deep dive into LXD clustering</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <hr class="p-rule is-fixed-width">
  <div class="row--50-50">
    <div class="col">
      <div class="p-section--shallow">
        <h2>Key features</h2>
      </div>
    </div>
    <div class="col">
      <hr class="p-rule">
      <div class="p-section--shallow">
        <ul class="p-list--divided u-no-padding--bottom">
          <li class="p-list__item is-ticked">Flexible resource limits (CPU, memory, network I/O, disk space, and some kernel resources)</li>
          <li class="p-list__item is-ticked">Advanced snapshot support, including scheduling and automatic expiry</li>
          <li class="p-list__item is-ticked">Projects for segmenting your LXD server, and easy multi-user setup for enhanced security</li>
          <li class="p-list__item is-ticked">Hardware passthrough (GPU, USB, NIC, disks, and more)</li>
          <li class="p-list__item is-ticked">Support for live-migration and stateful snapshotting</li>
          <li class="p-list__item is-ticked">Advanced networking support (OVN, SR-IOV, hardware acceleration  support, ...)</li>
          <li class="p-list__item is-ticked">High availability clustering when combined with CEPH and OVN for storage and network redundancy</li>
          <li class="p-list__item is-ticked">LTS releases every two years &dash; supported for five years</li>
          <li class="p-list__item is-ticked">Commercial support available through <a href="https://ubuntu.com/pro">Pro</a></li>
        </ul>
      </div>
      
    </div>
  </div>
</section>

<section class="p-section--shallow">
  <hr class="p-rule is-fixed-width">
  <div class="u-fixed-width">
    {{ image (
      url="https://assets.ubuntu.com/v1/560ad978-Stocksy_txpa6427364mUm300_Large_1245677.jpg",
      alt="",
      width="2924",
      height="1950",
      hi_def=True,
      loading="lazy"
      ) | safe
    }}
  </div>
</section>

<section class="p-section">
  <hr class="p-rule is-fixed-width">
  <div class="row--50-50">
    <div class="col">
      <h3 class="p-heading--2">Join the LXD community</h3>
    </div>
    <div class="col">
      <div class="row--25-75">
        <div class="col">
          <h3 class="p-heading--5">Documentation</h3>
        </div>
        <div class="col">
          <p><a href="https://documentation.ubuntu.com/lxd/en/latest/">Read the documentation&nbsp;&raquo;</a></p>
        </div>
      </div>
      <hr class="p-rule">
      <div class="row--25-75">
        <div class="col">
          <h3 class="p-heading--5">Forum</h3>
        </div>
        <div class="col">
          <p><a href="https://discourse.ubuntu.com/c/lxd/126">Discuss with other users&nbsp;&raquo;</a></p>
        </div>
      </div>
      <hr class="p-rule">
      <div class="row--25-75">
        <div class="col">
          <h3 class="p-heading--5">Tutorials</h3>
        </div>
        <div class="col">
          <p><a href="https://www.youtube.com/c/LXDvideos/videos">Watch tutorials on YouTube&nbsp;&raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="u-fixed-width p-section--shallow">
		<hr class="p-rule">
		<h2>Enhance your experience with <br class="u-hide--small" /> open source tools</h2>
	</div>
  <div class="row--25-75 is-split-on-medium">
    <div class="col">
      <hr class="p-rule">
      <div class="row">
        <div class="col-3">
          <h3 class="p-heading--5">Deploy workloads across different platforms with Juju</h3>
          <p>Juju makes it easy to deploy the exact same software on a variety of different platforms, including public and private cloud, bare metal, Kubernetes clusters. It is also a useful tool for local deployments, ideal for development.</p>
          <hr class="p-rule">
          <p>For operating your instances using Juju please read <a href="https://juju.is/docs/juju/lxd">this tutorial</a>.</p>
        </div>
        <div class="col-3">
          <h3 class="p-heading--5">Easily manage bare metal infrastructure with MAAS and LXD</h3>
          <p>MAAS can automatically deploy and configure LXD as part of the deployment of a physical machine. Or it can be connected to an existing LXD deployment to dynamically create virtual machines on it.</p>
          <hr class="p-rule">
          <p>To set up your own MAAS and LXD environment please read <a href="https://juju.is/docs/juju/lxd">this tutorial</a>.</p>
        </div>
        <div class="col-3">
          <h3 class="p-heading--5">Replace your VMware infrastructure with best-of-breed Open Source</h3>
          <p>Open Source brings cost savings, increased flexibility and higher quality for your infrastructure. Learn how to build a fully functional cloud infrastructure on Ubuntu while ensuring feature parity with VMware solutions.</p>
          <hr class="p-rule">
          <p>Watch the <a href="https://ubuntu.com/engage/from-vmware-to-open-source">"From VMware to open source" webinar</a> to learn more..</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50">
    <hr class="p-rule">
    <div class="col">
      <h3 class="p-heading--2">Learn more about LXD</h3>
    </div>
    <div class="col">
      <div class="row--25-75">
        <div class="col">
          <h3 class="p-heading--5">Webinar</h3>
        </div>
        <div class="col">
          <p><a href="https://www.brighttalk.com/webcast/6793/298235">Learn the basics of LXD&nbsp;&raquo;</a></p>
        </div>
      </div>
      <hr class="p-rule">
      <div class="row--25-75">
        <div class="col">
          <h3 class="p-heading--5">Whitepaper</h3>
        </div>
        <div class="col">
          <p><a href="https://ubuntu.com/engage/lxd-whitepaper">How to build a lightweight system container cluster&nbsp;&raquo;</a></p>
        </div>
      </div>
      <hr class="p-rule">
      <div class="row--25-75">
        <div class="col">
          <h3 class="p-heading--5">Webinar</h3>
        </div>
        <div class="col">
          <p><a href="https://ubuntu.com/engage/lxd-whitepaper">Run Kubernetes on LXD for edge computing&nbsp;&raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{{ versioned_static('js/modals.js') }}"></script>

{% with %}
  {% set formid = "4903" %}
  {% set returnURL = "https://canonical.com/data/mongodb#success" %}
  {% include "data/_form-data-mongodb.html" %}
{% endwith %}

{% endblock %}
