{% extends 'base_index.html' %}

{% from "_macros/vf_hero.jinja" import vf_hero %}
{% from "macros/_vf_card.jinja" import vf_card %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block outer_content %}
  {% block content %}
    {% call(slot) vf_hero(
      title_text=hero_title,
      layout='25/75',
      display_blank_signpost_image_space="true",
      blocks=hero_blocks
    ) -%}
    {%- endcall -%}

    <section class="p-section">
      {% if articles %}
        <div class="grid-row">
          {% for article in articles %}
            {{ vf_card(
              columns=2,
              link=article.url,
              heading=article.hero_title,
              footer={
                "content_type": article.tag or hero_title,
              }
            ) }}
          {% endfor %}
        </div>
      {% else %}
        <p>No articles available in this category.</p>
      {% endif %}
    </section>
  {% endblock %}
{% endblock %}
