<div class="row">
  <div class="col-3">
    <h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default">Life at Canonical</h2>
  </div>
  <div class="col-9">
    <ul class="p-list--divided">
      <li class="p-list__item split-list">
        <div class="row">
          <h3 class="col-3 p-heading--2">
            <a href="/careers/lifestyle">Lifestyle</a>
          </h3>
          <p class="col-6">Canonical is amazing for people who are organised, passionate about technology, and like to travel. People at Canonical say the people at Canonical are amazing. That’s special.</p>
        </div>
      </li>
      <li class="p-list__item split-list">
        <div class="row">
          <h3 class="col-3 p-heading--2">
            <a href="/careers/ethics">Ethics</a>
          </h3>
          <p class="col-6">We take our responsibility for the most critical elements of every piece of open infrastructure in the software-defined world very seriously, and we are committed to quality in every aspect of our product and services.</p>
        </div>
      </li>
      <li class="p-list__item split-list">
        <div class="row">
          <h3 class="col-3 p-heading--2">
            <a href="/careers/travel">Travel</a>
          </h3>
          <p class="col-6">We're uniquely global &ndash; we hire the best open source team globally, regardless of nationality or language, creed or colour, and we serve the global market for technology in open infrastructure and open applications.</p>
        </div>
      </li>
      <li  class="p-list__item split-list">
        <div class="row">
          <h3 class="col-3 p-heading--2">
            <a href="/careers/progression">Progression</a>
          </h3>
          <p class="col-6">We hire for talent, passion and work ethic. Your career at Canonical can progress in many ways &ndash; and we celebrate growth and development in many forms.</p>
        </div>
      </li>
      <li class="p-list__item split-list">
        <div class="row">
          <h3 class="col-3 p-heading--2">
            <a href="/careers/diversity">Diversity</a>
          </h3>
          <p class="col-6">We believe that talent is evenly distributed around the world. No matter where you were born, or what you look like, or how you like to dress.</p>
        </div>
      </li>
    </ul>
  </div>
</div>