{% extends 'base_index.html' %}

{% block title %}Multipass orchestrates virtual Ubuntu instances{% endblock %}

{% block meta_description %}
  Multipass is a CLI to launch and manage VMs on Windows, Mac and Linux that simulates a cloud environment with support for cloud-init. Get Ubuntu on-demand with clean integration to your IDE and version control on your native platform.
{% endblock %}

{% block meta_keywords %}microcloud, scalable cloude, cloud infrastructure{% endblock %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1uI5hsuhe5VUpFSSiQas6FVB2F7RhlbNXcr5Pvr_Lm2c/edit?tab=t.0#
{% endblock meta_copydoc %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}
  {{ embedded_html|safe }}
  <script>
    window.stripePublishableKey = "{{ get_stripe_publishable_key }}";
  </script>
{% endblock %}
