<div class="col-3 col-medium-2">
  <div class="p-side-navigation">
    <p><strong>Categories</strong></p>
    <ul class="p-side-navigation__list" role="tablist">
      {% for product_group in products %}
      <li class="p-side-navigation__item">
        <a href="#" aria-controls="{{ product_group }}" {% if product_group == "highlights" %} aria-current="page" {% endif %}class="p-side-navigation__link">{{ products[product_group].category }}<span class="p-side-navigation__status">{{ products[product_group].products | length }}</span></a>
      </li>
      {% endfor %}                                
    </ul>
  </div>
</div>

<script defer src="/static/js/products-tabs.js"></script>
