
<section class="p-section--shallow">
  <hr class="p-rule">
  <div class="grid-row">
    <div class="grid-col-4">
      <div class="p-section--shallow">
        <h2>Automated cluster creation and management</h2>
      </div>
      <div class="p-section--shallow">
        <p>MicroK8s supports automated cluster creation and life cycle management with ClusterAPI (CAPI).</p>
        <p>CAPI abstracts away the details of infrastructure provisioning, networking, and other low-level tasks, so users can define their desired cluster configuration using simple YAML manifests. </p>
        <p>MicroK8s and CAPI allow you to easily provision clusters and deploy them behind proxies.</p>
        <p>Rolling upgrades for high-availability (HA) clusters and worker notes mean you can upgrade clusters with no downtime. It also supports in-place upgrades for non-HA control planes.</p>
        <p>
          <a href="/docs/capi-provision">Learn how to deploy MicroK8s with CAPI&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </div>
</section>
