<section class="p-section--shallow">
  <hr class="p-rule">
  <div class="row">
    <div class="col-6">
      <div class="p-section--shallow">
        <h2>Custom launch configurations</h2>
      </div>
      <div class="p-section--shallow">
        <p>MicroK8s was always simple to install, but now it's simple to install, the way you want it. Use a custom Container Network Interface (CNI), set specific service options, configure registries, and enable the add-ons you want - all without an extra keystroke. Brilliant for automated, repeatable, reliable deployment and especially useful for air-gapped instals, embedded applications, and integration with public clouds.</p>
        <p>
          <a href="/docs/explain-launch-config">Perform a complicated custom K8s setup in seconds&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </div>
</section>