<section class="p-section--shallow">
  <hr class="p-rule">
  <div class="row">
    <div class="col-6">
      <div class="p-section--shallow">
        <div class="p-section--shallow">
          <h2>High availability (HA)</h2>
        </div>
        <p>HA Kubernetes clusters can withstand a failure on any component and continue serving workloads without interruption. </p>
        <p>MicroK8s delivers a production-grade Kubernetes cluster simply by adding more MicroK8s nodes. There is no extra configuration required - install MicroK8s on three machines, run the join command to link them together and in moments, you have a production-grade Kubernetes cluster with HA enabled automatically.</p>
      </div>
    </div>
  </div>
  <hr class="p-rule">
  <div class="row">
    <div class="col-6">
      <div class="p-section--shallow">
        <h3 class="p-heading--5">Autonomous HA Kubernetes</h3>
      </div>
      <div class="p-section--shallow">
        <p>Autonomy combined with high availability delivers a full Kubernetes with minimal setup, able to support mission-critical workloads with operational efficiency.</p>
        <p>MicroK8s uses Dqlite, a high-availability SQLite, as its datastore. As soon as the cluster includes three or more nodes, Dqlite is resilient and the API services are distributed on all of them. If one node should fail or be restarted, Kubernetes keeps running and will recover itself back to full HA when the node becomes available again, with no administrative action. </p>
        <p>
          <a href="/docs/high-availability">Learn more about how HA MicroK8s works&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </div>
</section>