{% extends '/careers/careers_base.html' %}

{% block meta_description %}Canonical offers a truly distributed workplace for exceptional colleagues who are self-motivated, organised. Maintain a home office and experience the top of global technology strategy and engineering. Travel regularly to interesting destinations for team, conference and customer engagements.{% endblock %}

{% block hero %}
  <section class="p-strip--image is-dark is-deep u-no-padding--top u-no-padding--bottom u-extra-space">
    <div class="p-strip--suru-background">
      <div class="row">
        <div class="col-6">
          <h1>Careers</h1>
        </div>
      </div>
    </div>
  </section>
  <style>
    .p-strip--suru-background {
      background-image:
      linear-gradient(to bottom right, rgba(74, 24, 60, 0.4) 0%, rgba(74, 24, 60, 0.4) 49.9%, rgba(74, 24, 60, 0) 50%, rgba(74, 24, 60, 0) 100%),
      linear-gradient(to top right, rgba(210, 180, 202, 0) 0%, rgba(210, 180, 202, 0) 49.9%, rgba(210, 180, 202, 0.05) 50%, rgba(210, 180, 202, 0.05) 100%),
      linear-gradient(to top right, #fff 0%, #fff 49%, transparent 50%),
      linear-gradient(140deg, #E95420 0%, #772953 33%, #2C001E 72%);
      background-position: left top, right top, left 101%;
      background-size: 80% 100%, 70% 80%, 110% 20%, 100% 100%;
      padding-bottom: 6rem;
      padding-top: 6rem;
    }
  </style>
{% endblock %}

{% block overview %}
  <div class="row u-sv3">
    <div class="col-12">
      <a href="{{ request.referrer }}">&lsaquo;&nbsp;Back to list</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="u-no-margin--bottom u-sv1">{{ job.title }}</h2>
      <p class="p-muted-heading">{{ job.location }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {{ job.content | safe }}
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-7">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo ratione nobis blanditiis amet quibusdam totam libero eos ut illo vero cum, voluptas nostrum, accusamus, quae voluptates perspiciatis? Omnis, sint excepturi.</p>
    </div>
    <div class="col-2 u-align--center">
      <a class="p-button--positive" href="">Apply now</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="p-card--strip">
        <p class="u-no-margin--bottom" style="text-transform: uppercase; font-size: small;">Required skills and experience</p>
        <hr/>
        <div class="row">
          <div class="col-4">
            <ul class="p-list u-no-margin--bottom">
              <li class="p-list__item is-ticked">Hardware guidance and sizing</li>
              <li class="p-list__item is-ticked">Fixed-price deployment</li>
              <li class="p-list__item is-ticked">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, aliquam? Totam quis quas officia ut accusamus ratione? Iusto maiores pariatur, temporibus corporis blanditiis harum, reiciendis voluptatibus modi, facilis quo assumenda!</li>
              <li class="p-list__item is-ticked">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </li>
              <li class="p-list__item is-ticked">Fixed-price deployment</li>
              <li class="p-list__item is-ticked">Reference architecture</li>
            </ul>
          </div>
          <div class="col-4 col-start-large-6">
            <ul class="p-list u-no-margin--bottom">
              <li class="p-list__item is-ticked">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </li>
              <li class="p-list__item is-ticked">Fixed-price deployment</li>
              <li class="p-list__item is-ticked">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </li>
              <li class="p-list__item is-ticked">Hardware guidance and sizing</li>
              <li class="p-list__item is-ticked">Fixed-price deployment</li>
              <li class="p-list__item is-ticked">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row u-sv3">
    <div class="col-12">
      <div class="p-card--no-border">
        <p class="u-no-margin--bottom" style="text-transform: uppercase; font-size: small;">Key responsibilities and accountabilities</p>
        <hr/>
        <div class="row">
          <div class="col-4">
            <ul class="p-list u-no-margin--bottom">
              <li class="p-list__item is-ticked">Hardware guidance and sizing</li>
              <li class="p-list__item is-ticked">Fixed-price deployment</li>
              <li class="p-list__item is-ticked">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, aliquam? Totam quis quas officia ut accusamus ratione? Iusto maiores pariatur, temporibus corporis blanditiis harum, reiciendis voluptatibus modi, facilis quo assumenda!</li>
              <li class="p-list__item is-ticked">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </li>
              <li class="p-list__item is-ticked">Fixed-price deployment</li>
              <li class="p-list__item is-ticked">Reference architecture</li>
            </ul>
          </div>
          <div class="col-4 col-start-large-6">
            <ul class="p-list u-no-margin--bottom">
              <li class="p-list__item is-ticked">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </li>
              <li class="p-list__item is-ticked">Fixed-price deployment</li>
              <li class="p-list__item is-ticked">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </li>
              <li class="p-list__item is-ticked">Hardware guidance and sizing</li>
              <li class="p-list__item is-ticked">Fixed-price deployment</li>
              <li class="p-list__item is-ticked">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <p class="p-heading--four">Desired skills and experience</p>
      <p>Strong experience with networking a plus. Strong experience with storage technologies a plus. Strong experience with Cloud hosting and infrastructure a plus.<br />Experience with deploying and maintaining other non-Ubuntu operating systems, including ESXi, Windows and CentOS/RHEL, etc, a plus.</p>
    </div>
    <div class="col-4 col-start-large-6">
      <p class="p-heading--four">Travel</p>
      <p>Must be able to travel internationally typically for 2-6 times a year, for a week at a time. Travel destinations typically include North America (US/Canada), Europe (Germany, France, Spain, Belgium, Romania, Hungary, etc) and South Africa occasionally.</p>
    </div>
  </div> -->
  <div class="row">
    <div class="col-12">
      <hr />
    </div>
  </div>
  <div class="row u-extra-space">
    <div class="col-12">
      <a href="#">Apply now&nbsp;&rsaquo;</a>
    </div>
  </div>
{% endblock %}