{% extends 'base_index.html' %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1bfo97XdFdKlzrMcMoRxiTdzt_bPVndx6j55IPsapuAE/edit
{% endblock meta_copydoc %}

{% block title %}Canonical OpenStack{% endblock %}

{% block meta_description %}
  Canonical OpenStack - your own professional cloud for sophisticated workloads, including AI/ML, and full control over your sensitive data
{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}

  <section class="p-section--hero">
    <div class="row--50-50">
      <div class="col">
        <div class="p-section--shallow">
          <h1>Canonical OpenStack</h1>
        </div>
      </div>
      <div class="col">
        <div class="p-section--shallow">
          <p>
            Get a public cloud-like experience while hosting your applications in your own data centre. Strengthen your business with a flexible infrastructure that meets the highest industry standards.
          </p>
        </div>
        <div class="p-cta-block">
          <a href="https://microstack.run/docs/single-node"
             class="p-button--positive">Try Canonical OepnStack</a>
          <a href="https://ubuntu.com/engage/openstack-ebook-beginners"
             class="p-button">Download the OpenStack e-book</a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row">
      <hr class="u-no-margin--bottom" />
      <div class="col-3 p-section--shallow">
        <h2 class="p-text--small-caps">Canonical OpenStack in numbers</h2>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-3 col-medium-2">
            <hr class="p-rule--highlight" />
            <p class="p-heading--2 u-sv-1">
              <strong>100&plus;</strong>
            </p>
            <p class="u-no-padding--top">Happy customers</p>
          </div>
          <div class="col-3 col-medium-2">
            <hr class="p-rule--highlight" />
            <p class="p-heading--2 u-sv-1">
              <strong>500&plus;</strong>
            </p>
            <p class="u-no-padding--top">Clouds in production</p>
          </div>
          <div class="col-3 col-medium-2">
            <hr class="p-rule--highlight" />
            <p class="p-heading--2 u-sv-1">
              <strong><span aria-label="about">~</span>30 minutes</strong>
            </p>
            <p class="u-no-padding--top">To spin it up in your lab</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Keep your future in your hands with your own professional cloud</h2>
      </div>
      <div class="col">
        <p>
          Transform your data centre into a fully functional and professional cloud environment. Take advantage of cloud-based operations, while retaining all the benefits of owning your computing infrastructure.
        </p>
        <div class="p-cta-block">
          <a class="p-button--positive">Get in touch</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-start-large-4 col-9">
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Improve your business' efficiency</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Equip your teams with a self-service IT infrastructure. Canonical OpenStack delivers a cloud-like experience and on-demand resources to serve your business' computing needs.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">You reduce and optimise your infrastructure costs</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Deploy it in your existing multi-cloud ecosystem and benefit from a long-term TCO reduction. With Canonical OpenStack there is no hidden licence or subscription cost.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Re-gain control over your data</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Keep your sensitive data on your premises where you have full control over the underlying infrastructure. Canonical OpenStack helps you build sovereign clouds and adhere to local policies and regulations.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Avoid lock-in and costly surprises</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Bet on a product that uses stable, mature and distilled upstream open source code underneath. Benefit from years of community collaboration, while relying on us for security updates and support with guaranteed SLAs.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Accelerate your digital transformation</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Plug in your GPUs and get an extendable Kubernetes layer running on top of Canonical OpenStack in minutes. Use with confidence for your sophisticated AI/ML and other cloud-native workloads.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Build with ease and operate at scale</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Launch your own instance of Canonical OpenStack in your lab in a few simple steps. Scale out with ease and benefit from full bottom-up automation for daily operations.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width p-section--shallow">
      <hr class="p-rule--highlight" />
      <h2 class="p-text--small-caps">Endorsed by executives, globally</h2>
    </div>
    <div class="row p-section--shallow">
      <div class="col-3 p-section--shallow" style="margin-top: 1rem;">
        {{ image(url="https://assets.ubuntu.com/v1/1db9d47a-Rectangle%204.png",
                alt="Pacific Textiles Holding Limited",
                width="188",
                height="33",
                hi_def=True,
                loading="lazy") | safe
        }}
      </div>
      <div class="col-9">
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-6 col-medium-4">
            <blockquote class="u-no-margin--bottom u-no-padding" style="border: none;">
              <p>
                <i>Canonical is miles ahead of other providers where every server is manually configured.</i>
                <span class="u-off-screen">Hubert Tsang, CIO, Pacific textiles</span>
              </p>
            </blockquote>
          </div>
          <div class="col-3 col-medium-2">
            <p class="p-heading--5 u-no-margin--bottom" aria-hidden="true">Hubert Tsang</p>
            <p class="u-text--muted" aria-hidden="true">CIO, Pacific Textiles</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-section--shallow">
      <div class="col-3 p-section--shallow" style="margin-top: 1rem;">
        {{ image(url="https://assets.ubuntu.com/v1/59a71df3-Rectangle%206.png",
                alt="Sicredi",
                width="124",
                height="30",
                hi_def=True,
                loading="lazy") | safe
        }}
      </div>
      <div class="col-9">
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-6 col-medium-4">
            <blockquote class="u-no-margin--bottom u-no-padding" style="border: none;">
              <p>
                <i>We recently reassessed our cloud strategy, and one of the parameters was cost-efficiency. We observed that Canonical OpenStack is helping us to achieve two-to-three times more cost-efficiency than using public clouds.</i>
                <span class="u-off-screen">Cléber Alexandre Agazzi, Head of Infrastructure & IT Operations, Sicredi</span>
              </p>
            </blockquote>
          </div>
          <div class="col-3 col-medium-2">
            <p class="p-heading--5 u-no-margin--bottom" aria-hidden="true">Cléber Alexandre Agazzi</p>
            <p class="u-text--muted" aria-hidden="true">Head of Infrastructure & IT Operations, Sicredi</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-section--shallow">
      <div class="col-3 p-section--shallow" style="margin-top: 1rem;">
        {{ image(url="https://assets.ubuntu.com/v1/4108a96c-Rectangle%207.png",
                alt="Telefonica",
                width="123",
                height="33",
                hi_def=True,
                loading="lazy") | safe
        }}
      </div>
      <div class="col-9">
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-6 col-medium-4">
            <blockquote class="u-no-margin--bottom u-no-padding" style="border: none;">
              <p>
                <i>Migrating our OCS application to the cloud will give us the base and agility we need in order to consistently offer best-in-class solutions for our customers. This selection [Canonical OpenStack] was an obvious choice to enable us to scale our charging capabilities to a future-proofed private cloud platform.</i>
                <span class="u-off-screen">Flavio Matiello, Head of PrePaid Platforms & OCS, Telefonica Brazil</span>
              </p>
            </blockquote>
          </div>
          <div class="col-3 col-medium-2">
            <p class="p-heading--5 u-no-margin--bottom" aria-hidden="true">Flavio Matiello</p>
            <p class="u-text--muted" aria-hidden="true">Head of PrePaid Platforms & OCS, Telefonica Brazil</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>
          Where does
          <br />
          Canonical OpenStack fit?
        </h2>
      </div>
      <div class="col">
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">General-purpose cloud computing on your premises</li>
          <li class="p-list__item is-ticked">An alternative to proprietary virtualisation solutions</li>
          <li class="p-list__item is-ticked">Implementing a sovereign cloud for digital sovereignty</li>
          <li class="p-list__item is-ticked">Building a local/regional public cloud for your customers</li>
          <li class="p-list__item is-ticked">Performance-intensive workloads such as HPC and AI/ML</li>
          <li class="p-list__item is-ticked">Telco network function virtualisation infrastructure (NFVI)</li>
          <li class="p-list__item is-ticked">Edge infrastructure distributed across thousands of sides</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width p-section--shallow">
      <hr class="p-rule" />
      <h2>Proven record of success</h2>
    </div>
    <div class="row p-section--shallow">
      <div class="col-3 col-medium-3 col-small-2">
        <a href="https://www.youtube.com/watch?v=0oFnOHJrRQs"
           aria-label="Watch how BT Group improves fan experience with 5G">
          <div class="p-image-container--16-9 is-highlighted">
            {{ image(url="https://assets.ubuntu.com/v1/89e42e5e-bt-logo%20.png",
                        alt="BT",
                        width="45",
                        height="104",
                        hi_def=True,
                        loading="lazy") | safe
            }}
          </div>
          <p>Watch the video&nbsp;&rsaquo;</p>
        </a>
      </div>
      <div class="col-3 col-medium-3 col-small-2">
        <a href="https://www.unicc.org/news/2023/10/19/unicc-partners-with-canonical-to-build-unicc-cloud/"
           aria-label="Read the UNICC announcement">
          <div class="p-image-container--16-9 is-highlighted">
            {{ image(url="https://assets.ubuntu.com/v1/e49d170a-unicc-logo.png",
                        alt="UNICC",
                        width="104",
                        height="104",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"}) | safe
            }}
          </div>
          <p>Read the announcement&nbsp;&rsaquo;</p>
        </a>
      </div>
      <div class="col-3 col-medium-3 col-small-2">
        <a href="https://ubuntu.com/engage/kubernetes-openstack-case-study-firmus"
           aria-label="Read the Firmus case study">
          <div class="p-image-container--16-9 is-highlighted">
            {{ image(url="https://assets.ubuntu.com/v1/052c9997-firmus-logo.png",
                        alt="",
                        width="91",
                        height="104",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"}) | safe
            }}
          </div>
          <p>Read the case study&nbsp;&rsaquo;</p>
        </a>
      </div>
      <div class="col-3 col-medium-3 col-small-2">
        <a href="/blog/telefonica-brazil-selects-charmed-openstack"
           aria-label="Read the Telefonica annoucement">
          <div class="p-image-container--16-9 is-highlighted">
            {{ image(url="https://assets.ubuntu.com/v1/e91919f4-telefonica-logo%20.png",
                        alt="",
                        width="132",
                        height="104",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"}) | safe
            }}
          </div>
          <p>Read the announcement&nbsp;&rsaquo;</p>
        </a>
      </div>
      <div class="col-3 col-medium-3 col-small-2">
        <a href="https://ubuntu.com/engage/sicredi-openstack-case-study"
           aria-label="Read the Sicredi case study">
          <div class="p-image-container--16-9 is-highlighted">
            {{ image(url="https://assets.ubuntu.com/v1/9a219e83-sicredi-logo-new.png",
                        alt="Sicredi",
                        width="104",
                        height="104",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"}) | safe
            }}
          </div>
          <p>Read the case study&nbsp;&rsaquo;</p>
        </a>
      </div>
    </div>
    <div class="u-fixed-width p-section--shallow">
      <hr class="p-rule--muted" />
      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/44ee0936-mercedes-logo.png",
                        alt="Mercedes Benz",
                        width="604",
                        height="313",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/2311ff1f-Bloomberg-Logo%20.png",
                        alt="Bloomberg",
                        width="314",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/80b0c768-bnp-paribas-logo%20.png",
                        alt="BNP Paribas",
                        width="486",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/ae9b96b6-kings-college-london-logo.png",
                        alt="Kings College London",
                        width="196",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/b831f28b-pthl-logo.png",
                        alt="Gendarmerie",
                        width="328",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section--deep">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Get Canonical OpenStack</h2>
      </div>
      <div class="col">
        <div class="p-section--shallow">
          <p>
            Self-deployed or Canonical-deployed? This is the only dilemma you have to deal with when getting started with Canonical OpenStack. Choose the option that suits you best and start your adventure with your own professional cloud today.
          </p>
        </div>
      </div>
    </div>
    <div class="row--50-50">
      <div class="col">
        <hr class="p-rule--highlight u-no-margin--bottom" />
        <div class="p-card--overlay u-no-padding--top u-no-padding--bottom"
             style="padding: 1.5rem">
          <h3>Self-deployed</h3>
          <p>
            You deploy Canonical OpenStack yourself by relying on public-facing materials, such as <a href="https://microstack.run/docs">product documentation</a> and <a href="/openstack/tutorials">tutorials</a>. Once deployed according to Canonical's best practices, your cloud qualifies for various levels of <a href="">commercial services</a>.
          </p>
          <div class="p-cta-block">
            <a href="https://microstack.run/docs/single-node"
               class="p-button--positive">Start on your own</a>
          </div>
        </div>
      </div>
      <div class="col">
        <hr class="p-rule--highlight u-no-margin--bottom" />
        <div class="p-card--overlay u-no-padding--top u-no-padding--bottom"
             style="padding: 1.5rem">
          <h3>Canonical-deployed</h3>
          <div class="p-section--shallow">
            <p>
              We deploy Canonical OpenStack for you. Together, we find the design that suits your use case and requirements best. We will share our best practices and hand over the cloud to you once it's built, tested and validated by us.
            </p>
          </div>
          <div class="p-cta-block">
            <a href="" class="p-button--positive">Start with Canonical</a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
