interactions:
- request:
    body: '{"query": "query getEmployee($id: ID!) {\n  employees(filter: {id: $id})
      {\n    id\n    name\n    bio\n    avatar\n  }\n}\n", "variables": {"id": "1234"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.directory.canonical.com/graphql/
  response:
    body:
      string: '{"data":{"employees":[{"avatar":"test_image","bio": "test","id":"1234","name":"Mike
        Valen"}]}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://assets.ubuntu.com>; rel=preconnect; crossorigin, <https://assets.ubuntu.com>;
        rel=preconnect
    status:
      code: 200
      message: ''
version: 1
