interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?programme__name=TestingUser&featured=true
  response:
    body:
      string: '[{"name": "Hewlett Packard", "slug": "hewlett-packard", "published":
        true, "logo": "https://assets.ubuntu.com/v1/cd5f636a-hp-logo.png", "partner_website":
        "http://www8.hp.com", "fallback_website": "http://www8.hp.com", "short_description":
        "whitelist blacklisted master slave chairman middleman
        \u2014 every person, every organization, and every community around the globe.
        This motivates us \u2014 inspires us \u2014 to do what we do. We won\u2019t
        stop pushing ahead, because you won\u2019t stop pushing ahead. This is a new
        HP. Keep reinventing.", "long_description": "", "featured": true, "always_featured":
        true, "notes": "", "tags_label": "", "technology": [{"id": 3, "name": "Personal
        computing/devices"}], "programme": [{"id": 10, "name": "Desktop"}], "service_offered":
        [{"id": 11, "name": "Hardware manufacturer"}], "partner_type": [], "quote_set":
        [], "service_offered": [{"id": 11, "name": "Hardware manufacturer"}], "partner_type":
        [{"id": 1, "name": "Customer"}], "quote_set": [], "link_set": [], "insightstag_set":
        [], "tag_set": [], "text_set": []}]'
    headers:
      content-type:
      - application.json
      x-vcs-revision:
      - 1680784219-66e1798
    status:
      code: 200
      message: ''
version: 1
