interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?programme__name=Desktop&featured=true
  response:
    body:
      string: '[{"name": "Hewlett Packard", "slug": "hewlett-packard", "published":
        true, "logo": "https://assets.ubuntu.com/v1/cd5f636a-hp-logo.png", "partner_website":
        "http://www8.hp.com", "fallback_website": "http://www8.hp.com", "short_description":
        "Our vision is to create technology that makes life better for everyone, everywhere
        \u2014 every person, every organization, and every community around the globe.
        This motivates us \u2014 inspires us \u2014 to do what we do. We won\u2019t
        stop pushing ahead, because you won\u2019t stop pushing ahead. This is a new
        HP. Keep reinventing.", "long_description": "", "featured": true, "always_featured":
        true, "notes": "", "tags_label": "", "technology": [{"id": 3, "name": "Personal
        computing/devices"}], "programme": [{"id": 10, "name": "Desktop"}], "service_offered":
        [{"id": 11, "name": "Hardware manufacturer"}], "partner_type": [], "quote_set":
        [], "link_set": [], "insightstag_set": [], "tag_set": [], "text_set": []},
        {"name": "Dell Technologies", "slug": "dell-technologies", "published": true,
        "logo": "https://assets.ubuntu.com/v1/38fdfd23-Dell-logo.png", "partner_website":
        "https://ubuntu.com/dell", "fallback_website": "http://dell.com", "short_description":
        "Canonical and Dell Technologies have teamed up to offer an extensive range
        of desktop, laptop and workstations . Dell and Canonical engineers collaborate
        constantly to certify Dell hardware on Ubunt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?programme__name=Channel%20/%20Reseller&featured=true
  response:
    body:
      string: '[{"name": "Supermicro Computer", "slug": "supermicro-computer", "published":
        true, "logo": "https://assets.ubuntu.com/v1/45cbb76b-Supermicro-logo.png",
        "partner_website": "https://www.supermicro.com/", "fallback_website": "https://www.supermicro.com/",
        "short_description": "Super[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?programme__name=Internet%20of%20Things&featured=true
  response:
    body:
      string: '[{"name": "Microsoft Azure", "slug": "microsoft-azure", "published":
        true, "logo": "https://assets.ubuntu.com/v1/210f44e4-microsoft-azure-new-logo.png",
        "partner_website": "https://ubuntu.com/azure", "fallback_website": "http://azure.microsoft.com/",
        "short_description": "Azure i[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?programme__name=IHV%20%2F%20OEM&featured=true
  response:
    body:
      string: '[{"name": "Microchip", "slug": "microchip", "published": true, "logo":
        "https://assets.ubuntu.com/v1/fdfe05d5-microchip-logo.png", "partner_website":
        "https://start.microsemi.com", "fallback_website": "https://start.microsemi.com",
        "short_description": "Provider of semiconductor and sys[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?programme__name=Global%20System%20Integrators&featured=true
  response:
    body:
      string: '[{"name": "Tech Mahindra", "slug": "tech-mahindra", "published": true,
        "logo": "https://assets.ubuntu.com/v1/7a1ca79c-tech-mahindra.png", "partner_website":
        "http://techmahindra.com", "fallback_website": "http://techmahindra.com",
        "short_description": "A federation of comp[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?programme__name=Public%20Cloud&featured=true
  response:
    body:
      string: '[{"name": "IBM Cloud", "slug": "ibm-cloud", "published": true, "logo":
        "https://assets.ubuntu.com/v1/cb7ef8ac-ibm-cloud-logo.png", "partner_website":
        "https://www.ibm.com/cloud", "fallback_website": "https://www.ibm.com/cloud",
        "short_description": "IBM Cloud provides cloud infrastructur[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?programme__name=Silicon&featured=true
  response:
    body:
      string: '[{"name": "Arm", "slug": "arm", "published": true, "logo": "https://assets.ubuntu.com/v1/ca87c5e8-arm-logo.png",
        "partner_website": "http://www.arm.com/", "fallback_website": "http://www.arm.com/",
        "short_description": "The Arm computing architecture has rocketed in popularity
        since the company[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json
  response:
    body:
      string: '[{"name": "IBM Cloud", "slug": "ibm-cloud", "published": true, "logo":
        "https://assets.ubuntu.com/v1/cb7ef8ac-ibm-cloud-logo.png", "partner_website":
        "https://www.ibm.com/cloud", "fallback_website": "https://www.ibm.com/cloud",
        "short_description": "IBM Cloud provides cloud infrastructure as a service
        from a growing number [...]
