interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?programme__name=IHV%20%2F%20OEM&featured=true
  response:
    body:
      string: '[{"name": "Dell EMC", "slug": "dell-emc", "published": true, "logo":
        "https://assets.ubuntu.com/v1/6ae77bbb-Dell_EMC_logo_lrg.svg", "partner_website":
        "https://www.dell.com/", "fallback_website": "http://www.dell.com/", "short_description":
        "Canonical and Dell Technologies have teamed up to offer an extensive range
        of desktop, notebook, server and IoT configurations, certified and suitable
        for home use, business use or software development. Dell and Canonical engineers
        collaborate constantly to certify Dell hardware on Ubuntu to a level that
        customers can rely on.", "long_description": "Dell Technologies\r\n--------\r\nCanonical
        and [Dell Technologies](https://www.delltechnologies.com/en-us/index.htm)
        have a long-standing partnership that spans across Dell\u2019s Client, Enterprise
        and IoT businesses. Canonical and Dell share a common vision of addressing
        customers\u2019 Edge, Core and Cloud requirements with industry leading solutions.
        The result of this close engagement is an extensive range of integrated technologies
        certified on Canonical\u2019s latest releases which are ideal for both [home](http://www.dell.com/en-us?dgc=IR&amp;cid=WWA&amp;lid=LC_delllogo)
        and [business](https://www.dellemc.com/en-us/index.htm) use or as a platform
        for [software development](http://www.dell.com/learn/us/en/04/campaigns/xps-linux-laptop-us).
        In addition, Canonical and Dell have partnered to deliver Cloud infrastructure
        solutions to the market based on OpenStack and joint reference architectures.",
        "featured": true, "always_featured": true, "notes": "", "tags_label": "",
        "technology": [{"id": 1, "name": "Cloud/server"}], "programme": [{"id": 4,
        "name": "IHV / OEM"}, {"id": 16, "name": "Channel / Reseller"}], "service_offered":
        [{"id": 11, "name": "Hardware manufacturer"}], "partner_type": [{"id": 1,
        "name": "Customer"}], "quote_set": [{"id": 1, "partner": {"id": 1, "name":
        "Dell EMC", "slug": "dell-emc", "published": true, "logo": "https://assets.ubuntu.com/v1/6ae77bbb-Dell_EMC_logo_lrg.svg",
        "partner_website": "https://www.dell.com/", "fallback_website": "http://www.dell.com/",
        "short_description": "Canonical and Dell Technologies have teamed up to offer
        an extensive range of desktop, notebook, server and IoT configurations, certified
        and suitable for home use, business use or software development. Dell a[...]
