interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?programme__name=Desktop&featured=true
  response:
    body:
      string: '[{"name": "Dell", "slug": "dell", "published": true, "logo": "https://assets.ubuntu.com/v1/d258d23b-2018-logo-dell.svg",
        "partner_website": "https://ubuntu.com/dell", "fallback_website": "http://dell.com",
        "short_description": "Canonical and Dell Technologies have teamed up to offer
        an extensive range of desktop, laptop and workstations . Dell and Canonical
        engineers collaborate constantly to certify Dell hardware on Ubuntu to a level
        that customers can rely on.", "long_description": "", "featured": true, "always_featured":
        true, "notes": "", "tags_label": "", "technology": [{"id": 3, "name": "Personal
        computing/devices"}], "programme": [{"id": 10, "name": "Desktop"}], "service_offered":
        [], "partner_type": [], "quote_set": [], "link_set": [], "insightstag_set":
        [], "tag_set": [], "text_set": []}, {"name": "Hewlett Packard", "slug": "hewlett-packard",
        "published": true, "logo": "https://assets.ubuntu.com/v1/96b06031-HP.jpg",
        "partner_website": "http://www8.hp.com", "fallback_website": "http://www8.hp.com",
        "short_description": "Our vision is to create technology that makes life better
        for everyone, everywhere \u2014 every person, every organization, and every
        community around the globe. This motivates us \u2014 inspires us \u2014 to
        do[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?programme__name=Channel%20/%20Reseller&featured=true
  response:
    body:
      string: '[{"name": "Factor Group", "slug": "factor-group", "published": true,
        "logo": "https://assets.ubuntu.com/v1/00650a4e-factor_group_yprostila.png",
        "partner_website": "http://www.fgts.ru/about-company-eng.html", "fallback_website":
        "http://www.fgts.ru/about-company-eng.html", "short[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?programme__name=Charm%20Partner%20Programme&featured=true
  response:
    body:
      string: '[]'
    headers:
      content-type:
      - application.json
      x-vcs-revision:
      - 1594891311-b2b8e76
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?technology__name=Cloud/server&featured=true
  response:
    body:
      string: '[{"name": "Factor Group", "slug": "factor-group", "published": true,
        "logo": "https://assets.ubuntu.com/v1/00650a4e-factor_group_yprostila.png",
        "partner_website": "http://www.fgts.ru/about-company-eng.html", "fallback_website":
        "http://www.fgts.ru/about-company-eng.html", "short_descript[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?programme__name=IHV%20/%20OEM&featured=true
  response:
    body:
      string: '[{"name": "Dell EMC", "slug": "dell-emc", "published": true, "logo":
        "https://assets.ubuntu.com/v1/6ae77bbb-Dell_EMC_logo_lrg.svg", "partner_website":
        "https://www.dell.com/", "fallback_website": "http://www.dell.com/", "short_description":
        "Canonical and Dell Technologies have teamed up [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?programme__name=Internet%20of%20Things&featured=true
  response:
    body:
      string: '[{"name": "Rigado", "slug": "rigado", "published": true, "logo": "https://assets.ubuntu.com/v1/6d588a1f-RigadoFullColorVert-800px.png",
        "partner_website": "https://www.rigado.com/products/iot-gateways/", "fallback_website":
        "https://www.rigado.com/", "short_description": "Canonical\u2019[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?programme__name=Global%20System%20Integrators&featured=true
  response:
    body:
      string: '[{"name": "Cognizant", "slug": "cognizant", "published": true, "logo":
        "https://assets.ubuntu.com/v1/5617baf2-cog+logo.jpg", "partner_website": "https://www.cognizant.com/about-cognizant",
        "fallback_website": "https://www.cognizant.com/about-cognizant", "short_description":
      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?service__offered=Hosting%20provider&featured=true
  response:
    body:
      string: '[{"name": "Dell EMC", "slug": "dell-emc", "published": true, "logo":
        "https://assets.ubuntu.com/v1/6ae77bbb-Dell_EMC_logo_lrg.svg", "partner_website":
        "https://www.dell.com/", "fallback_website": "http://www.dell.com/", "short_description":
        "Canonical and Dell Technologies have team[...]
[...]
