interactions:
- request:
    body: '{"query": "query IntrospectionQuery {\n  __schema {\n    queryType {\n      name\n    }\n    mutationType
      {\n      name\n    }\n    subscriptionType {\n      name\n    }\n    types {\n      ...FullType\n    }\n    directives
      {\n      name\n      description\n      locations\n      args {\n        ...InputValue\n      }\n    }\n  }\n}\n\nfragment
      FullType on __Type {\n  kind\n  name\n  description\n  fields(includeDeprecated:
      true) {\n    name\n    description\n    args {\n      ...InputValue\n    }\n    type
      {\n      ...TypeRef\n    }\n    isDeprecated\n    deprecationReason\n  }\n  inputFields
      {\n    ...InputValue\n  }\n  interfaces {\n    ...TypeRef\n  }\n  enumValues(includeDeprecated:
      true) {\n    name\n    description\n    isDeprecated\n    deprecationReason\n  }\n  possibleTypes
      {\n    ...TypeRef\n  }\n}\n\nfragment InputValue on __InputValue {\n  name\n  description\n  type
      {\n    ...TypeRef\n  }\n  defaultValue\n}\n\nfragment TypeRef on __Type {\n  kind\n  name\n  ofType
      {\n    kind\n    name\n    ofType {\n      kind\n      name\n      ofType {\n        kind\n        name\n        ofType
      {\n          kind\n          name\n          ofType {\n            kind\n            name\n            ofType
      {\n              kind\n              name\n              ofType {\n                kind\n                name\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.directory.canonical.com/graphql/
  response:
    body:
      string: '{"data":{"__schema":{"directives":[{"args":[{"defaultValue":null,"description":"Included
        when true.","name":"if","type":{"kind":"NON_NULL","name":null,"ofType":{"kind":"SCALAR","name":"Boolean","ofType":null}}}],"description":"Directs
        the executor to include this field or fragment only when the `if` argument
        is true.","locations":["FIELD","FRAGMENT_SPREAD","INLINE_FRAGMENT"],"name":"include"},{"args":[{"defaultValue":null,"description":"Skipped
        when true.","name":"if","type":{"kind":"NON_NULL","name":null,"ofType":{"kind":"SCALAR","name":"Boolean","ofType":null}}}],"description":"Directs
        the executor to skip this field or fragment when the `if` argument is true.","locations":["FIELD","FRAGMENT_SPREAD","INLINE_FRAGMENT"],"name":"skip"},{"args":[{"defaultValue":"\"No
        longer supported\"","description":"Explains why this element was deprecated,
        usually also including a suggestion for how to access supported similar data.
        Formatted using the Markdown syntax, as specified by [CommonMark](https://commonmark.org/).","name":"reason","type":{"kind":"SCALAR","name":"String","ofType":null}}],"description":"Marks
        an element of a GraphQL schema as no longer supported.","locations":["FIELD_DEFINITION","ARGUMENT_DEFINITION","INPUT_FIELD_DEFINITION","ENUM_VALUE"],"name":"deprecated"},{"args":[{"defaultValue":null,"description":"The
        URL that specifies the behaviour of this scalar.","name":"url","type":{"kind":"NON_NULL","name":null,"ofType":{"kind":"SCALAR","name":"String","ofType":null}}}],"description":"Exposes
        a URL that specifies the behaviour of this scalar.","locations":["SCALAR"],"name":"specifiedBy"}],"mutationType":{"name":"Mutation"},"queryType":{"name":"Query"},"subscriptionType":null,"types":[{"description":null,"enumValues":null,"fields":null,"inputFields":null,"interfaces":null,"kind":"SCALAR","name":"Date","possibleTypes":null},{"description":null,"enumValues":null,"fields":[{"args":[],"deprecationReason":null,"description":null,"isDeprecated":false,"name":"id","type":{"kind":"NON_NULL","name":null,"ofType":{"kind":"SCALAR","name":"ID","ofType":null}}},{"args":[],"deprecationReason":null,"description":null,"isDeprecated":false,"name":"hrcId","type":{"kind":"NON_NULL","name":null,"ofType":{"kind":"SCALAR","name":"String","ofType":null}}},{"args":[],"deprecationReason":null,"description":null,"isDeprecated":false,"name":"firstName","type":{"kind":"NON_NULL","name":null,"ofType":{"kind":"SCALAR","name":"String","ofType":null}}},{"args":[[...]
- request:
    body: '{"query": "query getEmployee($id: ID!) {\n  employees(filter: {id: $id})
      {\n    id\n    name\n    bio\n    avatar\n  }\n}\n", "variables": {"id": "1234"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.directory.canonical.com/graphql/
  response:
    body:
      string: '{"data":{"employees":[{"avatar":"test_image","bio": "test","id":"1234","name":"Mike
        Valen"}]}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://assets.ubuntu.com>; rel=preconnect; crossorigin, <https://assets.ubuntu.com>;
        rel=preconnect
    status:
      code: 200
      message: ''
version: 1
