@mixin canonical-p-global-nav {
  .global-nav__row {
    max-width: $grid-max-width;
  }

  // Using id to override inherited styles from Vanilla and project
  #g-navigation {
    background-color: $color-dark;
    height: 2rem;
    line-height: 1rem;

    @media screen and (max-width: $breakpoint-large - 1) {
      .p-navigation__nav {
        height: 100vh;
        left: 0;
        padding-top: 0.5rem;
        position: relative;
        top: -1rem;
        width: 100%;
      }
    }

    .p-global-nav-anchors {
      @extend %small-text;

      color: $color-mid-light;
      font-weight: $font-weight-thin;
      padding-top: 0.3rem;
      padding-bottom: 0;
      text-decoration: none;
    }

    .p-navigation__nav {
      background-color: $color-dark;
    }

    #all-canonical-link {
      @extend .p-global-nav-anchors;
    }

    @media screen and (min-width: $breakpoint-large - 1) {
      padding-left: 0;
    }

    .p-navigation__banner {
      @media screen and (max-width: $breakpoint-small) {
        padding-left: 1rem;
      }
    }

    .global-nav__header-link-anchor {
      padding: 0.5rem auto 0.5rem 1.5rem;

      &::after {
        color: $color-mid-light;
        top: 0.5rem;
      }

      @media screen and (max-width: $breakpoint-large - 1) {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1.5rem;
      }
    }

    .p-navigation__dropdown {
      background-color: $color-dark;
    }
  }

  #all-canonical-mobile {
    .p-navigation__dropdown-item {
      padding-left: 1.5rem;
    }

    .global-nav__header-link-anchor::after {
      color: $color-mid-light;
      top: 0.8rem;
    }
  }

  .global-nav {
    @media screen and (max-width: $breakpoint-large - 1) {
      position: relative;

    }
  }

  .global-nav-dropdown {
    top: 1.5rem;
  }

  .p-navigation__toggle--open, .p-navigation__toggle--close {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .data-fabric-menu {
    padding-left: 0;
    padding-right: 0;

    .p-navigation__toggle--open {
      margin-top: 0;
      padding-top: 0.5rem;
    }
  }

  .global-nav-dropdown.show-content {
    top: 1.9rem;
  }

  #all-canonical-desktop {
    background-color: $color-dark;
  }

  .microcloud-menu {
    padding-left: 0;
  }
}
