@mixin canonical-p-headings {
  .p-heading--tag {
    display: block;
    font-size: 0.7rem;
    font-weight: $font-weight-bold;
    line-height: 0.7rem;
    margin-bottom: 1rem;
    padding-left: 0.75rem;
    padding-top: 1rem;
    position: relative;
    text-transform: uppercase;

    &::before {
      background: $color-accent;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      top: 0;
      width: 3px;
    }
  }
}
