@mixin canonical-p-forms {
  .p-form--inline {
    @media screen and (min-width: $breakpoint-small) {
      align-items: baseline;
      display: flex;
      flex-direction: row nowrap;
      justify-content: space-between;

      > * {
        margin: 0;
      }
    }

    .p-form__group {
      @media screen and (min-width: $breakpoint-small) {
        display: flex;
        position: relative;
        width: 100%;

        + .p-form__group,
        + [class*="p-button"] {
          margin-left: ($sph--large + $sph--small);
        }

        .p-form__label,
        .p-form__control,
        .p-form-validation__message {
          align-self: baseline;
          box-sizing: border-box;
        }

        .p-form__label {
          flex-shrink: 0;
          min-width: 4rem;
          white-space: nowrap;
        }

        .p-form__control {
          display: block;
          min-width: unset;
          padding-right: $sph--large;
        }
      }
      @media screen and (max-width: 1080px) {
        flex-wrap: wrap;
      }
    }
  }

  .p-form-help-text {
    margin-top: 0;
  }
}

.is-wide-modal {
  max-width: calc(
    $grid-max-width + 2 * $spv--large - 2 * map-get($grid-margin-widths, small)
  ) !important;

  @media (min-width: $threshold-4-6-col) {
    max-width: calc(
      $grid-max-width + 2 * $spv--large - 2 *
        map-get($grid-margin-widths, default)
    ) !important;
  }

  overflow-x: hidden;
}

.p-fieldset-section {
  border: none;
  padding: 0;
}
