@mixin canonical-p-footer {
  .p-footer {
    @extend %vf-strip;

    background-image: linear-gradient(
        to bottom left,
        rgba(119, 41, 83, 1) 0%,
        rgba(119, 41, 83, 1) 49.9%,
        rgba(119, 41, 83, 0) 50%,
        rgba(119, 41, 83, 0) 100%
      ),
      linear-gradient(
        to bottom left,
        $color-accent-background 0%,
        $color-accent-background 100%
      );
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 25% 15%, 100%;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% calc(0% + 4rem));
    color: $color-mid-light;
    margin-top: -4rem;
    padding-bottom: 2.5rem;
    padding-top: 6rem;

    &__link {
      color: $color-mid-light;

      &:hover,
      &:visited {
        color: $color-mid-light;
      }
    }

    hr {
      background: rgba(255, 255, 255, 0.25);
      margin: 2rem 0;
    }

    .p-inline-list--middot .p-inline-list__item::after {
      color: $color-mid-light;
      right: -0.8rem;
    }
  }
  @media (max-width: $breakpoint-x-small) {
    .p-footer {
      clip-path: polygon(100% 0%, 124% 134%, 0% 124%, 0% calc(0% + 4rem));
    }
  }
}
