@mixin canonical-p-card {
  .p-card--strip {
    @extend %vf-card;
    background-color: $color-light;

    .p-card__content {
      padding: calc(#{$spv-inner--large} - 1px);
    }

    .p-strip {
      background-color: $color-brand;
      color: $color-x-light;
      padding: calc(#{$spv-inner--large} - 1px);
    }
  }
  .p-card--no-border {
    @extend %vf-card;
    border-style: none;
    padding: 0;
  }

  .p-card--strip-thin {
    @extend %vf-card;
    background-color: $color-light;
    border-top: 4px solid $color-brand;
  }

  .p-card--game {
    @extend %vf-card;
    
    min-height: 10rem;

    &:hover{
      background-color: $color-mid-x-light;
      cursor: pointer;
    }

    &__title::after {
      border-bottom: 2px solid $color-mid-light;
      content: '';
      display: block;
      width: 50%;
    }

    &__content {
      font-style: italic;
      font-size: small;
    }

    &-empty {
      min-height: 10rem;
      background-color: transparent;
      border: 1px dashed $color-dark;
      margin-bottom: $spv-outer--scaleable;

      & * {
        display: none;
      }
    }
  }

  .p-card--game-selected {
    @extend %vf-card;
    color: $color-x-light;
    
    min-height: 10rem;
    background-color: $color-brand;
    margin-bottom: $spv-outer--scaleable;

    &__title::after {
      border-bottom: 2px solid $color-mid-light;
      content: '';
      display: block;
      width: 50%;
    }

    &__content {
      font-style: italic;
      font-size: small;
    }
  }
}
