@use 'sass:math';
$nav-bg-color: #2c001e;
$logo-width: 5rem;
$nudge--small: 0.55rem;

@mixin canonical-p-navigation {
  %row-no-margins-on-mobile {
    @media (max-width: $breakpoint-navigation-threshold) {
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: $breakpoint-navigation-threshold + 1) {
      padding-left: map-get($grid-margin-widths, default);
      padding-right: map-get($grid-margin-widths, default);
    }
  }

  .p-navigation {
    background-color: $nav-bg-color;
    flex-direction: column;
    z-index: 40;

    &::after {
      // disable rule under nav
      background-color: none;
      height: 0;
    }

    [class*="p-navigation__item"] {
      &.is-selected {
        /* stylelint-disable */
        &::after {
          background: none;
        }

        .p-navigation__link {
          background-color: $color-x-light;
          color: $color-dark;
          padding-right: $sph--large;

          &:focus,
          &:visited {
            background-color: $color-x-light;
            color: $color-dark;
          }

          &:hover {
            background-color: $color-x-light;
            color: $color-dark;
          }
        }
      }

      .p-navigation__link {
        color: $color-light;
        display: block;

        &:before {
          display: none;
        }

        &:focus,
        &:visited {
          background-color: $nav-bg-color;
          color: $color-light;
        }

        &:hover,
        &.active {
          background-color: rgba(94, 39, 80, 0.5);
          color: $color-x-light;
        }
      }
    }

    .p-navigation__item--dropdown-toggle {
      position: relative;

      &:not(.is-selected)::after {
        @include vf-icon-chevron($color-x-light);
      }

      &.is-active {
        &::after {
          @include vf-icon-chevron(vf-url-friendly-color($color-dark));

          transform: rotate(-180deg);
        }

        .p-navigation__link {
          background-color: $color-mid-x-light;
          color: $color-dark;

          &::after {
            background-color: transparent;
          }

          &:focus,
          &:visited {
            background-color: $color-mid-x-light;
            color: $color-dark;
          }

          &:hover {
            background-color: $color-mid-x-light;
            color: $color-dark;
          }
        }
      }
    }

    & &__nav {
      border-bottom: 0;
      width: 100%;
    }

    & &__row {
      @extend %row-no-margins-on-mobile;

      &.row {
        grid-gap: 0;

        @media (max-width: $breakpoint-x-small) {
          display: block;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    }

    &--secondary {
      background-color: $color-x-light;
      border-bottom: 1px solid $color-mid-light;
      display: flex;
      min-height: 40px;
      margin-top: 0;
      position: relative;
      width: 100%;
      z-index: 38;

      @media (max-width: $breakpoint-navigation-threshold - 1) {
        padding: $sp-small 1rem;
      }

      &__banner {
        background-color: $color-brand;
        float: left;
        font-weight: 300;

        &:hover {
          color: $color-x-light;
        }
      }

      &__logo {
        @extend %paragraph;

        align-items: center;
        color: $color-x-light;
        display: flex;
        margin-bottom: $sp-unit * 2 - map-get($nudges, p);
        position: relative;

        @media (max-width: $breakpoint-navigation-threshold - 1) {
          padding-left: $sp-small !important;
          padding-right: 0 !important;
        }

        a {
          border-left: 1px solid rgba(247, 247, 247, 0.3); // sass-lint:disable-line no-color-literals
          color: $color-light !important;
          padding-left: $sp-small;

          @media (max-width: $breakpoint-navigation-threshold - 1) {
            position: relative;
            top: 1px;
          }
        }

        &::after {
          // white separator inside lockup
          @extend %vf-pseudo-border--top;

          display: none;

          @media only screen and (min-width: $breakpoint-navigation-threshold) {
            background-color: $color-light;
            display: block;
            left: $sph--large;
            opacity: 0.3;
            right: $sph--large;
          }
        }

        @media only screen and (min-width: $breakpoint-navigation-threshold) {
          padding-left: $sph--large;
          padding-right: $sph--large;
          width: $logo-width + 2 * $sph--large;
        }
      }

      .breadcrumbs {
        &--secondary {
          @extend .p-inline-list; // sass-lint:disable-line placeholder-in-extend

          display: flex;
          flex-wrap: wrap;
          margin-bottom: 0;
          width: auto;
        }

        &__link {
          font-size: math.div(1rem, pow($ms-ratio, 1)); //XXX: move font-sizes to map in vanilla so it can be changed globally
          padding-left: 0;
          padding-right: $spv--medium * 2;
          padding-top: $nudge--small;

          @media (max-width: $breakpoint-x-small - 1) {
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
          }

          @media (min-width: $breakpoint-x-small) and (max-width: $breakpoint-large - 1) {
            padding-bottom: map-get($sp-after, small) + $p-small-lh-diff -
              $nudge--small;
          }

          &.p-link--active {
            color: $color-brand;
          }
        }

        &__item {
          color: $color-dark;
          display: inline-flex;
          list-style: none;

          &:first-of-type {
            .breadcrumbs__link {
              padding-left: 0;
            }
          }

          @media (max-width: $breakpoint-x-small - 1) {
            width: 50%;
          }
        }

        &__chevron {
          font-size: 0.875rem;
          padding: 0.55rem 0 0.2rem 0;
        }
      }

      .row {
        @extend %row-no-margins-on-mobile;
      }
    }

    &__toggle--open,
    &__toggle--close {
      color: $color-light !important;
      
      &:hover {
        background-color: rgba(94, 39, 80, 0.5) !important;
        color: $color-x-light !important;
      }
    }

    &__links {
      @media (max-width: $breakpoint-x-small - 1) {
        font-size: 0.875rem;
      }

      @media (max-width: $breakpoint-navigation-threshold) {
        align-items: stretch;
        display: flex;
        justify-content: left;
        order: 2;

        .p-navigation__dropdown-link {
          flex: 1;
          text-align: center;
        }
      }
    }
  }

  .dropdown-window-overlay {
    background-color: rgba(
      17,
      17,
      17,
      0.4
    ); // sass-lint:disable-line no-color-literals
    height: 100%;
    opacity: 1;
    position: fixed;
    top: 0;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    z-index: 38;
  }

  .dropdown-window {
    @include vf-animation(all, brisk, in);

    background-color: $color-x-light;
    box-shadow: 0 1px 32px 1px transparentize($color-dark, 0.8);
    flex-direction: column;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    z-index: 39;

    &.slide-animation {
      box-shadow: none;
    }

    .row {
      padding-left: map-get($grid-margin-widths, default);
      padding-right: map-get($grid-margin-widths, default);
    }

    &__content {
      @extend %p-strip--very-shallow;

      background-color: $color-mid-x-light;
      color: $color-dark;

      &:last-child {
        padding-bottom: math.div($spv--x-large, 1.5);
      }

      @media (max-width: $breakpoint-x-small - 1) {
        .p-inline-list--middot.is-x-dense {
          margin-bottom: 0.3rem;
        }
      }
    }

    & .p-inline-list__item {
      @extend %small-text-fixed;

      list-style-type: none;

      &::after {
        @media only screen and (max-width: $breakpoint-large - 1) {
          display: none;
        }
      }
    }

    .p-media-object__content,
    p {
      font-size: 0.875rem;
      line-height: 1.35rem;
    }
  }

  .u-dropdown-active {
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }

  .slide-animation {
    transform: translateY(-101%);
  }

  .fade-animation {
    opacity: 0;
    visibility: hidden;

    .u-visible-nav & {
      opacity: 1;
      transform: none;
      visibility: visible;
    }
  }

  %p-strip--very-shallow {
    padding-top: $spv--large;

    &:not(:last-child) {
      padding-bottom: $spv--large;
    }

    &:last-child {
      padding-bottom: $spv--x-large;
    }
  }

  %small-text-base {
    font-size: math.div(1rem, pow($ms-ratio, 1));
    line-height: map-get($line-heights, small);
    padding-top: $nudge--small;
  }

  %small-text-fixed {
    @extend %small-text-base;
  }
}
