@mixin canonical-p-buttons {
  .p-button--accordion {
    background: {
      color: inherit;
      position: top 50% left $sph-inner;
      repeat: no-repeat;
    }
    border: none;
    margin-bottom: 0;
    padding-left: 2.75rem;
    padding-right: $sph-inner;
    justify-content: flex-start;
    transition-duration: 0s;
    width: 100%;
    z-index: 2;
    // aria-selected controls the open and closed state for the accordion tab
    &[aria-expanded='true'] {
      @include vf-icon-minus($color-mid-dark);
      background-size: 0.75rem;
    }

    &[aria-expanded='false'] {
      @include vf-icon-plus($color-mid-dark);
      background-size: 0.75rem;
    }

    @media (max-width: $breakpoint-medium){
      padding-left: 1.75rem;
      background-position: top 50% left 0;
    }
  }

  .p-button--outline {
    @extend %vf-button-base;
    border-color: $color-x-light;
    color: $color-x-light;

    &:hover,
    &:active:hover {
      background-color: rgba($color-mid-x-light, 0.2);
    }

    &:visited {
      color: $color-x-light;
    }
  }

  .js-add-button {
    @extend %p-button--positive;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;

    i {
      @include vf-icon-plus($color-x-light);
      width: 0.7rem;
      top: 0;
    }
  }

  .js-remove-button {
    @extend %vf-button-base;

    border: none;
    border-radius: 50%;
    height: 1.5rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 1rem;

    &:hover {
      background-color: $color-negative;

      i {
      @include vf-icon-close($color-x-light);
      }
    }

    i {
      @include vf-icon-close($color-mid-dark);
      width: 0.7rem;
      top: -0.22rem;
      margin-left: -0.31rem;
    }
  }
}