@use 'sass:math';
$nav-bg-color: #2c001e;
$logo-width: 5rem;
$nudge--small: 0.55rem;

@mixin canonical-p-navigation {
  %row-no-margins-on-mobile {
    @media (max-width: $breakpoint-navigation-threshold) {
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: $breakpoint-navigation-threshold + 1) {
      padding-left: map-get($grid-margin-widths, default);
      padding-right: map-get($grid-margin-widths, default);
    }
  }

  .p-navigation {
    background-color: $nav-bg-color;

    .p-navigation__item {
      &.is-selected {
        .p-navigation__link {
          color: $color-dark;

          &:focus,
          &:visited,
          &:hover {
            background-color: $color-x-light;
            color: $color-dark;
          }
        }
      }

      .p-navigation__link {
        color: $color-light;
        display: block;

        &:before {
          display: none;
        }

        &:focus,
        &:visited {
          background-color: $nav-bg-color;
          color: $color-light;
        }

        &:hover,
        &.active {
          background-color: rgba(94, 39, 80, 0.5);
          color: $color-x-light;
        }
      }
    }

    &--secondary {
      background-color: $color-x-light;
      border-bottom: 1px solid $color-mid-light;

      @media (max-width: $breakpoint-navigation-threshold - 1) {
        padding: $sp-small 1rem;
      }

      .breadcrumbs {
        &--secondary {
          @extend .p-inline-list; // sass-lint:disable-line placeholder-in-extend

          display: flex;
          flex-wrap: wrap;
          margin-bottom: 0;
          width: auto;
        }

        &__link {
          padding: $spv--medium $sph--x-large $spv--medium 0;

          @media (max-width: $breakpoint-x-small - 1) {
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
          }

          @media (min-width: $breakpoint-x-small) and (max-width: $breakpoint-large - 1) {
            padding-bottom: map-get($sp-after, small) + $p-small-lh-diff -
              $nudge--small;
          }

          &.p-link--active {
            color: $color-brand;
          }
        }

        &__item {
          color: $color-dark;
          display: inline-flex;
          list-style: none;

          @media (max-width: $breakpoint-x-small - 1) {
            width: 50%;
          }
        }
      }

      .row {
        @extend %row-no-margins-on-mobile;
      }
    }

    &__links {
      @media (max-width: $breakpoint-x-small - 1) {
        font-size: 0.875rem;
      }

      @media (max-width: $breakpoint-navigation-threshold) {
        align-items: stretch;
        display: flex;
        justify-content: left;
        order: 2;

        .p-navigation__dropdown-link {
          flex: 1;
          text-align: center;
        }
      }
    }
  }
}