@mixin canonical-p-search-panel {
  @include vf-u-truncate;
  @include vf-u-text-muted;


  .p-search-roles {
    &__form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      
       @media screen and (min-width: $breakpoint-large) {
          flex-direction: row;
        }
    }

    &__group {
      max-width: 27.6875rem;
      padding-right: 1.5rem;
      width: 100%;
    }
  }

  .p-search-panel {
    position : relative;
    width: 100%;

    .p-search-panel__container {
      background: #fff;
      border: 1px solid #000;
      border-top-color: transparent;
      max-height: 15rem;
      max-width: 27rem;
      overflow-y: scroll;
      position: absolute;
      top: -1rem;
      width: 100%;
      z-index: 3;

      &::-webkit-scrollbar-track {
        background-color: #fafafa;
      }

      &::-webkit-scrollbar {
        width: 1rem;
      }

      &::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        background-color: #c1c1c1;
        border: 3px #fafafa solid;
        border-radius: 100px;
        box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
        min-height: 100px;
        width: 0.8rem;
      }

      .p-list__item {
        padding: 0.5rem 1rem;

        &:hover {
          background: $color-light;
          cursor: pointer;
        }

        > a:link,
        > a:visited {
          color: $color-mid-dark;
          text-decoration: none;
        }
      }
    }
  }
}
