@mixin blog-p-card {
  .p-card--post {
    @extend .p-card;

    display: flex !important;
    flex-direction: column;
    justify-content: space-between;

    .u-crop--16-9 {
      position: relative;
  
      &::before {
        content: "";
        display: block;
        padding-top: 56.25%;
        width: 100%;
      }
  
      // Incase img isn't wrapped in a link
      & a,
      & img {
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
      }
      img {
        @extend .p-card__image;
      }
    }

    .p-muted-heading--blog {
      @extend .p-muted-heading;

      margin: 0.75rem;
    }
  }
}
