@mixin canonical-p-card {
  @include selectable-card;

  .p-card--strip {
    @extend %vf-card;

    background-color: $color-light;

    .p-card__content {
      padding: calc(#{$spv--large} - 1px);
    }

    .p-strip {
      background-color: $color-brand;
      color: $color-x-light;
      padding: calc(#{$spv--large} - 1px);
    }
  }

  .p-card--highlighted.has-cta {
    background-color: $color-light;
    display: flex;
    flex-direction: column;
    padding: calc(#{$spv--large} * 2 - 1px);

    .p-card__content {
      flex-grow: 1;
      padding-bottom: $spv--medium;
    }

    .p-card__cta {
      margin-bottom: 0;
    }
  }

  .p-card--no-border {
    @extend %vf-card;

    border-style: none;
    padding: 0;

    .p-card__thumbnail-large {
      max-height: 8rem;
    }
  }

  .p-card--strip-thin {
    @extend %vf-card;

    background-color: $color-light;
    border-top: 4px solid $color-brand;
  }
}

@mixin selectable-card {
  %selectable-card {
    @extend %vf-card;

    border-top: 1px solid $color-mid-light;
    margin-bottom: 0;
  }

  .p-selectable-card {
    @extend %selectable-card;

    &:hover {
      background-color: $color-mid-x-light;
    }

    &--selected {
      @extend %selectable-card;
      background-color: $color-x-light;
    }
  }
}

