$nav-bg-color: #2c001e;
$logo-width: 5rem;
$nudge--small: 0.55rem;

@mixin canonical-p-navigation {
  %row-no-margins-on-mobile {
    @media (max-width: $breakpoint-navigation-threshold) {
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: $breakpoint-navigation-threshold + 1) {
      padding-left: map-get($grid-margin-widths, large);
      padding-right: map-get($grid-margin-widths, large);
    }
  }

  .p-navigation {
    background-color: $nav-bg-color;
    flex-direction: column;
    z-index: 40;

    &::after {
      // disable rule under nav
      background-color: none;
      height: 0;
    }

    [class*="p-navigation__item"] {
      &.is-selected {
        /* stylelint-disable */
        &::after {
          background: none;
        }

        .p-navigation__link {
          background-color: $color-x-light;
          color: $color-dark;
          padding-right: $sph-inner;

          &:focus,
          &:visited {
            background-color: $color-x-light;
            color: $color-dark;
          }

          &:hover {
            background-color: $color-x-light;
            color: $color-dark;
          }
        }
      }

      .p-navigation__link {
        color: $color-light;
        display: block;

        &:before {
          display: none;
        }

        &:focus,
        &:visited {
          background-color: $nav-bg-color;
          color: $color-light;
        }

        &:hover,
        &.active {
          background-color: rgba(94, 39, 80, 0.5);
          color: $color-x-light;
        }
      }
    }

    .p-navigation__item--dropdown-toggle {
      position: relative;

      &:not(.is-selected)::after {
        @include vf-icon-chevron($color-x-light);
      }

      &.is-active {
        background-color: $color-x-light;
        color: $color-dark;
        &::after {
          @include vf-icon-chevron(vf-url-friendly-color($color-dark));

          transform: rotate(-180deg);
        }

        .p-navigation__link {
          background-color: $color-x-light;
          color: $color-dark;

          &:focus,
          &:visited {
            background-color: $color-x-light;
            color: $color-dark;
          }

          &:hover {
            background-color: $color-x-light;
            color: $color-dark;
          }
        }
      }
    }

    & &__nav {
      border-bottom: 0;
      width: 100%;
    }

    & &__row {
      @extend %row-no-margins-on-mobile;

      &.row {
        grid-gap: 0;

        @media (max-width: $breakpoint-x-small) {
          display: block;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    }

    &__toggle--open,
    &__toggle--close {
      color: $color-light !important;
      
      &:hover {
        background-color: rgba(94, 39, 80, 0.5) !important;
        color: $color-x-light !important;
      }
    }

    &__links {
      @media (max-width: $breakpoint-x-small - 1) {
        font-size: 0.875rem;
      }

      @media (max-width: $breakpoint-navigation-threshold) {
        align-items: stretch;
        display: flex;
        justify-content: left;
        order: 2;

        .p-navigation__dropdown-link {
          flex: 1;
          text-align: center;
        }
      }
    }
  }

  .dropdown-window-overlay {
    background-color: rgba(
      17,
      17,
      17,
      0.4
    ); // sass-lint:disable-line no-color-literals
    height: 100%;
    opacity: 1;
    position: fixed;
    top: 0;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    z-index: 38;
  }

  .dropdown-window {
    @include vf-animation(all, brisk, in);

    background-color: $color-x-light;
    box-shadow: 0 1px 32px 1px transparentize($color-dark, 0.8);
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 39;

    &.slide-animation {
      box-shadow: none;
    }

    .row {
      padding-left: map-get($grid-margin-widths, large);
      padding-right: map-get($grid-margin-widths, large);
    }

    &__content {
      @extend %p-strip--very-shallow;

      background-color: $color-x-light;
      color: $color-dark;

      &:last-child {
        padding-bottom: $spv-outer--shallow-scaleable / 1.5;
      }

      @media (max-width: $breakpoint-x-small - 1) {
        .p-inline-list--middot.is-x-dense {
          margin-bottom: 0.3rem;
        }
      }
    }

    & .p-inline-list__item {
      @extend %small-text-fixed;

      list-style-type: none;

      &::after {
        @media only screen and (max-width: $breakpoint-medium - 1) {
          display: none;
        }
      }
    }

    .p-media-object__content,
    p {
      font-size: 0.875rem;
      line-height: 1.35rem;
    }
  }

  .slide-animation {
    transform: translateY(-101%);
  }

  .fade-animation {
    opacity: 0;
    visibility: hidden;

    .u-visible-nav & {
      opacity: 1;
      transform: none;
      visibility: visible;
    }
  }

  %p-strip--very-shallow {
    padding-top: $spv-outer--medium;

    &:not(:last-child) {
      padding-bottom: $spv-outer--medium;
    }

    &:last-child {
      padding-bottom: $spv-outer--scaleable;
    }
  }

  %small-text-base {
    font-size: 1rem / pow($ms-ratio, 1);
    line-height: map-get($line-heights, small);
    padding-top: $nudge--small;
  }

  %small-text-fixed {
    @extend %small-text-base;
  }
}
