$dropdown-border: 1px solid $colors--dark-theme--border-low-contrast;
$navigation-background: #2d2d2d;
$navigation-heading-color: #fff9;

@mixin canonical-p-navigation-mobile {
  .p-navigation--list-heading h2,
  .p-navigation--list-link {
    padding-left: 2.69rem;
    @media screen and (min-width: $breakpoint-small) {
      padding-left: 3.19rem;
    }
  }

  li:has(> .p-navigation--list-link) {
    margin-bottom: 0.5rem;
  }
}

@mixin canonical-p-navigation-tab-panel {
  // Adds background colour and positioning to the dropdown tab panel
  .p-navigation__tab-panel {
    padding: 2rem 0;
    background: $colors--dark-theme--background-default;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -100vw;
      right: 0;
      bottom: 0;
      background-color: $colors--dark-theme--background-default;
      z-index: -1;
    }
  }

  // Colours the links in the dropdown tab panel
  .p-navigation__tab-panel .p-side-navigation__link {
    border-bottom: $dropdown-border;
    padding: 0.25rem 1rem 0.25rem 0.5rem;

    &.is-active {
      background-color: $navigation-background;

      &::before {
        content: none;
      }
    }
  }

  // remove the border from the final tab item
  .p-navigation__tab-panel
    .p-side-navigation__item:last-of-type
    .p-side-navigation__link {
    border-bottom: none;
  }
}

@mixin canonical-p-navigation-dropdown-content {
  .p-navigation__dropdown-content--sliding,
  .p-navigation__content-panel--full-width,
  .p-navigation__content-panel {
    a {
      display: block;
      font-weight: 400;
      white-space: normal;
      text-decoration: none;
    }

    small {
      color: #aaa;
    }

    .p-navigation--list-heading {
      @extend .p-text--small-caps;
      color: $navigation-heading-color;
      padding-top: 0;
    }
  }

  .p-navigation__content-panel {
    background-color: $navigation-background;
    padding-top: 2rem;

    .p-navigation__main-links {
      margin-left: -0.5rem;
    }

    .p-navigation__dropdown-item {
      padding: 0.25rem 0.5rem;
    }

    li:first-of-type .p-navigation__dropdown-item,
    li:not(:last-of-type) .p-navigation__dropdown-item {
      border-bottom: $dropdown-border;
    }
  }

  .p-navigation__content-panel--full-width {
    .p-navigation__main-links {
      margin-left: -1rem;

      .p-navigation--list-heading {
        margin-left: 1rem;
      }
    }

    .p-navigation__link-list {
      .p-list__item:first-of-type {
        padding-top: 0.75rem;
      }
    }
  }

  .p-navigation--image-wrapper {
    margin-top: 1rem;
    height: 276px;
    background: black;
  }

  .p-navigation__footer {
    border-top: $dropdown-border;
    margin-left: -0.5rem;
    padding: 1rem 0 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
  }

  .p-navigation--reduced,
  .p-navigation--sliding {
    .p-navigation__dropdown.is-full-width
    .p-navigation__dropdown-content--full-width {
      background-color: $navigation-background;
    }
  }
}
