@mixin canonical-p-blog-article {
  // Newsletter signup card in the blog article sidebar.
  .blog-article-newsletter {
    align-items: flex-start;
    border: 1px solid rgba(0, 0, 0, 10%);
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}
