@mixin canonical-p-headings {
  .p-heading-highlight--left {
    & * {
      padding-left: 3rem;
    }

    &__item {
      border-left: 1px solid $color-x-light;
      margin-top: 0;
      padding-top: 0;
    }
  }

  .p-heading-highlight--bottom {

    &__item {
      margin-bottom: 1rem;
    }

    &::after {
      background-color: $color-x-light; 
      content: '';
      display: block;
      height: 1px;
      margin-bottom: 1rem;
      width: 75px;
    }
  }
}
