@mixin canonical-p-content-list {
  .p-content-list {
    &-section {
      list-style: none;
      padding: 0;

      &:not(:last-child) {
        border-bottom: 1px solid $color-mid-light;
      }

      &:last-child {
        padding-bottom: $sp-x-small;
      }

      &__item {
        align-items: end;
        display:flex;
        justify-content: space-between;
        padding-bottom: $sp-x-small;
        padding-top: $sp-x-small;
        
        &:last-child {
          margin-bottom: 1.5rem;
        }

        &:visited {
          color: $color-dark;
        }

        &.is-active {
          border-right: 3px solid $color-tabs-active-bar;
          font-weight: $font-weight-bold;
        }
      }
    }

    @media (min-width: $breakpoint-small) {
      border-right: 1px solid $color-mid-light;
      border-top: 0;
      padding: 0;
    }
  }

  // XXX - issue filed in Vanilla - https://github.com/canonical-web-and-design/vanilla-framework/issues/3086
  .p-divider.has-min-height {
    @media screen and(min-width: $breakpoint-small) {
      .p-divider__block:not(:nth-child(1))::before {
        min-height: 1.5rem;
        top: 0;
      }
    }
  }
}
