@mixin canonical-p-article {
  .p-article {
    margin-bottom: $spv--strip-shallow;

    &__aside {
      grid-row: 2;

      @media (min-width: $breakpoint-small) {
        grid-column: span 2;
        grid-row: 1;
      }

      @media (min-width: $breakpoint-large) {
        grid-column: span 3;
      }
    }

    &__main {
      grid-row: 1;
      margin-bottom: $spv--strip-regular;

      @media (min-width: $breakpoint-small) {
        grid-column: span 4;
      }

      @media (min-width: $breakpoint-large) {
        grid-column: span 6;
      }
    }

    &__title-block {
      grid-row: 1;
      margin-bottom: $spv--strip-shallow;

      @media (min-width: $breakpoint-small) {
        grid-column: span 4;
      }

      @media (min-width: $breakpoint-large) {
        grid-column: span 9;
      }
    }
  }
}
