@mixin blog-p-card {
  .p-card--post {
    @extend .p-card;

    display: flex !important;
    flex-direction: column;

    .p-card__footer {
      font-size: 0.875rem;
      margin: auto 0 0;
      max-width: inherit;
    }
  }

  .p-card__header {
    &--canonical-announcements {
      border-color: #ff8936;
    }

    &--cloud-and-server {
      border-color: #a87ca0;
    }

    &--desktop {
      border-color: #faba54;
    }

    &--internet-of-things {
      border-color: #8db255;
    }

    &--phone-and-tablet {
      border-color: $color-mid-light;
    }

    &--webinar {
      border-color: #48929b;
    }

    &--tutorials {
      border-color: #47919e;
    }
  }
}
