@mixin canonical-p-strip {
  @include canonical-p-strip-suru;
  @include canonical-p-strip-suru-topped;
  @include canonical-p-strip-suru-top;
  @include canonical-p-strip-suru-background;
  @include canonical-p-strip-whitesuru;
  @include canonical-p-strip-suru-blog-header;
  @include maas-p-strip--dark;

  .p-strip--light {
    &.is-x-shallow {
      background: $color-mid-x-light;
      padding: 1.5rem 0;
    }
  }
}

@mixin canonical-p-strip-suru-background {
  .p-strip--suru-background {
    @extend %vf-strip;

    background-image: linear-gradient(
        to bottom right,
        rgb(210 180 202 / 5%) 0%,
        rgb(210 180 202 / 5%) 49.9%,
        rgb(210 180 202 / 0%) 50%,
        rgb(210 180 202 / 0%) 100%
      ),
      linear-gradient(
        to top right,
        rgb(74 24 60 / 0%) 0%,
        rgb(74 24 60 / 0%) 49.9%,
        rgb(74 24 60 / 34%) 50%,
        rgb(74 24 60 / 34%) 100%
      ),
      linear-gradient(to top left, #fff 0%, #fff 49%, transparent 50%),
      linear-gradient(230deg, #e95420 0%, #772953 33%, #2c001e 72%);
    background-position: left top, right top, right 101%;
    background-repeat: no-repeat;
    background-size: 70% 80%, 70% 100%, 110% 20%, 100% 100%;
    padding-bottom: 4rem;
    padding-top: 2rem;

    @media only screen and (max-width: $breakpoint-small) {
      background-image: linear-gradient(
          to bottom right,
          rgb(210 180 202 / 5%) 0%,
          rgb(210 180 202 / 5%) 49.9%,
          rgb(210 180 202 / 0%) 50%,
          rgb(210 180 202 / 0%) 100%
        ),
        linear-gradient(
          to top right,
          rgb(74 24 60 / 0%) 0%,
          rgb(74 24 60 / 0%) 49.9%,
          rgb(74 24 60 / 34%) 50%,
          rgb(74 24 60 / 34%) 100%
        ),
        linear-gradient(to top left, #fff 0%, #fff 49%, transparent 50%),
        linear-gradient(230deg, #e95420 0%, #772953 33%, #2c001e 72%);
      background-position: left top, right top, right bottom -1px;
      background-repeat: no-repeat;
      background-size: 70% 80%, 70% 100%, 100% 20%, 100% 100%;
    }

    &.is-dark {
      color: #fff;
    }
  }
}

@mixin canonical-p-strip-suru {
  .p-strip--suru {
    @extend %vf-strip;

    background-image: linear-gradient(
        to bottom left,
        rgb(225 225 225 / 3%) 0%,
        rgb(225 225 225 / 3%) 49.9%,
        rgb(225 225 225 / 0%) 50%,
        rgb(225 225 225 / 0%) 100%
      ),
      linear-gradient(
        to top left,
        rgb(225 225 225 / 3%) 0%,
        rgb(225 225 225 / 3%) 49.9%,
        rgb(225 225 225 / 0%) 50%,
        rgb(225 225 225 / 0%) 100%
      ),
      linear-gradient(
        to bottom right,
        rgb(225 225 225 / 3%) 0%,
        rgb(225 225 225 / 3%) 49.9%,
        rgb(225 225 225 / 0%) 50%,
        rgb(225 225 225 / 0%) 100%
      ),
      linear-gradient(135deg, #8b3236 -20%, #5e2750 25%, #2c001e 50%);
    background-position: top right, bottom right, top right, 100%;
    background-repeat: no-repeat;
    background-size: 70% 65%, 40% 85%, 100% 30%, 100%;
    color: $color-x-light;
    padding: 8rem 0;
    position: relative;

    hr {
      background: rgb(255 255 255 / 25%);
      margin: 2rem 0;
    }
  }
}

@mixin canonical-p-strip-suru-topped {
  .p-strip--suru-topped {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal, normal;
    // sass-lint:disable-block no-color-literals
    background-image: linear-gradient(
        to bottom left,
        rgb(228 228 228 / 50%) 0%,
        rgb(228 228 228 / 50%) 49%,
        rgb(228 228 228 / 0%) 50%,
        rgb(228 228 228 / 0%) 100%
      ),
      linear-gradient(
        to bottom left,
        rgb(119 41 83 / 16%) 0%,
        rgb(119 41 83 / 16%) 49%,
        rgb(119 41 83 / 0%) 50%,
        rgb(119 41 83 / 0%) 100%
      ),
      linear-gradient(
        to bottom right,
        rgb(255 255 255 / 0%) 0%,
        rgb(255 255 255 / 0%) 49%,
        rgb(255 255 255 / 100%) 50%,
        rgb(255 255 255 / 100%) 100%
      ),
      linear-gradient(
        90deg,
        rgb(60 0 30 / 100%) 4%,
        rgb(119 41 83 / 100%) 50%,
        rgb(233 84 32 / 100%) 88%
      );

    @supports not (background-blend-mode: multiply) {
      background-image: linear-gradient(
          to bottom left,
          rgb(228 228 228 / 50%) 0%,
          rgb(228 228 228 / 50%) 49%,
          rgb(228 228 228 / 0%) 50%,
          rgb(228 228 228 / 0%) 100%
        ),
        linear-gradient(
          to bottom left,
          rgb(119 41 83 / 16%) 0%,
          rgb(119 41 83 / 16%) 49%,
          rgb(119 41 83 / 0%) 50%,
          rgb(119 41 83 / 0%) 100%
        ),
        linear-gradient(
          to bottom right,
          rgb(255 255 255 / 0%) 0%,
          rgb(255 255 255 / 0%) 49%,
          rgb(255 255 255 / 100%) 50%,
          rgb(255 255 255 / 100%) 100%
        ),
        linear-gradient(
          90deg,
          rgb(60 0 30 / 100%) 4%,
          rgb(119 41 83 / 100%) 50%,
          rgb(233 84 32 / 100%) 88%
        );
    }

    background-position: top right, top right, top left, top left;
    background-repeat: no-repeat;
    background-size: 39.4% 6rem, 54% 4rem, 63% 4rem, 62.6% 4rem;
    padding-bottom: 4rem;
    padding-top: 6rem;
  }
}

@mixin canonical-p-strip-suru-top {
  .p-strip--suru-top {
    background-image: linear-gradient(
        to bottom right,
        rgb(210 180 202 / 5%) 0%,
        rgb(210 180 202 / 5%) 49.9%,
        rgb(210 180 202 / 0%) 50%,
        rgb(210 180 202 / 0%) 100%
      ),
      linear-gradient(
        to top right,
        rgb(74 24 60 / 0%) 0%,
        rgb(74 24 60 / 0%) 49.9%,
        rgb(74 24 60 / 34%) 50%,
        rgb(74 24 60 / 34%) 100%
      ),
      linear-gradient(to top left, #f7f7f7 0%, #f7f7f7 49%, transparent 50%),
      linear-gradient(230deg, #e95420 0%, #772953 33%, #2c001e 72%);
    background-position: left top, right top, right bottom;
    background-repeat: no-repeat;
    background-size: 70% 80%, 70% 100%, 110% 20%, 100% 100%;
    padding-bottom: 6rem;
    padding-top: 3rem;
  }

  @media (max-width: 620px) {
    .p-strip--suru-top {
      background-image: linear-gradient(
          to top right,
          rgb(74 24 60 / 0%) 0%,
          rgb(74 24 60 / 0%) 49.9%,
          rgb(74 24 60 / 40%) 50%,
          rgb(74 24 60 / 40%) 100%
        ),
        linear-gradient(to top left, #f7f7f7 0%, #f7f7f7 49%, transparent 50%),
        linear-gradient(
          to bottom right,
          rgb(210 180 202 / 5%) 0%,
          rgb(210 180 202 / 5%) 49.9%,
          rgb(210 180 202 / 0%) 50%,
          rgb(210 180 202 / 0%) 100%
        ),
        linear-gradient(120deg, #2c001e 4%, #4c193e 100%);
      background-position: right top, bottom right, top left, top left,
        center right;
      background-repeat: no-repeat;
      background-size: 100% 100%, 105% 25%, 70% 80%, 100% 100%;
    }
  }
}

@mixin canonical-p-strip-whitesuru {
  .p-strip--whitesuru {
    @extend %vf-strip;

    @media screen and (min-width: $breakpoint-large) {
      background: url("https://assets.ubuntu.com/v1/25538a5e-Suru%20top%20left%20angle.jpg");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 67vw;
    }
  }

  .p-suru-top-right-45deg {
    @media screen and (min-width: $breakpoint-large) {
      background: url("https://assets.ubuntu.com/v1/d680007d-Suru%20top%20%20right%20angle--45deg.png");
      background-position: 100% 0;
      background-repeat: no-repeat;
      background-size: 80vw;
    }
  }
}

@mixin canonical-p-strip-suru-blog-header {
  .p-strip--suru-blog-header {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal;
    background-image: linear-gradient(
        150deg,
        rgb(228 228 228 / 54%) 0%,
        rgb(228 228 228 / 54%) 54.9%,
        rgb(228 228 228 / 0%) 55%,
        rgb(228 228 228 / 0%) 100%
      ),
      linear-gradient(
        to bottom left,
        rgb(216 216 216 / 54%) 0%,
        rgb(216 216 216 / 54%) 49.9%,
        rgb(216 216 216 / 0%) 50%,
        rgb(216 216 216 / 0%) 100%
      ),
      linear-gradient(-89deg, #e95420 0%, #772953 42%, #2c001e 94%);
    @supports not (background-blend-mode: multiply) {
      background-image: linear-gradient(
          150deg,
          rgb(228 228 228 / 14%) 0%,
          rgb(228 228 228 / 14%) 54.9%,
          rgb(228 228 228 / 0%) 55%,
          rgb(228 228 228 / 0%) 100%
        ),
        linear-gradient(
          to bottom left,
          rgb(216 216 216 / 14%) 0%,
          rgb(216 216 216 / 14%) 49.9%,
          rgb(216 216 216 / 0%) 50%,
          rgb(216 216 216 / 0%) 100%
        ),
        linear-gradient(-89deg, #e95420 0%, #772953 42%, #2c001e 94%);
    }

    background-position: bottom left, bottom 0 right, 0% 0%;
    background-repeat: no-repeat;
    background-size: 100% 100%, 60% 100%, auto;
    color: $color-x-light;
    overflow: hidden;
    position: relative;
  }
}

@mixin maas-p-strip--dark {
  $color-suru-grey-1: rgba(216, 216, 216, 0.54);
  $color-suru-grey-2: rgba(228, 228, 228, 0.54);
  $color-suru-grey-3: #333;
  $color-suru-grey-4: #262626;
  $color-suru-grey-5: #171717;
  $color-suru-grey-6: #181818;
  $color-suru-grey-7: #2d2d2d;
  $color-suru-grey-8: #383838;
  $color-suru-grey-9: #2e2e2e;
  $color-suru-grey-10: #393939;

  .p-takeover--dark {
    background-blend-mode: multiply, multiply, normal, normal;
    background-color: $color-dark;
    background-image: linear-gradient(
        to bottom left,
        $color-suru-grey-1 0,
        $color-suru-grey-1 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to bottom right,
        $color-suru-grey-2 0,
        $color-suru-grey-2 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to top left,
        $color-x-light 0%,
        $color-x-light 49.3%,
        transparent 50%,
        transparent 100%
      ),
      linear-gradient(
        201deg,
        $color-suru-grey-3 0%,
        $color-suru-grey-4 46%,
        $color-dark 90%
      );
    background-position: top right, top left, right bottom -1px, left top;
    background-repeat: no-repeat;
    background-size: 74% 99.83%, 68% 91%, 103.8% 20.26%, 100% 99.8%;
    color: $color-x-light;
    margin: 0;
    padding-bottom: 11rem;
    padding-top: 6rem;
  }

  .p-takeover--no-overlays {
    // copy of ubuntu.com's .p-takeover--compliance found at https://ubuntu.com/takeovers
    background-image: linear-gradient(
      44deg,
      $color-suru-grey-5 0%,
      $color-suru-grey-6 9%,
      $color-suru-grey-4 34%,
      $color-suru-grey-7 67%,
      $color-suru-grey-8 88%,
      $color-suru-grey-9 100%,
      $color-suru-grey-10 100%
    );
  }
}
