@mixin canonical-p-buttons {
  .p-button--outline {
    @extend %vf-button-base;
    border-color: $color-x-light;
    color: $color-x-light;


    &:hover,
    &:active:hover {
      background-color: rgba($color-mid-x-light, 0.2);
    }

    &:visited {
      color: $color-x-light;
    }
  }
}