@mixin canonical-p-careers-modal {
  #contact-modal {
    // sass-lint:disable-line no-ids
    &.p-modal {
      input[type="checkbox"] + label {
        margin-bottom: 0;
        margin-top: 0;
      }

      .p-modal__dialog {
        bottom: inherit;
        margin-bottom: 0;

        @media (min-width: $breakpoint-medium + 100px) {
          max-width: $breakpoint-medium;
          min-width: $breakpoint-medium;
        }
      }

      .p-modal__header {
        border-bottom: 0;
        display: block; 
        margin-bottom: $spv-inner--medium;

        .p-modal__close {
          margin-left: -$spv-inner--large;
        }
      }
    }
  }
}
