@mixin canonical-p-lists {
  @include canonical-p-content-list;
  @include canonical-p-inline-list-selection;
}

@mixin canonical-p-content-list {
  .p-content-list {
    &-section {
      list-style: none;
      padding: 0;

      &:not(:last-child) {
        border-bottom: 1px solid $color-mid-light;
      }

      &:last-child {
        padding-bottom: $sp-x-small;
      }

      &__item {
        align-items: end;
        display: flex;
        justify-content: space-between;
        padding-bottom: $sp-x-small;
        padding-top: $sp-x-small;

        &:last-child {
          margin-bottom: 1.5rem;
        }

        &:visited {
          color: $color-dark;
        }

        &.is-active {
          border-right: 3px solid $color-tabs-active-bar;
          font-weight: $font-weight-bold;
        }
      }
    }

    @media (min-width: $breakpoint-small) {
      border-right: 1px solid $color-mid-light;
      border-top: 0;
      padding: 0;
    }
  }
}

@mixin canonical-p-inline-list-selection {
  .p-inline-list--selection {
    display: flex;
    margin-left: 0;
    padding-left: 0;

    @media (max-width: $breakpoint-small) {
      flex-wrap: wrap;
    }

    .p-inline-list__item,
    .p-inline-list__item--empty {
      @extend %bold;

      line-height: 0.8rem;
      list-style: none;
      margin-right: 1rem;
      position: relative;

      &::after {
        @extend %bold;

        bottom: -0.1rem;
        content: ", ";
        position: absolute;
        right: -0.3rem;
      }

      &:last-child::after {
        content: ".";
      }

      @media (max-width: $breakpoint-small) {
        margin-bottom: 0.75rem;
      }
    }

    .p-inline-list__item--empty {
      border-bottom: 1px solid $color-mid-light;
      flex: 1;
      max-width: 5rem;
    }
  }
}
