@mixin canonical-p-strip {
  @include canonical-p-strip-mid-light;
  @include canonical-p-strip-suru-large;
  @include canonical-p-strip-suru;
  @include canonical-p-strip-suru-background;
  @include canonical-p-strip-suru-image;
  @include canonical-p-strip-slanted;
  @include canonical-p-strip-tag;
  @include canonical-p-strip-suru-bottomed;
  @include canonical-p-strip-suru-half-and-half-reversed;
  @include canonical-p-strip-suru-topped;
  @include canonical-p-strip-suru-partners;
  @include canonical-p-strip-suru-top;

  .p-strip {
    background-color: $color-x-light;
  }

  .p-strip--light {
    &.is-x-shallow {
      background: $color-mid-x-light;
      padding: 1.5rem 0;
    }
  }
}

@mixin canonical-p-strip-mid-light {
  .p-strip--mid-light {
    @extend %vf-strip;

    background-color: $color-mid-x-light;
  }
}

@mixin canonical-p-strip-suru {
  .p-strip--suru {
    @extend %vf-strip;

    background-image: linear-gradient(
        to bottom left,
        rgba(225, 225, 225, 0.03) 0%,
        rgba(225, 225, 225, 0.03) 49.9%,
        rgba(225, 225, 225, 0) 50%,
        rgba(225, 225, 225, 0) 100%
      ),
      linear-gradient(
        to top left,
        rgba(225, 225, 225, 0.03) 0%,
        rgba(225, 225, 225, 0.03) 49.9%,
        rgba(225, 225, 225, 0) 50%,
        rgba(225, 225, 225, 0) 100%
      ),
      linear-gradient(
        to bottom right,
        rgba(225, 225, 225, 0.03) 0%,
        rgba(225, 225, 225, 0.03) 49.9%,
        rgba(225, 225, 225, 0) 50%,
        rgba(225, 225, 225, 0) 100%
      ),
      linear-gradient(135deg, #8b3236 -20%, #5e2750 25%, #2c001e 50%);
    background-position: top right, bottom right, top right, 100%;
    background-repeat: no-repeat;
    background-size: 70% 65%, 40% 85%, 100% 30%, 100%;
    color: $color-x-light;
    padding: 8rem 0;
    position: relative;

    hr {
      background: rgba(255, 255, 255, 0.25);
      margin: 2rem 0;
    }
  }
}

@mixin canonical-p-strip-suru-background {
  .p-strip--suru-background {
    @extend %vf-strip;

    background-image: linear-gradient(
        to bottom right,
        rgba(210, 180, 202, 0.05) 0%,
        rgba(210, 180, 202, 0.05) 49.9%,
        rgba(210, 180, 202, 0) 50%,
        rgba(210, 180, 202, 0) 100%
      ),
      linear-gradient(
        to top right,
        rgba(74, 24, 60, 0) 0%,
        rgba(74, 24, 60, 0) 49.9%,
        rgba(74, 24, 60, 0.34) 50%,
        rgba(74, 24, 60, 0.34) 100%
      ),
      linear-gradient(to top left, #fff 0%, #fff 49%, transparent 50%),
      linear-gradient(230deg, #e95420 0%, #772953 33%, #2c001e 72%);
    background-position: left top, right top, right 101%;
    background-repeat: no-repeat;
    background-size: 70% 80%, 70% 100%, 110% 20%, 100% 100%;
    padding-bottom: 4rem;
    padding-top: 2rem;

    @media only screen and (max-width: $breakpoint-small) {
      background-image: linear-gradient(
          to bottom right,
          rgba(210, 180, 202, 0.05) 0%,
          rgba(210, 180, 202, 0.05) 49.9%,
          rgba(210, 180, 202, 0) 50%,
          rgba(210, 180, 202, 0) 100%
        ),
        linear-gradient(
          to top right,
          rgba(74, 24, 60, 0) 0%,
          rgba(74, 24, 60, 0) 49.9%,
          rgba(74, 24, 60, 0.34) 50%,
          rgba(74, 24, 60, 0.34) 100%
        ),
        linear-gradient(to top left, #fff 0%, #fff 49%, transparent 50%),
        linear-gradient(230deg, #e95420 0%, #772953 33%, #2c001e 72%);
      background-position: left top, right top, right bottom -1px;
      background-repeat: no-repeat;
      background-size: 70% 80%, 70% 100%, 100% 20%, 100% 100%;
    }
  }
}

@mixin canonical-p-strip-suru-image {
  .p-strip--suru-image {
    @extend %vf-strip;

    background-image: url("https://assets.ubuntu.com/v1/0b093f40-dotted-map.svg"),
      linear-gradient(
        to bottom right,
        rgba(210, 180, 202, 0.05) 0%,
        rgba(210, 180, 202, 0.05) 49.9%,
        rgba(210, 180, 202, 0) 50%,
        rgba(210, 180, 202, 0) 100%
      ),
      linear-gradient(
        to top right,
        rgba(74, 24, 60, 0) 0%,
        rgba(74, 24, 60, 0) 49.9%,
        rgba(74, 24, 60, 0.34) 50%,
        rgba(74, 24, 60, 0.34) 100%
      ),
      linear-gradient(to top left, #fff 0%, #fff 49%, transparent 50%),
      linear-gradient(230deg, #e95420 0%, #772953 33%, #2c001e 72%);
    background-position: right top, left top, right top, right bottom;
    background-repeat: no-repeat;
    background-size: auto, 70% 80%, 70% 100%, 100% 20%, 100% 100%;
    padding-bottom: 8rem;
    padding-top: 8rem;

    @media only screen and (max-width: $breakpoint-small) {
      background-image: linear-gradient(
          to bottom right,
          rgba(210, 180, 202, 0.05) 0%,
          rgba(210, 180, 202, 0.05) 49.9%,
          rgba(210, 180, 202, 0) 50%,
          rgba(210, 180, 202, 0) 100%
        ),
        linear-gradient(
          to top right,
          rgba(74, 24, 60, 0) 0%,
          rgba(74, 24, 60, 0) 49.9%,
          rgba(74, 24, 60, 0.34) 50%,
          rgba(74, 24, 60, 0.34) 100%
        ),
        linear-gradient(to top left, #fff 0%, #fff 49%, transparent 50%),
        linear-gradient(230deg, #e95420 0%, #772953 33%, #2c001e 72%);
      background-position: left top, right top, right bottom;
      background-repeat: no-repeat;
      background-size: 70% 80%, 70% 100%, 100% 20%, 100% 100%;
      padding-bottom: 6rem;
      padding-top: 6rem;
    }
  }
}

@mixin canonical-p-strip-suru-large {
  .p-strip--suru-large {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, multiply, multiply, normal;
    background-image: linear-gradient(
        to bottom left,
        rgba(225, 225, 225, 0.3) 0%,
        rgba(225, 225, 225, 0.3) 49.9%,
        rgba(225, 225, 225, 0) 50%,
        rgba(225, 225, 225, 0) 100%
      ),
      linear-gradient(
        to bottom right,
        rgba(225, 225, 225, 0.3) 0%,
        rgba(225, 225, 225, 0.3) 49.9%,
        rgba(225, 225, 225, 0) 50%,
        rgba(225, 225, 225, 0) 100%
      ),
      linear-gradient(
        to top right,
        rgba(225, 225, 225, 0.3) 0%,
        rgba(225, 225, 225, 0.3) 49.9%,
        rgba(225, 225, 225, 0) 50%,
        rgba(225, 225, 225, 0) 100%
      ),
      linear-gradient(
        to top left,
        rgba(225, 225, 225, 0.3) 0%,
        rgba(225, 225, 225, 0.3) 49.9%,
        rgba(225, 225, 225, 0) 50%,
        rgba(225, 225, 225, 0) 100%
      ),
      linear-gradient(199deg, #8b3236 -20%, #5e2750 25%, #2c001e 50%);
    background-position: top right, top left, bottom left, bottom right, 100%;
    background-repeat: no-repeat;
    background-size: 70% 25%, 70% 45%, 70% 25%, 110% 85%, 100%;
    color: $color-x-light;
    position: relative;
  }
}

@mixin canonical-p-strip-slanted {
  .is-slanted {
    &--top-right {
      clip-path: polygon(0% 0%, 100% calc(0% + 4rem), 100% 100%, 0% 100%);
      margin-top: -4rem;
      padding-top: 8rem;
    }

    &--top-left {
      clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% calc(0% + 4rem));
      margin-top: -4rem;
      padding-top: 8rem;
    }
  }

  .u-extra-space {
    margin-bottom: 4rem;
  }
}

@mixin canonical-p-strip-tag {
  .has-tag {
    &::after {
      background-image: linear-gradient(
        to bottom left,
        rgba(119, 41, 83, 1) 0%,
        rgba(119, 41, 83, 1) 49.9%,
        rgba(119, 41, 83, 0) 50%,
        rgba(119, 41, 83, 0) 100%
      );
      background-position: top right;
      background-repeat: no-repeat;
      background-size: 30% 10%;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }
}

@mixin canonical-p-strip-suru-bottomed {
  .p-strip--suru-bottomed {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal, normal;
    background-image: linear-gradient(
        to top right,
        rgba(228, 228, 228, 0.5) 0%,
        rgba(228, 228, 228, 0.5) 49.5%,
        rgba(228, 228, 228, 0) 50%,
        rgba(228, 228, 228, 0) 100%
      ),
      linear-gradient(
        to top right,
        rgba(119, 41, 83, 0.16) 0%,
        rgba(119, 41, 83, 0.16) 49.5%,
        rgba(119, 41, 83, 0) 50%,
        rgba(119, 41, 83, 0) 100%
      ),
      linear-gradient(
        to top left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 49.5%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 1) 100%
      ),
      linear-gradient(
        -89deg,
        rgb(233, 84, 32) 0%,
        rgb(119, 41, 83) 38%,
        rgb(44, 0, 30) 85%
      );
    background-position: left bottom, left bottom, right bottom, right bottom;
    background-repeat: no-repeat;
    background-size: 42% 12rem, 65.2% 8rem, 73.7% 8rem, 73.7% 8rem;
    padding-bottom: 8rem;
  }
}

@mixin canonical-p-strip-suru-half-and-half-reversed {
  .p-strip--suru-half-and-half-reversed {
    @extend %vf-strip;

    background-blend-mode: multiply, normal, normal, normal;
    // sass-lint:disable-block no-color-literals
    background-image: linear-gradient(
        25deg,
        rgba(119, 41, 83, 0.16) 0%,
        rgba(119, 41, 83, 0.16) 49.9%,
        rgba(119, 41, 83, 0) 50%,
        rgba(119, 41, 83, 0) 100%
      ),
      linear-gradient(
        to left,
        transparent 0%,
        transparent 41.9%,
        rgba(255, 255, 255, 0) 42%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        289deg,
        transparent 46.3%,
        #a63b3e 20%,
        #772953 63%,
        #2c001e 100%
      );
    background-position: top 60% left, top left, center right;
    background-repeat: no-repeat;
    background-size: 90% 100%, 100% 100%, cover;

    @media (max-width: $breakpoint-large - 1) {
      background-image: linear-gradient(
        270deg,
        #e95420 0%,
        #772953 43%,
        #2c001e 87%
      );
      background-position: center right;
      background-size: cover;
    }

    &.is-light {
      color: $color-x-dark;
    }

    &.is-dark {
      color: $color-x-light;
    }
  }
}

@mixin canonical-p-strip-suru-topped {
  .p-strip--suru-topped {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal, normal;
    // sass-lint:disable-block no-color-literals
    background-image: linear-gradient(
        to bottom left,
        rgba(228, 228, 228, 0.5) 0%,
        rgba(228, 228, 228, 0.5) 49%,
        rgba(228, 228, 228, 0) 50%,
        rgba(228, 228, 228, 0) 100%
      ),
      linear-gradient(
        to bottom left,
        rgba(119, 41, 83, 0.16) 0%,
        rgba(119, 41, 83, 0.16) 49%,
        rgba(119, 41, 83, 0) 50%,
        rgba(119, 41, 83, 0) 100%
      ),
      linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 49%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 1) 100%
      ),
      linear-gradient(
        90deg,
        rgba(60, 0, 30, 1) 4%,
        rgba(119, 41, 83, 1) 50%,
        rgba(233, 84, 32, 1) 88%
      );

    @supports not (background-blend-mode: multiply) {
      background-image: linear-gradient(
          to bottom left,
          rgba(228, 228, 228, 0.5) 0%,
          rgba(228, 228, 228, 0.5) 49%,
          rgba(228, 228, 228, 0) 50%,
          rgba(228, 228, 228, 0) 100%
        ),
        linear-gradient(
          to bottom left,
          rgba(119, 41, 83, 0.16) 0%,
          rgba(119, 41, 83, 0.16) 49%,
          rgba(119, 41, 83, 0) 50%,
          rgba(119, 41, 83, 0) 100%
        ),
        linear-gradient(
          to bottom right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0) 49%,
          rgba(255, 255, 255, 1) 50%,
          rgba(255, 255, 255, 1) 100%
        ),
        linear-gradient(
          90deg,
          rgba(60, 0, 30, 1) 4%,
          rgba(119, 41, 83, 1) 50%,
          rgba(233, 84, 32, 1) 88%
        );
    }

    background-position: top right, top right, top left, top left;
    background-repeat: no-repeat;
    background-size: 39.4% 6rem, 54% 4rem, 63% 4rem, 62.6% 4rem;
    padding-bottom: 4rem;
    padding-top: 6rem;
  }
}

@mixin canonical-p-strip-suru-partners {
  .p-strip--suru-partners {
    background-image: linear-gradient(
        to bottom right,
        rgba(210, 180, 202, 0.05) 0%,
        rgba(210, 180, 202, 0.05) 49.9%,
        rgba(210, 180, 202, 0) 50%,
        rgba(210, 180, 202, 0) 100%
      ),
      linear-gradient(
        to top right,
        rgba(74, 24, 60, 0) 0%,
        rgba(74, 24, 60, 0) 49.9%,
        rgba(74, 24, 60, 0.34) 50%,
        rgba(74, 24, 60, 0.34) 100%
      ),
      linear-gradient(to top left, #f7f7f7 0%, #f7f7f7 49%, transparent 50%),
      linear-gradient(140deg, #e95420 0%, #772953 33%, #2c001e 72%);
    background-position: left top, right top, right 101%;
    background-repeat: no-repeat;
    background-size: 70% 80%, 100% 100%, 105% 30%, 100% 100%;
    color: #fff;
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
}

@mixin canonical-p-strip-suru-top {
  .p-strip--suru-top {
    background-image: linear-gradient(
        to bottom right,
        rgba(210, 180, 202, 0.05) 0%,
        rgba(210, 180, 202, 0.05) 49.9%,
        rgba(210, 180, 202, 0) 50%,
        rgba(210, 180, 202, 0) 100%
      ),
      linear-gradient(
        to top right,
        rgba(74, 24, 60, 0) 0%,
        rgba(74, 24, 60, 0) 49.9%,
        rgba(74, 24, 60, 0.34) 50%,
        rgba(74, 24, 60, 0.34) 100%
      ),
      linear-gradient(to top left, #f7f7f7 0%, #f7f7f7 49%, transparent 50%),
      linear-gradient(230deg, #e95420 0%, #772953 33%, #2c001e 72%);
    background-position: left top, right top, right bottom;
    background-repeat: no-repeat;
    background-size: 70% 80%, 70% 100%, 110% 20%, 100% 100%;
    padding-bottom: 6rem;
    padding-top: 3rem;
  }

  @media (max-width: 620px) {
    .p-strip--suru-top {
      background-image: linear-gradient(
          to top right,
          rgba(74, 24, 60, 0) 0%,
          rgba(74, 24, 60, 0) 49.9%,
          rgba(74, 24, 60, 0.4) 50%,
          rgba(74, 24, 60, 0.4) 100%
        ),
        linear-gradient(to top left, #f7f7f7 0%, #f7f7f7 49%, transparent 50%),
        linear-gradient(
          to bottom right,
          rgba(210, 180, 202, 0.05) 0%,
          rgba(210, 180, 202, 0.05) 49.9%,
          rgba(210, 180, 202, 0) 50%,
          rgba(210, 180, 202, 0) 100%
        ),
        linear-gradient(120deg, #2c001e 4%, #4c193e 100%);
      background-position: right top, bottom right, top left, top left,
        center right;
      background-repeat: no-repeat;
      background-size: 100% 100%, 105% 25%, 70% 80%, 100% 100%;
    }
  }
}
