@mixin canonical-p-headings {
  .p-heading-highlight--left {
    & * {
      padding-left: 3rem;
    }

    &__item {
      border-left: 1px solid $color-x-light;
      margin-top: 0;
      padding-top: 0;
    }
  }

  .p-heading-highlight--bottom {
    &__item {
      margin-bottom: 1rem;
    }

    &::after {
      background-color: $color-x-light;
      content: "";
      display: block;
      height: 1px;
      margin-bottom: 1rem;
      width: 75px;
    }
  }

  .p-heading-icon--h1 {
    h1 {
      display: inline-block;
      margin-right: $sph--large;
    }

    img {
      height: 3rem;
      position: relative;
      top: -0.5rem;
      vertical-align: middle;
    }

    @media (max-width: $breakpoint-large - 1) {
      img {
        height: 2rem;
        top: -0.35rem;
      }
    }
  }
}
