@mixin canonical-p-strip {
  @include canonical-p-strip-suru-large;
  @include canonical-p-strip-suru;
  @include canonical-p-slanted;
}

@mixin canonical-p-strip-suru-large {
  .p-strip--suru-large {
    @extend %vf-strip;
    background-image:
      linear-gradient(to top left, #fff 0%, #fff 49%, rgba(255,255,255,0) 50%, transparent 100%),
      linear-gradient(to bottom left, rgba(225,225,225,0.05) 0%, rgba(225,225,225,0.05) 49.9%, rgba(225,225,225,0) 50%, rgba(225,225,225,0) 100%),
      linear-gradient(to bottom right, rgba(225,225,225,0.05) 0%, rgba(225,225,225,0.05) 49.9%, rgba(225,225,225,0) 50%, rgba(225,225,225,0) 100%),
      linear-gradient(to top right, rgba(225,225,225,0.05) 0%, rgba(225,225,225,0.05) 49.9%, rgba(225,225,225,0) 50%, rgba(225,225,225,0) 100%),
      linear-gradient(to top left, rgba(225,225,225,0.05) 0%, rgba(225,225,225,0.05) 49.9%, rgba(225,225,225,0) 50%, rgba(225,225,225,0) 100%),
      linear-gradient(199deg, #8b3236 -20%, #5E2750 25%, #2C001E 50%);
    background-position:
      bottom left,
      top right,
      top left,
      bottom left,
      bottom right, 100%;
    background-repeat: no-repeat;
    background-size:
      100% 4rem,
      70% 25%,
      70% 45%,
      70% 25%,
      110% 85%,
      100%;
    color: $color-x-light;
    position: relative;
  }
}

@mixin canonical-p-strip-suru {
  .p-strip--suru {
    @extend %vf-strip;
    padding: 8rem 0;
    background-image:
      linear-gradient(to bottom left, rgba(225,225,225,0.03) 0%, rgba(225,225,225,0.03) 49.9%, rgba(225,225,225,0) 50%, rgba(225,225,225,0) 100%),
      linear-gradient(to bottom left, rgba(119,41,83,1) 0%, rgba(119,41,83,1) 49.9%, rgba(119,41,83,0) 50%, rgba(119,41,83,0) 100%),
      linear-gradient(to top left, rgba(225,225,225,0.03) 0%, rgba(225,225,225,0.03) 49.9%, rgba(225,225,225,0) 50%, rgba(225,225,225,0) 100%),
      linear-gradient(to bottom right, rgba(225,225,225,0.03) 0%, rgba(225,225,225,0.03) 49.9%, rgba(225,225,225,0) 50%, rgba(225,225,225,0) 100%),
      linear-gradient(135deg, #8b3236 -20%, #5E2750 25%, #2C001E 50%);
    background-position:
      top right,
      top right,
      bottom right,
      top right,
      100%;
    background-repeat: no-repeat;
    background-size:
      70% 65%,
      30% 10%,
      40% 85%,
      100% 30%,
      100%;
    color: $color-x-light;
    position: relative;
  }

  hr {
    background: rgba(255, 255, 255, .25);
    margin: 2rem 0;
  }
}

@mixin canonical-p-slanted {
  %is-slated {
    background-repeat: no-repeat;
    background-size: 100% 4rem;
    content: '';
    display: block;
    height: 4rem;
    position: relative;
    width: 100%;
  }

  .is-slanted {
    &--top-right::before {
      @extend %is-slated;
      background-image: linear-gradient(to bottom left, $color-x-light 0%, $color-x-light 49%, rgba(255,255,255,0) 50%, transparent 100%);
      background-position: top left;
    }

    &--top-left::before {
      @extend %is-slated;
      background-image: linear-gradient(to bottom right, $color-x-light 0%, $color-x-light 49%, rgba(255,255,255,0) 50%, transparent 100%);
      background-position: top left;
    }

    &--bottom-right::after {
      @extend %is-slated;
      background-image: linear-gradient(to top left, $color-x-light 0%, $color-x-light 49%, rgba(255,255,255,0) 50%, transparent 100%);
      background-position: bottom left;
    }

    &--bottom-left::after {
      @extend %is-slated;
      background-image: linear-gradient(to top right, $color-x-light 0%, $color-x-light 49%, rgba(255,255,255,0) 50%, transparent 100%);
      background-position: bottom left;
    }
  }
}
