@mixin canonical-p-tabs {
  .p-tabs--vertical {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    .p-tabs__item {
      @extend %side-navigation__text;
      background-color: $color-paper;

      &:hover {
        background-color: $color-mid-x-light;
      }
      border: 0;
      display: initial;
      text-align: left;
      width: 100%;

      &[aria-selected="true"] {
        @include vf-highlight-bar($color-dark, left);

        background-color: $color-mid-x-light;
      }
    }
  }
}
