@mixin canonical-p-media-object {
  .p-media-object--strip {
    @extend %p-media-object;

    height: 100%;
    margin-bottom: 0;

    .p-media-object__details {
      background-color: $color-light;
      padding: calc(#{$spv--large} - 1px);
    }

    .p-media-object__image {
      align-self: auto;
      background-color: $color-brand;
      margin: 0;
      max-height: none;
      max-width: none;
      width: 5.5rem;
    }

    .p-media-object__title > a {
      color: $color-dark;
    }
  }
}
