@mixin canonical-p-heading-highlight {
  .p-heading-highlight {

    & * {
      padding-left: 3rem;
    }

    &__item {
      border-left: 1px solid $color-x-light;
      margin-top: 0;
      padding-top: 0;
    }
  }
}
