@mixin canonical-p-search-panel {

  .p-search-panel {
    margin-top: -1.2rem;
    border:  1px solid #000;
    border-top: none;
    position : relative;

    .p-search-panel__container{
      position: absolute;
      z-index: 10000;
      max-height: 10rem;
      overflow-y: scroll;
      background: #eee;
      background: $color-light;
    }
  }
  
}
