@mixin canonical-p-suru {
  .p-suru {
    @extend %vf-strip;
    background-blend-mode: 
      normal,
      normal,
      normal,
      normal,
      normal,
      normal;
    background-image: 
      linear-gradient(to top left, #fff 0%, #fff 49%, rgba(255,255,255,0) 50%, transparent 100%), 
      linear-gradient(to bottom left, rgba(225,225,225,0.1) 0%, rgba(225,225,225,0.1) 49.9%, rgba(225,225,225,0) 50%, rgba(225,225,225,0) 100%), 
      linear-gradient(to bottom right, rgba(225,225,225,0.1) 0%, rgba(225,225,225,0.1) 49.9%, rgba(225,225,225,0) 50%, rgba(225,225,225,0) 100%), 
      linear-gradient(to top right, rgba(225,225,225,0.1) 0%, rgba(225,225,225,0.1) 49.9%, rgba(225,225,225,0) 50%, rgba(225,225,225,0) 100%), 
      linear-gradient(to top left, rgba(225,225,225,0.1) 0%, rgba(225,225,225,0.1) 49.9%, rgba(225,225,225,0) 50%, rgba(225,225,225,0) 100%), 
      linear-gradient(205deg, #8b3236 0%, #772953 18%, #330824 100%);
    background-position: 
      bottom left,
      top right,
      top left,
      bottom left, 
      bottom right, 100%;
    background-repeat: no-repeat;
    background-size: 
      100% 5%,
      70% 25%,
      70% 45%,
      70% 25%,
      110% 85%,
      100%;
    margin-bottom: -4rem;
    overflow: hidden;
    padding-bottom: 12rem;
    position: relative;

    &.is-light {
      color: $color-x-dark;
    }

    &.is-dark {
      color: $color-x-light;
    }
  }
}
