@mixin canonical-p-strip {
  @include canonical-p-strip-suru;
  @include canonical-p-strip-suru-topped;
  @include canonical-p-strip-suru-top;

  .p-strip--light {
    &.is-x-shallow {
      background: $color-mid-x-light;
      padding: 1.5rem 0;
    }
  }
}

@mixin canonical-p-strip-suru {
  .p-strip--suru {
    @extend %vf-strip;

    background-image: linear-gradient(
        to bottom left,
        rgb(225 225 225 / 3%) 0%,
        rgb(225 225 225 / 3%) 49.9%,
        rgb(225 225 225 / 0%) 50%,
        rgb(225 225 225 / 0%) 100%
      ),
      linear-gradient(
        to top left,
        rgb(225 225 225 / 3%) 0%,
        rgb(225 225 225 / 3%) 49.9%,
        rgb(225 225 225 / 0%) 50%,
        rgb(225 225 225 / 0%) 100%
      ),
      linear-gradient(
        to bottom right,
        rgb(225 225 225 / 3%) 0%,
        rgb(225 225 225 / 3%) 49.9%,
        rgb(225 225 225 / 0%) 50%,
        rgb(225 225 225 / 0%) 100%
      ),
      linear-gradient(135deg, #8b3236 -20%, #5e2750 25%, #2c001e 50%);
    background-position: top right, bottom right, top right, 100%;
    background-repeat: no-repeat;
    background-size: 70% 65%, 40% 85%, 100% 30%, 100%;
    color: $color-x-light;
    padding: 8rem 0;
    position: relative;

    hr {
      background: rgb(255 255 255 / 25%);
      margin: 2rem 0;
    }
  }
}

@mixin canonical-p-strip-suru-topped {
  .p-strip--suru-topped {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal, normal;
    // sass-lint:disable-block no-color-literals
    background-image: linear-gradient(
        to bottom left,
        rgb(228 228 228 / 50%) 0%,
        rgb(228 228 228 / 50%) 49%,
        rgb(228 228 228 / 0%) 50%,
        rgb(228 228 228 / 0%) 100%
      ),
      linear-gradient(
        to bottom left,
        rgb(119 41 83 / 16%) 0%,
        rgb(119 41 83 / 16%) 49%,
        rgb(119 41 83 / 0%) 50%,
        rgb(119 41 83 / 0%) 100%
      ),
      linear-gradient(
        to bottom right,
        rgb(255 255 255 / 0%) 0%,
        rgb(255 255 255 / 0%) 49%,
        rgb(255 255 255 / 100%) 50%,
        rgb(255 255 255 / 100%) 100%
      ),
      linear-gradient(
        90deg,
        rgb(60 0 30 / 100%) 4%,
        rgb(119 41 83 / 100%) 50%,
        rgb(233 84 32 / 100%) 88%
      );

    @supports not (background-blend-mode: multiply) {
      background-image: linear-gradient(
          to bottom left,
          rgb(228 228 228 / 50%) 0%,
          rgb(228 228 228 / 50%) 49%,
          rgb(228 228 228 / 0%) 50%,
          rgb(228 228 228 / 0%) 100%
        ),
        linear-gradient(
          to bottom left,
          rgb(119 41 83 / 16%) 0%,
          rgb(119 41 83 / 16%) 49%,
          rgb(119 41 83 / 0%) 50%,
          rgb(119 41 83 / 0%) 100%
        ),
        linear-gradient(
          to bottom right,
          rgb(255 255 255 / 0%) 0%,
          rgb(255 255 255 / 0%) 49%,
          rgb(255 255 255 / 100%) 50%,
          rgb(255 255 255 / 100%) 100%
        ),
        linear-gradient(
          90deg,
          rgb(60 0 30 / 100%) 4%,
          rgb(119 41 83 / 100%) 50%,
          rgb(233 84 32 / 100%) 88%
        );
    }

    background-position: top right, top right, top left, top left;
    background-repeat: no-repeat;
    background-size: 39.4% 6rem, 54% 4rem, 63% 4rem, 62.6% 4rem;
    padding-bottom: 4rem;
    padding-top: 6rem;
  }
}

@mixin canonical-p-strip-suru-top {
  .p-strip--suru-top {
    background-image: linear-gradient(
        to bottom right,
        rgb(210 180 202 / 5%) 0%,
        rgb(210 180 202 / 5%) 49.9%,
        rgb(210 180 202 / 0%) 50%,
        rgb(210 180 202 / 0%) 100%
      ),
      linear-gradient(
        to top right,
        rgb(74 24 60 / 0%) 0%,
        rgb(74 24 60 / 0%) 49.9%,
        rgb(74 24 60 / 34%) 50%,
        rgb(74 24 60 / 34%) 100%
      ),
      linear-gradient(to top left, #f7f7f7 0%, #f7f7f7 49%, transparent 50%),
      linear-gradient(230deg, #e95420 0%, #772953 33%, #2c001e 72%);
    background-position: left top, right top, right bottom;
    background-repeat: no-repeat;
    background-size: 70% 80%, 70% 100%, 110% 20%, 100% 100%;
    padding-bottom: 6rem;
    padding-top: 3rem;
  }

  @media (max-width: 620px) {
    .p-strip--suru-top {
      background-image: linear-gradient(
          to top right,
          rgb(74 24 60 / 0%) 0%,
          rgb(74 24 60 / 0%) 49.9%,
          rgb(74 24 60 / 40%) 50%,
          rgb(74 24 60 / 40%) 100%
        ),
        linear-gradient(to top left, #f7f7f7 0%, #f7f7f7 49%, transparent 50%),
        linear-gradient(
          to bottom right,
          rgb(210 180 202 / 5%) 0%,
          rgb(210 180 202 / 5%) 49.9%,
          rgb(210 180 202 / 0%) 50%,
          rgb(210 180 202 / 0%) 100%
        ),
        linear-gradient(120deg, #2c001e 4%, #4c193e 100%);
      background-position: right top, bottom right, top left, top left,
        center right;
      background-repeat: no-repeat;
      background-size: 100% 100%, 105% 25%, 70% 80%, 100% 100%;
    }
  }
}