@mixin canonical-u-animations {
  // Careers meganav
  .u-animation--slide-dropdown {
    transform: translateY(-110%);
  }

  .u-animation--fade-dropdown {
    opacity: 0;
    visibility: hidden;
  
    .u-visible-nav & {
      opacity: 1;
      transform: none;
      visibility: visible;
    }
  }

  .u-animation--slide-from-bottom {
    animation: slide-from-bottom map-get($animation-duration, sleepy) linear
      forwards;
    opacity: 0;
  }

  .u-animation--slide-from-right {
    animation: slide-from-right map-get($animation-duration, sleepy) linear
      forwards;
    opacity: 0;
  }

  .u-animation--slide-from-top {
    animation: slide-from-top map-get($animation-duration, sleepy) linear
      forwards;
    opacity: 0;
  }

  @keyframes slide-from-bottom {
    0% {
      opacity: 0;
      transform: translateY(2rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-from-right {
    0% {
      opacity: 0;
      transform: translate(2rem, 0);
    }

    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @keyframes slide-from-top {
    0% {
      opacity: 0;
      transform: translate(0, -2rem);
    }

    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .u-animation--slide-from-bottom,
    .u-animation--slide-from-right,
    .u-animation--slide-from-top {
      opacity: 1 !important;
    }
  }

  .row-cli {
    &__commands {
      
      background: rgba(0 0 0 / 5%);
      color: #333;
      font-family: 'Ubuntu Mono variable', monospace;
      font-size: 2.5rem;
      line-height: 3rem;
      margin-bottom: .95rem;
      padding: 0.5rem;
  
      @media screen and (min-width: 767px) {
        font-size: 1.4rem;
        padding: 1.4rem 0.9rem;
      }
  
      @media only screen and (min-width: 1030px) {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: .95rem;
        padding: .5rem;
      }
  
      &-list {
        font-weight: 180;
        margin-left: 1rem;
        position: relative;
  
        @media screen and (max-width: 767px) {
          margin-left: 0.25rem;
        }
  
        &::after {
          font-weight: 180;
          background: #333;
          content: " ";
          display: inline-block;
          height: 1rem;
          margin-left: 2px;
          vertical-align: text-bottom;
          width: 2px;
  
          @media only screen and (min-width: 767px) {
            height: 1.4rem;
          }
  
          @media only screen and (min-width: 1030px) {
            height: 2rem;
          }
        }
      }
    }
  }
}