@mixin canonical-p-careers-modal {
  .p-modal--careers {
    position: fixed;
    z-index: 100;

    input[type="checkbox"] + label {
      margin-bottom: 0;
      margin-top: 0;
    }

    .p-modal__dialog {
      margin-bottom: 0;
      max-height: 100%;
      overflow-y: scroll;

      @media (min-width: $breakpoint-small + 100px) {
        max-width: $breakpoint-large - 1;
        min-width: $breakpoint-small;
      }
    }

    .p-modal__header {
      border-bottom: 0;
      display: block;
      margin-bottom: $spv--medium;
      padding-top: 0;

      &::after {
        height: 0;
      }

      .p-modal__close {
        margin-left: -$spv--large;
        margin-top: $spv--medium;
      }
    }
  }
}
