@mixin canonical-p-footer {
  .p-footer {
    @extend %vf-strip;
  
    .p-list__item--condensed {
      @extend %vf-list-item;
    
      padding-bottom: 0;
      padding-top: 0;
    }

    a {
      color: #3097FF;

      &:visited {
        color: #AB83D3;
      }
    }
  }
}

// Align social links to bottom on large screens
@mixin canonical-u-footer-align-bottom {
  @media (min-width: $breakpoint-large) {
    .u-position {
      position: relative;
    
      .u-position--bottom {
        bottom: 0;
        position: absolute;
      }
    }
  }
}
  

