@mixin canonical-p-card {
  .p-card--strip {
    @extend %vf-card;

    background-color: $color-light;

    .p-card__content {
      padding: calc(#{$spv--large} - 1px);
    }

    .p-strip {
      background-color: $color-brand;
      color: $color-x-light;
      padding: calc(#{$spv--large} - 1px);
    }
  }

  .p-card--highlighted.has-cta {
    background-color: $color-light;
    display: flex;
    flex-direction: column;
    padding: calc(#{$spv--large} * 2 - 1px);

    .p-card__content {
      flex-grow: 1;
      padding-bottom: $spv--medium;
    }

    .p-card__cta {
      margin-bottom: 0;
    }
  }

  .p-card--no-border {
    @extend %vf-card;

    border-style: none;
    padding: 0;

    .p-card__thumbnail-large {
      max-height: 8rem;
    }
  }

  .p-card--strip-thin {
    @extend %vf-card;

    background-color: $color-light;
    border-top: 4px solid $color-brand;
  }

  .p-card--game {
    @extend %vf-card;

    margin-bottom: $spv--large;
    min-height: 8rem;
    position: relative;

    &:hover {
      background-color: $color-mid-x-light;
      cursor: pointer;
    }

    &__title::after {
      border-bottom: 2px solid $color-mid-light;
      content: "";
      display: block;
      width: 50%;
    }

    &__content {
      font-size: small;
    }

    &__tagline {
      font-style: italic;
      margin-bottom: 0;
    }

    &__description {
      display: none;
      padding-top: 1.1rem;
    }

    .js-button--add {
      display: none;
    }

    &.is-grey {
      .js-button--add {
        display: flex;
      }

      .p-card--game__description {
        display: block;
      }
    }

    &.is-selected {
      background-color: $color-brand;
      color: $color-x-light;

      &:hover {
        background-color: $color-mid-dark;
      }
    }

    &.is-empty {
      background-color: transparent;
      border: 1px dashed $color-x-light;
      cursor: default;

      &:hover {
        background-color: transparent;
      }

      & * {
        display: none;
      }

      .js-button--remove {
        display: none;
      }
    }

    @media (max-width: $breakpoint-small) {
      &.is-empty {
        display: none;
      }
    }
  }
  @media (min-width: $breakpoint-small) {
    .p-card--game {
      min-height: 10rem;
    }
  }
}
