@mixin canonical-p-blog-card {
  .u-crop--16-9 {
    position: relative;
  }

  .p-blog-card {
    margin-bottom: $spv--strip-shallow;
  
    &__row {
      @extend %vf-row;
    }

    &__aside {
      grid-row: 2;
      
      @media (min-width: $breakpoint-small) {
        grid-column: auto / span 2;
        grid-row: 1;
      }
  
      @media (min-width: $breakpoint-large) {
        grid-column: auto / span 3;
        grid-row: auto;
      }
    }

    &__main {
      grid-row:  1;

      @media (min-width: $breakpoint-small) {
        grid-column: auto / span 4;
        grid-row: 1;
      }
  
      @media (min-width: $breakpoint-large) {
        grid-column: auto / span 6;
        grid-row: auto;
      }
    }

    &__excerpt {
      display: none;
  
      @media (min-width: $breakpoint-large) {
        display: block;
      }
    }

    &__thumbnail {
      display: none;
  
      @media (min-width: $breakpoint-large) {
        display: block;
        grid-column: auto / span 3;
      }
    }
  }
}
