@mixin canonical-p-navigation {
  // Style for main navigation
  .p-navigation__dropdown a.is-selected {
    border-left: 4px solid white;
    color: white !important;
  }
}

// Meganav
.dropdown-window-overlay {
  background-color: rgb(17 17 17 / 40%);
  height: 100%;
  opacity: 1;
  position: fixed;
  top: 0;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  z-index: 1;
}

.dropdown-window {
  @include vf-transition(all, brisk, out);

  background-color: $color-accent-background;
  position: absolute;
  width: 100%;
  z-index: 3;
}

// To use same styles with a different class
// because it's manipulated by JS script
.dropdown-toggle {
  @extend .p-navigation__item--dropdown-toggle;
}
