@mixin canonical-p-strips {
  $page-gutter-width: calc(100% - $grid-max-width) / 2;
  $grid-plus-one-gutter-width: calc(100% - $page-gutter-width);

  %accent-border-base {
    overflow: hidden;

    &::before {
      background-color: $color-border-accent;
      content: "";
      height: 3px;
      max-width: $grid-plus-one-gutter-width;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .p-strip--suru-light-grey {
    @extend %vf-strip;

    background-color: $color-light;

    @media (min-width: $breakpoint-large) {
      background-image: url('https://assets.ubuntu.com/v1/1712bdc6-suru-2.0-light-1.jpg');
      background-position: center left;
      background-size: 130%;
    }
  }

  .p-strip--suru-dark-grey {
    @extend %vf-strip;
  
    background-color: $color-dark;
    color: $color-light;
    
    @media (min-width: $breakpoint-large) {
      background-image: url('https://assets.ubuntu.com/v1/70b49764-suru-2.0-dark-1.jpg');
      background-position: center left;
      background-size: 130%;
    }
  }

  .has-accent-border--top-left {
    @extend %accent-border-base;

    &::before {
      left: -1rem;

      @media (min-width: $breakpoint-small) {
        left: -1.5rem;
      }
    }
  }

  .has-accent-border--top-right {
    @extend %accent-border-base;

    &::before {
      right: -1rem;

      @media (min-width: $breakpoint-small) {
        right: -1.5rem;
      }
    }
  }
}
