@mixin canonical-p-tabs {
  .p-icon-tabs {
    &__tab {
      border: 0;
      display: block;

      &[aria-selected="true"],
      &:hover {
        background: transparent;

        img {
          filter: none;
        }
      }

      img { 
        display: block; 
        filter: grayscale(100%);
      }
    }
  }
}
