@import "../../node_modules/vanilla-framework";

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

$color-brand: #7c355d;
$color-dark: $colors--dark-theme--background-default;
$color-tabs-active-bar: $colors--light-theme--text-default;
$nudge--small: 0.55rem;
$p-small-lh-diff: map-get($line-heights, default-text) -
  map-get($line-heights, small);

@import "pattern_animations";
@import "pattern_application";
@import "pattern_cards";
@import "pattern_careers-modal";
@import "pattern_footer";
@import "pattern_forms";
@import "pattern_lists";
@import "pattern_media-object";
@import "pattern_strip";
@import "pattern_navigation";
@import "pattern_search-panel";
@import "pattern_careers-progression";

@include vanilla;
@include vf-p-icon-status-waiting;
@include vf-p-icon-user-group;
@include vf-p-icon-video-play;
@include vf-p-icon-warning-grey;
@include canonical-u-animations;
@include canonical-p-stepped-list;
@include canonical-p-card;
@include canonical-p-careers-modal;
@include canonical-p-lists;
@include canonical-p-feedback;
@include canonical-p-footer;
@include canonical-p-forms;
@include canonical-p-withdrawal-modal;
@include canonical-p-media-object;
@include canonical-p-strip;
@include canonical-p-search-panel;
@include canonical-u-footer-align-bottom;
@include canonical-p-careers-progression;

.js-find-a-partner__partner {
  // find-a-partner search
  display: none;
}

.js-filtered.js-searched {
  // find-a-partner search
  display: grid;
}

.required-legend {
  font-size: small;
  margin-bottom: 0;
  padding: 0;

  &::before {
    color: $color-negative;
    content: "*";
    position: relative;
    right: 0.25rem;
  }
}

.js-partner-link:hover .p {
  border-right: $bar-thickness solid $colors--light-theme--text-default;
}

.p-image--shadowed {
  border-radius: 2px;
  box-shadow: 0 -2px 27px 0 rgba(0 0 0 / 50%);
}

.is-sticky {
  position: sticky;
  top: 0;
}

// Override h2 in job descriptions to look like h3
.job-desc {
  h1 {
    @extend %vf-heading-2;
  }

  h2 {
    @extend %vf-heading-3;
  }

  h3 {
    @extend %vf-heading-5;
  }

  // Hide any empty p tags or consecutive breaks
  p:empty,
  br + br {
    display: none;
  }
}

// Style for main navigation
.p-navigation__dropdown a.is-selected {
  border-left: 4px solid white;
  color: white !important;
}

.p-navigation__dropdown .p-navigation__dropdown-item {
  color: #eeedeb !important;
  position: relative;
}

.p-navigation__dropdown
  > li:not(:first-child)
  > .p-navigation__dropdown-item::before {
  @media (min-width: $breakpoint-navigation-threshold) {
    background: rgba(255 255 255 / 10%);
    bottom: 0;
    content: "";
    height: 1px;
    left: 1rem;
    position: absolute;
    right: 0;
  }
}

.p-navigation__sub-list {
  @extend .p-navigation__item;

  margin-left: 0;
  padding-left: 0;
}

.p-navigation__sub-list > li {
  > a {
    @media (min-width: $breakpoint-navigation-threshold) {
      padding-left: 2rem;

      &::before {
        background: rgba(255 255 255 / 10%);
        bottom: 0;
        content: "";
        height: 1px;
        left: 2rem;
        position: absolute;
        right: 0;
      }
    }
  }
}

.p-featured {
  gap: 0;

  &__item {
    cursor: pointer;
    margin-right: 1px;
    padding: 0 1rem 1rem;

    &:nth-child(3n + 3) {
      padding-right: 0;
    }

    &:active {
      background-color: $colors--light-theme--background-active;
    }

    &:hover {
      background-color: $colors--light-theme--background-hover;

      a {
        text-decoration: underline;
      }
    }
  }

  &__role {
    box-shadow: 0 4px 2px -2px $colors--light-theme--border-default;
    margin-top: 0.5rem;
    min-height: 5rem;
    padding-top: 0.5rem;
  }

  &__filler {
    border-top: 1px solid $colors--light-theme--border-default;
    margin-right: 1px;
    padding: 0 1rem 1rem;
  }

  &.is-fast-track &__item {
    background-color: $color-light;
  }
}

// When a blog card does not have a featured image, hide the container
.blog-p-card__content > .u-crop--16-9:has(.article-image:empty) {
  display: none;
}

.p-inline-list.is-inlined-with-h2 {
  display: inline-block;
  margin: 1.5rem 0 0 1rem;
}

// Makes side-navigation fit with the custom top-navigation of c.com
.p-side-navigation {
  &--raw-html.is-sticky {
    top: 4.5rem;
    z-index: 5; // make sure it's higher than 2, that is used by some components (like the rules)
  }

  &__drawer {
    top: 48px;
  }
}

.p-list--travel {
  @extend .p-list--divided;

  columns: 5;

  @media (max-width: 620px) {
    columns: 3;
  }
}

.p-card--pillar {
  background: url("https://assets.ubuntu.com/v1/8131976a-sustainability-suru.png");
  background-position: -45px 45px;
  background-size: cover;
  height: 400px;
  margin-top: 1rem;
  padding: calc(1rem - 1px);

  @media screen and (max-width: $breakpoint-small) {
    height: auto;
  }

  &:nth-child(2) {
    background-position: -1104px 49px;

    @media screen and (max-width: $breakpoint-small) {
      background-position: -1055px 49px;
    }
  }

  &.is-last-pillar {
    background-position: -1300px 65px;

    @media screen and (max-width: $breakpoint-small) {
      background-position: -1300px 55px;
    }
  }
}

.u-data-border--top {
  border-top: 3px solid $color-dark;
}

.u-image-margin--top {
  margin-bottom: -0.5rem;
  margin-top: 0.5rem;
}

// A utility to stack elements on top of another
// feel free to reuse
.u-stack {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.p-equal-opportunities {
  background-color: #f4f4f3;

  .p-heading--2 {
    border-left: 3px solid #e95420;
    margin: 0;
    padding: 0 0 0 1.5rem;
  }
}

.p-strip--diversity {
  @extend .p-strip--light;

  background-color: $color-paper;
}

.p-heading--bold {
  font-weight: $font-weight-bold;
}

// Adjustment for career navigation
.muted-color {
  color: #a7a7a7;
}

.p-image-wrapper {
  margin-top: $spv--medium;

  &.is-partner {
    background-color: #fff;
  }
}

.p-department-cards__container {
  aspect-ratio: auto;
  background-color: #fff;

  @media screen and (min-width: $breakpoint-large) {
    aspect-ratio: 2 / 3;
    margin-bottom: $spv--large;
    margin-top: $spv--small;
  }

  .p-department-cards__card {
    @extend %vf-bg--x-light;
    @extend %vf-card-padding;
    // Push roles text down
    @extend .u-stack;

    align-items: center;
    background-color: $color-paper;
    flex-flow: row nowrap;
    overflow: auto;
    padding: $spv--small;

    @media screen and (min-width: $breakpoint-large) {
      align-items: start;
      background-color: #fff;
      flex-flow: column nowrap;
      justify-content: space-between;
      overflow: hidden;
      padding: $spv--large;
    }

    .p-department-cards__link {
      color: $color-link;

      &:hover {
        text-decoration: underline;
      }
    }

    .p-department-cards__icon {
      height: 2rem;
      position: relative;
      top: 0.4375rem;
      width: 2rem;
    }

    .p-department-cards__image-container {
      align-items: center;
      display: flex;

      @media screen and (min-width: $breakpoint-large) {
        align-items: flex-start;
        flex-direction: column;
      }
    }

    .p-department-cards__image {
      height: 2.25rem;
      padding-right: $spv--small;
      width: 2.25rem;
    }
  }
}

// Remote work collage
.p-remote-work__collage-container {
  column-gap: 0.71rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 500px;
  row-gap: 0.71rem;

  .p-remote-work__collage--1 {
    height: 181px;
    width: 121px;

    @media screen and (max-width: 688px) {
      height: 181px;
      width: 121px;
    }
  }

  .p-remote-work__collage--2 {
    align-self: end;
    height: 121px;
    width: 200px;

    @media screen and (max-width: 688px) {
      height: 121px;
      width: 200px;
    }
  }

  .p-remote-work__collage--3 {
    align-self: flex-start;
    height: 121px;
    margin-left: 1.5rem;
    width: 181px;

    @media screen and (max-width: 688px) {
      height: 121px;
      margin-left: 0.5rem;
      width: 181px;
    }
  }

  .p-remote-work__collage--4 {
    height: 181px;
    width: 121px;

    @media screen and (max-width: 688px) {
      height: 181px;
      width: 121px;
    }
  }
}

.p-overlayed-section {
  $second-row: #{$spv--strip-regular + map-get($line-heights, h2-mobile) +
    map-get($nudges, h1)};

  display: grid;
  grid-template-rows: auto $second-row 1fr;

  &__illustration {
    display: none;

    @media screen and (min-width: $breakpoint-large) {
      aspect-ratio: 2.43;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      grid-column: 1;
      grid-row: 1 / 3;
    }
  }

  > .row {
    grid-column: 1;
    grid-row: 2 /4;
  }

  &__content {
    @extend %section-padding--default;
    background-color: $color-paper;
  }
}

.p-laptop-image-wrapper {
  @extend %vf-card;
  align-items: center;
  aspect-ratio: 0.67;
  display: flex;
  justify-content: center;
}

.p-card--silicon-h-suru {
  align-items: center;
  aspect-ratio: 269/150;
  background: #000 url("https://assets.ubuntu.com/v1/2923651d-background-1.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  width: 100%;
}

.p-card--silicon-v-suru {
  align-items: center;
  aspect-ratio: 2/3;
  background: #000 url("https://assets.ubuntu.com/v1/8c04e56e-background-3.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  width: 100%;
}

.p-testimonial {
  @extend %fixed-width-container;

  padding-bottom: $sph--x-large;
  position: relative;

  @supports (display: grid) {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 0 map-get($grid-gutter-widths, small);
    grid-template-columns: repeat($grid-columns-small, minmax(0, 1fr));
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-max-width;

    @media (min-width: $breakpoint-x-small) {
      grid-gap: 0 map-get($grid-gutter-widths, default);
      grid-template-columns: repeat($grid-columns-medium, minmax(0, 1fr));
    }

    @media (min-width: $breakpoint-small) {
      grid-gap: 0 map-get($grid-gutter-widths, default);
      grid-template-columns: repeat($grid-columns, minmax(0, 1fr));
    }
  }

  .p-testimonial__logo {
    @media (max-width: ($breakpoint-x-small - 1)) {
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
    }

    @media (min-width: $breakpoint-x-small) and (max-width: ($breakpoint-small - 1)) {
      grid-column: auto / span 2;
    }

    @media (min-width: $breakpoint-small) {
      grid-column: auto / span 3;
    }
  }

  .p-testimonial__author {
    @media (max-width: ($breakpoint-x-small - 1)) {
      grid-column: 3 / span 2;
      grid-row: 2 / span 1;
    }

    @media (min-width: $breakpoint-x-small) and (max-width: ($breakpoint-small - 1)) {
      grid-column: auto / span 1;
    }

    @media (min-width: $breakpoint-small) {
      grid-column: auto / span 3;
    }
  }

  .p-testimonial__quote {
    @media (max-width: ($breakpoint-x-small - 1)) {
      grid-column: 1 / span 4;
      grid-row: 1 / span 1;
    }

    @media (min-width: $breakpoint-x-small) and (max-width: ($breakpoint-small - 1)) {
      grid-column: auto / span 3;
    }

    @media (min-width: $breakpoint-small) {
      grid-column: auto / span 6;
    }
  }
}

.u-pad-logo {
  padding-top: 0.2rem;
}

.is-ticked.is-play-button::before {
  @include vf-icon-video-play($color-mid-dark);
}

// new homepage styles

.is-graphite {
  background: $colors--dark-theme--background-default;
  color: $colors--dark-theme--text-default;
}

.is-graphite,
.is-dark {
  a:not([class^="p-button"]) {
    color: $color-link-dark;

    &:visited {
      color: $color-link-visited-dark;
    }
  }
}

.p-heading--display {
  font-size: 4rem;
  font-style: normal;
  font-weight: 100;
  line-height: 4.5rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
  max-width: $text-max-width;
  padding-top: 0;

  @media (min-width: $breakpoint-heading-threshold) {
    font-size: 5rem;
    line-height: 5.5rem;
  }
}

.partners-logo {
  max-width: 10rem;

  @media (max-width: $breakpoint-large - 1) {
    max-width: 100%;
  }
}

// used to obfuscate email addresses on projetcs/directory
.sign {
  color: transparent;
  display: inline-flex;
  height: 1.3rem;
  overflow: hidden;
  position: relative;

  &::before {
    color: $colors--light-theme--text-default;
    display: inline;
    position: relative;
  }

  &--first {
    width: 1rem;

    &::before {
      content: "@";
    }
  }

  &--second {
    width: 4px;

    &::before {
      content: ".";
    }
  }
}

// XXX 03/07/23 Lyubomir Popov - remove when this is fixed https://github.com/canonical/vanilla-framework/issues/4818
.p-breadcrumbs {
  margin-bottom: $spv--small;
}

// XXX 03/07/23 Lyubomir Popov - prevents overflow on mobile; high specificity selectors require !importnat to override. Remove whan this is fixed: https://github.com/canonical/vanilla-framework/issues/4820
.p-pagination {
  flex-wrap: wrap;
}

.aside {
  grid-row: 2;

  @media (min-width: $breakpoint-small) {
    grid-row: auto;
  }
}

.p-icon--chevron-right {
  @extend .p-icon--chevron-up;

  transform: rotate(-90deg);
}

.p-engineering-fast-track {
  margin-bottom: $spv--large;

  &__container {
    background-color: $color-x-light;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;

    &:hover {
      background-color: rgba(0, 0, 0, $hover-background-opacity-amount);
    }
  }

  &__item {
    padding: 0 $spv--medium $spv--small;

    &::before {
      background: rgb(17 17 17 / 20%);
      content: "";
      display: block;
      height: 3.5rem;
      position: absolute;
      right: 2.9375rem;
      width: 1px;
    }
  }

  &__url {
    &:hover,
    &:active,
    &:visited {
      background-color: rgba(0, 0, 0, $hover-background-opacity-amount);
      color: $color-dark;
      text-decoration: none;
    }

    &:focus,
    &:focus-visible {
      display: block;
      outline: 0.1875rem solid #2e96ff !important;
      outline-offset: -0.1875rem !important;
    }
  }

  &__chevron {
    margin: $spv--small $spv--large 0;
  }
}

#latest-articles article:first-child hr {
  display: none;
}

.p-logo-section {
  &__items {
    justify-content: flex-start;
    margin-left: 0;
    width: 100%;
  }

  &__item,
  [class^=col] &__item {

    margin-left: 0;
    margin-right: 3rem;
    width: auto;
  }

  &__logo {
    height: 8rem;
    width: auto;
  }
}

.p-navigation__overlay.is-applied {
  @media screen and (min-width: $breakpoint-large) {
    opacity: .08;
    pointer-events: all;
  }
}

.u-extra-space {
  margin-bottom: 4rem;
}

.p-tabs.is-home {
  padding-left: $spv--x-large;
  padding-right: $spv--x-large;

  @media screen and (max-width: $breakpoint-small - 1) {
    padding-left: $spv--large;
    padding-right: $spv--large;
  }
  
  .p-tabs__list {
    overflow-x: initial;
  }

  .p-tabs__link {
    @media screen and (max-width: $breakpoint-x-small - 1) {
      padding-left: $spv--medium;
      padding-right: $spv--medium;
    }
  }
}
