$color-tabs-active-bar: #000000;
@import "../../node_modules/vanilla-framework";

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

$color-brand: #7c355d;
$color-dark: #262626;
$color-paper: #f3f3f3;
$nudge--small: 0.55rem;
$p-small-lh-diff: map-get($line-heights, default-text) - map-get($line-heights, small);

@import "pattern_animations";
@import "pattern_application";
@import "pattern_buttons";
@import "pattern_blog-card";
@import "pattern_cards";
@import "pattern_careers-modal";
@import "pattern_footer";
@import "pattern_forms";
@import "pattern_headings";
@import "pattern_lists";
@import "pattern_media-object";
@import "pattern_strip";
@import "pattern_tabs";
@import "pattern_search-panel";
@import "pattern_search-form";
@import "pattern_careers-progression";

@include vanilla;
@include vf-p-icon-status-waiting;
@include vf-p-icon-user-group;
@include vf-p-icon-video-play;
@include vf-p-icon-warning-grey;
@include vf-p-icon-begin-downloading;
@include blog-p-card;
@include canonical-u-animations;
@include canonical-p-stepped-list;
@include canonical-p-buttons;
@include canonical-p-card;
@include canonical-p-careers-modal;
@include canonical-p-lists;
@include canonical-p-feedback;
@include canonical-p-footer;
@include canonical-p-forms;
@include canonical-p-headings;
@include canonical-p-withdrawal-modal;
@include canonical-p-media-object;
@include canonical-p-strip;
@include canonical-p-tabs;
@include canonical-p-search-panel;
@include canonical-search-form;
@include canonical-u-footer-align-bottom;
@include canonical-p-careers-progression;
@include canonical-partners-footer;

.is-grey {
  background-color: $color-mid-x-light;
}

.is-parallax {
  background-attachment: fixed;
}

.js-find-a-partner__partner {
  // find-a-partner search
  display: none;
}

.js-filtered.js-searched {
  // find-a-partner search
  display: block;
}

.p-accordion-panel {
  overflow: auto; // include child margins into its height
  padding-left: 1.5rem;
  padding-top: 1.5rem;

  // Hides panel content
  &[aria-hidden="true"] {
    display: none;
  }

  @media (max-width: $breakpoint-large - 1) {
    padding-left: 1rem;
    padding-top: 1rem;
  }
}

.p-pull-quote--inverted {
  overflow-x: hidden;

  .p-pull-quote__quote {
    &::before {
      color: $color-x-light;
    }

    &::after {
      color: $color-x-light;
    }
  }
}

.required-legend {
  font-size: small;
  margin-bottom: 0;
  padding: 0;

  &::before {
    color: $color-negative;
    content: "*";
    position: relative;
    right: 0.25rem;
  }
}

.js-partner-link:hover .p {
  border-right: 3px solid $color-tabs-active-bar;
}

[type="checkbox"] + label.p-checkbox-label--h2 {
  $offset-top--h2-large: 1.2rem;
  $offset-top--h2-small: 0.8rem;
  $tick-offset: 0.1875rem;

  &::before {
    top: $offset-top--h2-small;

    @media (min-width: $breakpoint-heading-threshold) {
      top: $offset-top--h2-large;
    }
  }

  &::after {
    top: $offset-top--h2-small + $tick-offset;

    @media (min-width: $breakpoint-heading-threshold) {
      top: $offset-top--h2-large + $tick-offset;
    }
  }
}

.p-separator {
  margin: 4rem 0;
}

.p-image--shadowed {
  border-radius: 2px;
  box-shadow: 0 -2px 27px 0 rgba(0 0 0 / 50%);
}

.p-media-object__image.is-small {
  margin: 0 1rem 0 0.5rem;
  position: relative;
  top: 6px;
}

.p-inline-list--middot.is-x-dense {
  .p-inline-list__item::after {
    right: -0.7rem;
    top: 0.8em;
  }
}

.is-sticky {
  position: sticky;
  top: 0;
}

.p-reveal-link {
  padding-right: 2rem;
  position: relative;

  &:visited {
    color: $color-link;
  }

  &::after {
    @include vf-icon-chevron(vf-url-friendly-color($color-link));

    background-position: top 52% right 50%;
    background-repeat: no-repeat;
    background-size: 0.75rem;
    content: "";
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: transform 0.1s;
    width: 2rem;
  }

  &.is-open {
    &::after {
      transform: rotate(-180deg);
    }
  }
}

// Override h2 in job descriptions to look like h3
.job-desc {
  h1 {
    @extend %vf-heading-2;
  }

  h2 {
    @extend %vf-heading-3;
  }

  h3 {
    @extend %vf-heading-5;
  }

  // Hide any empty p tags or consecutive breaks
  p:empty,
  br + br {
    display: none;
  }
}

.desktop-hero {
  background-image: url("#{$assets-path}ce95be94-careers-guy.jpg");
  background-position: right bottom;
  background-size: 1000px auto;

  @media only screen and (min-width: 2000px) {
    background-size: 75%;
  }

  &--subtext {
    max-width: 28em;

    @media only screen and (max-width: 874px) and (min-width: 620px) {
      width: 50%;
    }
  }
}

// Style for main navigation
.p-navigation__dropdown a.is-selected {
  border-left: 4px solid white;
  color: white !important;
}

.p-navigation__dropdown .p-navigation__dropdown-item {
  color: #eeedeb !important;
  position: relative;
}

.p-navigation__dropdown
  > li:not(:first-child)
  > .p-navigation__dropdown-item::before {
    @media (min-width: $breakpoint-navigation-threshold) {
      background: rgba(255 255 255 / 10%);
      bottom: 0;
      content: "";
      height: 1px;
      left: 1rem;
      position: absolute;
      right: 0;
    }
}

.p-navigation__sub-list {
  @extend .p-navigation__item;

  margin-left: 0;
  padding-left: 0;
}

.p-navigation__sub-list > li {
  > a {
    @media (min-width: $breakpoint-navigation-threshold) {
      padding-left: 2rem;

      &::before {
        background: rgba(255 255 255 / 10%);
        bottom: 0;
        content: "";
        height: 1px;
        left: 2rem;
        position: absolute;
        right: 0;
      }
    }
  }
}

.p-featured {
  gap: 0;

  &__item {
    cursor: pointer;
    margin-right: 1px;
    padding: 0 1rem 1rem;

    &:nth-child(3n + 3) {
      padding-right: 0;
    }

    &:active {
      background-color: $colors--light-theme--background-active;
    }

    &:hover {
      background-color: $colors--light-theme--background-hover;

      a {
        text-decoration: underline;
      }
    }
  }

  &__role {
    box-shadow: 0 4px 2px -2px $colors--light-theme--border-default;
    margin-top: 0.5rem;
    min-height: 5rem;
    padding-top: 0.5rem;
  }

  &__filler {
    border-top: 1px solid $colors--light-theme--border-default;
    margin-right: 1px;
    padding: 0 1rem 1rem;
  }

  &.is-fast-track &__item {
    background-color: $color-light;
  }
}

// When a blog card does not have a featured image, hide the container
.blog-p-card__content > .u-crop--16-9:has(.article-image:empty) {
  display: none;
}

// XXX: appending this to the vanilla placeholder. Remove when this pr is merged: https://github.com/canonical/vanilla-framework/pull/4625
%social-icon {
  max-height: 1.5rem;
  max-width: 1.5rem;
}

.p-inline-list.is-inlined-with-h2 {
  display: inline-block;
  margin: 1.5rem 0 0 1rem;
}

// Makes side-navigation fit with the custom top-navigation of c.com
.p-side-navigation {
  &--raw-html.is-sticky {
    top: 4.5rem;
    z-index: 1;
  }

  &__drawer {
    top: 48px;
  }
}

.p-side-navigation__drawer.is-documentation{
 ul li {
  background: #f3f3f3;

  a {
    color: #3097ff;
    padding-left: 0;

    &:visited {
      color: #AB83D3;
    }
  }
 }
}

.documentation-images {
  object-fit: cover;
  width: 64px;
  height: 100px;
}

// XXX: Ant - 21/02/2023
// Fix for breakage introduced in Vanilla v3.11.1
// Reported: https://github.com/canonical/vanilla-framework/issues/4664
.p-text--x-small-capitalised {
  font-size: 1rem;
  font-weight: 400;
}

.p-list--travel {
  @extend .p-list--divided;

  columns: 5;

  @media (max-width: 620px) {
    columns: 3;
  }
}

.p-card--pillar {
  background: url("https://assets.ubuntu.com/v1/8131976a-sustainability-suru.png");
  background-position: -45px 45px;
  background-size: cover;
  height: 400px;
  margin-top: 1rem;
  padding: calc(1rem - 1px);

  @media screen and (max-width: $breakpoint-small){
    height: auto;
  }

  &:nth-child(2) {
    background-position: -1104px 49px;

    @media screen and (max-width: $breakpoint-small){
      background-position: -1055px 49px;
    }
  }

  &:nth-child(3) {
    background-position: -1300px 65px;

    @media screen and (max-width: $breakpoint-small){
      background-position: -1300px 55px;
    }
  }
}

.p-strip--careers {
  @extend .p-strip--dark;

  background-image: url('https://assets.ubuntu.com/v1/78c0cbe3-05_suru2_dark_2K.jpg');
  background-position: 100 0%;
  background-size: cover;

  @media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-large - 1) {
    background-size: inherit;
  }
}

.u-data-border--top {
  border-top: 3px solid $color-dark;
}

.u-image-margin--top {
  margin-bottom: -0.5rem;
  margin-top: 0.5rem;
}

// A utility to stack elements on top of another
// feel free to reuse
.u-stack {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.u-flex {
  display: flex;
}

.p-equal-opportunities {
  background-color: #f4f4f3;

  .p-heading--2 {
    border-left: 3px solid #e95420;
    margin: 0;
    padding: 0 0 0 1.5rem;
  }
}

.p-strip--diversity-hero {
  @extend .p-strip;

  background-color: #f4f4f3;
  background-image: url('https://assets.ubuntu.com/v1/6ee7af42-0_website_suru_25.png');
  background-position: center 105%;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 18rem;
  padding-top: 8rem;
}

.p-strip--diversity {
  @extend .p-strip--light;

  background-color: #f4f4f3;
}

.u-no-padding--left {
  padding-left: 0;
}

.u-no-padding--right {
  padding-right: 0;
}

.p-heading--bold {
  font-weight: $font-weight-bold;
}

/// pete f - 09/05/2023
/// can be removed once added upstream
.is-paper {
  background-color: #f3f3f3;
}

/// ochuko p. 17/05/2023
/// can be removed once added upstream
.p-strip--paper {
  @extend .p-strip;

  background-color: #f2f2f2;
}

.p-image-wrapper {
  padding-top: $spv--small;
}

// XXX Ochuko 01/06/2023
// Custom styles for 2 by 3 aspect ratio containers
// will propose to Vanilla to add this to the framework
.u-aspect-ratio--2-3 {
  aspect-ratio: 2 / 3;
  width: 100%;
}

.p-image--2-3 {
  @extend .u-aspect-ratio--2-3;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.p-department-cards__container {  
  aspect-ratio: auto;
  background-color: #fff;

  @media screen and (min-width: $breakpoint-large) {
    aspect-ratio: 2 / 3;
    margin-bottom: $spv--large;
    margin-top: $spv--small;
  }

  .p-department-cards__card {
    @extend %vf-bg--x-light;
    @extend %vf-card-padding;
    // Push roles text down
    @extend .u-stack;

    align-items: center;
    background-color: $color-paper;
    flex-flow: row nowrap;
    overflow: auto;
    padding: $spv--small;

    @media screen and (min-width: $breakpoint-large) {
      align-items: start;
      background-color: #fff;
      flex-flow: column nowrap;
      justify-content: space-between;
      overflow: hidden;
      padding: $spv--large;
    }

    .p-department-cards__link {
      color: $color-link;
      
      &:hover {
        text-decoration: underline;
      }
    }

    .p-department-cards__icon {
      height: 2rem;
      position: relative;
      top: 0.4375rem;
      width: 2rem;
    }
    
    .p-department-cards__image-container {
      align-items: center;
      display: flex;

      @media screen and (min-width: $breakpoint-large) {
        align-items: flex-start;
        flex-direction: column;
      }
    }

    .p-department-cards__image {
      height: 2.25rem;
      padding-right: $spv--small;
      width: 2.25rem;
    }
  }
}

.p-suru25light {
  background-color: #f3f3f3;
  background-image: url('https://assets.ubuntu.com/v1/7f34ade9-website_suru_25.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: $grid-max-width;
  padding-top: 19%;
}


// Remote work collage
.p-remote-work__collage-container {
  column-gap: 0.71rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 500px;
  row-gap: 0.71rem;

  .p-remote-work__collage--1 {
    height: 181px;
    width: 121px;

    @media screen and (max-width: 688px) {
      height: 181px;
      width: 121px;
    }
  }

  .p-remote-work__collage--2 {
    align-self: end;
    height: 121px;
    width: 200px;

    @media screen and (max-width: 688px) {
      height: 121px;
      width: 200px;
    }
  }

  .p-remote-work__collage--3 {
    align-self: flex-start;
    height: 121px;
    margin-left: 1.5rem;
    width: 181px;

    @media screen and (max-width: 688px) {
      height: 121px;
      margin-left: 0.5rem;
      width: 181px;
    }
  }

  .p-remote-work__collage--4 {
    height: 181px;
    width: 121px;

    @media screen and (max-width: 688px) {
      height: 181px;
      width: 121px;  
    }
  }
}
