<label class="p-checkbox">
  <input type="checkbox" class="p-checkbox__input js-find-a-partner__filter" name="ai-ml" aria-labelledby="ai-ml">
  <span class="p-checkbox__label" id="ai-ml">AI/ML</span>
</label>
<label class="p-checkbox">
  <input type="checkbox" class="p-checkbox__input js-find-a-partner__filter" name="cloud-server" aria-labelledby="cloud-server">
  <span class="p-checkbox__label" id="cloud-server">Cloud/server</span>
</label>
<label class="p-checkbox">
  <input type="checkbox" class="p-checkbox__input js-find-a-partner__filter" name="containers" aria-labelledby="containers">
  <span class="p-checkbox__label" id="containers">Containers</span>
</label>
<label class="p-checkbox">
  <input type="checkbox" class="p-checkbox__input js-find-a-partner__filter" name="edge-gateway" aria-labelledby="edge-gateway">
  <span class="p-checkbox__label" id="edge-gateway">Edge Gateway</span>
</label>
<label class="p-checkbox">
  <input type="checkbox" class="p-checkbox__input js-find-a-partner__filter" name="personal-computing-devices" aria-labelledby="personal-computing-devices">
  <span class="p-checkbox__label" id="personal-computing-devices">Personal computing/devices</span>
</label>
<label class="p-checkbox">
  <input type="checkbox" class="p-checkbox__input js-find-a-partner__filter" name="robotics" aria-labelledby="robotics">
  <span class="p-checkbox__label" id="robotics">Robotics</span>
</label>