{% extends 'base_index.html' %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1PAeP_ZO4JzSBCi-fRp6F7SYtSSRY-4DcWLUf9HJaMxs/edit
{% endblock meta_copydoc %}

{% block meta_image %}https://assets.ubuntu.com/v1/60b625a2-rav_2504_1.jpg{% endblock %}

{% block title %}Company culture | Careers{% endblock %}

{% block meta_description %}
  Canonical's culture is built on trust, enriched by our commitment to excellence and global diversity. If you value collaboration, you'll love working here.
{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}
  <section class="p-section--hero p-section--shallow u-padding-bottom-4rem">
    <div class="row">
      <div class="col-6 col-medium-3">
        <h1 class="u-no-margin--bottom">Company culture</h1>
        <h2>Life at Canonical</h2>
        <p>
          We believe that talent is evenly distributed around the world, so opportunity should be too. So we can engage with exceptional people, regardless of their location, we operate as a fully distributed organization. We all embrace collaboration, rigor, a passion for technology, and precision, enabling a single mission: to amplify the impact of open source.
        </p>
      </div>
      <div class="col-6 col-medium-3">
        <div class="p-image-container--3-2 is-cover">
          {{ image(url="https://assets.ubuntu.com/v1/60b625a2-rav_2504_1.jpg",
                    alt="Canonical team members collaborating around a table",
                    width="600",
                    height="400",
                    hi_def=True,
                    loading="auto",
                    attrs={"class": "p-image-container__image", "fetchpriority": "high"}) | safe
          }}
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip u-no-padding--top">
    <div class="row">
      <div class="col-3 col-medium-3">
        <h2 class="p-muted-heading">We're Canonical</h2>
      </div>
      <div class="col-3 col-medium-2">
        <hr class="p-rule--highlight" />
        <p class="p-heading--2 u-no-margin--bottom"><strong>1,400+</strong></p>
        <p class="p-heading--3">People</p>
      </div>
      <div class="col-3 col-medium-2">
        <hr class="p-rule--highlight" />
        <p class="p-heading--2 u-no-margin--bottom"><strong>75+</strong></p>
        <p class="p-heading--3">Countries</p>
      </div>
      <div class="col-3 col-medium-2">
        <hr class="p-rule--highlight" />
        <p class="p-heading--2 u-no-margin--bottom"><strong>90+</strong></p>
        <p class="p-heading--3">Nationalities</p>
      </div>
    </div>
  </section>

  <section class="p-strip u-no-padding--top">
    <div class="u-fixed-width">
      <hr class="p-rule" />
    </div>
    <div class="row p-section--shallow">
      <div class="col-6 col-medium-3">
        <h2>Why work at Canonical?</h2>
      </div>
      <div class="col-6 col-medium-3">
        <p>
          At the heart of Canonical is the open source promise: creating, distributing, and advancing the best of open source for a global community. Learn more about what life at Canonical is like.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-start-large-4 col-9 col-medium-6">
        <div class="row p-section--shallow">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Join the force behind open source</h3>
          </div>
          <div class="col-6 col-medium-4">
            <p>
              At Canonical, you'll build world-changing tech alongside the best in the industry, proving that extraordinary ideas are built in the open.
            </p>
            <p>
              Alongside driving our own projects, we contribute staff, code and funding to many more. Discover the <a href="/projects">projects we support</a>.
            </p>
            <p class="u-margin-bottom-0"><a href="/company">Learn more about Canonical's mission&nbsp;&rsaquo;</a></p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row p-section--shallow">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">A distributed workplace, globally united</h3>
          </div>
          <div class="col-6 col-medium-4">
            <p>We are globally distributed by design. We trust you to deliver excellence from wherever you are.</p>
            <p>Regardless of your location, you could find your place here.</p>
            <p class="u-margin-bottom-0">
              <a href="/careers/company-culture/remote-work">Learn more about global collaboration&nbsp;&rsaquo;</a>
            </p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row p-section--shallow">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Setting you up for success</h3>
          </div>
          <div class="col-6 col-medium-4">
            <p>
              From day one, we invest in your development. Each team member has an annual learning budget, and our mentorship program helps team members to flourish.
              <br />
              We recognize development and exceptional contribution through bi-annual compensation reviews and Recognition Awards, spotlighting those who go above and beyond.
            </p>
            <p class="u-margin-bottom-0">
              Social links remain strong through get togethers with your local Canonical team members, localized Mattermost communities, and our opt-in water cooler program.
            </p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row p-section--shallow">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Diversity is our strength</h3>
          </div>
          <div class="col-6 col-medium-4">
            <p>
              Our company comes from many countries, cultures, and backgrounds. Diverse perspectives help us to challenge ideas, work better, and learn more from each other every day. By joining our culture, you gain access to an exceptional community of individuals that celebrate our diversity and support each other, ensuring everyone is welcome.
            </p>
            <p class="u-margin-bottom-0">
              <a href="/careers/company-culture/diversity">Discover more about diversity&nbsp;&rsaquo;</a>
            </p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row p-section--shallow">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Meet your team around the world</h3>
          </div>
          <div class="col-6 col-medium-4">
            <p>
              The fabric of our distributed community is reinforced by coming together regularly for global sprints. As our day-to-day work is asynchronous, these opportunities to collaborate in person encourage our success. Sprints are held at inspiring locations like Sweden, South Africa, Mexico, Spain, and beyond.
            </p>
            <p class="u-margin-bottom-0">Explore new places, collaborate, and connect with colleagues.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="p-strip u-no-padding--top">
    <div class="u-fixed-width">
      <hr class="p-rule" />
    </div>
    <div class="row">
      <div class="col-3 col-medium-2">
        <h2 class="p-muted-heading">Committed to excellence</h2>
      </div>
      <div class="col-9 col-medium-4">
        <div class="p-section--shallow">
          <p>
            We aspire to lead on the global stage. We are all avid students of greatness: we want to define not only the future of technology, but the future of how companies exist, how teams collaborate, and how individuals excel. We pursue excellence in all aspects of our work, from reliably releasing the world's most popular Linux to trailblazing company architecture.
          </p>
        </div>
        <div class="row">
          <div class="col-2 col-medium-1 col-small-1">
            <div class="p-image-container--2-3 is-cover">
              {{ image(url="https://assets.ubuntu.com/v1/eed5b8eb-ghoshal_ishani_id_329_3341_full_1.jpg",
                            alt="Ishani Goshal",
                            width="506",
                            height="759",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-image-container__image"}) | safe
              }}
            </div>
          </div>
          <div class="col-7 col-medium-3 col-small-3">
            <blockquote class="p-pull-quote--small u-no-margin--top u-no-padding--left u-no-padding--right u-display-flex u-flex-direction-column u-justify-content-space-between u-height-100">
              <h4 class="u-font-weight-300 u-no-margin--top">
                <em>"Working here means true ownership of your projects and a steep, rewarding learning curve. At Canonical, you'll collaborate with exceptional global minds to solve complex challenges and build open source software with massive impact."</em>
              </h4>
              <span class="p-pull-quote__citation u-no-margin--bottom"><strong>Ishani Goshal</strong>
                <br />
              Product Manager, Ubuntu Pro</span>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip u-no-padding--top">
    <div class="row">
      <div class="col-3 col-medium-2">
        <h2 class="p-muted-heading">A truly global workplace</h2>
      </div>
      <div class="col-9 col-medium-4">
        <div class="row">
          <div class="col-2 col-medium-1 col-small-1">
            <div class="p-image-container--2-3 is-cover">
              {{ image(url="https://assets.ubuntu.com/v1/ee4a2952-linkedinneutral_1.png",
                            alt="Diogo Sousa",
                            width="506",
                            height="759",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-image-container__image"}) | safe
              }}
            </div>
          </div>
          <div class="col-7 col-medium-3 col-small-3">
            <blockquote class="p-pull-quote--small u-no-margin--top u-no-padding--left u-no-padding--right u-display-flex u-flex-direction-column u-justify-content-space-between u-height-100">
              <h4 class="u-font-weight-300 u-no-margin--top">
                <em>"Canonical enables you to immerse yourself in a world of diverse knowledge. Where else can you debate Esperanto linguistics and switch to kernel internals with the same colleague?"</em>
              </h4>
              <span class="p-pull-quote__citation u-no-margin--bottom"><strong>Diogo Sousa</strong>
                <br />
              Engineering Manager, Security</span>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip u-no-padding--top">
    <div class="row">
      <div class="col-3 col-medium-2">
        <h2 class="p-muted-heading">Built on trust</h2>
      </div>
      <div class="col-9 col-medium-4">
        <div class="row">
          <div class="col-2 col-medium-1 col-small-1">
            <div class="p-image-container--2-3 is-cover">
              {{ image(url="https://assets.ubuntu.com/v1/e4c618ac-korabelnikova_viktoria_id_337_0699_face.jpg",
                            alt="Viktoria Korabelnikova",
                            width="506",
                            height="759",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-image-container__image"}) | safe
              }}
            </div>
          </div>
          <div class="col-7 col-medium-3 col-small-3">
            <blockquote class="p-pull-quote--small u-no-margin--top u-no-padding--left u-no-padding--right u-display-flex u-flex-direction-column u-justify-content-space-between u-height-100">
              <h4 class="u-font-weight-300 u-no-margin--top">
                <em>"At Canonical, great work starts with trust, and ends with excellence. We are dreamers who love the craft of execution -- we think big, and we work even harder to ensure that what we build lasts."</em>
              </h4>
              <span class="p-pull-quote__citation u-no-margin--bottom"><strong>Viktoria Korabelnikova</strong>
                <br />
              Manager, Enterprise Sales</span>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip is-deep u-no-padding--top">
    <div class="u-fixed-width">
      <hr class="p-rule" />
    </div>
    <div class="row">
      <div class="col-start-large-4 col-9 col-medium-6">
        <div class="p-strip is-deep">
          <h2>
            What kind of excellent are you?
            <br />
            <a href="/careers/start">Explore careers&nbsp;&rsaquo;</a>
          </h2>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
