{% extends 'careers/base.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1NqSg2dt5wbmSY6IwWKo9gbxzOuyKL_gUZnFlAux1RU8{% endblock meta_copydoc %}

{% block title %}Progression | Careers{% endblock %}

{% block meta_description %}Canonical prefers internal promotion and encourages high-performing colleagues to pursue diverse roles at the company over the course of their career, to develop a well-rounded perspective.{% endblock %}

{% block content %}
<div class="p-strip--careers-progression u-no-padding--top">
  <div class="u-fixed-width">
    <nav class="p-breadcrumbs" aria-label="Breadcrumbs">
      <ol class="p-breadcrumbs__items p-text--x-small-capitalised">
          <li class="p-breadcrumbs__item"><a class="p-link is-dark" href="/careers">Careers</a></li>
          <li class="p-breadcrumbs__item"><a class="p-link is-dark" href="/careers/company-culture">Company culture</a></li>
          <li class="p-breadcrumbs__item">Progression</li>
      </ol>
    </nav>
    <h1 class="p-text--x-small-capitalised u-hide">Careers</h1>
    <hr class="p-rule is-dark is-bold">
  </div>
</div>
<div class="u-fix-overflow">
  <section class="p-strip--careers-progression is-hero">
    <div class="u-fixed-width">
      <h1 class="p-strip--hero-title">
        <span class="u-animation--slide-right" style="animation-delay: 0.25s">We hire for talent,</span>
        <span class="u-animation--slide-right u-hide--small" style="animation-delay: 0.50s">passion, and work ethic</span>
        <!-- Mobile view -->
        <span class="u-animation--slide-right u-hide--medium u-hide--large" style="animation-delay: 0.50s">passion, and work</span>
        <span class="u-animation--slide-right u-hide--medium u-hide--large" style="animation-delay: 0.50s">ethic</span>
      </h1>
    </div>
    <div class="u-fixed-width u-extra-space">
      <hr class="p-careers-progression-separator u-animation--slide-right-separator"/>
      <p class="u-animation--slide-from-bottom" style="max-width: 373px; animation-delay: 1s; animation-duration: 0.25s;">Your career at Canonical can progress in many ways. We celebrate growth and development in many forms.</p>
    </div>
    <div class="u-fixed-width u-hug-right__container">
      <video id="introductory-video" class="u-hug-right__element" aria-hidden="true" autoplay muted loop controls>
        <source src="https://assets.ubuntu.com/v1/fe470e29-Generic Video.mp4" type="video/mp4">
      </video>
    </div>
  </section>

  <section class="p-strip">
    <div class="row">
      <div class="col-4">
        <h2>We value people who love to learn</h2>
        <p>Not just how to be better engineers but how to be better speakers, how to be better designers, better organisers, better partners, and better vendors.</p>
      </div>
      <div class="col-8 p-collage__container">
        <img class="p-collage--1" data-animation="u-animation--slide-from-bottom" src="https://assets.ubuntu.com/v1/5b3cb508-Image_1.png" alt="Talks" />
        <img class="p-collage--2" data-animation="u-animation--slide-from-bottom" src="https://assets.ubuntu.com/v1/ae1b866a-Image_2.jpg" alt="Employees working together on same laptop" style="animation-delay: 0.25s"/>
        <img class="p-collage--3" data-animation="u-animation--slide-from-bottom" src="https://assets.ubuntu.com/v1/90651b21-Image_3.png" alt="Employees working together on different laptops" style="animation-delay: 0.50s" />
        <img class="p-collage--4" data-animation="u-animation--slide-from-bottom" src="https://assets.ubuntu.com/v1/c707c1cb-Image 4.png" alt="Employee looking at her coworker while smiling" style="animation-delay: 0.75s" />
      </div>
    </div>
  </section>

  <section class="p-strip--careers-progression p-careers-progression__dividers">
    <div class="row" style="border-left: 1px solid rgba(255, 255, 255, 0.25); padding-left: 1.375rem;">
      <div class="col-4 col-medium-3" data-animation="u-animation--slide-from-bottom">
        <div class="p-careers-progression-roles">
          <div>
            <h2>Explore diverse roles</h2>
            <p>We encourage team members to experience diverse roles at Canonical over the course of their career to build deep awareness of company culture,  establish best practices in leadership and grow their technical expertise.</p>
            <p>In fact, flexibility in exploring new roles is one of main reasons people love to work here.</p>
          </div>
          <div class="p-strip--careers-progression u-no-padding--bottom">
            {{
              image (
              url="https://assets.ubuntu.com/v1/0e6df09f-image-1.png",
              alt="",
              width="975",
              height="1461",
              hi_def=True,
              loading="lazy"
              ) | safe
            }}
          </div>
        </div>
      </div>
      <div class="col-4 col-medium-3" style="animation-delay: 0.25s" data-animation="u-animation--slide-from-bottom">
        <div class="p-careers-progression-roles">
          <div>
            <h2>Finding your passion</h2>
            <p>We also explicitly encourage team members to find their passion and invest in that, recognising the benefit to your team and the company when you become a more effective team player.</p>
            <p>We offer a generous annual allowance in support of this effort so that individuals are able to invest in their own learning and development, and we partner with high-quality content providers to make sure our people get access to the best possible training materials, and the time to benefit from them.</p>
          </div>
          <div class="p-strip--careers-progression u-no-padding--bottom">
            {{
              image (
              url="https://assets.ubuntu.com/v1/11c97848-image-2.png",
              alt="",
              width="324",
              height="487",
              hi_def=True,
              loading="lazy",
              attrs={"style": "width: 100%"}
              ) | safe
            }}
          </div>
        </div>
      </div>
      <div class="col-4 col-medium-3" data-animation="u-animation--slide-from-bottom" style="animation-delay: 0.50s">
        <div class="p-careers-progression-roles" style="border-right: 0;">
          <div>
            <h2>Path to management</h2>
            <p>Management is important to us and we like to develop those skills in people who enjoy it. Being a manager at Canonical offers the chance to lead some of the brightest people in tech to design, build, sell and support a growing range of technology products at every level of the stack.</p>
          </div>
          <div class="p-strip--careers-progression u-no-padding--bottom">
            {{
              image (
              url="https://assets.ubuntu.com/v1/11e3f88f-image-3.png",
              alt="",
              width="324",
              height="487",
              hi_def=True,
              loading="lazy",
              attrs={"style": "width: 100%"}
              ) | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="p-strip u-hug-right__container">
    <div class="p-careers-progression--opensource u-hug-right__element">
      <div class="p-stack">
        <div class="p-careers-progression-carousel">
          <div class="p-careers-progression-carousel__slides">
            <div class="p-careers-progression-carousel__slide--text" role="group" aria-label="slide 1 of 4">
              <h2>We touch every aspect of open source technology, and so we offer a wide range of technology and business careers.</h2>
            </div>
            <div class="p-careers-progression-carousel__slide--text" role="group" aria-label="slide 2 of 4">
              <h2>You might start out as a product developer.</h2>
            </div>
            <div class="p-careers-progression-carousel__slide--text" role="group" aria-label="slide 3 of 4">
              <h2>Then choose to get more travel and focus on customer operations.</h2>
            </div>
            <div class="p-careers-progression-carousel__slide--text" role="group" aria-label="slide 4 of 4">
              <h2>Then take on a role in tech leadership and management.</h2>
            </div>
          </div>
        </div>
        <div class="u-hide--large">
          {% include 'careers/_careers-progression-slides.html' %}
        </div>
        <div class="p-careers-progression-carousel__controls">
          <div>
            <ul class="p-careers-progression-carousel__navigation">
              <li>
                <button type="button" aria-current="true" class="p-careers-progression-carousel__selector" tabindex="0" aria-current="true">
                  <span class="u-off-screen">Go to slide 1</span>
                </button>
              </li>
              <li>
                <button type="button" aria-current="false" class="p-careers-progression-carousel__selector" tabindex="1" aria-current="false">
                  <span class="u-off-screen">Go to slide 2</span>
                </button>
              </li>
              <li>
                <button type="button" aria-current="false" class="p-careers-progression-carousel__selector" tabindex="2" aria-current="false">
                  <span class="u-off-screen">Go to slide 3</span>
                </button>
              </li>
              <li>
                <button type="button" aria-current="false" class="p-careers-progression-carousel__selector" tabindex="3" aria-current="false">
                  <span class="u-off-screen">Go to slide 4</span>
                </button>
              </li>
            </ul>
          </div>
          <div class="p-carousel-buttons__group">
            <button type="button" class="p-careers-progression-carousel__previous">
              <span class="u-off-screen">Previous slides</span>
            </button>
            <button type="button" class="p-careers-progression-carousel__next">
              <span class="u-off-screen">Next slides</span>
            </button>
          </div>
        </div>
      </div>
      <div class="u-hide--medium u-hide--small">
      {% include 'careers/_careers-progression-slides.html' %}
      </div>
    </div>
  </section>

  <section class="p-strip--careers-progression">
    <div class="u-fixed-width" data-animation="u-animation--slide-from-bottom">
      <p>Our mission in action</p>    
    <h3 class="p-heading--2 p-strip--careers-progression u-no-padding--top">See what's new at Canonical</h3>
    </div>
    <div class="row u-extra-space" data-animation="u-animation--slide-from-bottom">
      <div class="col-6 col-medium-3">
        {{
          image (
          url="https://assets.ubuntu.com/v1/d26fcfb0-elektrobit-cover.png",
          alt="",
          width="1264",
          height="868",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
      </div>
      <div class="col-6 col-medium-3">
        <small>21 February 2023</small>
        <h3>Elektrobit and Canonical announces EB corbos Linux &dash; built on Ubuntu</h3>
        <small><a href="https://ubuntu.com/blog/elektrobit-and-canonical-announce-eb-corbos-linux-built-on-ubuntu">Read more&nbsp;&rsaquo;</a></small>
      </div>
    </div>
    <div class="row u-extra-space" data-animation="u-animation--slide-from-bottom">
      <div class="col-6 col-medium-3">
        {{
          image (
          url="https://assets.ubuntu.com/v1/058ff4a7-nvidia.png",
          alt="",
          width="633",
          height="453",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
      </div>
      <div class="col-6 col-medium-3">
        <small>20 September 2022</small>
        <h3>Ubuntu Core is set to redefine industrial computing with new edge AI platform NVIDIA IGX</h3>
        <small><a href="https://ubuntu.com/blog/ubuntu-core-set-to-redefine-industrial-computing-with-new-edge-ai-platform-nvidia-igx">Read more&nbsp;&rsaquo;</a></small>
      </div>
    </div>
    <div class="row u-extra-space" data-animation="u-animation--slide-from-bottom">
      <div class="col-6 col-medium-3">
        {{
          image (
          url="https://assets.ubuntu.com/v1/b12ab769-virgin-media-cover.png",
          alt="",
          width="1264",
          height="868",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
      </div>
      <div class="col-6 col-medium-3">
        <small>7 December 2022</small>
        <h3>Virgin Media O2 deploys Charmed OSM to accelerate network function virtualisation for cloud workloads</h3>
        <small><a href="https://ubuntu.com/blog/virgin-media-o2-deploys-charmed-osm-to-accelerate-network-functions-virtualisation-for-cloud-workloads">Read more&nbsp;&rsaquo;</a></small>
      </div>
    </div>
  </section>


  <section>
    <div class="p-strip">
      <div class="u-fixed-width">
        <h2>What team members say</h2>
      </div>
    </div>

    <div class="p-careers-progression__testimonials p-careers-progression__testimonials--mobile">
      <div class="p-3d-carousel u-hide--small u-hide--medium">       
        <div class="p-3d-carousel__container">    
          <div class="p-3d-carousel__item" aria-current="true">
            <p>"At Canonical, every day is different. I am able to learn a lot. The people are consistently amazing."</p>
          </div>
          <div class="p-3d-carousel__item" aria-current="false">
            <p>"Going into management added another dimension to explore which was also fun for self-development. It transformed me deeply".</p>
          </div>
          <div class="p-3d-carousel__item" aria-current="false">
            <p>"I love to work for a mission-driven company that is democratising technology".</p>
          </div>
        </div>
      </div>
      <div class="u-fixed-width u-hide--large">
        <div class="p-careers-progression-cards">
          <p>"At Canonical, every day is different. I am able to learn a lot. The people are consistently amazing."</p>
        </div>
        <div class="p-careers-progression-cards">
          <p>"Going into management added another dimension to explore which was also fun for self-development. It transformed me deeply".</p>
        </div>
        <div class="p-careers-progression-cards">
          <p>"I love to work for a mission-driven company that is democratising technology".</p>
        </div>
      </div>
    </div>
  </section>

  <div class="u-fixed-width u-no-padding--top u-hide--small u-hide--medium" style="max-width: 525px; padding-left: 0; padding-right: 0;">
    <div class="p-careers-progression-carousel__controls">
      <div style="display: flex;">
        <button aria-current="true" class="js-go-to-slide p-careers-progression-carousel__selector" data-target="0" type="button">
          <span class="u-off-screen">Go to slide 1</span>
        </button>
        <button aria-current="false" class="js-go-to-slide p-careers-progression-carousel__selector" data-target="1" type="button">
          <span class="u-off-screen">Go to slide 2</span>
        </button>
        <button aria-current="false" class="js-go-to-slide p-careers-progression-carousel__selector" data-target="2" type="button">
          <span class="u-off-screen">Go to slide 3</span>
        </button>
      </div>
      
      <div class="p-carousel-buttons__group">
        <button id="previous-testimonial" class="p-careers-progression-carousel__previous">
          <span class="u-off-screen">Previous slides</span>
        </button>
        <button id="next-testimonial" class="p-careers-progression-carousel__next">
          <span class="u-off-screen">Next slides</span>
        </button>
      </div>
    </div>
  </div>

  <section class="p-strip">
    <div class="u-fixed-width u-sv3">
      <h2>Be a part of open source</h2>
      <div class="row">
        <div class="col-6">
          {% if vacancies %}
          {% include "careers/_search.html" %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  {% if departments_overview %}
  <section class="p-strip u-extra-space">
    <div class="u-fixed-width">
      <h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default">Departments</h2>
      <hr>
    </div>
    <div class="row">
      {% for dept in departments_overview %}
      <div class="col-3 col-medium-2 col-small-2">
        <div class="p-heading-icon--small">
          <div class="p-heading-icon__header">
            <img src="https://assets.ubuntu.com/v1/{{dept.icon}}" class="p-heading-icon__img" style="width: 32px; height: 32px; position: relative; top: 7px;" alt="">
            <p class="p-heading-icon__title">
              <a href="/careers/{{dept.slug}}"><strong>{{ dept.name }}</strong></a><br />
              <span>{{ dept.count }} roles</span>
            </p>
          </div>
        </div>
      </div>
      {% if loop.index % 4 == 0 and not loop.last  %}
      <hr class="u-hide u-show--large"/>
      {% endif %}
      {% endfor %}
    </div>
  </section>
</div>
{% endif %}

<script type="text/javascript" src="{{ versioned_static('js/careers-progression.js') }}"></script>
{% endblock %}
