{% extends 'base_index.html' %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1391OL7xQec1SY9HFkv80DFwACbdndCIk-N_sFzAXkPU
{% endblock meta_copydoc %}

{% block title %}Remote work | Careers{% endblock %}

{% block meta_description %}
  Travel is central to Canonical's global, distributed workplace. All teams participate in regular team and cross-team events. We spread locations across time zones and look for interesting and diverse cultural places. Many employees return to these destinations with friends and family.
{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}
  <div class="u-fixed-width">
    <nav class="p-breadcrumbs" aria-label="Breadcrumbs">
      <ol class="p-breadcrumbs__items p-text--x-small-capitalised">
        <li class="p-breadcrumbs__item ">
          <a href="/careers">Careers</a>
        </li>
        <li class="p-breadcrumbs__item ">
          <a href="/careers/company-culture">Company culture</a>
        </li>
        <li class="p-breadcrumbs__item ">Remote work</li>
      </ol>
    </nav>
    <h1 class="p-text--x-small-capitalised u-hide">Careers</h1>
    <hr class="p-rule" />
  </div>

  <section class="p-section">
    <div class="row">
      <div class="col-6 col-medium-3">
        <h1>Remote working</h1>
      </div>
      <div class="col-6 col-medium-3">
        <h3 class="p-heading--2">We are remote but connected</h3>
        <p>Canonical has been a fully distributed organization since its origin in 2004.</p>
        <p>
          Digital collaboration allows us to enjoy our home environment and work with the best in the world in our domain. We meet each other at least twice per year during in-person sprints to nurture cross-team relationships. These sprints are fully funded by Canonical, and take place at various locations around the world.
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule" />
    </div>
    <div class="row">
      <div class="col-6 col-medium-3">
        <h2>We build trust</h2>
      </div>
      <div class="col-6 col-medium-3">
        <p>
          Zero commute means more time for the things you enjoy. At the same time, we have very high expectations of commitment and independent execution.
        </p>
        <p>We invest in people who are self-driven, motivated, and highly organized.</p>
        <p>
          We take our responsibility for the most critical elements of open infrastructure very seriously, and we are committed to quality in every aspect of our product and services.
        </p>
        <p>
          <a href="/careers/company-culture">Read more about our tech culture&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule" />
    </div>
    <div class="row">
      <div class="col-6 col-medium-3">
        <h2>We engineer excellence</h2>
      </div>
      <div class="col-6 col-medium-3">
        <p>
          We aspire to lead on the global stage. There’s no other way to describe it than hard work, hard challenges and hard competition.
        </p>
        <p>
          You will need to show that you can compete in deeply challenging intellectual fields. Your colleagues are aiming for the top, and they depend on you to set the same standard in your area of responsibility. That’s tough but incredibly satisfying. We value those who take ownership of their area and take opportunities to be exceptional.
        </p>
        <p>
          <a href="/careers/career-explorer">What kind of excellent are you&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule" />
    </div>
    <div class="row">
      <div class="col-6 col-medium-3">
        <h2>We travel</h2>
      </div>
      <div class="col-6 col-medium-3">
        <p>
          We optimize our team structure for time zone overlap. Collaboration and inspiration takes time to fully develop but leadership at Canonical means building cross-team relationships. We nurture those relationships through regular global summits which bring diverse teams or their leaders together.
        </p>
        <p>
          We host these events around the world to discover great places to explore and appreciate in the process. Team events have taken place in Vancouver, Madrid, Riga, Cape Town, Prague, London, and many more.
        </p>
      </div>
    </div>
    <!-- map goes here -->
    <div class="row">
      <figure>
        <div id="locations-map">
          <noscript>
            <div class="p-strip is-shallow u-no-padding--top">
              <div class="row">
                <div class="col-6 col-medium-3">
                  <h3 class="p-heading--2">Past sprint locations</h3>
                </div>
                <div class="col-6 col-medium-3">
                  <ul class="p-list--travel">
                    {% for location in sprint_locations %}
                      {% set location = location[1] %}
                      <li class="p-list__item">{{ location }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </noscript>
        </div>
        <div class="row">
          <figcaption class="col-6 col-medium-3 col-start-large-7">A sample of sprint locations from the past 5 years</figcaption>
        </div>
      </figure>
    </div>

    <div class="row">
      <div class="col-6 col-medium-3 col-start-large-7">
        <p>
          As our customers transform their deepest and most important infrastructure to benefit from open source, they trust us to advise them and lead them to best practice. That also takes time on site, to whiteboard and to work shoulder to shoulder in their development halls and data centers. Many teams at Canonical travel for that deep customer presence.
        </p>
        <p>
          If you are excited to see the world, Canonical is a great place to be. We expect everybody at Canonical to be willing and able to travel for up to two weeks at a time, twice a year.
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width u-sv2">
      <hr class="p-rule" />
    </div>
    <div class="row">
      <div class="col-6 col-medium-3 col-medium-3 p-remote-work__collage-container">
        <img class="p-remote-work__collage--1"
             src="https://assets.ubuntu.com/v1/c9c4f215-Rectangle%2099.jpg"
             alt="Engineering sprint visits" />
        <img class="p-remote-work__collage--2"
             src="https://assets.ubuntu.com/v1/e272d998-Rectangle%20101.jpg"
             alt="Engineering sprint webteam group photo" />
        <img class="p-remote-work__collage--3"
             src="https://assets.ubuntu.com/v1/7a4dd64e-Rectangle%2090.jpg"
             alt="Engineering sprint team dinner" />
        <img class="p-remote-work__collage--4"
             src="https://assets.ubuntu.com/v1/0513a9e4-Canonical2022_092%201.jpg"
             alt="Employee attending engineering sprint talk" />
      </div>
      <div class="col-6 col-medium-3 u-vertically-center">
        <h2>
          <a href="/careers">Explore the world with
            <br class="u-hide--small" />
          Canonical &dash; browse careers&nbsp;&rsaquo;</a>
        </h2>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule" />
    </div>
    <div class="row">
      <div class="col-6 col-medium-3 col-medium-3">
        <h2>What team members say</h2>
      </div>
      <div class="col-6 col-medium-3">
        <div class="p-section">
          <h4>
            <em>"I always wanted to work remotely, it's a huge quality of life leap. Canonical enables me to do that".</em>
          </h4>
        </div>
        <div class="p-section">
          <hr class="p-rule" />
          <h4>
            <em>"I get to work every day with people from all over the world, which is just amazing".</em>
          </h4>
        </div>
        <div class="p-section">
          <hr class="p-rule" />
          <h4>
            <em>"I love working from home but it's great to see the team during our in-person sprints. It makes working here extra special"</em>
          </h4>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip is-deep" style="background-color: #fff;">
    <div class="u-fixed-width">
      <div class="p-section--shallow">
        <h2 class="p-muted-heading">Join us</h2>
        <h3 class="p-heading--2">
          Be part of a company making a difference
          <br class="u-hide--small" />
          in every area of open source.
        </h3>
      </div>
      {% if vacancies %}
        {% with form_styles="flex-direction: row" %}
          {% include "careers/_search.html" %}
        {% endwith %}
      {% endif %}
    </div>
  </section>

  {# djlint: off #}
  <script>
    const locations = {{sprint_locations | tojson}};
    const isSprintMap = true;
  </script>
  {# djlint: on #}
  <script defer src="{{ versioned_static('js/locations-map.js') }}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiUVShD6fwLGQ8_iF-sCclFkVQFCsazxc&callback=initMap&v=weekly"
          defer></script>
{% endblock %}
