{% extends 'base_index.html' %}

{% from "_macros/vf_hero.jinja" import vf_hero %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1391OL7xQec1SY9HFkv80DFwACbdndCIk-N_sFzAXkPU
{% endblock meta_copydoc %}

{% block title %}Careers | Remote work and company culture{% endblock %}

{% block meta_description %}
  Canonical is a remote-first company. Our policy means we can work with the best talent in the world. We meet in-person at least twice a year at company wide sprints, which take place in exciting locations around the world. Learn about remote work at Canonical. 
{% endblock %}

{% block meta_keywords %}Remote work careers{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}
  <div class="u-fixed-width">
    <nav class="p-breadcrumbs" aria-label="Breadcrumbs">
      <ol class="p-breadcrumbs__items p-text--x-small-capitalised">
        <li class="p-breadcrumbs__item">
          <a href="/careers">Careers</a>
        </li>
        <li class="p-breadcrumbs__item">
          <a href="/careers/company-culture">Company culture</a>
        </li>
        <li class="p-breadcrumbs__item">Remote work</li>
      </ol>
    </nav>
    <h1 class="p-text--x-small-capitalised u-hide">Careers</h1>
    <hr class="p-rule" />
  </div>

  <div class="p-section__u-no-padding--top">
    {% call(slot) vf_hero(
      title_text='Remote work',
      subtitle_text='We are remote but connected',
      layout='50/50'
    ) -%}
    {%- if slot == 'description' -%}
      <p>
        Canonical has been a fully distributed organization since its origin in 2004.
      </p>
      <p>
        Our remote-first policy enables us to collaborate with the best in the world in our domain. Though most team members work remotely, we meet each other at least twice per year during in-person sprints to nurture cross-team relationships. These sprints are funded by Canonical, and take place at locations around the world.
      </p>
    {%- endif -%}
    {%- if slot == 'cta' -%}
      <a class="p-button--positive u-no-margin--bottom" href="/careers">
        Careers with Canonical
      </a>
    {%- endif -%}
    {% endcall -%}
  </div>

  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule" />
    </div>
    <div class="row--25-75">
      <div class="col">
        <h2>
          Our work ethic
        </h2>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-3 col-medium-1">
            <h3 class="p-heading--5">
              We build trust
            </h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Zero commute means more time for the things you enjoy. At the same time, we have very high expectations of commitment and independent execution.
            </p>
            <p>We invest in people who are self-driven, motivated, and highly organized.</p>
            <p class="u-sv2">
              We take our responsibility for the most critical elements of open infrastructure very seriously, and we are committed to quality in every aspect of our product and services.
            </p>
            <div class="p-cta-block">
              <a href="/careers/company-culture">Read more about our tech culture&nbsp;&rsaquo;</a>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-1">
            <h3 class="p-heading--5">
              We engineer excellence
            </h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              We aspire to lead on the global stage. There’s no other way to describe it than hard work, hard challenges, and hard competition.
            </p>
            <p class="u-sv2">
              You will need to show that you can compete in deeply challenging intellectual fields. Your colleagues are aiming for the top, and they depend on you to set the same standard in your area of responsibility. We value those who take ownership of their area and take opportunities to be exceptional.
            </p>
            <div class="p-cta-block">
              <a href="/careers/start">Try our career explorer&nbsp;&rsaquo;</a>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-1">
            <h3 class="p-heading--5">
              We travel
            </h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              We optimize our team structure for time zone overlap. Collaboration takes time to fully develop but leadership at Canonical means building cross-team relationships. We nurture those relationships through company sprints, which are in-person events that bring diverse teams or their leaders together.
            </p>
            <p>
              We host these events around the world to discover great places to explore and appreciate in the process. Team events have taken place in Vancouver, Madrid, Riga, Cape Town, Prague, Lyon, London and many more.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- map goes here -->
    <div class="row">
      <figure>
        <div id="locations-map">
          <noscript>
            <div class="p-strip is-shallow u-no-padding--top">
              <div class="row">
                <div class="col-6 col-medium-3">
                  <h3 class="p-heading--2">Past sprint locations</h3>
                </div>
                <div class="col-6 col-medium-3">
                  <ul class="p-list--travel">
                    {% for location in sprint_locations %}
                      {% set location = location[1] %}
                      <li class="p-list__item">{{ location }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </noscript>
        </div>
        <div class="row">
          <figcaption class="col-6 col-medium-3 col-start-medium-4 col-start-large-7 u-text--muted" style="font-style: normal;">A sample of sprint locations from the past 5 years</figcaption>
        </div>
      </figure>
    </div>

    <div class="row">
      <div class="col-6 col-medium-3 col-start-medium-4 col-start-large-7">
        <p>
          As our customers transform their deepest and most important infrastructure to benefit from open source, they trust us to advise them and lead them to best practice. That also takes time on site, to whiteboard and to work shoulder to shoulder in their development halls and data centers. Many teams at Canonical travel for that deep customer presence.
        </p>
        <p class="u-sv2">
          If you are excited to see the world, Canonical is a great place to be. We expect everybody at Canonical to be willing and able to travel for up to two weeks at a time, twice a year.
        </p>
        <div class="p-cta-block">
          <a href="/careers">Explore the world with Canonical - browse careers&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule">
    </div>
    <div class="row--50-50">
      <div class="col">
        <h2>
          An inside look at our sprints
        </h2>
      </div>
      <div class="col">
        <figure>
          <div class="u-embedded-media u-no-margin--bottom">
            <iframe class="u-embedded-media__element"
                  width="1120"
                  height="630"
                  src="https://www.youtube.com/embed/9w6labLUOAI?si=RgXO2oU_DT8zx-7n"
                  title="Remote work and collaboration at Canonical | An inside look at our Cape Town sprint"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin"
                  allowfullscreen></iframe>
          </div>
          <figcaption class="u-text--muted" style="font-style: normal;">Discover our sprints in action in our video from Cape Town</figcaption>
        </figure>
        <p>
          Company sprints enable our globally distributed teams to nurture relationships and get to know their colleagues in person, whilst exploring inspirational locations.
        </p>
        <p>
          During sprints, we hear from different leaders in the business, host break-out sessions to plan across teams and get to practice our public speaking skills at our much-awaited lightning talks.
        </p>
      </div>
    </div>
  </section>

  <section class="p-section--deep">
    <div class="p-section--shallow">
      <div class="row">
        <hr class="p-rule" />
        <h2>Sprints in action</h2>
      </div>
    </div>
    <div class="u-fixed-width">
      <div class="u-align--right u-sv1">
        <a href="#"
          id="carousel-previous"
          class="p-carousel__previous"
          style="text-decoration: unset">
          <i class="p-icon--chevron-left">Previous image</i>
        </a>
        &nbsp;
        <a href="#"
          id="carousel-next"
          class="p-carousel__next"
          style="text-decoration: unset">
          <i class="p-icon--chevron-right">Next image</i>
        </a>
      </div>
      <div class="p-section--shallow">
        <div class="p-carousel">
          <div id="carousel_target">
            <div class="p-carousel__cell">
              <div class="p-image-container--3-2">
                {{ image(url="https://assets.ubuntu.com/v1/464686c8-image%201.png",
                    alt="",
                    width="916",
                    height="610",
                    hi_def=True,
                    attrs={"class": "p-image-container__image"},
                    loading="lazy"
                    ) | safe
                }}
              </div>
            </div>
            <div class="p-carousel__cell">
              <div class="p-image-container--3-2">
                {{ image(url="https://assets.ubuntu.com/v1/0b7d75df-image%202.png",
                    alt="",
                    width="916",
                    height="610",
                    hi_def=True,
                    attrs={"class": "p-image-container__image"},
                    loading="lazy"
                    ) | safe
                }}
              </div>
            </div>
            <div class="p-carousel__cell">
              <div class="p-image-container--3-2">
                {{ image(url="https://assets.ubuntu.com/v1/eb6a9de4-image%203.png",
                    alt="",
                    width="916",
                    height="610",
                    hi_def=True,
                    attrs={"class": "p-image-container__image"},
                    loading="lazy"
                    ) | safe
                }}
              </div>
            </div>
            <div class="p-carousel__cell">
              <div class="p-image-container--3-2">
                {{ image(url="https://assets.ubuntu.com/v1/fc1561cf-image%204.png",
                    alt="",
                    width="916",
                    height="610",
                    hi_def=True,
                    attrs={"class": "p-image-container__image"},
                    loading="lazy"
                    ) | safe
                }}
              </div>
            </div>
            <div class="p-carousel__cell">
              <div class="p-image-container--3-2">
                {{ image(url="https://assets.ubuntu.com/v1/a88b5e7f-image%205.png",
                    alt="",
                    width="916",
                    height="610",
                    hi_def=True,
                    attrs={"class": "p-image-container__image"},
                    loading="lazy"
                    ) | safe
                }}
              </div>
            </div>
            <div class="p-carousel__cell">
              <div class="p-image-container--3-2">
                {{ image(url="https://assets.ubuntu.com/v1/6c4e961d-image%206.png",
                    alt="",
                    width="916",
                    height="610",
                    hi_def=True,
                    attrs={"class": "p-image-container__image"},
                    loading="lazy"
                    ) | safe
                }}
              </div>
            </div>
            <div class="p-carousel__cell">
              <div class="p-image-container--3-2">
                {{ image(url="https://assets.ubuntu.com/v1/dc46b134-image%207.png",
                    alt="",
                    width="916",
                    height="610",
                    hi_def=True,
                    attrs={"class": "p-image-container__image"},
                    loading="lazy"
                    ) | safe
                }}
              </div>
            </div>
            <div class="p-carousel__cell">
              <div class="p-image-container--3-2">
                {{ image(url="https://assets.ubuntu.com/v1/0a5a4894-image%208.png",
                    alt="",
                    width="916",
                    height="610",
                    hi_def=True,
                    attrs={"class": "p-image-container__image"},
                    loading="lazy"
                    ) | safe
                }}
              </div>
            </div>
            <div class="p-carousel__cell">
              <div class="p-image-container--3-2">
                {{ image(url="https://assets.ubuntu.com/v1/32116a30-image%209.png",
                    alt="",
                    width="916",
                    height="610",
                    hi_def=True,
                    attrs={"class": "p-image-container__image"},
                    loading="lazy"
                    ) | safe
                }}
              </div>
            </div>
            <div class="p-carousel__cell">
              <div class="p-image-container--3-2">
                {{ image(url="https://assets.ubuntu.com/v1/8f77cc6c-image%2010.png",
                    alt="",
                    width="916",
                    height="610",
                    hi_def=True,
                    attrs={"class": "p-image-container__image"},
                    loading="lazy"
                    ) | safe
                }}
              </div>
            </div>
            <div class="p-carousel__cell">
              <div class="p-image-container--3-2">
                {{ image(url="https://assets.ubuntu.com/v1/2a9d3ce1-image%2011.png",
                    alt="",
                    width="916",
                    height="610",
                    hi_def=True,
                    attrs={"class": "p-image-container__image"},
                    loading="lazy"
                    ) | safe
                }}
              </div>
            </div>
            <div class="p-carousel__cell">
              <div class="p-image-container--3-2">
                {{ image(url="https://assets.ubuntu.com/v1/031a6e2d-image%2012.png",
                    alt="",
                    width="916",
                    height="610",
                    hi_def=True,
                    attrs={"class": "p-image-container__image"},
                    loading="lazy"
                    ) | safe
                }}
              </div>
            </div>

            <div class="p-carousel__cell">
              <div class="p-image-container--3-2">
                {{ image(url="https://assets.ubuntu.com/v1/f207fae4-image%2013.png",
                    alt="",
                    width="916",
                    height="610",
                    hi_def=True,
                    attrs={"class": "p-image-container__image"},
                    loading="lazy"
                    ) | safe
                }}
              </div>
            </div>

            <div class="p-carousel__cell">
              <div class="p-image-container--3-2">
                {{ image(url="https://assets.ubuntu.com/v1/685db13c-image%2014.png",
                    alt="",
                    width="916",
                    height="610",
                    hi_def=True,
                    attrs={"class": "p-image-container__image"},
                    loading="lazy"
                    ) | safe
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="{{ versioned_static('js/modules/leaflet/leaflet.js') }}"></script>

  <script src="{{ versioned_static('js/modules/flickity/flickity.pkgd.min.js') }}"></script>

  <script>
    initCarousel('#carousel_target', '#carousel-next', '#carousel-previous');
    initMap("locations-map");

    function initCarousel(carouselSelector, nextSelector, previousSelector) {
      var nextButton = document.querySelector(nextSelector);
      var previousButton = document.querySelector(previousSelector);
      var carousel = new Flickity(carouselSelector, {
        prevNextButtons: false,
        wrapAround: true,
        pageDots: false,
        autoPlay: false,
      });

      if (nextButton) {
        nextButton.addEventListener("click", function(e) {
          e.preventDefault();
          carousel.next();
        });
      }

      if (previousButton) {
        previousButton.addEventListener("click", function(e) {
          e.preventDefault();
          carousel.previous();
        });
      }
    }

    function initMap(mapSelector) {
      const mapElement = document.getElementById(mapSelector);

      if (!mapElement) {
        return;
      }

      mapElement.style.height = "400px";
      mapElement.style.zIndex = "1";

      const map = L.map(mapSelector).setView([31.505, -0.09], 2);

      // Set up the tile layer with grey canvas (using CartoDB Positron without labels)
      L.tileLayer('https://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png').addTo(map);

      const customIcon = L.icon({
        iconUrl: "https://assets.ubuntu.com/v1/ea30540d-marker-icon.png",
        iconRetinaUrl: "https://assets.ubuntu.com/v1/ed796590-marker-icon-2x.png",
        iconSize: [20, 32.8],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34]
      });

      const markersData = [
          {
              "country": "Canada",
              "city": "Montreal",
              "lat": 45.5031824,
              "lon": -73.5698065
          },
          {
              "country": "Canada",
              "city": "Toronto",
              "lat": 43.6534817,
              "lon": -79.3839347
          },
          {
              "country": "France",
              "city": "Lyon",
              "lat": 45.7578137,
              "lon": 4.8320114
          },
          {
              "country": "South Africa",
              "city": "Cape Town",
              "lat": -33.9288301,
              "lon": 18.4172197
          },
          {
              "country": "Germany",
              "city": "Frankfurt",
              "lat": 50.1106444,
              "lon": 8.6820917
          },
          {
              "country": "United Kingdom",
              "city": "London",
              "lat": 51.4893335,
              "lon": -0.1440551
          },
          {
              "country": "Latvia",
              "city": "Riga",
              "lat": 56.9493977,
              "lon": 24.1051846
          },
          {
              "country": "The Netherlands",
              "city": "The Hague",
              "lat": 52.0749456,
              "lon": 4.2696802
          },
          {
              "country": "Spain",
              "city": "Madrid",
              "lat": 40.4167047,
              "lon": -3.7035825
          },
          {
              "country": "Canada",
              "city": "Vancouver",
              "lat": 49.2608724,
              "lon": -123.113952
          },
          {
              "country": "Denmark",
              "city": "Copenhagen",
              "lat": 55.6867243,
              "lon": 12.5700724
          },
          {
              "country": "Czech Republic",
              "city": "Prague",
              "lat": 50.0874654,
              "lon": 14.4212535
          },
      ];

      markersData.forEach(function(marker) {
        L.marker([marker.lat, marker.lon], { icon: customIcon })
          .bindPopup(marker.city)
          .addTo(map);
      });
    }
  </script>
{% endblock %}
