# Params
# num_item (requires 3-4 items): Number of items
# Slots
# highlights_item_content_[1-4] (required): Highlights list item content

{%- macro highlights(num_items) -%}
  <section class="p-section">
    {% if num_items <= 4 %}
      <div class="grid-row">
        {% if num_items == 4 %}<h2 class="p-text--small-caps">Highlights</h2>{% endif %}
        <hr class="p-rule--muted" />
      </div>
      <ul class="p-list u-no-margin--bottom">
        <div class="grid-row">
          {% if num_items < 4 %}
            <div class="grid-col-2">
              <h2 class="p-text--small-caps">Highlights</h2>
            </div>
          {% endif %}

          {% for number in range(1, num_items+1) %}
            {%- set highlights_item_content = caller('highlights_item_content_' + number|string) -%}
            {%- set has_highlights_item_content = highlights_item_content|trim|length > 0 -%}

            {%- if has_highlights_item_content -%}
              <div class="grid-col-2 u-text-max-width">
                <li class="p-list__item is-ticked">
                  <p class="u-text-max-width u-no-padding--top">{{ highlights_item_content }}</p>
                </li>
              </div>
            {%- endif %}
          {% endfor %}
        </div>
      </ul>
    {% else %}
      <div class="grid-row">
        <div class="grid-col-6">
          <hr class="p-rule--muted" />
          <div class="grid-row">
            <div class="grid-col-2">
              <h2 class="p-text--small-caps">Highlights</h2>
            </div>
            <div class="grid-col-4">
              <ul class="p-list--divided u-text-max-width">
                <div class="grid-row">
                  {% for number in range (1, num_items+1) %}
                    {%- set highlights_item_content = caller('highlights_item_content_' + number|string) -%}
                    {%- set has_highlights_item_content = highlights_item_content|trim|length > 0 -%}

                    {%- if has_highlights_item_content -%}<li class="p-list__item is-ticked">{{ highlights_item_content }}</li>{% endif %}
                  {% endfor %}
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </section>
{%- endmacro -%}
