{% extends 'base_index.html' %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1KQmCfb4ITlYHOAEoHUwxHExf73qkMSWsLHnFPwFWFag/edit
{% endblock meta_copydoc %}

{% block title %}An advanced, enterprise-grade MySQL solution from Canonical{% endblock %}

{% block meta_description %}
  Enterprise-grade MySQL with up to 10 years of support and security maintenance. It helps you secure and automate the deployment, maintenance and upgrades of your MySQL databases across private and public clouds.
{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}

  <section class="p-section--hero">
    <div class="row">
      <div class="col-3 col-medium-2">
        <div class="u-hide--small">
          <a href="https://www.mysql.com/">
            {{ image(url="https://assets.ubuntu.com/v1/37c2f953-mysql-logo.png",
                        alt="MySQL",
                        width="178",
                        height="186",
                        hi_def=True,
                        loading="auto") | safe
            }}
          </a>
        </div>
      </div>
      <div class="col-9 col-medium-4">
        <div class="p-section--shallow">
          <h1 class="u-no-padding--top">MySQL for the enterprise</h1>
          <p>
            Secure and automate the deployment, maintenance and upgrades of your MySQL databases across private and public clouds.
          </p>
        </div>
        <hr class="p-rule--muted" />
        <a class="p-button--positive js-invoke-modal"
           href="/contact-us"
           aria-controls="data-mysql-modal">Get in touch<span class="u-off-screen">about MySQL for the enterprise</span></a>
        <a class="p-button"
           href="https://drive.google.com/file/d/1vQamR5wOA9E-FTIJG2c9xCWLpB_1QcA3/view?usp=sharing"><span class="u-off-screen">Download the Canonical's guide to MySQL</span>Get started</a>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--25-75">
      <hr class="p-rule" />
      <div class="col">
        <h2 class="p-text--small-caps">Why choose Canonical's enterprise-grade MySQL</h2>
      </div>
      <div class="col">
        <ul class="p-list--divided">
          <li class="p-list__item u-no-padding">
            <p class="p-heading--2">Up to 10 years of security maintenance</p>
          </li>
          <li class="p-list__item u-no-padding">
            <p class="p-heading--2">Hybrid and multi-cloud ready</p>
          </li>
          <li class="p-list__item u-no-padding">
            <p class="p-heading--2">Simple per node subscription</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2 class="p-text--small-caps">Run MySQL on any public, private or hybrid cloud</h2>
      </div>
      <div class="col">
        <p>
          When you use Canonical's MySQL, you benefit from optimised configurations for every cloud. You can run MySQL on Azure, AWS, Google Cloud on top of VMs or their managed Kubernetes offerings. You can also run MySQL in your private data centre on top of MAAS and LXD, Kubernetes, OpenStack or VMWare.
        </p>
      </div>
      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/36a0cd3b-microsoft-azure-2021.png",
                        alt="Microsoft Azure",
                        width="78",
                        height="256",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/9faa9b91-aws-logo.png",
                        alt="AWS",
                        width="125",
                        height="256",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/959833e3-google-cloud-logo-light.png",
                        alt="Google cloud",
                        width="382",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/f7a0c5ff-kubernetes-logomark-logo.png",
                        alt="Kubernetes",
                        width="105",
                        height="384",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/165fa040-openstack-logo.png",
                        alt="OpenStack",
                        width="426",
                        height="256",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/a89f2843-microcloud.png",
                        alt="Microcloud",
                        width="394",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/daecf95b-vmware-logo.png",
                        alt="VMware",
                        width="385",
                        height="384",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/bf2f1cc2-maas-logo false.png",
                        alt="MAAS",
                        width="250",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Easy to deploy and manage</h2>
      </div>
      <div class="col">
        <div class="p-section--shallow">
          <div class="p-image-container is-highlighted u-hide--small">
            {{ image(url="https://assets.ubuntu.com/v1/3815a62c-easy-to-deploy-manage.png",
                        alt="",
                        width="1800",
                        height="1015",
                        hi_def=True,
                        attrs={"class": "p-image-container__image"},
                        loading="lazy") | safe
            }}
          </div>
        </div>
        <p>Thanks to Charmed MySQL, your deployments will be:</p>
        <hr class="p-rule--muted" />
        <div class="p-section--shallow">
          <ul class="p-list--divided">
            <li class="p-list__item is-ticked">
              <b>Highly available</b> with built-in replication and automatic failover.
            </li>
            <li class="p-list__item is-ticked">
              <b>Reliable</b> with expert-crafted and self healing state-machine automation.
            </li>
            <li class="p-list__item is-ticked">
              <b>Upgraded automatically</b> during your maintenance windows and with minimum downtime.
            </li>
            <li class="p-list__item is-ticked">
              <b>Disaster recovery ready</b> with built-in cross region replication, backup and restore capabilities to ensure business continuity.
            </li>
            <li class="p-list__item is-ticked">
              <b>Hybrid and multi-cloud ready</b> with automation that supports deployment within and across private and public clouds.
            </li>
            <li class="p-list__item is-ticked">
              <b>Shipped with a holistic observability and alerting solution</b> based on Prometheus, Loki and Grafana.
            </li>
          </ul>
          <hr class="p-rule--muted" />
          <p>
            <a href="https://canonical-charmed-mysql.readthedocs-hosted.com">Get started with Charmed MySQL&nbsp;&rsaquo;</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section u-fixed-width">
    <hr class="p-rule" />
    <div class="row--50-50">
      <div class="col">
        <h2>MySQL security</h2>
      </div>
      <div class="col">
        <div class="p-section--shallow">
          <div class="p-image-container--16-9 is-highlighted u-hide--small">
            {{ image(url="https://assets.ubuntu.com/v1/1c4c6ee0-encryption.png",
                        alt="",
                        width="300",
                        height="300",
                        hi_def=True,
                        attrs={"class": "p-image-container__image"},
                        loading="lazy") | safe
            }}
          </div>
        </div>
        <p>
          Charmed MySQL comes with up to 10 years of security maintenance. It also ships with hardened configurations to help you comply with the most stringent requirements in terms of encryption, auditing, logging, authentication and authorisation.
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>MySQL support</h2>
      </div>
      <div class="col">
        <div class="p-section--shallow">
          <div class="p-image-container--16-9 is-highlighted u-hide--small">
            {{ image(url="https://assets.ubuntu.com/v1/f29c3ed2-postgresql-support.png",
                        alt="",
                        width="565",
                        height="320",
                        hi_def=True,
                        attrs={"class": "p-image-container__image"},
                        loading="lazy") | safe
            }}
          </div>
        </div>
        <p>Get comprehensive, 24/7 or weekday support for Charmed MySQL, covering the entire solution for up to 10 years.</p>
        <hr class="p-rule--muted" />
        <p>
          <a class="p-button" href="https://ubuntu.com/pro/subscribe">Subscribe now<span class="u-off-screen">Subscribe for ubuntu pro service</span></a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50 p-section--shallow">
      <hr class="p-rule" />
      <div class="col">
        <h2>
          Predictable pricing
          <br />
          for enterprise-grade MySQL
        </h2>
      </div>
      <div class="col">
        <div class="p-section--shallow">
          <div class="p-image-container--16-9 is-highlighted u-hide--small">
            {{ image(url="https://assets.ubuntu.com/v1/9dfac23e-predictable-pricing.png",
                        alt="",
                        width="1200",
                        height="676",
                        hi_def=True,
                        attrs={"class": "p-image-container__image"},
                        loading="lazy") | safe
            }}
          </div>
        </div>
        <p>
          Charmed MySQL support is priced per node, per year with no per-socket or per-core limitations, and no software licence fees. Use our Charmed MySQL for better control over your TCO. Budgeting and financial planning are straightforward and predictable.
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50 p-section--shallow">
      <hr class="p-rule" />
      <div class="col">
        <h2>Charmed MySQL services</h2>
      </div>
      <div class="col">
        <p>
          You can self-manage our Charmed MySQL solution or you can opt for a fully managed setup where Canonical experts deploy and operate your MySQL fleet on top of your on-premise infrastructure or using your cloud tenants.
        </p>
        <hr class="p-rule--muted" />
        <p>
          <a class="js-invoke-modal"
             href="/contact-us"
             aria-controls="data-mysql-modal">Get in touch to learn more &rsaquo;&nbsp;</a>
        </p>
      </div>
    </div>
    <div class="row--50-50">
      <div class="col">
        <hr class="p-rule--highlight u-no-margin--bottom" />
        <div class="p-card--overlay u-no-padding--top u-no-margin--bottom">
          <div class="row">
            <div class="col-4 col-medium-2 col-small-3">
              <h3 class="u-align-text--left u-no-margin--bottom">Managed</h3>
            </div>
            <div class="col-2 col-medium-1 col-small-1">
              <h3 class="u-align-text--right u-no-margin--bottom">From $3099</h3>
              <p class="u-align-text--right u-text--muted">Per node, per year</p>
            </div>
          </div>
          <p>Get there faster. Let us deploy and operate your MySQL cluster, in your cloud tenancy or in your data centre.</p>
          <hr class="p-rule--muted" />
          <div class="p-section--shallow u-no-margin--bottom">
            <ul class="p-list--divided u-no-margin--bottom">
              <li class="p-list__item is-ticked">Backed by an SLA</li>
              <li class="p-list__item is-ticked">MSP and SOC2 certified service</li>
              <li class="p-list__item is-ticked">Low cost of ownership</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <hr class="p-rule--highlight u-no-margin--bottom" />
        <div class="p-card--overlay u-no-padding--top u-no-margin--bottom">
          <div class="row">
            <div class="col-4 col-medium-2 col-small-3">
              <h3 class="u-align-text--left u-no-margin--bottom">Self-managed</h3>
            </div>
            <div class="col-2 col-medium-1 col-small-1">
              <h3 class="u-align-text--right u-no-margin--bottom">From $500</h3>
              <p class="u-align-text--right u-text--muted">Per node, per year</p>
            </div>
          </div>
          <p>24/7, weekday or advanced fire-fighting support for MySQL from Canonical for up to 10 years per release track.</p>
          <hr class="p-rule--muted" />
          <div class="p-section--shallow u-no-margin--bottom">
            <ul class="p-list--divided u-no-margin--bottom">
              <li class="p-list__item is-ticked">Expert troubleshooting on hand</li>
              <li class="p-list__item is-ticked">Security and bug fixes</li>
              <li class="p-list__item is-ticked">Full stack coverage</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50 p-section--shallow">
      <hr class="p-rule" />
      <div class="col">
        <h2>MySQL use cases</h2>
      </div>
      <div class="col">
        <p>
          MySQL is one of the world's most popular databases. The simple deployment model of MySQL (a single process per instance) and its ease of use make it a good database management system to bootstrap several use cases:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-start-large-4 col-9 col-medium-6">
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Web and mobile applications</h3>
          </div>
          <div class="col-3 col-medium-2">
            <p>
              MySQL is the M in the popular <a href="https://en.wikipedia.org/wiki/LAMP_(software_bundle)">LAMP</a> architecture that powers a lot of e-commerce, content management and forum-like applications.
            </p>
          </div>
          <div class="col-3 col-medium-2">
            {{ image(url="https://assets.ubuntu.com/v1/2582fc11-Web and mobile applications@3x.png",
                        alt="",
                        width="901",
                        height="600",
                        hi_def=True,
                        loading="lazy") | safe
            }}
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Applications managing geospatial data</h3>
          </div>
          <div class="col-3 col-medium-2">
            <p>
              MySQL has extensive support for spatial data types and spatial indexes making it a good choice for powering related systems.
            </p>
          </div>
          <div class="col-3 col-medium-2">
            {{ image(url="https://assets.ubuntu.com/v1/acaae572-Applications managing geospatial data@3x.png",
                        alt="",
                        width="901",
                        height="600",
                        hi_def=True,
                        loading="lazy") | safe
            }}
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">FinOps and banking</h3>
          </div>
          <div class="col-3 col-medium-2">
            <p>
              MySQL provides the transactional <a href="https://en.wikipedia.org/wiki/ACID">ACID</a> guarantees and the mature replication capabilities that finance systems need.
            </p>
          </div>
          <div class="col-3 col-medium-2">
            {{ image(url="https://assets.ubuntu.com/v1/f8b601e5-FinOps and banking@3x.png",
                        alt="",
                        width="901",
                        height="600",
                        hi_def=True,
                        loading="lazy") | safe
            }}
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Text search use cases</h3>
          </div>
          <div class="col-3 col-medium-2">
            <p>
              MySQL also provides basic <a href="https://dev.mysql.com/doc/refman/8.0/en/fulltext-search.html">full text search</a> capabilities allowing you to accommodate such use cases without the need for duplicating your data or compromising on its consistency.
            </p>
          </div>
          <div class="col-3 col-medium-2">
            {{ image(url="https://assets.ubuntu.com/v1/868a5f26-Text search use cases@3x.png",
                        alt="",
                        width="901",
                        height="600",
                        hi_def=True,
                        loading="lazy") | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr class="p-rule is-fixed-width" />

  <section class="p-strip is-deep">
    <div class="u-fixed-width">
      <p class="p-heading--2">
        <a href="/blog/author/mwnsiri">Hear from the product manager&nbsp;&rsaquo;</a>
      </p>
    </div>
  </section>

  <section class="p-section u-fixed-width">
    <hr class="p-rule" />
    <div class="p-section--shallow">
      <h2>Go further with Charmed MySQL</h2>
    </div>
    <div class="row">
      <div class="col-start-large-4 col-9">
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">
              Documentation for <a href="https://canonical-charmed-mysql-k8s.readthedocs-hosted.com">K8s</a> and <a href="https://canonical-charmed-mysql.readthedocs-hosted.com">VMs</a>
            </h3>
          </div>
          <div class="col-6 col-medium-4 p-section--shallow">
            <p>
              Read our tutorials and installation guides to learn how to deploy and manage MySQL within and across public and private clouds.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">
              <a href="https://ubuntu.com/engage/database-cloud-migration">A guide to database cloud migration</a>
            </h3>
          </div>
          <div class="col-6 col-medium-4 p-section--shallow">
            <p>Gain insights on how to succeed in migrating your most valuable assets – your data – to the cloud.</p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">
              <a href="https://ubuntu.com/engage/data-backups">A guide to data backups</a>
            </h3>
          </div>
          <div class="col-6 col-medium-4 p-section--shallow">
            <p>Build a comprehensive backup strategy to meet your requirements in terms of data protection and recovery times.</p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">
              <a href="https://www.linkedin.com/events/choosingbetweenthemostpopularop7094241865746542592/theater/">PostgreSQL vs MySQL webinar
              </a>
            </h3>
          </div>
          <div class="col-6 col-medium-4 p-section--shallow">
            <p>
              Dive into the differences between the two most popular open-source databases and what those differences mean from a performance, operability and community engagement perspective.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section--deep">
    <div class="row">
      <hr class="p-rule" />
      <div class="u-text--muted col-start-large-7 col-6">
        <p>
          "MySQL" is a trademark or registered trademark of Oracle. Other trademarks are property of their respective owners.
        </p>
        <p>Canonical's MySQL offerings are not sponsored, endorsed, or affiliated with Oracle.</p>
      </div>
    </div>
  </section>

  {{ load_form('/data/mysql') | safe }}

{% endblock %}
