{% extends 'base_index.html' %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1sTYQlLM1jWDx-01oC5QY0OdTXNas8KHBoFPR2RW0AQg/edit?tab=t.0#heading=h.6d3m0dei0nxs
{% endblock meta_copydoc %}

{% block title %}Java support - Canonical builds of OpenJDK for Ubuntu{% endblock %}

{% block meta_description %}
  Explore Canonical’s Java support offering - long term supported builds of OpenJDK, minimal JRE containers and Spring Boot automation
{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}
  <section class="p-section--hero">
    <div class="row--25-75">
      <div class="col">
        {{ image(url="https://assets.ubuntu.com/v1/72583323-open%20JDK%20logo.png",
                alt="",
                width="284",
                height="56",
                hi_def=True,
                loading="auto") | safe
        }}
      </div>
      <div class="col">
        <div class="p-section--shallow">
          <h1>Canonical’s build of OpenJDK for Ubuntu</h1>
          <p class="p-heading--2">Trusted, stable and certified builds of OpenJDK with up to 12 years of security maintenance</p>
        </div>
        <div class="p-section">
          <p>
            Innovate with Java and run your preferred build of OpenJDK on Ubuntu. Bring stability to your Java environment with up to 12 years of long-term support for all OpenJDK LTS releases, through Ubuntu Pro. Put stability and compliance at the heart of your applications with rigorous TCK validation, minimal runtime containers and FIPS-certified cryptographic modules.
          </p>
        </div>
        <div class="p-cta-block">
          <a class="p-button--positive"
             href="https://pages.ubuntu.com/rs/066-EOV-335/images/Canonical%20Java%20Datasheet_Oct%202024.pdf?version=0">Download a datasheet</a>
        </div>
      </div>
    </div>
  </section>
  <section class="p-section">
    <hr class="p-rule is-fixed-width" />
    <div class="row--50-50">
      <div class="col">
        <div class="p-section--shallow">
          <h2>Up to 12 years of security patching and maintenance</h2>
        </div>
      </div>
      <div class="col">
        <p>
          Extend the support period for your OpenJDK LTS build from 4 years to 12 years, through Ubuntu Pro - Canonical’s comprehensive subscription for open source security.
        </p>
        <p>
          Give developers the freedom to focus on making impactful applications that deliver for customers with expanded security maintenance for the latest OpenJDK LTS releases running until 2034.
        </p>
        <div class="p-cta-block">
          <a href="https://ubuntu.com/pricing/pro">Get support with Ubuntu Pro&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </section>
  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule" />
      <div class="p-section--shallow">
        <h2>Canonical OpenJDK releases</h2>
      </div>
      <div class="row">
        <div class="col-start-large-4 col-9">
          <table aria-label="Canonical OpenJDK releases">
            <thead>
              <tr>
                <th scope="col" style="width:20%">OpenJDK release</th>
                <th scope="col" style="width:20%">GA date</th>
                <th scope="col" style="width:30%">Ubuntu LTS version availability</th>
                <th scope="col" style="width:30%">LTS support until</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">8 (LTS)</th>
                <td>2014</td>
                <td>24.04, 22.04, 20.04, 18.04</td>
                <td>At least 2034</td>
              </tr>
              <tr>
                <th scope="row">11 (LTS)</th>
                <td>2018</td>
                <td>24.04, 22.04, 20.04, 18.04</td>
                <td>At least 2034</td>
              </tr>
              <tr>
                <th scope="row">17 (LTS)</th>
                <td>2021</td>
                <td>24.04, 22.04, 20.04, 18.04</td>
                <td>At least 2034</td>
              </tr>
              <tr>
                <th scope="row">21 (LTS)</th>
                <td>2023</td>
                <td>24.04, 22.04, 20.04</td>
                <td>At least 2034</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section class="p-section">
    <hr class="p-rule is-fixed-width" />
    <div class="row--50-50">
      <div class="col">
        <div class="p-section--shallow">
          <h2>Predictable OpenJDK release cadence</h2>
        </div>
      </div>
      <div class="col">
        <p>
          Bring stability and predictability by running Java on Ubuntu. Ubuntu releases follow an established, reliable cadence that offers you both the latest features of Ubuntu, and support for the newest LTS versions of Open JDK.
        </p>
        <p>Here are the details:</p>
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">
            Starting with Ubuntu 24.04, every new Ubuntu LTS release will ship with the latest OpenJDK LTS release.
          </li>
          <li class="p-list__item is-ticked">
            All new non-LTS OpenJDK releases will be included in the interim versions of Ubuntu, making it easier for developers to experiment with the latest versions as soon as possible.
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="p-section">
    <hr class="p-rule is-fixed-width" />
    <div class="row--50-50">
      <div class="col">
        <div class="p-section--shallow">
          <h2>Secure, minimal containers for OpenJRE</h2>
        </div>
      </div>
      <div class="col">
        <p>
          Canonical provides chiseled containers for OpenJRE 8 and 17 (Open Java Runtime Environment), coming from the OpenJDK project.
        </p>
        <p>
          These containers provide a significant reduction in size compared to Apache Temurin, without presenting any throughput or startup performance degradation.
        </p>
        <p>
          The images are available for both AMD64 and ARM64 architectures, and benefit from at least 10 years of security support.
        </p>
        <div class="p-cta-block">
          <a href="https://hub.docker.com/r/ubuntu/jre">Download on Dockerhub&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </section>
  <section class="p-section">
    <div class="u-fixed-width">
      <div class="p-section--shallow">
        <h2>Chiselled JRE 8</h2>
      </div>
      <div class="row u-sv2">
        <div class="col-3 col-medium-3">
          <hr class="p-rule--highlight" />
          <p class="p-heading--2 u-sv-1">
            <strong>37MB</strong>
          </p>
          <p class="u-no-padding--top">AMD64 image size</p>
        </div>
        <div class="col-3 col-medium-3">
          <hr class="p-rule--highlight" />
          <p class="p-heading--2 u-sv-1">
            <strong>38MB</strong>
          </p>
          <p class="u-no-padding--top">ARM64 image size</p>
        </div>
        <div class="col-3 col-medium-3">
          <hr class="p-rule--highlight" />
          <p class="p-heading--2 u-sv-1">
            <strong>52%</strong>
          </p>
          <p class="u-no-padding--top">smaller than Temurin</p>
        </div>
        <div class="col-3 col-medium-3">
          <hr class="p-rule--highlight" />
          <p class="p-heading--2 u-sv-1">
            <strong>
              <span aria-label="about">~</span>0%</strong>
          </p>
          <p class="u-no-padding--top">startup time difference</p>
        </div>
      </div>
      <div class="row">
        <hr class="p-rule" />
        <div class="col-start-large-7 col-6">
          <p>
            <a href="https://github.com/rockcrafters/chiselled-jre/tree/channels/8/edge">Access the Github repo&nbsp;&rsaquo;</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="p-section">
    <div class="u-fixed-width">
      <div class="p-section--shallow">
        <h2>Chiselled JRE 17</h2>
      </div>
      <div class="row u-sv2">
        <div class="col-3 col-medium-3">
          <hr class="p-rule--highlight" />
          <p class="p-heading--2 u-sv-1">
            <strong>44MB</strong>
          </p>
          <p class="u-no-padding--top">AMD64 image size</p>
        </div>
        <div class="col-3 col-medium-3">
          <hr class="p-rule--highlight" />
          <p class="p-heading--2 u-sv-1">
            <strong>42MB</strong>
          </p>
          <p class="u-no-padding--top">ARM64 image size</p>
        </div>
        <div class="col-3 col-medium-3">
          <hr class="p-rule--highlight" />
          <p class="p-heading--2 u-sv-1">
            <strong>51%</strong>
          </p>
          <p class="u-no-padding--top">smaller than Temurin</p>
        </div>
        <div class="col-3 col-medium-3">
          <hr class="p-rule--highlight" />
          <p class="p-heading--2 u-sv-1">
            <strong>
              <span aria-label="about">~</span>0%</strong>
          </p>
          <p class="u-no-padding--top">startup time difference</p>
        </div>
      </div>
      <div class="row">
        <hr class="p-rule" />
        <div class="col-start-large-7 col-6">
          <p>
            <a href="https://github.com/rockcrafters/chiselled-jre/tree/channels/17/edge">Access the Github repo&nbsp;&rsaquo;</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule" />
      <div class="p-section--shallow">
        <h2>Correctness and cryptographic compliance</h2>
      </div>
      <div class="row">
        <div class="col-start-large-4 col-9">
          <hr class="p-rule--muted" />
          <div class="row">
            <div class="col-3 col-medium-3">
              <h3 class="p-heading--5">TCK validation</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>
                Canonical OpenJDK distributions are verified using using the Eclipse Aquavit test suite on Ubuntu 24.04 on the following architectures:
              </p>
              <ul class="p-list--divided">
                <li class="p-list__item is-ticked">AMD64</li>
                <li class="p-list__item is-ticked">ARM64</li>
                <li class="p-list__item is-ticked">s390x</li>
                <li class="p-list__item is-ticked">ppc64el</li>
              </ul>
            </div>
          </div>
          <hr class="p-rule--muted" />
          <div class="row">
            <div class="col-3 col-medium-3">
              <h3 class="p-heading--5">FIPS compliance</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>
                With Ubuntu Pro, you can get access to openjdk-11-fips, which bundles FIPS 140-2 certified BouncyCastle with openjdk-11.
              </p>
              <p>
                Canonical is working on a dedicated <a href="https://github.com/canonical/openssl-fips-java">OpenSSL-FIPS Java provider</a>, which is undergoing FIPS 140-3 certification process.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
