{% extends 'base_index.html' %}

{% from "_macros/vf_basic-section.jinja" import vf_basic_section %}
{% from "_macros/vf_data-spotlight.jinja" import vf_data_spotlight %}
{% from "_macros/vf_equal-heights.jinja" import vf_equal_heights %}
{% from "_macros/vf_hero.jinja" import vf_hero %}
{% from "_macros/vf_logo-section.jinja" import vf_logo_section %}
{% from "_macros/vf_resources.jinja" import vf_resources %}
{% from "_macros/vf_tiered-list.jinja" import vf_tiered_list %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1J6MY-Bqn2znASPdvmSx_8bE_qmN8TZgAwBu1nMQ4gRM/edit
{% endblock meta_copydoc %}

{% block title %}Apache Kafka{% endblock %}

{% block meta_description %}
  Get enterprise-grade Apache Kafka support from Canonical. Enjoy security,
  automation, and SLA-backed expertise for your Kafka clusters across private
  and public clouds.
{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}

  {% call(slot) vf_hero(
    title_text='Enterprise support for Apache Kafka',
    layout='25/75',
    blocks=[
      {
        "type": "description",
        "padding": "shallow",
        "item": {
          "type": "html",
          "content": '<p><span class="p-chip--branded"><i class="p-icon--circle-of-friends"></i><span class="p-chip__value">Supported with Ubuntu Pro</span></span></p><p>Unlock a robust, open source foundation for your mission-critical streaming workloads. Canonical&rsquo;s Apache Kafka automation and artifacts provide you with up to 15 years of security maintenance, 24/7 SLA-backed support, and expert consulting services to meet your specific requirements.</p>'
        }
      },
      {
        "type": "cta-block",
        "padding": "shallow",
        "item": {
          "primary": {
            "content_html": "Contact us",
            "attrs": {
              "href": "/contact-us",
              "class": "p-button--positive js-invoke-modal",
              "aria-controls": "data-kafka-modal"
            }
          }
        }
      },
      {
        "type": "signpost_image",
        "item": {
          "is_highlighted": false,
          "attrs": {
            "src": "https://assets.ubuntu.com/v1/72dd0e93-kafka_signpost_1.png",
            "alt": ""
          }
        }
      }
    ]
  ) -%}
  {% endcall -%}

  {% call(slot) vf_logo_section(
    title={
      "text": "Run Apache Kafka across public and private clouds"
    },
    blocks=[
      {
        "type": "logo-block",
        "item": {
          "logos": [
            {
              "src": "https://assets.ubuntu.com/v1/f8fbd78c-openstack_logo_1.png",
              "alt": "OpenStack"
            },
            {
              "src": "https://assets.ubuntu.com/v1/cfe1bb8a-microcloud_logo_1.png",
              "alt": "MicroCloud"
            },
            {
              "src": "https://assets.ubuntu.com/v1/cf4bde95-vmware_logo_1.png",
              "alt": "VMware"
            },
            {
              "src": "https://assets.ubuntu.com/v1/18fad36a-aws_logo_1.png",
              "alt": "AWS"
            },
            {
              "src": "https://assets.ubuntu.com/v1/eebb672a-google_cloud_logo_1.png",
              "alt": "Google Cloud"
            },
            {
              "src": "https://assets.ubuntu.com/v1/655ecd38-microsoft_azure_logo_1.png",
              "alt": "Microsoft Azure"
            }
          ]
        }
      }
    ]
  ) -%}
    {%- if slot == 'description' -%}
      <p>When you use our Apache Kafka artifacts, you benefit from optimized configurations for every cloud. You can run Apache Kafka on public clouds, or in your private data center on top of MAAS and MicroCloud, OpenStack, or VMWare.</p>
    {%- endif -%}
  {% endcall -%}

  {{ vf_data_spotlight(
    title={
      "text": "Our offering by the numbers"
    },
    blocks=[
      {
        "stat": "100+<br class=\"u-hide--small\"> clusters",
        "headline": "Relying on our services",
        "description": "Our stack is tried and tested in production in numerous sectors ranging from banking to aerospace engineering.",
        "link": {
          "url": "/data/kafka#get-in-touch",
          "text": "Contact us&nbsp;&rsaquo;"
        }
      },
      {
        "stat": "10+<br class=\"u-hide--small\"> automations",
        "headline": "To scale your operations",
        "description": "Includes deployment, scaling, backups, restores, auto-tuning, encryption, monitoring, and upgrades.",
        "link": {
          "url": "https://canonical.com/data/kafka/docs/4/how-to/",
          "text": "Check our automation&nbsp;&rsaquo;"
        }
      },
      {
        "stat": "~&nbsp;30<br class=\"u-hide--small\"> minutes",
        "headline": "To get started",
        "description": "Get up and running quickly in your local lab environment or your live production infrastructure setup.",
        "link": {
          "url": "https://canonical.com/data/kafka/docs/4/tutorial/",
          "text": "Try it yourself&nbsp;&rsaquo;"
        }
      }
    ]
  ) }}

  {%- call(slot) vf_tiered_list(is_list_full_width_on_tablet=true) -%}
    {%- if slot == 'title' -%}
      <h2>Apache Kafka deployment options</h2>
    {%- endif -%}

    {%- if slot == 'list_item_title_1' -%}
      <h3 class="p-heading--5">Container</h3>
    {%- endif -%}

    {%- if slot == 'list_item_description_1' -%}
      <p>Get our Apache Kafka container to benefit from a minimalist and self-contained solution for deploying Apache Kafka clusters in all of your environments.</p>
      <a href="https://hub.docker.com/r/ubuntu/kafka" class="p-button">Try the container</a>
    {%- endif -%}

    {%- if slot == 'list_item_title_2' -%}
      <h3 class="p-heading--5">Software operator</h3>
    {%- endif -%}

    {%- if slot == 'list_item_description_2' -%}
      <p>Our software operator helps you automate the operations of your Apache Kafka clusters including deployment, scaling, encryption, and upgrades.</p>
      <a href="https://charmhub.io/kafka" class="p-button">Check our software operator</a>
    {%- endif -%}
  {%- endcall -%}

  {% call(slot) vf_equal_heights(
    title_text="Popular Apache Kafka use cases",
    attrs={ "id": "4-columns-responsive" },
    highlight_images=True,
    subtitle_text="",
    items=[
      {
        "title_text": "Backbone of microservices-based architectures",
        "image_html": '<img src="https://assets.ubuntu.com/v1/28364838-backbone.png" class="p-image-container__image" width="284" height="426" alt="Kafka backbone of microservices-based architectures" />',
        "description_html": "<p>Apache Kafka is often used as a performant asynchronous communication middleware to allow distinct microservices to exchange data in real time. It also reduces tight coupling and cascading failures, improving the overall resiliency of the solution.</p>"
      },
      {
        "title_text": "Real-time analytics and business intelligence",
        "image_html": '<img src="https://assets.ubuntu.com/v1/f3701d30-real_time_analytics.png" class="p-image-container__image" width="284" height="426" alt="Kafka real-time analytics and business intelligence" />',
        "description_html": "<p>Apache Kafka enables enterprises to transition from delayed batch processing to real-time operational insights. It is often used to capture, transform, and process live data streams to power real-time dashboards, automated fraud detection, and dynamic pricing models.</p>"
      },
      {
        "title_text": "Enterprise data hub",
        "image_html": '<img src="https://assets.ubuntu.com/v1/2146b23e-enterprise.png" class="p-image-container__image" width="284" height="426" alt="Kafka enterprise data hub" />',
        "description_html": "<p>Apache Kafka is a powerful solution to break down data silos by establishing a centralized, high-throughput event as a universal data hub, continuously ingesting and synchronizing information across distributed systems.</p>"
      },
      {
        "title_text": "Logs aggregation and observability",
        "image_html": '<img src="https://assets.ubuntu.com/v1/b222e12e-logs.png" class="p-image-container__image" width="284" height="426" alt="Kafka logs aggregation and observability" />',
        "description_html": "<p>Apache Kafka is uniquely suited to handle the massive scale and high frequency of data generated by edge devices or by large-scale distributed systems. It acts as a high-capacity buffer for routing layer to reliably aggregate telemetry and logs across your enterprise infrastructure before feeding them into specialized monitoring, SIEM, and observability platforms.</p>"
      }
    ]
  ) %}
  {% endcall %}

  {{ vf_basic_section(
    title={"text": "Apache Kafka support services"},
    padding="shallow",
    items=[
      {
        "type": "description",
        "item": {
          "type": "html",
          "content": '<p>Whether you are exploring Apache Kafka or need deep expertise to scale your deployments and meet your SLAs, our subscription-based services &ndash; including <a href="https://ubuntu.com/pro">Ubuntu Pro</a> &ndash; are designed to support your team and free them from time-consuming and error-prone tasks.</p>'
        }
      },
      {
        "type": "description",
        "item": {
          "type": "text",
          "content": "Our on-demand services help you address specific challenges by designing the right solutions, providing targeted knowledge transfer, or delivering timely expert consulting tailored to your needs."
        }
      },
      {
        "type": "cta-block",
        "item": {
          "link": {
            "content_html": "More details on our services",
            "attrs": {
              "href": "https://canonical.com/data/services",
              "class": "p-button"
            }
          }
        }
      }
    ]
  ) }}

  <section class="p-section">
    <div class="row">
      <div class="col-6">
        <div class="p-section--shallow">
          <p class="p-heading--4">Subscription-based</p>
          <p class="u-text--muted u-no-margin--bottom">What's included</p>
        </div>
        <hr class="p-rule--muted u-no-margin--bottom" />
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">Security maintenance</li>
          <li class="p-list__item is-ticked">24/7 phone and ticket support</li>
          <li class="p-list__item is-ticked">SLA-backed firefighting support</li>
          <li class="p-list__item is-ticked">Managed deployments</li>
          <li class="p-list__item is-ticked">And much more</li>
        </ul>
      </div>
      <div class="col-6">
        <div class="p-section--shallow">
          <p class="p-heading--4">On-demand</p>
          <p class="u-text--muted u-no-margin--bottom">What's included</p>
        </div>
        <hr class="p-rule--muted u-no-margin--bottom" />
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">Workshops</li>
          <li class="p-list__item is-ticked">Deployment packages</li>
          <li class="p-list__item is-ticked">Consulting packages</li>
          <li class="p-list__item is-ticked">Trainings</li>
          <li class="p-list__item is-ticked">And much more</li>
        </ul>
      </div>
    </div>
  </section>

  {{ vf_resources(
    title={"text": "Community and support"},
    blocks=[
      {
        "type": "resources",
        "render_images": false,
        "render_categories": true,
        "categories": [
          {
            "title": "Connect with the community",
            "items": [
              {
                "title": {
                  "text": "Matrix chat",
                  "link_attrs": {
                    "href": "https://matrix.to/#/#charmhub-data-platform:ubuntu.com"
                  }
                }
              }
            ]
          },
          {
            "title": "Contact us",
            "items": [
              {
                "title": {
                  "text": "Tell us more about your needs",
                  "aria-controls": "data-kafka-modal",
                  "link_attrs": {
                    "href": "/contact-us",
                    "class": "js-invoke-modal",
                    "aria-controls": "data-kafka-modal"
                  }
                }
              }
            ]
          },
          {
            "title": "Read more",
            "items": [
              {
                "title": {
                  "text": "Data backups",
                  "link_attrs": {
                    "href": "https://ubuntu.com/engage/data-backups"
                  }
                }
              },
              {
                "title": {
                  "text": "How to choose a DBMS",
                  "link_attrs": {
                    "href": "https://ubuntu.com/engage/choose-a-database"
                  }
                }
              },
              {
                "title": {
                  "text": "Database cloud migration",
                  "link_attrs": {
                    "href": "https://ubuntu.com/engage/database-cloud-migration"
                  }
                }
              }
            ]
          },
          {
            "title": "Contribute",
            "items": [
              {
                "title": {
                  "text": "Software operator for Apache Kafka",
                  "link_attrs": {
                    "href": "https://github.com/canonical/kafka-operator"
                  }
                }
              }
            ]
          }
        ]
      }
    ]
  ) }}

  <section class="p-section--deep">
    <div class="row">
      <hr class="p-rule" />
      <div class="col-start-large-7 col-6">
        <p class="u-text--muted">
          Apache&reg;, Apache Kafka, Kafka&reg;, and the Kafka logo are either registered trademarks or trademarks of the Apache Software Foundation in the United States and/or other countries.
        </p>
      </div>
    </div>
  </section>

  {{ load_form("/data/kafka") | safe }}

{% endblock %}
