{% extends 'base_index.html' %}

{% from "_macros/vf_hero.jinja" import vf_hero %}
{% from "_macros/vf_basic-section.jinja" import vf_basic_section %}
{% from "_macros/vf_tiered-list.jinja" import vf_tiered_list %}
{% from "_macros/vf_cta-section.jinja" import vf_cta_section %}
{% from "_macros/vf_logo-section.jinja" import vf_logo_section %}
{% from "_macros/vf_text-spotlight.jinja" import vf_text_spotlight %}
{% from "_macros/vf_divided-section.jinja" import vf_divided_section %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1bfo97XdFdKlzrMcMoRxiTdzt_bPVndx6j55IPsapuAE/edit
{% endblock meta_copydoc %}

{% block title %}An advanced, enterprise-grade Apache Kafka solution from Canonical{% endblock %}

{% block meta_description %}
  Charmed Kafka delivers up to 10 years of support and security maintenance for Apache Kafka. Get enterprise-grade Kafka as an integrated, turnkey solution with advanced management features.
{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}

  {% call(slot) vf_hero(
    title_text='Kafka for the enterprise',
    layout='25/75'
    ) -%}
    {%- if slot == 'signpost_image' -%}
      {{ image(url="https://assets.ubuntu.com/v1/b272e341-kafka%20logo%20hero.png",
            alt="",
            width="149",
            height="93",
            hi_def=True,
            loading="auto") | safe
      }}
    {%- endif -%}
    {%- if slot == 'description' -%}
      <p>
        Secure and automate the deployment, maintenance and upgrades of your Kafka environments across private and public clouds.
      </p>
    {%- endif -%}
    {%- if slot == 'cta' -%}
      <a class="p-button--positive js-invoke-modal"
         aria-controls="data-kafka-modal"
         href="/contact-us">Get in touch</a>
      <a href="/data/docs/kafka/iaas" class="p-button">Get started</a>
    {%- endif -%}
  {%- endcall -%}

  {% call(slot) vf_text_spotlight(
    title_text='Why choose Charmed Apache Kafka',
    list_items=[
    'Up to 10 years security maintenance',
    'Open source',
    'Simple per node subscription',
    ]
    ) -%}
  {% endcall -%}

  {% call(slot) vf_logo_section(
    title={
      "text": "Run Kafka on any public, private or hybrid cloud",
    },
    blocks=[
      {
        "type": "logo-block",
        "item": {
          "logos": [
          image(url="https://assets.ubuntu.com/v1/631da2c8-microsoft-azure-2021.png",
            alt="Microsoft Azure",
            width="116",
            height="385",
            hi_def=True,
            loading="lazy",
            output_mode="attrs",
            attrs={"class": "p-logo-section__logo"}),
          image(url="https://assets.ubuntu.com/v1/ceab7301-aws-logo.png",
            alt="AWS",
            width="187",
            height="385",
            hi_def=True,
            loading="lazy",
            output_mode="attrs",
            attrs={"class": "p-logo-section__logo"}),
          image(url="https://assets.ubuntu.com/v1/8d5a29d2-google-cloud-logo.png",
            alt="GCP",
            width="596",
            height="385",
            hi_def=True,
            loading="lazy",
            output_mode="attrs",
            attrs={"class": "p-logo-section__logo"}),
          image(url="https://assets.ubuntu.com/v1/3644cc6d-openstack-logo.png",
            alt="OpenStack",
            width="508",
            height="385",
            hi_def=True,
            loading="lazy",
            output_mode="attrs",
            attrs={"class": "p-logo-section__logo"}),
          image(url="https://assets.ubuntu.com/v1/3cf6d713-kubernetes-logomark-logo.png",
            alt="Kubernetes",
            width="606",
            height="385",
            hi_def=True,
            loading="lazy",
            output_mode="attrs",
            attrs={"class": "p-logo-section__logo"})

          ]
        }
      }
    ]
  ) -%}
    {%- if slot == 'description' -%}
    <p>
      When you use Canonical's Kafka, you get the benefit of running on top of an operating system image that's optimised for every cloud. Run Kafka on Azure, AWS, on Kubernetes or your private data centre, with OpenStack or VMWare.
    </p>
    {%- endif -%}
  {% endcall -%}

  {{ vf_basic_section(
    title={"text": "Easy to deploy and manage"},
    is_split_on_medium=true,
    items=[
      {
        "type": "image",
        "item": {
          "aspect_ratio": "16-9",
          "attrs": image(url="https://assets.ubuntu.com/v1/5dc854e4-Artboard%20154@4x.png",
                    alt="",
                    width="422",
                    height="308",
                    hi_def=True,
                    loading="lazy",
                    output_mode="attrs")
        }
      },
      {
        "type": "description",
        "item": {
          "type": "text",
          "content": "
            Charmed Kafka is simply the best way to run Kafka, on the cloud or in your data centre. Runs directly on cloud infrastructure or on Kubernetes.
          "
        }
      },
      {
        "type": "list",
        "item": {
          "list_items": [
            {
              "list_item_type": "tick",
              "content": "Automated security and configuration best practices built in"
            },
            {
              "list_item_type": "tick",
              "content": "Integrated observability for monitoring, alerting and auditing"
            },
            {
              "list_item_type": "tick",
              "content": "Multi-cloud support"
            }
          ]
        }
      },
      {
        "type": "cta-block",
        "item": {
          "link": {
            "content_html": "Get started with Charmed Kafka&nbsp;&rsaquo;",
            "attrs": {
              "href": "/data/docs/kafka/iaas"
            }
          }
        }
      }
    ]
  ) }}

  {{ vf_basic_section(
    title={"text": "Kafka security"},
    is_split_on_medium=true,
    items=[
      {
        "type": "image",
        "item": {
          "aspect_ratio": "16-9",
          "attrs": image(url="https://assets.ubuntu.com/v1/a9763c18-iso-security.png",
                    alt="",
                    width="385",
                    height="358",
                    hi_def=True,
                    loading="lazy",
                    output_mode="attrs")
        }
      },
      {
        "type": "description",
        "item": {
          "type": "text",
          "content": "Charmed Kafka simplifies security configuration with support for TLS and mTLS out of the box."
        }
      }
    ]
  ) }}

  {{ vf_basic_section(
    title={"text": "Kafka support"},
    is_split_on_medium=true,
    items=[
      {
        "type": "image",
        "item": {
          "aspect_ratio": "16-9",
          "attrs": image(url="https://assets.ubuntu.com/v1/763e2fa2-installtion-settings-illustration.png",
                    alt="",
                    width="1200",
                    height="676",
                    hi_def=True,
                    loading="lazy",
                    output_mode="attrs")
        }
      },
      {
        "type": "description",
        "item": {
          "type": "text",
          "content": "Get comprehensive, 24/7 or weekday support for Charmed Kafka, covering the entire solution for up to 10 years."
        }
      },
      {
        "type": "cta-block",
        "item": {
          "secondaries": [{
            "content_html": "Learn more about Kafka support",
            "attrs": {
              "href": "/data/kafka/support"
            }
          }]
        }
      }
    ]
  ) }}

  {{ vf_basic_section(
    title={"text": " 
          Predictable pricing for
          <br />
          enterprise-grade Kafka
          "},
    is_split_on_medium=true,
    items=[
      {
        "type": "description",
        "item": {
          "type": "text",
          "content": "Charmed Kafka support is priced per node, per year with no per-socket or per-core limitations, and no software licence fees."
        }
      },
      {
        "type": "description",
        "item": {
          "type": "text",
          "content": "Run solutions like Kafka with more control over your TCO. Budgeting and financial planning are straightforward and predictable."
        }
      },
    ]
  ) }}

  <section class="p-section">
    <div class="row--50-50 p-section--shallow">
      <hr class="p-rule" />
      <div class="col">
        <h2 class="p-text--small-caps">Charmed Kafka services</h2>
      </div>
      <div class="col">
        <p>
          Charmed Apache Kafka is available self-managed or as a fully managed solution remotely delivered in your on-premise environment or cloud tenancy.
          Charmed Apache Kafka is available self-managed or as a fully managed solution remotely delivered in your on-premise environment or cloud tenancy.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <hr class="p-rule--highlight u-no-margin--bottom" />
        <div class="p-card--overlay u-no-padding--top" style="padding: 1.5rem;">
          <div class="row p-section--shallow">
            <div class="col-3 col-medium-3 col-small-2">
              <h3>Managed</h3>
            </div>
            <div class="col-3 col-medium-3 col-small-2">
              <p class="p-heading--3 u-align-text--right u-no-margin--bottom">From $3099</p>
              <p class="u-text--muted u-align-text--right">per node, per year</p>
            </div>
          </div>
          <hr class="p-rule--muted u-no-margin--bottom" />
          <p>Get there faster. Let us deploy and operate your Kafka cluster, in your cloud tenancy or in your data centre.</p>
          <hr class="p-rule--muted u-no-margin--bottom" />
          <ul class="p-list--divided">
            <li class="p-list__item is-ticked">Backed by an SLA</li>
            <li class="p-list__item is-ticked">MSP and SOC2 certified service</li>
            <li class="p-list__item is-ticked">Low cost of ownership</li>
          </ul>
          <div class="p-cta-block u-sv3">
            <a href="https://assets.ubuntu.com/v1/7c70b24d-Canonical.Managed.Kafka.datasheet_29.11.21.pdf">Read the Managed Kafka datasheet&nbsp;&rsaquo;</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <hr class="p-rule--highlight u-no-margin--bottom" />
        <div class="p-card--overlay u-no-padding--top" style="padding: 1.5rem;">
          <div class="row p-section--shallow">
            <div class="col-3 col-medium-3 col-small-2">
              <h3>Self-managed</h3>
            </div>
            <div class="col-3 col-medium-3 col-small-2">
              <p class="p-heading--3 u-align-text--right u-no-margin--bottom">From $500</p>
              <p class="u-text--muted u-align-text--right">per node, per year</p>
            </div>
          </div>
          <hr class="p-rule--muted u-no-margin--bottom" />
          <p>24/7, weekday or advanced fire-fighting support for Kafka from Canonical for up to 10 years per release track.</p>
          <hr class="p-rule--muted u-no-margin--bottom" />
          <div class="p-section">
            <ul class="p-list--divided">
              <li class="p-list__item is-ticked">Expert troubleshooting on hand</li>
              <li class="p-list__item is-ticked">Security and bug fixes</li>
              <li class="p-list__item is-ticked">Full stack coverage</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  {%- call(slot) vf_tiered_list(is_description_full_width_on_desktop=false, is_list_full_width_on_tablet=false) -%}
    {%- if slot == 'title' -%}
    <h2>Kafka use cases</h2>
    {%- endif -%}

    {%- if slot == 'description' -%}
    <p>Apache Kafka is the world's most popular open source streaming data platform.</p>
    {%- endif -%}

    {%- if slot == 'list_item_title_1' -%}
    <h3 class="p-heading--5">Microservices architectures</h3>
    {%- endif -%}

    {%- if slot == 'list_item_description_1' -%}
    <p>Kafka makes for a high-performance, low latency middleware &ndash; ideal for intra-microservice communication in a modern microservices architecture, operating at scale.</p>
    {%- endif -%}

    {%- if slot == 'list_item_title_2' -%}
    <h3 class="p-heading--5">Continuous business intelligence</h3>
    {%- endif -%}

    {%- if slot == 'list_item_description_2' -%}
    <p>Connect, combine and transform streaming data sources to build an up-to-the-minute view of your enterprise.</p>
    {%- endif -%}

    {%- if slot == 'list_item_title_3' -%}
    <h3 class="p-heading--5">Data hub integration</h3>
    {%- endif -%}

    {%- if slot == 'list_item_description_3' -%}
    <p>Integrate event and machine data into a data hub for deeper processing.</p>
    {%- endif -%}
  {%- endcall -%}

  {% call(slot) vf_cta_section(
    variant='default',
    layout='100',
    ) -%}
    {%- if slot == 'cta' -%}
    <a href="/blog/author/robgibbon">Updates from the product manager&nbsp;&rsaquo;</a>
    {%- endif -%}
  {% endcall -%}

  {{ vf_divided_section(
    title={
      "text": "Go further with Charmed Kafka",
    },
    padding="shallow",
    blocks=[
    {
      "type": "divided-block",
      "bullet_type": "none",
      "items": [
            {
              "contents": [
                {
                  "type": "description",
                  "padding": "shallow",
                  "item": {
                    "type": "html",
                    "content": '
                    <h3 class="p-heading--5 u-no-margin--bottom">
                      <a href="/data/docs/kafka/iaas/h-deploy-anywhere">Read the documentation</a>
                    </h3>
                    <p>Read the Installation guide to learn how to get started with Charmed Kafka, on cloud VMs or on Kubernetes.</p>
                    '
                  }
                }
              ]
            },
            {
              "contents": [
                {
                  "type": "description",
                  "item": {
                    "type": "html",
                    "content": '
                    <h3 class="p-heading--5 u-no-margin--bottom">
                      <a href="https://ubuntu.com/engage/migrate-kafka-workloads-from-rhel-to-ubuntu">Migrating enterprise Kafka workloads from RHEL to Ubuntu</a>
                    </h3>
                    <p>Gain practical insights around planning and migrating enterprise Kafka workloads from Red Hat to Ubuntu.</p>
          '
                  }
                }
              ]
            },
            {
              "contents": [
                {
                  "type": "description",
                  "item": {
                    "type": "html",
                    "content": '
                     <h3 class="p-heading--5 u-no-margin--bottom">
                      <a class="js-invoke-modal"
                        aria-controls="data-kafka-modal"
                        href="/contact-us">Discuss your needs with our team</a>
                    </h3>
                    <p>Contact an expert to find out how you can benefit from Canonical\'s solution for Apache Kafka.</p>
                    '
                  }
                }
              ]
            },
      ]
    },
  ],
  ) 
  }}

  <section class="p-section--deep">
    <div class="grid-row">
      <hr class="p-rule" />
      <div class="grid-col-4 grid-col-start-large-5">
        <p class="u-text--muted">
          Apache&reg;, Apache Kafka, Kafka&reg;, and the Kafka logo are either registered trademarks or trademarks of the Apache Software Foundation in the United States and/or other countries.
        </p>
      </div>
    </div>
  </section>

  <script defer src="{{ versioned_static('js/modals.js') }}"></script>

  {% with %}
    {% set returnURL = "https://canonical.com/data/kafka#success" %}
    {% include "data/_form-data-kafka.html" %}
  {% endwith %}

{% endblock %}
