<div class="p-navigation__dropdown is-full-width is-collapsed"
     data-level="1"
     id="{{ id }}-content"
     aria-hidden="true">
  <div class="p-navigation__dropdown-content-mobile">
    <ul class="p-list u-no-margin js-dropdown-list">
      <li class="p-navigation__item--dropdown-close" id="{{ id }}-content-back">
        <a class="p-navigation__link js-back-button"
           aria-controls="{{ id }}-content"
           href="#{{ id }}-content-back"
           data-level="1">Back</a>
      </li>
      
      {% if "side_nav_sections" in section %}
        {% for nav_section in section.side_nav_sections %}
          <li class="p-navigation__item--dropdown-toggle"
              id="{{ nav_section.title | slug }}-content">
            <a class="p-navigation__link js-dropdown-button"
               href="#{{ nav_section.title | slug }}-menu"
               aria-controls="{{ nav_section.title | slug }}-menu"
               data-level="1">{{ nav_section.title }}</a>
            <ul class="p-navigation__dropdown js-dropdown-list"
                id="{{ nav_section.title | slug }}-menu"
                aria-hidden="true">
              <li class="p-navigation__item--dropdown-close"
                  id="{{ nav_section.title | slug }}-content-back">
                <a class="p-navigation__link js-back-button"
                   aria-controls="{{ nav_section.title | slug }}-content"
                   href="#{{ nav_section.title | slug }}-content-back"
                   data-level="2">Back</a>
              </li>
              {% if nav_section.primary_links %}
                {% for link in nav_section.primary_links.links %}
                  {% with link = link, data_level = "2" %}
                    {% include "navigation/partials/_list-item.html" %}
                  {% endwith %}
                {% endfor %}
              {% endif %}
              {% if nav_section.secondary_links %}
                {% if nav_section.secondary_links.title %}
                <li class="p-navigation--list-heading">
                  <h2 class="p-muted-heading is-muted" data-level="2">{{ nav_section.secondary_links.title }}</h2>
                </li>
                {% endif %}
                {% for link in nav_section.secondary_links.links %}
                  <li>
                    <a class="p-navigation--list-link" href="{{ link.url }}" data-level="2">{{ link.title }}</a>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
          </li>
        {% endfor %}
      {% endif %}

      {% if section.cta and section.cta_link %}
        <li>
          <a class="p-navigation__dropdown-item p-heading--2"
             style="margin-bottom:0"
             href="{{ section.cta_link }}"
             data-level="1">{{ section.cta }}</a>
        </li>
      {% endif %}

      {% if section.sibling_lists %}
        {% for list in section.sibling_lists %}
          <li class="p-navigation--list-heading">
            <h2 class="p-muted-heading" data-level="1">{{ list.title }}</h2>
          </li>
          {% for link in list.links %}
            {% with link = link, data_level = "1" %}
              {% include "navigation/partials/_list-item.html" %}
            {% endwith %}
          {% endfor %}
        {% endfor %}
      {% elif section.primary_links %}
        {% for link in section.primary_links.links %}
          {% with link = link, data_level = "1" %}
            {% include "navigation/partials/_list-item.html" %}
          {% endwith %}
        {% endfor %}
      {% endif %}

      {% if section.secondary_links %}
        <li class="p-navigation--list-heading">
          <h2 class="p-muted-heading" data-level="1">{{ section.secondary_links.title }}</h2>
        </li>
        {% for link in section.secondary_links.links %}
          <li>
            <a class="p-navigation--list-link" href="{{ link.url }}" data-level="1">{{ link.title }}</a>
          </li>
        {% endfor %}
      {% elif section.preview_secondary_links %}
        <li class="p-navigation--list-heading">
          <h2 class="p-muted-heading" data-level="1">(WAITING ON DESIGN) {{ section.preview_secondary_links.title }}</h2>
        </li>
        {% for link in section.preview_secondary_links.links %}
          <li>
            <a class="p-navigation--list-link" href="{{ link.url }}" data-level="1">(WAITING ON DESIGN) {{ link.description }}</a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>

  <div class="p-navigation__dropdown-content js-dropdown-window"
       id="{{ id }}">
    <div class="row--25-75">
      {% if "side_nav_sections" in section %}
        {% with side_nav_sections=section.side_nav_sections %}
          {% include "navigation/partials/_tab-panel.html" %}
        {% endwith %}
        <div class=" col">
          {% for nav_section in section.side_nav_sections %}
            <div class="p-navigation__content-panel"
                 {% if loop.index != 1 %}hidden="true"{% endif %}
                 id="{{ id }}-{{ nav_section.title | slug }}-tab-content"
                 tabindex="-1"
                 role="tabpanel"
                 aria-labelledby="{{ id }}-{{ nav_section.title | slug }}-tab">
              <div class="row u-no-padding">
                <div class="col-{% if nav_section.secondary_links %}6{% else %}9{% endif %}">
                  {% set columns = 2 if nav_section.secondary_links else 3 %}
                  {% with primary_links=nav_section.primary_links, columns=columns %}
                    {% include "navigation/partials/_primary-links.html" %}
                  {% endwith %}
                </div>
                {% if nav_section.secondary_links %}
                  <div class="col-3">
                    {% with list=nav_section.secondary_links %}
                      {% include "navigation/partials/_link-list.html" %}
                    {% endwith %}
                  </div>
                {% endif %}
              </div>
              {% if nav_section.section_footer %}
                <div class="p-navigation__footer">
                  <p>{{ nav_section.section_footer['copy'] }}</p>
                  <a href="{{ nav_section.section_footer['cta_url'] }}" class="p-button">{{ nav_section.section_footer['cta_title'] }}</a>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% elif section.cta %}
        <div class="p-navigation__content-panel--full-width">
          <div class="p-strip">
            {% if section.cta_link %}
              <p class="p-heading--2">
                <a href="{{ section.cta_link }}">{{ section.cta }}&nbsp;&rsaquo;</a>
              </p>
            {% else %}
              <p class="p-heading--2">{{ section.cta }}</p>
            {% endif %}
          </div>
          <div class="p-section--shallow">
            <hr />
            {% if section.primary_links %}
              <div class="row u-no-padding">
                <div class="col-9">
                  {% with primary_links=section.primary_links, columns=3 %}
                    {% include "navigation/partials/_primary-links.html" %}
                  {% endwith %}
                </div>
                {% if section.secondary_links %}
                  <div class="col-3">
                    {% with list=section.secondary_links %}
                      {% include "navigation/partials/_link-list.html" %}
                    {% endwith %}
                  </div>
                {% endif %}
              </div>
            {% elif section.sibling_lists %}
              <div class="row u-no-padding">
                {% for list in section.sibling_lists %}
                  <div class="col-3">
                    {% with list=list, inverted_links=true %}
                      {% include "navigation/partials/_link-list.html" %}
                    {% endwith %}
                  </div>
                {% endfor %}
                {% if section.preview_secondary_links %}
                  <div class="col-6">
                    {% with preview_secondary_links=section.preview_secondary_links %}
                      {% include "navigation/partials/_preview-links.html" %}
                    {% endwith %}
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
