{% set nav = get_navigation("all") %}

{% extends "base_index.html" %}

{% block title %}Navigation{% endblock %}

{# Macro for rendering three-column link layout #}

{% macro render_three_column_links(links, has_secondary_links=false) %}
  {% set columns = 3 if not has_secondary_links else 2 %}
  {% set column_links = split_list(links, columns) %}

  {% for i in range(columns) %}
    <div class="col-3">
      <ul class="p-list">
        {% for link in column_links[i] %}
          {% with
            url = link.url,
            title = link.title,
            description = link.description,
            secondary_cta_url = link.secondary_cta_url,
            secondary_cta_title = link.secondary_cta_title
            %}
            {% include "navigation/partials/_list-item.html" %}
          {% endwith %}
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
{% endmacro %}

{# Macro for rendering secondary links panel #}

{% macro render_secondary_panel(section_data) %}
  <div class="col-3 dropdown-window__side-panel">
    {% if section_data.secondary_links %}
      <p class="p-text--small-caps u-text--muted">{{ section_data.secondary_links.title }}</p>
      <ul class="p-list">
        {% for link in section_data.secondary_links.links %}
          <li class="p-list__item">
            <a class="dropdown-window__side-panel-link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% elif section_data.highlighted_secondary_links %}
      {% for highlighted_section in section_data.highlighted_secondary_links %}
        <p class="p-text--small-caps u-text--muted">{{ highlighted_section.title }}</p>
        <ul class="p-list">
          {% for link in highlighted_section.links %}
            {% with
              url = link.url,
              title = link.title,
              description = link.description
              %}
              {% include "navigation/partials/_list-item.html" %}
            {% endwith %}
          {% endfor %}
        </ul>
      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}

{% block content %}

  <div class="p-strip nojs-navigation is-dark">
    {% for section in nav %}
      <hr class="is-dark is-fixed-width p-rule--muted" />
      <nav class="dropdown-window__content-container desktop-dropdown-content">
        <div class="dropdown-window__content row">
          {% include "navigation/partials/_section-heading-nojs.html" %}
          {% if "side_nav_sections" in nav[section] %}
            <div class="p-navigation__tab-panel col-3">
              <div class="p-side-navigation is-dark">
                <div class="p-side-navigation__drawer">
                  <ul class="p-side-navigation__list u-no-margin--bottom">
                    {% for side_nav_section in nav[section].side_nav_sections %}
                      <li class="p-side-navigation__item">
                        <a href="#{{ section }}-{{ side_nav_section.title | slug }}-navigation"
                           class="p-side-navigation__link">{{ side_nav_section.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-9 u-no-padding">
              {% for side_nav_section in nav[section].side_nav_sections %}
                <div class="p-navigation__content-panel u-no-padding--top"
                     style="background-color: transparent"
                     id="{{ section }}-{{ side_nav_section.title | slug }}-navigation">
                  <hr class="is-dark is-fixed-width p-rule--muted" />
                  <h3 class="p-heading--2 u-no-padding--left u-sv3">{{ side_nav_section.title }}</h3>
                  <div class="row u-no-padding u-sv3">
                    {% set has_secondary_links = side_nav_section.secondary_links and side_nav_section.secondary_links.links | length %}
                    {% set links_to_render = side_nav_section.primary_links.links %}

                    <div class="col-{% if has_secondary_links %}6{% else %}9{% endif %}">
                      <div class="row">{{ render_three_column_links(links_to_render, has_secondary_links) }}</div>
                    </div>

                    {% if has_secondary_links %}
                      <div class="col-3 dropdown-window__side-panel">
                        <p class="p-text--small-caps u-text--muted">{{ side_nav_section.secondary_links.title }}</p>
                        <ul class="p-list">
                          {% for link in side_nav_section.secondary_links.links %}
                            <li class="p-list__item">
                              <a class="dropdown-window__side-panel-link" href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% endif %}
                  </div>

                  {% if side_nav_section.section_footer %}
                    <div class="col-9 p-navigation__footer">
                      {% if "copy" in side_nav_section.section_footer %}<p>{{ side_nav_section.section_footer['copy'] }}</p>{% endif %}

                      <a href="{{ side_nav_section.section_footer['cta_url'] }}"
                         class="p-button is-dark">{{ side_nav_section.section_footer['cta_title'] }}</a>
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% elif "primary_links" in nav[section] %}
            <div class="row p-navigation__content-panel"
                 style="background-color: transparent">
              <div class="col-9">
                {% if nav[section].primary_links.title %}
                  <p class="p-text--small-caps u-text--muted">{{ nav[section].primary_links.title }}</p>
                {% endif %}
                <div class="row u-sv3">{{ render_three_column_links(nav[section].primary_links.links) }}</div>
              </div>

              {{ render_secondary_panel(nav[section]) }}
            </div>
          {% elif "sibling_lists" in nav[section] %}
            <div class="row p-navigation__content-panel"
                 style="background-color: transparent">
              <div class="col-9">
                {% for sibling_list in nav[section].sibling_lists %}
                  {% if sibling_list.title %}<p class="p-text--small-caps u-text--muted">{{ sibling_list.title }}</p>{% endif %}
                  <div class="row u-sv3">{{ render_three_column_links(sibling_list.links) }}</div>
                {% endfor %}
              </div>

              {{ render_secondary_panel(nav[section]) }}
            </div>
          {% endif %}
        </div>
      </nav>
    {% endfor %}
  </div>

{% endblock %}
