<div id="secondary-navigation"
     class="p-navigation is-sticky is-secondary is-dark">
  <div class="p-navigation__row--25-75">
    <div class="p-navigation__banner">
      <div class="p-navigation__tagged-logo">
        <a class="p-navigation__link" href="{{ page_bubble.path }}">
          <div class="p-navigation__logo-tag">
            <img class="p-navigation__logo-icon"
                 src="{{ page_bubble.get('icon', 'https://assets.ubuntu.com/v1/82818827-CoF_white.svg') }}"
                 alt="" />
          </div>
          <span class="p-navigation__logo-title">{{ page_bubble.title | replace(' ', '&nbsp;') | safe }}</span>
        </a>
      </div>
      {% if page_bubble.children %}
        <ul class="p-navigation__items">
          <li class="p-navigation__item">
            <button class="js-secondary-menu-toggle-button p-navigation__link--menu-toggle"
                    aria-controls="secondary-navigation"
                    title="Toggle navigation"
                    aria-label="Toggle navigation"></button>
          </li>
        </ul>
      {% endif %}
    </div>
    <nav class="p-navigation__nav"
         aria-label="{{ page_bubble.title | replace(' ', '&nbsp;') | safe }}">
      {% if page_bubble and page_bubble.children %}
        <ul class="p-navigation__items">
          {% for page in page_bubble.children %}
            {% if page.title != "Overview" %}
              <li class="p-navigation__item {% if page.active %}is-selected{% endif %}">
                <a class="p-navigation__link"
                   href="{{ page.path }}"
                   {% if page.active %}aria-current="page"{% endif %}>{{
                page.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        {% if page_bubble.parent_title and page_bubble.parent_path %}
          <ul class="p-navigation__items">
            <li class="p-navigation__item"></li>
            <li class="p-navigation__item">
              <a class="p-navigation__link" href={{ page_bubble.parent_path }}>{{ page_bubble.parent_title }}</a>
            </li>
          </ul>
        {% endif %}
      {% endif %}
    </nav>
  </div>
</div>
