<section class="p-section">
  <div class="row">
    <hr class="p-rule" />
  </div>
  <div class="row--50-50">
    <div class="col">
      <h2>
        Co-sell with Canonical
        <br class="u-hide--medium" />
        through the partner portal
      </h2>
    </div>
    <div class="col">
      <p>
        Open source technology is growing in demand. We want you to benefit from this unique opportunity, and take advantage of the investment Canonical is making in its partner community. We are committed to giving you the tools and programs to succeed, from discounts and financial incentives, to sales and technical support teams.
      </p>
      <hr class="p-rule" />
      <p>
        <a href="https://partner.canonical.com">Login to the partner portal</a>
      </p>
    </div>
  </div>
</section>
