{% if partners %}
  <section class="p-section">
    <div class="row p-block">
      <hr class="p-rule">
      <h2>{{ title }}</h2>
    </div>
    <div class="row p-block">
      <div class="p-logo-section">
        <div class="p-logo-section__items" style="justify-content: flex-start;"> 
          {% for partner in partners %}
            <div class="p-logo-section__item" style="width: auto; margin-left: 3rem;">
              <img class="p-logo-section__logo" src="{{ partner.logo }}" alt="{{ partner.slug }}" style="height: 8rem; width: auto;">
            </div>
          {% endfor %}
        </div>  
      </div>
      <hr class="p-rule">
      <div class="col-6 col-start-large-7 col-medium-3 col-start-medium-4">
        <p class="u-align--right"><a href="{{ link_href }}">{{ link_text }}&nbsp;&rsaquo;</a></p>
      </div>
    </div>
  </section>
{% endif %}
