{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1Qxvhl6_kgCDarcem1wcFPQyHk0JEFUP1zIzNsIrT3_Y/edit#heading=h.2cifs8ay7uv0{% endblock %}

{% block title %}Contact us{% endblock %}

{% block meta_description %}Ubuntu is an open source software platform that runs everywhere from the smartphone, the tablet and the PC to the server and the cloud.{% endblock %}

{% block body_class %}is-paper{% endblock body_class %}

{% block content %}

<section class="p-strip">
  <div class="row">
    <div class="col-9 col-medium-4 col-start-large-4 col-start-medium-3">
      <h1>Contact Canonical</h1>
    </div>
  </div>
</section>
<section class="p-section">
  <div class="row">        
    <hr class="p-rule u-hide--medium u-hide--small">
    <div class="col-3 col-medium-2 col-small-4 p-block">
      <h2 class="p-muted-heading">Call us</h2>
    </div>
    <div class="col-6 col-medium-4 col-small-4">
      <div class="row">
        <div class="col-3 col-medium-2 col-small-2">
          <p>Americas</p>
        </div>
        <div class="col-6 col-medium-2 col-small-2">
          <p><a href="tel:+17372040291">+1 737 204 0291</a></p>
        </div>
        <hr class="p-rule">
        <div class="col-3 col-medium-2 col-small-2">
          <p>France </p>
        </div>
        <div class="col-6 col-medium-2 col-small-2">
          <p><a href="tel:+33184889319">+33 184 889 319</a></p>
        </div>
        <hr class="p-rule">
        <div class="col-3 col-medium-2 col-small-2">
          <p>Germany </p>
        </div>
        <div class="col-6 col-medium-2 col-small-2">
          <p><a href="tel:+4957218064917">+49 572 180 64 917</a></p>
        </div>
        <hr class="p-rule">
        <div class="col-3 col-medium-2 col-small-2">
          <p>Japan </p>
        </div>
        <div class="col-6 col-medium-2 col-small-2">
          <p><a href="tel:+81345209440">+81 345 209 440</a></p>
        </div>
        <hr class="p-rule">
        <div class="col-3 col-medium-2 col-small-2">
          <p>Spain </p>
        </div>
        <div class="col-6 col-medium-2 col-small-2">
          <p><a href="tel:+34932201131">+34 932 201131</a></p>
        </div>
        <hr class="p-rule">
        <div class="col-3 col-medium-2 col-small-2">
          <p>UK </p>
        </div>
        <div class="col-6 col-medium-2 col-small-2">
          <p><a href="tel:+442036565291">+44 203 656 5291</a></p>
        </div>
        <hr class="p-rule">
        <div class="col-3 col-medium-2 col-small-2">
          <p>Rest of World </p>
        </div>
        <div class="col-6 col-medium-2 col-small-2">
          <p><a href="tel:+442036565291">+44 203 656 5291</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section  class="p-section">
  <div class="row p-block">
    <hr class="p-rule">
    <div class="col-3 col-medium-2">
      <h2 class="p-muted-heading">Send us a message</h2>
    </div>
    <div class="col-9 col-medium-4">
      <p>Fill in this form and we'll be in touch within one working day.</p>
    </div>
  </div>
  <div class="row p-block">
    <div class="col-6 col-start-large-4 col-medium-4 col-start-medium-3 col-small-4">
      <form action="https://ubuntu.com/marketo/submit" method="post" onsubmit="ga('send', 'Canonical homepage', 'Contact us', 'Contact us');" id="mktoForm_5311">
        <label for="firstname">First name</label>
        <input type="text" id="firstname" name="firstname" autocomplete="given-name">
        <label for="lastname">Last name</label>
        <input type="text" id="lastname" name="lastname" autocomplete="family-name">
        <label for="email" class="is-required">Email</label>
        <input required type="email" id="email" name="email" autocomplete="email">
        <label for="phone-number">Phone number</label>
        <input type="password" id="phone-number" name="phone-number" autocomplete="tel">
        <label for="country">Country</label>
        <select required id="country" name="country">
          <option value="">Select...</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
          <option value="JP">Japan</option>
          <option value="GB">United Kingdom</option>
          <option value="US">United States of America</option>
          <option disabled>——————————————————</option>
          <option value="AF">Afghanistan</option>
          <option value="AX">Åland Islands</option>
          <option value="AL">Albania</option>
          <option value="DZ">Algeria</option>
          <option value="AS">American Samoa</option>
          <option value="AD">Andorra</option>
          <option value="AO">Angola</option>
          <option value="AI">Anguilla</option>
          <option value="AQ">Antarctica</option>
          <option value="AG">Antigua and Barbuda</option>
          <option value="AR">Argentina</option>
          <option value="AM">Armenia</option>
          <option value="AW">Aruba</option>
          <option value="AU">Australia</option>
          <option value="AT">Austria</option>
          <option value="AZ">Azerbaijan</option>
          <option value="BS">Bahamas</option>
          <option value="BH">Bahrain</option>
          <option value="BD">Bangladesh</option>
          <option value="BB">Barbados</option>
          <option value="BY">Belarus</option>
          <option value="BE">Belgium</option>
          <option value="BZ">Belize</option>
          <option value="BJ">Benin</option>
          <option value="BM">Bermuda</option>
          <option value="BT">Bhutan</option>
          <option value="BO">Bolivia (Plurinational State of)</option>
          <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
          <option value="BA">Bosnia and Herzegovina</option>
          <option value="BW">Botswana</option>
          <option value="BV">Bouvet Island</option>
          <option value="BR">Brazil</option>
          <option value="IO">British Indian Ocean Territory</option>
          <option value="BN">Brunei Darussalam</option>
          <option value="BG">Bulgaria</option>
          <option value="BF">Burkina Faso</option>
          <option value="BI">Burundi</option>
          <option value="KH">Cambodia</option>
          <option value="CM">Cameroon</option>
          <option value="CA">Canada</option>
          <option value="CV">Cabo Verde</option>
          <option value="KY">Cayman Islands</option>
          <option value="CF">Central African Republic</option>
          <option value="TD">Chad</option>
          <option value="CL">Chile</option>
          <option value="CN">China</option>
          <option value="CX">Christmas Island</option>
          <option value="CC">Cocos (Keeling) Islands</option>
          <option value="CO">Colombia</option>
          <option value="KM">Comoros</option>
          <option value="CG">Congo</option>
          <option value="CD">Congo (Democratic Republic of the)</option>
          <option value="CK">Cook Islands</option>
          <option value="CR">Costa Rica</option>
          <option value="CI">Côte d'Ivoire</option>
          <option value="HR">Croatia</option>
          <option value="CU">Cuba</option>
          <option value="CW">Curaçao</option>
          <option value="CY">Cyprus</option>
          <option value="CZ">Czech Republic</option>
          <option value="DK">Denmark</option>
          <option value="DJ">Djibouti</option>
          <option value="DM">Dominica</option>
          <option value="DO">Dominican Republic</option>
          <option value="EC">Ecuador</option>
          <option value="EG">Egypt</option>
          <option value="SV">El Salvador</option>
          <option value="GQ">Equatorial Guinea</option>
          <option value="ER">Eritrea</option>
          <option value="EE">Estonia</option>
          <option value="ET">Ethiopia</option>
          <option value="FK">Falkland Islands (Malvinas)</option>
          <option value="FO">Faroe Islands</option>
          <option value="FJ">Fiji</option>
          <option value="FI">Finland</option>
          <option value="FR">France</option>
          <option value="GF">French Guiana</option>
          <option value="PF">French Polynesia</option>
          <option value="TF">French Southern Territories</option>
          <option value="GA">Gabon</option>
          <option value="GM">Gambia</option>
          <option value="GE">Georgia</option>
          <option value="DE">Germany</option>
          <option value="GH">Ghana</option>
          <option value="GI">Gibraltar</option>
          <option value="GR">Greece</option>
          <option value="GL">Greenland</option>
          <option value="GD">Grenada</option>
          <option value="GP">Guadeloupe</option>
          <option value="GU">Guam</option>
          <option value="GT">Guatemala</option>
          <option value="GG">Guernsey</option>
          <option value="GN">Guinea</option>
          <option value="GW">Guinea-Bissau</option>
          <option value="GY">Guyana</option>
          <option value="HT">Haiti</option>
          <option value="HM">Heard Island and McDonald Islands</option>
          <option value="VA">Holy See</option>
          <option value="HN">Honduras</option>
          <option value="HK">Hong Kong</option>
          <option value="HU">Hungary</option>
          <option value="IS">Iceland</option>
          <option value="IN">India</option>
          <option value="ID">Indonesia</option>
          <option value="IR">Iran (Islamic Republic of)</option>
          <option value="IQ">Iraq</option>
          <option value="IE">Ireland</option>
          <option value="IM">Isle of Man</option>
          <option value="IL">Israel</option>
          <option value="IT">Italy</option>
          <option value="JM">Jamaica</option>
          <option value="JP">Japan</option>
          <option value="JE">Jersey</option>
          <option value="JO">Jordan</option>
          <option value="KZ">Kazakhstan</option>
          <option value="KE">Kenya</option>
          <option value="KI">Kiribati</option>
          <option value="KP">Korea (Democratic People's Republic of)</option>
          <option value="KR">Korea (Republic of)</option>
          <option value="KW">Kuwait</option>
          <option value="KG">Kyrgyzstan</option>
          <option value="LA">Lao People's Democratic Republic</option>
          <option value="LV">Latvia</option>
          <option value="LB">Lebanon</option>
          <option value="LS">Lesotho</option>
          <option value="LR">Liberia</option>
          <option value="LY">Libya</option>
          <option value="LI">Liechtenstein</option>
          <option value="LT">Lithuania</option>
          <option value="LU">Luxembourg</option>
          <option value="MO">Macao</option>
          <option value="MK">Macedonia (the former Yugoslav Republic of)</option>
          <option value="MG">Madagascar</option>
          <option value="MW">Malawi</option>
          <option value="MY">Malaysia</option>
          <option value="MV">Maldives</option>
          <option value="ML">Mali</option>
          <option value="MT">Malta</option>
          <option value="MH">Marshall Islands</option>
          <option value="MQ">Martinique</option>
          <option value="MR">Mauritania</option>
          <option value="MU">Mauritius</option>
          <option value="YT">Mayotte</option>
          <option value="MX">Mexico</option>
          <option value="FM">Micronesia (Federated States of)</option>
          <option value="MD">Moldova (Republic of)</option>
          <option value="MC">Monaco</option>
          <option value="MN">Mongolia</option>
          <option value="ME">Montenegro</option>
          <option value="MS">Montserrat</option>
          <option value="MA">Morocco</option>
          <option value="MZ">Mozambique</option>
          <option value="MM">Myanmar</option>
          <option value="NA">Namibia</option>
          <option value="NR">Nauru</option>
          <option value="NP">Nepal</option>
          <option value="NL">Netherlands</option>
          <option value="NC">New Caledonia</option>
          <option value="NZ">New Zealand</option>
          <option value="NI">Nicaragua</option>
          <option value="NE">Niger</option>
          <option value="NG">Nigeria</option>
          <option value="NU">Niue</option>
          <option value="NF">Norfolk Island</option>
          <option value="MP">Northern Mariana Islands</option>
          <option value="NO">Norway</option>
          <option value="OM">Oman</option>
          <option value="PK">Pakistan</option>
          <option value="PW">Palau</option>
          <option value="PS">Palestine, State of</option>
          <option value="PA">Panama</option>
          <option value="PG">Papua New Guinea</option>
          <option value="PY">Paraguay</option>
          <option value="PE">Peru</option>
          <option value="PH">Philippines</option>
          <option value="PN">Pitcairn</option>
          <option value="PL">Poland</option>
          <option value="PT">Portugal</option>
          <option value="PR">Puerto Rico</option>
          <option value="QA">Qatar</option>
          <option value="RE">Réunion</option>
          <option value="RO">Romania</option>
          <option value="RU">Russian Federation</option>
          <option value="RW">Rwanda</option>
          <option value="BL">Saint Barthélemy</option>
          <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
          <option value="KN">Saint Kitts and Nevis</option>
          <option value="LC">Saint Lucia</option>
          <option value="MF">Saint Martin (French part)</option>
          <option value="PM">Saint Pierre and Miquelon</option>
          <option value="VC">Saint Vincent and the Grenadines</option>
          <option value="WS">Samoa</option>
          <option value="SM">San Marino</option>
          <option value="ST">Sao Tome and Principe</option>
          <option value="SA">Saudi Arabia</option>
          <option value="SN">Senegal</option>
          <option value="RS">Serbia</option>
          <option value="SC">Seychelles</option>
          <option value="SL">Sierra Leone</option>
          <option value="SG">Singapore</option>
          <option value="SX">Sint Maarten (Dutch part)</option>
          <option value="SK">Slovakia</option>
          <option value="SI">Slovenia</option>
          <option value="SB">Solomon Islands</option>
          <option value="SO">Somalia</option>
          <option value="ZA">South Africa</option>
          <option value="GS">South Georgia and the South Sandwich Islands</option>
          <option value="SS">South Sudan</option>
          <option value="ES">Spain</option>
          <option value="LK">Sri Lanka</option>
          <option value="SD">Sudan</option>
          <option value="SR">Suriname</option>
          <option value="SJ">Svalbard and Jan Mayen</option>
          <option value="SZ">Swaziland</option>
          <option value="SE">Sweden</option>
          <option value="CH">Switzerland</option>
          <option value="SY">Syrian Arab Republic</option>
          <option value="TW">Taiwan</option>
          <option value="TJ">Tajikistan</option>
          <option value="TZ">Tanzania, United Republic of</option>
          <option value="TH">Thailand</option>
          <option value="TL">Timor-Leste</option>
          <option value="TG">Togo</option>
          <option value="TK">Tokelau</option>
          <option value="TO">Tonga</option>
          <option value="TT">Trinidad and Tobago</option>
          <option value="TN">Tunisia</option>
          <option value="TR">Turkey</option>
          <option value="TM">Turkmenistan</option>
          <option value="TC">Turks and Caicos Islands</option>
          <option value="TV">Tuvalu</option>
          <option value="UG">Uganda</option>
          <option value="UA">Ukraine</option>
          <option value="AE">United Arab Emirates</option>
          <option value="GB">United Kingdom</option>
          <option value="US">United States of America</option>
          <option value="UM">United States Minor Outlying Islands</option>
          <option value="UY">Uruguay</option>
          <option value="UZ">Uzbekistan</option>
          <option value="VU">Vanuatu</option>
          <option value="VE">Venezuela (Bolivarian Republic of)</option>
          <option value="VN">Viet Nam</option>
          <option value="VG">Virgin Islands (British)</option>
          <option value="VI">Virgin Islands (U.S.)</option>
          <option value="WF">Wallis and Futuna</option>
          <option value="EH">Western Sahara</option>
          <option value="YE">Yemen</option>
          <option value="ZM">Zambia</option>
          <option value="ZW">Zimbabwe</option>
        </select>
        <label for="job-title">Job title</label>
        <input type="text" id="job-title" name="job-title">
        <label for="message">What would you like to talk with us about?</label>
        <textarea id="contact-us-message" name="textarea" rows="3"></textarea>

        {# These are honey pot fields to catch bots #}
        <div class="u-off-screen">
          <label class="website" for="website">Website:</label>
          <input name="website" type="text" class="website" autocomplete="off" value="" id="website" tabindex="-1" />
          <label class="name" for="name">Name:</label>
          <input name="name" type="text" class="name" autocomplete="off" value="" id="name" tabindex="-1" />
        </div>
        {# End of honey pots #}

        <label class="p-checkbox">
          <input type="checkbox" aria-labelledby="canonicalUpdatesOptIn" class="p-checkbox__input" aria-describedby="canonicalUpdatesOptIn">
          <span class="p-checkbox__label" id="canonicalUpdatesOptIn">Send me information about Canonical products and services.</span>
        </label>
        <p class="p-form-help-text is-tick-element" id="acknowledge">By submitting this form, I confirm that I have read and agree to <a href="/legal/data-privacy/contact">Canonical's Privacy Notice</a> and <a href="/legal/data-privacy">Privacy Policy</a>.</p>

        <div class="u-hide">
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="returnURL" value="https://canonical-com-1016.demos.haus/contact-us/thank-you" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="formid" value="5311" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="acquisitionURL" value="{{request.url}}" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="Consent_to_Processing__c" value="yes" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="GCLID__c" id="GCLID__c" value="" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="Facebook_Click_ID__c" id="Facebook_Click_ID__c" value="" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" id="preferredLanguage" name="preferredLanguage" maxlength="255" value="" />
        </div>

        <button type="submit" name="submit">Submit</button>

      </form>
    </div>
  </div>
</section>
{% endblock %}
