{% extends "base_index.html" %}
{% from "_macros/vf_hero.jinja" import vf_hero %}

{% block title %}{{ author.name }} | Blog{% endblock %}

{% block description %}
  {% if author.id == 217 %}
    Canonical produces Ubuntu, provides commercial services for Ubuntu's users, and works with hardware manufacturers, software vendors and cloud partners to certify Ubuntu.
  {% else %}
    {{ author.description|safe }}
  {% endif %}
{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}
  {# djlint:off #}
  {#- avatar_urls is a dict with keys 24, 48, 96 -#}
  {% call(slot) vf_hero(
    title_text=author.name,
    layout='25/75',
    display_blank_signpost_image_space=True,
    blocks=(
      [
        {
          "type": "signpost_image",
          "item": {
            "is_highlighted": False,
            "attrs": {
              "src": author.avatar_urls['96'],
              "alt": author.name,
            }
          }
        }
      ] if author.id != 217 else []
    ) + [
      {
        "type": "description",
        "item": {
          "type": "html",
          "content": '<p class="p-text--small-caps">' ~ total_posts ~ ' posts</p>'
        }
      }
    ]
  ) -%}
  {%- endcall -%}
  {# djlint:on #}

  <section class="p-section--shallow">
    <div class="grid-row">
      {% for article in articles %}
        {% include 'blog/blog-card.html' %}
      {% endfor %}
    </div>
  </section>

  <section class="p-section">
    {% with %}
      {% set total_pages = total_pages %}
      {% set is_blog = True %}
      {% set current_page = current_page %}
      {% set row_class = "grid-row" %}
      {% set col_class = "grid-col-start-large-3 grid-col-4 u-align--center" %}
      {% include "shared/_pagination.html" %}
    {% endwith %}
  </section>

{% endblock %}
