<div class="col-4 p-card--post u-no-padding">
  <div>
    {% include 'blog/blog-card-header.html' %}
    <hr>
  </div>

  {% if article.image and article.image.source_url %}
  <div class="u-crop--16-9 p-card__image">
    <a href="/blog/{{ article.slug }}" aria-hidden="true" tabindex="-1">
      <img src="{{ article.image.source_url | safe }}" alt="" class="p-card__image">
    </a>
  </div>
  {% endif %}

  <div class="p-card__inner u-no-padding--top">

    <h3 class="p-heading--4">
      <a href="/blog/{{ article.slug }}">{{ article.title.rendered|safe }}</a>
    </h3>

    <p class="u-no-padding--top">
      <em>by
        <a href="/blog/author/{{article.author.slug}}">{{ article.author.name }}</a>
        on {{ article.date }}</em>
    </p>
    
    
    {% if summary_visible or not article.image.source_url %}
    <p class="u-no-padding--bottom{% if summary_visible %} u-hide--small{% endif %}">{{ article.excerpt.raw.replace("[…]", "")|truncate(162) }}</p>
    {% endif %}
  </div>
  
  <div class="p-card__footer">
    <hr class="u-no-margin--bottom  ">
    <p>
      {% include 'blog/singular-category.html' %}
    </p>
  </div>
</div>
