{% extends "base_index.html" %}

{% block title %}{{ tag.name }} | Blog{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}

  <div class="p-strip">
    <div class="grid-row">
      <div class="grid-col-4 grid-col-start-large-3">
        <h1>
          Blog posts tagged
          "{{ tag.name }}"
        </h1>
      </div>
    </div>
  </div>

  <section class="p-section--shallow">
    <div class="grid-row">
      {% for article in articles %}
        {% include 'blog/blog-card.html' %}
      {% endfor %}
    </div>
  </section>

  <section class="p-section">
    {% with %}
      {% set total_pages = total_pages %}
      {% set is_blog = True %}
      {% set current_page = current_page %}
      {% set row_class = "grid-row" %}
      {% set col_class = "grid-col-start-large-3 grid-col-4 u-align--center" %}
      {% include "shared/_pagination.html" %}
    {% endwith %}
  </section>

{% endblock %}
