{% extends 'base_index.html' %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/19TIwT-GU5wADQmohicj14MnpHEqNqp0422WLunFsbJU
{% endblock meta_copydoc %}

{% block title %}Canonical - company information{% endblock %}

{% block meta_description %}
  About Canonical |The publisher of Ubuntu and provider of open source security, support and services
{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% from "_macros/vf_basic-section.jinja" import vf_basic_section %}

{% block content %}
  <section class="p-section--hero">
    <div class="u-fixed-width">
      <div class="p-section--shallow">
        <h1 class="u-no-margin--bottom">About Canonical</h1>
        <p class="p-heading--2">
          Open source offers the world’s innovation in code. We deliver it faster, more reliably and more cost-effectively than any other company.
        </p>
      </div>
      <div class="p-cta-block">
        <a href="/contact-us" class="p-button--positive">Contact our team</a>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>
          Helping innovators
          <br />
          build the future since 2004
        </h2>
      </div>
      <div class="col">
        <div class="p-section--shallow">
          <p>
            Canonical’s story is closely linked to the communities that shape us, including the global community of open source contributors and enthusiasts who are part of our team.
          </p>
          <p>
            Since 2004, <a href="https://ubuntu.com/20years">we have nurtured a community around Ubuntu</a>, a Linux distribution that leveled the playing field by making software accessible to everyone - whether you are a developer in Calcutta, an end user in Cape Town or a sysadmin in California. Today, we continue to build and grow communities around us, as we help make open source more secure, reliable and manageable at scale.
          </p>
          <p>
            Together, we enable organizations and end users everywhere to innovate with confidence on the largest supported collection of open source software.
          </p>
        </div>
        <div class="u-embedded-media">
          <iframe class="u-embedded-media__element"
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/i9oDHGPBlwo?si=O1tiFV3rP-t4x5l8"
                  title="Trusted open sourse for everyone"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin"
                  allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule" />
      <div class="p-strip is-deep">
        <h2>
          We thrive on helping you build something amazing
          <br />
          with trusted open source.
        </h2>
      </div>
      <div class="p-image-container--cinematic">
        {{ image(url="https://assets.ubuntu.com/v1/b129df29-community.jpg",
                alt="",
                width="2048",
                height="807",
                hi_def=True,
                loading="lazy",
                attrs={"class": "p-image-container__image"}) | safe
        }}
      </div>
    </div>
    <div class="row--50-50">
      <div class="col">
        <h2>Community is in our DNA</h2>
      </div>
      <div class="col">
        <p>
          Besides developing our own open source technologies, we fund and contribute to many more - from networking utilities like <a href="https://netplan.io/">Netplan</a> to open source cloud platforms like <a href="https://ubuntu.com/openstack">OpenStack</a>. Canonical websites themselves use the open source <a href="https://vanillaframework.io/">Vanilla Framework</a>, which is a CSS framework developed by our web and design teams.
        </p>
        <p>
          Being part of open source communities enables us to build projects that are larger than anything a single company could make.
        </p>
        <div class="p-cta-block">
          <a href="/projects">Browse technologies and projects&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Culture</h2>
      </div>
      <div class="col">
        <p>
          An organization’s culture is shaped by its people. Canonical attracts a diverse team of experts. We bring people from over 80 different nationalities together under the same mission: to amplify the global impact of open source.
        </p>
        <div class="p-cta-block">
          <a href="/careers/company-culture">Read about our company culture&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50 p-section--shallow">
      <hr class="p-rule" />
      <div class="col">
        <h2 id="values">Canonical values</h2>
      </div>
      <div class="col">
        <p>
          Our values build on the generosity and collaboration
          <br />
          at the heart of open source.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-3 col-medium-2">
        <hr class="p-rule--highlight" />
        <h3 class="p-heading--5">
          <strong>Adroit</strong>
        </h3>
        <p>We are skillful, stylish and adaptable. We work with character, energy and enthusiasm.</p>
      </div>
      <div class="col-3 col-medium-2">
        <hr class="p-rule--highlight" />
        <h3 class="p-heading--5">
          <strong>Reliable</strong>
        </h3>
        <p>We prioritize trust, security and quality in our work. You can depend on us.</p>
      </div>
      <div class="col-3 col-medium-2">
        <hr class="p-rule--highlight" />
        <h3 class="p-heading--5">
          <strong>Accessible</strong>
        </h3>
        <p>We are open to ideas and collaboration. Our products are affordable and easy to use.</p>
      </div>
      <div class="col-3 col-medium-2">
        <hr class="p-rule--highlight" />
        <h3 class="p-heading--5">
          <strong>Precise</strong>
        </h3>
        <p>We are exact and careful about the details. We ensure performance, correctness and clarity.</p>
      </div>
    </div>
  </section>

  {{ vf_basic_section(
    title={"text": "Product portfolio"},
    is_split_on_medium=true,
    items=[
      {
        "type": "video",
        "item": {
          "attrs": {
            "src": "https://www.youtube.com/embed/cAcum4kK1ng",
            "allowfullscreen": ""
          }
        }
      },
      {
        "type": "description",
        "item": {
          "type": "text",
          "content": "Our portfolio helps you adopt trusted open source while untangling complexity in modern software development and operations. It offers a set of building blocks that cover the full technology stack - from the OS to applications."
        }
      },
      {
        "type": "description",
        "item": {
          "type": "text",
          "content": "We offer security maintenance, support and compliance features for our entire portfolio with one convenient subscription: Ubuntu Pro."
        }
      },
      {
        "type": "cta-block",
        "item": {
          "link": {
            "content_html": "Learn more about our products ›",
            "attrs": {
              "href": "/solutions"
            }
          }
        }
      },
    ]
  ) }}

  <div class="u-fixed-width">
    <hr class="p-rule--muted" />
    <div class="p-strip is-deep">
      <h2>
        <a href="/careers">Build the future of tech with Canonical. Join our team&nbsp;&rsaquo;</a>
      </h2>
    </div>
  </div>

  <section class="p-section">
    <div class="row--50-50 p-section--shallow">
      <hr class="p-rule--highlight" />
      <div class="col">
        <h2>Your trusted partners for everything open source</h2>
      </div>
      <div class="col">
        <p>When we do business, we go beyond transactional relationships.</p>
        <p>Our collaborative and joined-up approach is why customers prefer us, and why partners trust us.</p>
        <div class="p-cta-block">
          <a href="/open-source-adoption">How we help you adopt open source&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
    <div class="row p-section--shallow">
      <div class="col-start-medium-3 col-medium-4 col-start-large-4 col-9">
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-6">
            <em>"Canonical works with us as a partner and they own problems alongside us. I feel like we work as a team rather than a simple business transaction."</em>
          </div>
          <div class="col-3">
            <span>
              <strong>Curtis Haslam</strong>
            </span>
            <br />
            <span class="u-text--muted">Senior Manager at Network Cloud, BT Group</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-section--shallow">
      <div class="col-start-medium-3 col-medium-4 col-start-large-4 col-9">
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-6">
            <em>"The customer support has been exceptional. Both through the customer success team and the customer support team."</em>
          </div>
          <div class="col-3">
            <span>
              <strong>Joseph Sinfield</strong>
            </span>
            <br />
            <span class="u-text--muted">Senior Developer, Rullion</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-section--shallow">
      <div class="col-start-medium-3 col-medium-4 col-start-large-4 col-9">
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-6">
            <em>"The quality of Canonical’s products has been superb and helped our teams to deliver solutions that meet our customer expectations."</em>
          </div>
          <div class="col-3">
            <span>
              <strong>Jim Sivers</strong>
            </span>
            <br />
            <span class="u-text--muted">Software Development Engineering Manager, Wachter</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-start-medium-3 col-medium-4 col-start-large-4 col-9">
        <div class="p-cta-block">
          <a href="/case-study">Browse customer stories&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Where to find us</h2>
      </div>
      <div class="col">
        <p>
          With corporate hubs and a global team across APAC, EMEA and North America, we deliver the reliable support you need to innovate with confidence.
        </p>
        <div class="p-cta-block">
          <a href="/contact-us">Contact our team&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
    <!-- map goes here -->
    <div class="row">
      <figure title="Canonical offices in Google Maps">
        <div id="locations-map"></div>
      </figure>
    </div>
  </section>

  <section class="p-section--deep">
    <div class="row--25-75">
      <hr class="p-rule" />
      <div class="col">
        <h2>See our mission in action</h2>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-3">
            <h3 class="p-heading--5">See what our team is up to</h3>
          </div>
          <div class="col-6">
            <p>Get the latest news on our company, products and services.</p>
            <div class="p-cta-block">
              <a href="/press-center">Visit our press center&nbsp;&rsaquo;</a>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3">
            <h3 class="p-heading--5">Become a partner</h3>
          </div>
          <div class="col-6">
            <p>Work with us to amplify the impact of open source.</p>
            <div class="p-cta-block">
              <a href="/partners">Discover our partner programmes&nbsp;&rsaquo;</a>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3">
            <h3 class="p-heading--5">Get news from The Source</h3>
          </div>
          <div class="col-6">
            <p>An opinionated and entertaining view on all things open source.</p>
            <div class="p-cta-block">
              <a href="https://www.linkedin.com/build-relation/newsletter-follow?entityUrn=7108409718422839296">Subscribe to our LinkedIn newsletter&nbsp;&rsaquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    const locations = [
      [{
        "lat": 51.5043601,
        "lng": -0.0798387
      }, "London"],
      [{
        "lat": 40.2772369,
        "lng": -74.0376318
      }, "USA"],
      [{
        "lat": 31.190677,
        "lng": 121.4389818
      }, "Shanghai"],
      [{
        "lat": 39.909514,
        "lng": 116.458169
      }, "Beijing"],
      [{
        "lat": 25.0574729,
        "lng": 121.5419826
      }, "Taipei"],
      [{
        "lat": 54.15272,
        "lng": -4.487221
      }, "Isle of Man"],
      [{
        "lat": 35.673363,
        "lng": 139.740328
      }, "Tokyo"],
    ]
    const isSprintMap = false;
  </script>
  <script defer src="{{ versioned_static('js/locations-map.js') }}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiUVShD6fwLGQ8_iF-sCclFkVQFCsazxc&callback=initMap&v=weekly"
          defer></script>

{% endblock %}
