{% extends 'base.html' %}

{% block content %}
<div class="p-strip is-deep">
  <div class="row">
    <div class="col-6">
      <img src="https://assets.ubuntu.com/v1/18907710-image-404.svg" alt="Error owl" />
    </div>
    <div class="col-6">
      <h1>500: Server error</h1>
      <p class="p-heading--four">Something&rsquo;s gone wrong.</p>
      {% if message %}<blockquote><code>{{ message }}</code></blockquote>{% endif %}
      <p>
        Try reloading the page.
        If the error persists, please note that it may be a <a class="p-link--external" href="https://github.com/canonical-web-and-design/canonical.com/issues">known issue</a>.
        If not, please <a class="p-link--external" href="https://github.com/canonical-web-and-design/canonical.com/issues/new">file a new issue</a>.
      </p>
    </div>
  </div>
</div>
{% endblock content %}