<section class="p-section--deep">
    <div class="row">
        <div class="col-medium-6 col-9 col-start-large-4">
            <div class="p-section--shallow">
                <h2>Innovate on your own terms</h2>
                <p>
                    Build your stack your way with composable open source solutions, all backed by the experts behind the world’s leading Linux. At the nexus of open source innovation and enterprise support, you can move fast without compromises.
                </p>
            </div>
        </div>
    </div>
    {% set homepage_carousel = [
        {
            "id": "start-ubuntu",
            "title": "Start with Ubuntu",
            "description": "Build with confidence on the world’s most popular open source OS, move faster with certified hardware, and empower your developers with access to trusted repositories for all your open source packages.",
            "images": {
                "desktop": {
                    "src": "https://assets.ubuntu.com/v1/d2b1b018-1.png",
                    "alt": "",
                    "width": 1832,
                    "height": 764
                },
                "mobile": {
                    "src": "https://assets.ubuntu.com/v1/6353f242-1-mo.png",
                    "alt": "",
                    "width": 864,
                    "height": 864
                }
            },
            "links": [
                {
                    "href": "/solutions/ubuntu-os",
                    "text": "Why innovators prefer Ubuntu"
                }
            ]
        },
        {
            "id": "infrastructure-control",
            "title": "Take control of your infrastructure",
            "description": "Drive down cloud costs and complexity with automation. Enjoy the freedom of open source infrastructure with a partner that understands your business, the criticality of operational stability and uptime, and the importance of reliable support.",
            "images": {
                "desktop": {
                    "src": "https://assets.ubuntu.com/v1/0408dba0-2.png",
                    "alt": "",
                    "width": 916,
                    "height": 382
                },
                "mobile": {
                    "src": "https://assets.ubuntu.com/v1/c8a8e723-2-mo.png",
                    "alt": "",
                    "width": 380,
                    "height": 380
                }
            },
            "links": [
                {
                    "href": "/solutions/infrastructure",
                    "text": "Cloudify your data center"
                }
            ]
        },
        {
            "id": "stay-secure",
            "title": "Build apps at speed and stay secure",
            "description": "Managing dependencies is hard, repetitive and not value-creating – why do that? Canonical offers you a composable approach to application modernization, providing trusted artifacts you can use to build, deploy and operate containerized apps the way that suits you best and on the cloud of your choice.",
            "images": {
                "desktop": {
                    "src": "https://assets.ubuntu.com/v1/2b671f23-3.png",
                    "alt": "",
                    "width": 1832,
                    "height": 764
                },
                "mobile": {
                    "src": "https://assets.ubuntu.com/v1/6b53cb7d-3-mo.png",
                    "alt": "",
                    "width": 864,
                    "height": 864
                }
            },
            "links": [
                {
                    "href": "/solutions/cloud-native-development",
                    "text": "Break the mold – build composable"
                }
            ]
        },
        {
            "id": "optimized-ai",
            "title": "Get an optimized stack for data and AI",
            "description": "Accelerate AI and data-driven workflows. Start training your models on the public cloud and scale on your own data center. Take the pain out of operations with our data solutions and MLOps portfolio.",
            "images": {
                "desktop": {
                    "src": "https://assets.ubuntu.com/v1/7ded478b-4.png",
                    "alt": "",
                    "width": 1832,
                    "height": 764
                },
                "mobile": {
                    "src": "https://assets.ubuntu.com/v1/f9c7c859-4-mo.png",
                    "alt": "",
                    "width": 864,
                    "height": 864
                }
            },
            "links": [
                {
                    "href": "/data",
                    "text": "Simplify database management"
                },
                {
                    "href": "/solutions/ai",
                    "text": "Race ahead with AI"
                }
            ]
        },
        {
            "id": "smart-edge",
            "title": "Deploy smart things at the edge",
            "description": "Outpace both vulnerabilities and competitors. Build, secure and scale your IoT devices with trusted open source for all parts of the device lifecycle.",
            "images": {
                "desktop": {
                    "src": "https://assets.ubuntu.com/v1/24d9ac59-5.png",
                    "alt": "",
                    "width": 1832,
                    "height": 764
                },
                "mobile": {
                    "src": "https://assets.ubuntu.com/v1/90bfa899-5-mo.png",
                    "alt": "",
                    "width": 864,
                    "height": 864
                }
            },
            "links": [
                {
                    "href": "/solutions/iot-and-devices",
                    "text": "Speed up your IoT journey"
                }
            ]
        }
    ] %}
    <div class="p-section">
        <noscript>
            <div class="dropdown-window__content grid-row">
                <div class="p-navigation__tab-panel grid-col-2">
                    <div class="p-side-navigation is-dark">
                        <div class="p-side-navigation__drawer">
                            <ul class="p-side-navigation__list u-no-margin--bottom">
                                {% for s in homepage_carousel %}
                                    <li class="p-side-navigation__item">
                                        <a href="#{{ s.id }}-navigation" class="p-side-navigation__link">{{ s.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="grid-col-6 u-no-padding">
                    {% for s in homepage_carousel %}
                        <div class="p-navigation__content-panel "
                             style="background-color: transparent"
                             id="{{ s.id }}-navigation">
                            <div class="p-image--container p-section--shallow">
                                {{ image(url=s.images.desktop.src, alt=s.images.desktop.alt, width=s.images.desktop.width, height=s.images.desktop.height, hi_def=True, attrs={"class": "p-image--container__image u-hide--small"}, loading="lazy") | safe }}
                                {{ image(url=s.images.mobile.src, alt=s.images.mobile.alt, width=s.images.mobile.width, height=s.images.mobile.height, hi_def=True, attrs={"class": "p-image--container__image u-hide--medium u-hide--large"}, loading="lazy") | safe }}
                                <div class="progress-bar u-hide--large"></div>
                            </div>
                            <h3 class="u-hide--large p-heading--4">{{ s.title }}</h3>
                            <p>{{ s.description }}</p>
                            {% for l in s.links %}
                                <a href="{{ l.href }}" class="p-cta-text">{{ l.text }}</a>
                                {% if not loop.last %}<br />{% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </noscript>
        <div class="p-homepage-carousel js-dependent">
            <div class="row">
                <div class="col-3 col-medium-6">
                    <ul class="p-homepage-carousel-tabs u-hide--medium u-hide--small"
                        id="homepage-carousel-tabs">
                        {% for s in homepage_carousel %}
                            <li>
                                <button class="p-homepage-carousel-tabs__item"
                                        id="{{ s.id }}"
                                        role="tab"
                                        data-index="{{ loop.index0 }}"
                                        aria-selected="{{ 'true' if loop.first else 'false' }}"
                                        aria-controls="{{ s.id }}-tab">
                                    <div class="progress-bar--husk"></div>
                                    <div class="progress-bar"></div>
                                    {{ s.title }}
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="row u-hide--large">
                        <div class="col-medium-3 col-small-2">
                            <div>
                                <a class="p-homepage-carousel__previous" style="text-decoration: unset">
                                    <i class="p-icon--chevron-left">Previous image</i>
                                </a>
                                &nbsp;
                                <a class="p-homepage-carousel__next" style="text-decoration: unset">
                                    <i class="p-icon--chevron-right">Next image</i>
                                </a>
                            </div>
                        </div>
                        <div class="col-medium-3 u-align--right col-small-2">
                            <button class="pause-btn" aria-label="Pause carousel">
                                <img src="https://assets.ubuntu.com/v1/398d9c17-pause.svg" alt="" />
                            </button>
                        </div>
                    </div>
                    <button class="pause-btn u-hide--small u-hide--medium"
                            aria-label="Pause carousel">
                        <img src="https://assets.ubuntu.com/v1/398d9c17-pause.svg" alt="" />
                    </button>
                </div>

                <!-- tab content -->
                <div class="col-9 col-medium-6">
                    <div class="p-homepage-carousel--slides"
                         aria-label="Homepage carousel tabs"
                         id="homepage-carousel-slides">
                        {% for s in homepage_carousel %}
                            <div tabindex="0"
                                 id="{{ s.id }}-tab"
                                 class="p-homepage-carousel--slide"
                                 aria-labelledby="{{ s.id }}"
                                 aria-hidden="true">
                                <div class="p-image--container p-section--shallow">
                                    {{ image(url=s.images.desktop.src,
                                        alt=s.images.desktop.alt,
                                        width=s.images.desktop.width,
                                        height=s.images.desktop.height,
                                        hi_def=True,
                                        attrs={"class": "p-image--container__image u-hide--small"},
                                        loading="lazy") | safe }}

                                    {{ image(url=s.images.mobile.src,
                                        alt=s.images.mobile.alt,
                                        width=s.images.mobile.width,
                                        height=s.images.mobile.height,
                                        hi_def=True,
                                        attrs={"class": "p-image--container__image u-hide--medium u-hide--large"},
                                        loading="lazy") | safe }}
                                    <div class="progress-bar u-hide--large"></div>
                                </div>
                                <h3 class="u-hide--large p-heading--4">{{ s.title }}</h3>
                                <p>{{ s.description }}</p>
                                {% for l in s.links %}
                                    <a href="{{ l.href }}" class="p-cta-text">{{ l.text }}</a>
                                    {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
