<section class="p-section--deep">
    <div class="row">
      <div class="col-medium-6 col-9 col-start-large-4">
        <div class="p-section--shallow">
          <h2>Innovate on your own terms</h2>
          <p>
            Build your stack your way with composable open source solutions, all backed by the experts behind the world’s leading Linux. At the nexus of open source innovation and enterprise support, you can move fast without compromises.
          </p>
        </div>
      </div>
    </div>
    <div class="p-section">
      <div class="p-homepage-carousel">
        <div class="row">
          <div class="col-3 col-medium-6">
            <ul class="p-homepage-carousel-tabs u-hide--medium u-hide--small">
              <li>
                <button class="p-homepage-carousel-tabs__item"
                        id="start-ubuntu"
                        role="tab"
                        data-index="0"
                        aria-selected="true"
                        aria-controls="start-ubuntu-tab">
                  <div class="progress-bar--husk"></div>
                  <div class="progress-bar"></div>
                  Start with Ubuntu
                </button>
              </li>
              <li>
                <button class="p-homepage-carousel-tabs__item"
                        id="infrastructure-control"
                        role="tab"
                        data-index="1"
                        aria-selected="false"
                        aria-controls="infrastructure-control-tab">
                  <div class="progress-bar--husk"></div>
                  <div class="progress-bar"></div>
                  Take control of your infrastructure
                </button>
              </li>
              <li>
                <button class="p-homepage-carousel-tabs__item"
                        id="stay-secure"
                        role="tab"
                        data-index="2"
                        aria-selected="false"
                        aria-controls="stay-secure-tab">
                  <div class="progress-bar--husk"></div>
                  <div class="progress-bar"></div>
                  Build apps at speed and stay secure
                </button>
              </li>
              <li>
                <button class="p-homepage-carousel-tabs__item"
                        id="optimized-ai"
                        role="tab"
                        data-index="3"
                        aria-selected="false"
                        aria-controls="optimized-ai-tab">
                  <div class="progress-bar--husk"></div>
                  <div class="progress-bar"></div>
                  Get an optimized stack for data and AI

                </button>
              </li>
              <li>
                <button class="p-homepage-carousel-tabs__item"
                        id="smart-edge"
                        role="tab"
                        data-index="4"
                        aria-selected="false"
                        aria-controls="smart-edge-tab">
                  <div class="progress-bar--husk"></div>
                  <div class="progress-bar"></div>
                  Deploy smart things at the edge
                </button>
              </li>
            </ul>
            <div class="row u-hide--large">
              <div class="col-medium-3 col-small-2">
                <div>
                  <a class="p-homepage-carousel__previous" style="text-decoration: unset">
                    <i class="p-icon--chevron-left">Previous image</i>
                  </a>
                  &nbsp;
                  <a class="p-homepage-carousel__next" style="text-decoration: unset">
                    <i class="p-icon--chevron-right">Next image</i>
                  </a>
                </div>
              </div>
              <div class="col-medium-3 u-align--right col-small-2">
                <button class="pause-btn" aria-label="Pause carousel">
                  <img src="https://assets.ubuntu.com/v1/398d9c17-pause.svg" alt="" />
                </button>
              </div>
            </div>
            <button class="pause-btn u-hide--small u-hide--medium"
                    aria-label="Pause carousel">
              <img src="https://assets.ubuntu.com/v1/398d9c17-pause.svg" alt="" />
            </button>
          </div>

          <!-- tab content -->
          <div class="col-9 col-medium-6">
            <div class="p-homepage-carousel--slides"
                 aria-label="Homepage carousel tabs">
              <div tabindex="0"
                   id="start-ubuntu-tab"
                   class="p-homepage-carousel--slide"
                   aria-labelledby="start-ubuntu"
                   aria-hidden="true">
                <div class="p-image--container p-section--shallow">
                  {{ image(url="https://assets.ubuntu.com/v1/d2b1b018-1.png",
                                    alt="",
                                    width="1832",
                                    height="764",
                                    hi_def=True,
                                    attrs={"class": "p-image--container__image u-hide--small"},
                                    loading="lazy") | safe
                  }}

                  {{ image(url="https://assets.ubuntu.com/v1/6353f242-1-mo.png",
                                    alt="",
                                    width="864",
                                    height="864",
                                    hi_def=True,
                                    attrs={"class": "p-image--container__image u-hide--medium u-hide--large"},
                                    loading="lazy") | safe
                  }}
                  <div class="progress-bar u-hide--large"></div>
                </div>
                <h3 class="u-hide--large p-heading--4">Start with Ubuntu</h3>
                <p>
                  Build with confidence on the world’s most popular open source OS, move faster with certified hardware, and empower your developers with access to trusted repositories for all your open source packages.
                </p>
                <a href="/solutions/ubuntu-os" class="p-cta-text">Why innovators prefer Ubuntu<i class="p-icon--arrow-right"></i></a>
              </div>
              <div tabindex="0"
                   class="p-homepage-carousel--slide"
                   id="infrastructure-control-tab"
                   aria-labelledby="infrastructure-control"
                   aria-hidden="true">
                <div class="p-image--container p-section--shallow">
                  {{ image(url="https://assets.ubuntu.com/v1/0408dba0-2.png",
                                    alt="",
                                    width="916",
                                    height="382",
                                    hi_def=True,
                                    attrs={"class": "p-image--container__image u-hide--small"},
                  
                                    loading="lazy") | safe
                  }}

                  {{ image(url="https://assets.ubuntu.com/v1/c8a8e723-2-mo.png",
                                    alt="",
                                    width="380",
                                    height="380",
                                    hi_def=True,
                                    attrs={"class": "p-image--container__image u-hide--medium u-hide--large"},
                                    loading="lazy") | safe
                  }}
                  <div class="progress-bar u-hide--large"></div>
                </div>
                <h3 class="u-hide--large p-heading--4">Take control of your infrastructure</h3>

                <p>
                  Drive down cloud costs and complexity with automation. Enjoy the freedom of open source infrastructure with a partner that understands your business, the criticality of operational stability and uptime, and the importance of reliable support.
                </p>
                <a href="/solutions/infrastructure" class="p-cta-text">Cloudify your data center
                  <i class="p-icon--arrow-right"></i></a>
              </div>
              <div tabindex="0"
                   class="p-homepage-carousel--slide"
                   id="stay-secure-tab"
                   aria-labelledby="stay-secure"
                   aria-hidden="true">
                <div class="p-image--container p-section--shallow">
                  {{ image(url="https://assets.ubuntu.com/v1/2b671f23-3.png",
                                    alt="",
                                    width="1832",
                                    height="764",
                                    hi_def=True,
                                    attrs={"class": "p-image--container__image u-hide--small"},
                                    loading="lazy") | safe
                  }}

                  {{ image(url="https://assets.ubuntu.com/v1/6b53cb7d-3-mo.png",
                                    alt="",
                                    width="864",
                                    height="864",
                                    hi_def=True,
                                    loading="lazy",
                                    attrs={"class": "p-image--container__image u-hide--medium u-hide--large"}) | safe
                  }}
                  <div class="progress-bar u-hide--large"></div>
                </div>
                <h3 class="u-hide--large p-heading--4">Build apps at speed and stay secure</h3>
                <p>
                  Managing dependencies is hard, repetitive and not value-creating &ndash; why do that? Canonical offers you a composable approach to application modernization, providing trusted artifacts you can use to build, deploy and operate containerized apps the way that suits you best and on the cloud of your choice.
                </p>
                <a href="/solutions/cloud-native-development" class="p-cta-text">Break the mold &ndash; build composable<i class="p-icon--arrow-right"></i></a>
              </div>
              <div tabindex="0"
                   class="p-homepage-carousel--slide"
                   id="optimized-ai-tab"
                   aria-labelledby="optimized-ai"
                   aria-hidden="true">
                <div class="p-image--container p-section--shallow">
                  {{ image(url="https://assets.ubuntu.com/v1/7ded478b-4.png",
                                    alt="",
                                    width="1832",
                                    height="764",
                                    hi_def=True,
                                    attrs={"class": "p-image--container__image u-hide--small"},
                                    loading="lazy") | safe
                  }}

                  {{ image(url="https://assets.ubuntu.com/v1/f9c7c859-4-mo.png",
                                    alt="",
                                    width="864",
                                    height="864",
                                    hi_def=True,
                                    attrs={"class": "p-image--container__image u-hide--medium u-hide--large"},
                                    loading="lazy") | safe
                  }}
                  <div class="progress-bar u-hide--large"></div>
                </div>
                <h3 class="u-hide--large p-heading--4">Get an optimized stack for data and AI</h3>

                <p>
                  Accelerate AI and data-driven workflows. Start training your models on the public cloud and scale on your own data center. Take the pain out of operations with our data solutions and MLOps portfolio.
                </p>
                <a href="/data" class="p-cta-text">Simplify database management<i class="p-icon--arrow-right"></i></a>
                <br />
                <a href="/solutions/ai" class="p-cta-text">Race ahead with AI<i class="p-icon--arrow-right"></i></a>

              </div>
              <div tabindex="0"
                   class="p-homepage-carousel--slide"
                   id="smart-edge-tab"
                   aria-labelledby="smart-edge"
                   aria-hidden="true">
                <div class="p-image--container p-section--shallow">
                  {{ image(url="https://assets.ubuntu.com/v1/24d9ac59-5.png",
                                    alt="",
                                    width="1832",
                                    height="764",
                                    hi_def=True,
                                    attrs={"class": "p-image--container__image u-hide--small"},
                                    loading="lazy") | safe
                  }}
                  {{ image(url="https://assets.ubuntu.com/v1/90bfa899-5-mo.png",
                                    alt="",
                                    width="864",
                                    height="864",
                                    hi_def=True,
                                    attrs={"class": "p-image--container__image u-hide--medium u-hide--large"},
                                    loading="lazy",) | safe
                  }}
                  <div class="progress-bar u-hide--large"></div>

                </div>
                <h3 class="u-hide--large p-heading--4">Deploy smart things at the edge</h3>

                <p>
                  Outpace both vulnerabilities and competitors. Build, secure and scale your IoT devices with trusted open source for all parts of the device lifecycle.

                </p>
                <a href="/solutions/iot-and-devices" class="p-cta-text">Speed up your IoT journey <i class="p-icon--arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>