{% extends 'base_index.html' %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1Qxvhl6_kgCDarcem1wcFPQyHk0JEFUP1zIzNsIrT3_Y/edit#heading=h.2cifs8ay7uv0
{% endblock %}

{% block title %}Contact us{% endblock %}

{% block meta_description %}Contact information for Canonical, the publisher of Ubuntu.{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}

  <section class="p-strip">
    <div class="row">
      <div class="col-9 col-medium-4 col-start-large-4 col-start-medium-3">
        <h1>Contact Canonical</h1>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="p-section--shallow">
      <div class="row">
        <hr class="p-rule" />
        <div class="col-3 col-medium-2">
          <h2 class="p-muted-heading">Sales</h2>
        </div>
        <div class="col-9 col-medium-4">
          <p>
            <a href="/contact-us"
               aria-controls="homepage-modal"
               class="js-invoke-modal">Get in touch</a> about open source infrastructure, applications, development and operations. We are proud to deliver the world's best pathway to open source success.
          </p>
        </div>
      </div>
    </div>
    <div class="p-section--shallow">
      <div class="row">
        <hr class="p-rule" />
        <div class="col-3 col-medium-2">
          <h2 class="p-muted-heading">Technical assistance</h2>
        </div>
        <div class="col-9 col-medium-4">
          <p>
            Our <a href="https://www.ubuntu.com/support">support team</a> offers a range of services from enterprise support to fully managed infrastructure and applications.
          </p>
        </div>
      </div>
    </div>
    <div class="p-section--shallow">
      <div class="row">
        <hr class="p-rule" />
        <div class="col-3 col-medium-2">
          <h2 class="p-muted-heading">Trademark and other licenses</h2>
        </div>
        <div class="col-9 col-medium-4">
          <p>
            Publishing or distributing Ubuntu in any form other than our standard install media and packages requires permission. To license the Ubuntu trademark or any other rights, please <a href="/legal/terms-and-policies/contact-us">submit an enquiry</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="p-section--shallow">
      <div class="row">
        <hr class="p-rule" />
        <div class="col-3 col-medium-2">
          <h2 class="p-muted-heading">Press and analyst enquiries</h2>
        </div>
        <div class="col-9 col-medium-4">
          <p>
            Please contact <a href="mailto:pr@canonical.com">pr@canonical.com</a>.
          </p>
        </div>
      </div>
    </div>

    <div class="p-section--shallow">
      <div class="row">
        <hr class="p-rule" />
        <div class="col-3 col-medium-2">
          <h2 class="p-muted-heading">Data Privacy enquiries</h2>
        </div>
        <div class="col-9 col-medium-4">
          <p>
            For information about data privacy, please read our <a href="/legal/data-privacy" target="_blank">Privacy Policy</a> or <a href="/legal/data-privacy/enquiry">submit an enquiry</a>. A member of our data privacy team will be in touch with you shortly.
          </p>
        </div>
      </div>
    </div>
    <div class="p-section--shallow">
      <div class="row">
        <hr class="p-rule" />
        <div class="col-3 col-medium-2">
          <h2 class="p-muted-heading">Legal notices</h2>
        </div>
        <div class="col-9 col-medium-4">
          <p>
            Please note that we cannot provide you with legal advice. Legal notices should be sent to <a href="mailto:legal@canonical.com">legal@canonical.com</a>. Questions about hiring, products or sales should not be sent to this address.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="p-section">
    <div class="row">
      <hr class="p-rule" />
      <div class="col-3 col-medium-2">
        <h2 class="p-muted-heading">Our offices</h2>
      </div>
      <div class="col-9 col-medium-4">
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Canonical Group Limited</h3>
          </div>
          <div class="col-3 col-medium-2">
            <p>
              <small>5th floor
                <br />
                3 More London Riverside
                <br />
                London
                <br />
              SE1 2AQ United Kingdom</small>
            </p>
            <p>
              <small>Phone number: +44 20 8044 2036</small>
            </p>
            <p>
              <a target="_blank"
                 href="https://www.google.com/maps/place/Canonical/@51.5043601,-0.0798387,17z/data=!3m1!4b1!4m6!3m5!1s0x4876030009d6c8dd:0x147e700511323c76!8m2!3d51.5043601!4d-0.0798387!16s%2Fg%2F11w2h2xc2t?entry=ttu"><small>View map&nbsp;&rsaquo;</small></a>
            </p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Canonical USA Inc.</h3>
          </div>
          <div class="col-3 col-medium-2">
            <p>
              <small>Mailing address:
                <br />
                12 Christopher Way
                <br />
                Suite 102
                <br />
                Eatontown, NJ 07724
                <br />
              United States of America</small>
            </p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Canonical Canada Ltd.</h3>
          </div>
          <div class="col-3 col-medium-2">
            <p>
              <small>Mailing address:
                <br />
                1000 de la Gauchetiere Street West
                <br />
                Montreal (Quebec) H3B 0A2
                <br />
                Canada
              </small>
            </p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Canonical China</h3>
          </div>
          <div class="col-3 col-medium-2">
            <p>
              <small>Room 2827, 28F,
                <br />
                No. 1045 Huaihai Middle Road,
                <br />
                Shanghai, Post Code: 200031
                <br />
              上海市徐汇区淮海中路1045号28楼2827室  邮编: 200031</small>
            </p>
            <p>
              <a target="_blank"
                 href="https://www.google.com/maps/place/%E6%B7%AE%E6%B5%B7%E5%9B%BD%E9%99%85%E5%B9%BF%E5%9C%BA%E7%89%A9%E4%B8%9A%E7%AE%A1%E7%90%86%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8/@31.215293,121.4538381,17z/data=!3m1!4b1!4m6!3m5!1s0x35b27aa80dadd98f:0x2074773c7021ec15!8m2!3d31.215293!4d121.456413!16s%2Fg%2F1td_f7s7?entry=ttu&g_ep=EgoyMDI1MDUxMi4wIKXMDSoASAFQAw%3D%3D"><small>View map&nbsp;&rsaquo;</small></a>
            </p>
          </div>
          <div class="col-3 col-medium-2 col-start-medium-3">
            <p>
              <small>Unit 304, Tower B, Jiuan Plaza,
                <br />
                208 Andingmenwai Avenue, Dongcheng District,
                <br />
                Beijing, Post Code:100011
                <br />
                北京市东城区安定门外大街208号玖安广场B座304室 ,邮编:100011
              </small>
            </p>
            <p>
              <a target="_blank"
                 href="https://www.google.com/maps/place/%E4%B8%AD%E7%B2%AE%E7%BD%AE%E5%9C%B0%E5%B9%BF%E5%9C%BA%EF%BC%8D%E5%81%9C%E8%BD%A6%E5%9C%BA/@39.9518255,116.4044502,17z/data=!3m1!4b1!4m6!3m5!1s0x35f0534f1275b70f:0x8704c80e9cd3243d!8m2!3d39.9518256!4d116.4093211!16s%2Fg%2F11q438_dz3?entry=ttu&g_ep=EgoyMDI1MDIyNi4wIKXMDSoASAFQAw%3D%3D"><small>View map&nbsp;&rsaquo;</small></a>
            </p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Canonical Group Limited, Taiwan Branch</h3>
          </div>
          <div class="col-3 col-medium-2">
            <p>
              <small>12F., No. 100, Sec. 3, Minsheng E. Rd.
                <br />
                Songshan Dist. Taipei City 105402
                <br />
                Taiwan (R.O.C)
                <br />
              105402 台北市松山區民生東路三段100號12樓</small>
            </p>
            <p>
              <a target="_blank"
                 href="https://maps.google.com/?q=25.057472897172897, 121.54455749660825&ll=&z=18"><small>View map&nbsp;&rsaquo;</small></a>
            </p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Canonical Limited</h3>
          </div>
          <div class="col-3 col-medium-2">
            <p>
              <small>2nd Floor
                <br />
                Clarendon House
                <br />
                Victoria Street
                <br />
                Douglas IM1 2LN
                <br />
              Isle of Man</small>
            </p>
            <p>
              <a target="_blank"
                 href="https://maps.google.com/?q=54.15272,-4.487221&ll=54.15272,-4.487221&z=18"><small>View map&nbsp;&rsaquo;</small></a>
            </p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Canonical Japan K.K</h3>
          </div>
          <div class="col-3 col-medium-2">
            <p>
              <small>3rd Floor, Sanno Park Tower
                <br />
                2-11-1 Nagata-cho
                <br />
                Chiyoda-ku
                <br />
                Tokyo 100-6162
                <br />
              Japan</small>
            </p>
            <p>
              <a target="_blank"
                 href="https://maps.google.com/?q=35.673363,139.740328&ll=35.673363,139.740328&z=18"><small>View map&nbsp;&rsaquo;</small></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ load_form("/contact-us") | safe }}

{% endblock %}
