{% extends 'base_index.html' %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1GNa1FaTkARdrVwYgHXf5H-6sqOLjkJENDistDDcsi4o
{% endblock
meta_copydoc %}

{% block meta_title %}Canonical | Trusted open source for enterprises{% endblock %}

{% block meta_description %}
  Canonical makes open source secure, reliable and easy to use, providing support for Ubuntu
  and a portfolio of enterprise-grade technologies. Founded in 2004, Canonical operates globally with team members in over
  80 countries.
{% endblock %}

{% block body_class %}
  is-dark
{% endblock body_class %}

{% block content %}
  <!-- StackOverflow ad tracking pixel -->
  <script>
    (function() {
      var a = String(Math.floor(Math.random() * 10000000000000000));
      new Image().src = 'https://pubads.g.doubleclick.net/activity;xsp=4822915;ord=' + a + '?';
    })();
  </script>
  <noscript>
    <img src="https://pubads.g.doubleclick.net/activity;xsp=4822915;ord=1?"
         width="1"
         height="1"
         border="0"
         alt="Tracking pixel" />
  </noscript>
  <div class="p-navigation__overlay">
    <section class="p-strip">
      <div class="row">
        <div class="col-medium-6 col-9 col-start-large-4">
          <div class="p-section--shallow">
            <h1 class="p-heading--display">
              Build at speed.
              <br />
              Operate at scale.
            </h1>
            <p class="p-heading--2">Start with Ubuntu and get trusted open source for every part of your stack.</p>
          </div>
          <p>
            <a class="p-button--positive u-no-margin--bottom js-invoke-modal"
               href="/contact-us"
               id="showModal"
               aria-controls="homepage-modal">Contact us</a>
          </p>
        </div>
      </div>
      <div class="u-fixed-width u-no-padding u-hide--medium u-hide--small">
        <img src="https://assets.ubuntu.com/v1/9469ef82-suru_dark.jpg"
             alt=""
             style="aspect-ratio: 2580/501;
                    width: 100%" />
      </div>
    </section>
    <section class="p-section" id="products">
      <div class="u-fixed-width">
        <hr class="p-rule" />
        <h2 class="u-no-margin--bottom">
          <strong>A broad portfolio</strong>
        </h2>
        <p class="p-heading--2">
          Made for reliability.
          <br class="u-hide--medium u-hide--small" />
          Designed to drive down
          infrastructure costs.
        </p>
      </div>
    </section>
    <section class="p-section">
      <div class="row">
        <div class="col-start-medium-3 col-medium-4 col-start-large-4 col-9">
          <hr class="p-rule" />
          <div class="row">
            <div class="col-6">
              <h3 class="p-heading--2">
                One stable platform
                <br />
                for everything open source
              </h3>
              <p>
                Build with confidence using the world's favorite Linux operating system.
                <br />
                Ubuntu delivers long-term
                supported releases every two years.
              </p>
            </div>
            <div class="col-3 col-medium-2">
              <p class="p-heading--2">
                <a href="https://ubuntu.com/desktop">Ubuntu Desktop&nbsp;&rsaquo;</a>
              </p>
              <hr class="p-rule--muted u-hide--medium" />
              <p class="p-heading--2">
                <a href="https://ubuntu.com/server">Ubuntu Server&nbsp;&rsaquo;</a>
              </p>
              <hr class="p-rule--muted u-hide--medium" />
              <p class="p-heading--2">
                <a href="https://ubuntu.com/download/cloud">Ubuntu on public
                clouds&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="p-section">
      <div class="row">
        <div class="col-start-medium-3 col-medium-4 col-start-large-4 col-9">
          <hr class="p-rule" />
          <div class="row">
            <div class="col-6">
              <h3 class="p-heading--2">Cloud, your way</h3>
              <p>
                Flexible and engineered for efficiency.
                <br />
                From small, private clouds on rails to clouds at any scale.
              </p>
            </div>
            <div class="col-3">
              <p class="p-heading--2">
                <a href="https://ubuntu.com/kubernetes">Kubernetes&nbsp;&rsaquo;</a>
              </p>
              <hr class="p-rule--muted u-hide--medium" />
              <p class="p-heading--2">
                <a href="/openstack">OpenStack&nbsp;&rsaquo;</a>
              </p>
              <hr class="p-rule--muted u-hide--medium" />
              <p class="p-heading--2">
                <a href="https://ubuntu.com/ceph">Ceph&nbsp;&rsaquo;</a>
              </p>
              <hr class="p-rule--muted u-hide--medium" />
              <p class="p-heading--2">
                <a href="/microcloud">MicroCloud&nbsp;&rsaquo;</a>
              </p>
              <hr class="p-rule--muted u-hide--medium" />
              <p class="p-heading--2">
                <a href="https://maas.io/">MAAS&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="p-section">
      <div class="row">
        <div class="col-start-medium-3 col-medium-4 col-start-large-4 col-9">
          <hr class="p-rule" />
          <div class="row">
            <div class="col-6">
              <h3 class="p-heading--2">
                Low-ops application management
                <br class="u-hide--medium u-hide--small" />
                on any
                infrastructure
              </h3>
              <p>
                Deploy, integrate and operate applications on any infrastructure with a seamless admin experience across
                kubernetes and VMs.
              </p>
            </div>
            <div class="col-3">
              <p class="p-heading--2">
                <a href="https://juju.is/">Juju&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="p-section">
      <div class="row">
        <div class="col-start-medium-3 col-medium-4 col-start-large-4 col-9">
          <hr class="p-rule" />
          <div class="row">
            <div class="col-6">
              <h3 class="p-heading--2">
                Optimized
                <br class="u-hide--medium u-hide--small" />
                for IoT and edge
              </h3>
              <p>
                Speed up time-to-market and lower maintenance costs. Ship devices that are self-healing, secure and
                always up-to-date.
              </p>
            </div>
            <div class="col-3">
              <p class="p-heading--2">
                <a href="https://ubuntu.com/core">Ubuntu Core&nbsp;&rsaquo;</a>
              </p>
              <hr class="p-rule--muted u-hide--medium" />
              <p class="p-heading--2">
                <a href="https://microk8s.io/">MicroK8s&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="p-section">
      <div class="row">
        <div class="col-start-medium-3 col-medium-4 col-start-large-4 col-9">
          <hr class="p-rule" />
          <div class="row">
            <div class="col-6">
              <h3 class="p-heading--2">Multi-cloud data and AI</h3>
              <p>
                Focus more on innovation and simplify operations with our multi-cloud data and AI solutions. Get the
                predictable economics you need to scale your projects.
              </p>
            </div>
            <div class="col-3">
              <p class="p-heading--2">
                <a href="/data">Data&nbsp;&rsaquo;</a>
              </p>
              <hr class="p-rule--muted u-hide--medium" />
              <p class="p-heading--2">
                <a href="/solutions/ai">AI and MLOps&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="p-section">
      <div class="row">
        <div class="col-start-medium-3 col-medium-4 col-start-large-4 col-9">
          <hr class="p-rule" />
          <div class="row">
            <div class="col-6">
              <h3 class="p-heading--2">
                Support, security
                <br class="u-hide--medium u-hide--small" />
                and compliance
              </h3>
              <p>
                One subscription to offload security, compliance and support
                <br />
                for your entire open source stack.
              </p>
            </div>
            <div class="col-3">
              <p class="p-heading--2">
                <a href="https://www.ubuntu.com/pro">Ubuntu Pro&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="p-section">
      <div class="u-fixed-width">
        <hr class="p-rule" />
        <h2>
          <strong>Trusted in every industry</strong>
        </h2>
      </div>
    </section>
    <section class="p-section">
      <div class="p-tabs is-home row">
        <div class="p-tabs__list col-start-medium-3 col-medium-4 col-start-large-4 col-9 u-no-margin--bottom "
             role="tablist"
             aria-label="Trusted in every industry">
          <div class="p-tabs__item">
            <button class="p-tabs__link"
                    role="tab"
                    aria-selected="true"
                    aria-controls="Telco-tab"
                    id="Telco">Telco</button>
          </div>
          <div class="p-tabs__item">
            <button class="p-tabs__link"
                    role="tab"
                    aria-selected="false"
                    aria-controls="Education-tab"
                    id="Education"
                    tabindex="-1">Education</button>
          </div>
          <div class="p-tabs__item">
            <button class="p-tabs__link"
                    role="tab"
                    aria-selected="false"
                    aria-controls="IoT-tab"
                    id="IoT"
                    tabindex="-1">IoT</button>
          </div>
          <div class="p-tabs__item">
            <button class="p-tabs__link"
                    role="tab"
                    aria-selected="false"
                    aria-controls="Automotive-tab"
                    id="Automotive"
                    tabindex="-1">Automotive</button>
          </div>
          <div class="p-tabs__item">
            <button class="p-tabs__link"
                    role="tab"
                    aria-selected="false"
                    aria-controls="SaaS-tab"
                    id="SaaS"
                    tabindex="-1">SaaS</button>
          </div>
          <div class="p-tabs__item">
            <button class="p-tabs__link"
                    role="tab"
                    aria-selected="false"
                    aria-controls="Finance-tab"
                    id="Finance"
                    tabindex="-1">Finance</button>
          </div>
        </div>
      </div>
      <div tabindex="0" role="tabpanel" id="Telco-tab" aria-labelledby="Telco">
        <div class="p-section">
          <div class="row">
            <div class="col-2 col-medium-2 col-small-2">
              {{ image(url="https://assets.ubuntu.com/v1/dd7614e3-BT%20logo.png",
                            alt="",
                            width="1196",
                            height="577",
                            hi_def=True,
                            loading="lazy") | safe
              }}
            </div>
            <div class="col-9 col-start-large-4 col-medium-4 col-small-4">
              <div class="row p-section--shallow">
                <div class="col-6 col-medium-4">
                  <h3 class="p-heading--2">Next-generation 5G networks</h3>
                </div>
                <div class="col-3 col-medium-4">
                  <p>BT deploys and scales a responsive 5G network with Canonical.</p>
                  <p>
                    <a href="https://ubuntu.com/blog/bt-turns-to-canonical-ubuntu-to-enable-next-generation-5g-cloud-core">Read
                    the press release&nbsp;›</a>
                  </p>
                </div>
              </div>
              {{ image(url="https://assets.ubuntu.com/v1/41ac89a1-GettyImages-836184268.jpg",
                            alt="",
                            width="1880",
                            height="699",
                            hi_def=True,
                            loading="lazy") | safe
              }}
            </div>
          </div>
        </div>
      </div>
      <div tabindex="0"
           role="tabpanel"
           id="Education-tab"
           aria-labelledby="Education"
           aria-hidden="false"
           hidden="hidden">
        <div class="p-section">
          <div class="row">
            <div class="col-2 col-medium-2 col-small-2">
              {{ image(url="https://assets.ubuntu.com/v1/156b0c27-UTA%20logo.png",
                            alt="",
                            width="1012",
                            height="297",
                            hi_def=True,
                            loading="lazy") | safe
              }}
            </div>
            <div class="col-9 col-start-large-4 col-medium-4 col-small-4">
              <div class="row p-section--shallow">
                <div class="col-6">
                  <h3 class="p-heading--2">Supercomputing for AI/ML</h3>
                </div>
                <div class="col-3">
                  <p>University of Tasmania unlocks real-time space tracking with AI/ML supercomputing.</p>
                  <p>
                    <a href="https://ubuntu.com/engage/ai-ml-casestudy-tasmania">Read the case study&nbsp;&rsaquo;</a>
                  </p>
                </div>
              </div>
              {{ image(url="https://assets.ubuntu.com/v1/939a7280-UTAS_MT_Pleasant_Social-68%201.jpg",
                            alt="",
                            width="1646",
                            height="699",
                            hi_def=True,
                            loading="lazy") | safe
              }}
            </div>
          </div>
        </div>
      </div>
      <div tabindex="0"
           role="tabpanel"
           id="IoT-tab"
           aria-labelledby="IoT"
           aria-hidden="false"
           hidden="hidden">
        <div class="p-section--shallow">
          <div class="row">
            <div class="col-2 col-medium-2 col-small-2">
              {{ image(url="https://assets.ubuntu.com/v1/1fa49205-screenly%20logo.png",
                            alt="",
                            width="1012",
                            height="325",
                            hi_def=True,
                            loading="lazy") | safe
              }}
            </div>
            <div class="col-9 col-medium-4 col-start-large-4 col-small-4">
              <div class="row p-section--shallow">
                <div class="col-6">
                  <h3 class="p-heading--2">Simple, secure and scalable IoT</h3>
                </div>
                <div class="col-3">
                  <p>
                    Screenly manages its fast scaling and distributed IoT fleet with Ubuntu Core and a private IoT App
                    Store.
                  </p>
                  <p>
                    <a href="https://ubuntu.com/engage/screenly-empowers-security-conscious-enterprises">Read the case
                    study&nbsp;&rsaquo;</a>
                  </p>
                </div>
              </div>
              {{ image(url="https://assets.ubuntu.com/v1/52479f91-features-hero-media%201.jpg",
                            alt="",
                            width="1646",
                            height="699",
                            hi_def=True,
                            loading="lazy") | safe
              }}
            </div>
          </div>
        </div>
      </div>
      <div tabindex="0"
           role="tabpanel"
           id="Automotive-tab"
           aria-labelledby="Automotive"
           aria-hidden="false"
           hidden="hidden">
        <div class="p-section--shallow">
          <div class="row">
            <div class="col-2 col-medium-2 col-small-2">
              {{ image(url="https://assets.ubuntu.com/v1/0857c6ff-Microvision_logo_white.svg",
                            alt="Microvision logo",
                            width="201",
                            height="138",
                            hi_def=True,
                            loading="lazy") | safe
              }}
            </div>
            <div class="col-9 col-medium-4 col-start-large-4 col-small-4">
              <div class="row p-section--shallow">
                <div class="col-6">
                  <h3 class="p-heading--2">Private clouds that speed up innovation</h3>
                </div>
                <div class="col-3">
                  <p>
                    MicroVision accelerates their development team’s VM deployments with an OpenStack-based private
                    cloud, ideal for innovation in autonomous driving.
                  </p>
                  <p>
                    <a href="https://ubuntu.com/engage/microvision-powers-autonomous-driving-with-charmed-openstack">Read
                    the case study&nbsp;&rsaquo;</a>
                  </p>
                </div>
              </div>
              {{ image(url="https://assets.ubuntu.com/v1/fd9cffd1-Test_Vehicle_Hamburg3.JPG",
                            alt="",
                            width="1030",
                            height="693",
                            hi_def=True,
                            loading="lazy") | safe
              }}
            </div>
          </div>
        </div>
      </div>
      <div tabindex="0"
           role="tabpanel"
           id="SaaS-tab"
           aria-labelledby="SaaS"
           aria-hidden="false"
           hidden="hidden">
        <div class="p-section">
          <div class="row">
            <div class="col-2 col-medium-2 col-small-2">
              {{ image(url="https://assets.ubuntu.com/v1/1eea7355-interana%20logo.png",
                            alt="",
                            width="1012",
                            height="361",
                            hi_def=True,
                            loading="lazy") | safe
              }}
            </div>
            <div class="col-9 col-start-large-4 col-medium-4 col-small-4">
              <div class="row p-section--shallow">
                <div class="col-6">
                  <h3 class="p-heading--2">Guaranteed platform stability. Unmatched economics.</h3>
                </div>
                <div class="col-3">
                  <p>
                    Interana relies on Canonical to ensure system stability and security for customers while preparing
                    for a migration.
                  </p>
                  <p>
                    <a href="https://ubuntu.com/engage/interana-casestudy">Read the case study&nbsp;&rsaquo;</a>
                  </p>
                </div>
              </div>
              {{ image(url="https://assets.ubuntu.com/v1/5bb03aeb-features-hero-media%201.png",
                            alt="",
                            width="1646",
                            height="699",
                            hi_def=True,
                            loading="lazy") | safe
              }}
            </div>
          </div>
        </div>
      </div>
      <div tabindex="0"
           role="tabpanel"
           id="Finance-tab"
           aria-labelledby="Finance"
           aria-hidden="false"
           hidden="hidden">
        <div class="p-section">
          <div class="row">
            <div class="col-2 col-medium-2 col-small-2">
              {{ image(url="https://assets.ubuntu.com/v1/e1437923-sbi-bits%20logo.png",
                            alt="",
                            width="1012",
                            height="297",
                            hi_def=True,
                            loading="lazy") | safe
              }}
            </div>
            <div class="col-9 col-start-large-4 col-medium-4 col-small-4">
              <div class="row p-section--shallow">
                <div class="col-6">
                  <h3 class="p-heading--2">More automation and cost savings</h3>
                </div>
                <div class="col-3">
                  <p>SBI BITS achieves efficient resource deployment with a Canonical OpenStack implementation.</p>
                  <p>
                    <a href="https://ubuntu.com/engage/sbi-casestudy">Read the case study&nbsp;&rsaquo;</a>
                  </p>
                </div>
              </div>
              {{ image(url="https://assets.ubuntu.com/v1/80a56f7c-sbibits-photo-1558494949-ef010cbdcc31%201.png",
                            alt="",
                            width="1652",
                            height="612",
                            hi_def=True,
                            loading="lazy") | safe
              }}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="p-section">
      <div class="u-fixed-width">
        <hr class="p-rule" />
        <h2 class="u-no-margin--bottom">
          <strong>Accelerating innovation</strong>
        </h2>
        <p class="p-heading--2">
          We partner with the biggest names in tech
          <br class="u-hide--small" />
          to amplify the impact
          of open source.
        </p>
      </div>
    </section>
    <section class="p-section">
      <div class="row">
        <hr class="p-rule" />
        <div class="col-3 col-medium-2">
          <h3 class="p-text--small-caps">Cloud</h3>
        </div>
        <div class="col-9 col-medium-4">
          <p class="p-heading--2">
            Streamline your workflows and get the scalability you need with <a href="/partners/public-cloud">Ubuntu across clouds</a>.
          </p>
          <div class="row">
            <div class="p-logo-section">
              <div class="p-logo-section__items">
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/5afa90c1-google-cloud-logo.png",
                                    alt="Google Cloud",
                                    width="696",
                                    height="474",
                                    hi_def=True,
                                    loading="lazy",
                                    attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/0b9f0328-aws-logo.png",
                                    alt="AWS",
                                    width="177",
                                    height="474",
                                    hi_def=True,
                                    loading="lazy",
                                    attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/bb183d2b-Group%203359.png",
                                    alt="Microsoft",
                                    width="474",
                                    height="474",
                                    hi_def=True,
                                    loading="lazy",
                                    attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/7271c669-oracle_logo_white.png",
                                    alt="Oracle",
                                    width="474",
                                    height="474",
                                    hi_def=True,
                                    loading="lazy",
                                    attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/424191f2-ibm-cloud-logo.png",
                                    alt="IBM Cloud",
                                    width="474",
                                    height="474",
                                    hi_def=True,
                                    loading="lazy",
                                    attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <hr class="p-rule" />
        <div class="col-3 col-medium-2">
          <h3 class="p-text--small-caps">Silicon</h3>
        </div>
        <div class="col-9 col-medium-4">
          <p class="p-heading--2">
            Go to market faster with <a href="/partners/silicon">Canonical's silicon ecosystem</a>.
          </p>
          <div class="row">
            <div class="p-logo-section">
              <div class="p-logo-section__items">
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/3267d9f8-nvidia-logo.png",
                                    alt="NVIDIA",
                                    width="525",
                                    height="474",
                                    hi_def=True,
                                    loading="lazy",
                                    attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/560da749-arm-logo.png",
                                    alt="ARM",
                                    width="183",
                                    height="474",
                                    hi_def=True,
                                    loading="lazy",
                                    attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/eedd1cbe-intel-new-logo.png",
                                    alt="Intel",
                                    width="207",
                                    height="474",
                                    hi_def=True,
                                    loading="lazy",
                                    attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
                <div class="p-logo-section__item">
                  {{ image(url="https://assets.ubuntu.com/v1/74705d48-amd-logo.png",
                                    alt="AMD",
                                    width="336",
                                    height="474",
                                    hi_def=True,
                                    loading="lazy",
                                    attrs={"class": "p-logo-section__logo"}) | safe
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <hr class="p-rule" />
        <div class="col-3 col-medium-2">
          <h3 class="p-text--small-caps">Hardware</h3>
        </div>
        <div class="col-9 col-medium-4">
          <p class="p-heading--2">
            Get optimal performance and a seamless user experience with <a href="https://ubuntu.com/certified">Ubuntu certified hardware</a>.
          </p>
          <div class="p-logo-section">
            <div class="p-logo-section__items">
              <div class="p-logo-section__item">
                {{ image(url="https://assets.ubuntu.com/v1/59392278-hp-logo.png",
                                alt="HP",
                                width="195",
                                height="474",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-logo-section__logo"}) | safe
                }}
              </div>
              <div class="p-logo-section__item">
                {{ image(url="https://assets.ubuntu.com/v1/17527792-dell-technologies-logo-dark-theme.png",
                                alt="Dell",
                                width="520",
                                height="948",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-logo-section__logo"}) | safe
                }}
              </div>
              <div class="p-logo-section__item">
                {{ image(url="https://assets.ubuntu.com/v1/77ee3313-lenovo-logo.png",
                                alt="Lenovo",
                                width="318",
                                height="474",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-logo-section__logo"}) | safe
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="p-section">
      <div class="u-fixed-width">
        <hr class="p-rule" />
        <h2>
          <strong>Get to know Canonical</strong>
        </h2>
      </div>
    </section>
    <section class="p-section">
      <div class="row">
        <div class="col-start-medium-3 col-medium-4 col-start-large-4 col-9">
          <hr class="p-rule" />
          <div class="row">
            <div class="col-9">
              <div class="p-section--shallow">
                <h3 class="p-text--small-caps">Work with us</h3>
              </div>
              <p class="p-heading--2">
                Build the world's best open source experience.
                <br class="u-hide--medium u-hide--small" />
                Join our team.
              </p>
              <p class="p-heading--2">
                <a href="/careers/career-explorer">Browse careers&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="p-section">
      <div class="row">
        <div class="col-start-medium-3 col-medium-4 col-start-large-4 col-9">
          <hr class="p-rule" />
          <div class="row">
            <div class="col-9">
              <div class="p-section--shallow">
                <h3 class="p-text--small-caps">Why open source?</h3>
              </div>
              <p class="p-heading--2">
                The future is open.
                <br class="u-hide--medium u-hide--small" />
                Our mission is to make
                it secure and available to everyone.
              </p>
              <p class="p-heading--2">
                <a href="/projects">How we contribute&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="p-strip is-deep u-no-padding--top">
      <div class="row">
        <div class="col-start-medium-3 col-medium-4 col-start-large-4 col-9">
          <hr class="p-rule" />
          <div class="row">
            <div class="col-9">
              <div class="p-section--shallow">
                <h3 class="p-text--small-caps">What's new</h3>
              </div>
              <p class="p-heading--2">
                See our mission in action.
                <br class="u-hide--medium u-hide--small" />
                Read the latest
                news from Canonical.
              </p>
              <p class="p-heading--2">
                <a href="/press-centre">Press center&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  {% with %}
    {% set formid = "5311" %}
    {% set returnURL = "https://canonical.com#success" %}
    {% include "partners/partial/_homepage-form.html" %}
  {% endwith %}

  <script src="{{ versioned_static('js/tabbed-content.js') }}" defer></script>

{% endblock %}
