{% extends 'base.html' %}

{% block content %}
  <div class="p-suru is-dark">
    <div class="p-strip u-vertically-center" style="height: 100vh;">
      <div class="row">
        <div class="col-7">
          <h1>Deliver, maintain,<br />secure and sustain</h1>
          <h2>open source, everywhere</h2>
        </div>

        <div class="col-5">

        </div>
      </div>
    </div>

    <div class="p-strip u-vertically-center" style="height: 100vh;">
      <div class="row">
        <div class="col-12">
          <h2>Drive down infrastructure cost,<br />accelerate your applications</h2>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
