{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1WcNN2RlQQrbLSP5ZgcIsAeQAHj5h_yDW6Yd5oBMmU3M{% endblock meta_copydoc %}

{% block meta_description %}Canonical publishes Ubuntu, provides commercial services and solutions for Ubuntu, and works with hardware manufacturers, software vendors and public clouds to certify Ubuntu.{% endblock %}


{% block content %}
  <div class="p-strip--suru-large is-dark u-no-padding--top is-parallax">
    <div class="row u-vertically-center" style="height: 100vh;">
      <div class="col-6 p-heading-highlight--left u-animation--slide-from-top">
        <h1 class="p-heading-highlight--left__item " style="margin-bottom: 0.5rem;">Deliver, maintain,<br class="u-hide--medium u-hide--small" />secure and sustain</h1>
        <h2>open source from cloud to desktop and devices.</h2>
      </div>
      <div class="col-4 col-start-large-8 u-hide--small u-animation--slide-from-bottom">
        <img src="https://assets.ubuntu.com/v1/670abb00-header_illustration.svg" alt="Canonical products logo" width="100%">
      </div>
    </div>

    <div class="row u-vertically-center" style="height: 100vh;">
      <div class="col-8 col-start-large-3 p-heading-highlight--left" data-animation="u-animation--slide-from-right">
        <h2 class="p-heading-highlight--left__item p-heading--one">Drive down infrastructure cost,<br />accelerate your applications.</h2>
      </div>
    </div>
  </div>

  <div id="products" class="p-strip is-slanted--top-left js-active-target" style="margin-bottom: 6rem;">
    <div class="row u-sv3">
      <div class="col-12 u-align--center u-sv3" data-animation="u-animation--slide-from-bottom">
        <h4 class="p-muted-heading" style="max-width: none; text-transform: capitalize;">Best Enterprise Security. Best Datacenter Automation. Best Developer Experience. Best App Store. Best Devices.</h4>
      </div>
    </div>
    <div class="row u-equal-height" style="grid-gap: 1rem;">
      <div class="col-4 u-equal-height" data-animation="u-animation--slide-from-bottom">
        <div class="p-card--strip u-no-padding">
          <div class="p-strip is-shallow">
            <a href="https://ubuntu.com">
              <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/25be0ace-products-ubuntu-wht-aubergine.svg" alt="Ubuntu">
            </a>
          </div>
          <div class="p-card__content">
            <p>The new standard secure enterprise Linux for servers, desktops, cloud, developers and things</p>
            <p><a href="https://ubuntu.com">ubuntu.com&nbsp;&rsaquo;</a></p>
          </div>
        </div>
      </div>
      <div class="col-4 u-equal-height" data-animation="u-animation--slide-from-bottom">
        <div class="p-card--strip u-no-padding">
          <div class="p-strip is-shallow">
            <a href="https://ubuntu.com/security">
              <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/c47655d3-products-security-wht-aubergine4.svg" alt="Security and support">
            </a>
          </div>
          <div class="p-card__content">
            <p>Extended Security Maintenance, Kernel Livepatch, FIPS, enterprise support and certification</p>
            <p><a href="https://ubuntu.com/security">ubuntu.com/security&nbsp;&rsaquo;</a></p>
          </div>
        </div>
      </div>
      <div class="col-4 u-equal-height" data-animation="u-animation--slide-from-bottom">
        <div class="p-card--strip u-no-padding">
          <div class="p-strip is-shallow">
            <a href="https://landscape.canonical.com">
              <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/7f8d7403-products-landscape-wht.svg" alt="Landscape">
            </a>
          </div>
          <div class="p-card__content">
            <p>Updates, package management, repositories, security, and regulatory compliance for Ubuntu</p>
            <p><a href="https://landscape.canonical.com">landscape.canonical.com&nbsp;&rsaquo;</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row u-equal-height" style="grid-gap: 1rem;">
      <div class="col-4 u-equal-height"  data-animation="u-animation--slide-from-bottom">
        <div class="p-card--strip u-no-padding">
          <div class="p-strip is-shallow">
            <a href="https://maas.io">
              <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/3c26ff14-products-maas-wht-aubergine2.svg" alt="MAAS">
            </a>
          </div>
          <div class="p-card__content">
            <p>Dynamic server provisioning and IPAM gives you on-demand bare metal, a physical cloud</p>
            <p><a href="https://maas.io">maas.io&nbsp;&rsaquo;</a></p>
          </div>
        </div>
      </div>
      <div class="col-4 u-equal-height" data-animation="u-animation--slide-from-bottom">
        <div class="p-card--strip u-no-padding">
          <div class="p-strip is-shallow">
            <a href="https://linuxcontainers.org">
              <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/a737970a-products-lxd-wht-aubergine4.svg" alt="LXD">
            </a>
          </div>
          <div class="p-card__content">
            <p>The pure-container hypervisor. Run legacy apps in secure containers for speed and density</p>
            <p><a href="https://linuxcontainers.org">linuxcontainers.org&nbsp;&rsaquo;</a></p>
          </div>
        </div>
      </div>
      <div class="col-4 u-equal-height" data-animation="u-animation--slide-from-bottom">
        <div class="p-card--strip u-no-padding">
          <div class="p-strip is-shallow">
            <a href="https://jaas.ai">
              <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/1dee5076-products-juju-wht-aubergine2.svg" alt="Juju">
            </a>
          </div>
          <div class="p-card__content">
            <p>Model-driven cloud-native apps on public and private infrastructure and CAAS</p>
            <p><a href="https://jaas.ai">jaas.ai&nbsp;&rsaquo;</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row u-equal-height"style="grid-gap: 1rem;">
      <div class="col-4 u-equal-height" data-animation="u-animation--slide-from-bottom">
        <div class="p-card--strip u-no-padding">
          <div class="p-strip is-shallow">
            <a href="https://ubuntu.com/openstack">
              <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/0694ab7a-openstack_lrg.svg" alt="OpenStack">
            </a>
          </div>
          <div class="p-card__content">
            <p>Upgrades, maintenance, support, and fully managed options for long-term low-cost infrastructure</p>
            <p><a href="https://ubuntu.com/openstack">ubuntu.com/openstack&nbsp;&rsaquo;</a></p>
          </div>
        </div>
      </div>
      <div class="col-4 u-equal-height" data-animation="u-animation--slide-from-bottom">
        <div class="p-card--strip u-no-padding">
          <div class="p-strip is-shallow">
            <a href="https://ubuntu.com/kubernetes">
              <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/32ef9123-kubernetes_lrg.svg" alt="Kubernetes">
            </a>
          </div>
          <div class="p-card__content">
            <p>App portability for K8s on VMware, Amazon, Azure, Google, Oracle, IBM and bare metal</p>
            <p><a href="https://ubuntu.com/kubernetes">ubuntu.com/kubernetes&nbsp;&rsaquo;</a></p>
          </div>
        </div>
      </div>
      <div class="col-4 u-equal-height" data-animation="u-animation--slide-from-bottom">
        <div class="p-card--strip u-no-padding">
          <div class="p-strip is-shallow">
            <a href="https://snapcraft.io">
              <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/11776603-snapcraft_lrg.svg" alt="Snapcraft">
            </a>
          </div>
          <div class="p-card__content">
            <p>The app store with secure packages and ultra-reliable updates for multiple Linux distros</p>
            <p><a href="https://snapcraft.io">snapcraft.io&nbsp;&rsaquo;</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row u-equal-height u-extra-space" style="grid-gap: 1rem;">
      <div class="col-2 u-equal-height" data-animation="u-animation--slide-from-bottom">
        <div class="p-card" style="background-color: #F7F7F7; border: none;">
          <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/7697e127-products-generic-small.svg" alt="Kubernetes logo">
          <h5 class="p-card__title"><a href="http://cloud-images.ubuntu.com/">Ubuntu Image Service&nbsp;&rsaquo;</a></h5>
          <div class="p-card__content">
            <p><small>Hardened, standardised or, and customised Ubuntu images on public clouds and private infrastructure</small></p>
          </div>
        </div>
      </div>
      <div class="col-2 u-equal-height" data-animation="u-animation--slide-from-bottom">
        <div class="p-card" style="background-color: #F7F7F7; border: none;">
          <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/c79b7d3a-products-cloud-init-small.svg" alt="Kubernetes logo">
          <h5 class="p-card__title"><a href="http://cloud-init.io/">Cloud-init&nbsp;&rsaquo;</a></h5>
          <div class="p-card__content">
            <p><small>Control and customise your cloud instances on boot and during their lifecycle</small></p>
          </div>
        </div>
      </div>
      <div class="col-2 u-equal-height" data-animation="u-animation--slide-from-bottom">
        <div class="p-card" style="background-color: #F7F7F7; border: none;">
          <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/7697e127-products-generic-small.svg" alt="Kubernetes logo">
          <h5 class="p-card__title"><a href="https://mir-server.io/">Mir&nbsp;&rsaquo;</a></h5>
          <div class="p-card__content">
            <p><small>Ultra-fast and lightweight Wayland compositor for secure desktop and device displays</small></p>
          </div>
        </div>
      </div>
      <div class="col-2 u-equal-height" data-animation="u-animation--slide-from-bottom">
        <div class="p-card" style="background-color: #F7F7F7; border: none;">
          <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/7697e127-products-generic-small.svg" alt="Kubernetes logo">
          <h5 class="p-card__title"><a href="http://conjure-up.io/">Conjure-up&nbsp;&rsaquo;</a></h5>
          <div class="p-card__content">
            <p><small>Publish and deploy predefined complex software stacks for cloud, CAAS and bare-metal</small></p>
          </div>
        </div>
      </div>
      <div class="col-2 u-equal-height" data-animation="u-animation--slide-from-bottom">
        <div class="p-card" style="background-color: #F7F7F7; border: none;">
          <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/7697e127-products-generic-small.svg" alt="Kubernetes logo">
          <h5 class="p-card__title"><a href="http://netplan.io/">Netplan&nbsp;&rsaquo;</a></h5>
          <div class="p-card__content">
            <p><small>Network abstraction for Linux to simplify and standardise complex network configuration</small></p>
          </div>
        </div>
      </div>
      <div class="col-2 u-equal-height" data-animation="u-animation--slide-from-bottom">
        <div class="p-card" style="background-color: #F7F7F7; border: none;">
          <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/5015e56e-products-multipass-small.svg" alt="Kubernetes logo">
          <h5 class="p-card__title"><a href="http://multipass.run/">Multipass&nbsp;&rsaquo;</a></h5>
          <div class="p-card__content">
            <p><small>On-demand build-and-test VMs for cloud devs on Windows, Mac and Linux desktops</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-strip--suru has-tag is-dark is-slanted--top-left is-parallax">
    <div class="row u-vertically-center" style="height: 100vh;">
      <div class="col-12 col-start-large-2 p-heading-highlight--left" data-animation="u-animation--slide-from-right" >
        <h2 class="p-heading-highlight--left__item p-heading--one">Partners make our platforms stronger.<br />Our platforms make our partners faster.</h2>
      </div>
    </div>
  </div>

  <div id="partners" class="p-strip is-slanted--top-right" style="margin-bottom: 9rem;">
    <div class="u-fixed-width">
      <ul class="p-inline-images">
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/e8810ea7-Intel.svg" width="91" height="60" alt="Intel logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/5bd692e3-partner-logo-fujitsu.svg" width="122" height="57" alt="Fujitsu logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/cf7153e1-Texas-instruments.svg" width="144" height="35" alt="Texas Instruments logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/c873297d-hp-enterprise.svg" width="130" height="54" alt="HP Enterprise logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/75521214-Google-cloud-platform.svg" width="144" height="16" alt="Google Cloud logo" style="max-width: 275px;">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/e6e2deaf-oracle.svg" width="144" height="25" alt="Oracle logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/bd4452d1-microsoft.svg" width="144" height="30" alt="Microsoft logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/1008033a-arm.svg" width="112" height="34"alt="ARM logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/f627fbfb-hp.svg" width="61" height="61" alt="HP logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/1a0f2422-sandisk.svg" width="144" height="30" alt="Sandisk logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/ae6e3e91-AmazonWS.svg" width="132" height="51" alt="AWS logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/5ddba83a-logo-dell.svg" width="70" height="70" alt="Dell logo" style="max-width: 70px;">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/fa1643fb-amd.svg" width="144" height="34" alt="AMD logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/36fe2d08-ntt.svg" width="107" height="39" alt="NTT logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/fa0bbf09-cisco.svg" width="101" height="56" alt="Cisco logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/fb30ce34-IBM.svg" width="88" height="36" alt="IBM logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/d9390ba6-deutsche-telekom.svg" width="135" height="32" alt="Deutche Telekom logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/cb3fcdfb-lenovo.svg" width="144" height="30" alt="Lenovo logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/a85dfc35-NEC.svg" width="100" height="28" alt="NEC logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/b32990e3-verizon.svg" width="121" height="38" alt="Verizon logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/e3914def-partner-logo-azure.svg" width="144" height="42" alt="Microsoft Azure logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/a78cad70-china-telecom.svg" width="135" height="38" alt="China Telecom logo">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/5d403409-2018-logo-yahoo-japan.svg" width="144" height="37" alt="Yahoo Japan logo">
        </li>
      </ul>
    </div>
  </div>

  <div class="p-strip--image is-dark is-slanted--top-right is-parallax" style="background-image:url('https://assets.ubuntu.com/v1/ce95be94-careers-guy.jpg');">
    <div class="row u-vertically-center" style="height: 100vh;">
      <div class="col-12 col-start-large-2 p-heading-highlight--left" data-animation="u-animation--slide-from-top">
        <h2 class="p-heading-highlight--left__item p-heading--one">Local lifestyle. Global leadership.<br />Join Canonical to lead enterprise<br />open source.</h2>
      </div>
    </div>
  </div>

  <div id="careers" class="p-strip--suru is-dark is-slanted--top-left js-active-target">
    <div class="row">
      <div class="col-4">
        <div class="p-heading-highlight--bottom">
          <h3 class="p-heading-highlight--bottom__item">Truly distributed</h3>
        </div>
        <p>Exceptional, self-motivated, organised and passionate people deserve the freedom to live where they want. Our teams travel regularly to meet colleagues and customers.</p>
        <blockquote class="p-pull-quote">
          <p class="p-pull-quote__quote">I have seen incredible places &ndash; an unexpected benefit of life at Canonical</p>
        </blockquote>
        <hr class="u-hide u-show--small"/>
      </div>
      <div class="col-4">
        <div class="p-heading-highlight--bottom">
          <h3 class="p-heading-highlight--bottom__item">Best in class</h3>
        </div>
        <p>We rate top for Linux security. We run more hosts, more workloads and more devices than anybody else, because we strive to do everything insightfully, properly, fairly, and openly.</p>
        <blockquote class="p-pull-quote">
          <p class="p-pull-quote__quote">These are exciting challenges and we measure ourselves against the world leaders. It’s tough, but satisfying</p>
        </blockquote>
        <hr class="u-hide u-show--small"/>
      </div>
      <div class="col-4">
        <div class="p-heading-highlight--bottom">
          <h3 class="p-heading-highlight--bottom__item">Enterprise focused</h3>
        </div>
        <p>The world is moving to Ubuntu &ndash; open source that's faster, cheaper and better. Empower engineers, secure precious data, share knowledge and lead the change.</p>
        <blockquote class="p-pull-quote">
          <p class="p-pull-quote__quote">My customers are transforming their operations around cloud, and I get to show them that future</p>
        </blockquote>
      </div>
    </div>
    <div class="row u-hide--small">
      <hr />
    </div>
    <div class="row">
      <div class="col-12">
        <p><a href="/careers/start" class="p-button--outline">Explore a career at Canonical</a></p>
      </div>
    </div>
  </div>

  <script defer src="/static/js/highlight-nav-on-scroll.js"></script>

  <script>
    var animateHTML = function() {
      var elementsToAnimate;
      var windowHeight;
      function init() {
        elementsToAnimate = document.querySelectorAll('[data-animation]');
        windowHeight = window.innerHeight;
        addEventHandlers();
        checkPosition();
      }
      function addEventHandlers() {
        window.addEventListener('scroll', checkPosition);
        window.addEventListener('resize', init);
      }
      function checkPosition() {
        elementsToAnimate.forEach(element => {
          var positionFromTop = element.getBoundingClientRect().top;
          if (positionFromTop - windowHeight <= 0) {
            element.classList.add(element.dataset.animation);
            element.removeAttribute("data-animation");
          }
        });
      }
      return {
        init: init
      };
    };
    animateHTML().init();
  </script>

  <style>
    .js-partner-logos {
      position: absolute;
      opacity: 0;
      width: 100%;
    }
    .loaded {
      opacity: 1;
      transition: opacity 0.25s;
    }
  </style>
{% endblock %}
