{% extends 'base_index.html' %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1by4fT8HFZ850LwzJDWvnOJOP-R0RY9Inya2HT-PGmEY/edit?tab=t.0
{% endblock
meta_copydoc %}

{% block meta_title %}
  Canonical | Trusted open source for enterprises
{% endblock meta_title %}

{% block meta_description %}
  Drive innovation in your enterprise with trusted open source – simple, cost-effective, and supported.
{% endblock meta_description %}

{% block body_class %}
  is-dark homepage
{% endblock body_class %}

{% block content %}

  <section class="p-strip">
    <div class="row">
      <div class="col-medium-6 col-9 col-start-large-4">
        <div class="p-section--shallow">
          <h1 class="p-heading--display">
            Trusted
            <br />
            open source

          </h1>
          <p>Simple, cost-effective, supported – expand the Ubuntu philosophy to every layer of your enterprise stack.</p>
        </div>
        <div class="p-cta-block">
          <a class="p-button--positive">Discover our solutions</a>
          <a>Get in touch</a>
        </div>
      </div>
    </div>
  </section>

  Hello, this is the new page for Canonical's contact information.
  <!-- Canvas element where the Lottie animation will be rendered -->
  <canvas id="hero-section-suru" style="height: 1500px; width: 1500px;"></canvas>
  <script src="{{ versioned_static('js/dist/homepage_animations.js') }}"></script>

{% endblock %}
