<div class="p-navigation__preview-links">
  {% if preview_secondary_links.title and preview_secondary_links.title_url %}
    <h2 class="p-navigation--list-heading p-text--small-caps">
      <a href="{{ section.preview_secondary_links.title_url }}">{{ section.preview_secondary_links.title }}&nbsp;&rsaquo;</a>
    </h2>
  {% endif %}
  <div class="row u-no-padding">
    {% for link in preview_secondary_links.links %}
      <div class="col-2">
        <a class="p-link--inverted p-navigation__preview-link"
           href="{{ link.url }}">
          <div class="p-navigation__preview-link--image">
            <img src="{{ link.image_url }}" alt="" loading="lazy" />
          </div>
          <p class="p-navigation__preview-link--description">{{ link.description }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
