<div class="p-navigation__preview-links">
  {% if preview_secondary_links.title %}
    <p class="p-navigation--list-heading">{{ preview_secondary_links.title }}</p>
  {% endif %}
  <div class="row u-no-padding">
    {% for link in preview_secondary_links.links %}
      <div class="col-2">
        <a class="p-link--inverted" href="">
          <div class="p-navigation--image-wrapper">
            <img src="{{ link.image_url }}" alt="{{ link.alt_text }}" />
          </div>
          <p>{{ link.description }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
</div>