{% extends 'base_index.html' %}

{% from "_macros/vf_hero.jinja" import vf_hero %}

{% block title %}MicroCloud Resources{% endblock %}

{% block meta_description %}
  A collection of useful and educational material and information about MicroClouds and its components.
{% endblock %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1ffTxn2ymKrWRPUjjx6cN0-OA6rlIuX0YaVbFQHcpsTM/edit
{% endblock meta_copydoc %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}

  {% call(slot) vf_hero(
    title_text='Learn more about MicroCloud',
    layout='50/50'
    ) -%}
    {%- if slot == 'description' -%}
      <p>
        To help you understand more about MicroCloud, we've put together this collection of resources. They'll help you understand what MicroCloud does, how you can get set up, and what you can use it to do.
      </p>
    {%- endif -%}
  {% endcall -%}

  <section class="p-section">
    <div class="row--25-75">
      <hr class="p-rule" />
      <div class="col">
        <h2 class="p-text--small-caps" id="videos-and-webinars">Videos and webinars</h2>
      </div>
      <div class="col js-slider">
        <div class="row js-slider--items p-section--shallow">

          <div class="col-3 col-medium-2">
            <div class="u-embedded--image">
              {{ image(url="https://assets.ubuntu.com/v1/ca87674b-introduction-to.png",
                            alt="Introduction to MicroClouds",
                            width="640",
                            height="360",
                            hi_def=True,
                            loading="auto") | safe
              }}
            </div>
            <h3 class="p-heading--5 u-no-padding--top u-no-margin--bottom">
              <a href="https://ubuntu.com/engage/introduction-to-microcloud">Introduction to MicroClouds</a>
            </h3>
            <p>
              MicroCloud is the newest addition to Canonical’s cloud infrastructure portfolio. It is a low-touch, open-source cloud solution purpose-built for scalable clusters and edge deployments for all types of enterprises. In this webinar, we go over what MicroClouds are and why they should be a part of your edge strategy, finishing with a demo.
            </p>
          </div>

          <div class="col-3 col-medium-2">
            <div class="u-embedded--image">
              {{ image(url="https://assets.ubuntu.com/v1/ec34de89-microcloud-lts.png",
                            alt="",
                            width="568",
                            height="315",
                            hi_def=True,
                            loading="auto") | safe
              }}
            </div>
            <h3 class="p-heading--5 u-no-padding--top u-no-margin--bottom">
              <a href="https://www.youtube.com/watch?v=M0y0hQ16YuE">MicroCloud LTS Demo</a>
            </h3>
            <p>
              Canonical MicroCloud's 2.1.0 LTS release features support for single-node deployments, improved security posture, and more flexibility during the initialization process. In this video, we guide you through the new process, starting with deploying a MicroCloud on a single node, and then expanding with two additional members for a highly available cluster.
            </p>
          </div>

          <div class="col-3 col-medium-2">
            <div class="u-embedded--image">
              {{ image(url="https://assets.ubuntu.com/v1/a6c813e5-vdi-with.png",
                            alt="",
                            width="568",
                            height="316",
                            hi_def=True,
                            loading="auto") | safe
              }}
            </div>
            <h3 class="p-heading--5 u-no-padding--top u-no-margin--bottom">
              <a href="https://ubuntu.com/engage/webinar-vdi-microcloud-hp-anyware">VDI with MicroCloud and HP Anyware</a>
            </h3>
            <p>
              In today’s dynamic business landscape, organizations need to be agile and responsive to changing demands. A robust VDI solution can be a game-changer, enabling you to empower your workforce and optimize your IT infrastructure. In this webinar on HPE Solutions for VDI with Canonical MicroCloud and HP Anyware, we will address the modern workspace challenges organizations face today.
            </p>
          </div>

          <div class="col-3 col-medium-2 u-hide">
            <div class="u-embedded--image">
              {{ image(url="https://assets.ubuntu.com/v1/2887fa4e-Fal_H3txrzE-HD.jpg",
                            alt="",
                            width="1280",
                            height="720",
                            hi_def=True,
                            loading="lazy") | safe
              }}
            </div>
            <h3 class="p-heading--5 u-no-padding--top u-no-margin--bottom">
              <a href="https://ubuntu.com/engage/from-vmware-to-the-future">From VMware to the future</a>
            </h3>
            <p>
              Recent changes at VMware have compelled existing customers to consider alternatives. Many have turned their eyes to open source, looking for total cost of ownership (TCO) reduction and no vendor lock-in. This webinar outlines how open source can be a cost-effective, performant alternative.
            </p>
          </div>

          <div class="col-3 col-medium-2 u-hide">
            <div class="u-embedded-media">
              <iframe class="u-embedded-media__element"
                      title="MicroCloud, now with OVN!"
                      width="560"
                      height="315"
                      src="https://www.youtube.com/embed/iWZYUU8lX5A?si=UFVZWtE6wLS2fXbV"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      allowfullscreen></iframe>
            </div>

            <h3 class="p-heading--5 u-no-padding--top u-no-margin--bottom">
              <a href="https://www.youtube.com/watch?v=iWZYUU8lX5A">MicroCloud, now with OVN</a>
            </h3>
            <p>
              This video explains the technical side of Canonical MicroClouds, its components and the way it works. In addition, it includes a demo showing how easy it is to deploy your own MicroCloud.
            </p>
          </div>

          <div class="col-3 col-medium-2 u-hide">
            <div class="u-embedded-media">
              <iframe class="u-embedded-media__element"
                      title="Introducing MicroCeph"
                      width="560"
                      height="315"
                      src="https://www.youtube.com/embed/PX1n3ZAWuAU?si=yXI5yNxTjiKqo1Wm"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      allowfullscreen></iframe>
            </div>
            <h3 class="p-heading--5 u-no-padding--top u-no-margin--bottom">
              <a href="https://www.youtube.com/watch?v=PX1n3ZAWuAU">Introducing MicroCeph</a>
            </h3>
            <p>
              If you are interested in the storage side of MicroClouds, then you should learn about MicroCeph.  In our introductory video, we explain what MicroCeph is and how it can be used to set up an HA Ceph cluster easily, avoiding complex configuration that is usually needed.
            </p>
          </div>

          <div class="col-3 col-medium-2 u-hide">
            <div class="u-embedded--image">
              {{ image(url="https://assets.ubuntu.com/v1/c8186b24-lxd-youtube-channel.png",
                            alt="",
                            width="351",
                            height="200",
                            hi_def=True,
                            loading="auto") | safe
              }}
            </div>
            <h3 class="p-heading--5 u-no-padding--top u-no-margin--bottom">
              <a href="https://www.youtube.com/@LXD/videos">How-to-guides and tutorials on the LXD Youtube channel</a>
            </h3>
            <p>
              ​MicroClouds use LXD for compute. This means that for running and operating your instances, as well as any other configuration, regular LXD operations apply. The LXD Youtube channel is a great place for tutorials on a variety of topics you may need for operating your cloud.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-9">
            <button class="js-slider--prev is-disabled" title="Previous resources">
              <i class="p-icon--chevron-left"></i>
            </button>
            <span class="js-results-count"></span>
            <button class="js-slider--next" title="Next resources">
              <i class="p-icon--chevron-right"></i>
            </button>
            <p class="explore-link-align">
              <a href="https://ubuntu.com/engage?tag=microcloud"
                 aria-label="Explore all videos and webinars">Explore all</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="p-section">
    <div class="row--25-75 is-split-on-medium">
      <hr class="p-rule" />
      <div class="col">
        <h2 class="p-text--small-caps">
          Case studies,
          <br aria-hidden="true" />
          whitepapers and reports
        </h2>
      </div>
      <div class="col js-slider">
        <div class="row js-slider--items p-section--shallow">

          <div class="col-3 col-medium-2">
              <h3 class="p-heading--5">
                <a href="https://ubuntu.com/engage/distributed-cloud-infrastructure-microcloud">Simplifying your distributed cloud infrastructure with MicroCloud</a>
              </h3>
              <p>
                Navigating the challenges of hybrid and multi-cloud environments can feel overwhelming. Steep learning curves, operational complexities, and unpredictable costs often stand in the way of innovation. This whitepaper discusses the complexities of distributed cloud infrastructure and how MicroCloud can address them.
              </p>
          </div>

          <div class="col-3 col-medium-2">
              <h3 class="p-heading--5">
                <a href="https://ubuntu.com/engage/university-ontario-francais-microcloud-case-study">Université de l’Ontario Français rapidly scales with MicroCloud and enterprise support</a>
              </h3>
              <p>
                This case study showcases how MicroCloud took the manual work and human effort out of deploying and scaling server resources and managing UOF’s cloud infrastructure.
              </p>
          </div>

          <div class="col-3 col-medium-2">
              <h3 class="p-heading--5">
                <a href="https://ubuntu.com/engage/hpe-vdi-solution-hp-anyware-canonical-microcloud">VDI solution with HP anyware and Canonical MicroCloud</a>
              </h3>
              <p>
                Explore how integrating HPE ProLiant servers, Canonical MicroCloud, and HP Anyware can transform your IT infrastructure to deliver a resilient, secure, and scalable solution that meets the demands of modern business.
              </p>
          </div>

          <div class="col-3 col-medium-2">
              <h3 class="p-heading--5">
                <a href="https://ubuntu.com/engage/guide-to-micro-clouds">CTO's guide to MicroClouds</a>
              </h3>
              <p>
                This whitepaper discusses the concept of MicroClouds, a new class of compute for the edge and decentralised environments. It's ideal to gain an understanding of edge computing constraints, values, graphics and use cases.
              </p>
          </div>

          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">
              <a href="https://ubuntu.com/engage/vmware-migration-scenarios">VMware migration to Ubuntu-based infrastructure</a>
            </h3>
            <p>
              Many VMware users run infrastructure in smaller clusters, with each cluster dedicated to a specific purpose. Canonical MicroCloud is an ideal fit for these use cases. Learn more about the migration scenarios in this whitepaper.
            </p>
          </div>
        </div>

        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-9">
            <button class="js-slider--prev is-disabled" title="Previous resources">
              <i class="p-icon--chevron-left"></i>
            </button>
            <span class="js-results-count"></span>
            <button class="js-slider--next" title="Next resources">
              <i class="p-icon--chevron-right"></i>
            </button>
            <p class="explore-link-align">
              <a href="https://ubuntu.com/engage?tag=microcloud"
                 aria-label="Explore all videos and webinars">Explore all</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--25-75 is-split-on-medium p-section is-resource">
      <hr class="p-rule" />
      <div class="col">
        <h2 class="p-text--small-caps">Blog posts</h2>
      </div>
      <div class="col js-slider">
        <div class="row js-slider--items p-section--shallow">

          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">
              <a href="https://ubuntu.com/blog/canonical-releases-microcloud-lts">Canonical announces the first MicroCloud LTS release</a>
            </h3>
            <p>
              MicroCloud 2.1.0 LTS features support for single-node deployments, improved security posture, and more flexibility during the initialization process. This blog outlines what’s new in this release.
            </p>
          </div>

          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">
              <a href="https://ubuntu.com/blog/minimising-latency-in-your-edge-cloud-with-real-time-kernel">Minimizing latency in your edge cloud with real-time kernel</a>
            </h3>
            <p>
              This blog runs through how to enable the Real-time kernel in MicroClouds. It also covers real-time testing, comparing the performance of virtualized and containerized applications leveraging the real-time versus the generic Ubuntu kernel.
            </p>
          </div>

          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">
              <a href="https://ubuntu.com/blog/one_command_micro_cloud">Launch your own MicroClouds with one command</a>
            </h3>
            <p>
              In this blog, we go over the new, simplified deployment process for MicroClouds, teaching you to deploy your own cloud with a single command in just a few minutes.
            </p>
          </div>

          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">
              <a href="https://ubuntu.com/blog/edge-computing-is-dead-long-live-micro-clouds-and-iot-gateways">Edge computing is dead, long live MicroClouds and IoT gateways</a>
            </h3>
            <p>
              Are you curious about what all the fuss is about when it comes to edge computing? This blog examines the concept and use cases of edge computing, as well as defining what micro clouds are and where they fit in that spectrum.
            </p>
          </div>

          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">
              <a href="https://ubuntu.com/blog/shared-development-environment-with-lxd">Setting up a secure shared development environment with LXD</a>
            </h3>
            <p>
              If your MicroClouds need to be used by a variety of users, it's good to know how you can share your environment safely, without granting unnecessary privileges to your users. Read more about it in this blog.
            </p>
          </div>
        </div>

        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-9">
            <button class="js-slider--prev is-disabled" title="Previous resources">
              <i class="p-icon--chevron-left"></i>
            </button>
            <span class="js-results-count"></span>
            <button class="js-slider--next" title="Next resources">
              <i class="p-icon--chevron-right"></i>
            </button>
            <p class="explore-link-align">
              <a href="https://ubuntu.com/blog/tag/microcloud"
                 aria-label="Explore all videos and webinars">Explore all</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="{{ versioned_static('js/microcloud-slider.js') }}"></script>
{% endblock content %}
