{% extends 'base_index.html' %}

{% from "_macros/vf_hero.jinja" import vf_hero %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1j-G0LCapJ1zRnNgQeoC0_rh15N6ICdpDy7M1tubQuoo/edit
{% endblock %}

{% block title %}Canonical hiring process{% endblock %}

{% block meta_description %}
  Learn about Canonical's hiring process &ndash; Understand how we hire and what you can expect from our process.
{% endblock %}

{% block extra_metatags %}
  <script type="module"
          src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js"></script>
{% endblock extra_metatags %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}

  <section class="p-section--hero p-section--shallow">
    <div class="row--50-50-on-large">
      <div class="col">
        <div class="p-section--shallow">
          <h1>Canonical's hiring process</h1>
        </div>
        <div class="p-section--shallow">
          <p>
            Understand how we approach hiring talent at Canonical, creating a fair and equal playing field for our applicants across the globe.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="u-embedded-media">
          <lite-youtube videoid="mOFgDpjRiO8" width="1120" height="630" posterquality="maxresdefault" videotitle="Our hiring process at Canonical" class="u-embedded-media__element">
          <a href="https://www.youtube.com/watch?v=mOFgDpjRiO8" title="Play Video">
            <span class="lyt-visually-hidden">Our hiring process at Canonical</span>
          </a>
          </lite-youtube>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>
          A fair system for hiring
          <br class="u-hide--small" />
          from a global talent pool
        </h2>
      </div>
      <div class="col">
        <p>
          Deciding on your next career move is an important decision for you. We have worked hard to create a fair and equitable hiring process that allows us both to make informed decisions as you move forward in your career.
        </p>
        <p>
          We have been operating a fully distributed working environment for over 20 years. We are proud to have created a business that is not limited by flags or borders, and where we are afforded the opportunity to hire exceptional talent regardless of location.
        </p>
        <p>
          This creates a unique environment with multicultural teams spanning many time zones giving our people the chance to work with colleagues from all over the world. Our open source world relies on a rich and varied set of perspectives; to deliver our best products we seek diversity of ideas through effective and impactful collaboration.
        </p>
        <hr class="p-rule--muted" />
        <div class="p-cta-block">
          <a class="p-button" href="/careers/company-culture/remote-work">Learn about remote working at Canonical</a>
          <a href="/blog/how-to-get-a-job-at-canonical">Read our blog on how to get a job at Canonical&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50 p-section--shallow">
      <hr class="p-rule" />
      <div class="col">
        <h2>Our culture of talent</h2>
      </div>
      <div class="col">
        <p>
          We have built an exceptional culture of talent by creating a recruitment process that helps us identify those people likely to bring real impact to our mission. Being able to work with such a distinctive group of colleagues brings huge benefits, such as allowing for true diversity in thinking and ideas.
        </p>
        <hr class="p-rule--muted" />
        <p>
          <a href="/careers/company-culture">Learn about our company culture&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-start-large-4 col-9 col-medium-6">
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Our fully distributed organization</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              When assessing talent from across the globe it takes careful planning to build a hiring model that is fair for everyone. We have crafted a recruitment process that allows us to compare applications in a fair and consistent manner ensuring that no single person has an unfair advantage or better chance of success over another.
            </p>
            <p>
              We want everyone to have a chance to present their most relevant skills.  We train our hiring teams to be experts in selecting talent across multiple geographies and cultures and to keep  fairness and equity at the forefront of all decision making.
            </p>
            <hr class="p-rule--muted" />
            <p>
              <a href="/careers/company-culture/identity">Read our diversity statement&nbsp;&rsaquo;</a>
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Hiring exceptional colleagues</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              We have been deliberate in designing an effective hiring process that helps us select those who are most likely to thrive in our environment. We have identified a set of traits and behaviors that we have found to be present in our most exceptional talent at all levels; high academic performance with evidence of initiative, leadership and drive during this period of personal growth, and those with good cognitive ability. So regardless of your level or the longevity of your career, you can expect to be assessed on these two areas.
            </p>
            <p>
              In addition, we value people with elevated drive, relentless curiosity and those with true resilience and stamina to solve new problems and do ground-breaking work. We seek people who are motivated by working in an environment that feeds continuous learning and development.
            </p>
            <hr class="p-rule--muted" />
            <p>
              <a href="/careers/company-culture/progression">Read about career progression at Canonical&nbsp;&rsaquo;</a>
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Our hiring model</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              We believe our business leaders are best placed to select their own talent. Unlike most organizations we do not have a team of HR recruiters making early decisions. Instead we prioritize getting you in front of technical experts in our business. These individuals know our business well and have the knowledge to ensure you are considered for the most suitable team and role.
            </p>
            <p>
              At the start of the process you will be introduced to a Hiring Lead who will handle your application from start to finish. A leader from a business function, your Hiring Lead, will be deeply passionate about attracting exceptional talent and highly skilled in selection processes with the ability to match people to right roles across our business.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50 p-section--shallow">
      <hr class="p-rule" />
      <div class="col">
        <h2>Our hiring process</h2>
      </div>
      <div class="col">
        <p>
          Our process helps us gain a deep understanding of your experiences and achievements to date. We ask that throughout your assessments and interviews you use your own words to describe your thoughts and ideas, without use of online aids, so that we can gather the best evidence we require to evaluate your suitability.
        </p>
        <p>The hiring process is split into three main stages.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-3 col-medium-3">
        <ul class="js-tabbed-content p-tabs--vertical u-hide--small"
            role="tablist"
            aria-label="Hiring process tabs"
            data-tablist="hiring-process">
          <li>
            <button class="p-tabs__item"
                    id="stage-1"
                    role="tab"
                    aria-selected="true"
                    aria-controls="stage-1-tab">Stage 1</button>
          </li>
          <li>
            <button class="p-tabs__item"
                    id="stage-2"
                    role="tab"
                    aria-selected="false"
                    aria-controls="stage-2-tab">Stage 2</button>
          </li>
          <li>
            <button class="p-tabs__item"
                    id="stage-3"
                    role="tab"
                    aria-selected="false"
                    aria-controls="stage-3-tab">Stage 3</button>
          </li>
        </ul>
        <form class="u-hide--large u-hide--medium">
          <select name="tabSelect" data-tablist="hiring-process">
            <option value="stage-1-tab" selected="">Stage 1</option>
            <option value="stage-2-tab">Stage 2</option>
            <option value="stage-3-tab">Stage 3</option>
          </select>
        </form>
      </div>
      <div class="col-9 col-medium-3" data-tablist="hiring-process">
        <hr class="p-rule--muted" />
        {% include "careers/hiring-process/tabs/stage-1.html" %}
        {% include "careers/hiring-process/tabs/stage-2.html" %}
        {% include "careers/hiring-process/tabs/stage-3.html" %}
      </div>
    </div>
  </section>

  <hr class="p-rule is-fixed-width" />
  <section class="p-strip is-deep">
    <div class="u-fixed-width">
      <h2>
        <a href="/careers">Find the right role for you&nbsp;&rsaquo;</a>
      </h2>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width p-section--shallow">
      <hr class="p-rule--highlight" />
      <h2>What new hires say</h2>
    </div>
    <div class="row">
      <div class="col-start-large-4 col-9 col-medium-6">
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-6 col-medium-4 p-section--shallow">
            <blockquote class="u-no-margin u-no-padding" style="border: none;">
              <p>
                <i>“Ubuntu had its own reputation &ndash; but the ideology behind the hiring process made it standout!”</i>
              </p>
            </blockquote>
            <span class="u-off-screen">Joined July 2024</span>
          </div>
          <div class="col-3 col-medium-2">
            <p class="u-text--muted" aria-hidden="true">Joined July 2024</p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-6 col-medium-4 p-section--shallow">
            <blockquote class="u-no-margin u-no-padding" style="border: none;">
              <p>
                <i>“The most respectful and transparent recruitment process I've ever gone through.”</i>
              </p>
            </blockquote>
            <span class="u-off-screen">Joined October 2024</span>
          </div>
          <div class="col-3 col-medium-2">
            <p class="u-text--muted" aria-hidden="true">Joined October 2024</p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-6 col-medium-4 p-section--shallow">
            <blockquote class="u-no-margin u-no-padding" style="border: none;">
              <p>
                <i>“Greenhouse has been such a great hub during pre-onboarding. It answered 95% of my questions. For the remaining 5% where I had regional specific questions I was assigned a peer buddy from my geographical area which was super helpful.”</i>
              </p>
            </blockquote>
            <span class="u-off-screen">Joined January 2025</span>
          </div>
          <div class="col-3 col-medium-2">
            <p class="u-text--muted" aria-hidden="true">Joined January 2025</p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-6 col-medium-4 p-section--shallow">
            <blockquote class="u-no-margin u-no-padding" style="border: none;">
              <p>
                <i>“Very friendly and supportive team members conducted the interviews and each interview process was professional.”</i>
              </p>
            </blockquote>
            <span class="u-off-screen">Joined January 2025</span>
          </div>
          <div class="col-3 col-medium-2">
            <p class="u-text--muted" aria-hidden="true">Joined January 2025</p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-6 col-medium-4 p-section--shallow">
            <blockquote class="u-no-margin u-no-padding" style="border: none;">
              <p>
                <i>“All the interviewers were professional and genuinely interested in what I had to say.”</i>
              </p>
            </blockquote>
            <span class="u-off-screen">Joined March 2025</span>
          </div>
          <div class="col-3 col-medium-2">
            <p class="u-text--muted" aria-hidden="true">Joined March 2025</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr class="p-rule is-fixed-width" />
  <section class="p-strip is-deep">
    <div class="u-fixed-width">
      <h2>
        <a href="/careers/application/faq">Browse our Careers FAQ&nbsp;&rsaquo;</a>
      </h2>
    </div>
  </section>

  <section class="p-section--deep">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Life at Canonical</h2>
      </div>
      <div class="col">
        <ul class="p-list--divided">
          <li class="p-list__item">
            <div class="p-section--shallow">
              <p>
                <a href="https://ubuntu.com/20years">Celebrating 20 years in open source</a>
              </p>
              <p>
                Our story is closely linked to the communities that shape us, including the community of open source enthusiasts who form part of our team. Hear from people who have shaped Ubuntu and Canonical.
              </p>
            </div>
          </li>
          <li class="p-list__item">
            <div class="p-section--shallow">
              <p>
                <a href="https://ubuntu.com/blog/life-at-canonical-victoria-antipovas-perspective-as-a-new-joiner-in-product-marketing">Team member interview: Victoria Antipova</a>
              </p>
              <p>What's it like to join Canonical and take open source products to market? Hear from one of our colleagues.</p>
            </div>
          </li>
          <li class="p-list__item">
            <p>
              <a href="/blog/life-at-canonical-amy-song-shares-her-onboarding-experience-as-a-new-joiner-in-customer-success">A new joiner shares her experience: discover Amy Song's story</a>
            </p>
            <p>
              As Canonical continues to grow, we've developed a unique onboarding process that enables our new hires to quickly settle and establish themselves in our globally distributed environment. Learn more in this blog.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <script src="{{ versioned_static('js/tabbed-content.js') }}"></script>

{% endblock %}
