<noscript>
  <section class="u-hide {% if section_classes %}{{ section_classes }}{% else %}p-strip{% endif %}" data-js="latest-news">
    <div class="row">
      <div class="row">
        <h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default u-no-margin--bottom2">Blogs</h2>
        <h3 class="p-heading--2 u-sv3">Find out more about {{ heading_topic }}</h3>
      </div>
    </div>
  </section>
</noscript>

<section class="u-hide {% if section_classes %}{{ section_classes }}{% else %}p-strip{% endif %}" data-js="latest-news">
  <div class="row">
    <div class="row">
      <h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default u-no-margin--bottom2">Blogs</h2>
      <h3 class="p-heading--2 u-sv3">Find out more about {{ heading_topic }}</h3>
    </div>
  </div>
  <div id="latest-articles" class="row">
    <div style="min-height: 9.1rem">
      <i class="p-icon--spinner u-animation--spin">Loading...</i>
    </div>
  </div>
  <template style="display:none" id="articles-template">
    <article class="col-4 col-medium-2 blog-p-card--post">
      <div class="blog-p-card__content">
        <div class="u-crop--16-9" style="margin-bottom:1rem;">
          <div class="article-image" aria-hidden="true"></div>
        </div>
        <h3 class="p-heading--4 u-no-margin--bottom">
          <a class="p-link--soft article-title article-link"></a>
        </h3>
        <p class="article-excerpt"></p>
      </div>
    </article>
  </template>
  <script src="{{ versioned_static('js/modules/latest-news/latest-news.js') }}"></script>
  <script>
    canonicalLatestNews.fetchLatestNews(
      {
        articlesContainerSelector: "#latest-articles",
        articleTemplateSelector: "#articles-template",
        hostname: "canonical.com",
        {% if tag_id %}tagId: "{{ tag_id }}",{% endif %}
        {% if limit %}limit: "{{ limit }}",{% endif %}
      }
    )
  </script>
</section>
