<section class="p-section">
	<div class="u-fixed-width">
		<hr class="p-rule">
	</div>
	<div class="row">
		<div class="col-3 col-medium-3">
			<h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default">Apply based on</h2>
		</div>
		<div class="col-6 col-medium-3">
			<div class="row">
				<div class="col-6">
					<h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default">Technology & Field</h2>
				</div>
				<div class="col-3">
					<a href="/careers/5191982">Microservices</a>
					<p class="u-no-padding--top"><small>REST API design in Go and Python</small></p>
				</div>
				<div class="col-3">
					<a href="/careers/5151903">Kernel</a>
					<p class="u-no-padding--top"><small>Low-level system engineering</small></p>
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<a href="/careers/5143074">Python</a>
					<p class="u-no-padding--top"><small>Develop for open source</small></p>
				</div>
				<div class="col-3">
					<a href="/careers/5140562">Embedded Linux</a>
					<p class="u-no-padding--top"><small>ARM & x86, SoC, ACPI</small></p>
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<a href="/careers/5146709">Golang</a>
					<p class="u-no-padding--top"><small>Develop for open source</small></p>
				</div>
				<div class="col-3">
					<a href="/careers/5172247">Containers & Virtualisation</a>
					<p class="u-no-padding--top"><small>LXD, Rust VMM, Docker</small></p>
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<a href="/careers/5150422">Web Frontend</a>
					<p class="u-no-padding--top"><small>JS, CSS, React & Flutter</small></p>
				</div>
				<div class="col-3">
					<a href="/careers/5146620">Security</a>
					<p class="u-no-padding--top"><small>Keep Linux secure</small></p>
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<a href="/careers/5163397">Networking</a>
					<p class="u-no-padding--top"><small>Data centres, SDN/NFV tech</small></p>
				</div>
				<div class="col-3">
					<a href="/careers/5143011">DevRel</a>
					<p class="u-no-padding--top"><small>Engage with community and devs</small></p>
				</div>
			</div>
		</div>
		<div class="col-3 col-medium-3 col-start-medium-4">
			<h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default">Position Level</h2>
			<a href="/careers/5211861">Director</a>
			<p class="u-no-padding--top"><small>Define strategy and assist teams</small></p>
			<a href="/careers/5188002">Manager</a>
			<p class="u-no-padding--top"><small>Lead globally-distributed teams</small></p>
			<a href="/careers/5142887">Senior Engineer</a>
			<p class="u-no-padding--top"><small>Solve open source challenges</small></p>
		</div>
	</div>
</section>

<section class="p-section">
	{% if featured_jobs %}
	<div class="u-fixed-width">
		<hr class="p-rule">
	</div>
	<div class="row">
		<div class="col-3 col-medium-3">
			<h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default">Featured Roles</h2>
		</div>
		<div class="col-6 col-medium-3">
			{% for job in featured_jobs %}
				{% if loop.index < 10 %} <p>
				<a class="p-featured__url p-card--content" href="/careers/{{job.id}}"
					onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Featured job', 'eventAction' : 'Click', 'eventLabel' : '{{ job.title }}', 'eventValue' : undefined });">
					{{job.title }}
				</a>
				</p>
				{% endif %}
			{% endfor %}
		</div>
		<div class="col-3 col-medium-3 col-start-medium-4">
			<hr class="u-hide--large" />
			<p class="u-sv-1">
				{% if formatted_slug %}
				<a href="/careers/all?filter={{formatted_slug}}">Explore all {{ department.name }} roles</a>
				{% else %}
				<a href="/careers/all?filter={{department.slug.capitalize()}}">Explore all {{ department.name }} roles</a>
				{% endif %}
			</p>
			<hr />
			<a href="/careers/career-explorer">Career explorer</a>
		</div>
	</div>
	{% endif %}
</section>