
<nav class="p-navigation--secondary is-dark">
  <div class="u-fixed-width">
    <ul class="p-inline-list u-no-margin--bottom">
      <li class="p-inline-list__item">
        <a class="p-link--inverted {% if not request.path|get_secondary_nav_path %}is-active{% endif %}" href="/partners">Overview</a>
      </li>
      <li class="p-inline-list__item">
        <a class="p-link--inverted {% if request.path|get_secondary_nav_path == 'desktop' %}is-active{% endif %}" href="/partners/desktop">Desktop</a>
      </li>
      <li class="p-inline-list__item">
        <a class="p-link--inverted {% if request.path|get_secondary_nav_path == 'channel-and-reseller' %}is-active{% endif %}" href="/partners/channel-and-reseller">Channel/Reseller</a>
      </li>
      <li class="p-inline-list__item">
        <a class="p-link--inverted {% if request.path|get_secondary_nav_path == 'iot-device' %}is-active{% endif %}" href="/partners/iot-device">IoT device</a>
      </li>
      <li class="p-inline-list__item">
        <a class="p-link--inverted {% if request.path|get_secondary_nav_path == 'ihv-and-oem' %}is-active{% endif %}" href="/partners/ihv-and-oem">IHV/OEM</a>
      </li>
      <li class="p-inline-list__item">
        <a class="p-link--inverted {% if request.path|get_secondary_nav_path == 'gsi' %}is-active{% endif %}" href="/partners/gsi">Global System Integrators</a>
      </li>
      <li class="p-inline-list__item">
        <a class="p-link--inverted {% if request.path|get_secondary_nav_path == 'public-cloud' %}is-active{% endif %}" href="/partners/public-cloud">Public Cloud</a>
      </li>
      <li class="p-inline-list__item">
        <a class="p-link--inverted {% if request.path|get_secondary_nav_path == 'become-a-partner' %}is-active{% endif %}" href="/partners/become-a-partner">Become a partner</a>
      </li>
      <li class="p-inline-list__item">
        <a class="p-link--inverted {% if request.path|get_secondary_nav_path == 'find-a-partner' %}is-active{% endif %}" href="/partners/find-a-partner">Find a partner</a>
      </li>
      <li class="p-inline-list__item">
        <a class="p-link--inverted p-link--soft" href="https://partner-portal.canonical.com">Partner portal</a>
      </li>
    </ul>
  </div>
</nav>
