
<nav class="p-navigation--secondary is-sticky">
  <div class="row">
    <div class="col-12 u-equal-height">
      <ul class="breadcrumbs--secondary">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if not request.path|get_secondary_nav_path %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners">Overview</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'desktop' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/desktop">Desktop</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'channel-and-reseller' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/channel-and-reseller">Channel/Reseller</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'iot-device' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/iot-device">IoT device</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'ihv-and-oem' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/ihv-and-oem">IHV/OEM</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'gsi' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/gsi">Global System Integrators</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'public-cloud' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/public-cloud">Public Cloud</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'become-a-partner' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/become-a-partner">Become a partner</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'find-a-partner' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/find-a-partner">Find a partner</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link p-link--soft" href="https://partner-portal.canonical.com">Partner portal</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
