
<nav class="p-navigation--secondary">
  <div class="row">
    <div class="col-12 u-equal-height">
      <ul class="breadcrumbs--secondary">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if not request.path|get_secondary_nav_path %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners">Overview</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'cloud' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/cloud">Cloud</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'server' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/server">Server</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'desktop' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/desktop">Desktop</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'silicon' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/silicon">Silicon</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'openstack' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/openstack">OpenStack</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'apps-and-snaps' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/apps-and-snaps">Apps &amp; Snaps</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'resellers' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/resellers">Resellers</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'devices-and-iot' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/devices-and-iot">Devices &amp; IoT</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'charms' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/charms">Charms</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'kubernetes' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/kubernetes">Kubernetes</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'paas' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/paas">PAAS</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'serverless' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/serverless">Serverless</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'system-integrators' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/system-integrators">System Integrators</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'training' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/training">Training</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'become-a-partner' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/become-a-partner">Become a partner</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path|get_secondary_nav_path == 'find-a-partner' %}p-link--active{% else %}p-link--soft{% endif %}" href="/partners/find-a-partner">Find a partner</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
