{% extends 'base_index.html' %}

{% block meta_description %}Information about Canonical. Canonical produces Ubuntu, provides commercial services for enterprise users, and works with industry partners on delivery and certification.{% endblock %}

{% block content %}
<section class="p-strip--image is-dark is-deep u-no-padding--top u-no-padding--bottom u-extra-space">
  <div class="p-strip--suru-background">
    <div class="row">
      <div class="col-6">
        <h1>Ubuntu software partners</h1>
        <p>Ubuntu has a thriving software ecosystem, with thousands of applications available for the PC, the server and the cloud &mdash; targeting both the enterprise and consumer markets.</p>
        <p>We offer a range of benefits for ISVs looking to formalise their work with Ubuntu, through Canonical. As a certified partner, you'll get inside information on forthcoming Ubuntu developments, assistance in testing and optimising your applications with Ubuntu and OpenStack &mdash; and priority access to Ubuntu engineers.</p>
      </div>
      <div class="col-6 u-align--center u-hide--small u-hide--medium u-vertically-center">
        <img src="https://assets.ubuntu.com/v1/2210191e-snapcraft_green-red-white_hex.svg" alt="">
      </div>
    </div>
  </div>
</section>

<style>
  .p-strip--suru-background {
    background-image:
    linear-gradient(to bottom right, rgba(74, 24, 60, 0.4) 0%, rgba(74, 24, 60, 0.4) 49.9%, rgba(74, 24, 60, 0) 50%, rgba(74, 24, 60, 0) 100%),
    linear-gradient(to top right, rgba(210, 180, 202, 0) 0%, rgba(210, 180, 202, 0) 49.9%, rgba(210, 180, 202, 0.05) 50%, rgba(210, 180, 202, 0.05) 100%),
    linear-gradient(to top right, #fff 0%, #fff 49%, transparent 50%),
    linear-gradient(140deg, #E95420 0%, #772953 33%, #2C001E 72%);
    background-position: left top, right top, left 101%;
    background-size: 80% 100%, 70% 80%, 110% 20%, 100% 100%;
    padding-bottom: 8rem;
    padding-top: 6rem;
  }
</style>

<section class="p-strip is-deep u-no-padding--top u-image-position">
  <div class="row">
    <div class="col-5">
      <h2>App developer partners</h2>
      <p>Thanks to the ease with which users can find and install software using the Ubuntu Software Centre, Ubuntu already supports thousands of client applications. With the launch of Ubuntu phones and tablets &mdash; and the resulting opportunity to target three client platforms with just one codebase &mdash; the Ubuntu app market is set to grow exponentially.</p>
      <p><a href="https://developer.ubuntu.com/en/start/ubuntu-sdk/installing-the-sdk/">Learn more about Ubuntu SDK</a></p>
    </div>
    <div class="col-6 col-start-large-7">
      <img class="u-hide--small u-hide--medium p-image--shadowed u-image-position--bottom" src="https://assets.ubuntu.com/v1/8d4e98f3-snap-store-noshdw.png?h=400" alt="" style="max-height: 90%">
    </div>
  </div>
</section>

<section class="p-strip--light is-deep">
  <div class="row">
    <div class="col-12">
      <h2>What's included?</h2>
    </div>
  </div>
  <div class="row">
    <ul class="p-list is-split">
      <li class="p-list__item is-ticked">Easy, single upload to the Ubuntu Software Centre</li>
      <li class="p-list__item is-ticked">The Ubuntu SDK, allowing you to build one app for PC, smartphone and cloud</li>
      <li class="p-list__item is-ticked">Priority access to the engineers that develop Ubuntu</li>
      <li class="p-list__item is-ticked">Marketing assistance and assets to help promote your apps</li>
    </ul>
    <p><a href="https://design.ubuntu.com/apps">Explore our App Design Guide</a></p>
  </div>
</section>

<section class="p-strip is-deep">
  <div class="row">
    <div class="col-6 u-hide--small u-hide--medium">
      <img class="p-image--bordered" src="https://assets.ubuntu.com/v1/5e4dca44-snap-store-screen-bottom.png" alt="">
    </div>
    <div class="col-6">
      <h2>Cloud software partners</h2>
      <p>Ubuntu is the world's leading cloud operating system, both as a guest on public clouds &mdash; like Amazon and Windows Azure &mdash; and as a platform on which to build OpenStack clouds.</p>
      <p>There are two Canonical partner programmes that can help you reach this global market of users and developers: the OpenStack interoperability lab and the Charm partner programme. Whether you want to improve interoperability in OpenStack, streamline application delivery or simply access more customers, we can help.</p>
    </div>
  </div>
</section>

{% include 'partial/_partners-footer.html' %}

{% endblock %}
