{% extends 'base_index.html' %}

{% block title %}Become a partner | Partners{% endblock %}

{% block meta_description %}
  Technology companies, consider partnering with Canonical and increase your revenues with Ubuntu.
{% endblock %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1Ihh9s3i72saCYaheXRVRn1Meg5lYN5U1gFbdvLMdWcc
{% endblock meta_copydoc %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}

  {% set breadcrumbs = [{"name": "Partners", "href": "/partners"}, {"name": "Become a partner"}] %}
  {% include '/partial/_breadcrumbs.html' %}

  <div class="row">
    <div class="p-overlayed-section">
      <div class="p-overlayed-section__illustration"
           role="img"
           style="background-image: url('https://assets.ubuntu.com/v1/b9eafff9-Become-a-partner-hero-image.png')">
      </div>
      <div class="row">
        <div class="col-10 col-start-large-3">
          <div class="p-overlayed-section__content">
            <div class="row">
              <div class="col-start-large-2 col-9">
                <div class="row">
                  <div class="col-medium-2 col-9">
                    <h1>Become a partner</h1>
                  </div>
                  <div class="col-medium-4 col-9">
                    <p>
                      Ubuntu is an open source platform that is transforming the way millions of people and businesses use devices, servers and the cloud. Canonical is the company that supports it, providing strategic guidance and driving its adoption.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="p-section">
    <hr class="p-rule is-fixed-width" />
    <div class="p-section--shallow">
      <div class="row">
        <div class="col-medium-2 col-9  col-start-large-4">
          <h2>How we work with our partners</h2>
        </div>
        <div class="col-medium-4 col-9 col-start-large-4">
          <p>
            By formalising their partnership with Canonical, technology companies of all kinds &ndash;
            from hardware makers and ISVs to cloud providers and systems integrators &ndash; benefit from significant opportunities to increase their revenues with Ubuntu.
          </p>
          <p>
            We operate a range of partner programmes, from essential product certification to strategic collaboration, help with QA and long-term strategic alliances.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip is-deep u-no-padding--top">
    <div class="row">
      <hr class="p-rule" />
    </div>
    <div class="row">
      <div class="col-medium-2 col-3">
        <div class="p-section--shallow">
          <p class="p-text--small-caps">About you</p>
        </div>
      </div>
      <div class="col-medium-4 col-6">
        <form action="https://ubuntu.com/marketo/submit"
              method="post"
              id="mktoForm_1260"
              onsubmit="ga('send', 'Become a partner', 'Signup', 'Become a partner application');">
          <label for="firstName">First name</label>
          <input required id="firstName" name="firstName" maxlength="255" type="text" />

          <label for="lastName">Last name</label>
          <input required
                 id="lastName"
                 name="lastName"
                 maxlength="255"
                 title=""
                 type="text" />

          <label class="is-required" for="title">Job title</label>
          <input required id="title" name="title" maxlength="255" title="" type="text" />

          <label for="email">Email address (company)</label>
          <input required
                 id="email"
                 name="email"
                 maxlength="255"
                 title=""
                 type="email"
                 class="mktoField mktoEmailField  mktoRequired" />

          <label for="phone">Phone</label>
          <input required
                 id="phone"
                 name="phone"
                 maxlength="255"
                 title=""
                 type="tel"
                 class="mktoField mktoTelField  mktoRequired" />

          {# These are honey pot fields to catch bots #}
          <li class="u-off-screen">
            <label class="website" for="website">Website:</label>
            <input name="website"
                   type="text"
                   class="website"
                   autocomplete="off"
                   value=""
                   id="website"
                   tabindex="-1" />
          </li>
          <li class="u-off-screen">
            <label class="name" for="name">Name:</label>
            <input name="name"
                   type="text"
                   class="name"
                   autocomplete="off"
                   value=""
                   id="name"
                   tabindex="-1" />
          </li>
          {# End of honey pots #}

          <label for="country">Country</label>
          <select required id="country" name="country" title="">
            <option value="">Select&hellip;</option>
            <option value="FR">France</option>
            <option value="DE">Germany</option>
            <option value="JP">Japan</option>
            <option value="GB">United Kingdom</option>
            <option value="US">United States of America</option>
            <option value="------">------</option>
            <option value="AF">Afghanistan</option>
            <option value="AX">Åland Islands</option>
            <option value="AL">Albania</option>
            <option value="DZ">Algeria</option>
            <option value="AS">American Samoa</option>
            <option value="AD">Andorra</option>
            <option value="AO">Angola</option>
            <option value="AI">Anguilla</option>
            <option value="AQ">Antarctica</option>
            <option value="AG">Antigua and Barbuda</option>
            <option value="AR">Argentina</option>
            <option value="AM">Armenia</option>
            <option value="AW">Aruba</option>
            <option value="AU">Australia</option>
            <option value="AT">Austria</option>
            <option value="AZ">Azerbaijan</option>
            <option value="BS">Bahamas</option>
            <option value="BH">Bahrain</option>
            <option value="BD">Bangladesh</option>
            <option value="BB">Barbados</option>
            <option value="BY">Belarus</option>
            <option value="BE">Belgium</option>
            <option value="BZ">Belize</option>
            <option value="BJ">Benin</option>
            <option value="BM">Bermuda</option>
            <option value="BT">Bhutan</option>
            <option value="BO">Bolivia (Plurinational State of)</option>
            <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
            <option value="BA">Bosnia and Herzegovina</option>
            <option value="BW">Botswana</option>
            <option value="BV">Bouvet Island</option>
            <option value="BR">Brazil</option>
            <option value="IO">British Indian Ocean Territory</option>
            <option value="BN">Brunei Darussalam</option>
            <option value="BG">Bulgaria</option>
            <option value="BF">Burkina Faso</option>
            <option value="BI">Burundi</option>
            <option value="KH">Cambodia</option>
            <option value="CM">Cameroon</option>
            <option value="CA">Canada</option>
            <option value="CV">Cabo Verde</option>
            <option value="KY">Cayman Islands</option>
            <option value="CF">Central African Republic</option>
            <option value="TD">Chad</option>
            <option value="CL">Chile</option>
            <option value="CN">China</option>
            <option value="CX">Christmas Island</option>
            <option value="CC">Cocos (Keeling) Islands</option>
            <option value="CO">Colombia</option>
            <option value="KM">Comoros</option>
            <option value="CG">Congo</option>
            <option value="CD">Congo (Democratic Republic of the)</option>
            <option value="CK">Cook Islands</option>
            <option value="CR">Costa Rica</option>
            <option value="CI">Côte d'Ivoire</option>
            <option value="HR">Croatia</option>
            <option value="CU">Cuba</option>
            <option value="CW">Curaçao</option>
            <option value="CY">Cyprus</option>
            <option value="CZ">Czech Republic</option>
            <option value="DK">Denmark</option>
            <option value="DJ">Djibouti</option>
            <option value="DM">Dominica</option>
            <option value="DO">Dominican Republic</option>
            <option value="EC">Ecuador</option>
            <option value="EG">Egypt</option>
            <option value="SV">El Salvador</option>
            <option value="GQ">Equatorial Guinea</option>
            <option value="ER">Eritrea</option>
            <option value="EE">Estonia</option>
            <option value="ET">Ethiopia</option>
            <option value="FK">Falkland Islands (Malvinas)</option>
            <option value="FO">Faroe Islands</option>
            <option value="FJ">Fiji</option>
            <option value="FI">Finland</option>
            <option value="FR">France</option>
            <option value="GF">French Guiana</option>
            <option value="PF">French Polynesia</option>
            <option value="TF">French Southern Territories</option>
            <option value="GA">Gabon</option>
            <option value="GM">Gambia</option>
            <option value="GE">Georgia</option>
            <option value="DE">Germany</option>
            <option value="GH">Ghana</option>
            <option value="GI">Gibraltar</option>
            <option value="GR">Greece</option>
            <option value="GL">Greenland</option>
            <option value="GD">Grenada</option>
            <option value="GP">Guadeloupe</option>
            <option value="GU">Guam</option>
            <option value="GT">Guatemala</option>
            <option value="GG">Guernsey</option>
            <option value="GN">Guinea</option>
            <option value="GW">Guinea-Bissau</option>
            <option value="GY">Guyana</option>
            <option value="HT">Haiti</option>
            <option value="HM">Heard Island and McDonald Islands</option>
            <option value="VA">Holy See</option>
            <option value="HN">Honduras</option>
            <option value="HK">Hong Kong</option>
            <option value="HU">Hungary</option>
            <option value="IS">Iceland</option>
            <option value="IN">India</option>
            <option value="ID">Indonesia</option>
            <option value="IR">Iran (Islamic Republic of)</option>
            <option value="IQ">Iraq</option>
            <option value="IE">Ireland</option>
            <option value="IM">Isle of Man</option>
            <option value="IL">Israel</option>
            <option value="IT">Italy</option>
            <option value="JM">Jamaica</option>
            <option value="JP">Japan</option>
            <option value="JE">Jersey</option>
            <option value="JO">Jordan</option>
            <option value="KZ">Kazakhstan</option>
            <option value="KE">Kenya</option>
            <option value="KI">Kiribati</option>
            <option value="KP">Korea (Democratic People's Republic of)</option>
            <option value="KR">Korea (Republic of)</option>
            <option value="KW">Kuwait</option>
            <option value="KG">Kyrgyzstan</option>
            <option value="LA">Lao People's Democratic Republic</option>
            <option value="LV">Latvia</option>
            <option value="LB">Lebanon</option>
            <option value="LS">Lesotho</option>
            <option value="LR">Liberia</option>
            <option value="LY">Libya</option>
            <option value="LI">Liechtenstein</option>
            <option value="LT">Lithuania</option>
            <option value="LU">Luxembourg</option>
            <option value="MO">Macao</option>
            <option value="MK">Macedonia (the former Yugoslav Republic of)</option>
            <option value="MG">Madagascar</option>
            <option value="MW">Malawi</option>
            <option value="MY">Malaysia</option>
            <option value="MV">Maldives</option>
            <option value="ML">Mali</option>
            <option value="MT">Malta</option>
            <option value="MH">Marshall Islands</option>
            <option value="MQ">Martinique</option>
            <option value="MR">Mauritania</option>
            <option value="MU">Mauritius</option>
            <option value="YT">Mayotte</option>
            <option value="MX">Mexico</option>
            <option value="FM">Micronesia (Federated States of)</option>
            <option value="MD">Moldova (Republic of)</option>
            <option value="MC">Monaco</option>
            <option value="MN">Mongolia</option>
            <option value="ME">Montenegro</option>
            <option value="MS">Montserrat</option>
            <option value="MA">Morocco</option>
            <option value="MZ">Mozambique</option>
            <option value="MM">Myanmar</option>
            <option value="NA">Namibia</option>
            <option value="NR">Nauru</option>
            <option value="NP">Nepal</option>
            <option value="NL">Netherlands</option>
            <option value="NC">New Caledonia</option>
            <option value="NZ">New Zealand</option>
            <option value="NI">Nicaragua</option>
            <option value="NE">Niger</option>
            <option value="NG">Nigeria</option>
            <option value="NU">Niue</option>
            <option value="NF">Norfolk Island</option>
            <option value="MP">Northern Mariana Islands</option>
            <option value="NO">Norway</option>
            <option value="OM">Oman</option>
            <option value="PK">Pakistan</option>
            <option value="PW">Palau</option>
            <option value="PS">Palestine, State of</option>
            <option value="PA">Panama</option>
            <option value="PG">Papua New Guinea</option>
            <option value="PY">Paraguay</option>
            <option value="PE">Peru</option>
            <option value="PH">Philippines</option>
            <option value="PN">Pitcairn</option>
            <option value="PL">Poland</option>
            <option value="PT">Portugal</option>
            <option value="PR">Puerto Rico</option>
            <option value="QA">Qatar</option>
            <option value="RE">Réunion</option>
            <option value="RO">Romania</option>
            <option value="RU">Russian Federation</option>
            <option value="RW">Rwanda</option>
            <option value="BL">Saint Barthélemy</option>
            <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
            <option value="KN">Saint Kitts and Nevis</option>
            <option value="LC">Saint Lucia</option>
            <option value="MF">Saint Martin (French part)</option>
            <option value="PM">Saint Pierre and Miquelon</option>
            <option value="VC">Saint Vincent and the Grenadines</option>
            <option value="WS">Samoa</option>
            <option value="SM">San Marino</option>
            <option value="ST">Sao Tome and Principe</option>
            <option value="SA">Saudi Arabia</option>
            <option value="SN">Senegal</option>
            <option value="RS">Serbia</option>
            <option value="SC">Seychelles</option>
            <option value="SL">Sierra Leone</option>
            <option value="SG">Singapore</option>
            <option value="SX">Sint Maarten (Dutch part)</option>
            <option value="SK">Slovakia</option>
            <option value="SI">Slovenia</option>
            <option value="SB">Solomon Islands</option>
            <option value="SO">Somalia</option>
            <option value="ZA">South Africa</option>
            <option value="GS">South Georgia and the South Sandwich Islands</option>
            <option value="SS">South Sudan</option>
            <option value="ES">Spain</option>
            <option value="LK">Sri Lanka</option>
            <option value="SD">Sudan</option>
            <option value="SR">Suriname</option>
            <option value="SJ">Svalbard and Jan Mayen</option>
            <option value="SZ">Swaziland</option>
            <option value="SE">Sweden</option>
            <option value="CH">Switzerland</option>
            <option value="SY">Syrian Arab Republic</option>
            <option value="TW">Taiwan</option>
            <option value="TJ">Tajikistan</option>
            <option value="TZ">Tanzania, United Republic of</option>
            <option value="TH">Thailand</option>
            <option value="TL">Timor-Leste</option>
            <option value="TG">Togo</option>
            <option value="TK">Tokelau</option>
            <option value="TO">Tonga</option>
            <option value="TT">Trinidad and Tobago</option>
            <option value="TN">Tunisia</option>
            <option value="TR">Turkey</option>
            <option value="TM">Turkmenistan</option>
            <option value="TC">Turks and Caicos Islands</option>
            <option value="TV">Tuvalu</option>
            <option value="UG">Uganda</option>
            <option value="UA">Ukraine</option>
            <option value="AE">United Arab Emirates</option>
            <option value="GB">United Kingdom</option>
            <option value="US">United States of America</option>
            <option value="UM">United States Minor Outlying Islands</option>
            <option value="UY">Uruguay</option>
            <option value="UZ">Uzbekistan</option>
            <option value="VU">Vanuatu</option>
            <option value="VE">Venezuela (Bolivarian Republic of)</option>
            <option value="VN">Viet Nam</option>
            <option value="VG">Virgin Islands (British)</option>
            <option value="VI">Virgin Islands (U.S.)</option>
            <option value="WF">Wallis and Futuna</option>
            <option value="EH">Western Sahara</option>
            <option value="YE">Yemen</option>
            <option value="ZM">Zambia</option>
            <option value="ZW">Zimbabwe</option>
          </select>
          <div class="mktoPlaceholder mktoPlaceholderState u-hide">
            <label for="state" class="mktoLabel mktoHasWidth">State</label>
            <select id="state" name="state" class="mktoField  mktoRequired mktFReq">
              <option value="" disabled="disabled" selected="">Select&hellip;</option>
            </select>
          </div>

          <label for="company" class="mktoLabel ">Company:</label>
          <input required
                 id="company"
                 name="company"
                 maxlength="255"
                 type="text"
                 class="mktoField   mktoRequired" />

          <label for="partner_tier__c" class="mktoLabel ">Company business type:</label>
          <select required
                  id="partner_tier__c"
                  name="partner_tier__c"
                  class="mktoField  mktoRequired">
            <option value="">Select...</option>
            <option value="Reseller / Distributor">Reseller / Distributor</option>
            <option value="Global System Integrator (GSI)">Global System Integrator (GSI)</option>
            <option value="Software Vendor (ISV)">Software Vendor (ISV)</option>
            <option value="Hardware Vendor (IHV)">Hardware Vendor (IHV)</option>
            <option value="Public Cloud">Public Cloud</option>
            <option value="Managed Service Provider (MSP)">Managed Service Provider (MSP)</option>
            <option value="IoT / Edge">IoT / Edge</option>
            <option value="Silicon Alliances">Silicon Alliances</option>
          </select>

          <label for="Comments_from_lead__c" class="mktoLabel ">
            Please tell us more about the opportunity you see in partnering with Canonical:
          </label>
          <textarea required
                    id="Comments_from_lead__c"
                    name="Comments_from_lead__c"
                    rows="5"
                    class="mktoField"
                    maxlength="2000"></textarea>

          <div class="mktFormReq mktField">
            <label class="p-checkbox">
              <input class="p-checkbox__input mktoField"
                     value="yes"
                     id="canonicalUpdatesOptIn"
                     name="canonicalUpdatesOptIn"
                     type="checkbox" />
              <span class="p-checkbox__label mktospan mktoHasWidth"
                    for="canonicalUpdatesOptIn">I agree to receive information about Canonical’s products and services.</span>
            </label>
          </div>
          <p>
            In submitting this form, I confirm that I have read and agree to <a href="/legal/data-privacy/newsletter"
    target="_blank">Canonical’s Privacy Notice</a> and <a href="/legal/data-privacy" target="_blank">Privacy Policy</a>.
          </p>
          <div class="mktField">
            <button type="submit" class="p-button--positive mktoButton js-submit-button">Apply now</button>
            <input type="hidden" name="formid" class="mktoField" value="1260" />
            <input type="hidden"
                   aria-hidden="true"
                   aria-label="hidden field"
                   name="utm_campaign"
                   id="utm_campaign"
                   value="" />
            <input type="hidden"
                   aria-hidden="true"
                   aria-label="hidden field"
                   name="utm_medium"
                   id="utm_medium"
                   value="" />
            <input type="hidden"
                   aria-hidden="true"
                   aria-label="hidden field"
                   name="utm_source"
                   id="utm_source"
                   value="" />
            <input type="hidden"
                   aria-hidden="true"
                   aria-label="hidden field"
                   name="utm_content"
                   id="utm_content"
                   value="" />
            <input type="hidden"
                   aria-hidden="true"
                   aria-label="hidden field"
                   name="utm_term"
                   id="utm_term"
                   value="" />
          </div>
          <input type="hidden"
                 name="returnURL"
                 value="https://canonical.com/partners/thank-you" />
        </form>
      </div>
    </div>
  </section>

  <script>
    const usStates = [{
      value: "AK",
      name: "Alaska"
    }, {
      value: "AL",
      name: "Alabama"
    }, {
      value: "AR",
      name: "Arkansas"
    }, {
      value: "AZ",
      name: "Arizona"
    }, {
      value: "CA",
      name: "California"
    }, {
      value: "CO",
      name: "Colorado"
    }, {
      value: "CT",
      name: "Connecticut"
    }, {
      value: "DC",
      name: "District of Columbia"
    }, {
      value: "DE",
      name: "Delaware"
    }, {
      value: "FL",
      name: "Florida"
    }, {
      value: "GA",
      name: "Georgia"
    }, {
      value: "HI",
      name: "Hawaii"
    }, {
      value: "IA",
      name: "Iowa"
    }, {
      value: "ID",
      name: "Idaho"
    }, {
      value: "IL",
      name: "Illinois"
    }, {
      value: "IN",
      name: "Indiana"
    }, {
      value: "KS",
      name: "Kansas"
    }, {
      value: "KY",
      name: "Kentucky"
    }, {
      value: "LA",
      name: "Louisiana"
    }, {
      value: "MA",
      name: "Massachusetts"
    }, {
      value: "MD",
      name: "Maryland"
    }, {
      value: "ME",
      name: "Maine"
    }, {
      value: "MI",
      name: "Michigan"
    }, {
      value: "MN",
      name: "Minnesota"
    }, {
      value: "MO",
      name: "Missouri"
    }, {
      value: "MS",
      name: "Mississippi"
    }, {
      value: "MT",
      name: "Montana"
    }, {
      value: "NC",
      name: "North Carolina"
    }, {
      value: "ND",
      name: "North Dakota"
    }, {
      value: "NE",
      name: "Nebraska"
    }, {
      value: "NH",
      name: "New Hampshire"
    }, {
      value: "NJ",
      name: "New Jersey"
    }, {
      value: "NM",
      name: "New Mexico"
    }, {
      value: "NV",
      name: "Nevada"
    }, {
      value: "NY",
      name: "New York"
    }, {
      value: "OH",
      name: "Ohio"
    }, {
      value: "OK",
      name: "Oklahoma"
    }, {
      value: "OR",
      name: "Oregon"
    }, {
      value: "PA",
      name: "Pennsylvania"
    }, {
      value: "PR",
      name: "Puerto Rico"
    }, {
      value: "RI",
      name: "Rhode Island"
    }, {
      value: "SC",
      name: "South Carolina"
    }, {
      value: "SD",
      name: "South Dakota"
    }, {
      value: "TN",
      name: "Tennessee"
    }, {
      value: "TX",
      name: "Texas"
    }, {
      value: "UT",
      name: "Utah"
    }, {
      value: "VA",
      name: "Virginia"
    }, {
      value: "VT",
      name: "Vermont"
    }, {
      value: "WA",
      name: "Washington"
    }, {
      value: "WI",
      name: "Wisconsin"
    }, {
      value: "WV",
      name: "West Virginia"
    }, {
      value: "WY",
      name: "Wyoming"
    }];
    const canadaProvinces = [{
      value: "AB",
      name: "Alberta"
    }, {
      value: "BC",
      name: "British Columbia"
    }, {
      value: "MB",
      name: "Manitoba"
    }, {
      value: "NB",
      name: "New Brunswick"
    }, {
      value: "NF",
      name: "Newfoundland"
    }, {
      value: "NT",
      name: "Northwest Territories"
    }, {
      value: "NS",
      name: "Nova Scotia"
    }, {
      value: "NU",
      name: "Nunavut"
    }, {
      value: "ON",
      name: "Ontario"
    }, {
      value: "PE",
      name: "Prince Edward Island"
    }, {
      value: "QC",
      name: "Quebec"
    }, {
      value: "SK",
      name: "Saskatchewan"
    }, {
      value: "YT",
      name: "Yukon Territory"
    }];
    const countrySelect = document.getElementById("Country");
    const stateSelect = document.getElementById("State");

    const jobFunction = document.getElementById("Function");
    const commentsInput = document.getElementById("comments");

    if (countrySelect && stateSelect) {
      countrySelect.addEventListener("change", function(e) {
        generateOptions(e.target.value)
      });
    }

    if (jobFunction && commentsInput) {
      jobFunction.addEventListener("change", function(e) {

        if (e.target.value === "Other") {
          commentsInput.classList.remove("u-hide");
        } else {
          commentsInput.classList.add("u-hide");
        }
      });
    }

    function generateOptions(country) {
      const stateContainer = stateSelect.closest("div");
      while (stateSelect.children.length > 1) {
        stateSelect.removeChild(stateSelect.lastChild);
      }
      switch (country) {
        case "US":
          usStates.forEach(usState => {
            var newOption = document.createElement("option");
            newOption.text = usState.name;
            newOption.value = usState.value;
            stateSelect.add(newOption);
            stateContainer.classList.remove("u-hide");
          });
          break;
        case "CA":
          canadaProvinces.forEach(province => {
            var newOption = document.createElement("option");
            newOption.text = province.name;
            newOption.value = province.value;
            stateSelect.add(newOption);
            stateContainer.classList.remove("u-hide");
          });
          break;
        default:
          if (!stateContainer.classList.contains("u-hide")) {
            stateContainer.classList.add("u-hide");
          }
      }
    }
  </script>
{% endblock %}
