{% extends 'base_index.html' %}

{% block title %}Become a partner | Partners{% endblock %}

{% block meta_description %}Technology companies, consider partnering with Canonical and increase your revenues with Ubuntu.{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1Ihh9s3i72saCYaheXRVRn1Meg5lYN5U1gFbdvLMdWcc{% endblock meta_copydoc %}

{% block content %}
<section class="p-strip--suru-top">
  <div class="u-fixed-width">
    <h1>Become a partner</h1>
    <p class="u-sv3">Ubuntu is an open source platform that is transforming the way millions of people and businesses use devices, servers and the cloud. Canonical is the company that supports it, providing strategic guidance and driving its adoption.</p>
  </div>
  {# -- hidden for now
  <div class="row">
    <div class="col-4">
      <div class="u-sv3">
        <img src="https://assets.ubuntu.com/v1/5c9e96f7-group-38.svg" alt="">
      </div>
      <div class="p-heading-highlight--bottom">
        <p class="p-heading--3 p-heading-highlight--bottom__item">Grow your business</p>
      </div>
      <p>
        Leveraging the enormous popularity of Ubuntu opens additional revenue opportunities, allowing you to sell management, monitoring and commercial support from Canonical.
      </p>
    </div>
    <div class="col-4">
      <div class="u-sv3">
        <img src="https://assets.ubuntu.com/v1/463ceee3-group-11.svg" alt="">
      </div>
      <div class="p-heading-highlight--bottom">
        <p class="p-heading--3 p-heading-highlight--bottom__item">Certification of products</p>
      </div>
      <p>
        As a certified partner, you can make secure and up&dash;to&dash;date certified Ubuntu images that are tuned and tested to ensure optimal performance.
      </p>
    </div>
    <div class="col-4 u-extra-space">
      <div class="u-sv3">
        <img src="https://assets.ubuntu.com/v1/fd384383-group-55.svg" alt="">
      </div>
      <div class="p-heading-highlight--bottom">
        <p class="p-heading--3 p-heading-highlight--bottom__item">Leverage our support</p>
      </div>
      <p>
        We run a range of partner programmes to help you maximise revenue and efficiency from the opportunities Ubuntu provides.
      </p>
    </div>
  </div> #}
</section>
<style>
  .p-strip--suru-top {
    background-image:
      linear-gradient(to top right, #fff 0%, #fff 49%, transparent 50%),
      linear-gradient(to top right, rgba(74, 24, 60, 0) 0%, rgba(74, 24, 60, 0) 49.9%, rgba(74, 24, 60, 0.3) 50%, rgba(74, 24, 60, 0.3) 100%),
      linear-gradient(to bottom right, rgba(210, 180, 202, 0.05) 0%, rgba(210, 180, 202, 0.05) 49.9%, rgba(210, 180, 202, 0) 50%, rgba(210, 180, 202, 0) 100%),
      linear-gradient(216deg, #E95420 0%, #5E2750 33%, #2C001E 71%);
    background-position: left bottom, top right, top left;
    background-repeat: no-repeat;
    background-size: 102% 12%, 70% 100%, 100% 40%, 100% 100%;
    color: #fff;
    padding-bottom: 6rem;
    padding-top: 6rem;
  }

  @media (max-width: 772px) {
    .p-strip--suru-top {
      background-image:
        linear-gradient(to top right, #fff 0%, #fff 49%, transparent 50%),
        linear-gradient(to top right, rgba(74, 24, 60, 0) 0%, rgba(74, 24, 60, 0) 49.9%, rgba(74, 24, 60, 0.3) 50%, rgba(74, 24, 60, 0.3) 100%),
        linear-gradient(to bottom right, rgba(210, 180, 202, 0.05) 0%, rgba(210, 180, 202, 0.05) 49.9%, rgba(210, 180, 202, 0) 50%, rgba(210, 180, 202, 0) 100%),
        linear-gradient(216deg, #E95420 0%, #5E2750 33%, #2C001E 71%);
      background-position: left bottom, top right, top left;
      background-repeat: no-repeat;
      background-size: 102% 5%, 70% 100%, 100% 40%, 100% 100%;
      padding-bottom: 12rem;
      padding-top: 6rem;
    }
  }
</style>

<section class="p-strip is-deep" style="margin-top: -1px;">
  <div class="row">
    <div class="col-5">
      <h2>How we work with our partners</h2>
      <p>
        By formalising their partnership with Canonical, technology companies of all kinds &ndash; from hardware makers and ISVs to cloud providers and systems integrators &ndash; benefit from significant opportunities to increase their revenues with Ubuntu.
      </p>
      <p>We operate a range of partner programmes, from essential product certification to strategic collaboration, help with QA and long-term strategic alliances.</p>

      {# -- hidden for now
      <h2>Benefits of working with us</h2>
      <h3 class="p-muted-heading">Partnering with Canonical gives you:</h3>
      <hr />
      <ul class="p-list">
        <li class="p-list__item is-ticked">Certification of your products to ensure reliability and communicate this to your customers</li>
        <li class="p-list__item is-ticked">Regular security and maintenance updates to any products that run Ubuntu</li>
        <li class="p-list__item is-ticked">Access to engineers who develop Ubuntu, equipping you to use it as a platform for innovation in your market</li>
        <li class="p-list__item is-ticked">Custom engineering covering any device enablement or platform customisation your ideas require</li>
        <li class="p-list__item is-ticked">Management of all third party licence fees and distribution agreements for content provided through Ubuntu</li>
        <li class="p-list__item is-ticked">Substantial marketing benefits &ndash; Ubuntu has more than 20 million client users and it is an established leader in the cloud. By working with us, you’ll get to share in this growth</li>
      </ul> #}
    </div>
    <div class="col-6 col-start-large-7">
      <form action="https://pages.ubuntu.com/index.php/leadCapture/save" method="post" id="mktoForm_1260">
        <fieldset>
          <div class="p-form--container">
            <p class="p-heading--3">About you</p>
            <div class="row">
              <div class="col-3">
                <label for="FirstName">First name</label>
                <input required id="FirstName" name="FirstName" maxlength="255" type="text">
              </div>
              <div class="col-3">
                <label for="LastName">Last name</label>
                <input required id="LastName" name="LastName" maxlength="255" title="" type="text">
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <label for="Title">Job title</label>
                <input required id="Title" name="Title" maxlength="255" title="" type="text">
              </div>
              <div class="col-3">
                <label for="Function">Job function</label>
                <select required id="Function" name="Function" title="">
                  <option value="">Select&hellip;</option>
                  <option value="Infrastructure">Infrastructure Eng</option>
                  <option value="Application">Application Eng</option>
                  <option value="Business">Business Practice / Solutions</option>
                  <option value="Strategy">Strategy</option>
                  <option value="Marketing">Marketing</option>
                  <option value="Legal">Procurement / Legal</option>
                  <option value="Sales">Sales / Business Development</option>
                  <option value="Other">Other</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <label for="Email">Email address (company)</label>
                <input required id="Email" name="Email" maxlength="255" title="" type="email" class="mktoField mktoEmailField  mktoRequired">
              </div>
              <div class="col-3">
                <label for="Phone">Phone</label>
                <input required id="Phone" name="Phone" maxlength="255" title="" type="tel" class="mktoField mktoTelField  mktoRequired">
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <label for="Country">Country</label>
                <select required id="Country" name="Country" title="">
                  <option value="">Select&hellip;</option>
                  <option value="FR">France</option>
                  <option value="DE">Germany</option>
                  <option value="JP">Japan</option>
                  <option value="GB">United Kingdom</option>
                  <option value="US">United States of America</option>
                  <option value="------">------</option>
                  <option value="AF">Afghanistan</option>
                  <option value="AX">Åland Islands</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AS">American Samoa</option>
                  <option value="AD">Andorra</option>
                  <option value="AO">Angola</option>
                  <option value="AI">Anguilla</option>
                  <option value="AQ">Antarctica</option>
                  <option value="AG">Antigua and Barbuda</option>
                  <option value="AR">Argentina</option>
                  <option value="AM">Armenia</option>
                  <option value="AW">Aruba</option>
                  <option value="AU">Australia</option>
                  <option value="AT">Austria</option>
                  <option value="AZ">Azerbaijan</option>
                  <option value="BS">Bahamas</option>
                  <option value="BH">Bahrain</option>
                  <option value="BD">Bangladesh</option>
                  <option value="BB">Barbados</option>
                  <option value="BY">Belarus</option>
                  <option value="BE">Belgium</option>
                  <option value="BZ">Belize</option>
                  <option value="BJ">Benin</option>
                  <option value="BM">Bermuda</option>
                  <option value="BT">Bhutan</option>
                  <option value="BO">Bolivia (Plurinational State of)</option>
                  <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                  <option value="BA">Bosnia and Herzegovina</option>
                  <option value="BW">Botswana</option>
                  <option value="BV">Bouvet Island</option>
                  <option value="BR">Brazil</option>
                  <option value="IO">British Indian Ocean Territory</option>
                  <option value="BN">Brunei Darussalam</option>
                  <option value="BG">Bulgaria</option>
                  <option value="BF">Burkina Faso</option>
                  <option value="BI">Burundi</option>
                  <option value="KH">Cambodia</option>
                  <option value="CM">Cameroon</option>
                  <option value="CA">Canada</option>
                  <option value="CV">Cabo Verde</option>
                  <option value="KY">Cayman Islands</option>
                  <option value="CF">Central African Republic</option>
                  <option value="TD">Chad</option>
                  <option value="CL">Chile</option>
                  <option value="CN">China</option>
                  <option value="CX">Christmas Island</option>
                  <option value="CC">Cocos (Keeling) Islands</option>
                  <option value="CO">Colombia</option>
                  <option value="KM">Comoros</option>
                  <option value="CG">Congo</option>
                  <option value="CD">Congo (Democratic Republic of the)</option>
                  <option value="CK">Cook Islands</option>
                  <option value="CR">Costa Rica</option>
                  <option value="CI">Côte d'Ivoire</option>
                  <option value="HR">Croatia</option>
                  <option value="CU">Cuba</option>
                  <option value="CW">Curaçao</option>
                  <option value="CY">Cyprus</option>
                  <option value="CZ">Czech Republic</option>
                  <option value="DK">Denmark</option>
                  <option value="DJ">Djibouti</option>
                  <option value="DM">Dominica</option>
                  <option value="DO">Dominican Republic</option>
                  <option value="EC">Ecuador</option>
                  <option value="EG">Egypt</option>
                  <option value="SV">El Salvador</option>
                  <option value="GQ">Equatorial Guinea</option>
                  <option value="ER">Eritrea</option>
                  <option value="EE">Estonia</option>
                  <option value="ET">Ethiopia</option>
                  <option value="FK">Falkland Islands (Malvinas)</option>
                  <option value="FO">Faroe Islands</option>
                  <option value="FJ">Fiji</option>
                  <option value="FI">Finland</option>
                  <option value="FR">France</option>
                  <option value="GF">French Guiana</option>
                  <option value="PF">French Polynesia</option>
                  <option value="TF">French Southern Territories</option>
                  <option value="GA">Gabon</option>
                  <option value="GM">Gambia</option>
                  <option value="GE">Georgia</option>
                  <option value="DE">Germany</option>
                  <option value="GH">Ghana</option>
                  <option value="GI">Gibraltar</option>
                  <option value="GR">Greece</option>
                  <option value="GL">Greenland</option>
                  <option value="GD">Grenada</option>
                  <option value="GP">Guadeloupe</option>
                  <option value="GU">Guam</option>
                  <option value="GT">Guatemala</option>
                  <option value="GG">Guernsey</option>
                  <option value="GN">Guinea</option>
                  <option value="GW">Guinea-Bissau</option>
                  <option value="GY">Guyana</option>
                  <option value="HT">Haiti</option>
                  <option value="HM">Heard Island and McDonald Islands</option>
                  <option value="VA">Holy See</option>
                  <option value="HN">Honduras</option>
                  <option value="HK">Hong Kong</option>
                  <option value="HU">Hungary</option>
                  <option value="IS">Iceland</option>
                  <option value="IN">India</option>
                  <option value="ID">Indonesia</option>
                  <option value="IR">Iran (Islamic Republic of)</option>
                  <option value="IQ">Iraq</option>
                  <option value="IE">Ireland</option>
                  <option value="IM">Isle of Man</option>
                  <option value="IL">Israel</option>
                  <option value="IT">Italy</option>
                  <option value="JM">Jamaica</option>
                  <option value="JP">Japan</option>
                  <option value="JE">Jersey</option>
                  <option value="JO">Jordan</option>
                  <option value="KZ">Kazakhstan</option>
                  <option value="KE">Kenya</option>
                  <option value="KI">Kiribati</option>
                  <option value="KP">Korea (Democratic People's Republic of)</option>
                  <option value="KR">Korea (Republic of)</option>
                  <option value="KW">Kuwait</option>
                  <option value="KG">Kyrgyzstan</option>
                  <option value="LA">Lao People's Democratic Republic</option>
                  <option value="LV">Latvia</option>
                  <option value="LB">Lebanon</option>
                  <option value="LS">Lesotho</option>
                  <option value="LR">Liberia</option>
                  <option value="LY">Libya</option>
                  <option value="LI">Liechtenstein</option>
                  <option value="LT">Lithuania</option>
                  <option value="LU">Luxembourg</option>
                  <option value="MO">Macao</option>
                  <option value="MK">Macedonia (the former Yugoslav Republic of)</option>
                  <option value="MG">Madagascar</option>
                  <option value="MW">Malawi</option>
                  <option value="MY">Malaysia</option>
                  <option value="MV">Maldives</option>
                  <option value="ML">Mali</option>
                  <option value="MT">Malta</option>
                  <option value="MH">Marshall Islands</option>
                  <option value="MQ">Martinique</option>
                  <option value="MR">Mauritania</option>
                  <option value="MU">Mauritius</option>
                  <option value="YT">Mayotte</option>
                  <option value="MX">Mexico</option>
                  <option value="FM">Micronesia (Federated States of)</option>
                  <option value="MD">Moldova (Republic of)</option>
                  <option value="MC">Monaco</option>
                  <option value="MN">Mongolia</option>
                  <option value="ME">Montenegro</option>
                  <option value="MS">Montserrat</option>
                  <option value="MA">Morocco</option>
                  <option value="MZ">Mozambique</option>
                  <option value="MM">Myanmar</option>
                  <option value="NA">Namibia</option>
                  <option value="NR">Nauru</option>
                  <option value="NP">Nepal</option>
                  <option value="NL">Netherlands</option>
                  <option value="NC">New Caledonia</option>
                  <option value="NZ">New Zealand</option>
                  <option value="NI">Nicaragua</option>
                  <option value="NE">Niger</option>
                  <option value="NG">Nigeria</option>
                  <option value="NU">Niue</option>
                  <option value="NF">Norfolk Island</option>
                  <option value="MP">Northern Mariana Islands</option>
                  <option value="NO">Norway</option>
                  <option value="OM">Oman</option>
                  <option value="PK">Pakistan</option>
                  <option value="PW">Palau</option>
                  <option value="PS">Palestine, State of</option>
                  <option value="PA">Panama</option>
                  <option value="PG">Papua New Guinea</option>
                  <option value="PY">Paraguay</option>
                  <option value="PE">Peru</option>
                  <option value="PH">Philippines</option>
                  <option value="PN">Pitcairn</option>
                  <option value="PL">Poland</option>
                  <option value="PT">Portugal</option>
                  <option value="PR">Puerto Rico</option>
                  <option value="QA">Qatar</option>
                  <option value="RE">Réunion</option>
                  <option value="RO">Romania</option>
                  <option value="RU">Russian Federation</option>
                  <option value="RW">Rwanda</option>
                  <option value="BL">Saint Barthélemy</option>
                  <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                  <option value="KN">Saint Kitts and Nevis</option>
                  <option value="LC">Saint Lucia</option>
                  <option value="MF">Saint Martin (French part)</option>
                  <option value="PM">Saint Pierre and Miquelon</option>
                  <option value="VC">Saint Vincent and the Grenadines</option>
                  <option value="WS">Samoa</option>
                  <option value="SM">San Marino</option>
                  <option value="ST">Sao Tome and Principe</option>
                  <option value="SA">Saudi Arabia</option>
                  <option value="SN">Senegal</option>
                  <option value="RS">Serbia</option>
                  <option value="SC">Seychelles</option>
                  <option value="SL">Sierra Leone</option>
                  <option value="SG">Singapore</option>
                  <option value="SX">Sint Maarten (Dutch part)</option>
                  <option value="SK">Slovakia</option>
                  <option value="SI">Slovenia</option>
                  <option value="SB">Solomon Islands</option>
                  <option value="SO">Somalia</option>
                  <option value="ZA">South Africa</option>
                  <option value="GS">South Georgia and the South Sandwich Islands</option>
                  <option value="SS">South Sudan</option>
                  <option value="ES">Spain</option>
                  <option value="LK">Sri Lanka</option>
                  <option value="SD">Sudan</option>
                  <option value="SR">Suriname</option>
                  <option value="SJ">Svalbard and Jan Mayen</option>
                  <option value="SZ">Swaziland</option>
                  <option value="SE">Sweden</option>
                  <option value="CH">Switzerland</option>
                  <option value="SY">Syrian Arab Republic</option>
                  <option value="TW">Taiwan</option>
                  <option value="TJ">Tajikistan</option>
                  <option value="TZ">Tanzania, United Republic of</option>
                  <option value="TH">Thailand</option>
                  <option value="TL">Timor-Leste</option>
                  <option value="TG">Togo</option>
                  <option value="TK">Tokelau</option>
                  <option value="TO">Tonga</option>
                  <option value="TT">Trinidad and Tobago</option>
                  <option value="TN">Tunisia</option>
                  <option value="TR">Turkey</option>
                  <option value="TM">Turkmenistan</option>
                  <option value="TC">Turks and Caicos Islands</option>
                  <option value="TV">Tuvalu</option>
                  <option value="UG">Uganda</option>
                  <option value="UA">Ukraine</option>
                  <option value="AE">United Arab Emirates</option>
                  <option value="GB">United Kingdom</option>
                  <option value="US">United States of America</option>
                  <option value="UM">United States Minor Outlying Islands</option>
                  <option value="UY">Uruguay</option>
                  <option value="UZ">Uzbekistan</option>
                  <option value="VU">Vanuatu</option>
                  <option value="VE">Venezuela (Bolivarian Republic of)</option>
                  <option value="VN">Viet Nam</option>
                  <option value="VG">Virgin Islands (British)</option>
                  <option value="VI">Virgin Islands (U.S.)</option>
                  <option value="WF">Wallis and Futuna</option>
                  <option value="EH">Western Sahara</option>
                  <option value="YE">Yemen</option>
                  <option value="ZM">Zambia</option>
                  <option value="ZW">Zimbabwe</option>
                </select>
              </div>
              <div class="col-3 mktoPlaceholder mktoPlaceholderState u-hide">
                <label for="State" class="mktoLabel mktoHasWidth">State</label>
                <select id="State" name="State" class="mktoField  mktoRequired mktFReq">
                  <option value="" disabled="disabled" selected="">Select&hellip;</option>
                </select>
              </div>
            </div>

            <label for="Company" class="mktoLabel " >Company:</label>
            <input required  id="Company" name="Company" maxlength="255" type="text" class="mktoField   mktoRequired" >

            <label for="partner_tier__c" class="mktoLabel " >Company business type:</label>
            <select required  id="partner_tier__c" name="partner_tier__c" class="mktoField  mktoRequired" >
              <option value="">Select...</option>
              <option value="OEM (HW+)">OEM (HW+)</option>
              <option value="Global System Integrator">Global System Integrator</option>
              <option value="VAR / Channel"> VAR / Channel</option>
              <option value="Regional System Integrator"> Regional System Integrator</option>
              <option value="ISV"> ISV</option>
              <option value="Managed Service Provider"> Managed Service Provider</option>
            </select>

            <label for="Comments_from_lead__c" class="mktoLabel ">Please tell us more about the opportunity you see in partnering with Canonical: </label>
            <textarea id="Comments_from_lead__c" name="Comments_from_lead__c" rows="5" class="mktoField" maxlength="2000" ></textarea>

            <div class="mktFormReq mktField">
              <input class="mktoField" value="yes" id="NewsletterOpt-In" name="NewsletterOpt-In" type="checkbox">
              <label class="mktoLabel mktoHasWidth" for="NewsletterOpt-In"><small>I agree to receive information about Canonical’s products and services.</small></label>
            </div>
            <p>
              <small>In submitting this form, I confirm that I have read and agree to <a href="https://ubuntu.com/legal/data-privacy/newsletter">Canonical’s Privacy Notice</a> and <a href="https://ubuntu.com/legal/data-privacy">Privacy Policy</a>.</small>
            </p>
            <div class="mktField">
              <button type="submit" class="p-button--positive mktoButton">Apply now</button>
              <input type="hidden" name="formid" class="mktoField" value="1260">
              <input type="hidden" name="formVid" class="mktoField" value="1260">
              <input type="hidden" name="lpId" class="mktoField" value="1558">
              <input type="hidden" name="subId" class="mktoField" value="30">
              <input type="hidden" name="munchkinId" class="mktoField" value="066-EOV-335">
              <input type="hidden" name="lpurl" class="mktoField" value="https://pages.ubuntu.com/become-a-partner.html?cr={creative}&amp;kw={keyword}">
              <input type="hidden" name="cr" class="mktoField" value="">
              <input type="hidden" name="kw" class="mktoField" value="">
              <input type="hidden" name="q" class="mktoField" value="">
            </div>
          </div>
        </fieldset>
        <input type="hidden" name="returnURL" value="https://canonical.com/partners/thank-you" />
        <input type="hidden" name="retURL" value="https://canonical.com/partners/thank-you" />
      </form>
    </div>
  </div>
</section>
<section class="p-strip--image is-dark">
  <div class="p-strip--suru-bottom">
    <div class="row">
      <div class="col-8">
        <h1>Find a partner</h1>
        <p class="u-sv3">Canonical’s network of Ubuntu partners spans the full range of technology activities. We offer
          partner programmes for software vendors, hardware OEMs, mobile carriers, channel partners, retailers and
          public cloud providers.</p>
      </div>
      <div class="col-4 u-align--center u-vertically-center u-hide--small u-hide--medium">
        <p>
          <img src="https://assets.ubuntu.com/v1/18dc67e0-lrg-magnifier-icon.svg" alt="">
        </p>
      </div>
    </div>
    <div class="u-fixed-width">
      <a href="/partners/find-a-partner" class="p-button--outline u-no-margin--bottom">
        Search now
      </a>
    </div>
  </div>
</section>
<style>
  .p-strip--suru-bottom {
    background-image:
      linear-gradient(to bottom left, rgba(74, 24, 60, 0) 0%, rgba(74, 24, 60, 0) 49.9%, rgba(74, 24, 60, 0.3) 50%, rgba(74, 24, 60, 0.3) 100%),
      linear-gradient(to bottom right, rgba(210, 180, 202, 0.05) 0%, rgba(210, 180, 202, 0.05) 49.9%, rgba(210, 180, 202, 0) 50%, rgba(210, 180, 202, 0) 100%),
      linear-gradient(216deg, #E95420 0%, #5E2750 33%, #2C001E 71%);
    background-position: bottom left, top left;
    background-repeat: no-repeat;
    background-size: 95% 80%, 80% 60%, 100% 100%;
    padding-bottom: 6rem;
    padding-top: 6rem;
  }

  .p-form--container {
    padding: 1rem 1rem 0 1rem;
  }

  @media (max-width: 772px) {
    .p-strip--suru-bottom {
      background-image:
        linear-gradient(to bottom right, rgba(210, 180, 202, 0.05) 0%, rgba(210, 180, 202, 0.05) 49.9%, rgba(210, 180, 202, 0) 50%, rgba(210, 180, 202, 0) 100%),
        linear-gradient(216deg, #E95420 0%, #5E2750 33%, #2C001E 71%);
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 80% 80%, 100% 100%;
    }

    .p-form--container {
      padding: 0;
    }
  }
</style>

<script>
  const usStates = [
    { value: "AK", name: "Alaska" },
    { value: "AL", name: "Alabama" },
    { value: "AR", name: "Arkansas" },
    { value: "AZ", name: "Arizona" },
    { value: "CA", name: "California" },
    { value: "CO", name: "Colorado" },
    { value: "CT", name: "Connecticut" },
    { value: "DC", name: "District of Columbia" },
    { value: "DE", name: "Delaware" },
    { value: "FL", name: "Florida" },
    { value: "GA", name: "Georgia" },
    { value: "HI", name: "Hawaii" },
    { value: "IA", name: "Iowa" },
    { value: "ID", name: "Idaho" },
    { value: "IL", name: "Illinois" },
    { value: "IN", name: "Indiana" },
    { value: "KS", name: "Kansas" },
    { value: "KY", name: "Kentucky" },
    { value: "LA", name: "Louisiana" },
    { value: "MA", name: "Massachusetts" },
    { value: "MD", name: "Maryland" },
    { value: "ME", name: "Maine" },
    { value: "MI", name: "Michigan" },
    { value: "MN", name: "Minnesota" },
    { value: "MO", name: "Missouri" },
    { value: "MS", name: "Mississippi" },
    { value: "MT", name: "Montana" },
    { value: "NC", name: "North Carolina" },
    { value: "ND", name: "North Dakota" },
    { value: "NE", name: "Nebraska" },
    { value: "NH", name: "New Hampshire" },
    { value: "NJ", name: "New Jersey" },
    { value: "NM", name: "New Mexico" },
    { value: "NV", name: "Nevada" },
    { value: "NY", name: "New York" },
    { value: "OH", name: "Ohio" },
    { value: "OK", name: "Oklahoma" },
    { value: "OR", name: "Oregon" },
    { value: "PA", name: "Pennsylvania" },
    { value: "PR", name: "Puerto Rico" },
    { value: "RI", name: "Rhode Island" },
    { value: "SC", name: "South Carolina" },
    { value: "SD", name: "South Dakota" },
    { value: "TN", name: "Tennessee" },
    { value: "TX", name: "Texas" },
    { value: "UT", name: "Utah" },
    { value: "VA", name: "Virginia" },
    { value: "VT", name: "Vermont" },
    { value: "WA", name: "Washington" },
    { value: "WI", name: "Wisconsin" },
    { value: "WV", name: "West Virginia" },
    { value: "WY", name: "Wyoming" }
  ];
  const canadaProvinces = [
    { value: "AB", name: "Alberta" },
    { value: "BC", name: "British Columbia" },
    { value: "MB", name: "Manitoba" },
    { value: "NB", name: "New Brunswick" },
    { value: "NF", name: "Newfoundland" },
    { value: "NT", name: "Northwest Territories" },
    { value: "NS", name: "Nova Scotia" },
    { value: "NU", name: "Nunavut" },
    { value: "ON", name: "Ontario" },
    { value: "PE", name: "Prince Edward Island" },
    { value: "QC", name: "Quebec" },
    { value: "SK", name: "Saskatchewan" },
    { value: "YT", name: "Yukon Territory" }
  ];
  const countrySelect = document.getElementById("Country");
  const stateSelect = document.getElementById("State");

  const jobFunction = document.getElementById("Function");
  const commentsInput = document.getElementById("comments");

  if (countrySelect && stateSelect) {
    countrySelect.addEventListener("change", function (e) {
      generateOptions(e.target.value)
    });
  }

  if (jobFunction && commentsInput) {
    jobFunction.addEventListener("change", function (e) {

      if (e.target.value === "Other") {
        commentsInput.classList.remove("u-hide");
      } else {
        commentsInput.classList.add("u-hide");
      }
    });
  }

  function generateOptions(country) {
    const stateContainer = stateSelect.closest("div");
    while (stateSelect.children.length > 1) {
      stateSelect.removeChild(stateSelect.lastChild);
    }
    switch (country) {
      case "US":
        usStates.forEach(usState => {
          var newOption = document.createElement("option");
          newOption.text = usState.name;
          newOption.value = usState.value;
          stateSelect.add(newOption);
          stateContainer.classList.remove("u-hide");
        });
        break;
      case "CA":
        canadaProvinces.forEach(province => {
          var newOption = document.createElement("option");
          newOption.text = province.name;
          newOption.value = province.value;
          stateSelect.add(newOption);
          stateContainer.classList.remove("u-hide");
        });
        break;
      default:
        if (!stateContainer.classList.contains("u-hide")) {
          stateContainer.classList.add("u-hide");
        }
    }
  }
</script>
{% endblock %}
