{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1rn2f4wL8wxnILlnmfchkNQV2RzsYUMcRaCfP-d6V_5Q{% endblock %}

{% block title %}Channel / Reseller Programme | Partners{% endblock %}

{% block meta_description %}
  Canonical works with channel and reseller partners around the world to ensure that Canonical offerings are available for their customers.
{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}

  {% with parent_name="Partners", parent_href="/partners", title="Channel / Reseller Programme" %}
    {% include '/partial/_breadcrumbs.html' %}
  {% endwith %}

  <section class="p-section">
    <div class="row--50-50">
      <div class="col">
        <h1>
          Channel&sol;Reseller
          <br class="u-hide--small" />
          Programme
        </h1>
      </div>
      <div class="col">
        <div class="p-block">
          <p>
            Canonical works with channel and reseller partners around the world to ensure that Canonical offerings are available for their customers. Additionally these partners can both resell services and value-added offerings around our technology enabling them to grow their business.
          </p>
          <p>
            Canonical is an industry leader in OpenStack private clouds, the reference platform for all major public clouds, and the open source software operating system that runs from the desktop and all internet connected things. Our success helps our partners build a business around our technology.
          </p>
        </div>
        <a href="https://partner.canonical.com" class="p-button--positive"><span>Login to the partner portal</span></a>
        <a href="/partners/become-a-partner" class="p-button">Become a partner</a>
      </div>
    </div>
  </section>

  {% with title="Meet some of our channel/reseller partners", link_text="See all of our channel/reseller partners", link_href="/partners/find-a-partner?filters=channel-reseller" %}
    {% include '/partners/partial/_partners-logos.html' %}
  {% endwith %}

  <section class="p-section">
    <div class="row p-block">
      <hr class="p-rule" />
      <h2>What does Canonical's channel partner programme offer?</h2>
    </div>
    <div class="row">
      <div class="col-9 col-start-large-4 col-medium-5 col-start-medium-2">
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <p class="p-heading--5">Rich portfolio of products</p>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Resell the full range of Canonical&rsquo;s portfolio of private and public cloud products: Openstack, Kubernetes, IoT, support, security and compliance for Ubuntu.
            </p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <p class="p-heading--5">Sales enablement</p>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Canonical can help train your field sales and presales teams and provide you with sales collateral and permission to use the Canonical and Ubuntu trademarks in your own materials.
            </p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <p class="p-heading--5">Access to Canonical partner portal</p>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              We host a partner portal with product and solutions collaterals, agreed pricing, incentives and a deal registration system.
            </p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <p class="p-heading--5">Training and certification</p>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Gain access to technology that is the foundation for digital transformation and expand your business through marketing support and alignment with a trusted brand
            </p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <p class="p-heading--5">Technical enablement</p>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Canonical can help train your technical teams and provide you with access to our technical resources for your labs and customer engagements.
            </p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <p class="p-heading--5">Go to market with Canonical</p>
          </div>
          <div class="col-6 col-medium-3">
            <p>Working with our dedicated partner team, get new joint marketing opportunities and lead generation.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include '/partners/partial/_co-sell-with-canonical.html' %}

  {% include '/partners/partial/_footer.html' %}

{% endblock %}
