{% extends 'base.html' %}

{% block content %}
<section class="p-strip--image is-dark">
  <div class="p-strip--suru-background" style="padding-top: 3rem;">
    <div class="row">
      <div class="col-6">
        <h1>Canonical Public Cloud Programme</h1>
        <p>Ubuntu is enormously popular with providers delivering public cloud services today. Together with significant developer mindshare, a favourable licensing model and a policy of regular updates have made Ubuntu the number one platform for cloud guests, the world over.</p>
        <p>Canonical engages with Public cloud companies to ensure the Ubuntu images are performant, provide a consistent experience, secure, up to date and available for a range of product offerings. The programme provides eligibility to resell or attach Canonical’s enterprise support, services and management tools.</p>
      </div>
      <div class="col-6 u-align--center u-hide--small">
        <img src="https://assets.ubuntu.com/v1/6d96cc6a-Cloud+partner-hero+illustration.svg" alt="">
      </div>
    </div>
  </div>
</section>


<section class="p-strip is-deep">
  <div class="row">
    <h2>What’s included</h2>
    <p>There are many benefits for partners in the Canonical Public Cloud programme:</p>
    <ul class="p-list is-split u-no-margin--bottom">
      <li class="p-list__item is-ticked">Ubuntu cloud images, tuned and tested to your environment, ensure optimal performance</li>
      <li class="p-list__item is-ticked">Automated publication across all cloud availability zones for facilitated operations </li>
      <li class="p-list__item is-ticked">Joint marketing opportunities, including revenue-sharing for services and management tools delivered under Ubuntu Advantage for Infrastructure</li>
      <li class="p-list__item is-ticked">Being featured as a certified partner on the Ubuntu website, including the ability to use Ubuntu Public Cloud certification logos</li>
      <li class="p-list__item is-ticked">Regular and automated refresh of Ubuntu images for enhanced user experience and increased security</li>
      <li class="p-list__item is-ticked">Automated publication across all cloud availability zones for more efficient operations</li>
    </ul>
  </div>

  <div class="row">
    <hr class="p-separator">
  </div>

  <div class="row">
    <div class="col-12 u-align--center">
      <h4 class="p-muted-heading" style="max-width: none;">A selection of our cloud partners</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class="p-inline-images u-no-margin--bottom">
        <li class="p-inline-images__item" style="display: inline; padding-top: 0.5rem;">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/c6357c29-ibm-cloud-logo-vector-01.svg" alt="IBM">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/08646a72-logo-oracle.svg" alt="Oracle">
        </li>
        <li class="p-inline-images__item" style="display: inline; padding-top: 0.5rem;">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/e795fc84-Google_Cloud_Logo.svg" alt="Google cloud platform">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/39002345-AmazonWebservices_Logo.svg" alt="Amazon web services">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/e3914def-partner-logo-azure.svg" alt="Azure">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/5bd692e3-partner-logo-fujitsu.svg" alt="Fujitsu">
        </li>
        <li class="p-inline-images__item" style="display: inline; padding-top: 1.5rem;">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/ff936628-rackspace.svg" alt="Rackspace">
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/d4d3cd69-Joyent+logo.svg" alt="Joyent">
        </li>
      </ul>
    </div>
  </div>
</section>

{% include 'partial/_partners-footer.html' %}

{% endblock %}
