{% extends 'base.html' %}

{% block content %}
  <section class="p-strip--image is-dark is-deep u-no-padding--top u-no-padding--bottom u-extra-space">
    <div class="p-strip--suru-background">
      <div class="row">
        <div class="col-6">
          <h1>Charmed Kubernetes partners</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore deleniti eaque repellendus, impedit nobis veniam, pariatur qui quae laboriosam dolores doloremque iusto nesciunt nihil doloribus officia iste modi, repellat consectetur!</p>
        </div>
        <div class="col-6 u-align--center u-hide--small">
          <img src="https://assets.ubuntu.com/v1/0038a560-charmed-kubernetes-partners-cloud.svg" alt="charmed kubernetes image">
        </div>
      </div>
    </div>
  </section>
  <section class="p-strip--light is-deep">
    <div class="row u-sv3">
      <p class="p-heading--two">What you get when you work with us</p>
    </div>
    <div class="row">
      <div class="col-8">
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor incididunt</li>
          <li class="p-list__item is-ticked">Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor incididunt</li>
          <li class="p-list__item is-ticked">Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor incididunt</li>
          <li class="p-list__item is-ticked">Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor incididunt</li>
          <li class="p-list__item is-ticked">Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor incididunt</li>
        </ul>
      </div>
      <div class="col-4 u-align--center u-vertically-center">
        <img src="https://assets.ubuntu.com/v1/ea4d756d-picto-share-orange.svg" width="150" alt="">
      </div>
    </div>
  </section>
  <section class="p-strip is-deep">
    <div class="row">
      <div class="col-6">
        <img src="https://assets.ubuntu.com/v1/ea4d756d-picto-share-orange.svg" width="150" alt="">
      </div>
      <div class="col-6">
        <p class="p-heading--two">Increase your sales by becoming Ubuntu Certified</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum veniam eveniet at nam odio culpa voluptate labore. Sequi vero quo dolore, corporis a eaque id exercitationem qui minus, repudiandae consectetur.</p>
        <!-- Add url -->
        <a href="">Learn more about certification&nbsp;&rsaquo;</a>
        <ul class="p-inline-images">
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/73135672-ntt-logo.svg" alt="Placeholder image">
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/ee5d503f-rabobank-4.svg" alt="Placeholder image">
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="https://assets.ubuntu.com/v1/f9832168-AstraZeneca.png?w=144" alt="Placeholder image">
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="p-strip--mid-light is-deep">
    <div class="row p-divider">
      <div class="col-6 p-divider__block">
        <div class="p-media-object">
          <img src="https://assets.ubuntu.com/v1/2cdff5cc-magnifier-find-a-partner-footer.svg" class="p-media-object__image">
          <div class="p-media-object__details">
            <h1 class="p-media-object__title">Find a partner</h1>
            <p class="p-media-object__content u-sv3">Looking for a supplier with Ubuntu expertise? Select from the complete list of our partners.</p>
            <a href="/partners/find-a-partner">Find a partner&nbsp;&rsaquo;</a>
          </div>
        </div>
      </div>
      <div class="col-6 p-divider__block">
        <div class="p-media-object">
          <img src="https://assets.ubuntu.com/v1/292d1694-become-a-partner-footer.svg" class="p-media-object__image">
          <div class="p-media-object__details">
            <h1 class="p-media-object__title">Become a partner</h1>
            <p class="p-media-object__content u-sv3">Interested in becoming an Ubuntu partner? Talk to us today to learn more about our programmes.</p>
            <!-- Add link url -->
            <a href="/partners/find-a-partner">Talk to us about becoming a partner&nbsp;&rsaquo;</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
