{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1MBVH4kou0Q7yO_Lq6DPQpZL_rc0K1-nVfvg4aF3biSc{% endblock %}

{% block title %}Desktop Programme | Partners{% endblock %}

{% block meta_description %}
  Canonical collaborates with the world&rsquo;s leading vendors to optimise and certify Ubuntu on 100s of laptops, desktops and workstations for a secure and constantly updated platform.
{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}

  {% set breadcrumbs = [{"name": "Partners", "href": "/partners"}, {"name": "Desktop"}] %}
  {% include '/partial/_breadcrumbs.html' %}

  <section class="p-section">
    <div class="row--50-50">
      <div class="col">
        <h1>Desktop Programme</h1>
      </div>
      <div class="col">
        <p>
          Canonical collaborates with the world&rsquo;s leading vendors to optimise and certify Ubuntu on 100s of laptops, desktops and workstations for a secure and constantly updated platform.
        </p>
        <p>
          Whether built with the developer in mind or to power AI ambitions, these out-of the-box platforms give practitioners everything they need to transform their enterprise IT.
        </p>
        <a href="/partners/become-a-partner" class="p-button--positive">Become a partner</a>
        <a href="https://certification.ubuntu.com/desktop" class="p-button"><span>Find a certified PC</span></a>
      </div>
    </div>
  </section>

  {% with title='A selection of our Desktop partners', link_text="See all desktop partners", link_href="/partners/find-a-partner?filters=desktop", is_split=True %}
    {% include '/partners/partial/_partners-logos.html' %}
  {% endwith %}

  <section class="p-section">
    <div class="p-section--shallow">
      <div class="u-fixed-width">
        <hr class="p-rule" />
        <h2>Why buy a certified Ubuntu desktop?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-9 col-start-large-4 col-medium-5 col-start-medium-2">
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <p class="p-heading--5">Preloaded with Ubuntu</p>
          </div>
          <div class="col-6 col-medium-3">
            <p>Ubuntu certified PCs ship with a clean version of Ubuntu, straight from Canonical</p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <p class="p-heading--5">Works out of the box</p>
          </div>
          <div class="col-6 col-medium-3">
            <p>Canonical performs 100s of stringent tests to ensure all Ubuntu functionality works out-of-the-box</p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <p class="p-heading--5">5 years support</p>
          </div>
          <div class="col-6 col-medium-3">
            <p>Certified PCs are continuously tested throughout the lifetime of the preloaded Ubuntu release</p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <p class="p-heading--5">Optimised images</p>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              PCs preloaded with Ubuntu at the factory come with an optimised image to provide users with the best experience for their hardware
            </p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <p class="p-heading--5">Latest hardware</p>
          </div>
          <div class="col-6 col-medium-3">
            <p>Collaboration with Intel, Nvidia and AMD guarantees Ubuntu runs flawlessly on the latest CPUs and GPUs</p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <p class="p-heading--5">Battery life</p>
          </div>
          <div class="col-6 col-medium-3">
            <p>Ubuntu certified PCs meet the most stringent energy regulations &mdash; Energy Star, CEC</p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <p class="p-heading--5">Reliability</p>
          </div>
          <div class="col-6 col-medium-3">
            <p>Ubuntu certified PCs undergo rigorous testing to ensure they perform flawlessly after 30+ suspend/resume cycles</p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <p class="p-heading--5">Ready for Enterprise</p>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Ubuntu certified PCs are eligible for <a href="https://buy.ubuntu.com">Ubuntu Pro</a>, the most comprehensive Linux enterprise subscription
            </p>
          </div>
        </div>
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <p class="p-heading--5">The key to corporate fleet</p>
          </div>
          <div class="col-6 col-medium-3">
            <p>With 100s of certified models, ranging from low-cost tower PCs to AI workstations</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="p-section">
    <div class="row">
      <hr class="p-rule" />
    </div>
    <div class="row--50-50">
      <div class="col">
        <h2>Buy a certified Ubuntu PC</h2>
      </div>
      <div class="col">
        <p>
          We've been working with partners like Dell, HP and Lenovo for years to ensure that Ubuntu devices reach market as effectively as possible.
        </p>
        <p>
          With the help of these partners, Ubuntu machines are distributed around the world and can be found in both their exclusive and partner stores.
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row">
      <div class="col-start-large-4 col-9">
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <div class="p-laptop-image-wrapper">
              {{ image(url="https://assets.ubuntu.com/v1/97f7138f-dell-xps-laptop-jammy.png",
                            alt="",
                            width="500",
                            height="402",
                            hi_def=True,
                            loading="lazy") | safe
              }}
            </div>
            <p>
              Canonical and Dell work together to deliver Ubuntu on systems from entry-level laptops to high-end developer machines.
            </p>
            <hr class="p-rule" />
            <p>
              <a href="https://www.delltechnologies.com/en-gb/ai-technologies/index.htm">See the Ubuntu certified AI-ready workstations</a>
            </p>
            <hr class="p-rule" />
            <p>
              <a href="https://www.dell.com/linux">Shop for Dell with Ubuntu</a>
            </p>
          </div>
          <div class="col-3 col-medium-2">
            <div class="p-laptop-image-wrapper">
              {{ image(url="https://assets.ubuntu.com/v1/7f76ac3a-hp-laptop-studio-jammy.png",
                            alt="",
                            width="1000",
                            height="804",
                            hi_def=True,
                            loading="lazy") | safe
              }}
            </div>
            <p>HP sells a wide range of Canonical-certified Ubuntu laptops and desktop machines globally.</p>
            <hr class="p-rule" />
            <p>
              <a href="https://certification.ubuntu.com/desktop/models?vendors=HP"><span>View HP with Ubuntu</span></a>
            </p>
          </div>
          <div class="col-3 col-medium-2">
            <div class="p-laptop-image-wrapper">
              {{ image(url="https://assets.ubuntu.com/v1/a3ec6ab2-lenovo-laptop-p16-jammy.png",
                            alt="",
                            width="500",
                            height="402",
                            hi_def=True,
                            loading="lazy") | safe
              }}
            </div>
            <p>
              Canonical has been shipping Ubuntu on a variety of Lenovo's popular machines which are available from Lenovo's enterprise teams.
            </p>
            <hr class="p-rule" />
            <p>
              <a href="https://www.lenovo.com/us/en/think-workstations/artificial-intelligence-industry/c/artificial-intelligence-industry">Buy AI workstations with Ubuntu</a>
            </p>
            <hr class="p-rule" />
            <p>
              <a href="https://certification.ubuntu.com/desktop/models?vendors=Lenovo"><span>View Lenovo with Ubuntu</span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="p-section">
    <div class="row">
      <hr class="p-rule" />
    </div>
    <div class="row--50-50">
      <div class="col">
        <h2>Get Ubuntu Pro</h2>
      </div>
      <div class="col">
        <p>Security, compliance and support to improve efficiency while reducing complexity and cost.</p>
        <hr class="p-rule" />
        <p>
          <a href="https://buy.ubuntu.com/">Learn about our support options</a>
        </p>
      </div>
    </div>
  </section>

  {% include '/partners/partial/_footer.html' %}

{% endblock %}
