{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/15C3k-htvapwp-WTrYQ2SdHBW20Lp9IinpY9mkvo6q3U{% endblock %}

{% block title %}Executive Summit | Partners{% endblock %}

{% block meta_description %}Connect with partners from around the globe to learn about open source, from data centre to the cloud, to maximize your company sales.{% endblock %}

{% block body_class %}is-paper{% endblock body_class %}

{% block content %}
  <section class="p-strip">
    <div class="row" >
      <div class="col-6 col-medium-3">
        <div class="p-block">
          <h1 class="p-heading--bold">
            Canonical <br class="u-hide--small"/>Partner Executive Summit
          </h1>
        </div>
        <p>Connect with partners from around the globe to learn about open source, from data centre to the cloud.</p>
        <p>
          <a href="/partners/become-a-partner" class="p-button--positive" id="showModal" aria-controls="executive-summit-modal">Contact us</a>
        </p>
      </div>
      <div class="col-6 col-medium-3">
        <div class="u-embedded-media">
          <iframe class="u-embedded-media__element" src="https://www.youtube.com/embed/OQEKEoG9D-I?controls=0" title="Canonical Executive Summit" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip u-no-padding--top">
    <div class="row">
      <hr class="u-no-margin--bottom" />
      <div class="col-6 col-medium-3">
        <div class="p-block">
          <h2>Explore the benefits of doing business with open source</h2>
        </div>
      </div>
      <div class="col-6 col-medium-3">
        <div class="p-block">
        <p>More organizations are using open source solutions to benefit from better options and adaptability. This also comes with increased risk and complexity.</p>
        <p>Canonical Partner Executive Summits are for senior corporate executives who want the benefits of a comprehensive and fully-supported open source stack for their customers.</p>
      </div>
      <ul class="p-list--divided">
        <li class="p-list__item has-bullet">Connect with leaders and innovators of the open source community</li>
        <li class="p-list__item has-bullet">Learn about the latest industry trends</li>
        <li class="p-list__item has-bullet">Understand why some of the world&rsquo;s largest companies are using open source technology</li>
        <li class="p-list__item has-bullet">Learn how Canonical helps partners to monetise open source and give their customers the best technology</li>
      </ul>
      </div>
    </div>
  </section>

  <section class="p-strip is-shallow u-no-padding--top">
    <div class="row">
      <hr class="p-rule u-hide--medium u-hide--small">
      <div class="col-3">
        <h2 class="p-text--small-caps">Upcoming Summits</h2>
        <hr class="p-rule u-hide--large">
      </div>
      <div class="col-9">
        <div class="p-block">
          <div class="row">
            <div class="col-3 col-medium-2 col-small-2">
              <h3 class="p-heading--2">Bangalore</h3>
            </div>
            <div class="col-3 col-medium-2 col-small-2">
              <p>05 October 2023</p>
              <p>Learn about how many of the largest System Integrators are using open source for large-scale digital transformation projects.</p>
              <p>
                <a href="https://ubuntu.com/engage/canonical-partner-summit-bangalore-2023" class="p-button">Register <span class="u-off-screen"> for Executive Summit Bangalore</span></a>
              </p>
            </div>
            <div class="col-3 col-medium-2 u-hide--small p-image-wrapper">
              <img src="https://assets.ubuntu.com/v1/938a3f0e-executive-summit-bangalore.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-9 col-start-large-4">
        <div class="p-block">
          <hr class="p-rule" />
          <div class="row">
            <div class="col-3 col-medium-2 col-small-2">
              <h3 class="p-heading--2">Dallas</h3>
            </div>
            <div class="col-3 col-medium-2 col-small-2">
              <p>19 October 2023</p>
              <p>Join Canonical&rsquo;s US partners&rsquo; business leaders and technology innovators to explore open source opportunities.</p>
              <p>
                <a href="https://ubuntu.com/engage/canonical-partner-summit-dallas-2023" class="p-button">Register <span class="u-off-screen"> for Executive Summit Dallas</span></a>
              </p>
            </div>
            <div class="col-3 col-medium-2 u-hide--small p-image-wrapper">
              <img src="https://assets.ubuntu.com/v1/b1bf6c63-photo-1580536793208-117fdb20ffc1-(1).jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip is-deep u-no-padding--top">
    <div class="row">
      <hr class="p-rule u-hide--medium u-hide--small" />
      <div class="col-3">
        <h2 class="p-text--small-caps">Past Summits</h2>
        <hr class="p-rule u-hide--large">
      </div>
      <div class="col-9">
        <div class="p-block">
          <div class="row">
            <div class="col-3 col-medium-2 col-small-2">
              <h3 class="p-heading--2">
                <a href="https://ubuntu.com/engage/canonical-executive-summit-london-2023">London</a>
              </h3>
            </div>
            <div class="col-3 col-medium-2 col-small-2">
              <p>17 April 2023</p>
              <p>Together with AWS and NVIDIA, Canonical&rsquo;s partners in London met to discuss the power of open source.</p>
            </div>
            <div class="col-3 col-medium-2 u-hide--small p-image-wrapper">
              <img src="https://assets.ubuntu.com/v1/3027d899-executive-summit-london.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-9 col-start-large-4">
        <div class="p-block">
          <hr class="p-rule" />
          <div class="row">
            <div class="col-3 col-medium-2 col-small-2">
              <h3 class="p-heading--2"><a href="https://ubuntu.com/engage/canonical-executive-summit-paris-2023">Paris</a></h3>
            </div>
            <div class="col-3 col-medium-2 col-small-2">
              <p>14 June 2023</p>
              <p>Join our partners in France to explore the advantages of open source for their customers.</p>
            </div>
            <div class="col-3 col-medium-2 u-hide--small p-image-wrapper">
              <img src="https://assets.ubuntu.com/v1/9c147658-executive-summit-paris.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip--white is-deep">
    <div class="row">
      <div class="col-9 col-medium-4 col-start-large-4 col-start-medium-3">
        <div class="p-block">
          <h2>Become a Canonical partner</h2>
        </div>
        <div>
          <a href="/partners/become-a-partner" class="p-button--positive">Get in touch</a>
          <br class="u-hide--large" />
          <a href="/partners">Learn about our partner programmes</a>
        </div>
      </div>
    </div>
  </section>

  {% with %}
    {% set formid = "5121" %}
    {% set returnURL = "https://canonical.com/partners/executive-summit#success" %}
    {% include "partners/partial/_executive-summit-form.html" %}
  {% endwith %}

{% endblock %}
