{% extends 'base_index.html' %}

{% block title %}Find a Canonical partner | Partners{% endblock %}

{% block content %}
  <section class="p-strip--image is-dark">
    <div class="p-strip--suru-top">
      <div class="row">
        <div class="col-8">
          <h1>Find a Canonical partner</h1>
          <p>Canonical’s network of Ubuntu partners spans the full range of our product suite. We offer partner programmes for public clouds, IHVs/OEMs, desktop, channel/resellers and global systems integrators.</p>
        </div>
        <div class="col-4 u-hide--small u-align--center u-vertically-center">
          <img src="https://assets.ubuntu.com/v1/18dc67e0-lrg-magnifier-icon.svg" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="p-strip--light is-shallow js-search-form  u-hide" style="margin-top: -1px;">
    <div class="row">
      <div class="col-3">
        <form class="p-search-box u-no-margin--bottom">
          <input class="p-search-box__input js-find-a-partner__search-input" name="search" id="search" placeholder="Search" required="" type="search">
          <button type="reset" class="p-search-box__reset u-no-margin--right" alt="reset"><i class="p-icon--close"></i></button>
          <button type="submit" class="p-search-box__button" alt="search"><i class="p-icon--search"></i></button>
        </form>
      </div>
      <div class="col-1 u-vertically-center">
        <p>
          <span class="p-label--updated p-tooltip--top-center js-find-a-partner__number" style="border-radius: 3rem;">All</span>
        </p>
      </div>
      <div class="col-3">
        <button type="button" class="p-button--accordion p-heading--four u-align--left" id="tab1" role="tab" aria-controls="#tab-section" aria-expanded="false">Filters</button>
      </div>
    </div>
    <div class="row p-accordion-panel" id="tab-section" role="tabpanel" aria-hidden="true" aria-labelledby="tab-section">
      <div class="col-4">
        <p class="p-heading--four">Technology</p>
        <hr/>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="ai-ml" id="ai-ml">
          <label for="ai-ml">AI/ML</label>
        </p>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="cloud-server" id="cloud-server">
          <label for="cloud-server">Cloud/server</label>
        </p>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="containers" id="containers">
          <label for="containers">Containers</label>
        </p>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="edge-gateway" id="edge-gateway">
          <label for="edge-gateway">Edge Gateway</label>
        </p>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="personal-computing-devices" id="personal-computing-devices">
          <label for="personal-computing-devices">Personal computing/devices</label>
        </p>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="robotics" id="robotics">
          <label for="robotics">Robotics</label>
        </p>
      </div>
      <div class="col-4">
        <p class="p-heading--four">Programme</p>
        <hr/>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="channel-reseller" id="channel-reseller">
          <label for="channel-reseller">Channel / Reseller</label>
        </p>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="desktop" id="desktop">
          <label for="desktop">Desktop</label>
        </p>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="global-system-integrators" id="global-system-integrators">
          <label for="global-system-integrators">Global System Integrators</label>
        </p>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="ihv-oem" id="ihv-oem">
          <label for="ihv-oem">IHV / OEM</label>
        </p>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="public-cloud" id="public-cloud">
          <label for="public-cloud">Public Cloud</label>
        </p>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="isv" id="isv">
          <label for="isv">Software</label>
        </p>
      </div>
      <div class="col-4">
        <p class="p-heading--four">Services offered</p>
        <hr/>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="big-data" id="big-data">
          <label for="big-data">Big data</label>
        </p>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="channel" id="channel">
          <label for="channel">Channel</label>
        </p>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="hardware-manufacturer" id="hardware-manufacturer">
          <label for="hardware-manufacturer">Hardware manufacturer</label>
        </p>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="hosting-provider" id="hosting-provider">
          <label for="hosting-provider">Hosting provider</label>
        </p>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="infrastructure-provider" id="infrastructure-provider">
          <label for="infrastructure-provider">Infrastructure provider</label>
        </p>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="network-operator" id="network-operator">
          <label for="network-operator">Network operator</label>
        </p>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="software-content-publisher" id="software-content-publisher">
          <label for="software-content-publisher">Software/content publisher</label>
        </p>
        <p>
          <input type="checkbox" class="js-find-a-partner__filter" name="system-integrator-consultant" id="system-integrator-consultant">
          <label for="system-integrator-consultant">System integrator/consultant</label>
        </p>
      </div>
    </div>
  </section>
  <section class="p-strip is-shallow u-extra-space">
    <div id="results" class="p-find-a-partner">
      <div class="u-fixed-width p-notification js-find-a-partner__no-results u-hide">
        <p class="p-notification__response">
          Sorry, no partners matches found.<br />
          Perhaps <a href="/partners/find-a-partner">start your search again?</a>
        </p>
      </div>
      {% if partners %}
      <div class="row js-find-a-partner__partner-list">
        {% for partner in partners %}
        <div id="{{ partner['slug'] }}" class="col-4 col-small-4 col-medium-3 js-find-a-partner__partner" data-searchText="{{ partner['name'] }} {{ partner['short_description'] }} {% for tag in partner['tags'] %}{{ tag['fields']['tag'] }}{% endfor %}" data-filter="{% for technology in partner['technology'] %}{{technology['name']|slug }} {% endfor %}{% for programme in partner['programme'] %}{{ programme['name']|slug }} {% endfor %}{% for service_offered in partner['service_offered'] %}{{ service_offered['name']|slug }}{% endfor %}">
          <div class="p-card--no-border">
            {% if partner['partner_website'] %}
            <a title="Vist the {{ partner['name'] }} website" href="{{ partner['partner_website'] }}">
            {% else %}
            <a href="/{{ partner['slug'] }}">
            {% endif %}
            {% if partner['logo'] %}
              <div style="height: 5rem; display: flex; align-items: flex-end;">
                <img src="{{ partner['logo'] }}" alt="image for {{ partner['name'] }}" style="max-height: 5rem; max-width: 10rem;" loading="lazy">
              </div>
            {% endif %}
            </a>
            <p>
            {% if partner['partner_website'] %}
              <a title="Vist the {{ partner['name'] }} website" href="{{ partner['partner_website'] }}" class="p-link--external">{{ partner['name'] }}</a>
            {% else %}
              <a href="/{{ partner['slug'] }}">{{ partner['name'] }}</a>
            {% endif %}
            </p>
            <p class="p-card__content">{{ partner['short_description']|markup|safe }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </section>

  <style>
    .p-strip--suru-top {
      background-image:
      linear-gradient(to bottom right, rgba(210,180,202,0.05) 0%, rgba(210,180,202,0.05) 49.9%, rgba(210,180,202,0) 50%, rgba(210,180,202,0) 100%),
      linear-gradient(to top right, rgba(74,24,60,0) 0%, rgba(74,24,60,0) 49.9%, rgba(74,24,60,0.34) 50%, rgba(74,24,60,0.34) 100%),
      linear-gradient(to top left, #f7f7f7 0%, #f7f7f7 49%, transparent 50%),
      linear-gradient(230deg, #E95420 0%, #772953 33%, #2C001E 72%);
      background-position: left top, right top, right bottom;
      background-repeat: no-repeat;
      background-size: 70% 80%, 70% 100%, 110% 20%, 100% 100%;
      padding-bottom: 6rem;
      padding-top: 6rem;
    }

    @media (max-width: 620px) {
      .p-strip--suru-top {
        background-image:
          linear-gradient(to top right, rgba(74,24,60,0) 0%, rgba(74,24,60,0) 49.9%, rgba(74, 24, 60, 0.4) 50%, rgba(74, 24, 60, 0.4) 100%),
          linear-gradient(to top left, #f7f7f7 0%, #f7f7f7 49%, transparent 50%),
          linear-gradient(to bottom right, rgba(210,180,202,0.05) 0%, rgba(210,180,202,0.05) 49.9%, rgba(210,180,202,0) 50%, rgba(210,180,202,0) 100%),
          linear-gradient(120deg, #2C001E  4%,  #4C193E 100%);
        background-position: right top, bottom right, top left, top left, center right;
        background-repeat: no-repeat;
        background-size: 100% 100%, 105% 25%, 70% 80%, 100% 100%;
      }
    }
  </style>

  <script defer src="/static/js/find-a-partner.js"></script>
  <script>
    function displayFilters () {
      const toggle = (element, show) => {
        element.setAttribute('aria-expanded', show);
        document
          .querySelector(element.getAttribute('aria-controls'))
          .setAttribute('aria-hidden', !show);
      }
      document
        .querySelector(".p-button--accordion")
        .addEventListener('click', e => {
          const target = e.target;
          const isTargetOpen = target.getAttribute('aria-expanded') === 'true';
          toggle(target, !isTargetOpen);
      });
    }
    displayFilters ();
  </script>
{% endblock %}
