{% extends 'base.html' %}

{% block content %}
  <section class="p-strip--image is-dark">
    <div class="p-strip--suru-top">
      <div class="row">
        <div class="col-8">
          <h1>Find a Partner</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-4 u-hide--small u-align--center u-vertically-center">
          <img src="https://assets.ubuntu.com/v1/18dc67e0-lrg-magnifier-icon.svg" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="p-strip--light is-shallow">
    <div class="row">
      <div class="col-3">
        <select name="countrySelect" id="countrySelect">
          <option value="" disabled="disabled" selected="">Country</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
          <option value="JP">Japan</option>
          <option value="GB">United Kingdom</option>
          <option value="US">United States of America</option>
          <option value="------">------</option>
          <option value="AF">Afghanistan</option>
          <option value="AX">Åland Islands</option>
          <option value="AL">Albania</option>
          <option value="DZ">Algeria</option>
          <option value="AS">American Samoa</option>
          <option value="AD">Andorra</option>
          <option value="AO">Angola</option>
          <option value="AI">Anguilla</option>
          <option value="AQ">Antarctica</option>
          <option value="AG">Antigua and Barbuda</option>
          <option value="AR">Argentina</option>
          <option value="AM">Armenia</option>
          <option value="AW">Aruba</option>
          <option value="AU">Australia</option>
          <option value="AT">Austria</option>
          <option value="AZ">Azerbaijan</option>
          <option value="BS">Bahamas</option>
          <option value="BH">Bahrain</option>
          <option value="BD">Bangladesh</option>
          <option value="BB">Barbados</option>
          <option value="BY">Belarus</option>
          <option value="BE">Belgium</option>
          <option value="BZ">Belize</option>
          <option value="BJ">Benin</option>
          <option value="BM">Bermuda</option>
          <option value="BT">Bhutan</option>
          <option value="BO">Bolivia (Plurinational State of)</option>
          <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
          <option value="BA">Bosnia and Herzegovina</option>
          <option value="BW">Botswana</option>
          <option value="BV">Bouvet Island</option>
          <option value="BR">Brazil</option>
          <option value="IO">British Indian Ocean Territory</option>
          <option value="BN">Brunei Darussalam</option>
          <option value="BG">Bulgaria</option>
          <option value="BF">Burkina Faso</option>
          <option value="BI">Burundi</option>
          <option value="KH">Cambodia</option>
          <option value="CM">Cameroon</option>
          <option value="CA">Canada</option>
          <option value="CV">Cabo Verde</option>
          <option value="KY">Cayman Islands</option>
          <option value="CF">Central African Republic</option>
          <option value="TD">Chad</option>
          <option value="CL">Chile</option>
          <option value="CN">China</option>
          <option value="CX">Christmas Island</option>
          <option value="CC">Cocos (Keeling) Islands</option>
          <option value="CO">Colombia</option>
          <option value="KM">Comoros</option>
          <option value="CG">Congo</option>
          <option value="CD">Congo (Democratic Republic of the)</option>
          <option value="CK">Cook Islands</option>
          <option value="CR">Costa Rica</option>
          <option value="CI">Côte d'Ivoire</option>
          <option value="HR">Croatia</option>
          <option value="CU">Cuba</option>
          <option value="CW">Curaçao</option>
          <option value="CY">Cyprus</option>
          <option value="CZ">Czech Republic</option>
          <option value="DK">Denmark</option>
          <option value="DJ">Djibouti</option>
          <option value="DM">Dominica</option>
          <option value="DO">Dominican Republic</option>
          <option value="EC">Ecuador</option>
          <option value="EG">Egypt</option>
          <option value="SV">El Salvador</option>
          <option value="GQ">Equatorial Guinea</option>
          <option value="ER">Eritrea</option>
          <option value="EE">Estonia</option>
          <option value="ET">Ethiopia</option>
          <option value="FK">Falkland Islands (Malvinas)</option>
          <option value="FO">Faroe Islands</option>
          <option value="FJ">Fiji</option>
          <option value="FI">Finland</option>
          <option value="FR">France</option>
          <option value="GF">French Guiana</option>
          <option value="PF">French Polynesia</option>
          <option value="TF">French Southern Territories</option>
          <option value="GA">Gabon</option>
          <option value="GM">Gambia</option>
          <option value="GE">Georgia</option>
          <option value="DE">Germany</option>
          <option value="GH">Ghana</option>
          <option value="GI">Gibraltar</option>
          <option value="GR">Greece</option>
          <option value="GL">Greenland</option>
          <option value="GD">Grenada</option>
          <option value="GP">Guadeloupe</option>
          <option value="GU">Guam</option>
          <option value="GT">Guatemala</option>
          <option value="GG">Guernsey</option>
          <option value="GN">Guinea</option>
          <option value="GW">Guinea-Bissau</option>
          <option value="GY">Guyana</option>
          <option value="HT">Haiti</option>
          <option value="HM">Heard Island and McDonald Islands</option>
          <option value="VA">Holy See</option>
          <option value="HN">Honduras</option>
          <option value="HK">Hong Kong</option>
          <option value="HU">Hungary</option>
          <option value="IS">Iceland</option>
          <option value="IN">India</option>
          <option value="ID">Indonesia</option>
          <option value="IR">Iran (Islamic Republic of)</option>
          <option value="IQ">Iraq</option>
          <option value="IE">Ireland</option>
          <option value="IM">Isle of Man</option>
          <option value="IL">Israel</option>
          <option value="IT">Italy</option>
          <option value="JM">Jamaica</option>
          <option value="JP">Japan</option>
          <option value="JE">Jersey</option>
          <option value="JO">Jordan</option>
          <option value="KZ">Kazakhstan</option>
          <option value="KE">Kenya</option>
          <option value="KI">Kiribati</option>
          <option value="KP">Korea (Democratic People's Republic of)</option>
          <option value="KR">Korea (Republic of)</option>
          <option value="KW">Kuwait</option>
          <option value="KG">Kyrgyzstan</option>
          <option value="LA">Lao People's Democratic Republic</option>
          <option value="LV">Latvia</option>
          <option value="LB">Lebanon</option>
          <option value="LS">Lesotho</option>
          <option value="LR">Liberia</option>
          <option value="LY">Libya</option>
          <option value="LI">Liechtenstein</option>
          <option value="LT">Lithuania</option>
          <option value="LU">Luxembourg</option>
          <option value="MO">Macao</option>
          <option value="MK">Macedonia (the former Yugoslav Republic of)</option>
          <option value="MG">Madagascar</option>
          <option value="MW">Malawi</option>
          <option value="MY">Malaysia</option>
          <option value="MV">Maldives</option>
          <option value="ML">Mali</option>
          <option value="MT">Malta</option>
          <option value="MH">Marshall Islands</option>
          <option value="MQ">Martinique</option>
          <option value="MR">Mauritania</option>
          <option value="MU">Mauritius</option>
          <option value="YT">Mayotte</option>
          <option value="MX">Mexico</option>
          <option value="FM">Micronesia (Federated States of)</option>
          <option value="MD">Moldova (Republic of)</option>
          <option value="MC">Monaco</option>
          <option value="MN">Mongolia</option>
          <option value="ME">Montenegro</option>
          <option value="MS">Montserrat</option>
          <option value="MA">Morocco</option>
          <option value="MZ">Mozambique</option>
          <option value="MM">Myanmar</option>
          <option value="NA">Namibia</option>
          <option value="NR">Nauru</option>
          <option value="NP">Nepal</option>
          <option value="NL">Netherlands</option>
          <option value="NC">New Caledonia</option>
          <option value="NZ">New Zealand</option>
          <option value="NI">Nicaragua</option>
          <option value="NE">Niger</option>
          <option value="NG">Nigeria</option>
          <option value="NU">Niue</option>
          <option value="NF">Norfolk Island</option>
          <option value="MP">Northern Mariana Islands</option>
          <option value="NO">Norway</option>
          <option value="OM">Oman</option>
          <option value="PK">Pakistan</option>
          <option value="PW">Palau</option>
          <option value="PS">Palestine, State of</option>
          <option value="PA">Panama</option>
          <option value="PG">Papua New Guinea</option>
          <option value="PY">Paraguay</option>
          <option value="PE">Peru</option>
          <option value="PH">Philippines</option>
          <option value="PN">Pitcairn</option>
          <option value="PL">Poland</option>
          <option value="PT">Portugal</option>
          <option value="PR">Puerto Rico</option>
          <option value="QA">Qatar</option>
          <option value="RE">Réunion</option>
          <option value="RO">Romania</option>
          <option value="RU">Russian Federation</option>
          <option value="RW">Rwanda</option>
          <option value="BL">Saint Barthélemy</option>
          <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
          <option value="KN">Saint Kitts and Nevis</option>
          <option value="LC">Saint Lucia</option>
          <option value="MF">Saint Martin (French part)</option>
          <option value="PM">Saint Pierre and Miquelon</option>
          <option value="VC">Saint Vincent and the Grenadines</option>
          <option value="WS">Samoa</option>
          <option value="SM">San Marino</option>
          <option value="ST">Sao Tome and Principe</option>
          <option value="SA">Saudi Arabia</option>
          <option value="SN">Senegal</option>
          <option value="RS">Serbia</option>
          <option value="SC">Seychelles</option>
          <option value="SL">Sierra Leone</option>
          <option value="SG">Singapore</option>
          <option value="SX">Sint Maarten (Dutch part)</option>
          <option value="SK">Slovakia</option>
          <option value="SI">Slovenia</option>
          <option value="SB">Solomon Islands</option>
          <option value="SO">Somalia</option>
          <option value="ZA">South Africa</option>
          <option value="GS">South Georgia and the South Sandwich Islands</option>
          <option value="SS">South Sudan</option>
          <option value="ES">Spain</option>
          <option value="LK">Sri Lanka</option>
          <option value="SD">Sudan</option>
          <option value="SR">Suriname</option>
          <option value="SJ">Svalbard and Jan Mayen</option>
          <option value="SZ">Swaziland</option>
          <option value="SE">Sweden</option>
          <option value="CH">Switzerland</option>
          <option value="SY">Syrian Arab Republic</option>
          <option value="TW">Taiwan</option>
          <option value="TJ">Tajikistan</option>
          <option value="TZ">Tanzania, United Republic of</option>
          <option value="TH">Thailand</option>
          <option value="TL">Timor-Leste</option>
          <option value="TG">Togo</option>
          <option value="TK">Tokelau</option>
          <option value="TO">Tonga</option>
          <option value="TT">Trinidad and Tobago</option>
          <option value="TN">Tunisia</option>
          <option value="TR">Turkey</option>
          <option value="TM">Turkmenistan</option>
          <option value="TC">Turks and Caicos Islands</option>
          <option value="TV">Tuvalu</option>
          <option value="UG">Uganda</option>
          <option value="UA">Ukraine</option>
          <option value="AE">United Arab Emirates</option>
          <option value="GB">United Kingdom</option>
          <option value="US">United States of America</option>
          <option value="UM">United States Minor Outlying Islands</option>
          <option value="UY">Uruguay</option>
          <option value="UZ">Uzbekistan</option>
          <option value="VU">Vanuatu</option>
          <option value="VE">Venezuela (Bolivarian Republic of)</option>
          <option value="VN">Viet Nam</option>
          <option value="VG">Virgin Islands (British)</option>
          <option value="VI">Virgin Islands (U.S.)</option>
          <option value="WF">Wallis and Futuna</option>
          <option value="EH">Western Sahara</option>
          <option value="YE">Yemen</option>
          <option value="ZM">Zambia</option>
          <option value="ZW">Zimbabwe</option>
        </select>
      </div>
      <div class="col-3">
        <form class="p-search-box">
          <input class="p-search-box__input p-find-a-partner__search-input" name="search" id="search" placeholder="Search" required="" type="search">
          <button type="reset" class="p-search-box__reset u-no-margin--right" alt="reset"><i class="p-icon--close"></i></button>
          <button type="submit" class="p-search-box__button" alt="search"><i class="p-icon--search"></i></button>
        </form>
      </div>
      <div class="col-3">
        <button type="button" class="p-button--accordion p-heading--four" id="tab1" role="tab" aria-controls="#tab-section" aria-expanded="false">Filters</button>  
      </div>
    </div>
    <div class="row p-accordion-panel" id="tab-section" role="tabpanel" aria-hidden="true" aria-labelledby="tab-section">
      <div class="col-4">
        <p class="p-heading--four">Technology</p>
        <hr/>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="technology-cloudserver" id="technology-cloudserver">
          <label for="technology-cloudserver">Cloud/server</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="technology-personal-computingdevices" id="technology-personal-computingdevices">
          <label for="technology-personal-computingdevices">Personal computing/devices</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="technology-robotics" id="technology-robotics">
          <label for="technology-robotics">Robotics</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="technology-edge-gateway" id="technology-edge-gateway">
          <label for="technology-edge-gateway">Edge Gateway</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="technology-containers" id="technology-containers">
          <label for="technology-containers">Containers</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="technology-aiml" id="technology-aiml">
          <label for="technology-aiml">AI/ML</label>
        </p>
      </div>
      <div class="col-4">
        <p class="p-heading--four">Programme</p>
        <hr/>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="programme-certified-public-cloud" id="programme-certified-public-cloud">
          <label for="programme-certified-public-cloud">Certified Public Cloud</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="programme-retailer" id="programme-retailer">
          <label for="programme-retailer">Retailer</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="programme-charm-partner-programme" id="programme-charm-partner-programme">
          <label for="programme-charm-partner-programme">Charm Partner Programme</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="programme-other" id="programme-other">
          <label for="programme-other">Other</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="programme-internet-of-things" id="programme-internet-of-things">
          <label for="programme-internet-of-things">Internet of Things</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="programme-desktop" id="programme-desktop">
          <label for="programme-desktop">Desktop</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="programme-channel" id="programme-channel">
          <label for="programme-channel">Channel</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="programme-bootstack" id="programme-bootstack">
          <label for="programme-bootstack">BootStack</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="programme-technical-partner-programme" id="programme-technical-partner-programme">
          <label for="programme-technical-partner-programme">Technical Partner Programme</label>
        </p>
      </div>
      <div class="col-4">
        <p class="p-heading--four">Services offered</p>
        <hr/>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="service-offered-softwarecontent-publisher" id="service-offered-softwarecontent-publisher">
          <label for="service-offered-softwarecontent-publisher">Software/content publisher</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="service-offered-infrastructure-provider" id="service-offered-infrastructure-provider">
          <label for="service-offered-infrastructure-provider">Infrastructure provider</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="service-offered-system-integratorconsultant" id="service-offered-system-integratorconsultant">
          <label for="service-offered-system-integratorconsultant">System integrator/consultant</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="service-offered-network-operator" id="service-offered-network-operator">
          <label for="service-offered-network-operator">Network operator</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="service-offered-hardware-manufacturer" id="service-offered-hardware-manufacturer">
          <label for="service-offered-hardware-manufacturer">Hardware manufacturer</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="service-offered-big-data" id="service-offered-big-data">
          <label for="service-offered-big-data">Big data</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="service-offered-channel" id="service-offered-channel">
          <label for="service-offered-channel">Channel</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="service-offered-hosting-provider" id="service-offered-hosting-provider">
          <label for="service-offered-hosting-provider">Hosting provider</label>
        </p>
        <p>
          <input type="checkbox" class="p-find-a-partner__filter" name="service-offered-hpc" id="service-offered-hpc">
          <label for="service-offered-hpc">HPC</label>
        </p>
      </div>
    </div>
  </section>
  <section class="p-strip is-shallow u-extra-space">
    <div class="row">
      <div class="col-4">
        <div class="p-card">
          <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/4b19ff01-1-Net+Gradient+Logo.jpg" alt="header image">
          <p><a href="http://1-net.com.sg/" class="p-link--external">1-Net</a></p>
          <p class="p-card__content">As a pioneer in broadband development in Singapore, 1-Net currently manages telco-class carrier-neutral internet data centers, along with providing domestic and international connectivity, managed services and media delivery services. 1-Net offers superior stability, secure delivery and service experience through its services. 1-Net's Alchemy IaaS environments are built on the philosophy that high-performance, robust and secure infrastructure are not the product of expensive hardware or complex branded software but rather, an intelligent approach to the architectural design and software selection. Lateral thinking is at the core of its design.</p>
        </div>
      </div>
      <div class="col-4">
        <div class="p-card">
          <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/ded31a04-10Duke.jpg" alt="header image">
          <p><a href="http://developer.10duke.com/" class="p-link--external">10Duke</a></p>
          <p class="p-card__content">10Duke provides a set of composable services, delivered as RESTful APIs, that allow developers to extend the core capabilities of their online application quickly and easily. 10Duke APIs provide Enterprise customers with the means to create new online applications from scratch or enhance existing applications with advanced functionality delivered from the cloud. Our APIs include File+, a file management and file conversion API, an Identity Provider for single sign on and federated identity management and an Entitlement API for defining and executing access policies across devices, people, companies, groups, and applications.</p>
        </div>
      </div>
      <div class="col-4">
        <div class="p-card">
          <img class="p-card__thumbnail" src="https://assets.ubuntu.com/sites/ubuntu/1336/u/img/partners/partner-logo-2lemetry.png" alt="header image">
          <p><a href="http://2lemetry.com/" class="p-link--external">2lemetry</a></p>
          <p class="p-card__content">2lemetry is an Internet of Things platform and technology company, and the only provider to specialize in a software-based approach with an open enablement platform. They provide the only open enablement platform that transforms IoT data for enterprise applications. 2lemetry powers the connected enterprise, tying people, processes, data and devices together — transforming raw data into real-time actionable intelligence.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="p-card">
          <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/020db80a-seven-logo.png" alt="header image">
          <p><a href="http://1-net.com.sg/" class="p-link--external">7iSolutions</a></p>
          <p class="p-card__content">​​​7iSolutions is a Swiss company that​ offers​ innovative business solutions and technologies to corporate customers. 7iSolutions focuses on open-source​, internet technologies and provides​ ​"SiouxApp". "SiouxApp" are cutting edge, synced, open-source business applications that are pre-configured towards business-use, are easy to manage and have on-demand services.​</p>
        </div>
      </div>
      <div class="col-4">
        <div class="p-card">
          <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/ef92a823-Cisco_logo.png" alt="header image">
          <p><a href="http://developer.10duke.com/" class="p-link--external">Cisco</a></p>
          <p class="p-card__content">Cisco’s Unified Data Center architecture can simplify and accelerate the deployment of scalable cloud solutions. Canonical and Cisco work closely together to ensure the compatibility of Cisco’s products and technologies with Ubuntu Server and Ubuntu OpenStack distributions.</p>
        </div>
      </div>
      <div class="col-4">
        <div class="p-card">
          <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/69c2fae2-CityNetwork-Logo-Regular-2015-RGB.png" alt="header image">
          <p><a href="http://2lemetry.com/" class="p-link--external">City Network</a></p>
          <p class="p-card__content">Built on OpenStack, City Cloud is a flexible and scalable IaaS that provide intuitive cloud management, secure servers, storage and global private networks. Leveraging all the benefits of open source, including open APIs and no vendor lock-in, City Cloud provides you with a cost effective and easy to use, high performance infrastructure across the globe.</p>
        </div>
      </div>
    </div>
  </section>

  <style>
    .p-strip--suru-top {
      background-image:
      linear-gradient(to bottom right, rgba(210,180,202,0.05) 0%, rgba(210,180,202,0.05) 49.9%, rgba(210,180,202,0) 50%, rgba(210,180,202,0) 100%),
      linear-gradient(to top right, rgba(74,24,60,0) 0%, rgba(74,24,60,0) 49.9%, rgba(74,24,60,0.34) 50%, rgba(74,24,60,0.34) 100%),
      linear-gradient(to top left, #f7f7f7 0%, #f7f7f7 49%, transparent 50%),
      linear-gradient(230deg, #E95420 0%, #772953 33%, #2C001E 72%);
      background-position: left top, right top, right bottom;
      background-repeat: no-repeat;
      background-size: 70% 80%, 70% 100%, 110% 20%, 100% 100%;
      padding-bottom: 6rem;
      padding-top: 6rem;
    }

    @media (max-width: 620px) {
      .p-strip--suru-top {
        background-image:
          linear-gradient(to top right, rgba(74,24,60,0) 0%, rgba(74,24,60,0) 49.9%, rgba(74, 24, 60, 0.4) 50%, rgba(74, 24, 60, 0.4) 100%),
          linear-gradient(to top left, #f7f7f7 0%, #f7f7f7 49%, transparent 50%),
          linear-gradient(to bottom right, rgba(210,180,202,0.05) 0%, rgba(210,180,202,0.05) 49.9%, rgba(210,180,202,0) 50%, rgba(210,180,202,0) 100%),
          linear-gradient(120deg, #2C001E  4%,  #4C193E 100%);
        background-position: right top, bottom right, top left, top left, center right;
        background-repeat: no-repeat;
        background-size: 100% 100%, 105% 25%, 70% 80%, 100% 100%;
      }
    }
  </style>

  <script>
    function displayFilters () {
      const toggle = (element, show) => {
        element.setAttribute('aria-expanded', show);
        document
          .querySelector(element.getAttribute('aria-controls'))
          .setAttribute('aria-hidden', !show);
      }
      document
        .querySelector(".p-button--accordion")
        .addEventListener('click', e => {
          const target = e.target;
          const isTargetOpen = target.getAttribute('aria-expanded') === 'true';
          toggle(target, !isTargetOpen);
      });
    }
    displayFilters ();
  </script>
{% endblock %}
