{% extends 'base_index.html' %}

{% block content %}
<section class="p-strip--suru-partners">
  <div class="u-fixed-width">
    <h1>Canonical partner programmes</h1>
    <p>
      At Canonical, we provide the services our partners need to ensure their hardware and software works optimally with the Ubuntu platform. This means working with technology leaders large and small, to provide the software, services, support and certification they need to complement their core competencies. For technology customers, this has created a thriving market of suppliers with Ubuntu expertise.
    </p>
  </div>
</section>
<section class="p-strip--light is-shallow" style="margin-top: -1px;">
  <div class="row">
    <div class="col-8 u-vertically-center">
      <p>Are you an existing partner? <a href="https://partner-portal.canonical.com">Login to the partner portal</a></p>
    </div>
  </div>
</section>
<section class="p-strip is-deep">
  <div class="row" style="grid-gap: 0.5rem 2rem;">
    <div class="col-4 col-medium-3">
      <div class="p-media-object--strip">
        <img src="https://assets.ubuntu.com/v1/0e94b67f-Cloud.svg" alt="image for cloud" class="p-media-object__image">
        <div class="p-media-object__details">
          <h1 class="p-media-object__title"><a href="/partners/public-cloud">Public Cloud&nbsp;&rsaquo;</a></h1>
          <p class="p-media-object__content">Ubuntu on clouds is optimised, tested and certified by Canonical for performance and security</p>
        </div>
      </div>
    </div>
    <div class="col-4 col-medium-3">
      <div class="p-media-object--strip">
        <img src="https://assets.ubuntu.com/v1/55587253-Server.svg" alt="image for ihv/oem" class="p-media-object__image">
        <div class="p-media-object__details">
          <h1 class="p-media-object__title"><a href="/partners/ihv-and-oem">IHV/OEM&nbsp;&rsaquo;</a></h1>
          <p class="p-media-object__content">Certified hardware for efficient data centers from the large-scale core to distributed edge</p>
        </div>
      </div>
    </div>
    <div class="col-4 col-medium-3">
      <div class="p-media-object--strip">
        <img src="https://assets.ubuntu.com/v1/63dbd58d-Desktop.svg" alt="image for server" class="p-media-object__image">
        <div class="p-media-object__details">
          <h1 class="p-media-object__title"><a href="/partners/desktop">Desktop&nbsp;&rsaquo;</a></h1>
          <p class="p-media-object__content">Pre-installed and certified Ubuntu on desktops, laptops and workstations</p>
        </div>
      </div>
    </div>
    <div class="col-4 col-medium-3">
      <div class="p-media-object--strip">
        <img src="https://assets.ubuntu.com/v1/b77d6733-Resellers.svg" alt="image for resellers" class="p-media-object__image">
        <div class="p-media-object__details">
          <h1 class="p-media-object__title"><a href="/partners/channel-and-reseller">Channel&sol;Reseller&nbsp;&rsaquo;</a></h1>
          <p class="p-media-object__content">Channel partners ensure that local Ubuntu expertise is available on every continent</p>
        </div>
      </div>
    </div>
    <div class="col-4 col-medium-3">
      <div class="p-media-object--strip">
        <img src="https://assets.ubuntu.com/v1/4ef8b431-Devices+%26+IoT.svg" alt="image for iot" class="p-media-object__image">
        <div class="p-media-object__details">
          <h1 class="p-media-object__title"><a href="/partners/iot-device">IoT Device&nbsp;&rsaquo;</a></h1>
          <p class="p-media-object__content">ODM, factory, integration and device management partners get your device to market faster</p>
        </div>
      </div>
    </div>
    <div class="col-4 col-medium-3">
      <div class="p-media-object--strip">
        <img src="https://assets.ubuntu.com/v1/d3b11ee3-System+Integrators.svg" alt="image for system integratos" class="p-media-object__image">
        <div class="p-media-object__details">
          <h1 class="p-media-object__title"><a href="/partners/gsi">Global System Integrators&nbsp;&rsaquo;</a></h1>
          <p class="p-media-object__content">Deliver solutions on Ubuntu to drive down costs and accelerate the adoption of open source</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'partial/_partners-footer.html' %}

{% endblock %}
