{% extends 'base_index.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1qWWpFbwZykjAIt-Kf6iFCXPCnmmuKBbU5mzvILnO-q0/{% endblock %}

{% block title %}ISV Embedding Programme{% endblock %}

{% block meta_description %}Ubuntu is the most popular guest OS on both public and private clouds, thanks to its security, versatility and continually updated features.{% endblock %}

{% block body_class %}is-paper{% endblock body_class %}

{% block content %}

{% with parent_name="Partners", parent_href="/partners", title="ISV Embedding programme" %}
  {% include '/partial/_breadcrumbs.html' %}
{% endwith %}

<section class="p-section">
  <div class="row--50-50">
    <div class="col">
      <h1>ISV Embedding<br class="u-hide--small"> Programme</h1>
    </div>
    <div class="col">
      <div class="p-block">
        <p>From Ubuntu Server to containers, Canonical's portfolio is used by independent software vendors (ISVs) around the world to power SaaS, appliances and software solutions deployed within public clouds, data centres, edge infrastructure and workstations. Our ISV Embedding programme offers the optimal technical, commercial and legal framework to enjoy cost-effective support across the lifecycle of your product.</p>
      </div>
      <a href="/partners/become-a-partner" class="p-button--positive">Become a partner</a>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="u-fixed-width p-section">
    <hr class="p-rule"/>
    <h2>Benefits of the ISV Embedding programme</h2>
  </div>
  <div class="row">
    <div class="col-start-large-4 col-9 col-medium-6">
      <hr class="p-rule"/>
      <div class="row">
        <div class="col-3 col-medium-3">
          <h3 class="p-heading--5">Programmme entitlements</h3>
        </div>
        <div class="col-6 col-medium-3">
          <ul class="p-list--divided">
            <li class="p-list__item is-ticked">Direct L3 engineering support for your engineering team</li>
            <li class="p-list__item is-ticked">You support your end -customers</li>
            <li class="p-list__item is-ticked">Security patches for up to 10 years with <a href="https://ubuntu.com/pro">Ubuntu Pro</a></li>
            <li class="p-list__item is-ticked">Trademark, modification and redistribution rights</li>
            <li class="p-list__item is-ticked">Be featured as a partner on the Canonical website, including the ability to use our trademarks and logos</li>
            <li class="p-list__item is-ticked">Joint marketing: blogs, webinars and PR</li>
          </ul>
        </div>
      </div>
      <hr class="p-rule"/>
      <div class="row">
        <div class="col-3 col-medium-3">
          <h3 class="p-heading--5">Custom image builds</h3>
        </div>
        <div class="col-6 col-medium-3">
          <ul class="p-list--divided">
            <li class="p-list__item is-ticked">Canonical-created images tailored for your performance, platform, compliance and governance requirements</li>
            <li class="p-list__item is-ticked">Design workshop </li>
            <li class="p-list__item is-ticked">Ongoing image maintenance and delivery for easy CI pipeline ingestion </li>
          </ul>
        </div>
      </div>
      <hr class="p-rule"/>
      <div class="row">
        <div class="col-3 col-medium-3">
          <h3 class="p-heading--5">Dedicated partner team</h3>
        </div>
        <div class="col-6 col-medium-3">
          <ul class="p-list--divided">
            <li class="p-list__item is-ticked">Named resources within Canonical for GTM, technical training and marketing</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% include '/partners/partial/_footer.html' %}

{% endblock %}