<div 
  tabindex="0"
  role="tabpanel"
  id="operators-tab"
  aria-labelledby="operators"
  aria-hidden="true"
>
  <div class="row">
    <div class="col">
      <h3 class="p-heading--5">Lifecycle management on all clouds</h3>
      <p>Our software operators enable you to use a single codebase to automate the lifecycle management of your data applications across public clouds, Kubernetes, virtual (VM) and bare metal machines. This includes supporting services like observability, identity, secrets, and more.</p>
      <p>This is possible thanks to Juju and charms. Juju is an open source orchestration engine that enables the deployment, integration, and lifecycle management of applications at any scale, on any infrastructure. A charm is an operator – business logic encapsulated in reusable software packages that automate every aspect of an application's life.</p>
      <div class="p-section--shallow u-hide--medium">
        <div class="p-image-container is-highlighted">
          {{ image(url="https://assets.ubuntu.com/v1/d6f43b07-software_operators.png",
            alt="Operators",
            width="1800",
            height="1013",
            hi_def=True,
            loading="lazy") | safe
          }}       
        </div>
      </div>
    </div>
    <div class="tabs-cta">
      <a href="https://canonical.com/juju">Learn more about Charms&nbsp;&rsaquo;</a>
    </div>
  </div>
</div>