<div tabindex="0"
  role="tabpanel"
     id="snaps-tab"
     aria-labelledby="snaps"
     aria-hidden="true">
    <div class="row">
      <div class="col">
        <h3 class="p-heading--5">Self-contained, sandboxed applications</h3>
        <p>Where applicable, we deliver supported data applications as snaps – a type of application package that bundles the application itself, along with all its libraries and dependencies, into a single compressed file.</p>
        <p>This allows for rigorous confinement, meaning that every stage of the application installation and operation can be kept secure.</p>
      <div class="p-section--shallow">
      <div class="p-image-container is-highlighted">
        {{ image(url="https://assets.ubuntu.com/v1/69998913-snaps.png",
            alt="Snaps",
            width="1800",
            height="1013",
            hi_def=True,
            loading="lazy") | safe
        }}
      </div>
      </div>
      <div class="tabs-cta">
          <a href="#" aria-label="Learn more about Snaps">Learn more about Snaps&nbsp;&rsaquo;</a>
      </div>
    </div>
</div>
</div>