{% extends 'base_index.html' %}

{% block meta_copydoc %}
https://docs.google.com/document/d/10YAubAK42OWeaAXY2Ib9OE1q65xyP741R4bnnAA9GCk/edit
{% endblock meta_copydoc %}

{% block title %}Managed PostgreSQL services by Canonical{% endblock %}

{% block meta_description %}
Learn about Canonical’s managed services for PostgreSQL, the world's most acclaimed open source database management system.
{% endblock %}

{% block body_class %}
   is-paper
{% endblock body_class %}

{% block content %}
<section class="p-section--hero">
  <div class="row--25-75-on-large">
    <div class="col">
      {{ image (
        url="https://assets.ubuntu.com/v1/7d2b9eac-postgresql%20logo%20for%20hero.png",
        alt="PostgreSQL",
        width="59",
        height="72",
        hi_def=True,
        loading="auto",
        attrs={"class": "PostgreSQL logo"}
      ) | safe }}
    </div>
    <div class="col">
      <div class="p-section--shallow">
        <h1>Managed PostgreSQL by Canonical</h1>
        <p>Help your teams by offloading the operational tasks of some or all of your PostgreSQL fleet to our specialized operations staff. Get automation, enterprise-grade security, high availability, scalability, monitoring, and support from the trusted open source experts.</p>
      </div>
      <hr class="p-rule--muted" />
      <a class="p-button--positive" aria-controls="data-relational-dbs-modal" href="/data/postgresql#get-in-touch">Contact us</a>
      <a href="https://assets.ubuntu.com/v1/ee2ab4fd-PostgreSQL%20datasheet.pdf">Download the datasheet&nbsp;&rsaquo;</a>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50">
    <hr class="p-rule" />
    <div class="col">
      <h2>Managed PostgreSQL<br />on your cloud</h2>
    </div>
    <div class="col">
      <p>When you use Canonical’s managed PostgreSQL, you benefit from optimized configurations for all the supported clouds. We can offer managed PostgreSQL on Azure, AWS and Google Cloud, whether on top of VMs or on top of their managed Kubernetes offerings. We can also operate PostgreSQL in your private data center on top of MAAS and MicroCloud, Kubernetes, OpenStack or VMWare.</p>
    </div>
    <div class="p-logo-section">
      <div class="p-logo-section__items">
        <div class="p-logo-section__item">     
          {{ image (
            url="https://assets.ubuntu.com/v1/e4641de7-kubernetes-logomark-logo.png",
            alt="Kubernetes",
            width="493",
            height="313",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
          ) | safe }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/99184980-aws-logo.png",
            alt="AWS",
            width="152",
            height="313",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
          ) | safe }}
        </div>
        <div class="p-logo-section__item">
          {{ image(url="https://assets.ubuntu.com/v1/36a0cd3b-microsoft-azure-2021.png",
            alt="Microsoft Azure",
            width="156",
            height="512",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
          ) | safe }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/86a3c99e-google-cloud-logo.png",
            alt="Google Cloud",
            width="485",
            height="313",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
          ) | safe }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/4e2a69b2-Canonical%20MAAS.png",
            alt="MAAS",
            width="218",
            height="313",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
          ) | safe }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/fd39596e-Canonical%20LXD.png",
            alt="MicroCloud",
            width="338",
            height="313",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
          ) | safe }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/04077283-openstack-logo.png",
            alt="OpenStack",
            width="414",
            height="313",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
          ) | safe }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/7d54b32d-vmware-logo.png",
            alt="VMWare",
            width="313",
            height="313",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50">
    <hr class="p-rule" />
    <div class="col">
      <h2>Why choose Canonical’s<br />Managed PostgreSQL</h2>
    </div>
    <div class="col">
      <div class="p-section--shallow">
        <div class="p-image-container--16-9 is-highlighted u-hide--small">
          {{ image (
            url="https://assets.ubuntu.com/v1/71246fc2-Artboard%20130@2x%201.png",
            alt="",
            width="392",
            height="338",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-image-container__image"},
          ) | safe }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-start-large-4 col-9 col-medium-6">
      <hr class="p-rule--muted" />
      <div class="row">
        <div class="col-3 col-medium-3">
          <h3 class="p-heading--5">Streamlined operations</h3>
        </div>
        <div class="col-6 col-medium-3">
          <p>We can take care of deploying, patching, migrating, optimizing, hardening and monitoring your PostgreSQL clusters.</p>
        </div>
      </div>
      <hr class="p-rule--muted" />
      <div class="row">
        <div class="col-3 col-medium-3">
          <h3 class="p-heading--5">Highly available</h3>
        </div>
        <div class="col-6 col-medium-3">
          <p>We provide uptime guarantees backed by an SLA for peace of mind. Our expertise on the full stack from the kernel up to the application underpins our SLA commitments.</p>
        </div>
      </div>
      <hr class="p-rule--muted" />
      <div class="row">
        <div class="col-3 col-medium-3">
          <h3 class="p-heading--5">Reliable</h3>
        </div>
        <div class="col-6 col-medium-3">
          <p>Our managed service relies on the same automation that we use to run our own PostgreSQL deployments that we have been running for years.</p>
        </div>
      </div>
      <hr class="p-rule--muted" />
      <div class="row">
        <div class="col-3 col-medium-3">
          <h3 class="p-heading--5">Secure and compliant</h3>
        </div>
        <div class="col-6 col-medium-3">
          <p>Our operations are certified, with regular independent audits for your assurance.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50">
    <hr class="p-rule" />
    <div class="col">
      <h2>Our process</h2>
    </div>
    <div class="col">
      <p>Our Managed PostgreSQL process is easy and intuitive:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-start-large-4 col-9 col-medium-6">
      <hr class="p-rule--muted" />
      <div class="row">
        <div class="col-3 col-medium-3">
          <h3 class="p-heading--5">1. Workshop</h3>
        </div>
        <div class="col-6 col-medium-3">
          <p>Our experts will work with you to understand your requirements and to define the design of the PostgreSQL deployments to meet your needs.</p> 
          <div style="margin-bottom: 1rem;">
            {{ image (
              url="https://assets.ubuntu.com/v1/58870d63-3+design_AW.png",
              alt="",
              width="141",
              height="84",
              hi_def=True,
              loading="lazy"
            ) | safe }}
          </div>
        </div>
      </div>
      <hr class="p-rule--muted" />
      <div class="row">
        <div class="col-3 col-medium-3">
          <h3 class="p-heading--5">2. Deployment</h3>
        </div>
        <div class="col-6 col-medium-3">
          <p>We will deploy the agreed PostgreSQL clusters according to the documented design.</p>
          <div style="margin-bottom: 1rem;">
            {{ image (
              url="https://assets.ubuntu.com/v1/42543f6f-deploy+fast.png",
              alt="",
              width="141",
              height="84",
              hi_def=True,
              loading="lazy"
            ) | safe }}
          </div>
        </div>
      </div>
      <hr class="p-rule--muted" />
      <div class="row">
        <div class="col-3 col-medium-3">
          <h3 class="p-heading--5">3. Management</h3>
        </div>
        <div class="col-6 col-medium-3">
          <p>Our team manages all your ‘day 2’ operations, from observability to upgrades. We handle all issues, and consistently reinforce the security of your environment.</p>
          <div style="margin-bottom: 1rem;">
            {{ image (
              url="https://assets.ubuntu.com/v1/dcc78a46-one+platform.png",
              alt="",
              width="141",
              height="84",
              hi_def=True,
              loading="lazy"
            ) | safe }}
          </div>
        </div>
      </div>
      <hr class="p-rule--muted" />
      <div class="row">
        <div class="col-3 col-medium-3">
          <h3 class="p-heading--5">4. Optional handover</h3>
        </div>
        <div class="col-6 col-medium-3">
          <p>We’re lock-in free, so if after a while you want to start managing your environments by yourself, we can transfer operational knowledge while providing you with support for high-severity cases.</p>
          {{ image (
            url="https://assets.ubuntu.com/v1/162f87d4-1+discovery_AW.png",
            alt="",
            width="141",
            height="84",
            hi_def=True,
            loading="lazy"
          ) | safe }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50">
    <hr class="p-rule" />
    <div class="col">
      <h2>Key features</h2>
    </div>
    <div class="col">
      <ul class="p-list--divided">
        <li class="p-list__item is-ticked">
          <h3 class="p-heading--5 u-no-padding--top">Backed by an uptime SLA.</h3>
          <p class="u-no-margin--bottom">Your data is the backbone of your business. Canonical ensures that it’s available with a high uptime commitment.</p>
        </li>
        <li class="p-list__item is-ticked">
          <h3 class="p-heading--5 u-no-padding--top">Service delivery with security in mind.</h3>
          <p class="u-no-margin--bottom">Minimize risks. Canonical managed services are routinely audited for conformance to industry standards and legislation like GDPR, ISO:27001 and SOC-2 Type II.</p>
        </li>
        <li class="p-list__item is-ticked">
          <h3 class="p-heading--5 u-no-padding--top">A complete solution, on your cloud tenancy or in your data center.</h3>
          <p class="u-no-margin--bottom">Canonical covers the full project engagement including design, deployment and day to day operations.</p>
        </li>
        <li class="p-list__item is-ticked">
          <h3 class="p-heading--5 u-no-padding--top"><strong>Service health dashboards for full transparency.</strong></h3>
          <p class="u-no-margin--bottom">We provide you with access to the PostgreSQL health dashboards, so that you can verify the health and uptime of your service directly.</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50">
    <hr class="p-rule" />
    <div class="col">
      <h2>Managed PostgreSQL pricing*</h2>
    </div>
    <div class="col">
      <p>A low total cost of ownership. Up to five times lower than public cloud services when fully costed.</p>
      <div class="p-section--shallow">
        <h3 class="p-heading--5">With the above competitive pricing, you benefit from:</h3>
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">Highly automated service delivery with focus for security and efficiency</li>
          <li class="p-list__item is-ticked">Specialized operations staff proactively monitoring and on-call 24/7</li>
          <li class="p-list__item is-ticked">Includes upgrades and security patches</li>
          <li class="p-list__item is-ticked">SLA and compliance commitments</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row--50-50">
    <div class="col">
      <hr class="p-rule--highlight u-no-margin--bottom" / />
      <div class="p-card--overlay u-no-padding--top">
        <div class="row">
          <div class="col-4 col-medium-2 col-small-3">
            <h3 class="u-align-text--left">Managed PostgreSQL on virtual machines</h3>
          </div>
          <div class="col-2 col-medium-1 col-small-1">
            <h3 class="u-align-text--right u-no-margin--bottom">From $3099</h3>
            <p class="u-align-text--right u-text--muted">Per year, per VM</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <hr class="p-rule--highlight u-no-margin--bottom" / />
      <div class="p-card--overlay u-no-padding--top">
        <div class="row">
          <div class="col-4 col-medium-2 col-small-3">
            <h3 class="u-align-text--left">Managed PostgreSQL on virtual machines</h3>
          </div>
          <div class="col-2 col-medium-1 col-small-1">
            <h3 class="u-align-text--right u-no-margin--bottom">From $9470</h3>
            <p class="u-align-text--right u-text--muted">Per year, per node</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-start-large-7">
      <small class="u-text--muted">* Management fee does not include the infrastructure cost.<br />
        All nodes running PostgreSQL primary and replica instances must be covered.<br />
        We can manage your PostgreSQL instances on top of your private cloud infrastructure or using your public cloud tenant.
   </small>
    </div>
  </div>
</section>
<div class="u-fixed-width">
  <hr class="p-rule" />
</div>
<section class="p-strip is-deep">
  <div class="u-fixed-width">
    <h2><a href="https://ubuntu.com/managed">Learn more about Managed Services&nbsp;&rsaquo;</a></h2>
  </div>
</section>
<section class="p-section">
  <div class="row--50-50">
    <hr class="p-rule" />
    <div class="col">
      <h2>PostgreSQL resources</h2>
    </div>
    <div class="col">
      <ul class="p-list--divided">
        <li class="p-list__item">
          <h3 class="p-heading--5 u-no-margin--bottom">
            <a href="https://ubuntu.com/engage/database-cloud-migration">A guide to database cloud migration</a>
          </h3>
          <p>Gain insights on how to succeed in migrating your most valuable assets, your data, to the cloud.</p>
        </li>
        <li class="p-list__item">
          <h3 class="p-heading--5 u-no-margin--bottom">
            <a href="https://ubuntu.com/engage/data-backups">A guide to data backups</a>
          </h3>
          <p>Build a comprehensive backup strategy to meet your requirements in terms of data protection and recovery times.</p>
        </li>
        <li class="p-list__item">
          <h3 class="p-heading--5 u-no-margin--bottom">
            <a href="https://ubuntu.com/engage/postgresql-mysql">PostgreSQL vs MySQL webinar</a>
          </h3>
          <p>Dive into the differences between the two most popular open-source databases and what those differences mean from a performance, operability and community engagement perspective.</p>
        </li>
        <li class="p-list__item">
          <h3 class="p-heading--5 u-no-margin--bottom">
            <a href="https://ubuntu.com/engage/postgres-extensions">How many use cases can you cover with PostgreSQL extensions?</a>
          </h3>
          <p>Examine the use cases you can meet with just PostgreSQL.</p>
        </li>
        <li class="p-list__item">
          <h3 class="p-heading--5 u-no-margin--bottom">
            <a href="https://ubuntu.com/engage/postgresql-replication">A deep dive into PostgreSQL replication and automatic failover techniques</a>
          </h3>
          <p>Delve into advanced techniques for implementing robust replication and automatic failovers in PostgreSQL.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
<div class="u-fixed-width">
  <hr class="p-rule" />
</div>
<section class="p-strip is-deep">
  <div class="u-fixed-width">
    <h2><a href="/data/postgresql/managed#get-in-touch">Discuss your needs with our team&nbsp;&rsaquo;</a></h2>
  </div>
</section>
<section class="p-section--deep">
  <div class="row">
    <hr class="p-rule" />
    <div class="col-6 col-start-large-7">
      <p><small class="u-text--muted">“PostgreSQL” is a trademark or registered trademark of <a href="https://www.postgres.ca/">PGCA</a>. Other trademarks are property of their respective owners. Canonical’s PostgreSQL offerings are not sponsored, endorsed, or affiliated with <a href="https://www.postgres.ca/">PGCA</a>.</small></p>
    </div>
  </div>
</section>

<script defer src="{{ versioned_static('js/modals.js') }}"></script>

{% with %}
  {% set returnURL = "/data/postgresql/managed#success" %}
  {% include "data/_form-data-relational-dbs.html" %}
{% endwith %}

{% endblock %}
