{% extends 'base_index.html' %}

{% block meta_copydoc %}
https://docs.google.com/document/d/1scPktUiI2XRVoYcR4L6qUZ91iZ0upZA-FaqyJN7uMJg/edit
{% endblock meta_copydoc %}

{% block title %}Get support for PostgreSQL, the world's most acclaimed DBMS.{% endblock %}

{% block meta_description %}
Get support for PostgreSQL from Canonical, the experts in open-source. We provide ticket, phone or screen sharing support 24/7 for up to ten years per release track.
{% endblock %}

{% block body_class %}
   is-paper
{% endblock body_class %}

{% block content %}
<section class="p-section--hero">
  <div class="row--25-75-on-large">
    <div class="col">
      <div class="p-section--shallow">
        {{ image(url="https://assets.ubuntu.com/v1/1ff056bf-postgres-logo.png",
                    alt="PostgreSQL logo",
                    width="852",
                    height="216",
                    hi_def=True,
                    loading="auto") | safe
        }}
      </div>
    </div>
    <div class="col">
      <div class="p-section--shallow">
        <h1>
          Comprehensive PostgreSQL support,<br />
          from open source experts
        </h1>
        <p>
          Our SLA-backed support options range from security maintenance for
          your debs, snaps and containers up to managed PostgreSQL on your
          private infrastructure or your cloud tenants.
        </p>
        <p>
          Our support goes beyond the PostgreSQL server to cover the extensions
          and tools you typically install with PostgreSQL, such as timescale and
          pgbackrest.
        </p>
      </div>
      <div class="p-cta-block u-no-padding--bottom">
        <a
          class="p-button--positive"
          aria-controls="data-relational-dbs-modal"
          href="/data/postgresql#get-in-touch"
        >
          Contact us
        </a>
        <a href="https://assets.ubuntu.com/v1/ee2ab4fd-PostgreSQL%20datasheet.pdf">
          Download the datasheet&nbsp;&rsaquo;
        </a>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--25-75">
    <hr class="p-rule" />
    <div class="col">
      <h2 class="p-text--small-caps">
        Why choose Canonical<br />for PostgreSQL support
      </h2>
    </div>
    <div class="col">
      <ul class="p-list--divided">
        <li class="p-list__item u-no-padding">
          <p class="p-heading--2">
            Up to 10 years of support and security maintenance
          </p>
        </li>
        <li class="p-list__item u-no-padding">
          <p class="p-heading--2">
            More than 100 PostgreSQL extensions and tools
          </p>
        </li>
        <li class="p-list__item u-no-padding">
          <p class="p-heading--2">Experts in the full stack</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="p-section">
  <hr class="p-rule is-fixed-width" />
  <div class="p-equal-height-row--wrap has-divider-3">
    <div class="p-equal-height-row__col">
      <div class="p-equal-height-row__item">
        <div class="p-image-container--3-2-on-small p-image-container--square-on-medium p-image-container--2-3-on-large is-highlighted">
          {{ image(url="https://assets.ubuntu.com/v1/6137cdec-security%20maintenance.png",
                      alt="",
                      width="284",
                      hi_def=True,
                      loading="lazy",
                      attrs={"class": "p-image-container__image"}) | safe
          }}
        </div>
      </div>

      <div class="p-equal-height-row__item">
        <hr class="p-rule--highlight u-hide--medium u-hide--small" />
        <h3 class="p-heading--5">Security maintenance</h3>
      </div>

      <p class="p-equal-height-row__item">
        We will provide you with regularly maintained PostgreSQL packages either
        in deb, snap or container format for up to 10 years per release track.
      </p>

      <div class="p-equal-height-row__item">
        <a 
          href="https://ubuntu.com/pro/subscribe" 
          aria-label="Subscribe to Ubuntu Pro for security maintenance"
        >
          <p>Subscribe now&nbsp;&rsaquo;</p>
        </a>
      </div>
    </div>

    <div class="p-equal-height-row__col">
      <div class="p-equal-height-row__item">
        <div class="p-image-container--3-2-on-small p-image-container--square-on-medium p-image-container--2-3-on-large is-highlighted">
          {{ image(url="https://assets.ubuntu.com/v1/c6179cf0-ticket%20and%20phone%20support.png",
                      alt="",
                      width="284",
                      hi_def=True,
                      loading="lazy",
                      attrs={"class": "p-image-container__image"}) | safe
          }}
        </div>
      </div>

      <div class="p-equal-height-row__item">
        <hr class="p-rule--highlight u-hide--medium u-hide--small" />
        <h3 class="p-heading--5">Ticket and phone support</h3>
      </div>

      <p class="p-equal-height-row__item">
        In addition to security maintenance, our experts will respond to your
        critical support requests in under an hour to help you keep your system
        up and running. You can choose between 24/7 or 24/5 to better suit your
        needs.
      </p>

      <div class="p-equal-height-row__item">
        <a 
          href="https://ubuntu.com/pro/subscribe" 
          aria-label="Subscribe to Ubuntu Pro for ticket and phone support"
        >
          <p>Subscribe now&nbsp;&rsaquo;</p>
        </a>
      </div>
    </div>

    <div class="p-equal-height-row__col">
      <div class="p-equal-height-row__item">
        <div class="p-image-container--3-2-on-small p-image-container--square-on-medium p-image-container--2-3-on-large is-highlighted">
          {{ image(url="https://assets.ubuntu.com/v1/12931352-firefighting%20support.png",
                      alt="",
                      width="284",
                      hi_def=True,
                      loading="lazy",
                      attrs={"class": "p-image-container__image"}) | safe
          }}
        </div>
      </div>

      <div class="p-equal-height-row__item">
        <hr class="p-rule--highlight u-hide--medium u-hide--small" />
        <h3 class="p-heading--5">Firefighting support</h3>
      </div>

      <p class="p-equal-height-row__item">
        With firefighting support, our dedicated staff will get on a video call
        with you to help you diagnose and resolve your PostgreSQL issues while
        you keep full control over your infrastructure.
      </p>

      <div class="p-equal-height-row__item">
        <a href="https://ubuntu.com/managed/firefighting-support">
          <p>Learn more about<br />firefighting support&nbsp;&rsaquo;</p>
        </a>
      </div>
    </div>

    <div class="p-equal-height-row__col">
      <div class="p-equal-height-row__item">
        <div class="p-image-container--3-2-on-small p-image-container--square-on-medium p-image-container--2-3-on-large is-highlighted">
          {{ image(url="https://assets.ubuntu.com/v1/558678c0-managed%20postgresql.png",
                      alt="",
                      width="284",
                      hi_def=True,
                      loading="lazy",
                      attrs={"class": "p-image-container__image"}) | safe
          }}
        </div>
      </div>

      <div class="p-equal-height-row__item">
        <hr class="p-rule--highlight u-hide--medium u-hide--small" />
        <h3 class="p-heading--5">Managed PostgreSQL</h3>
      </div>

      <p class="p-equal-height-row__item">
        Our database team manages all your Day 2 operations, from observability
        to upgrades. We handle all issues, and consistently reinforce the
        security of your environment.
      </p>

      <div class="p-equal-height-row__item">
        <a href="/data/postgresql/managed">
          <p>
            Learn more about our<br />Managed PostgreSQL offering&nbsp;&rsaquo;
          </p>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="p-section--shallow">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Multiple packaging formats</h2>
      </div>
      <div class="col">
        <p>
          We provide maintained and supported PostgreSQL packages in the most
          popular formats:
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9 col-start-large-4">
      <hr class="p-rule--muted" />
      <div class="row">
        <div class="col-3">
          <h3 class="p-heading--5">Debs</h3>
        </div>
        <div class="col-6">
          <p>
            We offer deb packages for a seamless integration with your Ubuntu
            installations.<br />
            Our PostgreSQL debs help you:
          </p>
          <ul class="p-list--divided">
            <li class="p-list__item has-bullet">
              Deploy a working PostgreSQL instance in a single command<br />
              (<code>sudo apt install postgresql</code>).
            </li>
            <li class="p-list__item has-bullet">
              Easily add extensions to your PostgreSQL installations.
            </li>
            <li class="p-list__item has-bullet">
              Easily manage multiple PostgreSQL instances in the same node using
              pg_* utilities such as
              <a href="https://manpages.ubuntu.com/manpages/oracular/en/man1/pg_lsclusters.1.html">
                pg_lsclusters
              </a>.
            </li>
          </ul>
        </div>
      </div>
      <hr class="p-rule--muted" />
      <div class="row">
        <div class="col-3">
          <h3 class="p-heading--5">Snaps</h3>
        </div>
        <div class="col-6">
          <p>
            Get snaps for added confinement and atomic updates on all major
            <a href="https://snapcraft.io/docs/distro-support">
              Linux distributions
            </a>.
            We support two options:
          </p>
          <ul class="p-list--divided">
            <li class="p-list__item has-bullet">
              PostgreSQL-only snap for the smallest possible footprint and
              attack surface.
            </li>
            <li class="p-list__item has-bullet">
              Charmed PostgreSQL snap for a complete solution integrating the
              most popular PostgreSQL extensions, backup, monitoring and high
              availability tools.
            </li>
          </ul>
        </div>
      </div>
      <hr class="p-rule--muted" />
      <div class="row">
        <div class="col-3">
          <h3 class="p-heading--5">Containers</h3>
        </div>
        <div class="col-6">
          <p>
            We deliver OCI-compliant images for your containerized environment.
            We provide several supported options:
          </p>
          <ul class="p-list--divided u-no-margin--bottom">
            <li class="p-list__item has-bullet">
              PostgreSQL-only regular
              <a href="https://hub.docker.com/r/ubuntu/postgres">container</a>.
            </li>
            <li class="p-list__item has-bullet">
              PostgreSQL-only
              <a href="https://documentation.ubuntu.com/rockcraft/en/latest/explanation/chisel/#chisel-explanation">
                chiselled
              </a>
              rock for the smallest possible footprint and attack surface.
            </li>
            <li class="p-list__item has-bullet">
              Charmed PostgreSQL
              <a href="https://documentation.ubuntu.com/rockcraft/en/latest/explanation/rocks/">
                rock
              </a>
              for a complete solution integrating the most popular PostgreSQL
              extensions, backup, monitoring and high availability tools.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50">
    <hr class="p-rule" />
    <div class="col">
      <h2>PostgreSQL consulting</h2>
    </div>
    <div class="col">
      <p>
        Canonical offers advisory services to help you design, deploy and
        experiment with PostgreSQL solutions that fit your needs in terms of
        security, features, high availability, scalability and observability.
      </p>
      <div class="p-section--shallow">
        <div class="p-image-container--16-9 is-highlighted">
          {{ image(url="https://assets.ubuntu.com/v1/7bf5c40d-os_infra_hardware_infra.svg",
                      alt="Canonical hardware ecosystem",
                      width="600",
                      hi_def=True,
                      loading="auto",
                      attrs={"class": "p-image-container__image"}) | safe
          }}
        </div>
      </div>
      <ul class="p-list--divided u-no-margin--bottom">
        <li class="p-list__item">
          <h3 class="p-heading--5 u-no-margin--bottom">
            Deliver detailed design recommendations
          </h3>
          Our experts will work with you to understand your requirements and
          to define the design of the PostgreSQL deployments to meet your
          needs. Our proposed design can cover the full stack from hardware
          dimensioning up to the optimal application settings.
        </li>
        <li class="p-list__item">
          <h3 class="p-heading--5 u-no-margin--bottom">
            Deliver Proof of Concepts
          </h3>
          Canonical engineers can deploy our PostgreSQL stack to the cloud or
          data centre of your choice. Bare metal nodes, virtual machines,
          Kubernetes and air-gapped environments are all supported.
        </li>
      </ul>
      <div class="p-cta-block u-no-padding--bottom">
        <a
          class="p-button--positive"
          aria-controls="data-relational-dbs-modal"
          href="/data/postgresql#get-in-touch"
        >
          Contact us
        </a>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50">
    <hr class="p-rule" />
    <div class="col">
      <h2>PostgreSQL training</h2>
    </div>
    <div class="col">
      <div class="p-section--shallow">
        <div class="p-image-container--16-9 is-highlighted is-cover">
          {{ image(url="https://assets.ubuntu.com/v1/8135cf37-training.png",
                      alt="",
                      width="1800",
                      height="1015",
                      hi_def=True,
                      loading="lazy",
                      attrs={"class": "p-image-container__image"}) | safe
          }}
        </div>
      </div>
      <p>
        Canonical offers comprehensive training for Charmed PostgreSQL. Ramp up
        your teams to make the most of PostgreSQL and Canonical’s automation
        tooling, with training delivered either in-person or virtually.
      </p>
      <div class="p-cta-block u-no-padding--bottom">
        <a href="https://ubuntu.com/training">
          Learn more about our training offers&nbsp;&rsaquo;
        </a>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <hr class="p-rule is-fixed-width" />
  <div class="p-section--shallow">
    <div class="row">
      <h2>
        Come for PostgreSQL, get security and support for your entire stack
      </h2>
      <div class="col-6 col-start-large-7">
        <p>
          With Ubuntu Pro, you get an all-access pass to everything Canonical
          has to offer, including best-in-class open source solutions for
          enterprise data management and AI. Ubuntu Pro subscriptions are
          competitively priced per server, not per application.
        </p>
      </div>
    </div>
  </div>
  <div class="p-equal-height-row--wrap">
    <a class="p-equal-height-row__col" href="/mlops/kubeflow" aria-label="Charmed Kubeflow">
      <div class="p-equal-height-row__item">
        <div class="p-image-container--16-9 is-highlighted">
          {{ image(url="https://assets.ubuntu.com/v1/cd89477e-kubeflow-logo-container-vert-fill.png",
                      alt="",
                      width="349",
                      height="481",
                      hi_def=True,
                      loading="auto",
                      attrs={"class": "p-image-container__image"}) | safe
          }}
        </div>
      </div>
      <div class="p-equal-height-row__item">
        <p>Learn more&nbsp;&rsaquo;</p>
      </div>
    </a>
  
    <a class="p-equal-height-row__col" href="/mlops/mlflow" aria-label="MLFlow">
      <div class="p-equal-height-row__item">
        <div class="p-image-container--16-9 is-highlighted">
          {{ image(url="https://assets.ubuntu.com/v1/104192d9-mlflow-logo-container-vert-fill.png",
                      alt="",
                      width="222",
                      height="481",
                      hi_def=True,
                      loading="auto",
                      attrs={"class": "p-image-container__image"}) | safe
          }}
        </div>
      </div>
      <div class="p-equal-height-row__item">
        <p>Learn more&nbsp;&rsaquo;</p>
      </div>
    </a>
  
    <a class="p-equal-height-row__col" href="/data/spark" aria-label="Apache Spark">
      <div class="p-equal-height-row__item">
        <div class="p-image-container--16-9 is-highlighted">
          {{ image(url="https://assets.ubuntu.com/v1/855deda8-apache-spark-logo-container-vert-fill.png",
                      alt="",
                      width="240",
                      height="481",
                      hi_def=True,
                      loading="auto",
                      attrs={"class": "p-image-container__image"}) | safe
          }}
        </div>
      </div>
      <div class="p-equal-height-row__item">
        <p>Learn more&nbsp;&rsaquo;</p>
      </div>
    </a>
  
    <a class="p-equal-height-row__col" href="/data/opensearch" aria-label="OpenSearch">
      <div class="p-equal-height-row__item">
        <div class="p-image-container--16-9 is-highlighted">
          {{ image(url="https://assets.ubuntu.com/v1/a8185f91-opensearch-logo-container-vert-fill.png",
                      alt="",
                      width="330",
                      height="481",
                      hi_def=True,
                      loading="auto",
                      attrs={"class": "p-image-container__image"}) | safe
          }}
        </div>
      </div>
      <div class="p-equal-height-row__item">
        <p>Learn more&nbsp;&rsaquo;</p>
      </div>
    </a>
  
    <a class="p-equal-height-row__col" href="/data/kafka" aria-label="Kafka">
      <div class="p-equal-height-row__item">
        <div class="p-image-container--16-9 is-highlighted">
          {{ image(url="https://assets.ubuntu.com/v1/d30de1f1-kafka-logo-container-vert-fill.png",
                      alt="",
                      width="294",
                      height="481",
                      hi_def=True,
                      loading="auto",
                      attrs={"class": "p-image-container__image"}) | safe
          }}
        </div>
      </div>
      <div class="p-equal-height-row__item">
        <p>Learn more&nbsp;&rsaquo;</p>
      </div>
    </a>
  
    <a class="p-equal-height-row__col" href="/data/postgresql" aria-label="PostgreSQL">
      <div class="p-equal-height-row__item">
        <div class="p-image-container--16-9 is-highlighted">
          {{ image(url="https://assets.ubuntu.com/v1/f5605b7e-postgre-sql-container-vert-fill.png",
                      alt="",
                      width="432",
                      height="481",
                      hi_def=True,
                      loading="auto",
                      attrs={"class": "p-image-container__image"}) | safe
          }}
        </div>
      </div>
      <div class="p-equal-height-row__item">
        <p>Learn more&nbsp;&rsaquo;</p>
      </div>
    </a>
  
    <a class="p-equal-height-row__col" href="/data/mongodb" aria-label="MongoDB">
      <div class="p-equal-height-row__item">
        <div class="p-image-container--16-9 is-highlighted">
          {{ image(url="https://assets.ubuntu.com/v1/efdc8292-mongodb-logo-container-vert-fill.png",
                      alt="",
                      width="413",
                      height="481",
                      hi_def=True,
                      loading="auto",
                      attrs={"class": "p-image-container__image"}) | safe
          }}
        </div>
      </div>
      <div class="p-equal-height-row__item">
        <p>Learn more&nbsp;&rsaquo;</p>
      </div>
    </a>
  
    <a class="p-equal-height-row__col" href="/data/mysql" aria-label="MySQL">
      <div class="p-equal-height-row__item">
        <div class="p-image-container--16-9 is-highlighted">
          {{ image(url="https://assets.ubuntu.com/v1/692e2b1d-mysql-logo-container-vert-fill.png",
                      alt="",
                      width="300",
                      height="481",
                      hi_def=True,
                      loading="auto",
                      attrs={"class": "p-image-container__image"}) | safe
          }}
        </div>
      </div>
      <div class="p-equal-height-row__item">
        <p>Learn more&nbsp;&rsaquo;</p>
      </div>
    </a>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50">
    <hr class="p-rule" />
    <div class="col">
      <h2>Learn more about PostgreSQL</h2>
    </div>
    <div class="col">
      <ul class="p-list--divided u-no-margin--bottom">
        <li class="p-list__item u-no-padding--bottom">
          <h3 class="p-heading--5 u-no-margin--bottom">
            <a href="https://ubuntu.com/engage/database-cloud-migration">
              A guide to database cloud migration
            </a>
          </h3>
          <p>
            Gain insights on how to succeed in migrating your most valuable
            assets, your data, to the cloud.
          </p>
        </li>
        <li class="p-list__item u-no-padding--bottom">
          <h3 class="p-heading--5 u-no-margin--bottom">
            <a href="https://ubuntu.com/engage/data-backupsn">
              A guide to database backups
            </a>
          </h3>
          <p>
            Build a comprehensive backup strategy to meet your requirements in
            terms of data protection and recovery times.
          </p>
        </li>
        <li class="p-list__item u-no-padding--bottom">
          <h3 class="p-heading--5 u-no-margin--bottom">
            <a href="https://ubuntu.com/engage/postgresql-mysql">
              PostgreSQL vs MySQL webinar
            </a>
          </h3>
          <p>
            Dive into the differences between the two most popular open-source
            databases and what those differences mean from a performance,
            operability and community engagement perspective.
          </p>
        </li>
        <li class="p-list__item u-no-padding--bottom">
          <h3 class="p-heading--5 u-no-margin--bottom">
            <a href="https://ubuntu.com/engage/postgres-extensions">
              How many use cases can you cover with PostgreSQL extensions?
            </a>
          </h3>
          <p>Examine the use cases you can meet with just PostgreSQL.</p>
        </li>
        <li class="p-list__item u-no-padding--bottom">
          <h3 class="p-heading--5 u-no-margin--bottom">
            <a href="https://ubuntu.com/engage/postgresql-replication">
              A deep dive into PostgreSQL replication and automatic failover
              techniques
            </a>
          </h3>
          <p>
            Delve into advanced techniques for implementing robust replication
            and automatic failovers in PostgreSQL.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<div class="u-fixed-width">
  <hr class="p-rule" />
</div>

<section class="p-strip is-deep">
  <div class="u-fixed-width">
    <h2>
      <a
        aria-controls="data-relational-dbs-modal"
        href="/data/postgresql#get-in-touch"
      >
        Contact us to get support for Charmed PostgreSQL&nbsp;&rsaquo;
      </a>
    </h2>
  </div>
</section>

<section class="p-section--deep">
  <div class="row">
    <hr class="p-rule" />
    <div class="col-6 col-start-large-7">
      <p>
        <small class="u-text--muted">
          “PostgreSQL” is a trademark or registered trademark of
          <a href="https://www.postgres.ca/">PGCA</a>. Other trademarks are
          property of their respective owners. Canonical’s PostgreSQL offerings
          are not sponsored, endorsed, or affiliated with
          <a href="https://www.postgres.ca/">PGCA</a>.
        </small>
      </p>
    </div>
  </div>
</section>

{{ load_form('/data/postgresql') | safe }}

{% endblock %}