{% extends 'base_index.html' %}

{% block meta_copydoc %}
https://docs.google.com/document/d/1GPCEnZgCfYvvPXn57iKL673PfNDkXkpY9fcGTxhNefg/edit
{% endblock meta_copydoc %}

{% block title %}What is PostgreSQL ?{% endblock %}

{% block meta_description %}
PostgreSQL is the world's most acclaimed open source database management system. Explore PostgreSQL, its ecosystem, its internal architecture and how it compares to other databases.
{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}

{% endblock %}
