{% extends 'base_index.html' %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1GPCEnZgCfYvvPXn57iKL673PfNDkXkpY9fcGTxhNefg/edit
{% endblock meta_copydoc %}

{% block title %}What is PostgreSQL?{% endblock %}

{% block meta_description %}
  PostgreSQL is the world's most acclaimed open source database management system. Explore PostgreSQL, its ecosystem, its internal architecture and how it compares to other databases.
{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}

  <section class="p-section--hero">
    <div class="row--50-50-on-large">
      <div class="col">
        <h1>What is PostgreSQL?</h1>
      </div>
      <div class="col">
        <p>
          PostgreSQL, or just Postgres, is an open-source database management system (DBMS). It is known for its excellent support of the SQL standard, its extensibility and its enterprise-grade features &ndash; including procedural languages, extensive index types and comprehensive security.
        </p>
        <p>
          PostgreSQL has been successfully used for more than three decades in all IT sectors. Its maturity and its vibrant community consistently make it a first choice database among developers.
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--25-75">
      <hr class="p-rule" />
      <div class="col">
        <h2 class="p-text--small-caps">Why choose Postgresql?</h2>
      </div>
      <div class="col">
        <ul class="p-list--divided">
          <li class="p-list__item u-no-padding">
            <p class="p-heading--2">Comprehensive security features</p>
          </li>
          <li class="p-list__item u-no-padding--bottom">
            <p class="p-heading--2">Versatile thanks to hundreds of extensions</p>
          </li>
          <li class="p-list__item u-no-padding--bottom">
            <p class="p-heading--2">Reliable and proven with a 30 year track record</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width p-section--shallow">
      <hr class="p-rule" />
      <h2>Why do companies use PostgreSQL?</h2>
    </div>
    <div class="row">
      <div class="col-start-large-4 col-9 col-medium-6">
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Open source and open ecosystem</h3>
          </div>
          <div class="col-6 col-medium-4">
            <p>
              PostgreSQL is backed by a large community of independent or company-backed contributors that share code under a permissive open-source licence. PostgreSQL is also famous for being built from the ground up to be easily extensible. You can choose from over <a href="https://gist.github.com/joelonsql/e5aa27f8cc9bd22b8999b7de8aee9d47">1,000 extensions</a> to cover more use cases with the same solution.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Enterprise-grade features</h3>
          </div>
          <div class="col-6 col-medium-4">
            <p>
              PostgreSQL comes with features comparable to those offered by closed source DBMS solutions. For example, it ships with a large number of built-in index types, support for several procedural languages, highly customisable replication and fine grained security controls.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-3 col-medium-2">
            <h3 class="p-heading--5">Loved by developers</h3>
          </div>
          <div class="col-6 col-medium-4">
            <p>PostgreSQL has been a developer favourite for years. This can make it easy to find and retain high-level talent.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <hr class="p-rule--muted" />
      <div class="col-6 col-start-large-7">
        <p>
          <a href="/contact-us"
             class="js-invoke-modal"
             aria-controls="data-relational-dbs-modal">Contact us for all of your PostgreSQL needs&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width">
      <div class="p-section--shallow">
        <hr class="p-rule" />
        <h2>How do companies use PostgreSQL?</h2>
      </div>
    </div>
    <div class="p-equal-height-row--wrap">
      <div class="p-equal-height-row__col">
        <div class="p-equal-height-row__item">
          <div class="p-image-container--3-2-on-small p-image-container--square-on-medium p-image-container--2-3-on-large is-highlighted">
            {{ image(url="https://assets.ubuntu.com/v1/5a4a1fb3-analytics.png",
                        alt="",
                        width="568",
                        height="852",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class":"p-image-container__image"}) | safe
            }}
          </div>
        </div>
        <div class="p-equal-height-row__item">
          <hr class="p-rule--highlight" />
          <h5 class="p-heading--5">Analytics</h5>
        </div>
        <p class="p-equal-height-row__item">
          PostgreSQL is famous for its excellent support of the SQL standard. It also supports a large panel of index types and can nicely integrate with other data stores (using <a href="https://www.postgresql.org/docs/14/ddl-foreign-data.html">foreign wrappers</a>) making it an excellent choice for running analytical queries without the need to duplicate your data.
        </p>
      </div>
      <div class="p-equal-height-row__col">
        <div class="p-equal-height-row__item">
          <div class="p-image-container--3-2-on-small p-image-container--square-on-medium p-image-container--2-3-on-large is-highlighted">
            {{ image(url="https://assets.ubuntu.com/v1/f43e63db-banking.png",
                        alt="",
                        width="568",
                        height="852",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class":"p-image-container__image"}) | safe
            }}
          </div>
        </div>
        <div class="p-equal-height-row__item">
          <hr class="p-rule--highlight" />
          <h5 class="p-heading--5">Banking</h5>
        </div>
        <p class="p-equal-height-row__item">
          PostgreSQL provides the transactional <a href="https://en.wikipedia.org/wiki/ACID">ACID</a> guarantees and the mature replication capabilities that finance systems need. The <a href="https://www.pgaudit.org/">pgAudit</a> extension can complement PostgreSQL with the auditing capabilities that regulated industries require.
        </p>
      </div>
      <div class="p-equal-height-row__col">
        <div class="p-equal-height-row__item">
          <div class="p-image-container--3-2-on-small p-image-container--square-on-medium p-image-container--2-3-on-large is-highlighted">
            {{ image(url="https://assets.ubuntu.com/v1/87f1a153-geospatial-data.png",
                        alt="",
                        width="568",
                        height="852",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class":"p-image-container__image"}) | safe
            }}
          </div>
        </div>
        <div class="p-equal-height-row__item">
          <hr class="p-rule--highlight" />
          <h5 class="p-heading--5">Geospatial data</h5>
        </div>
        <p class="p-equal-height-row__item">
          The <a href="https://postgis.net/">PostGIS</a> extension of PostgreSQL is an excellent choice to support use cases managing spatial data.
        </p>
      </div>
      <div class="p-equal-height-row__col">
        <div class="p-equal-height-row__item">
          <div class="p-image-container--3-2-on-small p-image-container--square-on-medium p-image-container--2-3-on-large is-highlighted">
            {{ image(url="https://assets.ubuntu.com/v1/05d1de66-search.png",
                        alt="",
                        width="568",
                        height="852",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class":"p-image-container__image"}) | safe
            }}
          </div>
        </div>
        <div class="p-equal-height-row__item">
          <hr class="p-rule--highlight" />
          <h5 class="p-heading--5">Search</h5>
        </div>
        <p class="p-equal-height-row__item">
          PostgreSQL offers a variety of index structures (e.g. GIN and GIST) to perform advanced search and similarity operations on your data without the need for duplicating it or compromising on its consistency.
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="p-section--shallow u-fixed-width">
      <hr class="p-rule" />
      <h2>How does PostgreSQL work?</h2>
    </div>
    <div class="row--50-50-on-large">
      <div class="col">
        <div class="p-image-container is-highlighted u-hide--small">
          {{ image(url="https://assets.ubuntu.com/v1/7c386802-postgres diagram.png",
                    alt="Diagram depicting an overview of the PostgreSQL architecture",
                    width="1200",
                    height="1090",
                    hi_def=True,
                    loading="lazy") | safe
          }}
        </div>
      </div>
      <div class="col">
        <p>
          The diagram depicts an overview of the PostgreSQL architecture. It illustrates the processes, memory areas and some of their associated parameters. PostgreSQL adopts the following database design patterns:
        </p>
        <ul class="p-list--divided">
          <li class="p-list__item has-bullet">
            Write Ahead Logging (WAL) provides atomicity and durability for database transactions. WALs are written by the <b>WAL writer</b> and archived by the <b>WAL archiver</b> to another storage medium, typically an ObjectStore.
          </li>
          <li class="p-list__item has-bullet">
            Replication is implemented by sending <b>WAL</b>s (by the <b>WAL sender</b>) to the standbys where they will be applied using either <b>WAL receiver</b> or <b>Apply workers</b>.
          </li>
          <li class="p-list__item has-bullet">
            PostgreSQL adopts a process per connection model where a dedicated new process is spawned to manage every new connection.
          </li>
          <li class="p-list__item has-bullet">
            PostgreSQL implements MultiVersion Concurrency Control (MVCC) by keeping multiple versions of the same row. <b>Autovacuum workers</b> will reclaim no longer used versions.
          </li>
          <li class="p-list__item has-bullet">
            PostgreSQL uses kernel buffered IO so it can benefit from careful memory allocation to the OS in addition to PostgreSQL itself.
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width p-section--shallow">
      <hr class="p-rule" />
      <h2>Feature breakdown</h2>
    </div>
    <div class="row">
      <div class="col-start-large-4 col-9 col-medium-6">
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Broad replication capabilities</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              PostgreSQL has wide replication capabilities. It supports asynchronous and synchronous physical replication to create highly available deployments. It also provides a flexible <a href="https://www.postgresql.org/docs/current/sql-createsubscription.html">subscription model</a> to configure logical replication to filter replicated data or to perform migration across major versions and different platforms.
            </p>
            <p>
              PostgreSQL uses <a href="https://www.postgresql.org/docs/current/warm-standby.html#STREAMING-REPLICATION-SLOTS">replication slots</a> for fault tolerant and resumable replication. Finally, PostgreSQL's cascading replication helps you create complex replication topologies.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Highly concurrent and parallel DBMS</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              PostgreSQL uses MVCC to provide efficient snapshot isolation while supporting concurrent access to the same data. <a href="https://www.postgresql.org/docs/current/parallel-query.html">PostgreSQL also supports the parallelisation</a> of a growing number of query types which help make some operations run faster.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Tunable transactional guarantees</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              You can fine-tune PostgreSQL's durability guarantees to meet your own needs using <a href="https://www.postgresql.org/docs/current/non-durability.html">these parameters</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule" />
      <div class="p-section--shallow">
        <h2>Choose the right database to fit your requirements*</h2>
      </div>
      <table aria-label="Database features comparison">
        <thead>
          <tr>
            <th scope="col" style="width:40.75%">Features</th>
            <th aria-hidden></th>
            <th scope="col">MySQL</th>
            <th scope="col">PostgreSQL</th>
            <th scope="col">MongoDB</th>
            <th scope="col">Valkey/Redis</th>
            <th scope="col">OpenSearch</th>
          </tr>
        </thead>
        <tbody>
          <tr style="height: 4rem;">
            <th scope="row">
              <b>Primary data paradigm</b>
            </th>
            <td aria-hidden></td>
            <td>Relational</td>
            <td>Object Relational</td>
            <td>Document</td>
            <td>Key/Value</td>
            <td>Text Search</td>
          </tr>
          <tr style="height: 4rem;">
            <th scope="row">
              <b>Highest isolation level</b>
            </th>
            <td aria-hidden></td>
            <td>Serialisable</td>
            <td>Serialisable</td>
            <td>Linearalisable</td>
            <td>Linearalisable</td>
            <td>Eventual read consistency</td>
          </tr>
          <tr style="height: 4rem;">
            <th scope="row">
              <b>Typical achievable response times
              in milliseconds</b>
            </th>
            <td aria-hidden></td>
            <td>1-100</td>
            <td>1-100</td>
            <td>1-100</td>
            <td>0.1-10</td>
            <td>10-1000</td>
          </tr>
          <tr style="height: 4rem;">
            <th scope="row">
              <b>Max manageable data size
              in typical single clusters</b>
            </th>
            <td aria-hidden></td>
            <td>1-10 TBs</td>
            <td>1-50 TBs</td>
            <td>1-100 TBs</td>
            <td>Available memory</td>
            <td>1-100 TBs</td>
          </tr>
          <tr style="height: 4rem;">
            <th scope="row">
              <b>DBMS managed sharding</b>
            </th>
            <td aria-hidden></td>
            <td>With extension</td>
            <td>With extension</td>
            <td>Built-in</td>
            <td>Built-in</td>
            <td>Built-in</td>
          </tr>
          <tr style="height: 4rem;">
            <th scope="row">
              <b>DBMS managed partitioning</b>
            </th>
            <td aria-hidden></td>
            <td>Yes</td>
            <td>Yes</td>
            <td>No</td>
            <td>No</td>
            <td>No</td>
          </tr>
          <tr>
            <th scope="row" rowspan="9">
              <b>Supported data types</b>
            </th>
            <th scope="rowgroup">Tabular</th>
            <td>Yes</td>
            <td>Yes</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="rowgroup">JSON</th>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>-</td>
            <td>Yes</td>
          </tr>
          <tr>
            <th scope="rowgroup">XML</th>
            <td>Yes</td>
            <td>Yes</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="rowgroup">Binary</th>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>
            <th scope="rowgroup">Generic Text</th>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>
            <th scope="rowgroup">Natural Language Text</th>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>With extension</td>
            <td>Yes</td>
          </tr>
          <tr>
            <th scope="rowgroup">Time Series</th>
            <td>-</td>
            <td>With extension</td>
            <td>Yes</td>
            <td>-</td>
            <td>Yes</td>
          </tr>
          <tr>
            <th scope="rowgroup">Geospatial data</th>
            <td>Yes</td>
            <td>With extension</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>
            <th scope="rowgroup">Graph data</th>
            <td>-</td>
            <td>With extension</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
      <hr class="p-rule--muted" />
      <p class="u-text--muted">*Only the editions supported by Canonical are considered in the table above</p>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Installing PostgreSQL</h2>
      </div>
      <div class="col">
        <p>PostgreSQL supports a large number of platforms and architectures. You can install PostgreSQL using:</p>
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">
            <a href="https://ubuntu.com/server/docs/install-and-configure-postgresql">Deb packages</a>
          </li>
          <li class="p-list__item is-ticked">
            <a href="/blog/postgresql-high-availability">Charmed PostgreSQL</a>
          </li>
        </ul>
        <hr class="p-rule--muted" />
        <a href="https://charmhub.io/postgresql-k8s/docs/h-deploy-microk8s">Deploy PostgreSQL on your favourite K8s&nbsp;&rsaquo;</a>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>PostgreSQL security</h2>
      </div>
      <div class="col">
        <p>PostgreSQL provides several class-leading security features such as:</p>
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">
            <a href="https://www.postgresql.org/docs/current/ddl-rowsecurity.html">Row level security</a> for fine grained access control
          </li>
          <li class="p-list__item is-ticked">
            Comprehensive auditing capabilities thanks to <a href="https://www.pgaudit.org/">pgAudit</a>
          </li>
          <li class="p-list__item is-ticked">
            Built-in cryptographic functions thanks to <a href="https://www.postgresql.org/docs/current/pgcrypto.html">pg_crypto</a>
          </li>
          <li class="p-list__item is-ticked">
            Built-in authentication and database firewall using <a href="https://www.postgresql.org/docs/current/auth-pg-hba-conf.html">pg_hba.conf</a>
          </li>
        </ul>
        <hr class="p-rule--muted" />
        <a href="https://ubuntu.com/pro/subscribe">Get up to 10 years of security maintenance for your PostgreSQL deployments</a>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50 p-section--shallow">
      <hr class="p-rule" />
      <div class="col">
        <h2>Canonical's PostgreSQL</h2>
      </div>
      <div class="col">
        <p>
          We provide PostgreSQL artefacts and extensive automation to make using and scaling your PostgreSQL footprint a breeze.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-9 col-start-large-4">
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-3 col-medium-3">
            <p class="p-heading--5 u-no-margin--bottom">Charmed PostgreSQL</p>
            <p class="u-text--muted">(Included in Ubuntu Pro + Support)</p>
          </div>
          <div class="col-6 col-medium-3">
            <p>Thanks to Charmed PostgreSQL, your deployments will be:</p>
            <ul class="p-list--divided">
              <li class="p-list__item has-bullet">Highly available and reliable</li>
              <li class="p-list__item has-bullet">Disaster recovery ready</li>
              <li class="p-list__item has-bullet">Hybrid and multi-cloud ready</li>
              <li class="p-list__item has-bullet">Shipped with a holistic observability and alerting solution</li>
            </ul>
            <hr class="p-rule--muted" />
            <p>
              <a href="https://drive.google.com/file/d/1rpaXT8Q1gW6lLVxSZiDSxW17EzJAAytH/view?usp=sharing">Access the datasheet&nbsp;&rsaquo;</a>
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-3 col-medium-3">
            <p class="p-heading--5 u-no-margin--bottom">PostgreSQL ROCK</p>
            <p class="u-text--muted">(Included in Ubuntu Pro + Support)</p>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Our PostgreSQL <a href="https://ubuntu.com/server/docs/about-rock-images">rock</a> is:
            </p>
            <ul class="p-list--divided">
              <li class="p-list__item has-bullet">OCI-compliant</li>
              <li class="p-list__item has-bullet">Secure for up to 10 years</li>
              <li class="p-list__item has-bullet">Optimised for small footprint</li>
              <li class="p-list__item has-bullet">
                Self contained with all the dependencies needed to run an enterprise grade PostgreSQL
              </li>
            </ul>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row p-section--shallow">
          <div class="col-3 col-medium-3">
            <p class="p-heading--5 u-no-margin--bottom">PostgreSQL consultancy and support</p>
            <p class="u-text--muted">(Advanced professional services for PostgreSQL when you need them)</p>
          </div>
          <div class="col-6 col-medium-3">
            <p>Unlock the potential of your data with Canonical's advisory services. We can:</p>
            <ul class="p-list--divided">
              <li class="p-list__item has-bullet">Design and architect tailored solutions for your specific use cases</li>
              <li class="p-list__item has-bullet">
                Deliver Proof of Concepts (PoC) to implement your ideas and de-risk your projects
              </li>
              <li class="p-list__item has-bullet">Train your staff on Canonical's solutions for PostgreSQL</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Learn more about PostgreSQL</h2>
      </div>
      <div class="col">
        <p>
          <a href="https://ubuntu.com/engage/postgresql-mysql">PostgreSQL vs MySQL webinar</a>
        </p>
        <p>
          Dive into the differences between the two most popular open-source databases and what those differences mean from a performance, operability and community engagement perspective.
        </p>
      </div>
    </div>
  </section>

  <section class="p-section--deep">
    <div class="u-fixed-width p-section--shallow">
      <hr class="p-rule" />
      <h2>Further reading</h2>
    </div>
    <div class="row">
      <div class="col-9 col-start-large-4 p-section">
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <p class="p-heading--5">
              Read the documentation for <a href="https://charmhub.io/postgresql-k8s">K8s</a> and <a href="https://charmhub.io/postgresql/docs/t-overview">VMs</a>
            </p>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Read our tutorials and installation guides to learn how to deploy and manage PostgreSQL within and across public and private clouds.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <p class="p-heading--5">
              <a href="https://ubuntu.com/engage/database-cloud-migration">A guide to database cloud migration</a>
            </p>
          </div>
          <div class="col-6 col-medium-3">
            <p>Gain insights on how to succeed in migrating your most valuable assets, your data, to the cloud.</p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <p class="p-heading--5">
              <a href="https://ubuntu.com/engage/data-backups">A guide to data backups</a>
            </p>
          </div>
          <div class="col-6 col-medium-3">
            <p>Build a comprehensive backup strategy to meet your requirements in terms of data protection and recovery times.</p>
          </div>
        </div>
      </div>
    </div>
    <hr class="p-rule is-fixed-width" />
    <div class="row">
      <div class="col-6 col-start-large-7">
        <p class="u-text--muted">
          "PostgreSQL” is a trademark or registered trademark of PGCA. Other trademarks are property of their respective owners. Canonical's PostgreSQL offerings are not sponsored, endorsed, or affiliated with PGCA. "
        </p>
      </div>
    </div>
  </section>

  {{ load_form("/data/postgresql/what-is-postgresql") | safe }}

{% endblock %}
