<div class="p-strip is-shallow u-extra-space tab-content u-hide" id="available-roles">
  <div class="row u-vertically-center">
    <div class="col-2">
      <small class="p-form-help-text u-sv2">Select the role(s) you are interested in and apply once to them all.</small>
    </div>
    <div class="col-6 u-align--right">
      <form action="" method="get" class="p-form p-form--inline">
        <div class="p-form__group">
          <label for="filter" aria-label="Filter by job type" class="p-form__label">Filter by</label>
          <select class="js-filter p-form__control" id="filter" name="filter"
            aria-label="Filter by job type">
            <option>All</option>
            <option>Home based</option>
            <option>Office based</option>
            <option>Management</option>
            <option>Full-time</option>
            <option>Part-time</option>
          </select>
        </div>
        <div class="p-form__group">
          <label for="sort" aria-label="Sort resources" class="p-form__label">Sort by</label>
          <select class="js-sort p-form__control" id="sort" name="sort" aria-label="Sort resources">
            <option>Date</option>
            <option>Location</option>
            {% if request.path == "/careers/all"%}
            <option>Job sector</option>
            {% endif %}
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <hr />
    </div>
  </div>
  {% if vacancies %}
  <div class="row">
    <div class="col-8">
      <form>
        <ul class="p-list--divided js-job-list">
          {% for job in vacancies %}
          <li class="p-list__item" data-office="{{ job.office }}" data-employment="{{ job.employment }}" data-date="{{ job.date }}" data-location="{{ job.location }}" data-management="{{ job.management}}" data-sector="{{ job.department }}">
            <p class="u-no-margin--bottom u-sv1"><small style="padding-left: 2rem;">{{ job.location }}</small></p>
            <p class="u-hide">{{ job.date }}</p>
            <input type="checkbox" name="roles" id="{{ job.id }}" />
            <label class="p-checkbox-label--h2 u-no-padding--top" for="{{ job.id }}">
              <h2 class="u-no-margin--bottom u-sv1"><a class="p-link--soft"
                  href="/careers/{{ job.id }}">{{ job.title }}&nbsp;&rsaquo;</a></h2>
              <p class="u-sv3">
                {{ "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lorem felis, elementum sit amet maximus quis, consequat elementum tortor. Sed molestie imperdiet pretium."|truncate(130)}}
              </p>
            </label>
          </li>
          {% endfor %}
        </ul>
        <hr />
        <button type="submit">Apply now</button>
      </form>
    </div>
  </div>
  {% else %}
  <div class="u-fixed-width p-notification u-no-margin--bottom">
    <p class="p-notification__response">
      Sorry, there are no open positions at this time.
    </p>
  </div>
  {% endif %}
</div>

<script defer src="/static/js/careers-filter&sort.js"></script>
