<div class="col-3 u-hide--small">
  <div class="p-content-list">
    <ul class="p-content-list-section" style="font-size: 1.1rem;">
      {% for department in all_departments.values() %}
        <li class="p-content-list-section__item {% if request.path|get_secondary_nav_path == department.slug %}is-active{% endif %}">
          <a href="/careers/{{ department.slug }}" class="p-link--soft">{{ department.name }}&nbsp;</a><span class="u-text--muted" style="padding-right: 0.5rem;">{{ department.vacancies | length }}</span>
        </li>
      {% endfor %}
    </ul>
    <ul class="p-content-list-section">
      <li class="p-content-list-section__item {% if request.path|get_secondary_nav_path == 'lifestyle' %}is-active{% endif %}">
        <a href="/careers/lifestyle" class="p-link--soft">Lifestyle</a>
      </li>
      <li class="p-content-list-section__item {% if request.path|get_secondary_nav_path == 'ethics' %}is-active{% endif %}">
        <a href="/careers/ethics" class="p-link--soft">Ethics</a>
      </li>
      <li class="p-content-list-section__item {% if request.path|get_secondary_nav_path == 'travel' %}is-active{% endif %}">
        <a href="/careers/travel" class="p-link--soft">Travel</a>
      </li>
      <li class="p-content-list-section__item {% if request.path|get_secondary_nav_path == 'progression' %}is-active{% endif %}">
        <a href="/careers/progression" class="p-link--soft">Progression</a>
      </li>
      <li class="p-content-list-section__item {% if request.path|get_secondary_nav_path == 'diversity' %}is-active{% endif %}">
        <a href="/careers/diversity" class="p-link--soft">Diversity</a>
      </li>
    </ul>
    <ul class="p-content-list-section">
      <li class="p-content-list-section__item {% if request.path|get_secondary_nav_path == 'all' %}is-active{% endif %}">
        <a href="/careers/all" class="p-link--soft">All roles</a>
        <span class="u-text--muted u-float-right" style="padding-right: 0.5rem;">
          {% set vacancies = {} %}
          {% for department in all_departments.values() %}
            {% for vacancy in department.vacancies %}
              {% set vacancies = vacancies.__setitem__(vacancy.id, vacancy) %}
            {% endfor %}
          {% endfor %}
          {{ vacancies | length() }}
        </span>
      </li>
    </ul>
  </div>
</div>
<div class="col-3 u-hide--medium u-hide--large">
  <select name="menu" onchange="location.href=this.value">
    <option disabled="disabled" value="" selected="">Go to...</option>
    {% for slug, department in all_departments.items() %}
      <option value="/careers/{{ slug }}">{{ department.name }}</option>
    {% endfor %}
    <option value="/careers/lifestyle">Lifestyle</option>
    <option value="/careers/ethics">Ethics</option>
    <option value="/careers/travel">Travel</option>
    <option value="/careers/progression">Progression</option>
    <option value="/careers/diversity">Diversity</option>
    <option value="/careers/all">All</option>
  </select>
</div>
