{% if vacancies_json %}
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const jobContainer = document.querySelector('.js-filter-jobs-container');
    const search_input = document.querySelector(".js-careers__search-input");
    search_input.addEventListener('input', e => {
      search_term = e.target.value;
      displayJobs(search_term);
    });   
    displayJobs("");
  });
 
  let search_term = '';
  const options = {
    keys: ['title', 'location']
  }
  const vacancies = {{ vacancies_json | tojson }};
  const fuse = new Fuse(vacancies, options);
  
  const displayJobs = (search_term) => {
    const ul = document.querySelector(".js-job-list");
    let searchResult = search_term ? fuse.search(search_term).map( a => a.item ) :vacancies
    let jobs = vacancies.filter( a => searchResult.includes(a) )
    ul.innerHTML = ''
    jobs.forEach( job => { 
      const li= document.createElement('li')
      li.setAttribute('class', 'p-list__item');
      li.dataset.dataOffice = job.office
      li.dataset.dataEmployment =  job.employment
      li.dataset.dataLocation = job.location
      li.dataset.dataManagement = job.management
      
      const location = document.createElement('p')
      location.setAttribute('class', 'u-no-margin--bottom');
      const small= document.createElement('small')
      small.textContent = job.location
  
      const title = document.createElement('h2')
      title.setAttribute('class', 'p-heading--3');
      const anchor = document.createElement('a')
      anchor.setAttribute('class', 'p-link--soft u-no-padding--top u-no-margin--bottom');
      anchor.setAttribute('href', `/careers/${job.id}`)
      anchor.textContent = `${job.title}`
      const description = document.createElement('p')
      description.setAttribute('class', 'u-sv1');
      description.textContent = job.description
      
      location.appendChild(small);
      title.appendChild(anchor);
      li.append(location, title, description);

      ul.appendChild(li);
    })
  }
</script>
{% endif %}

<div>
  {% include "careers/_search.html" %}
</div>
<div class="u-align--right js-filter-form">
  {% include "careers/_filters.html" %}
</div>
<div class="js-filter-jobs-container">
  <ul class="p-list--divided js-job-list"></ul>
</div>