<div class="col-3 u-hide--small">
  <form action="" method="get" class="js-filter-form">
    <div class="p-form__group">
      <div class="p-strip u-no-padding--top">
        <h2 class="p-text--x-small-capitalised u-align-text--x-small-to-default u-sv1">Filters</h2>
      </div>
      <h3 class="p-heading--5 u-no-margin--bottom">Department</h3>
      <ul class="p-list u-no-margin--left" style="font-size: 1.1rem;">
        {% for department in all_departments.values() %}
          <li  class="p-list__item u-no-padding--top u-no-padding--bottom p-form__control {% if request.path|get_secondary_nav_path == department.slug %}is-active{% endif %}">
            <label class="p-checkbox u-no-margin--bottom">
              <input type="checkbox" aria-labelledby="{{department.slug}}" class="p-checkbox__input js-filter" name="{{department.name}}">
              <span class="p-checkbox__label" id="{{department.slug}}">{{ department.name }}</span>
            </label>
          </li>
        {% endfor %}
      </ul>

      <h3 class="p-heading--5 u-no-margin--bottom">Location</h3>
      <ul class="p-list u-no-margin--left" style="font-size: 1.1rem;">
        <li class="p-list__item u-no-padding--top u-no-padding--bottom">
          <label class="p-checkbox u-no-margin--bottom">
            <input type="checkbox" aria-labelledby="APAC" name="apac" class="p-checkbox__input js-filter--location">
            <span class="p-checkbox__label" id="APAC">APAC</span>
          </label>
        </li>
        <li class="p-list__item u-no-padding--top u-no-padding--bottom">
          <label class="p-checkbox u-no-margin--bottom">
            <input type="checkbox" aria-labelledby="AMER" name="americas" class="p-checkbox__input js-filter--location">
            <span class="p-checkbox__label" id="AMER">AMER</span>
          </label>
        </li>
        <li class="p-list__item u-no-padding--top u-no-padding--bottom">
          <label class="p-checkbox u-no-margin--bottom">
            <input type="checkbox" aria-labelledby="EMEA" name="emea" class="p-checkbox__input js-filter--location">
            <span class="p-checkbox__label" id="EMEA">EMEA</span>
          </label>
        </li>
      </ul>
    </div>
  </form>
</div>