<div class="col-3 col-medium-2 u-hide--small">
  <form action="" method="get" class="js-filter-form">
    <div class="p-content-list p-form__group">
      <ul class="p-content-list-section u-no-margin--left" style="font-size: 1.1rem;">
        <h2 class="p-muted-heading">FILTERS</h2>
        <h3 class="p-heading--5 u-no-margin--bottom">Department</h3>
        {% for department in all_departments.values() %}
          <li  class="p-content-list-section__item u-no-padding--top u-no-padding--bottom p-form__control {% if request.path|get_secondary_nav_path == department.slug %}is-active{% endif %}">
            <label class="p-checkbox u-no-margin--bottom">
              <input type="checkbox" aria-labelledby="{{department.name}}" class="p-checkbox__input js-filter" name="{{department.name}}">
              <span class="p-checkbox__label" id="{{department.name}}">{{ department.name }}</span>
            </label>
          </li>
        {% endfor %}
      </ul>

      <ul class="p-content-list-section u-no-margin--left" style="font-size: 1.1rem;">
        <h3 class="p-heading--5 u-no-margin--bottom">Location</h3>
          <li class="p-content-list-section__item u-no-padding--top u-no-padding--bottom">
            <label class="p-checkbox u-no-margin--bottom">
              <input type="checkbox" aria-labelledby="Africa" name="Africa" class="p-checkbox__input js-filter--location">
              <span class="p-checkbox__label" id="Africa">Africa</span>
            </label>
          </li>
          <li class="p-content-list-section__item u-no-padding--top u-no-padding--bottom">
            <label class="p-checkbox u-no-margin--bottom">
              <input type="checkbox" aria-labelledby="Americas" name="Americas" class="p-checkbox__input js-filter--location">
              <span class="p-checkbox__label" id="Americas">Americas</span>
            </label>
          </li>
          <li class="p-content-list-section__item u-no-padding--top u-no-padding--bottom">
            <label class="p-checkbox u-no-margin--bottom">
              <input type="checkbox" aria-labelledby="Asia" name="Asia" class="p-checkbox__input js-filter--location">
              <span class="p-checkbox__label" id="Asia">Asia</span>
            </label>
          </li>
          <li class="p-content-list-section__item u-no-padding--top u-no-padding--bottom">
            <label class="p-checkbox u-no-margin--bottom">
              <input type="checkbox" aria-labelledby="Europe" name="Europe" class="p-checkbox__input js-filter--location">
              <span class="p-checkbox__label" id="Europe">Europe</span>
            </label>
          </li>
          <li class="p-content-list-section__item u-no-padding--top u-no-padding--bottom">
            <label class="p-checkbox u-no-margin--bottom">
              <input type="checkbox" aria-labelledby="Middle East" name="Middle East" class="p-checkbox__input js-filter--location">
              <span class="p-checkbox__label" id="Middle East">Middle East</span>
            </label>
          </li>
          <li class="p-content-list-section__item u-no-padding--top u-no-padding--bottom">
            <label class="p-checkbox u-no-margin--bottom">
              <input type="checkbox" aria-labelledby="Oceania" name="Oceania" class="p-checkbox__input js-filter--location">
              <span class="p-checkbox__label" id="Oceania">Oceania</span>
            </label>
          </li>
      </ul>
    </div>
  </form>
</div>