<div class="row">
  <h2 class="p-muted-heading">Top roles for you</h2>
</div>
<div class="row u-sv3">
{% for job in vacancies %}
{% if loop.index < 5 %}
{% if loop.index == 3 %}
<div class="row">
  {% endif %}
  <div class="p-card--highlighted col-4"
  data-office="{{ job.office }}"
  data-employment="{{ job.employment }}"
  data-date="{{ job.date }}"
  data-location="{{ job.location }}"
  data-management="{{ job.management}}"
  data-sector="{{ job.department }}"
  >
  <h3 class="p-card__title u-no-padding--top">
    <a class="p-link--soft" href="/careers/{{ job.id }}/{{ job.slug }}">{{ job.title }}&nbsp;&rsaquo;</a>
  </h3>
  {% if job.description %}
  <p clss="p-cart__content">{{ job.description }}</p>
  {% endif %}
  <p class="u-no-margin--bottom">
    <small {% if checkbox %}style="padding-left: 2rem;"{% endif %}>
      {{ job.location }}
    </small>
  </p>
</div>
{% if loop.index == 2 %}
</div>
{% endif %}
{% endif %}
{% endfor %}
