<footer class="p-footer l-footer--sticky">
  <div class="row u-position">
    <div class="col-medium-2 col-3">
      <p>&copy; {{ current_year }} Canonical Ltd.</p>
      <ul class="p-inline-list u-position--bottom">
        <li class="p-inline-list__item">
          <a href="https://www.linkedin.com/company/234280" class="p-icon--linkedin">LinkedIn</a>
        </li>
        <li class="p-inline-list__item">
          <a href="https://twitter.com/Canonical" class="p-icon--twitter">Twitter</a>
        </li>
        <li class="p-inline-list__item">
          <a href="https://www.youtube.com/user/celebrateubuntu" class="p-icon--youtube">YouTube</a>
        </li>
      </ul>
    </div>
    <div class="col-medium-4 col-3">
      <ul class="p-list is-dark" style="padding-top: .4rem;">
        <li class="p-list__item--condensed"><a href="/contact-us">Contact information</a></li>
        <li class="p-list__item--condensed"><a href="https://ubuntu.com/legal">Legal information</a></li>
        {% if "/careers" in current_path %}
          <li class="p-list__item--condensed"><a href="https://ubuntu.com/legal/equal-employment-opportunity-commitment">Equal Employment Opportunity Commitment</a></li>
        {% endif %}
        <li class="p-list__item--condensed"><a href="https://github.com/canonical/canonical.com/issues/new">Improve this site</a></li>
        <li class="p-list__item--condensed"><a href="/projects" >Projects</a></li>
        <li class="p-list__item--condensed"><a class="js-revoke-cookie-manager" href="">Manage your tracker settings</a></li>
      </ul>
    </div>
    <div class="col-medium-4 col-start-medium-3 col-6">
      <p>
        Ubuntu and Canonical are registered trademarks.<br>
        All other trademarks are the property of their respective owners.
      </p>
      <hr class="is-dark"/>
      <p>
        For further information on data collection,<br>
        please refer to our 
        {% if "/careers" in current_path %}
          <a href="https://ubuntu.com/legal/data-privacy/recruitment">recruitment privacy notice</a> and 
        {% endif %}
        <a href="https://ubuntu.com/legal/data-privacy">privacy policy</a>.
      </p>
    </div>
  </div>
</footer>
