<footer class="p-strip--dark">
  <div class="row">
    <div class="col-9">
      <p>&copy; {{ current_year }} Canonical Ltd.</p>
    </div>

    <div class="col-3 u-align--right">
      <ul class="p-inline-list u-no-margin--bottom">
        <li class="p-inline-list__item">
            <a href="https://www.linkedin.com/company/234280" class="p-icon--linkedin">LinkedIn</a>
        </li>
        <li class="p-inline-list__item">
          <a href="https://twitter.com/Canonical" class="p-icon--twitter">Twitter</a>
        </li>
        <li class="p-inline-list__item">
          <a href="https://www.youtube.com/user/celebrateubuntu" class="p-icon--youtube">YouTube</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="is-dark" />
  </div>

  <div class="u-fixed-width">
    <ul class="p-inline-list--middot">
      <li class="p-inline-list__item">
        <a class="p-link--inverted" href="/contact-us">Contact information</a>
      </li>
      <li class="p-inline-list__item">
        <a class="p-link--inverted" href="https://ubuntu.com/legal">Legal information</a>
      </li>
      <li class="p-inline-list__item">
        <a class="p-link--inverted" href="https://github.com/canonical-web-and-design/canonical.com/issues/
        new">Improve this site</a></li>
      <li class="p-inline-list__item">
        <a class="p-link--inverted" href="/projects">Projects</a>
      </li>
      <li class="p-inline-list__item">
        <a class="p-link--inverted js-revoke-cookie-manager" href="">Manage your tracker settings</a>
      </li>
    </ul>

    <p>
      Ubuntu and Canonical are registered trademarks.<br />
      All other trademarks are the property of their respective owners.
    </p>
  </div>
</footer>
