<header id="navigation" class="p-navigation is-dark">
  <div class="row microcloud-menu">
    <div class="p-navigation__banner col-3">
      <div class="p-navigation__tagged-logo">
        <a class="p-navigation__link" href="/lxd">
          <div class="p-navigation__logo-tag">
            <img class="p-navigation__logo-icon" src="https://assets.ubuntu.com/v1/f37663f9-LXD%2016x16%20logomark%20only.svg" alt="Canonical" />
          </div>
          <span class="p-navigation__logo-title">LXD</span>
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="Toggle navigation">Menu</a>
      <a href="#navigation-closed" class="p-navigation__toggle--close" title="Close menu">Close menu</a>
    </div>

    <nav class="p-navigation__nav col-9" aria-label="Main navigation">
      <ul class="p-navigation__items">
        <li class="p-navigation__item {% if '/install' in request.path %}is-selected{% endif %}">
          <a href="/lxd/install" class="p-navigation__link">Install</a>
        </li>
        <li class="p-navigation__item {% if '/manage' in request.path %}is-selected{% endif %}">
          <a href="/lxd/manage" class="p-navigation__link">Manage</a>
        </li>
        <li class="p-navigation__item">
          <a href="https://documentation.ubuntu.com/lxd/en/latest/?_ga=2.91941594.1329653141.1700868845-1063360542.1700868845" class="p-navigation__link">Docs</a>
        </li>
        <li class="p-navigation__item">
          <a href="https://discourse.ubuntu.com/c/lxd/126?_ga=2.69179345.1978494405.1700868870-354120313.1700868870" class="p-navigation__link">Forum</a>
        </li>
      </ul>
      <ul class="p-navigation__items global-nav"></ul>
    </nav>
  </div>
</header>
