<header id="navigation" class="p-navigation is-dark">
  <div class="row microcloud-menu">
    <div class="p-navigation__banner col-3">
      <div class="p-navigation__tagged-logo">
        <a class="p-navigation__link" href="/microcloud">
          <div class="p-navigation__logo-tag">
            <img class="p-navigation__logo-icon" src="https://assets.ubuntu.com/v1/6eb42b12-microcloud-logomark.svg" alt="Canonical" width="95" />
          </div>
          <span class="p-navigation__logo-title">MicroCloud</span>
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="Toggle navigation">Menu</a>
      <a href="#navigation-closed" class="p-navigation__toggle--close" title="Close menu">Close menu</a>
    </div>

    <nav class="p-navigation__nav col-9" aria-label="Main navigation">
      <ul class="p-navigation__items">
        <li class="p-navigation__item {% if '/resources' in request.path %}is-selected{% endif %}">
          <a href="/microcloud/resources" class="p-navigation__link">Resources</a>
        </li>
        <li class="p-navigation__item">
          <a href="https://canonical-microcloud.readthedocs-hosted.com/" class="p-navigation__link">Docs</a>
        </li>
      </ul>
      <ul class="p-navigation__items global-nav"></ul>
    </nav>
  </div>
</header>
