<ul class="p-navigation__dropdown" id="partners-menu" aria-hidden="false">
  <li>
    <a class="p-navigation__dropdown-item" href="/partners">Overview</a>
  </li>
  <li>
    <a class="p-navigation__dropdown-item" href="/partners/desktop">Desktop</a>
  </li>
  <li>
    <a class="p-navigation__dropdown-item" href="/partners/channel-and-reseller">Channel/Reseller</a>
  </li>
  <li>
    <a class="p-navigation__dropdown-item" href="/partners/iot-device">IoT device</a>
  </li>
  <li>
    <a class="p-navigation__dropdown-item" href="/partners/ihv-and-oem">IHV/OEM</a>
  </li>
  <li>
    <a class="p-navigation__dropdown-item" href="/partners/gsi">Global System Integrators</a>
  </li>
  <li>
    <a class="p-navigation__dropdown-item" href="/partners/public-cloud">Public Cloud</a>
  </li>
  <li>
    <a class="p-navigation__dropdown-item" href="/partners/become-a-partner">Become a partner</a>
  </li>
  <li>
    <a class="p-navigation__dropdown-item" href="/partners/find-a-partner">Find a partner</a>
  </li>
  <li>
    <a class="p-navigation__dropdown-item" href="https://partner-portal.canonical.com">Partner portal</a>
  </li>
</ul>
