
  <div class="dropdown-window__content u-no-padding--top u-no-padding--bottom">
    <div class="p-strip--light is-x-shallow u-no-padding--bottom">
      <div class="row">
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/products/ubuntu" class="p-link--soft">Ubuntu&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">The fastest growing secure enterprise Linux for servers, desktops, clouds, developers and things</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/products/support-and-security" class="p-link--soft">Support &amp; Security&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Extended Security Maintenance, Kernel Livepatch, FIPS, enterprise support and certification</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/products/landscape" class="p-link--soft">Landscape&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Updates, package management, repositories, security, and regulatory compliance for Ubuntu</p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-fixed-width"><hr></div>
      <div class="row">
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/products/maas" class="p-link--soft">MAAS&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Dynamic server provisioning and IPAM gives you on-demand bare metal, a physical cloud</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/products/lxd" class="p-link--soft">LXD&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">The pure-container hypervisor. Run legacy apps in secure containers for speed and density</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/products/juju" class="p-link--soft">Juju&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Model-driven cloud-native apps on public and private infrastructure and CAAS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-fixed-width"><hr></div>
      <div class="row">
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/products/openstack" class="p-link--soft">OpenStack&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Upgrades, maintenance, support, and fully managed options for long-term low-cost infra</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/products/kubernetes" class="p-link--soft">Kubernetes&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">App portability for K8s on VMware, Amazon, Azure, Google, Oracle, IBM and bare metal</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/products/snapcraft" class="p-link--soft">Snapcraft&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">The app store with secure packages and ultra-reliable updates for multiple Linux distros</p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-fixed-width"><h5>Also from Canonical</h5></div>
      <div class="row">
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="https://cloud-images.ubuntu.com/" class="p-link--soft">Ubuntu Image Service&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Hardened, standardised or customised Ubuntu images on public clouds and private infra</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="https://cloud-init.io/" class="p-link--soft">Cloud-init&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Control and customize your cloud instances on boot and during their lifecycle</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="https://mir-server.io/" class="p-link--soft">Mir&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Ultra-fast and lightweight Wayland compositor for secure desktop and device displays</p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-fixed-width"><hr></div>
      <div class="row">
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="https://conjure-up.io/" class="p-link--soft">Conjure-up&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Publish and deploy predefined complex software stacks for cloud, CAAS and bare-metal</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="http://www.netplan.io/" class="p-link--soft">Netplan&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Network abstraction for Linux to simplify and standardise complex network configuration</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="https://multipass.run/" class="p-link--soft">Multipass&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">On-demand build-and-test VMs for cloud devs on Windows, Mac and Linux desktops</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
