<header id="navigation" class="p-navigation is-dark">
  <div class="p-navigation__row">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__link" href="/">
          <img class="p-navigation__image" src="https://assets.ubuntu.com/v1/2eec3fd9-logo.svg" alt="" width="115">
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
      <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
    </div>
    <nav class="p-navigation__nav" aria-label="Example main navigation">
      <ul class="p-navigation__items">
        <li class="p-navigation__item">
          <a class="p-navigation__link" href="/partners">Partners</a>
        </li>
        <li class="p-navigation__item">
          <a class="p-navigation__link" href="/careers">Career</a>
        </li>
      </ul>
      <ul class="p-navigation__items u-hide js-show-nav" role="menu">
        <li
          class="p-navigation__item--dropdown-toggle {% if request.path|get_nav_path == 'canonical' %}is-selected{% endif %}"
          role="menuitem" id="canonical-nav"
          onmouseover="fetchDropdown('/partial/navigation-canonical', 'canonical-nav-content'); this.onmouseover = null;">
          {% if request.path|get_nav_path == 'canonical' %}
          <a class="p-navigation__link" href="/canonical">Canonical</a>
          {% else %}
          <a class="p-navigation__link" href="#canonical-nav-content"
            onfocus="fetchDropdown('/partial/navigation-canonical', 'canonical-nav-content');">Canonical</a>
          {% endif %}
        </li>
    </nav>
  </div>
</header>
<div class="dropdown-window-overlay fade-animation"></div>
<div class="dropdown-window slide-animation">
  <div class="u-hide" id="canonical-nav-content"></div>
</div>

<script>
  var nav = document.querySelector('.js-show-nav');
  var hash = window.location.hash;
  if (nav) {
    nav.classList.remove('u-hide');
  }
  
  function fetchDropdown(url, id) {
    const div = document.getElementById(id);
    fetch(url)
      .then(function (response) {
        return response.text();
      })
      .then(function (text) {
        div.innerHTML = text;
      })
      .catch(function (error) {
        console.log('Request failed', error)
      })
  }
</script>
