{% block header_banner %}

  {% if request.path|get_nav_path == "data" %}
    {% include "partial/_data-navigation.html" %}
  {% elif request.path|get_nav_path == "microcloud" %}
    {% include "partial/_microcloud-navigation.html" %}
  {% elif request.path|get_nav_path == "lxd" %}
    {% include "partial/_lxd-navigation.html" %}
  {% else %}
    {% include "partial/_standard-navigation.html" %}
  {% endif %}
  <script src="{{ versioned_static('js/modules/global-nav/global-nav.js') }}"></script>
  <script>
    canonicalGlobalNav.createNav({ breakpoint: 1036 })
  </script>
{% endblock header_banner %}
