
  <div class="dropdown-window__content u-no-padding--top u-no-padding--bottom">
    <div class="p-strip--light is-x-shallow u-no-padding--bottom">
      <div class="row">
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/partners/cloud" class="p-link--soft">Cloud&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Ubuntu on clouds is optimised, tested and certified by Canonical for performance and security</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/partners/server" class="p-link--soft">Server&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Certified hardware for efficient data centers from the large-scale core to distributed edge</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/partners/desktop" class="p-link--soft">Desktop&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Pre-installed and certified Ubuntu on desktops, laptops and workstations</p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-fixed-width"><hr></div>
      <div class="row">
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/partners/silicon" class="p-link--soft">Silicon&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Enablement and optimisation of Ubuntu on a wide range of CPUs and chipsets, boards and SOCs</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/partners/openstack" class="p-link--soft">OpenStack&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Third-party software extends Canonical Openstack with compliance, backup, storage and SDN</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/partners/apps-and-snaps" class="p-link--soft">Apps &amp; Snaps&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Thousands of publishers deliver an incredible range of apps for cloud, workstation and devices</p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-fixed-width"><hr></div>
      <div class="row">
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/partners/resellers" class="p-link--soft">Resellers&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Channel partners ensure that local Ubuntu expertise is available on every continent</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/partners/devices" class="p-link--soft">Devices&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">ODM, factory, integration and device management partners get your device to market faster</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/partners/charms" class="p-link--soft">Charms&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Cloud-native ops store for public, private and container infrastructure</p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-fixed-width"><hr></div>
      <div class="row">
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/partners/hosting" class="p-link--soft">Hosting&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Outsource hardware-level operations for managed MAAS and OpenStack to secure facilities</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/partners/system-integrators" class="p-link--soft">System Integrators&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Deliver solutions on Ubuntu to drive down costs and accelerate the adoption of open source</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/partners/training" class="p-link--soft">Training&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Grow your skills and test your team, certify your talent for Ubuntu operations and development</p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-fixed-width"><hr></div>
      <div class="row">
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/partners/kubernetes" class="p-link--soft">Kubernetes&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Public cloud K8s on Ubuntu, and third-party compliance, storage and networking solutions</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/partners/paas" class="p-link--soft">PAAS&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Long term certification, security and maintenance of Ubuntu runtimes for enterprise certainty</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/f6fbd763-picto-cloud-midaubergine.svg" class="p-media-object__image">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="/partners/serverless" class="p-link--soft">Serverless&nbsp;&rsaquo;</a>
              </h3>
              <p class="p-media-object__content">Standard environments simplify function reuse from multi-cloud to edge</p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-fixed-width"><hr></div>
      <div class="u-sv3">
        <div class="row">
          <div class="col-10">
            <ul class="p-inline-list--middot is-x-dense">
              <li class="p-inline-list__item"><a href="/partners/find-a-partner">Find a partner</a></li>
              <li class="p-inline-list__item"><a href="/partners/become-a-partner">Become a partner</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
