<section class="p-strip--mid-light is-deep">
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <div class="p-media-object">
        <img src="https://assets.ubuntu.com/v1/2cdff5cc-magnifier-find-a-partner-footer.svg" alt=""
          class="p-media-object__image">
        <div class="p-media-object__details">
          <h2 class="p-media-object__title">Find a partner</h2>
          <p class="p-media-object__content u-sv3">Looking for a supplier with Ubuntu expertise? Select from the
            complete list of our partners.</p>
          <a href="/partners/find-a-partner">Find a partner&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
    <div class="col-6 p-divider__block">
      <div class="p-media-object">
        <img src="https://assets.ubuntu.com/v1/292d1694-become-a-partner-footer.svg" alt="" class="p-media-object__image">
        <div class="p-media-object__details">
          <h2 class="p-media-object__title">Become a partner</h2>
          <p class="p-media-object__content u-sv3">Interested in becoming an Ubuntu partner? Talk to us today to learn
            more about our programmes.</p>
          <a href="/partners/become-a-partner">Talk to us about becoming a partner&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </div>
</section>
