<div tabindex="0" role="tabpanel" id="kernel-patching-tab" aria-labelledby="kernel-patching" aria-hidden="true">
  <p>Livepatch prevents unplanned maintenance windows for high and critical severity kernel vulnerabilities by patching the Linux kernel while the system runs.</p>
  <div class="p-strip is-shallow">
    {{ 
      image (
      url="https://assets.ubuntu.com/v1/9543858e-placeholder.png",
      alt="",
      width="872",
      height="569",
      hi_def=True,
      loading="lazy"
      ) | safe
    }}
  </div>
  <a href="https://ubuntu.com/security/livepatch">Reduce downtime and unplanned work with Livepatch&nbsp;&rsaquo;</a>
</div>