<div tabindex="0" role="tabpanel" id="self-healing-infra-tab" aria-labelledby="self-healing-infra" aria-hidden="true">
  <p>CNEP enables repeatable and reliable cluster deployments.</p>
  <p>Terraform is the industry standard infrastructure-as-code automation framework. It enables consistency and reproducibility across the hybrid cloud stack and lets you integrate with CI/CD pipelines.</p>  
  <p>MAAS provides comprehensive bare metal automation to effortlessly commission, deploy, manage and retire physical servers.</p>
  <p>Kubernetes Cluster API (CAPI) automates declarative deployment of clusters and manages full-stack environments with both VMs and containers.</p>
  <div class="p-strip is-shallow">
    {{ 
      image (
      url="https://assets.ubuntu.com/v1/11fade1d-telco-k8s-2.png",
      alt="",
      width="398",
      height="283",
      hi_def=True,
      loading="lazy"
      ) | safe
    }}
  </div>
</div>