<div tabindex="0" role="tabpanel" id="highest-level-compliance-tab" aria-labelledby="highest-level-compliance" aria-hidden="true">
  <p>CNEP provides hardening, auditing, confidential compute, encryption and identity management.</p>
  <p>Get FIPS 140-2 encryption and a secure software foundation including a 10-year support lifespan with extensive security patching and compliance with NIST 800-53, PCI DSS, DISA STIG, ISO 27001, and NCSC TSA/TSR.</p>
  <p>The optional Qualys agent provides critical security intelligence on demand and automates auditing, compliance and protection at the cluster level.</p>
  <div class="p-strip is-shallow">
    {{ 
      image (
      url="https://assets.ubuntu.com/v1/9543858e-placeholder.png",
      alt="",
      width="872",
      height="569",
      hi_def=True,
      loading="lazy"
      ) | safe
    }}
  </div>
</div>