<div tabindex="0" role="tabpanel" id="highest-level-compliance-tab" aria-labelledby="highest-level-compliance" aria-hidden="true">
  <p>CNEP provides hardening, auditing, confidential compute, encryption and identity management.</p>
  <p>Get FIPS 140-2 encryption and a secure software foundation including a 10-year support lifespan with extensive security patching and compliance with NIST 800-53, PCI DSS, DISA STIG, ISO 27001, and NCSC TSA/TSR.</p>
  <p>The optional Qualys agent provides critical security intelligence on demand and automates auditing, compliance and protection at the cluster level.</p>
  <div class="p-strip is-shallow u-fixed-width">
    <div class="p-logo-section">
      <div class="p-logo-section__items">
        <div class="p-logo-section__item">
          {{ 
            image (
            url="https://assets.ubuntu.com/v1/a6156968-security-telco.png",
            alt="",
            width="62",
            height="83",
            hi_def=True,
            loading="auto",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ 
            image (
            url="https://assets.ubuntu.com/v1/469c919d-csec-logo-updated.png",
            alt="CSEC",
            width="52",
            height="129",
            hi_def=True,
            loading="auto",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ 
            image (
            url="https://assets.ubuntu.com/v1/62a2feea-CIS-benchmark-logo-updated.png",
            alt="CIS",
            width="142",
            height="129",
            hi_def=True,
            loading="auto",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ 
            image (
            url="https://assets.ubuntu.com/v1/96eb58b5-FIPS-logo-updated.png",
            alt="FIPS",
            width="60",
            height="129",
            hi_def=True,
            loading="auto",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ 
            image (
            url="https://assets.ubuntu.com/v1/f745f4da-ncsc-logo-updated.png",
            alt="NCSC",
            width="138",
            height="129",
            hi_def=True,
            loading="auto",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ 
            image (
            url="https://assets.ubuntu.com/v1/339ebb24-gdpr-logo-updated.png",
            alt="GDPR",
            width="70",
            height="129",
            hi_def=True,
            loading="auto",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ 
            image (
            url="https://assets.ubuntu.com/v1/de724323-DISA-logo-updated.png",
            alt="DISA",
            width="91",
            height="129",
            hi_def=True,
            loading="auto",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ 
            image (
            url="https://assets.ubuntu.com/v1/19ee856c-FedRAMP-updated.png",
            alt="FedRAMP",
            width="46",
            height="129",
            hi_def=True,
            loading="auto",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ 
            image (
            url="https://assets.ubuntu.com/v1/baa21978-hipaa-logo-updated.png",
            alt="HIPAA",
            width="82",
            height="129",
            hi_def=True,
            loading="auto",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
      </div>
    </div>
  </div>
</div>