{% extends 'base_index.html' %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/19gcIoKEibXTvZCsmtYCSQBMnBUmNUJI6RaLoMHL2_TA/edit
{% endblock %}

{% block title %}Managed OpenSearch services by Canonical{% endblock %}

{% block meta_description %}
  Learn about Canonical’s managed services for OpenSearch, the industry leading open source search engine, analytics tool and vector database.
{% endblock %}

{% block body_class %}is-paper{% endblock %}

{% block content %}
  <section class="p-section--hero">
    <div class="row">
      <div class="col-3 col-medium-2">
        <div class="u-hide--small">
          {{ image(url="https://assets.ubuntu.com/v1/ff455ff8-opensearch-logo--signpost.png",
                    alt="OpenSearch",
                    width="210",
                    height="70",
                    hi_def=True,
                    loading="lazy") | safe
          }}
        </div>
      </div>
      <div class="col-9 col-medium-4">
        <div class="p-section--shallow">
          <h1>Managed OpenSearch by Canonical</h1>
          <p>
            Free up time to focus on building applications and business development rather than maintaining your database. Get automation, enterprise-grade security, scalability, availability, monitoring, and support from trusted experts with our Managed OpenSearch service.
          </p>
        </div>
        <hr class="p-rule--muted" />
        <a class="p-button--positive js-invoke-modal"
           href="/contact-us"
           aria-controls="data-opensearch-modal">Schedule a call</a>
        <a class="p-button"
           href="https://assets.ubuntu.com/v1/a7d1c19a-Charmed%20OpenSearch%20-%20Datasheet%20(1).pdf">Download the datasheet</a>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row">
      <hr class="p-rule" />
      <h2>Managed OpenSearch on your cloud</h2>
    </div>
    <div class="row">
      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/36a0cd3b-microsoft-azure-2021.png",
                        alt="Microsoft Azure",
                        width="78",
                        height="256",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/9faa9b91-aws-logo.png",
                        alt="AWS",
                        width="125",
                        height="256",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/497cabc1-google-cloud-logo.png",
                        alt="Google Cloud",
                        width="397",
                        height="256",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/f7a0c5ff-kubernetes-logomark-logo.png",
                        alt="Kubernetes",
                        width="105",
                        height="384",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/165fa040-openstack-logo.png",
                        alt="OpenStack",
                        width="426",
                        height="256",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/a89f2843-microcloud.png",
                        alt="Microcloud",
                        width="394",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width p-section--shallow">
      <hr class="p-rule" />
      <div class="row">
        <div class="col-6 col-medium-6">
          <h2>
            Why choose Canonical’s
            <br class="u-hide--medium u-hide--small" />
            Managed OpenSearch
          </h2>
        </div>
        <div class="col-6 u-hide--medium">
          {{ image(url="https://assets.ubuntu.com/v1/30891bca-Image.png",
                    alt="",
                    width="1800",
                    height="1015",
                    hi_def=True,
                    attrs={"class": "p-image-container__image"},
                    loading="lazy") | safe
          }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-9 col-medium-6 col-start-large-4">
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Streamline operations</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Offload critical OpenSearch operational service delivery to Canonical, so that your internal team can focus more on your business goals.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">High availability</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              High uptime backed by an SLA for peace of mind. We guarantee 99.9% availability of the OpenSearch service. Our deep expertise in open source software underpins your SLA.
            </p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Secure and compliant</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>Our operations are certified, with regular independent audits for your assurance.</p>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="row">
          <div class="col-3 col-medium-3">
            <h3 class="p-heading--5">Innovate at scale with your data</h3>
          </div>
          <div class="col-6 col-medium-3">
            <p>
              Delivering at web scale can be immensely challenging. Canonical’s managed services for OpenSearch scale efficiently – so your service remains stable and exceptionally cost effective as your business grows.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width p-section--shallow">
      <hr class="p-rule" />
      <div class="row--50-50">
        <div class="col">
          <h2>Our process</h2>
        </div>
        <div class="col">
          <p>
            Our Managed Solutions process is easy and intuitive. You’ll initially be consulted by our specialists to design the best managed solution for your needs. Afterwards, it’s all on us:
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-9 col-medium-6 col-start-large-4">
        <div class="p-equal-height-row u-no-padding--bottom p-section--shallow">
          <div class="p-equal-height-row__col">
            <div class="p-equal-height-row__item">
              <div class="p-image-container is-highlighted u-hide--small u-hide--medium">
                {{ image(url="https://assets.ubuntu.com/v1/7a451504-Rectangle%203.png",
                                alt="",
                                width="852",
                                height="1278",
                                hi_def=True,
                                sizes="320px",
                                attrs={"class": "p-image-container__image"},
                                loading="lazy") | safe
                }}
              </div>
              <hr class="p-rule--highlight u-hide--medium u-hide--small p-rule--muted" />
              <h3 class="p-heading--5">1. Deployment</h3>
            </div>
            <p class="p-equal-height-row__item">
              Specialised Canonical engineers deploy a database sustainably and efficiently on any cloud.
            </p>
          </div>
          <div class="p-equal-height-row__col">
            <div class="p-equal-height-row__item">
              <div class="p-image-container is-highlighted u-hide--small u-hide--medium">
                {{ image(url="https://assets.ubuntu.com/v1/1df0e940-Rectangle%204.png",
                                alt="",
                                width="852",
                                height="1278",
                                sizes="320px",
                                hi_def=True,
                                attrs={"class": "p-image-container__image"},
                                loading="lazy") | safe
                }}
              </div>
              <hr class="p-rule--highlight u-hide--medium u-hide--small p-rule--muted" />
              <h3 class="p-heading--5">2. Management</h3>
            </div>
            <p class="p-equal-height-row__item">
              Our team manages all your ‘day 2’ operations, from observability to upgrades. We handle all issues, and consistently re-enforce the security of your environment.
            </p>
          </div>
          <div class="p-equal-height-row__col">
            <div class="p-equal-height-row__item">
              <div class="p-image-container is-highlighted u-hide--small u-hide--medium">
                {{ image(url="https://assets.ubuntu.com/v1/6cd188e9-Rectangle%202.png",
                                alt="",
                                width="852",
                                height="1278",
                                hi_def=True,
                                sizes="320px",
                                attrs={"class": "p-image-container__image"},
                                loading="lazy") | safe
                }}
              </div>
              <hr class="p-rule--highlight u-hide--medium u-hide--small p-rule--muted" />
              <h3 class="p-heading--5">2. Optional handover</h3>
            </div>
            <p class="p-equal-height-row__item">
              We’re lock-in free, so if after a while you want to start managing your environments by yourself, we can teach you how and give you remote support for high-severity cases.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Managed NoSQL databases for big data and AI-powered applications</h2>
      </div>
      <div class="col">
        <a href="https://ubuntu.com/engage/managed-nosql">
          <div class="p-image-wrapper">
            <div class="p-image-container u-hide--small">
              {{ image(url="https://assets.ubuntu.com/v1/b252a9b1-generic-webinar-thumbnail.png",
                            alt="",
                            width="1800",
                            height="1015",
                            hi_def=True,
                            attrs={"class": "p-image-container__image"},
                            loading="lazy") | safe
              }}
            </div>
          </div>
        </a>
        <p>
          Watch the webinar for a deep dive into the advantages of adopting a managed NoSQL database for key big data and AI use cases.
        </p>
        <p>Learn what operational excellence means for NoSQL databases, and how you can achieve it.</p>
        <div class="p-section--shallow">
          <hr class="p-rule--muted" />
          <p>
            <a href="https://ubuntu.com/engage/managed-nosql">Watch the webinar to learn more&nbsp;&rsaquo;</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Key features</h2>
      </div>
      <div class="col">
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">
            <strong>Backed by a 99.9% uptime SLA.</strong>
            <p>
              Your data is the backbone of your business. Canonical ensures that it’s available with a high uptime commitment. Canonical managed services for OpenSearch keep the data flowing.
            </p>
          </li>
          <li class="p-list__item is-ticked">
            <strong>Service delivery with security in mind.</strong>
            <p>
              Minimise risks. Canonical managed services are routinely audited for conformance to industry standards and legislation like GDPR, ISO:27001 and SOC-2 Type II.
            </p>
          </li>
          <li class="p-list__item is-ticked">
            <strong>A complete solution, on your cloud tenancy or in your data centre.</strong>
            <p>
              Canonical covers the full project engagement including architecture design, deployment, transition and day to day operations.
            </p>
          </li>
          <li class="p-list__item is-ticked">
            <strong>Service health dashboards for full transparency.</strong>
            <p>
              We provide you with access to OpenSearch health dashboards, so that you can verify the health and uptime of your service directly.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="p-section">
    <hr class="p-rule is-fixed-width" />
    <div class="row p-section--shallow">
      <div class="col-6 col-medium-3">
        <h2>Managed OpenSearch pricing</h2>
      </div>
      <div class="col-6 col-medium-3">
        <p>A low total cost of ownership. Up to five times lower than cloud services when fully costed.</p>
      </div>
    </div>
    <div class="row--50-50">
      <div class="col">
        <hr class="p-rule--highlight u-no-margin--bottom" />
        <div class="p-card--overlay u-no-padding--top" style="min-height: 600px">
          <div class="row">
            <div class="col-4 col-medium-2 col-small-3">
              <h3 class="u-align-text--left u-no-margin--bottom">Managed OpenSearch on public cloud instances</h3>
            </div>
            <div class="col-2 col-medium-1 col-small-1">
              <h3 class="u-align-text--right u-no-margin--bottom">$3099</h3>
              <p class="u-align-text--right">
                Per year,
                <br />
                per VM*
              </p>
            </div>
          </div>
          <p>The low-cost solution for maximum scalability.</p>
          <hr class="p-rule--muted" />
          <div class="p-section--shallow u-no-margin--bottom">
            <ul class="p-list--divided">
              <li class="p-list__item is-ticked">Highly automated service delivery for security and efficiency</li>
              <li class="p-list__item is-ticked">Real operations staff proactively monitoring and on call 24/7</li>
              <li class="p-list__item is-ticked">Includes upgrades and security patches</li>
            </ul>
            <p>* Management fee does include the cloud infrastructure cost.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <hr class="p-rule--highlight u-no-margin--bottom" />
        <div class="p-card--overlay u-no-padding--top" style="min-height: 600px">
          <div class="row">
            <div class="col-4 col-medium-2 col-small-3">
              <h3 class="u-align-text--left u-no-margin--bottom">Managed OpenSearch on OpenStack</h3>
            </div>
            <div class="col-2 col-medium-1 col-small-1">
              <h3 class="u-align-text--right u-no-margin--bottom">$9470</h3>
              <p class="u-align-text--right">
                Per year,
                <br />
                per node*
              </p>
            </div>
          </div>
          <p>Secure, managed service delivered to your on-premise data centre by our OpenSearch operations team.</p>
          <hr class="p-rule--muted" />
          <div class="p-section--shallow u-no-margin--bottom">
            <ul class="p-list--divided">
              <li class="p-list__item is-ticked">
                Deliver a web scale OpenSearch data platform on-premise (bare metal) with our managed services team
              </li>
              <li class="p-list__item is-ticked">Maximize efficiency gains</li>
              <li class="p-list__item is-ticked">SLA and compliance commitments so data isn’t compromised</li>
            </ul>
            <p>* All nodes in the cluster must be covered. Per-VM pricing is also available.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr class="p-rule is-fixed-width" />

  <section class="p-strip is-deep">
    <div class="u-fixed-width">
      <p class="p-heading--2">
        <a href="https://ubuntu.com/managed">Learn more about Managed Services&nbsp;&rsaquo;</a>
      </p>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Managed OpenSearch resources</h2>
      </div>
      <div class="col">
        <div class="p-section--shallow">
          <h3 class="p-heading--5 u-no-margin--bottom">
            <a href="https://ubuntu.com/engage/opensearch-ai-webinar">Future-proof AI applications with OpenSearch as a vector database</a>
          </h3>
          <p>
            This webinar explains the role of vector databases in LLMs. In addition, it provides an overview of how  OpenSearch can be used to  embed storage and search.
          </p>
        </div>
        <hr class="p-rule--muted" />
        <div class="p-section--shallow">
          <h3 class="p-heading--5 u-no-margin--bottom">
            <a href="https://ubuntu.com/blog/vector-database-large-language-models-opensearch">Large Language Models (LLMs) Retrieval Augmented Generation (RAG) using Charmed OpenSearch</a>
          </h3>
          <p>
            Retrieval Augmented Generation (RAG) is a method that enables users to converse with data repositories. It’s a tool that can revolutionise how you access and use data, as we showed in our tutorial. Charmed OpenSearch is a simple and robust technology that can enable RAG capabilities.
          </p>
        </div>
      </div>
    </div>
  </section>

  <script defer src="{{ versioned_static('js/modals.js') }}"></script>

  {% with %}
    {% set returnURL = "https://canonical.com/data/opensearch#success" %}

    {% include "data/_form-data-opensearch.html" %}
  {% endwith %}
{% endblock %}
