{% extends 'base_index.html' %}

{% block title %}
    Get support for OpenSearch, an open source search  engine, analytics tool and vector database.
{% endblock %}

{% block meta_description %}
    Get support for OpenSearch, from Canonical. 24/7 or weekday support and up to ten years security patching per release track.
{% endblock %}

{% block meta_copydoc %}
    https://docs.google.com/document/d/1ovtXv8RBybw-flvttyqWOzZivUryQMP34T1UGe90HlY/edit
{% endblock meta_copydoc %}

{% block body_class %}
    is-paper
{% endblock body_class %}

{% block content %}
    <section class="p-strip is-shallow u-no-padding--bottom">
        <div class="p-section">
            <div class="row">
                <div class="col-3 col-medium-2">
                    <div class="u-hide--small u-vertically-center u-aspect-ratio--16-9"
                         style="margin-top: -55px">
                        {{ image (
                        url="https://assets.ubuntu.com/v1/6deb3921-opensearch-logo.png",
                        alt="Opensearch",
                        width="198",
                        height="186",
                        hi_def=True,
                        loading="lazy"
                        ) | safe
                        }}
                    </div>
                </div>
                <div class="col-9 col-medium-4">
                    <div class="p-section--shallow">
                        <h1>What is OpenSearch?</h1>
                        <p>
                            OpenSearch is an open source search and analytics suite that developers use to build solutions for search, data observability, data ingestion and more. It is designed for scalability, offering powerful full-text search capabilities and supporting various data types, including structured and unstructured data. OpenSearch has rapidly developed into a standalone platform with unique features and capabilities.
                        </p>
                    </div>
                    <hr />
                    <a class="p-button--positive"
                       href="/contact-us"
                       aria-controls="data-spark-modal">Contact us</a>
                    <a class="p-button"
                       href="https://assets.ubuntu.com/v1/6dc3440a-Charmed%20OpenSearch%20-%20Datasheet%20-%20amended%2004%2006%202024.pdf">Datasheet</a>
                </div>
            </div>
        </div>
    </section>

    <section class="p-section">
        <hr class="is-fixed-width" />
        <div class="row">
            <div class="col-3 col-medium-2">
                <h2 class="p-text--small-caps highlight">Why choose OpenSearch</h2>
            </div>
            <div class="col-9 col-medium-4">
                <ul class="p-list">
                    <li class="p-list__item">
                        <p class="p-heading--2">Transactionality and speed</p>
                    </li>
                    <li class="p-list__item">
                        <p class="p-heading--2">Scalability and high availability</p>
                    </li>
                    <li class="p-list__item">
                        <p class="p-heading--2">Data security</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="p-section u-fixed-width">
        <hr />
        <h2>How do companies use OpenSearch?</h2>
        <div class="p-equal-height-row">
            <div class="p-equal-height-row__col">
                <div class="p-equal-height-row__item">
                    <div class="p-image-container is-highlighted u-hide--small">
                        <img width="320"
                             class="p-image-container__image"
                             src="https://assets.ubuntu.com/v1/c4176cd9-Kernelt%20industries-80%201.jpg"
                             alt="" />
                    </div>
                </div>
                <div class="p-equal-height-row__item">
                    <hr class="p-rule--highlight u-hide--medium u-hide--small" />
                    <h5 class="p-heading--5">Search</h5>
                </div>
                <p class="p-equal-height-row__item">
                    OpenSearch enhances your website or e-commerce search capabilities with full-text querying, autocomplete, scroll search, and customisable scoring and ranking.
                </p>
            </div>
            <div class="p-equal-height-row__col">
                <div class="p-equal-height-row__item">
                    <div class="p-image-container is-highlighted u-hide--small">
                        <img width="320"
                             class="p-image-container__image"
                             src="https://assets.ubuntu.com/v1/1624c652-Kernelt%20industries-80%201-1.jpg"
                             alt="" />
                    </div>
                </div>
                <div class="p-equal-height-row__item">
                    <hr class="p-rule--highlight u-hide--medium u-hide--small" />
                    <h5 class="p-heading--5">Analytics and machine learning</h5>
                </div>
                <p class="p-equal-height-row__item">
                    You can use OpenSearch in multiple analytics solutions such as events analytics, trace analytics, and machine learning, which uses algorithms such as anomaly detection and data clustering.
                </p>
            </div>
            <div class="p-equal-height-row__col">
                <div class="p-equal-height-row__item">
                    <div class="p-image-container is-highlighted u-hide--small">
                        <img width="320"
                             class="p-image-container__image"
                             src="https://assets.ubuntu.com/v1/eb9824bf-Kernelt%20industries-80%201-2.jpg"
                             alt="" />
                    </div>
                </div>
                <div class="p-equal-height-row__item">
                    <hr class="p-rule--highlight u-hide--medium u-hide--small" />
                    <h5 class="p-heading--5">Security</h5>
                </div>
                <p class="p-equal-height-row__item">
                    Security information and event management (SIEM) solutions can use OpenSearch to  investigate, detect, analyse, and respond to security threats that can jeopardise the success of businesses and organisations and their online operations.
                </p>
            </div>
            <div class="p-equal-height-row__col">
                <div class="p-equal-height-row__item">
                    <div class="p-image-container is-highlighted u-hide--small">
                        <img width="320"
                             class="p-image-container__image"
                             src="https://assets.ubuntu.com/v1/000a7695-Kernelt%20industries-80%201-3.jpg"
                             alt="" />
                    </div>
                </div>
                <div class="p-equal-height-row__item">
                    <hr class="p-rule--highlight u-hide--medium u-hide--small" />
                    <h5 class="p-heading--5">Observability</h5>
                </div>
                <p class="p-equal-height-row__item">
                    You can use OpenSearch to create observability applications through the OpenSearch Dashboard. You can also use it to schedule, export and share reports.
                </p>
            </div>
        </div>
    </section>

    <section class="p-section">
        <div class="row--50-50 p-section--shallow">
            <hr />
            <div class="col">
                <h2>Feature breakdown</h2>
            </div>
        </div>
        <div class="row is-split-on-medium">
            <div class="col-9 col-medium-6 col-start-large-4">
                <hr class="is-muted" />
                <div class="row p-section--shallow">
                    <div class="col-3">
                        <h3 class="p-heading--5">Search engine</h3>
                    </div>
                    <div class="col-6">
                        <p>
                            Data must be indexed before it can be searched. Indexing is the process that search engines use to organise data for quick retrieval, creating a structure known as an index.
                        </p>
                        <p>
                            In OpenSearch, the fundamental unit of data is a JSON document, and each document within an index is identified by a unique ID.
                        </p>
                        <p>
                            To improve OpenSearch's indexing capabilities, it uses the Index State Management (ISM) plugin. This plugin automates periodic administrative tasks by triggering actions based on the index's age, size, or document count. With the ISM plugin, you can create policies that automatically manage index rollovers or deletions according to your specific needs.
                        </p>
                    </div>
                </div>
                <hr class="is-muted" />
                <div class="row p-section--shallow">
                    <div class="col-3">
                        <h3 class="p-heading--5">OpenSearch dashboard</h3>
                    </div>
                    <div class="col-6">
                        <p>
                            <a href="https://github.com/opensearch-project/OpenSearch-Dashboards">OpenSearch Dashboard</a> is an open source, integrated visualisation tool that allows users to explore their data in OpenSearch. From real-time application monitoring, threat detection, and incident management to personalised search, OpenSearch Dashboards represent trends, outliers, and patterns in data graphically.
                        </p>
                    </div>
                </div>
                <hr class="is-muted" />
                <div class="row ">
                    <div class="col-3">
                        <h3 class="p-heading--5">Vector database</h3>
                    </div>
                    <div class="col-6">
                        <p>
                            Utilising OpenSearch as a vector database enables you to combine traditional search, analytics, and vector search in one solution. OpenSearch's vector database capabilities have the potential to speed up the development of artificial intelligence (AI) by serving as a knowledge base. It can be used in various use cases such as semantic search, multimodal search, and more.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="p-section">
        <div class="row--50-50 p-section--shallow">
            <hr />
            <div class="col">
                <h2>Feature breakdown</h2>
            </div>
        </div>
        <div class="row is-split-on-medium">
            <div class="col-9 col-medium-6 col-start-large-4">
                <hr class="is-muted" />
                <div class="row p-section--shallow">
                    <div class="col-3">
                        <h3 class="p-heading--5">Search engine</h3>
                    </div>
                    <div class="col-6">
                        <p>
                            Data must be indexed before it can be searched. Indexing is the process that search engines use to organise data for quick retrieval, creating a structure known as an index.
                        </p>
                        <p>
                            In OpenSearch, the fundamental unit of data is a JSON document, and each document within an index is identified by a unique ID.
                        </p>
                        <p>
                            To improve OpenSearch's indexing capabilities, it uses the Index State Management (ISM) plugin. This plugin automates periodic administrative tasks by triggering actions based on the index's age, size, or document count. With the ISM plugin, you can create policies that automatically manage index rollovers or deletions according to your specific needs.
                        </p>
                    </div>
                </div>
                <hr class="is-muted" />
                <div class="row p-section--shallow">
                    <div class="col-3">
                        <h3 class="p-heading--5">OpenSearch dashboard</h3>
                    </div>
                    <div class="col-6">
                        <p>
                            <a href="https://github.com/opensearch-project/OpenSearch-Dashboards">OpenSearch Dashboard</a> is an open source, integrated visualisation tool that allows users to explore their data in OpenSearch. From real-time application monitoring, threat detection, and incident management to personalised search, OpenSearch Dashboards represent trends, outliers, and patterns in data graphically.
                        </p>
                    </div>
                </div>
                <hr class="is-muted" />
                <div class="row ">
                    <div class="col-3">
                        <h3 class="p-heading--5">Vector database</h3>
                    </div>
                    <div class="col-6">
                        <p>
                            Utilising OpenSearch as a vector database enables you to combine traditional search, analytics, and vector search in one solution. OpenSearch's vector database capabilities have the potential to speed up the development of artificial intelligence (AI) by serving as a knowledge base. It can be used in various use cases such as semantic search, multimodal search, and more.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="p-section">
        <div class="row--50-50">
            <hr />
            <div class="col">
                <h2>The role of OpenSearch vector databases in LLM applications</h2>
            </div>
            <div class="col">
                <div class="col-6 u-embedded-media">
                    <iframe class="u-embedded-media__element"
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/G5XzI_NwZwk?si=3-m_b_KJLNgoAiZM"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin"
                            allowfullscreen></iframe>
                </div>
                <p>
                    Vector databases facilitate efficient data representation, retrieval and manipulation, enabling AI systems to generate high-fidelity outputs across various domains, from natural language processing to image synthesis.
                </p>
                <p>
                    This webinar discusses various concepts, such as generative AI, retrieval augmented generation (RAG), the importance of search engines like OpenSearch, and efficient open source tooling that enables developers and enthusiasts to build their generative AI applications.
                </p>
                <hr class="is-muted" />
                <p>
                    <a href="https://www.youtube.com/watch?v=G5XzI_NwZwk">Watch the webinar to learn more
                    &nbsp;&rsaquo;</a>
                </p>
            </div>
        </div>
    </section>

    <section class="p-strip is-deep">
        <div class="u-fixed-width">
            <p class="p-heading--2">
                <a href="/blog/author/mtabirao">Updates from the product manager&nbsp;›</a>
            </p>
        </div>
    </section>

    <section class="p-section">
        <div class="row--50-50">
            <hr />
            <div class="col">
                <h2 class="p-text--small-caps">Run OpenSearch on any public, private or hybrid cloud</h2>
            </div>
            <div class="col">
                <p>
                    When you use Canonical’s OpenSearch, you get the benefit of running on top of an operating system image that’s optimised for every cloud. Run your OpenSearch on Azure, GCP, AWS, on Kubernetes or your private data centre, with OpenStack, Microcloud and VMWare.
                </p>
            </div>
            <div class="p-logo-section">
                <div class="p-logo-section__items">
                    <div class="p-logo-section__item">

                        <div class=" lazyloaded" data-noscript="">
                            <img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_78,h_256/https://assets.ubuntu.com/v1/36a0cd3b-microsoft-azure-2021.png"
                                 srcset="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_156,h_512/https://assets.ubuntu.com/v1/36a0cd3b-microsoft-azure-2021.png 2x"
                                 alt="Microsoft Azure"
                                 width="78"
                                 height="256"
                                 loading="lazy"
                                 class="p-logo-section__logo" />
                        </div>

                    </div>
                    <div class="p-logo-section__item">

                        <div class=" lazyloaded" data-noscript="">
                            <img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_125,h_256/https://assets.ubuntu.com/v1/9faa9b91-aws-logo.png"
                                 srcset="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_250,h_512/https://assets.ubuntu.com/v1/9faa9b91-aws-logo.png 2x"
                                 alt="AWS"
                                 width="125"
                                 height="256"
                                 loading="lazy"
                                 class="p-logo-section__logo" />
                        </div>

                    </div>
                    <div class="p-logo-section__item">

                        <div class=" lazyloaded" data-noscript="">
                            <img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_397,h_256/https://assets.ubuntu.com/v1/497cabc1-google-cloud-logo.png"
                                 srcset="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_794,h_512/https://assets.ubuntu.com/v1/497cabc1-google-cloud-logo.png 2x"
                                 alt="Google Cloud"
                                 width="397"
                                 height="256"
                                 loading="lazy"
                                 class="p-logo-section__logo" />
                        </div>

                    </div>
                    <div class="p-logo-section__item">

                        <div class=" lazyloaded" data-noscript="">
                            <img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_105,h_384/https://assets.ubuntu.com/v1/f7a0c5ff-kubernetes-logomark-logo.png"
                                 srcset="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_210,h_768/https://assets.ubuntu.com/v1/f7a0c5ff-kubernetes-logomark-logo.png 2x"
                                 alt="Kubernetes"
                                 width="105"
                                 height="384"
                                 loading="lazy"
                                 class="p-logo-section__logo" />
                        </div>

                    </div>
                    <div class="p-logo-section__item">

                        <div class=" lazyloaded" data-noscript="">
                            <img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_426,h_256/https://assets.ubuntu.com/v1/165fa040-openstack-logo.png"
                                 srcset="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_852,h_512/https://assets.ubuntu.com/v1/165fa040-openstack-logo.png 2x"
                                 alt="OpenStack"
                                 width="426"
                                 height="256"
                                 loading="lazy"
                                 class="p-logo-section__logo" />
                        </div>

                    </div>
                    <div class="p-logo-section__item">

                        <div class=" lazyloaded" data-noscript="">
                            <img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_394,h_312/https://assets.ubuntu.com/v1/a89f2843-microcloud.png"
                                 srcset="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_788,h_624/https://assets.ubuntu.com/v1/a89f2843-microcloud.png 2x"
                                 alt="Microcloud"
                                 width="394"
                                 height="312"
                                 loading="lazy"
                                 class="p-logo-section__logo" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="p-strip is-deep">
        <div class="u-fixed-width">
            <p class="p-heading--2">
                <a href="/blog/author/mtabirao">Updates from the product manager&nbsp;›</a>
            </p>
        </div>
    </section>

    <section class="p-section">
        <div class="row">
            <hr />
            <div class="col-6 col-start-large-7">
                <p>
                    OpenSearch is a registered trademark of Amazon Web Services. Other trademarks are property of their respective owners. Charmed OpenSearch is not sponsored, endorsed, or affiliated with Amazon Web Services.
                </p>
            </div>
        </div>
    </section>
{% endblock content %}
