{% extends 'base_index.html' %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/17eHoiLrhFLrfV8UXD_4bxn-yY1_YToxf4cs8-5kYkxo/edit
{% endblock meta_copydoc %}

{% block title %}Enterprise AI edge computing{% endblock %}

{% block meta_description %}
  Get everything you need to deploy AI at the edge in one solution. Secure and compliant open source optimised for embedded AI use cases.
{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}
  <section class="p-suru--50-50 p-section--shallow">
    <div class="row--50-50">
      <div class="col">
        <h1 class="p-section--shallow">
          Develop AI models and run
          <br class="u-hide--medium u-hide--small" />
          them at the edge &ndash; all on the
          <br class="u-hide--medium u-hide--small" />
          same open source stack
        </h1>
      </div>
      <div class="col">
        <p>
          Edge computing and AI go hand-in-hand to drive some of today's most valuable enterprise use cases. Canonical delivers a single stack with everything you need to easily and securely deploy and manage AI at the edge. Unlock the power of real-time, AI-driven insight in the field.
        </p>
        <hr class="p-rule" />
        <a class="p-button--positive js-invoke-modal"
           href="/contact-us"
           aria-controls="ai-modal">Contact Canonical <span class="u-off-screen">about AI solutions for edge computing</span></a>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Why Canonical for enterprise AI edge computing?</h2>
      </div>
      <div class="col">
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">Single solution with all the tools you need, engineered for edge AI</li>
          <li class="p-list__item is-ticked">Simplify compliance with end-to-end security for your models and edge devices</li>
          <li class="p-list__item is-ticked">Edge-optimised OS, Kubernetes, compute and data processing</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Solve edge AI complexity with an integrated and optimised stack</h2>
      </div>
      <div class="col">
        <p>
          From GPU optimisation to distributed data processing, Canonical delivers an integrated and optimised stack purpose-built to address the specific needs of edge AI.
        </p>
        <p>
          By centralising your edge AI journey on a Canonical stack, you can mitigate the complexity of AI projects that rely on a wide array of open source tools. Keep your projects on track and ensure they deliver ROI in production.
        </p>
        <p>
          Canonical's portfolio encompasses the complete edge AI toolset, including the OS, Kubernetes, MLOps, compute, data processing and certified hardware &ndash; all optimised for the edge.
        </p>
        <hr class="p-rule--muted" />
        <p>
          <a href="https://ubuntu.com/engage/ai-on-the-edge">Watch our AI at the edge webinar&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Security and compliance for any edge AI use case</h2>
      </div>
      <div class="col">
        <p>
          Protect your devices and stay compliant with current and emerging industry regulations &ndash; such as the EU Cyber Resilience Act &ndash; by getting your devices and all of your open source software secured.
        </p>
        <p>
          Run your models securely on any architecture, and continuously protect your devices against emerging threats with reliable over-the-air updates and auto-rollback.
        </p>
        <p>Enjoy up to 12 years of security maintenance for Ubuntu and thousands of open source packages.</p>
        <hr class="p-rule--muted" />
        <p>
          <a href="https://pages.ubuntu.com/rs/066-EOV-335/images/Ubuntu%20Pro%20for%20Devices%20DS%203.5.2024.pdf?version=0">Download the Ubuntu Pro for Devices datasheet&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </section>

  <hr class="p-rule is-fixed-width" />
  <section class="p-strip is-deep">
    <div class="u-fixed-width">
      <h2>
        <a href="https://ubuntu.com/engage/guide-to-deploying-ai-at-the-edge">Download our guide to enterprise edge AI&nbsp;&rsaquo;</a>
      </h2>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Move faster with certified hardware</h2>
      </div>
      <div class="col">
        <p>
          Accelerate your edge AI projects with certified hardware. We partner directly with silicon vendors to optimise and certify our solutions with dedicated edge AI hardware, so you can get the best experience straight out of the box.
        </p>
        <hr class="p-rule--muted" />
        <p>
          <a href="https://ubuntu.com/certified">Learn more about certified hardware&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Ubuntu Core: the edge-optimised OS</h2>
      </div>
      <div class="col">
        <p>
          Minimal, secure and strictly confined, Ubuntu Core is an operating system designed for embedded devices. Ubuntu Core architecture is based on <a href="https://snapcraft.io/about">snaps</a> &ndash; containerised software packages &ndash; and optimised for edge performance, security and reliable updates.
        </p>
        <p>
          Ubuntu Core uses the same kernel, libraries and system software as classic Ubuntu, resulting in a smooth transition from development to production.
        </p>
        <p>
          For your edge AI devices with a long lifespan, we provide up to 12 years of support for Ubuntu Core &ndash; the longest support window in the industry.
        </p>
        <hr class="p-rule--muted" />
        <p>
          <a href="https://ubuntu.com/core">Explore Ubuntu Core&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Continuous security and long-term value with OTA updates</h2>
      </div>
      <div class="col">
        <p>
          Keep your machine learning models updated and secure post-deployment with seamless over-the-air (OTA) updates to your edge devices.
        </p>
        <p>
          Our management tools enable you to deliver OTA updates in strict accordance with your IT policy, and automate an array of other tasks, in both connected and air-gapped environments.
        </p>
        <hr class="p-rule--muted" />
        <p class="p-section--shallow">
          <a href="https://ubuntu.com/landscape">Discover Landscape&nbsp;&rsaquo;</a>
        </p>
        <p>
          With Ubuntu Core, you can create your own Dedicated Snap Store: a private, centralised platform for publishing and distributing software to your devices in a secure and validated way. Control exactly what snaps are available, which devices can access them, and when.
        </p>
        <hr class="p-rule--muted" />
        <p>
          <a href="https://ubuntu.com/core/features/ota-updates">OTA updates with Ubuntu Core&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Low footprint Kubernetes with AI integrations</h2>
      </div>
      <div class="col">
        <p>
          Lightweight containers are ideal for edge environments, and those containers need orchestration. Canonical's MicroK8s is a minimal footprint, zero ops, pure upstream Kubernetes perfectly suited to the edge. MicroK8s is packaged as a secure snap that comes with all the necessary features built in &ndash; including key integrations for AI.
        </p>
        <p>
          The NVIDIA GPU operator is integrated into Canonical Kubernetes, allowing automation of all software components required to provision NVIDIA GPUs.
        </p>
        <hr class="p-rule--muted" />
        <p class="p-section--shallow">
          <a href="/microk8s">Learn more about MicroK8s&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Bring the power of the cloud to the edge</h2>
      </div>
      <div class="col">
        <p>Process large data volumes and run complex ML models in the field by serving compute directly to the edge.</p>
        <p>
          MicroClouds are small-scale, open source clouds consisting of low-footprint clusters of compute nodes with distributed storage and secure networking. They are lightweight, low-touch, and designed for repeatable and reliable remote deployments.
        </p>
        <hr class="p-rule--muted" />
        <p>
          <a href="https://ubuntu.com/engage/guide-to-micro-clouds">CTO's guide to MicroCloud for the edge&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Learn more about edge and AI</h2>
      </div>
      <div class="col">
        <div class="p-section--shallow">
          <p class="p-heading--5">
            <a href="https://ubuntu.com/engage/run-ai-at-scale">Run AI at scale</a>
          </p>
          <p>Read our whitepaper to learn how to build a performant ML Stack with NVIDIA DGX and Kubeflow.</p>
        </div>
        <div class="p-section--shallow">
          <hr class="p-rule--muted" />
          <p class="p-heading--5">
            <a href="https://ubuntu.com/blog/machine-learning-security-risks">An overview of machine learning security risks</a>
          </p>
          <p>Discover the most prominent security threats facing AI projects and how to mitigate them.</p>
        </div>
        <div class="p-section--shallow">
          <hr class="p-rule--muted" />
          <p class="p-heading--5">
            <a href="https://ubuntu.com/engage/exploring-edge-computing-in-automotive">Edge computing in automotive</a>
          </p>
          <p>
            Watch the webinar on how edge computing is impacting the automotive industry, including the rise of autonomous vehicles.
          </p>
        </div>
      </div>
    </div>
  </section>

  <hr class="p-rule is-fixed-width" />
  <section class="p-strip is-deep">
    <div class="u-fixed-width">
      <h2>Send us a message to discuss your AI needs</h2>
      <p class="p-heading--2">
        <a href="/contact-us" class="js-invoke-modal" aria-controls="ai-modal">Contact us&nbsp;&rsaquo;</a>
      </p>
    </div>
  </section>

  {{ load_form("/solutions/ai/edge") | safe }}

{% endblock %}
