{% extends "base_index.html" %}

{% block page_title %}Contact us{% endblock %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/12zxzauq9GV6NYVTeKCCqtwMpflRGZewE5fdTg1SZoOQ/edit
{% endblock meta_copydoc %}

{% block content %}
  <section class="p-strip--image is-dark p-takeover--no-overlays">
    <div class="row">
      <div class="col-8">
        <h1 itemprop="description">Contact Canonical</h1>
        <p class="p-heading--4">
          Are you interested in adopting MAAS for enterprise use or partner with Canonical? Just fill in the form below and a member of our team will be in touch within one working day.
        </p>
      </div>
      <div class="p-card col-4 u-no-margin--bottom is-light">
        <h3 class="p-card__title">Looking for a little professional support?</h3>
        <p>If you are a small organisation, you can purchase packs of Ubuntu Pro in our shop.</p>
        <p>
          <a href="https://buy.ubuntu.com"
             onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'External link', 'eventAction' : 'Click', 'eventLabel' : 'Visit the Ubuntu Pro shop' });">Visit the Ubuntu Pro shop</a>
        </p>
      </div>
    </div>
    \
  </section>

  {{ load_form("/maas/contact-us") | safe }}

{% endblock %}
