{% extends "base_index.html" %}

{% block page_class %}homepage{% endblock %}
{% block page_title %}| Metal as a Service{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1Gv3_A3vW2k7U-0B0KVSHkEnGwgtIlDl5P1jGMSc8sqI/edit{% endblock meta_copydoc %}

{% block content %}
<section class="p-takeover--dark">
  <div class="row">
    <div class="col-7">
      <h1>Very fast server provisioning for your data centre</h1>
      <p>Self-service, remote installation of Windows, CentOS, ESXi and Ubuntu on real servers turns your data centre into a bare metal cloud.</p>
      <p>Welcome to metal-as-a-service.</p>
      <ul class="p-inline-list u-no-margin--bottom">
        <li class="p-inline-list__item">
          <a href="/tutorials/build-a-maas-and-lxd-environment-in-30-minutes-with-multipass-on-ubuntu#1-overview" class="p-button--positive" itemprop="url">Try  MAAS on your PC in minutes</a>
        </li>
        <li class="p-inline-list__item">
          <a aria-label="Find out how to install MAAS" href="/install" class="p-button" itemprop="url">Install MAAS</a>
        </li>
      </ul>
    </div>
    <div class="col-5 u-hide--small">
      <div class="u-embedded-media">
        <iframe
          class="u-embedded-media__element"
          width="441"
          height="247"
          src="https://www.youtube.com/embed/eHfaiKlUYsM?showinfo=0&controls=2&modestbranding=1"
          title="Watch the MAAS video on YouTube"
          frameborder="0"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width">
    <div class="p-strip is-shallow u-no-padding--top">
      <h2>Data centre automation</h2>
      <h4>Your next rack is a bare metal cloud.<br>Metal-As-A-Service (MAAS) provisioning with Windows, ESXi, Linux.</h4>
    </div>
    <ul class="p-list is-split">
      <li class="p-list__item is-ticked">Bare metal cloud with on-demand servers</li>
      <li class="p-list__item is-ticked">Remote edge cluster operations</li>
      <li class="p-list__item is-ticked">Infrastructure monitoring and discovery</li>
      <li class="p-list__item is-ticked">Ansible, Chef, Puppet, SALT, Juju integration</li>
      <li class="p-list__item is-ticked">Super fast install from scratch</li>
      <li class="p-list__item is-ticked">VMWare ESXi, Windows, CentOS, RHEL, Ubuntu</li>
      <li class="p-list__item is-ticked">Custom images with pre-installed apps</li>
      <li class="p-list__item is-ticked">Disk and network configuration</li>
      <li class="p-list__item is-ticked">API-driven DHCP, DNS, PXE, IPAM</li>
      <li class="p-list__item is-ticked">REST API for provisioning</li>
      <li class="p-list__item is-ticked">LDAP user authentication</li>
      <li class="p-list__item is-ticked">Role-based access control (RBAC)</li>
      <li class="p-list__item is-ticked">Hardware testing and commissioning</li>
    </ul>
    <ul class="row u-no-margin--bottom p-strip is-shallow">
      <li class="col-2 col-medium-1 col-small-1">
        <img src="https://assets.ubuntu.com/v1/59dc9048-verizon.png" alt="Verizon logo">
      </li>
      <li class="col-2 col-medium-1 col-small-1">
        <img src="https://assets.ubuntu.com/v1/88730cec-Telefonica.png" alt="Telefonica logo">
      </li>
      <li class="col-2 col-medium-1 col-small-1">
        <img src="https://assets.ubuntu.com/v1/b8f78004-Tele2.png" alt="Tele2 logo">
      </li>
      <li class="col-2 col-medium-1 col-small-1">
        <img src="https://assets.ubuntu.com/v1/e0fec57a-Telecom+Italia.png" alt="Telecom Italia logo">
      </li>
      <li class="col-2 col-medium-1 col-small-1 col-start-small-2">
        <img src="https://assets.ubuntu.com/v1/08a27e4a-NEC.png" alt="NEC logo">
      </li>
      <li class="col-2 col-medium-1 col-small-1 col-start-small-3">
        <img src="https://assets.ubuntu.com/v1/d44c4c5e-Barclays.png" alt="Barclays logo">
      </li>
    </ul>
    <hr>
    <div class="u-align--right">
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a class="p-button--base js-invoke-modal" href="/contact-us" onclick="dataLayer.push({
                'event': 'GAEvent',
                'eventAction': 'Click' ,
                'eventCategory': 'Data centre automation',
                'eventLabel' : 'Contact us'
              });"> Contact us </a>
        </li>
        <li class="p-inline-list__item u-no-margin--right">
          <a class="p-button--positive u-no-margin--right" href="/install">Install today</a>
        </li>
      </ul>
    </div>
</div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-6">
      <h2>Deploy any OS image <br>on any hardware</h2>
    </div>
    <div class="col-6">
      <h4> MAAS delivers the fastest OS installation times in the industry thanks to its optimised image-based installer.<br>You can deploy: </h4>
    </div>
  </div>
  <div class="p-strip">
    <div class="row">
      <img src="https://assets.ubuntu.com/v1/c3b3b947-MAAS-diagram-grey.svg" alt="Deploy Ubuntu, Redhat, CentOS, Windows on IBM, HP, Lenovo, Quanta Cloud Technology, Dell, Open Compute Project, Huawei, Cisco">
    </div>
  </div>
    <div class="row">
    <ul class="p-list row">
          <li class="p-list__item is-ticked is-large col-4 p-heading--5 u-no-margin--top">
            <a href="https://ubuntu.com/certified?category=Server">Works on all Canonical certified servers</a>
          </li>
          <li class="p-list__item is-ticked is-large col-4 p-heading--5 u-no-margin--top">Discovers servers in racks, chassis and data centre networks</li>
          <li class="p-list__item is-ticked is-large col-4 p-heading--5 u-no-margin--top">Supports major system BMCs and chassis controllers</li>
        </ul>
    </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width">
    <h2>Key features</h2>
  </div>
  <div class="row">
    <ul class="p-matrix">
      <li class="p-matrix__item">
        <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/93830fc8-MAAS_icon_Automation.svg" alt="Automation cog icon" />
        <div class="p-matrix__content">
          <h4 class="p-matrix__title">
            <a class="p-link--strong p-heading--5" aria-label="Learn more about automatic discovery and registration of every device on the network" href="/tour#automation" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Feature', 'eventAction' : 'Click', 'eventLabel' : 'Automation' }); dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Interested in feature', 'eventAction' : 'Click', 'eventLabel' : 'Learn more about device discovery and subnet mapping' });">Automation&nbsp;&rsaquo;</a>
          </h4>
          <div class="p-matrix__desc">
            <p>Automatic discovery of every network device.
              <abbr title="Baseboard Management Controller">BMC</abbr> ops with
              <abbr title="Intelligent Platform Management Interface">IPMI</abbr>,
              <abbr title="Active Management Techonology">AMT</abbr> and other protocols.
              <abbr title="Preboot Execution Environment">PXE</abbr> over
              <abbr title="Internet Protocol version 4">IPv4</abbr> and
              <abbr title="Internet Protocol version 6">IPv6</abbr> networks.
              APIs for DNS, DHCP, IPAM, server configuration and provisioning.
            </p>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/e0e09ca6-MAAS_icon_Speed.svg" alt="Speed icon" />
        <div class="p-matrix__content">
          <h4 class="p-matrix__title">
            <a class="p-link--strong p-heading--5" href="/tour#fast-deployment" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Feature', 'eventAction' : 'Click', 'eventLabel' : 'Learn more about images' }); dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Feature', 'eventAction' : 'Click', 'eventLabel' : 'Fast deployment' });">Speed&nbsp;&rsaquo;</a>
          </h4>
          <div class="p-matrix__desc">
            <p>Zero-touch deployment of Ubuntu, CentOS, Windows and RHEL. Full deployment time is approximately two boot cycles plus two minutes for disk imaging.</p>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/8d9ac370-MAAS_icon_Inventory.svg" alt="Inventory icon" />
        <div class="p-matrix__content">
          <h4 class="p-matrix__title">
            <a class="p-link--strong p-heading--5" href="/how-it-works#node-lifecycle" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Feature', 'eventAction' : 'Click', 'eventLabel' : 'Chassis management' });">Inventory&nbsp;&rsaquo;</a>
          </h4>
          <div class="p-matrix__desc">
            <p>Discover every PCI and USB device in every server. Inventory disk models and serial numbers. Provision machines based on specific configuration details to optimize your applications.</p>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/0ab10d32-MAAS_icon_Storage.svg" alt="Storage layouts icon" />
        <div class="p-matrix__content">
          <h4 class="p-matrix__title">
            <a class="p-link--strong p-heading--5" href="/tour#configure-servers" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Feature', 'eventAction' : 'Click', 'eventLabel' : 'Learn more about storage' }); dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Feature', 'eventAction' : 'Click', 'eventLabel' : 'Machine configuration' });">Storage layouts&nbsp;&rsaquo;</a>
          </h4>
          <div class="p-matrix__desc">
            <p>Create advanced filesystem layouts with
              <abbr title="Redundant array of independent disks">RAID</abbr>,
              <abbr title="Block Cache">bcache</abbr>,
              <abbr title="Logical Volume Management">LVM</abbr>, ZFS and more. Automate storage configuration through APIs. Allocate servers based on storage.</p>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/086349be-MAAS_icon_IPAM.svg" alt="IPAM icon" />
        <div class="p-matrix__content">
          <h4 class="p-matrix__title">
            <a class="p-link--strong p-heading--5" href="/tour#configure-servers" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Feature', 'eventAction' : 'Click', 'eventLabel' : 'Learn more about storage' }); dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Feature', 'eventAction' : 'Click', 'eventLabel' : 'Machine configuration' });">IPAM, DHCP, DNS&nbsp;&rsaquo;</a>
          </h4>
          <div class="p-matrix__desc">
            <p>Configure server network interfaces with bridges,
              <abbr title="Virtual Local Area Network">VLAN</abbr>s, bonds and addresses.
              Integrated, best of breed, highly available, open source DHCP and DNS.</p>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/d3d238c8-MAAS_icon_Hardware+Testing.svg" alt="Hardware testing icon" />
        <div class="p-matrix__content">
          <h4 class="p-matrix__title">
            <a class="p-link--strong p-heading--5" href="/tour#hardware-testing" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Feature', 'eventAction' : 'Click', 'eventLabel' : 'Hardware testing' });">Hardware testing&nbsp;&rsaquo;</a>
          </h4>
          <div class="p-matrix__desc">
            <p>Run tests to get up to date information about hardware health. Benchmark disk, RAM, CPU and network performance.</p>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/77288bc2-MAAS_icon_DevOps+Integration.svg" alt="DevOps icon" />
        <div class="p-matrix__content">
          <h4 class="p-matrix__title">
            <span class="p-heading--5">DevOps on bare metal</span>
          </h4>
          <div class="p-matrix__desc">
            <p>Integration with Ansible, Chef, Puppet, SALT, and <a href="https://juju.is/">Juju</a>. REST API, CLI and Python bindings enable full lifecycle and project automation.</p>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/454f5853-MAAS_icon_network_monitoring.svg" alt="Network monitoring icon" />
        <div class="p-matrix__content">
          <h4 class="p-matrix__title">
            <a class="p-link--strong p-heading--5" href="/tour#manage-network" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Feature', 'eventAction' : 'Click', 'eventLabel' : 'Network management' });">Network monitoring&nbsp;&rsaquo;</a>
          </h4>
          <div class="p-matrix__desc">
            <p>Continuously observes network traffic and catalogs every active IP address of unknown origin. Discovers rogue devices, IPs and MAC addresses. Drives active scanning of network ranges.</p>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/b78dd440-MAAS_icon_authenticate.svg" alt="Authentication icon" />
        <div class="p-matrix__content">
          <h4 class="p-matrix__title"><span class="p-heading--5">Authentication and Identity</span></h4>
          <div class="p-matrix__desc">
            <p>Integrate with LDAP, Active Directory or SAML for central identity management and single-sign-on (SSO) across multiple MAAS regions.</p>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/9358a090-MAAS_icon_Composible+Systems.svg" alt="Composable systems icon" />
        <div class="p-matrix__content">
          <h4 class="p-matrix__title"><span class="p-heading--5">Composable systems</span></h4>
          <div class="p-matrix__desc">
            <p>Drive Cisco UCS, Intel RSD, HP Moonshot, and more. Supports dynamic hardware composition with Intel RSD.</p>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/cb1205a5-MAAS_icon_Cloud+Metadata.svg" alt="Cloud metadata icon" />
        <div class="p-matrix__content">
          <h4 class="p-matrix__title"><span class="p-heading--5">Cloud metadata</span></h4>
          <div class="p-matrix__desc">
            <p>Reuse standard cloud operations with cloud-init and metadata services. Hybrid multi-cloud operations now include bare metal, with no change in applications.</p>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/bbaafa51-MAAS_icon_KVM+Multi-Cloud.svg" alt="KVM Micro-cloud icon" />
        <div class="p-matrix__content">
          <h4 class="p-matrix__title"><span class="p-heading--5">KVM micro-cloud</span></h4>
          <div class="p-matrix__desc">
            <p>Designate servers to host KVM virtual machines to be dynamically provisioned alongside physical servers.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <p class="p-muted-heading">A selection of customers</p>
  </div>
  <div class="row js-logo-strip">
  </div>
  <noscript>
    <div class="row">
      <div class="col-small-1 col-medium-1 col-2"><img src="https://assets.ubuntu.com/v1/4c6fb640-logo-verizon.png" alt="verizon logo"></div>
      <div class="col-small-1 col-medium-1 col-2"><img src="https://assets.ubuntu.com/v1/252e2017-logo-ea.png" alt="ea logo"></div>
      <div class="col-small-1 col-medium-1 col-2"><img src="https://assets.ubuntu.com/v1/e7dd8cc4-logo-at%26t.png" alt="AT&amp;T logo"></div>
      <div class="col-small-1 col-medium-1 col-2"><img src="https://assets.ubuntu.com/v1/add4119e-logo-sandia.png" alt="SNL logo"></div>
      <div class="col-small-1 col-medium-1 col-2"><img src="https://assets.ubuntu.com/v1/afb5991e-logo-ubisoft.png" alt="ubisoft logo"></div>
      <div class="col-small-1 col-medium-1 col-2"><img src="https://assets.ubuntu.com/v1/ab9074df-logo-tele2.png" alt="tele2 logo"></div>
      <div class="col-small-1 col-medium-1 col-2"><img src="https://assets.ubuntu.com/v1/56c03384-logo-nec.png" alt="nec logo"></div>
      <div class="col-small-1 col-medium-1 col-2"><img src="https://assets.ubuntu.com/v1/822701bb-logo-tmobile.png" alt="tmobile logo"></div>
      <div class="col-small-1 col-medium-1 col-2"><img src="https://assets.ubuntu.com/v1/673fa219-logo-ntt.png" alt="ntt logo"></div>
      <div class="col-small-1 col-medium-1 col-2"><img src="https://assets.ubuntu.com/v1/022f6f41-logo-bt.png" alt="bt logo"></div>
      <div class="col-small-1 col-medium-1 col-2"><img src="https://assets.ubuntu.com/v1/a59ea622-logo-liberty-global.png" alt="liberty-global logo"></div>
      <div class="col-small-1 col-medium-1 col-2"><img src="https://assets.ubuntu.com/v1/9bb88cf6-logo-barclays+copy.png" alt="barclays logo"></div>
    </div>
  </noscript>
</section>

<script>
function fragmentFromString(htmlString) {
  var temp = document.createElement('template');
  temp.innerHTML = htmlString;
  return temp.content;
}

var logoStripOneData = {
  r1c1: { url: "4c6fb640-logo-verizon.png", altText: "verizon logo" },
  r1c2: { url: "252e2017-logo-ea.png", altText: "ea logo" },
  r1c3: { url: "e7dd8cc4-logo-at%26t.png", altText: "AT&T logo" },
  r1c4: { url: "add4119e-logo-sandia.png", altText: "SNL logo" },
  r1c5: { url: "afb5991e-logo-ubisoft.png", altText: "ubisoft logo" },
  r1c6: { url: "ab9074df-logo-tele2.png", altText: "tele2 logo" },
  r2c1: { url: "56c03384-logo-nec.png", altText: "nec logo" },
  r2c2: { url: "822701bb-logo-tmobile.png", altText: "tmobile logo" },
  r2c3: { url: "673fa219-logo-ntt.png", altText: "ntt logo" },
  r2c4: { url: "022f6f41-logo-bt.png", altText: "bt logo" },
  r2c5: { url: "a59ea622-logo-liberty-global.png", altText: "liberty-global logo" },
  r2c6: { url: "9bb88cf6-logo-barclays+copy.png", altText: "barclays logo" }
};

var logoStripTwoData = {
  r1c1: { url: "4c6fb640-logo-verizon.png", altText: "verizon logo" },
  r1c2: { url: "bf709df8-logo-db.png", altText: "db logo" },
  r1c3: { url: "22fe3811-logo-telefonica.png", altText: "telefonica logo" },
  r1c4: { url: "01158ac3-logo-riot-games.png", altText: "riot games logo" },
  r1c5: { url: "ab9074df-logo-tele2.png", altText: "tele2 logo" },
  r1c6: { url: "589418ac-logo-telecom-italia.png", altText: "telecom italia logo" },
  r2c1: { url: "56c03384-logo-nec.png", altText: "nec logo" },
  r2c2: { url: "d2b3609c-logo-scania.png", altText: "scania logo" },
  r2c3: { url: "c6f4a7ea-logo-radobank.png", altText: "radobank logo" },
  r2c4: { url: "d003393b-logo-telstra.png", altText: "telstra logo" },
  r2c5: { url: "9bb88cf6-logo-barclays+copy.png", altText: "barclays logo" }
};

var logoStripRevealingModule = (function() {
  var target,
      colClassesList;

  target = document.querySelector('.js-logo-strip');

  colClassesList = {
    mobile: "col-small-1",
    tablet: "col-medium-1",
    desktop: "col-2"
  };

  function appendLogo(parent, logoDatum) {
    var logoWrapper = document.createElement('div'),
        logoImg = document.createElement('img');

    for (var className in colClassesList) {
      logoWrapper.classList.add(colClassesList[className]);
    }

    logoImg.setAttribute('src', 'https://assets.ubuntu.com/v1/' + logoDatum.url);
    logoImg.setAttribute('alt', logoDatum.altText);
    logoWrapper.appendChild(logoImg);
    parent.appendChild(logoWrapper);
  }

  function publicCreate(logoStripData) {
    var fragment = document.createDocumentFragment();

    Object.keys(logoStripData).forEach(function (key, index) {
      var logoDatum = logoStripData[key];
      appendLogo(fragment, logoDatum);
    });

    target.appendChild(fragment);
  }

  return {
    create: publicCreate
  }
})();

document.addEventListener('DOMContentLoaded', function () {
  var localStorage = window.localStorage,
      showAlternateStrip = localStorage.getItem('showAlternateStrip');

  if (showAlternateStrip === null) {
    localStorage.setItem('showAlternateStrip', 'true');
    logoStripRevealingModule.create(logoStripOneData);
  } else {
    localStorage.removeItem('showAlternateStrip');
    logoStripRevealingModule.create(logoStripTwoData);
  }
});
</script>

<section class="p-strip">
  <div class="row">
    <div class="col-6">
      <h2>Real servers,<br>self-service</h2>
    </div>
    <div class="col-6">
      <p>You run the data centre, but your end users decide what they want to do with the hardware. They love the cloud experience, but it’s more efficient for you to own the hardware.</p>
      <p>MAAS provides super-fast self-service provisioning of Windows, Ubuntu, CentOS and ESXi.</p>
      <p>
        <a href="https://pages.ubuntu.com/eBook-MAAS.html?source=maas_page&medium=Banner&campaign=MAAS_ebook&_ga=2.22106171.1851959601.1510602087-405342743.1460033629" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'External link', 'eventAction' : 'Click', 'eventLabel' : 'Learn more about server provisioning with MAAS' });">Learn more about server provisioning with MAAS</a>
      </p>
    </div>
  </div>
</section>

<div class="p-strip u-no-padding--top u-no-padding--bottom">
  <div class="row">
    <hr class="u-no-margin--bottom" />
  </div>
</div>

<section class="p-strip">
  <div class="row">
    <div class="col-6">
      <h2>Bare-metal,<br>cloud experience</h2>
    </div>
    <div class="col-6">
      <p>MAAS implements all the standard features of a public cloud &mdash; like instance metadata and cloud-init. Your customers get complete control of the deployed machine.</p>
      <p>Canonical created cloud-init and leads the project globally; we ensure that MAAS provides a first-class cloud experience for physical servers based on x86, ARM64, POWER and Z architectures.</p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="u-fixed-width">
    <h2>Real-world MAAS</h2>
  </div>
  <div class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <div class="p-heading-icon-block">
          <img class="p-heading-icon-block__icon" src="https://assets.ubuntu.com/v1/0ae9bd9c-MAAS-Real+world+icon-Flexibility.svg" alt="" style="padding: 1rem 1rem 1rem 0;" />
          <div class="p-heading-icon-block__copy-block">
            <h5 class="u-no-margin--bottom">Flexibility</h5>
            <p class="p-muted-heading u-no-margin--bottom">Edge</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <h4><a href="https://ubuntu.com/blog/maas-2-5-growing-the-ecosystem-and-support-for-kvm-micro-clouds">MAAS KVM for micro-clouds and edge computing</a></h4>
        <p>Blog post</p>
      </div>
      <div class="col-4">
        <h4><a href="https://www.brighttalk.com/webcast/6793/362201/maas-at-the-edge-the-importance-of-bare-metal-provisioning-in-edge-computing">The importance of bare metal provisioning in edge computing</a></h4>
        <p>Webinar</p>
      </div>
    </div>
  </div>
  <div class="row" style="overflow:hidden;">
    <hr class="u-indent" />
  </div>
  <div class="row">
    <div class="col-4">
      <div class="p-heading-icon-block">
        <img class="p-heading-icon-block__icon" src="https://assets.ubuntu.com/v1/89815b24-MAAS-Real+world+icon-Ease-of-use.svg" alt="" />
        <div class="p-heading-icon-block__copy-block">
          <h5 class="u-no-margin--bottom">Ease of use</h5>
          <p class="p-muted-heading u-no-margin--bottom">Small &amp; medium business</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <h4><a href="https://ubuntu.com/blog/maas-fast-efficient-virtualisation-sme">MAAS &mdash; Fast and efficient virtualisation for small and medium enterprises</a></h4>
      <p>Blog post</p>
    </div>
  </div>
  <div class="row" style="overflow:hidden;">
    <hr class="u-indent" />
  </div>
  <div class="row">
    <div class="col-4">
      <div class="p-heading-icon-block">
        <img class="p-heading-icon-block__icon" src="https://assets.ubuntu.com/v1/36fe873f-MAAS-Real+world+icon-Scale.svg" alt="" style="padding-bottom: 0.8rem;" />
        <div class="p-heading-icon-block__copy-block">
          <h5 class="u-no-margin--bottom">Scale</h5>
          <p class="p-muted-heading u-no-margin--bottom">Data centre</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <h4><a href="https://ubuntu.com/engage/maas-hardware-testing">Large-scale automated hardware testing with MAAS</a></h4>
      <p class="u-muted-text">Whitepaper</p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-6">
      <h2>Storage</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4>Inventory, testing and benchmarking</h4>
      <p>MAAS detects and inventories all the disks, in every server. You’ll have a single database of every model and serial number.</p>
      <p>MAAS tests disks either non-destructively or destructively, with short or long write cycles, and learns about their performance.</p>
    </div>
    <div class="col-6">
      <h4>RAID, LVM, Bcache, ZFS and more</h4>
      <p>Auto-tagging of SSD and rotary disk types makes it easy to know which disks to use for each application.</p>
      <p>Your users configure the storage of any server they control: RAID, LVM, Bcache and ZFS. Configure boot, applications and backup disks exactly where you want them &mdash; and get the installed machine, a few minutes later.</p>
    </div>
  </div>
</section>

<div class="p-strip--light">
  <div class="row">
    <h2>Network</h2>
  </div>
  <div class="row">
    <div class="col-6">
      <h4>Detection and configuration</h4>
      <p>The most error-prone part of data centre operations is the network.</p>
      <p>MAAS enables rapid convergence on a correct network configuration &mdash; for every server, in every rack. All NICs are detected and inventoried when a machine is enlisted in MAAS.</p>
      <p>Discover the topology of the network &mdash; which NIC is plugged into which port on which switch. MAAS tests access to specific VLANs from each NIC.</p>
      <p>Network bonds and VLANs can be configured too. Set all significant network operating properties through MAAS &mdash; and then validate that configuration with ephemeral machine booting and testing.</p>
    </div>
    <div class="col-6">
      <h4>Monitoring</h4>
      <p>MAAS rack controllers provide local endpoints for all infrastructure services in the rack itself, and they also monitor the local network for rogue devices, IP addresses and MAC addresses.</p>
      <p>Over time, you’ll know if there are ‘extra’ devices plugged into any fabric or VLAN that MAAS is asked to monitor.</p>
      <p>Solve network mysteries faster with distributed network analysis and observation.</p>
    </div>
  </div>
</div>

<section class="p-strip--accent is-shallow">
  <div class="row u-equal-height">
    <div class="col-10">
      <h3 class="p-heading--2">Learn how to configure and install MAAS</h3>
      <br class="u-hide--medium u-hide--large" />
    </div>
    <div class="col-2 u-vertically-center">
      <a class="p-button--positive u-no-margin--bottom" href="/how-it-works">How it works</a>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <h2>Your future data centre, available now</h2>
  </div>
  <div class="row">
    <div class="col-6">
      <h4>Carrier-grade infrastructure DNS, DHCP, and IPAM</h4>
      <p>MAAS integrates best-of-breed ISC DHCP and Bind9 DNS, and will operate these in high availability mode whenever redundant MAAS services are provided. Deploy the MAAS API services on two systems and you will have high availability API endpoints; deploy two rack controllers and all rack services are automatically redundant. MAAS uses the PostgreSQL database which supports redundant and highly available scenarios.</p>
      <h4>Devops on bare metal is easy with dynamic server provisioning</h4>
      <p>Take devops to bare metal for apps like big data, kubernetes, analytics, machine learning, private cloud, OpenStack, PAAS and HPC. Specialists love MAAS.</p>
    </div>
    <div class="col-6">
      <h4>Open source software-defined data centre</h4>
      <p>MAAS is an open source SDDC solution used by telcos, financial institutions, media companies and supercomputer admins to take care of all the low-level details. PXE, IPMI, ILO and all the custom protocols needed for diverse vendor hardware support come together in one clean REST API with Python bindings for easy integration and automation. It includes full IPAM capabilities, providing a central database and REST API for all network addressing and naming information.</p>
      <h4>KVM MicroCloud for Edge Computing</h4>
      <p>MAAS offers the ability to create lean, on-demand KVM-based micro-clouds. This capability extends to fine-grained control over KVM storage and networking configuration, thereby accelerating deployment of applications in any environment constrained by physical footprint or requiring dedicated VM-based workloads.</p>
    </div>
  </div>
</section>


<section class="p-strip p-strip--light">
  <div class="row p-strip is-shallow u-no-padding--top">
    <h2>Tackle your provisioning problems with MAAS</h2>
  </div>
  <div class="row">
    <hr>
    <div class="col-4">
      <h3 class="p-heading--4 u-no-margin--top u-no-padding--top">Automated operations</h3>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-2">
          <h4 class="p-heading--5">Big data</h4>
        </div>
        <div class="col-6">
          <p>Quickly provision and tear down both physical and virtual servers with a modern operating system deployment toolchain. Perfect for high-performance computing (HPC).</p>
        </div>
      </div>
      <div class="row is-bordered">
        <div class="col-2">
          <h4 class="p-heading--5">Smart data centres</h4>
        </div>
        <div class="col-6">
          <p>MAAS transforms DevOps with complex server workflows, including dynamic partitioning, application-driven resource scaling, automatic workload rebalancing and immutable infrastructure.</p>
        </div>
      </div>
      <div class="row is-bordered">
        <div class="col-2">
          <h4 class="p-heading--5">Intelligent hybrid clouds</h4>
        </div>
        <div class="col-6">
          <p>MAAS helps you build unified hybrid cloud operations by exposing a bare-metal provisioning operations API that can be used with service modelling tools, like Juju, or configuration management tools, like Chef. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <hr />
  </div>
  <div class="row">
    <div class="col-4">
      <h3 class="p-heading--4">Lower cost of operations</h3>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-2">
          <h4 class="p-heading--5">Automated repurposing</h4>
        </div>
        <div class="col-6">
          <p>MAAS helps you run different workloads at different times, using the same or different base operating systems, at both large and small scales.</p>
        </div>
      </div>
      <div class="row is-bordered">
        <div class="col-2">
          <h4 class="p-heading--5">Cost reduction</h4>
        </div>
        <div class="col-6">
          <p>Decommission nodes during non-peak periods to save both energy and personnel requirements. Use the time to focus on day-to-day hardware management tasks, optimising usage patterns and internal processes.</p>
        </div>
      </div>
      <div class="row is-bordered">
        <div class="col-2">
          <h4 class="p-heading--5">Hardware and Virtual Machine management</h4>
        </div>
        <div class="col-6">
          <p>Replace legacy in-house provisioning tools and their associated problems, such as development resources, debugging, QA, on-boarding and 'bus-factor', with a standard set of converged open source tools, at speed to any scale.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <hr />
  </div>
  <div class="row">
    <div class="col-4">
      <h3 class="p-heading--4">Optimised testing</h3>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-2">
          <h4 class="p-heading--5">Continuous integration (CI) testing</h4>
        </div>
        <div class="col-6">
          <p>MAAS's API allows storage and networking to be rapidly reconfigured to match each test case, generating a clean bare-metal environment for every run.</p>
        </div>
      </div>
      <div class="row is-bordered">
        <div class="col-2">
          <h4 class="p-heading--5">Hardware testing at scale</h4>
        </div>
        <div class="col-6">
          <p>Run sets of standard and customised tests on freshly provisioned machines and racks, transforming any new hardware provision and integration process.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip is-bordered u-no-padding--bottom">
  <div class="row">
    <div class="col-6">
      <h2>Enterprise support <br class="u-hide--small" />for MAAS</h2>
    </div>
    <div class="col-6">
      <div class="col-6">
        <p>MAAS is freely available, open source software from Canonical. Support and commercial capabilities for MAAS are included with <a href="https://www.ubuntu.com/pricing/pro">Ubuntu Pro for Infrastructure</a>. This support is charged on a per-machine basis. For example, if Ubuntu Pro for Infrastructure is purchased for 100 machines, then MAAS support is also included for those 100 machines.</p>
        <p>In the case where Ubuntu Pro for Infrastructure is not purchased for managed machines, then MAAS support can be purchased as a standalone service.</p>
        <p>To be eligible for standalone support, Ubuntu Pro is always required for machines hosting MAAS itself.</p>
        <p>The pricing for standalone support for machines managed by MAAS is as follows:</p>
      </div>
    </div>
  </div>
  <div class="p-strip">
    <div class="row">
      <div class="col-12" style="overflow-x: auto;">
        <table class="maas-pricing-table" style="min-width: 380px; width: 100%;">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Free</th>
              <th>Essential</th>
              <th>Standard</th>
              <th>Advanced</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Per managed machine - annual</td>
              <td>&ndash;</td>
              <td>$30</td>
              <td>$50</td>
              <td>$100</td>
            </tr>
            <tr>
              <td>Phone and ticket support</td>
              <td>&ndash;</td>
              <td>&ndash;</td>
              <td>Office hours</td>
              <td>24 hours a day, everyday</td>
            </tr>
            <tr>
              <td>Response time - SLA Sev 1</td>
              <td>&ndash;</td>
              <td>&ndash;</td>
              <td>4 hours</td>
              <td>1 hours</td>
            </tr>
            <tr>
              <td>Knowledge Base</td>
              <td>&ndash;</td>
              <td><img src="https://assets.ubuntu.com/v1/aeec264b-green-tick.svg" width="16" alt="Yes" /></td>
              <td><img src="https://assets.ubuntu.com/v1/aeec264b-green-tick.svg" width="16" alt="Yes" /></td>
              <td><img src="https://assets.ubuntu.com/v1/aeec264b-green-tick.svg" width="16" alt="Yes" /></td>
            </tr>
            <tr>
              <td>Role based access control (RBAC)</td>
              <td>&ndash;</td>
              <td><img src="https://assets.ubuntu.com/v1/aeec264b-green-tick.svg" width="16" alt="Yes" /></td>
              <td><img src="https://assets.ubuntu.com/v1/aeec264b-green-tick.svg" width="16" alt="Yes" /></td>
              <td><img src="https://assets.ubuntu.com/v1/aeec264b-green-tick.svg" width="16" alt="Yes" /></td>
            </tr>
            <tr>
              <td>High availability (HA) support</td>
              <td>&ndash;</td>
              <td><img src="https://assets.ubuntu.com/v1/aeec264b-green-tick.svg" width="16" alt="Yes" /></td>
              <td><img src="https://assets.ubuntu.com/v1/aeec264b-green-tick.svg" width="16" alt="Yes" /></td>
              <td><img src="https://assets.ubuntu.com/v1/aeec264b-green-tick.svg" width="16" alt="Yes" /></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>&nbsp;</td>
              <td><a href="/install">Install MAAS&nbsp;&rsaquo;</a></td>
              <td><a href="/contact-us" class="js-invoke-modal" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Interested in Professional', 'eventAction' : 'Click', 'eventLabel' : 'Contact Us' });">Contact us&nbsp;&rsaquo;</a></td>
              <td><a href="/contact-us" class="js-invoke-modal" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Interested in Professional', 'eventAction' : 'Click', 'eventLabel' : 'Contact Us' });">Contact us&nbsp;&rsaquo;</a></td>
              <td><a href="/contact-us" class="js-invoke-modal" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Interested in Professional', 'eventAction' : 'Click', 'eventLabel' : 'Contact Us' });">Contact us&nbsp;&rsaquo;</a></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</section>

{% endblock %}
